
<dom-module id="terms-page">
  <template>
    <style is="custom-styles" include="landing-styles">

        :host {
            @apply(--font-jouture);
        }
        .main-title {
            @apply(--big-text-highlighted);
            font-weight: 100 !important;
        }
        .sub-title {
            @apply(--big-text-highlighted);
            font-weight: 100 !important;
        }
        .small-title {
            @apply(--small-text-highlighted);
            text-align: center;
            font-weight: 100 !important;
        }
        p {
            @apply(--small-text);
            font-weight: 200 !important;
        }
        .go-back {
            padding: 0;
            margin-left: -12px;
            color: #999;
        }

    </style>


    <div class="row start-xs" style="margin-top:80px">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">

            <span class="main-title">Terms</span> <br><br>

                <p>
                    We want Kulectiv to be a safe place for journalists to express freely and independently. Help us nurture
                    Kulectiv’s community. Post only content that represent your mindset and always follow the law.
                </p>
            <span class="sub-title">Community Guidelines</span>

                <p><span>• Intent of good use</span> - Kulectiv is a community platform for journalists where discussions and interactions
                    are encouraged on the condition of transparency, i.e. you are who you say you are. Breaking this
                    community guideline will be causation for an account review and possible termination.</p>
                <p><span>• Respect other members</span> - Kulectiv provides insightful information by allowing open discussions
                    between members. For this reason, we don't allow the promotion of any of the following:</p>

                <p style="margin-left:20px">
                    - hatred; violence; harassment; racism; sexual, religious, or political intolerance, or organizations with such views.
                    <br>
                    - content that's likely to shock or disgust.
                    <br>
                    - content that's exploitative or appears to unfairly capitalize at the expense of others.
                </p>

                <p>
                    We want to foster a positive, diverse community. We remove content that contains credible threats or
                    hate speech, content that targets private individuals to degrade or shame them, personal information
                    meant to blackmail or harass someone, and repeated unwanted messages. We do generally allow
                    stronger conversation around people who are featured in the news or have a large public audience due to
                    their profession or chosen activities.
                </p>

                <p>
                    <span>• Follow the law</span> - Kulectiv is not a place to support or praise terrorism, organized crime, or hate groups.
                    Offering sexual services, buying or selling firearms and illegal or prescription drugs (even if it’s legal in your
                    region) is also not allowed. Remember to always follow the law when offering to sell or buy other
                    regulated goods.
                </p>

                <p>
                    We have zero tolerance when it comes to sharing sexual content involving minors or threatening to post
                    intimate images of others.
                </p>

                <p>
                    <span>• Foster meaningful and genuine interactions</span> - Help us stay spam-free by not artificially collecting likes,
                   followers, or shares, posting repetitive comments or content, or repeatedly contacting people for
                   commercial purposes without their consent.
                </p>

                <p>
                    <span>• Ownership</span> - Creators make this platform possible, so please don't post any media that you have not
                   personally created or have permission from the owner to post.
                </p>


            <span class="sub-title">Our Commitment</span>

                <p><span>• Creator First Mindset</span> - We created the platform with journalists in mind. Anything we do, we do it for our
                    journalists. This means that any new features or executive decision we make, we do it with our users in
                    mind and we promise to listen and take feedback seriously when we get them.</p>

                <p><span>• Your Rights</span> - We won’t ever take the rights to your content. Posting on the platform does not allow
                    anyone to reuse your content without your explicit permission.</p>

            <span class="sub-title">Terms of Service</span>

                <p>
                    As an early beta tester you are granted early access privilege to test a product that is not yet ready for
                    public viewing or use:
                </p>

                <p>A) We expect full discretion and confidentiality on your behalf. You are not allowed to share any Kulectiv
                        content or information with others who have not been accepted to participate in the closed beta (i.e.
                        leaking information to outside parties).</p>
                <p>B)  If at any point after receiving your invite code you decide to no longer participate in the closed beta,
                        you may not give away your invite code to another person.</p>

                <p>C) You may not allow another person to access or use your account to participate in the closed beta
                        without written consent from Kulectiv. You may refer friends, colleagues and others to sign up for testing
                        privileges by directing them to the Kulectiv homepage.</p>

                <span class="small-title">What information do we collect?</span>
                <p>We collect information from you when you register on our site, subscribe to our newsletter, respond to a survey or fill out a form.</p>
                <p>When registering on our site, as appropriate, you may be asked to enter your: name, e-mail address,
                    mailing address or phone number and/or link your social network accounts (e.g. Twitter, LinkedIn,
                    Facebook, etc.). You may, however, visit our site anonymously.</p>
                <p>Google, as a third party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie
                    enables it to serve ads to our users based on their visit to our sites and other sites on the Internet. Users
                    may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.</p>

                <span class="small-title">What do we use your information for?</span>
                <p>Any of the information we collect from you may be used in one of the following ways:</p>
                <p>• To personalize your experience (your information helps us to better respond to your individual needs)</p>
                <p>• To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)</p>
                <p>• To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)</p>
                <p>• To process transactions</p>
                <p>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</p>
                <p>• To administer a contest, promotion, survey or other site feature</p>
                <p>• To send periodic emails</p>
                <p>The email address you provide for registration, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.</p>
                <p>Note: If at any time you would like to unsubscribe from receiving future emails, please click “unsubscribe” to be taken to our website in order to edit your emailing preferences.</p>

                <span class="small-title">How do we protect your information?</span>
                <p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.</p>

                <span class="small-title">Do we use cookies?</span>
                <p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information</p>
                <p>We use cookies to understand and save your preferences for future visits, keep track of advertisements and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</p>

                <span class="small-title">Do we disclose any information to outside parties?</span>
                <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

                <span class="small-title">Third Party Links</span>
                <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

                <span class="small-title">California Online Privacy Protection Act Compliance</span>
                <p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>
                <p>As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the 'Edit Profile' page.</p>

                <span class="small-title">Childrens Online Privacy Protection Act Compliance</span>
                <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.</p>

                <span class="small-title">Kulectiv Accounts</span>

                <p>A) In order to access some features of the Service, you will have to create a Kulectiv Account. You may
                        never use another's account without permission. When creating your account, you must provide accurate
                        and complete information. You are solely responsible for the activity that occurs on your account, and
                        you must keep your account password secure. You must notify Kulectiv immediately of any breach of
                        security or unauthorized use of your account.</p>

                <p>B) Although Kulectiv will not be liable for your losses caused by any unauthorized use of your account,
                        you may be liable for the losses of Kulectiv or others due to such unauthorized use.</p>

                <span class="small-title">Your Content and Conduct</span>

                <p>A) As a Kulectiv account holder you may submit Content to the Service, including writings, photographs,
                        audio, videos and user comments. You understand that Kulectiv does not guarantee any confidentiality
                        with respect to any Content you submit.</p>

                <p>B) You shall be solely responsible for your own Content and the consequences of submitting and
                        publishing your Content on the Service. You affirm, represent, and warrant that you own or have the
                        necessary licenses, rights, consents, and permissions to publish Content you submit; and you license to
                        Kulectiv all patent, trademark, trade secret, copyright or other proprietary rights in and to such Content
                        for publication on the Service pursuant to these Terms of Service.</p>

                <p>C) For clarity, you retain all of your ownership rights in your Content. However, by submitting Content to
                        Kulectiv, you hereby grant Kulectiv a worldwide, non-exclusive, royalty-free, sublicenseable and
                        transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the
                        Content in connection with the Service and Kulectiv's (and its successors' and affiliates') business,
                        including without limitation for promoting and redistributing part or all of the Service (and derivative
                        works thereof) in any media formats and through any media channels. You also hereby grant each user of
                        the Service a non-exclusive license to access your Content through the Service, and to use, reproduce,
                        distribute, display and perform such Content as permitted through the functionality of the Service and
                        under these Terms of Service. The above licenses granted by you in written, audio, photographic or video
                        Content you submit to the Service terminate within a commercially reasonable time after you remove or
                        delete your written, audio, photographic or video Content from the Service. You understand and agree,
                        however, that Kulectiv may retain, but not display, distribute, or perform, server copies of your written,
                        audio, photographic or video Content that have been removed or deleted. The above licenses granted by
                        you in user comments you submit are perpetual and irrevocable.</p>

                <p>D) You further agree that Content you submit to the Service will not contain third party copyrighted
                        material, or material that is subject to other third party proprietary rights, unless you have permission
                        from the rightful owner of the material or you are otherwise legally entitled to post the material and to
                        grant Kulectiv all of the license rights granted herein.</p>

                <p>E)  You further agree that you will not submit to the Service any Content or other material that is contrary
                        to the Kulectiv Community Guidelines, which may be updated from time to time, or contrary to applicable
                        local, national, and international laws and regulations.</p>

                <p>F) Kulectiv does not endorse any Content submitted to the Service by any user or other licensor, or any
                        opinion, recommendation, or advice expressed therein, and Kulectiv expressly disclaims any and all
                        liability in connection with Content. Kulectiv does not permit copyright infringing activities and
                        infringement of intellectual property rights on the Service, and Kulectiv will remove all Content if properly
                        notified that such Content infringes on another's intellectual property rights. Kulectiv reserves the right to
                        remove Content without prior notice.</p>

                <span class="small-title">Account Termination Policy</span>
                <p>A) Kulectiv will terminate a user's access to the Service if, under appropriate circumstances, the user is determined to be a repeat infringer.</p>
                <p>B) Kulectiv reserves the right to decide whether Content violates these Terms of Service for reasons other than copyright infringement, such as, but not limited to, pornography, obscenity, or excessive length. Kulectiv may at any time, without prior notice and in its sole discretion, remove such Content and/or terminate a user's account for submitting such material in violation of these Terms of Service.</p>

                <span class="small-title">Online Privacy Policy Only</span>
                <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>

                <span class="small-title">Terms and Conditions</span>
                <p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at http://www.kulectiv.com/#!/terms</p>

                <span class="small-title">Your Consent</span>
                <p>By using our site, you consent to our online privacy policy.</p>

                <span class="small-title">Changes to our Privacy Policy</span>
                <p>Unlike others we care about you. If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below. </p>
                <p>This policy was last modified on August 12, 2014</p>

                <span class="small-title">Contacting Us</span>
                <p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>
                <p>Direct all emails to us at: <a href="#">support@kulectiv.com</a></p>

                <br><br><br>
      </div>
    </div>


  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'terms-page',

        properties: {
//
        }


      });

    })();
  </script>
</dom-module>
