


<link rel="import" href="../../../styles/landing-styles.html">
<dom-module id="signup-participator">
  <template>
    <style is="custom-styles" include="landing-styles">
      :host {
        display: block;
      }

      .top-text-container {
        margin-bottom: 80px;
      }
      .top-text{
      @apply(--big-text);
        color: var(--accent-color);

      }

      .middle-text-continer{
        margin-bottom: 20px;
      }
      .middle-text{
      @apply(--big-text);
        color: var(--accent-color);
      }





      .botom-text{
      @apply(--big-text);
      }

      .secondary-text-container{
        text-align: center;
        margin-bottom: 60px;
      }



    </style>




    <div class="row center-xs">

      <div class="col-xs-12 top-text-container">
        <span class="top-text ">No problem. We’ll sign <br/> you up as a participator.</span>
      </div>

    </div>


    <div class="row center-xs">

      <div class="col-xs-12 middle-text-continer">

          <span class="middle-text ">If you work in journalism <br/> space, please send us an <br/>
            email to <br/> admin@jouture.com <br/>and we’ll hook you up.</span>
      </div>

    </div>


    <!--<div class="row center-xs">-->

      <!--<div class="col-xs-12 secondary-text-container">-->
        <!--<span class="botom-text ">Copy email</span>-->
      <!--</div>-->


    <!--</div>-->



    <div class="row">

      <div class="col-xs-12 next-button-container">

        <a id="nextLink"  href="/">
          <paper-button id="nextButton" class="landing-buttons" raised label="Signup">Ciao!</paper-button>
        </a>

      </div>

    </div>




  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'signup-participator',

        properties: {
          foo: {
            type: String,
            value: 'confirmation-mail-panel',
            notify: true
          }
        },
        _changeMail: function () {
          var emailInput = this.querySelector('gold-email-input');
          emailInput.value = "";
          emailInput.removeAttribute('disabled');
          console.log(emailInput);
          emailInput.querySelector('#input').focus();
        },
        _resendMail: function () {
          console.log('resend email')
        }
      });
    })();
  </script>
</dom-module>
