<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../../elements/in/in-mobile-message/in-mobile-message.html">
<link rel="import" href="../../../elements/in/in-send-text/in-send-text.html">
<link rel="import" href="../../../elements/in/in-confirmation-modal/in-confirmation-modal.html">
<link rel="import" href="../../../behaviors/message-expert.html">

<dom-module id="admin-dashboard">
    <template>
        <style include="shared-styles">

            :host{
            }
            .users-list {
                --primary-color: var(--accent-color);
                --vaadin-grid-row-cell:{
                    font-weight:300!important;
                };
            }
            .users-list /deep/ ::-webkit-scrollbar {
                width: 4px !important;
                height: 4px !important;
            }
            .users-list /deep/ ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 3px;
            }
            .users-list /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--accent-color);
            }
            .main-container{
                background: var(--item-background-color);
                padding: 0 1%;
            }
            .counters-container {
                width: 100%;
                padding-top: 15px;
                padding-bottom: 15px;
                background: white;
            }
            .statics-container{
                padding: 25px 0;
            }
            .counter-value{
                @apply(--big-text)
            }
            .actions-header-container{
                position: fixed;
                background: white;
                height: 56px;
                margin-left: 0;
                z-index: 1;
            }
            .journalist-name-container{
                padding-top: 16px;
                padding-left: 23px;
                color: var(--accent-color);
            }
            .action-buttons-container{
                text-align: right;
                padding-top: 7px;
            }
            .close-button-container{
                padding-top: 7px;
            }
            .hide-header{
                display: none;
            }
            .show-header{
                display: flex;
            }
            .recipient-name{
                color: #333;
                @apply(--medium-text);
            }
            #dialogMessage img{
                position: relative;
                width: 30px;
                height: 30px;
                bottom:-7px;
                right: 10px;
                border-radius: 50%;
            }
            .counter-title {
                font-size: 15px;
                font-weight: 200;
                margin-bottom: 10px;
            }

        </style>

        <paper-dialog id="dialogActivities" modal style="width:900px; overflow-y:scroll">

            <div class="row">
                <div class="col-xs-12">
                    <template is="dom-repeat" items="{{userActivities}}">
                        <div class="row">
                            <div class="col-xs-4">{{item.timestamp}}</div>
                            <div class="col-xs-4">{{item.type}}</div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <paper-button on-tap="_onDialogCloseTap">
                        Close
                    </paper-button>
                </div>
            </div>
        </paper-dialog>

        <div class="main-container">

            <div class="row ">
                <div class="col-xs-8 col-xs-offset-2">

                    <div class="row around-xs center-xs statics-container">

                        <div class="col-xs-2">
                            <div class="counter-title">
                                <span>DAU</span>
                            </div>
                            <div class="counters-container" style="background: #FC7108; color: white">
                                <span class="counter-value">{{dailyActiveUsers}}</span>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <div class="counter-title">
                                <span>Sign ups (TD)</span>
                            </div>
                            <div class="counters-container">
                                <span class="counter-value">{{dailySignups}}</span>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <div class="counter-title">
                                <span>Messages (TD)</span>
                            </div>
                            <div class="counters-container">
                                <span class="counter-value">{{dailyMessages}}</span>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <div class="counter-title">
                                <span>Discussions (TD)</span>
                            </div>
                            <div class="counters-container">
                                <span class="counter-value">{{dailyDiscussions}}</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div id="actionsHeaderContainer" class="row actions-header-container hide-header">

                <div class="col-xs-6 journalist-name-container">
                    <span>{{journalistSelected.name}}</span>
                </div>

                <div class="col-xs-5 action-buttons-container">

                    <paper-button id="activitiesButton"
                                  on-tap="_onActivitiesTap">Activities</paper-button>

                    <paper-button id="rejectButton"
                                  hidden$="{{isAccepted}}"
                                  on-tap="_onRejectButtonTap">Reject</paper-button>

                    <paper-button id="actionButton"
                                  on-tap="_onActionButtonTap">Action</paper-button>

                    <paper-button id="messageButton"
                                  on-tap="_onMessageButtonTap">Message</paper-button>
                    <!--<paper-button id="reportButton" on-tap="_onReportButtonTap">Report</paper-button>-->
                </div>

                <div class="col-xs-1 close-button-container">
                    <paper-icon-button id="closeHeaderIconButton"
                                       icon="in-icon-set:close"
                                       on-tap="_onCloseHeaderIconButtonTap"></paper-icon-button>

                </div>

            </div>

            <vaadin-grid id="usersList" items="{{journalists}}" class="users-list">
                <table>
                    <colgroup>
                        <col name="user_date_create">
                        <col name="name">
                        <col name="email">
                        <!-- <col name="location"> -->
                        <col name="user_email_verified">
                        <col name="user_accepted">
                        <col name="user_twitter_followers">
                        <col name="user_twitter_retweets">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Date Creation</th>
                        <th>Name</th>
                        <th>Email</th>
                        <!-- <th>Location</th> -->
                        <th>Email verified</th>
                        <th>Accepted</th>
                        <th>Twitter followers</th>
                        <th>Retweets</th>
                    </tr>
                    </thead>

                </table>
            </vaadin-grid>

        </div>

        <in-mobile-message id="dialogMessage"
                           hide-ok-button
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <div class="row  center-xs">
                <!-- <div class="col-xs">
                    <img src$="{{_getProfilePicture(journalistSelected.pic)}}"><span class="recipient-name">[[journalistSelected.name]]</span>
                </div> -->
            </div>
            <br/>

            <in-send-text id="sendMessage"
                          hide-ok-button
                          hide-cancel-button
                          action="_actionMessage"
                          successful="_successful">
            </in-send-text>

        </in-mobile-message>

        <in-confirmation-modal id="confirmDeactivate">

        </in-confirmation-modal>

        <iron-ajax id="ajaxGetJournalists" with-credentials
                   method="GET"
                   last-response="{{getJournalistsResponse}}"
                   on-response="_getJournalistsCallback"></iron-ajax>

       <iron-ajax id="ajaxActivities" with-credentials
                  method="GET"
                  on-response="_ajaxActivitiesResponse"
                  last-response="{{userActivities}}"></iron-ajax>

        <iron-ajax id="ajaxGetDAU" with-credentials
                   method="GET"
                   last-response="{{dailyActiveUsers}}"></iron-ajax>

        <iron-ajax id="ajaxGetDailyMessages" with-credentials
                  method="GET"
                  last-response="{{dailyMessages}}"></iron-ajax>

        <iron-ajax id="ajaxGetDailyDiscussions" with-credentials
                 method="GET"
                 last-response="{{dailyDiscussions}}"></iron-ajax>

        <iron-ajax id="ajaxGetDailySignups" with-credentials
                method="GET"
                last-response="{{dailySignups}}"></iron-ajax>

        <iron-ajax id="ajaxAction" with-credentials
                method="POST"></iron-ajax>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'admin-dashboard',
                behaviors: [MessageExpert],

                properties: {
                    itemSelected:{
                        type:Boolean,
                        value: false,
                        observer:'_itemSelectedChange'
                    },
                    journalistSelected:{
                        type:Object,
                        value:{},
                        notify:true
                    },
                },
                ready: function () {
                    //
                },

                attached: function () {

                    window.addEventListener("load", function () {
                        this.$.actionsHeaderContainer.style.width = this.$.usersList.offsetWidth + 'px';
                    }.bind(this));

                    this.$.usersList.addEventListener('selected-items-changed', this._onSelectionChange.bind(this));
                    this.$.usersList.style.height = (app.getHeight() - 175) + 'px';

                    if(!app.socket){
                        app.socketConnect();
                    }

                    this.$.ajaxGetJournalists.url = app.apinode + '/connections/users';
                    this.$.ajaxGetJournalists.generateRequest();

                    setInterval(function () {

                        if(app.route != 'admin') return;

                        this._getDailyUsers();
                        this._getDailyMessages();
                        this._getDailyDiscussions();
                        this._getDailySignups();

                    }.bind(this), 5000);

                    this._getDailyUsers();
                    this._getDailyMessages();
                    this._getDailyDiscussions();
                    this._getDailySignups();
                },

                _onActivitiesTap: function(){

                    if (!this.journalistSelected || !this.journalistSelected.id) {
                        return;
                    }
                    var userID = this.journalistSelected.id;
                    this.$.ajaxActivities.url = app.apinode + '/activities/activities/' + userID;
                    this.$.ajaxActivities.generateRequest();
                },

                _ajaxActivitiesResponse: function(){
                    this.$.dialogActivities.open();
                },

                _onDialogCloseTap: function(){
                    this.$.dialogActivities.close();
                },

                _getDailyUsers: function(){
                    this.$.ajaxGetDAU.url = app.apinode + '/activities/daily.active.users';
                    this.$.ajaxGetDAU.generateRequest();
                },

                _getDailyMessages: function(){
                    this.$.ajaxGetDailyMessages.url = app.apinode + '/activities/daily.messages';
                    this.$.ajaxGetDailyMessages.generateRequest();
                },

                _getDailyDiscussions: function(){
                    this.$.ajaxGetDailyDiscussions.url = app.apinode + '/activities/daily.discussions';
                    this.$.ajaxGetDailyDiscussions.generateRequest();
                },

                _getDailySignups: function(){
                    this.$.ajaxGetDailySignups.url = app.apinode + '/activities/daily.signups';
                    this.$.ajaxGetDailySignups.generateRequest();
                },

                _onSelectionChange: function () {

                    var array_index_selection = this.$.usersList.selection.selected();
                    if (array_index_selection.length === 0) {
                        return;
                    }
                    this.itemSelected = true;

                    this.$.usersList.getItem(array_index_selection[0], function(error, item) {

                        if (!error) {
                            this.journalistSelected = item;
                            this._setActionButtonlabel();
                        }
                    }.bind(this));
                },

                _setActionButtonlabel: function () {

                    this.$.actionButton.innerHTML = "";
                    if(this.journalistSelected.user_accepted == 1){
                        this.isAccepted = true;
                        this.$.actionButton.innerHTML = "Deactivate";
                        return;
                    }
                        this.isAccepted = false;
                        this.$.actionButton.innerHTML = "Accept";
                },

                _onActionButtonTap: function(){

                    var params = {
                        'user_name': this.journalistSelected.name,
                        'user_email': this.journalistSelected.email,
                        'user_id':this.journalistSelected.id};

                    var  dialogParams ={
                        message: 'Are you sure you want to deactivate this account?',
                        cancelLabel: 'No',
                        acceptLabel: 'Yes',
                        acceptCallback: this._onTapAcceptButton.bind(this),
                        cancelCallback: this._onTapCancelButton.bind(this),
                        extraData: params

                    };

                    if (this.journalistSelected.user_accepted == 0) {
                        dialogParams.message = "Are you sure you want to accept this account?"
                    }

                    this.$.confirmDeactivate.open(dialogParams);

                },

                _onRejectButtonTap: function () {

                    var params = {
                        'user_name': this.journalistSelected.name,
                        'user_email': this.journalistSelected.email,
                        'user_id':this.journalistSelected.id,
                        'reject': true};

                    var  dialogParams ={
                        message: 'Are you sure you want to reject this account?',
                        cancelLabel: 'No',
                        acceptLabel: 'Yes',
                        acceptCallback: this._onTapAcceptButton.bind(this),
                        cancelCallback: this._onTapCancelButton.bind(this),
                        extraData: params

                    };

                    this.$.confirmDeactivate.open(dialogParams);
                },

                _onTapAcceptButton: function (data) {


                    this.$.ajaxAction.body = JSON.stringify(data);

                    if(this.journalistSelected.user_accepted == 1 || data.reject){

                        this.journalistSelected.user_accepted = 0;
                        this.$.ajaxAction.url = app.apinode + '/admin/deactivate.user';

                    }else{

                        this.journalistSelected.user_accepted = 1;
                        this.$.ajaxAction.url = app.apinode + '/admin/activate.user';
                    }

                    this.$.ajaxAction.generateRequest();
                },

                _onTapCancelButton: function () {
                    console.log('se cierra');
                },

                _toggleTableHeader: function () {

                    this.toggleClass('hide-header', !this.itemSelected, this.$.actionsHeaderContainer);
                    this.toggleClass('show-header', this.itemSelected, this.$.actionsHeaderContainer);
                },

                _itemSelectedChange: function () {
                    this._toggleTableHeader();
                },

                _onCloseHeaderIconButtonTap: function () {

                    this.$.usersList.selection.deselect(this.$.usersList.selection.selected()[0]);
                    this.itemSelected = false;
                },

                _getJournalistsCallback: function () {

                    this.journalists = this.getJournalistsResponse;
                    this.$.usersList.columns[0].renderer = this._renderGridDate;
                    this.$.usersList.columns[4].renderer = this._renderVerifiedColumn;
                    this.$.usersList.columns[5].renderer = this._renderAcceptedColumn;
                },

                _getProfilePicture: function(pictureName){
                    return app.apinode + "/images/get.picture/medium/"+ + pictureName;
                },

                _renderGridDate: function (cell) {

                    var humanDate = new Date(cell.data * 1000);
                    var todate = new Date(humanDate).getDate();
                    var tomonth = new Date(humanDate).getMonth()+1;
                    var toyear = new Date(humanDate).getFullYear();
                    var original_date = tomonth+'/'+todate+'/'+toyear;

                    cell.element.innerHTML =  original_date;
                },

                _renderVerifiedColumn: function (cell) {

                    if (cell.data == 1) {
                        cell.element.innerHTML = "Yes";
                        return;
                    }
                    cell.element.innerHTML = "No";
                },

                _renderAcceptedColumn: function (cell) {
                    if (cell.data == 1) {
                        cell.element.innerHTML = "Yes";
                        return;
                    }
                    cell.element.innerHTML = "No";
                },

                _renderStatusColumn: function (cell) {
                    switch (cell.data){
                        case 0:
                            cell.element.innerHTML = "Pending";
                            break;
                        case 1:
                            cell.element.innerHTML = "Sys-Accept";
                            break;
                        case 2:
                            cell.element.innerHTML = "Ad-Accept";
                            break;
                        case 3:
                            cell.element.innerHTML = "Ad-Reject";
                    }
                },

                _onMessageButtonTap: function () {
                    this.$.dialogMessage.open();
                },

                _actionMessage: function (text) {
                    var data = this._createMessage(text);
                    data.type = app.threadTypes.P2P;
                    this.$.dialogMessage.close();
                    return {successful: this.expertSendMessage(data), data: data};
                },
                _successful: function () {
                },

                _createMessage: function(text){

                    var sender_id = session.getUser();
                    var sender_name = session.getName();
                    var sender_pic = session.getPicture() ? session.getPicture() : ' ';
                    var sender_location = ' ';

                    if(session.getLocation()){
                        sender_location = session.getLocation();
                    }

                    var recipient_id = parseInt(this.journalistSelected.id);
                    var recipient_name = this.journalistSelected.name;
                    var recipient_pic = ' ';
                    var recipient_location = ' ';

                    if(this.journalistSelected.location){
                        recipient_location = this.journalistSelected.location;
                    }

                    var message = {
                        thread_id: null,
                        users: [sender_id ,recipient_id],
                        names: [sender_name, recipient_name],
                        pics: [sender_pic, recipient_pic],
                        locations: [sender_location, recipient_location],
                        sender_id: sender_id,
                        sender_name: sender_name,
                        message: text,
                        subject: ""

                    };

                    message.date_frontend = (new Date()).getTime();
                    return message;
                },


                _render: function () {
                    this.$.usersList.columns[0].renderer = this._renderGridDate;
                    this.$.usersList.columns[4].renderer = this._renderVerifiedColumn;
                    this.$.usersList.columns[5].renderer = this._renderProfileColumn;
                    this.$.usersList.columns[6].renderer = this._renderStatusColumn;
                    this.$.usersList.columns[7].renderer = this._renderActionsColumn;
                }
            });
        })();
    </script>
</dom-module>
