
<dom-module id="in-tag">
    <template>

    <style>
    :host {
        @apply(--font-jouture);
        /*margin-right: 8px;*/
        /*margin-bottom: 8px;*/
    }
    .item {
        border: solid 1px var(--light-primary-color);
        border-radius: 14px;
        padding: 4px 2px 8px 4px;
        background-color: var(--in-tag-background-color, #FAFAFA);

    }
    .label {
        font-size:12px;
        font-weight: var(--in-tag-font-weight, 200);
        color: var(--in-tag-font-color, --primary-text-color);
        padding: 0;
    }
    paper-icon-button::shadow iron-icon {
        width: auto;
        height: 16px;
    }
    paper-icon-button {
        margin-left: 3px;
        padding: 0 !important;
        /*width: auto !important;*/
        height: auto !important;
        color: var(--in-tag-icon-color, --primary-text-color);
    }
    .tag {
        padding-left: 10px;
    }
    </style>


    <div class="col-xs item tag">
        <span class="label">{{item.label}}</span><paper-icon-button icon="in-icon-set:close" on-tap="_clear"></paper-icon-button>
    </div>




</template>


<script>

(function() {
    'use strict';

    Polymer({
        is: 'in-tag',
        properties: {
            item: {
                type: Object,
                notify: true,
                observer:'_itemChange'
            },
            customLabel:{
                type: String,
                value: null
            },
            customValue:{
                type: String,
                value: null
            }

        },

        _clear: function(){
            this.fire('in-tag-removed', this.item);
            this.remove();
        },

        getValue: function(){
            return this.item.value;
        },

        getLabel: function(){
            return this.item.label;
        },

        _itemChange: function () {

            if (this.customValue) {
                this.set('item.value', this.item[this.customValue])
            }

            if (this.customLabel) {
                this.set('item.label', this.item[this.customLabel])
            }
        }
    });

})();
</script>

</dom-module>
