<link rel="import" href="/bower_components/paper-input/paper-input-char-counter.html">

<dom-module id="mobile-add-language">

    <template>
        <style is="custom-styles" include="shared-styles">

            paper-slider{
                width: 100%;
            }

        </style>


        <div class="row center-xs">

            <div class="col-xs-12 col-md-6">
                <in-combo-box id="languagesCombo"
                              style="margin-bottom: 16px"
                              label="Start typing a language"
                              items="[[languages]]"></in-combo-box>
            </div>

            <div class="col-xs-12" style="margin-top:40px">
                <span>{{proficiencyLabel}}</span>
            </div>

            <div class="col-xs-12 col-md-6">
                <paper-slider id="proficiencySlider"
                              max="100"
                              value="{{proficiencyPercent}}"></paper-slider>

            </div>
        </div>



        <iron-ajax id="ajaxLanguageSave"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-response="_languageSaveCallback"></iron-ajax>


    </template>

    <script>
        Polymer({
            is: "mobile-add-language",


            properties: {

                proficiencyLabel:{
                    type: String,
                    value:"Slide to select your proficiency"
                },
                languages: {
                    type: Array,
                    value: [
                        'Afrikaans', 'Albanian', 'Amharic', 'Arabic', 'Armenian', 'Basque', 'Bengali',
                        'Byelorussian', 'Burmese', 'Bulgarian', 'Catalan', 'Czech', 'Chinese', 'Croatian',
                        'Danish', 'Dari', 'Dzongkha', 'Dutch', 'English', 'Esperanto', 'Estonian', 'Faroese',
                        'Farsi', 'Finnish', 'French', 'Gaelic', 'Galician', 'German', 'Greek', 'Hebrew',
                        'Hindi', 'Hungarian', 'Icelandic', 'Indonesian', 'Inuktitut (Eskimo)', 'Italian',
                        'Japanese', 'Khmer', 'Korean', 'Kurdish', 'Laotian', 'Latvian', 'Lappish', 'Lithuanian',
                        'Macedonian', 'Malay', 'Maltese', 'Nepali', 'Norwegian', 'Pashto', 'Polish',
                        'Portuguese', 'Romanian', 'Russian', 'Scots', 'Serbian', 'Slovak', 'Slovenian',
                        'Somali', 'Spanish', 'Swedish', 'Swahili', 'Tagalog-Filipino', 'Tajik', 'Tamil', 'Thai',
                        'Tibetan', 'Tigrinya', 'Tongan', 'Turkish', 'Turkmen', 'Ucrainian', 'Urdu', 'Uzbek',
                        'Vietnamese', 'Welsh'
                    ]
                },
                languageProficiency:{
                    type:Object,
                    value:{
                        language: null,
                        proficiency: null
                    }
                }
            },

            listeners:{
                'proficiencySlider.immediate-value-change': '_onInmediateValueChange',
                'proficiencySlider.value-change': '_onValueChange'
            },

            _onInmediateValueChange: function (e) {
                this._dinamicLabel(e.target.immediateValue);
            },

            _onValueChange: function (e) {
                this._dinamicLabel(e.target.immediateValue);
            },

            _dinamicLabel: function (value) {

                if(value > 0 && value <= 33){
                    this.set('proficiencyLabel', "Beginner");
                }

                if(value > 33 && value <= 66){
                    this.set('proficiencyLabel', "Intermediate");
                }

                if(value > 66 && value <= 101){
                    this.set('proficiencyLabel', "Expert");
                }
            },

            getLanguageProficiency: function () {
                return {
                    language: this.$.languagesCombo.value,
                    proficiency: this.proficiencyPercent
                }
            },

            /**
             * Funcion para guardar un nuevo lenguaje
             * @param e evento generado por la llamada a la función
             * @private
             */
            saveLanguague: function () {

                if(this.proficiencyPercent < 5 || !this.$.languagesCombo.value){
                    app.showToast("Debe seleccionar un lenguaje y un nivel de experiencia");
                    return false;
                }

                this.$.ajaxLanguageSave.url = app.apinode + "/tags/save.expertise";
                const params = {
                    type: app.constants.TAG_TYPE_LANGUAGE,
                    tag: this.$.languagesCombo.value,
                    expertise: this.proficiencyPercent
                };
                this.$.ajaxLanguageSave.body = JSON.stringify(params);
                this.$.ajaxLanguageSave.generateRequest();

            },

            /*call back de llamada ajax que guarda el nuevo idioma*/
            _languageSaveCallback: function () {
                app.logActivity(app.constants.PROFILE_ADD_LANGUAGE, null, this.languageProficiency.language);
                this.fire('language-saved')
            },

            init: function () {
                this.proficiencyPercent = 0;
                this.proficiencyLabel = "Slide to select your proficiency";
                this.$.languagesCombo.value = null;
            }
        });
    </script>

</dom-module>
