<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="mobile-add-language.html?v1.27">
<link rel="import" href="../../../styles/shared-styles.html">


<dom-module id="tab-experience">
    <template>
        <style is="custom-style" include="shared-styles">
            :host {
                display: block;
            }
            .publication-list{
                overflow: hidden;
            }
            paper-icon-button{
                opacity: 0;
                transition: all 300ms;
                cursor: default;
            }
            .delete-publication-container{
                position: absolute;
                height: 38px;
                width: auto;
                background: white;
                padding:0;
                margin-left: -1px;
                margin-top: -2px;
                z-index: 1;
            }

            .line {
                position: relative;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #e8e8e8;
                margin-top: 4px;
                margin-bottom: 20px;
            }
            .bottom-line{
                margin-top: -7px;
            }
            .see-more-button-containser{
                margin-top: -15px;
            }
            .see-more-button{
                @apply(--very-small-text);
                text-transform: capitalize;
                color: var(--accent-color);
                width: 100px;
                height: 30px;
                padding-top: 8px;
                margin-top: -8px;
                margin-left: -50px;
            }
            .expertise-content-container{
                margin-bottom: 40px;
            }
            .right-column{
                padding: 0 0 0 45px;
            }
            .left-column{
                padding: 0 85px 0 0;
            }
            .language-title-container{
                @apply(--middle-text);
                background-color: white;
                margin: 30px 0 0 0;
            }
            .publication-container{
                cursor: pointer;
                margin-bottom: 10px;
                margin-left: 18px;
            }
            .publications-title-container{
                @apply(--middle-text);
                background-color: white;
                margin: 15px 0 0 0;
                height: 40px;
            }
            .publication-title{
                @apply(--truncate-text);
                @apply(--small-text);
            }
            .publisher{
                @apply(--very-small-text);
                font-style: italic ;
                margin-left: 15px;
            }
            .language-circle-continer{
                margin-bottom: 25px;

            }
            .delete-lang-icon-position{
                /*margin-left: -70px;*/
                text-align: left;
                margin-top: -5px;
            }

            d3-progress-meter {
                --progress-medium: gray!important;
                --progress-low: gray;
                --progress-high: gray;
                --progress-font-family : Roboto,'Noto','Helvetica Neue',Helvetica,Arial,sans-serif;
                --current-font-size : 16px !important;
            }
            d3-progress-meter /deep/ #progress.low,
            d3-progress-meter /deep/ #progress.medium,
            d3-progress-meter /deep/ #progress.high {
                fill: gray !important;
            }
            d3-progress-meter /deep/ #current {
                font-size: 16px !important;
                font-family: Roboto,'Noto','Helvetica Neue',Helvetica,Arial,sans-serif !important;
                font-weight: 500;
            }

            .expertise-bar-container{
                margin-top: 10px;
            }

            paper-progress{
                --paper-progress-active-color: gray;
                width: 100%;
            }
            .expertise-title-container{
                @apply(--middle-text);
                background-color: white;
                margin: 15px 0 0 0;
                height: 40px;
            }
            .expertise-name-container{
                @apply(--very-small-text);
                margin-top: -18px;
                margin-bottom: 15px;
            }
            .expertise-proficiency-pending{
                color: var(--accent-color);
            }
            .empty-state-text{
                @apply(--small-text);
                color: var(--dark-primary-color);
            }

            .empty-state-text-edition{
                @apply(--small-text);
                color: var(--accent-color);
                text-align: left;
            }
            .edit-exp-card{
                width: calc(100% + 5px);
                left: -5px;
                margin-top: 0 !important;
                margin-bottom: 8px;
                height: 50px;
                padding: 0 !important;

            }

            .edit-exp-card paper-icon-button{
                opacity: 1;
                top: 5px;
                left: 12px;
            }

            .pic-container{
                padding-top: 5px;
                text-align: right;
                padding-right: 10px;
            }
            .user-pic{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-shadow: 0px 1px 3px #555;
                margin: auto 0;
            }
            .add-dialog{
                padding: 20px;
            }
            .modal-title{
                color: #333;
                @apply(--medium-text);
            }
            /*language-list {
                padding: 0 !important;
                margin: 0 !important;
            }*/

            .fab-close-skills-list{
                position: absolute;
                bottom: 0;
                left: 14px;
            }

            @media (min-width: 700px) {
                .edit-exp-dialog {
                    width: 750px;
                    padding-top: 5px !important;
                    padding-bottom: 5px !important;
                    padding-left: 5px !important;
                    /*max-height: 800px;*/
                }
                .edit-lang-dialog{
                    width: 600px;
                }
            }

            @media (max-width: 690px) {
                .edit-exp-dialog {
                    width: 100%;
                    margin: 0;
                    margin: 0;
                    top:0;
                    bottom: 0;
                    padding-top: 0 !important;
                    padding-left: 5px !important;
                    padding-bottom: 5px !important;
                    /*max-height: 800px;*/
                }
                .edit-lang-dialog{
                    width: 100%;
                }
                .right-column{
                    padding: 0 0 0 0;
                }
                .left-column {
                    padding: 0;
                }
            }

            @-moz-document url-prefix() {
                .publication-list-padding{
                    padding-left: 15px
                }
            }


        </style>

        <div class="row start-xs">

            <div class="col-xs-12 col-md-6 left-column">

                <div class="row">

                    <div class="col-xs-12 publications-title-container">
                        Publications:
                        <paper-icon-button class="add-icon"
                                           on-tap="_addPublication"
                                           icon="in-icon-set:add-circle-outline"></paper-icon-button>
                    </div>

                    <div class="line"></div>

                </div>

                <template is="dom-if" if="{{emptyPublication}}">

                    <p class="empty-state-text">No publications uploaded.</p>

                    <template is="dom-if" if="{{!changeEditIcon}}">
                        <p class="empty-state-text-edition" style="opacity:0;">Add some content to your profile</p>
                    </template>
                    <template is="dom-if" if="{{changeEditIcon}}">
                        <p class="empty-state-text-edition">Add some content to your profile</p>
                    </template>

                </template>

                <iron-list id="publicationList" class="publication-list" items="[[publications]]" as="publication">
                    <template>
                        <div class="row">

                            <div class="delete-publication-container">
                                <paper-icon-button class="delete-icon"
                                                   on-click="_confirmRemovePublications"
                                                   icon="in-icon-set:remove-circle-outline"></paper-icon-button>

                            </div>

                            <div class=" col-xs-12 publication-container" on-tap="_redirect" style="position:relative">
                                <li class="publication-title publication-list-padding">[[publication.pu_title]]</li>
                                <span class="publisher">[[publication.pu_publisher]]</span>
                            </div>

                        </div>
                    </template>

                </iron-list>


                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12 language-title-container">
                        Languages:
                        <paper-icon-button class="add-icon"
                                           on-tap="_addlanguage"
                                           icon="in-icon-set:add-circle-outline"></paper-icon-button>
                    </div>
                    <div class="line"></div>

                </div>

                <template is="dom-if" if="{{emptyLanguage}}">
                    <p class="empty-state-text">No languages added.</p>

                    <template is="dom-if" if="{{!changeEditIcon}}">
                        <p class="empty-state-text-edition" style="opacity:0;">Add languages to your profile</p>
                    </template>
                    <template is="dom-if" if="{{changeEditIcon}}">
                        <p class="empty-state-text-edition">Add languages to your profile</p>
                    </template>

                </template>


                <div class="row center-xs">

                    <template id="languages" is="dom-repeat" items="[[languages]]" as="language">

                        <div class="col-xs-6 language-circle-continer">
                            <div class="row top-xs">

                                <div class="col-xs-8 col-sm-6 col-md-8">
                                    <d3-progress-meter
                                            radius="50"
                                            percentage="{{language.expertise}}"
                                            current-text="[[language.name]]"
                                            goal-text$="{{_calculatedTag(language.expertise)}}"></d3-progress-meter>
                                </div>

                                <div class="col-xs-4 col-sm-6 col-md-4 delete-lang-icon-position">
                                    <paper-icon-button class="delete-icon"
                                                       on-tap="_removeLanguage"
                                                       icon="in-icon-set:remove-circle-outline"></paper-icon-button>
                                </div>
                            </div>

                        </div>

                    </template>

                </div>

            </div>

            <div class="col-xs-12 col-md-6 right-column">

                <div class="row start-xs">

                    <div class="col-xs-12 expertise-title-container">
                        Skills:
                        <iron-icon
                                id="skillsButton"
                                class="edit-icon"
                                icon="in-icon-set:create"
                                on-tap="_request"></iron-icon>
                    </div>
                    <div class="line"></div>

                    <div class="col-xs-12">
                        <template is="dom-if" if="{{emptySkill}}">

                            <p class="empty-state-text">No skills chosen.</p>

                            <template is="dom-if" if="{{!changeEditIcon}}">
                                <p class="empty-state-text-edition" style="opacity:0;">Add some skills</p>
                            </template>
                            <template is="dom-if" if="{{changeEditIcon}}">
                                <p class="empty-state-text-edition">Add some skills</p>
                            </template>

                        </template>
                    </div>

                    <div class="col-xs-12 expertise-content-container">

                        <template is="dom-repeat" items="[[skillsTop]]" as="skill">

                            <div class="row expertise-bar-container">
                                <div class="col-xs-12">
                                    <paper-progress value="[[_verifyProficiencyValue(skill.expertise)]]" class="blue"></paper-progress><br>
                                </div>

                                <div class="col-xs-12 expertise-name-container">
                                    [[skill.name]]
                                    <template is="dom-if" if="{{!_verifyProficiency(skill.expertise)}}">
                                        - <span class="expertise-proficiency-pending" > Proficiency not completed</span>
                                    </template>
                                </div>

                            </div>

                        </template>

                        <iron-collapse id="skillsCollapse">

                            <template is="dom-repeat" items="[[skillsCollapse]]" as="skill">

                                <div class="row expertise-bar-container">

                                    <div class="col-xs-12">
                                        <paper-progress value="[[_verifyProficiencyValue(skill.expertise)]]" class="blue"></paper-progress><br>
                                    </div>

                                    <div class="col-xs-12 expertise-name-container">
                                        [[skill.name]]
                                        <template is="dom-if" if="{{!_verifyProficiency(skill.expertise)}}">
                                            - <span class="expertise-proficiency-pending" > Proficiency not completed</span>
                                        </template>
                                    </div>

                                </div>

                            </template>

                        </iron-collapse>

                    </div>


                    <div class="line bottom-line"></div>


                    <div class=" col-xs-offset-10 col-xs-2 see-more-button-containser">

                        <paper-button
                                hidden
                                id="skillsCollapseButton"
                                class="see-more-button"
                                on-tap="_skillCollapse">{{buttonText}}</paper-button>

                    </div>


                    <div class="col-xs-12 expertise-title-container">
                        Beats:
                        <iron-icon
                                id="beatsButton"
                                class="edit-icon"
                                icon="in-icon-set:create"
                                on-tap="_request"></iron-icon>
                    </div>

                    <div class="line"></div>

                    <div class="col-xs-12">
                        <template is="dom-if" if="{{emptyBeat}}">

                            <p class="empty-state-text">No beats provided.</p>

                            <template is="dom-if" if="{{!changeEditIcon}}">
                                <p class="empty-state-text-edition" style="opacity:0;">Add your beats</p>
                            </template>
                            <template is="dom-if" if="{{changeEditIcon}}">
                                <p class="empty-state-text-edition">Add your beats</p>
                            </template>

                        </template>
                    </div>

                    <div class="col-xs-12 expertise-content-container">

                        <template is="dom-repeat" items="[[beatsTop]]" as="beats">

                            <div class="row expertise-bar-container">


                                <div class="col-xs-12">
                                    <paper-progress value="[[_verifyProficiencyValue(beats.expertise)]]" class="blue"></paper-progress><br>
                                </div>

                                <div class="col-xs-12 expertise-name-container">
                                    [[beats.name]]
                                    <template is="dom-if" if="{{!_verifyProficiency(beats.expertise)}}">
                                        - <span class="expertise-proficiency-pending" > Proficiency not completed</span>
                                    </template>
                                </div>

                            </div>

                        </template>


                        <iron-collapse id="beatsCollapse">

                            <template is="dom-repeat" items="[[beatsCollapse]]" as="beats">

                                <div class="row expertise-bar-container">

                                    <div class="col-xs-12">
                                        <paper-progress value="[[_verifyProficiencyValue(beats.expertise)]]" class="blue"></paper-progress><br>
                                    </div>

                                    <div class="col-xs-12 expertise-name-container">
                                        [[beats.name]]
                                        <template is="dom-if" if="{{!_verifyProficiency(beats.expertise)}}">
                                            - <span class="expertise-proficiency-pending" > Proficiency not completed</span>
                                        </template>
                                    </div>

                                </div>

                            </template>

                        </iron-collapse>


                    </div>

                    <div class="line bottom-line"></div>

                    <div class=" col-xs-offset-10 col-xs-2 see-more-button-containser">

                        <paper-button
                                hidden
                                id="beatsCollapseButton"
                                class="see-more-button"
                                on-tap="_beatCollapse">{{buttonText}}</paper-button>

                    </div>




                    <div class="col-xs-12 expertise-title-container">
                        Focus:
                        <iron-icon
                                id="focusesButton"
                                class="edit-icon"
                                icon="in-icon-set:create"
                                on-tap="_request"></iron-icon>
                    </div>

                    <div class="line"></div>

                    <div class="col-xs-12">
                        <template is="dom-if" if="{{emptyFocus}}">

                            <p class="empty-state-text">No specialization in any focus.</p>

                            <template is="dom-if" if="{{!changeEditIcon}}">
                                <p class="empty-state-text-edition" style="opacity:0;">Specialize your focus</p>
                            </template>
                            <template is="dom-if" if="{{changeEditIcon}}">
                                <p class="empty-state-text-edition">Specialize your focus</p>
                            </template>

                        </template>
                    </div>

                    <div class="col-xs-12 expertise-content-container">

                        <template is="dom-repeat" items="[[focusTop]]" as="focus">

                            <div class="row expertise-bar-container">

                                <div class="col-xs-12">
                                    <paper-progress value="[[_verifyProficiencyValue(focus.expertise)]]" class="blue"></paper-progress><br>
                                </div>

                                <div class="col-xs-12 expertise-name-container">
                                    [[focus.name]]
                                    <template is="dom-if" if="{{!_verifyProficiency(focus.expertise)}}">
                                        - <span class="expertise-proficiency-pending" > Proficiency not completed</span>
                                    </template>
                                </div>

                            </div>

                        </template>

                        <iron-collapse id="focusCollapse">

                            <template is="dom-repeat" items="[[focusCollapse]]" as="focus">

                                <div class="row expertise-bar-container">

                                    <div class="col-xs-12">
                                        <paper-progress value="[[_verifyProficiencyValue(focus.expertise)]]" class="blue"></paper-progress><br>
                                    </div>

                                    <div class="col-xs-12 expertise-name-container">
                                        [[focus.name]]
                                        <template is="dom-if" if="{{!_verifyProficiency(focus.expertise)}}">
                                            - <span class="expertise-proficiency-pending" > Proficiency not completed</span>
                                        </template>
                                    </div>

                                </div>

                            </template>

                        </iron-collapse>

                    </div>

                    <div class="line bottom-line"></div>


                    <div class=" col-xs-offset-10 col-xs-2 see-more-button-containser">

                        <paper-button
                                hidden
                                id="focusCollapseButton"
                                on-tap="_focusCollapse"
                                class="see-more-button">{{buttonText}}</paper-button>

                    </div>

                </div>
            </div>
        </div>


        <in-mobile-message with-backdrop
                           hide-cancel-button
                           id="newPublicationDialog"
                           fab-icon ="in-icon-set:done"
                           entry-animation="scale-up-animation"
                           exit-animation="fade-out-animation">

            <!--<paper-material id="materialNewMsg" elevation="0" class="tabs-paper-material">-->

                <div class="row  center-xs">
                    <div class="col-xs">
                        <span class="modal-title">Add your publications to your profile</span>
                    </div>
                </div>

                <div class="row">
                    <!--FORM-->
                    <div class="col-md-10 col-xs-12 col-md-offset-1">
                        <!--<div id="recipents_list_container" class="row">-->
                        <!--</div>-->

                        <div class="row">

                            <div class="col-xs-12">
                                <paper-input placeholder="Title"
                                             id="titlePublicationInput"
                                             char-counter
                                             maxlength="120"
                                             required
                                             error-message="Plese don't leave this field in blank"></paper-input>
                            </div>

                            <div class="col-xs-12">
                                <paper-input placeholder="Url"
                                             id="urlPublicationInput"
                                             required
                                             error-message="Plese don't leave this field in blank"></paper-input>
                            </div>

                            <div class="col-xs-12">
                                <paper-input  id="publisherPublicationInput"
                                              placeholder="Publisher"
                                              maxlength="51"
                                              char-counter
                                              required
                                              focused
                                              error-message="Plese don't leave this field in blank"></paper-input>
                            </div>

                        </div>

                    </div>
                </div>

        </in-mobile-message>
        <!--End Dialog edit Publication-->

        <paper-dialog
                class="edit-exp-dialog"
                id="skillsDialog"
                opened="{{expertiseDialogOpened}}"
                with-backdrop>

            <paper-card class="edit-exp-card show-mobile">

                <div class="row start-xs">
                    <div class="col-xs-1">
                        <paper-icon-button icon="in-icon-set:chevron-left"
                                           on-tap="_tapCloseExpEditionButton"></paper-icon-button>

                    </div>

                        <div class="col-xs-3 col-xs-offset-8 pic-container">
                            <img class="user-pic" src="{{userPictureUrl}}" on-tap="_tapCloseExpEditionButton">
                        </div>

                </div>
                <!--<paper-fab icon="chevron-left" class="fab-close-skills-list"></paper-fab>-->
            </paper-card>

            <template is="dom-if" restamp if="{{showSkillsList}}">
                <skills-list tag-type="[[tagType]]" skills="[[skills]]" id="skillList"></skills-list>
            </template>

        </paper-dialog>


        <!--Edit Languages-->
        <in-mobile-message id="languageDialog"
                           fab-icon="in-icon-set:done"
                           hide-cancel-button
                           hide-ok-button
                           with-backdrop
                           no-cancel-on-outside-click>

            <mobile-add-language id="mobileLanguageSelector"></mobile-add-language>
        </in-mobile-message>



        <!--End Edit Languages-->

        <in-confirmation-modal  id="confirmDeletePublication"></in-confirmation-modal>

        <iron-ajax id="ajaxSkillBeatsFocus" method="GET"
                   with-credentials
                   last-response="{{userExperiencesResponse}}"
                   on-response="_userExperiencesCallback"></iron-ajax>

        <iron-ajax id="ajaxPublicationSave" method="POST"
                   with-credentials
                   last-response="{{publicationSaveResponse}}"
                   on-error="_ajaxSavePublicationError"
                   on-response="_publicationSaveCallback"></iron-ajax>

        <iron-ajax id="ajaxPublicationDelete" method="POST"
                   with-credentials
                   handle-as="json"></iron-ajax>

        <iron-ajax id="ajaxLanguageDelete" method="POST"
                   with-credentials
                   handle-as="json"
                   on-response="_ajaxLanguageDeleteCallback"></iron-ajax>

    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'tab-experience',

                properties: {
                    tabSelected: {
                        observer:'_changeTabSelected'
                    },
                    buttonText:{
                        type: String,
                        value:'+ See More'
                    },

                    beatsCollapse:{
                        type: Array,
                        value: [],
                        observer: '_changeArrayValue'
                    },

                    skillsCollapse:{
                        type: Array,
                        value: [],
                        observer: '_changeArrayValue'
                    },

                    focusCollapse:{
                        type: Array,
                        value: [],
                        observer: '_changeArrayValue'
                    },

                    expertiseDialogOpened:{
                        type:Boolean,
                        value:false,
                        observer:'_cambioValor'
                    },
                    changeEditIcon:{
                        observer:'_showIcons'
                    },
                    publications:{
                        type: Array,
                        observer: "_publicationsChanged"
                    },
                    languages:{
                        type: Array,
                        observer: "_languagesChanged"
                    },
                    skillsTop:{
                        type: Array,
                        observer: "_skillsChanged"
                    },
                    beatsTop:{
                        type: Array,
                        observer: "_beatsChanged"
                    },
                    focusTop:{
                        type: Array,
                        observer: "_focusChanged"
                    },
                    emptyPublication:{
                        type: Boolean,
                        value: false
                    },
                    emptyLanguage:{
                        type: Boolean,
                        value: true
                    },
                    emptySkill:{
                        type: Boolean,
                        value: false
                    },
                    emptyBeat:{
                        type: Boolean,
                        value: false
                    },
                    emptyFocus:{
                        type: Boolean,
                        value: false
                    },

                    showSkillsList:{
                        type: Boolean,
                        value: true,
                    }
                },

                listeners: {
                    'expertise-edited': '_expertiseEdited',
                    'language-saved': '_onLanguageSaved'
                },

                attached: function(){
                    //
                },

                ready: function () {

                    this.userPictureUrl = app.apinode + "/images/get.picture/mini/" + app.session.getPicture();

                    this.addEventListener('iron-overlay-closed', function () {
                        this._reloadExperience();

                    }.bind(this) );

                    this.addEventListener('new-experience-saved', function () {
                        this._reloadExperience();
                    }.bind(this));

                },

                _reloadExperience: function(){

                    // reload experience using ajax from profile-main
                    document.querySelector('#ajaxUserExperience').params={};
                    document.querySelector('#ajaxUserExperience').generateRequest();
                },

                /*Listener del evento expertise-deleted disparado desde skill-list*/
                _expertiseEdited: function (e) {


                    /*Dependiendo de que tipo sea, es en el array que busco el elemento a eliminar*/
                    switch(this.tagType) {
                        case app.TAG_TYPE_SKILL:

                            /*e.detail.id contiene el id del Tag a eliminar. Primero busco en el array Top. Si se encuentra
                             * al item se lo elimina y sale del bucle.Sino procede a buscar en el array collapase*/
                            for (var i in this.skillsTop) {
                                if (this.skillsTop[i].id == e.detail.id) {

                                    if (e.detail.expertise == 0) {
                                        this.splice('skillsTop', i, 1);

                                        /*Si no hay skills seteo el correspondiente empty state*/
                                        if(this.skillsTop.length == 0 && this.skillsCollapse.length == 0){
                                            this.set('emptySkill', true);
                                        }

                                        /*si el array top queda con menos de cuatro elementos borra el primer elemento
                                         * del array collapse y se agraga en la última posicion del array top*/
                                        if(this.skillsTop.length < 4 && this.skillsCollapse.length > 0 ){
                                            var itemToUp = this.shift('skillsCollapse'); // item a cambiar de array
                                            this.push('skillsTop', itemToUp);
                                            this._changeArrayValue(); //
                                        }
                                    }else{
                                        this.set(['skillsTop.#' + i, 'expertise'],e.detail.expertise);
                                    }
                                    return;
                                }
                            }

                            /*Busqueda del item en el array collapse*/
                            for (var i in this.skillsCollapse) {

                                if (this.skillsCollapse[i].id == e.detail.id) {
                                    if (e.detail.expertise == 0) {
                                        this.splice('skillsCollapse', i, 1);

                                        /*despues de eliminar un item revisa si el array collapse està vacio para ocultar
                                         * o no el botòn collapse*/
                                        this._changeArrayValue(); //TODO daniel: cambiar nombre por algo más descriptivo
                                    }else{
                                        this.set(['skillsCollapse.#' + i, 'expertise'],e.detail.expertise);
                                    }
                                    return;
                                }

                            }


                            /*veo si el arrayTop de elementos es está completo, sino lo està
                             * el nuevo skill se guarda ahì, sino va a la lista de collapse*/
                            if(this.skillsTop.length < 4){
                                this.push('skillsTop', e.detail);
                            }else {
                                this.push('skillsCollapse', e.detail);
                                /*Corroboro que el collapse correspondiente a esta lista de elemenos esté abierto.
                                 * de no estarlo procedo a abrirlo*/
                                if (!this.$.skillsCollapse.opened) {
                                    this._changeArrayValue();//funcion que habilita los botones que controllan el collapse
                                    this._skillCollapse();
                                }
                            }

                            break;

                        case app.TAG_TYPE_BEAT:
                            for (var i in this.beatsTop) {
                                if (this.beatsTop[i].id == e.detail.id) {

                                    if (e.detail.expertise == 0) {

                                        this.splice('beatsTop', i, 1);

                                        if(this.beatsTop.length == 0 && this.beatsCollapse.length == 0){
                                            this.set('emptyBeat', true);
                                        }

                                        if(this.beatsTop.length < 4 && this.beatsCollapse.length > 0){
                                            var itemToUp = this.shift('beatsCollapse');
                                            this.push('beatsTop', itemToUp);
                                            this._changeArrayValue();
                                        }
                                    }else{
                                        this.set(['beatsTop.#' + i, 'expertise'],e.detail.expertise);
                                    }
                                    return;
                                }
                            }

                            for (var i  in this.beatsCollapse) {
                                if (this.beatsCollapse[i].id == e.detail.id) {
                                    if (e.detail.expertise == 0) {
                                        this.splice('beatsCollapse', i, 1);
                                        this._changeArrayValue();
                                    }else{
                                        this.set(['beatsCollapse.#' + i, 'expertise'],e.detail.expertise);
                                    }
                                    return;
                                }
                            }

                            if(this.beatsTop.length < 4){
                                this.push('beatsTop', e.detail);
                            }else {
                                this.push('beatsCollapse', e.detail);
                                if (!this.$.beatsCollapse.opened) {
                                    this._changeArrayValue();
                                    this._beatCollapse();
                                }
                            }



                            break;

                        case app.TAG_TYPE_FOCUS:
                            for (var i in this.focusTop) {
                                if (this.focusTop[i].id == e.detail.id) {

                                    if (e.detail.expertise == 0) {

                                        this.splice('focusTop', i, 1);

                                        if(this.focusTop.length == 0 && this.focusCollapse.length == 0){
                                            this.set('emptyBeat', true);
                                        }

                                        if(this.focusTop.length < 4 && this.focusCollapse.length > 0){
                                            var itemToUp = this.shift('focusCollapse');
                                            this.push('focusTop', itemToUp);
                                            this._changeArrayValue();
                                        }
                                    }else{
                                        this.set(['focusTop.#' + i, 'expertise'],e.detail.expertise);
                                    }
                                    return;
                                }
                            }

                            for (var i  in this.focusCollapse) {
                                if (this.focusCollapse[i].id == e.detail.id) {
                                    if (e.detail.expertise == 0) {
                                        this.splice('focusCollapse', i, 1);
                                        this._changeArrayValue();
                                    }else{
                                        this.set(['focusCollapse.#' + i, 'expertise'],e.detail.expertise);
                                    }
                                    return;
                                }
                            }

                            if(this.focusTop.length < 4){
                                this.push('focusTop', e.detail);
                            }else {
                                this.push('focusCollapse', e.detail);
                                if (!this.$.focusCollapse.opened) {
                                    this._changeArrayValue();
                                    this._beatCollapse();
                                }
                            }



                            break;
                    }

                },

                _publicationsChanged: function(){

                  if(!this.publications) return;

                    if(this.publications.length == 0){
                        this.set('emptyPublication', true);
                    }else{
                        this.set('emptyPublication', false);
                    }

                    this.$.publicationList.fire('iron-resize');
                },

                _languagesChanged: function(){

                    if(!this.languages || this.languages.length == 0){
                        this.set('emptyLanguage', true);
                    }else{
                        this.set('emptyLanguage', false);

                        setTimeout(function () {
                            this._showIcons();
                        }.bind(this), 200);
                    }
                },

                _skillsChanged: function(){

                    if(this.skillsTop.length == 0){
                        this.set('emptySkill', true);
                    }else{
                        this.set('emptySkill', false);
                    }
                },

                _beatsChanged: function(){
                    if(this.beatsTop.length == 0){
                        this.set('emptyBeat', true);
                    }else{
                        this.set('emptyBeat', false);
                    }
                },

                _focusChanged: function(){
                    if(this.focusTop.length == 0){
                        this.set('emptyFocus', true);
                    }else{
                        this.set('emptyFocus', false);
                    }
                },

                _cambioValor: function (e) {

                    if (e === true) {
                        this.$.skillsDialog.notifyResize();
                    }
                },

                _changeArrayValue: function () {

                    if(this.focusCollapse && this.skillsCollapse && this.beatsCollapse){

                        if(this.focusCollapse.length != 0){
                            this.$.focusCollapseButton.removeAttribute('hidden');
                        }

                        if(this.skillsCollapse.length != 0){
                            this.$.skillsCollapseButton.removeAttribute('hidden');
                        }

                        if(this.beatsCollapse.length != 0){
                            this.$.beatsCollapseButton.removeAttribute('hidden');
                        }

                    }

                },

                _skillCollapse: function () {
                    this.$.skillsCollapse.toggle();
                    this.$.skillsCollapseButton.innerText = this.buttonText;
                    if(this.$.skillsCollapse.opened){
                        this.$.skillsCollapseButton.innerText = '- See Less';
                    }
                },

                _beatCollapse: function () {
                    this.$.beatsCollapse.toggle();
                    this.$.beatsCollapseButton.innerText = this.buttonText;
                    if(this.$.beatsCollapse.opened){
                        this.$.beatsCollapseButton.innerText = '- See Less';
                    }
                },

                _focusCollapse: function () {
                    this.$.focusCollapse.toggle();
                    this.$.focusCollapseButton.innerText = this.buttonText;
                    if(this.$.focusCollapse.opened){
                        this.$.focusCollapseButton.innerText = '- See Less';
                    }
                },

                _redirect: function (e) {
                    var item = e.model.__data__.publication;
                    var win = window.open('http://' + item.pu_url.replace("http://", ""), '_blank');
                    win.focus();
                },

                _changeTabSelected: function () {

                    if(this.tabSelected == 0){
                        this.$.publicationList.fire('iron-resize');
                    }
                },

                _calculatedTag: function (exp) {
                    if(exp <= 0.33){
                        return 'beginner';
                    }

                    if(exp > 0.33 && exp <= 0.66){
                        return 'Intermediate';
                    }

                    if(exp > 0.66 && exp <= 1){
                        return 'Expert';
                    }
                },

                _showPencil: function (e) {
                    if(this.changeEditIcon === 0) return;
                    e.currentTarget.querySelector('.edit-icon').style.opacity = 1;
                    e.currentTarget.querySelector('.edit-icon').style.cursor = 'pointer';
                },

                _hiddePencil: function (e) {
                    if(this.changeEditIcon === 0) return;
                    e.currentTarget.querySelector('.edit-icon').style.opacity = 0;
                    e.currentTarget.querySelector('.edit-icon').style.cursor = '';
                },

                _request: function (e) {

                    if (this.changeEditIcon !== 1) {
                        return;
                    }

                    this.set('showSkillsList', false);

                    dialogSpinner.open();
                    var id = e.target.id.replace("Button",'');

                    this.$.ajaxSkillBeatsFocus.url = app.apinode + "/tags/get.by.type/";

                    switch(id) {
                        case 'skills':
                            this.$.ajaxSkillBeatsFocus.url += app.constants.TAG_TYPE_SKILL;
                            this.set('tagType', app.constants.TAG_TYPE_SKILL);
                            break;
                        case 'beats':
                            this.$.ajaxSkillBeatsFocus.url += app.constants.TAG_TYPE_BEAT;
                            this.set('tagType', app.constants.TAG_TYPE_BEAT);
                            break;
                        case 'focuses':
                            this.$.ajaxSkillBeatsFocus.url += app.constants.TAG_TYPE_FOCUS;
                            this.set('tagType', app.constants.TAG_TYPE_FOCUS);
                            break;
                    }
                    this.$.ajaxSkillBeatsFocus.generateRequest();
                },

                _userExperiencesCallback: function () {

                    this.set('showSkillsList', true);
                    dialogSpinner.close();

                    this.set('skills',  this.userExperiencesResponse);

                    this.$.skillsDialog.open();
                    this.fire('dialog-opened');
                },

                _addPublication: function () {

                    /*Verifico que esté habilitada la edición*/
                    if (this.changeEditIcon !== 1) {
                        return;
                    }

                    /*abro el popup*/
                    this.$.newPublicationDialog.open();
                    this.$.newPublicationDialog.context = this;
                    this.$.newPublicationDialog.sendButtonAction = this._savePublication;
                    this.$.newPublicationDialog.closeButtonAction = this._cancelSavePublication;
                },

                _savePublication: function(scope) {

                    scope || (scope = this);
                    /*Valido los inputs*/
                    var validTitle = scope.$.titlePublicationInput.validate();
                    var validUrl = scope.$.urlPublicationInput.validate();
                    var validPublisher = scope.$.publisherPublicationInput.validate();

                    /*Sino pasa validación, no continua la ejecución*/
                    if(!(validPublisher && validTitle && validUrl)){
                        return;
                    }

                    /*capturo datos de Inputs*/
                    var title = scope.$.titlePublicationInput.value;
                    var url = scope.$.urlPublicationInput.value;
                    var publisher = scope.$.publisherPublicationInput.value;

                    /*asigno datos a variable params del elemento iron ajax*/
                    scope.$.ajaxPublicationSave.body = JSON.stringify(
                            {
                                pu_title: title,
                                pu_url: url,
                                pu_publisher: publisher
                            });

                    scope.$.ajaxPublicationSave.url = app.apinode + "/publications";
                    scope.$.ajaxPublicationSave.generateRequest();

                    /*cierro dialog de edición de publicaciones*/
                    scope.$.newPublicationDialog.close();

                    /*Limpio los valores del los inputs en el dialog publications*/
                    scope.$.titlePublicationInput.value = '';
                    scope.$.urlPublicationInput.value = '';
                    scope.$.publisherPublicationInput.value = '';

                    /*Abro Spinner mientras aguardo respuesta del servidor*/
                    dialogSpinner.open();
                },

                _publicationSaveCallback: function () {

                    /*cierro el Spiner abierto para aguardar la respuesta del servidor*/
                    dialogSpinner.close();

                    /* Remove empty state message */
                    this.set('emptyPublication', false);
                    /*Inserto la nueva publicación en array de pubicaciones */
                    this.push('publications', this.publicationSaveResponse);

                    this.$.publicationList.fire('iron-resize');

                    /*retraso la ejecución de la funcinón que muestra los íconos, ya que no se estaba mostrando el ícono
                    * delete en una nueva publicación*/
                    setTimeout(function () {
                        this._showIcons();
                    }.bind(this), 200);

                    var publicationID = this.publicationSaveResponse.pu_id;
                    app.logActivity(app.constants.PROFILE_ADD_PUBLICATION, publicationID);
                },

                _ajaxSavePublicationError: function () {
                        showToast('An error occurred while saving the publication, please try again');
                },

                _cancelSavePublication: function (scope) {

                    scope || ( scope = this );
                    /*Limpio los valores del los inputs en el dialog publications*/
                    scope.$.titlePublicationInput.value = '';
                    scope.$.urlPublicationInput.value = '';
                    scope.$.publisherPublicationInput.value = '';

                    scope.$.titlePublicationInput.invalid = false;
                    scope.$.urlPublicationInput.invalid = false;
                    scope.$.publisherPublicationInput.invalid = false;

                    /*cierro dialog de edición de publicaciones*/
                    scope.$.newPublicationDialog.close();


                },

                _confirmRemovePublications: function(e){
                    var  params ={
                        message: 'Are you sure you want to delete this publication?',
                        cancelLabel: 'No',
                        acceptLabel: 'Yes',
                        acceptCallback: this._removePublication.bind(this),
                        cancelCallback: this._cancelRemovePublication.bind(this),
                        extraData: e.model.__data__.publication

                    };
                    confirmationDialog.open(params);
                },

                _cancelRemovePublication: function () {
                    return;
                },

                _removePublication: function (publication) {
                    /*Verifico que esté habilitada la edición*/
                    if (this.changeEditIcon !== 1) {
                        return
                    }
                    //e.currentTarget.parentNode.parentNode.remove();

                    //Remove item form array
                    var indexItem = this.publications.indexOf(publication);
                    this.splice('publications', indexItem, 1);

                    //Show empty state message
                    if(this.publications.length == 0){
                        this.set('emptyPublication', true);
                    }

                    //Remove from database
                    this.$.ajaxPublicationDelete.url = app.apinode + "/publications/" + publication.pu_id;
                    this.$.ajaxPublicationDelete.generateRequest();
                    this.$.publicationList.fire('iron-resize');
                },

                _showIcons: function () {

                    /*Guardo los elementos con las clases add-icon y delete-icon dentro de un array */
                    var addIcons = this.querySelectorAll('.add-icon');
                    var deleteIcons = this.querySelectorAll('.delete-icon');
                    var editIcons = this.querySelectorAll('.edit-icon');

                    /*corroboro que esté habilitada la edición, de estarlo muestro los iconos. Caso contrario no*/
                    if(this.changeEditIcon === 1){
                        /*itero por el array de elementos para cambiar las propiedades de todos*/
                        for (var element in addIcons) {

                            /*me aseguro de operar sobre los elementos del tipo "object"*/
                            if (typeof addIcons[element] === 'object') {
                                addIcons[element].style.opacity = 1;
                                addIcons[element].style.cursor = 'pointer';
                            }
                        }

                        for (var element in deleteIcons) {
                            if (typeof deleteIcons[element] === 'object') {
                                deleteIcons[element].style.opacity = 1;
                                deleteIcons[element].style.cursor = 'pointer';
                            }
                        }

                        for (var element in editIcons) {
                            if (typeof editIcons[element] === 'object') {
                                editIcons[element].style.opacity = 1;
                                editIcons[element].style.cursor = 'pointer';
                            }
                        }

                    }else{
                        for (var element in addIcons) {

                            if (typeof addIcons[element] === 'object') {
                                addIcons[element].style.opacity = 0;
                                addIcons[element].style.cursor = 'default';
                            }
                        }

                        for (var element in deleteIcons) {

                            if (typeof deleteIcons[element] === 'object') {
                                deleteIcons[element].style.opacity = 0;
                                deleteIcons[element].style.cursor = 'default';
                            }
                        }

                        for (var element in editIcons) {

                            if (typeof editIcons[element] === 'object') {
                                editIcons[element].style.opacity = 0;
                                editIcons[element].style.cursor = 'default';
                            }
                        }
                    }
                },


                /*funcion que abre el dialog de nuevo idoma*/
                _addlanguage: function () {

                    /*Verifico que esté habilitada la edición*/
                    if (this.changeEditIcon !== 1) {
                        return;
                    }

                    this.isMobile = app.isXsResolution();

                    /*Si es mobile*/
                    // if (this.isMobile) {
                        this.$.languageDialog.hideOkButton = false;
                        this.$.languageDialog.sendButtonAction = this._saveLanguages;
                        this.$.languageDialog.context = this;
                        this.$.mobileLanguageSelector.init();
                    // }else{
                    //     this.$.languageDialog.hideOkButton = true;
                    //     this.$.languageList.init();
                    // }
                    this.$.languageDialog.open();
                },

                _saveLanguages: function (context) {
                    context.$.mobileLanguageSelector.saveLanguague();
                    context.$.languageDialog.close();
                },

                _onLanguageSaved: function () {

                    // Actualizar el listado de lenguajes
                    document.querySelector('#ajaxUserExperience').params={};
                    document.querySelector('#ajaxUserExperience').generateRequest();

                    app.showToast('Language was saved', 'success');
                },

                /*Funcion para eliminar un idioma*/
                _removeLanguage: function (e) {
                    /*Verifico que esté habilitada la edición*/
                    if (this.changeEditIcon !== 1) {
                        return;
                    }

                    var indexItem = this.languages.indexOf(e.model.__data__.language);
                    this.splice('languages', indexItem, 1);

                    //Show empty state message
                    if(this.languages.length == 0){
                        this.set('emptyLanguage', true);
                    }

                    const params = { type:app.constants.TAG_TYPE_LANGUAGE, tag:e.model.__data__.language.name };
                    this.$.ajaxLanguageDelete.body = JSON.stringify(params);
                    this.$.ajaxLanguageDelete.url = app.apinode + "/tags/delete.expertise";
                    this.$.ajaxLanguageDelete.generateRequest();
                },

                _ajaxLanguageDeleteCallback: function(){
                    app.logActivity(app.constants.PROFILE_DELETE_LANGUAGE);
                },

                _tapCloseExpEditionButton: function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    if (e.gesture)
                        e.gesture.stopPropagation();
                    if (e.gesture)
                        e.gesture.preventDefault();
                    this.$.skillsDialog.close();
                },

                _verifyProficiencyValue: function (proficiencyValue ) {
                    if (proficiencyValue > 1) {
                        return proficiencyValue
                    }
                    return 0;
                },

                _verifyProficiency: function (proficiency) {
                    return proficiency > 1;
                }
            });
        })();
    </script>
</dom-module>
