<link rel="import" href="../connect-locked/connect-locked.html?v1.29">
<link rel="import" href="../connect-search/connect-search.html?v1.50">
<link rel="import" href="../../in/in-follow-button/in-follow-button.html">

<dom-module id="connect-main">
    <style include="shared-styles">

    </style>
    <template>
        <template is="dom-if" if="{{connectLocked}}" restamp="true">
            <connect-locked status="{{status}}"></connect-locked>
        </template>

        <template is="dom-if" if="{{!connectLocked}}" restamp="true">

            <connect-search route="{{route}}"
                            filter="{{filter}}"></connect-search>
        </template>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'connect-main',
                behaviors: [ajaxBehavior],

                properties: {
                    connectLocked:{
                        type: Boolean,
                        value: true
                    },
                    route: {
//                        observer: "_routeChanged"
                    },

                    status:{
                        type: Object,
                        value:{
                            hasPic: false,
                            hasOffersRequest:false,
                            hasLocation:false
                        },
                    }
                },

                listeners:{
                    'task-completed':'_statusUpdated'
                },

                _statusUpdated: function () {
                    this._setStatusFromSession();
                    this._setStatus();
                },

                _onRouteChange: function(){

                    this._setStatusFromSession();
                    this._setStatus();

                },

                _setStatusFromSession: function () {

                    this.set('status.hasLocation', app.session.hasLocation());
                    this.set('status.hasPic', app.session.hasPicture());
                    this.set('status.hasOffersRequest', app.session.hasOffersRequests());
                },

                /*
                 * Setea los atributos del objeto status y guarda los mismos valores en session
                 */
                _setStatus: function () {

                    if(this.status.hasLocation && this.status.hasPic && this.status.hasOffersRequest){
                        this.set('connectLocked', false);
                        app.showDrawerPanel();
                    }else{
                        this.set('connectLocked', true);
                        app.hideDrawerPanel();
                    }
                },

            });
        })();
    </script>
</dom-module>
