<link rel="import" href="../../../styles/landing-styles.html">
<link rel="import" href="./skills-item.html">


<dom-module id="skills-list">
    <template>
        <style is="custom-styles">
            :host {
                display: block;
            }


        </style>

        <iron-list id="skillsList"
                   class="scroll"
                   items="[[skills]]"
                   as="item"
                   selection-enabled
                   selected-item="{{selectedItem}}">

            <template>
                <skills-item item="{{item}}" index="{{index}}" tag-type="{{tagType}}"></skills-item>
            </template>

        </iron-list>


    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'skills-list',

                properties: {
                    //
                },

                ready: function () {

                    this.resize();
                    this.skills = [];
                },

                resize: function () {

                    /*cantidad de px a restar del tamaño total de la pantalla*/
                    var diference = 100;

                    this.$.skillsList.style.height = (app.getHeight() - diference) + 'px';
                    this.$.skillsList.fire('iron-resize');
                },

            });
        })();
    </script>
</dom-module>
