<link rel="import" href="../../../styles/landing-styles.html">

<dom-module id="skills-item">
    <template>
    <style is="custom-styles" include="landing-styles shared-styles">
    :host {
        display: block;
    }
    paper-slider {
        display: inline-block;
    }
    .expertise-selected {
        @apply(--small-text);
        color: white;
        z-index: 10;
    }
    .skill-name {
        @apply(--medium-text-highlighted);
        text-transform: capitalize;
        z-index: 10;
    }
    .skill-name.skill-name-unselected {
        color: white!important;
    }
    .skill-name.skill-name-selected {
        line-height: 2.1
    }
    paper-icon-button {
        opacity: 0.75;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        z-index: 10;
        margin-top: 5px;
    }
    paper-icon-button.check{
        color: var(--paper-light-green-a400);
        background-color: transparent;
    }
    paper-icon-button.noCheck {
        color: white;
    }
    .icon-container {
        position: absolute;
        left: 75%;
        top: 17%;
        z-index: 10;
    }
    .item {
        margin: 0 !important;
    }
    .overlay-layer {
        position: absolute;
        width: 100%;
        background: rgba(0,0,0,0.6);
        height: 100px;
        top: 0;
        left: 0;
        z-index: 0;
    }
    paper-button[disabled] {
        background-color: rgba(128, 128, 128, 0.45);
    }
    paper-button {
        height: 26px;
        padding-top: 3px;
        text-transform: none;
    }
    .button-save {
        background-color: var(--accent-color);
        color: #FFF;
    }
    .button-cancel {
    }


    </style>


    <iron-ajax id="ajaxSaveExpertise"
               method="POST"
               with-credentials
               handle-as="json"
               on-response="_saveExpertiseCallback"></iron-ajax>

    <iron-ajax id="ajaxDeleteExpertise"
               method="POST"
               with-credentials
               handle-as="json"
               on-response="_deleteExpertiseCallback"></iron-ajax>

    <div class="row middle-xs" style="height:100px; margin-bottom:20px;">

        <div class="col-xs-12 ">

            <iron-pages selected="{{selectedPage}}">

                <div class="item row middle-xs center-xs" style$="{{_computedStyle(item.image)}}">

                    <div class="overlay-layer"></div>

                    <div class$="{{_tagNameContainerClass(item.expertise)}}" id="mainLabel">
                        {{item.name}}
                    </div>

                    <div class="col-xs-12 expertise-selected" hidden$="{{!isSelectedItem}}">
                        {{expertiseLabelSelected}}
                    </div>

                    <div class="icon-container">

                        <template is="dom-if" if="{{isSelectedItem}}">
                            <paper-icon-button class="check"
                                on-up="_clearSelection"
                                icon="in-icon-set:lens">
                            </paper-icon-button>
                        </template>
                        <template is="dom-if" if="{{!isSelectedItem}}">
                            <paper-icon-button on-tap="_onSelectionTap"
                                class="noCheck"
                                icon="in-icon-set:lens">
                            </paper-icon-button>
                        </template>
                    </div>
                </div>

            <div class="row middle-xs center-xs">
                <div class="col-xs-12 col-md-4 skill-name">
                    {{item.name}}
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12">
                            <span style="font-size:13px">{{expertiseLabel}}</span>
                        </div>
                        <div class="col-xs-12">
                            <paper-slider style="margin-left:-26px" max="100" step="5" value="{{item.expertise}}"></paper-slider>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <paper-button class="button-save" disabled$="{{!isSelectedItem}}" on-tap="_onSaveTap">Save</paper-button>
                        </div>
                        <div class="col-xs-6">
                            <paper-button class="button-cancel" on-tap="_onCancelTap">Cancel</paper-button>
                        </div>
                    </div>
                </div>
            </div>

        </iron-pages>

    </div>
</div>
</template>


<script>
(function() {
    'use strict';

    Polymer({
        is: 'skills-item',

        properties: {
            item: {
                type: Object,
                value: {}
            },
            isSelectedItem: {
                type: Boolean,
                value: false
            },
            expertiseLabel:{
                type: String,
                value: 'Slide to select your Proficiency'
            },
            expertiseLabelSelected:{
                type: String,
                value: ''
            },
            selectedPage:{
                type: Number,
                value: 0
            },
            swipeOffset:{
                type: Number,
                value: 276,
                notify: true
            },
            tagType:{
                value:null
            },
        },

        // observers:[
        //     '_expertiseChanged(item.expertise)',
        // ],

        ready: function(){
            // Listener que captura los cambios en el slider y hace los cambios necesarios en el contenedor
            this.addEventListener('immediate-value-change', function (e) {
                this._dinamicAnimatedLabel(e.target.immediateValue);
            }.bind(this));
        },

        _saveExpertiseCallback: function () {
            this.fire('new-experience-saved');
            app.logActivity(app.constants.PROFILE_ADD_EXPERTISE);
        },

        _computedStyle: function (image) {
            return 'background: url("images/tags/' + image + '");'
        },

        _onSelectionTap: function(e){
            this.set('selectedPage', 1);
        },

        _expertiseChanged: function(){

            // TODO: verificar que no hace falta controlar el cambio de la property, segun el comportamiento del elemento.
            return;


            var expertise = this.item.expertise && parseInt(this.item.expertise) ? parseInt(this.item.expertise) : 0;
            var esActivo = expertise > 0 || this.item.timestamp ? true : false;

            if (esActivo) {
                this.set('isSelectedItem', false);
                return 'skill-name skill-name-unselected col-xs-12';

            }else {
                this.set('isSelectedItem', true);
                return 'skill-name skill-name-selected col-xs-12';
            }

            if (!value && !this.item.timestamp) {
            }else {
            }

        },

        _clearSelection: function (e) {

            this._resetElement();

            var tagName = this.item.name.constructor === Array ? this.item.name[0] : this.item.name;
            var params = {
                tag: tagName,
                type: this.tagType
            };

            this.$.ajaxDeleteExpertise.body = JSON.stringify(params);
            this.$.ajaxDeleteExpertise.url = app.apinode + '/tags/delete.expertise';
            this.$.ajaxDeleteExpertise.generateRequest();

            let eventObj = {
                name:  this.item.name,
                expertise: 0
            }
            this.fire('expertise-edited', eventObj);
        },

        _deleteExpertiseCallback: function(){
            app.logActivity(app.constants.PROFILE_DELETE_EXPERTISE);
        },

        _dinamicAnimatedLabel: function (value) {

            if (!value) {
                return;
            }

            value = parseInt(value);

            if(value <= 33 ){
                this.set('expertiseLabel', 'Beginner');
                this.set('expertiseLabelSelected', 'Beginner');
            }else if (value > 33 && value <= 66) {
                this.set('expertiseLabel', 'Intermediate');
                this.set('expertiseLabelSelected', 'Intermediate');
            }else if(value > 66 ) {
                this.set('expertiseLabel', 'Expert');
                this.set('expertiseLabelSelected', 'Expert');
            }
        },

        _tagNameContainerClass: function (value) {

            if (!value && this.item.timestamp) {
                this.set('selectedPage', 1);
            }
            // var value = item.expertise;
            if (!value && !this.item.timestamp) {
                this.set('isSelectedItem', false);
                return 'skill-name skill-name-unselected col-xs-12';
            }else {
                this.set('isSelectedItem', true);
                return 'skill-name skill-name-selected col-xs-12';
            }
        },

        _isValidNumber: function (value) {
            return !isNaN(value);
        },

        _onCancelTap: function(){
            this._resetElement();
        },

        _resetElement: function(){
            this.set('selectedPage', 0);
            this.set('expertiseLabel', 'Slide to select your Proficiency');
            this.set('expertiseLabelSelected', '');
            this.set('item.timestamp', 0);
            this.set('item.expertise', 0);
        },

        _onSaveTap: function(){

            this.set('selectedPage', 0);

            /*obj utilizado para ser insertado en la lista de expertises del usuario*/
            var tagName = this.item.name.constructor === Array ? this.item.name[0] : this.item.name;
            var eventObj =  {
                name: tagName,
                expertise: this.item.expertise
            };

            /*disparo evento para refrescar lista */
            this.fire('expertise-edited', eventObj);

            const params = {
                tag: tagName,
                expertise: this.item.expertise,
                type: this.tagType
            };

            this.$.ajaxSaveExpertise.body = JSON.stringify(params);
            this.$.ajaxSaveExpertise.url = app.apinode + '/tags/save.expertise';
            this.$.ajaxSaveExpertise.generateRequest();
        }

    });


})();
</script>
</dom-module>
