<link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">

<dom-module id="in-toast">
    <template>

    <style>

    paper-toast {
        padding: 6px 24px !important;
    }
    .yellow-button {
      text-transform: none;
      color: #eeff41;
    }
    .toast-regular {
        background-color: var(--dark-primary-color);
        padding: 16px 24px !important;
    }
    .toast-success {
        background-color: rgba(74, 101, 63, 0.86);
        padding: 16px 24px !important;
    }
    .toast-action {
        background-color: #323232;
        color:white;
    }

    </style>


    <paper-toast id="toast" text="{{text}}" style="z-index:1000000000;">
        <template is="dom-if" if="{{showButton}}">
            <paper-button on-tap="_buttonAction" class="yellow-button">{{buttonLabel}}</paper-button>
        </template>
    </paper-toast>

    <paper-toast id="toastPermanent" class="toast-action" text="{{text}}" style="z-index:1000000000;">
        <paper-button on-tap="_permanentAction" class="yellow-button">{{buttonLabel}}</paper-button>
    </paper-toast>


</template>


<script>

(function() {
    'use strict';

    Polymer({
        is: 'in-toast',
        properties: {
            showButton: {
                type: Boolean,
                value: true,
                notify: true
            }
        },

        show: function(){
            if (this.text.length > 250) {
                // Previene mostrar elmensaje largo de welcome
                return;
            }
            this.$.toast.show();
        },

        showPermanent: function(text, buttonLabel){
            if (buttonLabel) {
                this.set('buttonLabel', buttonLabel);
            }else {
                this.set('buttonLabel', 'Go to Home Page');
            }
            this.set('text', text);
            this.$.toastPermanent.duration = 0;
            this.$.toastPermanent.show();
        },

        close: function(){
            this.$.toast.close();
        },

        setRegularMode:function(){
            this._removeToastClases();
            this.$.toast.className += ' toast-regular';
            this.$.toast.duration = 5000;

            this.set('showButton', false);
        },

        setSuccessMode:function(){
            this._removeToastClases();
            this.$.toast.className += ' toast-success';
            this.$.toast.duration = 5000;

            this.set('showButton', false);
        },

        setGotItMode:function(){
            this._removeToastClases();
            this.$.toast.className += ' toast-action';
            this.$.toast.duration = 150000;

            this.set('showButton', true);
            this.set('buttonLabel', 'Got it!');
            this._buttonAction = this._close;
        },

        setRedirectionMode:function(buttonLabel, pageName){
            this._removeToastClases();
            this.$.toast.className += ' toast-action';
            this.$.toast.duration = 15000;

            this.set('showButton', true);
            this.set('buttonLabel', buttonLabel);
            this._buttonAction = this._redirect;
            this.pageName = pageName;
        },

        _close: function(){
            this.$.toast.close();
        },

        _permanentAction: function(){
            page("/feed");
            app.logActivity(app.constants.CTA_GAMMIFICATION_HOME);
            this.$.toastPermanent.close();
        },

        _redirect: function(){
            if (!this.pageName) {
                return;
            }
            page("/"+this.pageName);
            this.$.toast.close();
        },

        _removeToastClases: function(){
            var clases = this.$.toast.className;
            clases = clases.replace('toast-success', '');
            clases = clases.replace('toast-regular', '');
            clases = clases.replace('toast-action', '');
            this.$.toast.className = clases;
        },

    });

})();
</script>

</dom-module>
