
<dom-module id="profile-summary">
  <template>


    <style>
      :host {
      @apply(--font-jouture);
      }
      .summary-box{
        min-width:328px;
        margin-top:52px;
        padding: 70px 20px 20px 20px;
        background-color: #FAFAFA;
        font-size: 14px;
        text-align: justify;
      }

      iron-icon .icon-comments {
        --iron-icon-width: 16px;
      }
      .journalist-name {
      @apply(--medium-text-highlighted);
        margin-bottom: 10px;
      }

      .discussion-title {
      @apply(--medium-text);
        margin-bottom: 10px;
      }



      .discussion-date,
      .discussion-location {
      @apply(--very-small-text);
      @apply(--truncate-text);
        margin-bottom: 10px;
      }

      .secondary-title,
      .discussion-summary {
      @apply(--small-text);
      }

      .textButtons{
        @apply(--very-small-text);
        min-width: 86px;
      }

      .discussion-tags {
      @apply(--very-small-text);
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: left !important;
      }
      paper-button.tag:hover {
        background: #fbe7b1;
      }
      paper-button.tag {
        padding: 0;
        margin: 0;
      }
      .pic-journalist {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        position:absolute;
        left:auto;
        right:auto;
        box-shadow: 0px 1px 3px #555;
      }

    </style>


    <div class="row center-xs">
      <div class="col-xs-12"
           style="padding-right: 80px;">

        <div style="padding-right:98px;">
          <img class="pic-journalist" src="[[picurl]]">
        </div>

        <div class="summary-box">

          <div class="row center-xs">
            <div class="col-xs-12">
              <span class="journalist-name">{{journalist.user_name}}</span>
            </div>
          </div>

          <div class="row middle-xs"
               style="border-bottom: solid 2px;
               border-color: #FFF;
               margin: 10px 0 10px 0;
               padding: 10px 0 10px 0;">

            <div class="col-xs-6" >
              <div class="row start-xs">

                <div class="col-xs-12">
                  <span class="secondary-title"
                        id="jourFocus">Focus</span>
                </div>

                <div class="col-xs-12">
                  <span class="secondary-title"
                        id="JourBeats">Beats</span>
                </div>

                <div class="col-xs-12">
                  <span class="secondary-title"
                        id="JourSkills">Skills</span>
                </div>

              </div>
            </div>

            <div class="col-xs-6">
              <div class="row end-xs">
                <div class="col-xs-12">
                  <!--<div class="col-xs-12">-->
                  <span class="secondary-title"
                        id="JourLocation">
                    <iron-icon icon="in-icon-set:place"></iron-icon>{{journalist.co_country}}</span>
                  <!--</div>-->
                </div>
                <div class="col-xs-12">
                   <span id="countFollow">
                  <paper-button
                    raised
                    id="followButton"
                    on-tap="_follow"
                    class="textButtons">Followme</paper-button>{{countFollowers}}</span>
                </div>
                <div class="col-xs-12">
                  <paper-button
                    raised
                    id="messageButton"
                    on-tap="_follow"
                    class="textButtons">Message</paper-button>
                </div>
              </div>
            </div>

          </div>
          <div class="row start-xs"
               style="border-bottom: solid 2px;
               border-color: #FFF;
               margin: 10px 0 10px 0;
               padding: 10px 0 10px 0;">
            <div class="col-xs-12 discussion-summary"
                 id="discussionText">{{journalist.user_bio}}</div>
          </div>

        </div>

      </div>
    </div>


  </template>
</dom-module>

<script type="text/javascript">

  HTMLImports.whenReady(function () {

    Polymer({
      is: 'profile-summary',
      properties: {
        reload: {
          type: Boolean,
          value: false
        },
        journalist:{
          type:Object,
          notify:true
        },
        url: {
          type: String
        },
        picurl: {
          type: String
        },
        params: {
          type: Object,
          observer: "_show"
        },
        followLabel: {
          type: String,
          notify: true
        }
      },
      ready: function () {

      },
      _show: function(){

        if(this.route_discussion != 'detail')
          return true;

        var selected = this.params.selected;
        var urlJson = app.apiphp+'/main/discussions/method/get.header.json/selected/' + selected;
        this.$.ajaxJson.url = urlJson;
        this.$.ajaxJson.generateRequest();
      },
      _loadCallBack: function(response){

        var picUrl = this.journalist.user_pic;
        var url = app.apinode + "/images/get.picture/thumbnail/" + picUrl;
        this.picurl = url;

        //this.journalistName = response.detail.response.data.name;
        //this.title = response.detail.response.data.title;
        //this.text = response.detail.response.data.text;
        this.location = response.detail.response.data.location;
        this.date = response.detail.response.data.date;
        this.countDown = response.detail.response.data.countDown;
        this.countUp = response.detail.response.data.countUp;
        this.countFollowers = response.detail.response.data.countFollowers;

        var isFollowing = response.detail.response.data.isFollowing;
        if(isFollowing == 1){
          this.followLabel = 'Following';
        }else{
          this.followLabel = 'Follow';
        }


      },
      _follow: function(){
        this.$.followButton.disabled = true;
        var method = 'follow';
        if(this.followLabel === 'Following')
          method = 'unfollow';

        var objParams = {
          method: method,
          alt: "json",
          q: "chrome",
          dis_id: this.params.selected
        }
        this.$.ajaxFollow.params = objParams;
        this.$.ajaxFollow.url = app.apiphp+"/main/discussions/";
        this.$.ajaxFollow.generateRequest();
      },
      _followCallBack: function(response){

        this.$.followButton.disabled = false;

        if(response.detail.response.status !== 200){
          var app = document.querySelector('#app');
          app.showToast(response.detail.response.message);
          return;
        }
        var count = parseInt(this.countFollowers);
        if(this.followLabel === 'Following'){
          this.followLabel = 'Follow';
          this.countFollowers = count-1;
        }else{
          this.followLabel = 'Following';
          this.countFollowers = count+1;
        }
      }
    });

  });



</script>
