
<dom-module id="members-list">
    <template>
        <style include="shared-styles">

          .name-text {
            @apply(--small-text);
              margin-top: 10px;
              color: #333333;
          }
          .profile-detail {
          @apply(--very-small-text);
              margin-top: 5px;
          }
          .pic-journalist {
              /*margin-left: 10px;*/
              margin-bottom: 5px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              overflow: hidden;
          }
          .title {
            margin-bottom: 35px;
          }
          .select-button {
              @apply(--small-text);
              background-color: var(--accent-color);
              color: #FFF;
              padding: 2px;
              border-radius: 4px;
              text-transform: none;
              /*left: -11px;*/
              margin-bottom: 40px;
          }

          @media all and (max-width: 64em) {}

        </style>


        <!-- <div class="col-xs-12 col-md-2"> -->

            <div class="row center-xs">
              <div class="col-xs-12 title">
                Members
              </div>
            </div>

            <div class="row center-xs">
                <template is="dom-repeat" items="{{items}}">

                    <div class="col-xs-12">
                        <div class="row center-xs">
                            <a href="profile.experience/{{item.user_id}}">
                                <img class="pic-journalist" src$="{{_getProfilePictureUrl(item.picture)}}">
                            </a>
                        </div>
                    </div>

                    <div  class="col-xs-12 with-badge">
                        <span class="name-text">{{item.name}}</span>
                    </div>

                    <div  class="col-xs-12" style="margin-bottom:10px;">
                        <span class="profile-detail">{{item.location}}</span>
                    </div>

                    <template is="dom-if" if="{{editionMode}}">
                      <div class="col-xs-12">
                        <paper-button on-tap="_onTapRemove" item="{{item}}"
                                      class="select-button">Remove</paper-button>
                      </div>
                    </template>


                </template>
            </div>
        </div>


    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'members-list',

                properties: {
                  items: {
                    type:Array,
                    value: []
                  },
                  editionMode: {
                    type: Boolean,
                    value: false,
                    notify: true
                  }
                },
                behaviors: [],
                listeners: {},
                observers:[],

                attached: function () {
                  //
                },

                setData: function(items, editionMode){
                  this.set('items', items);
                  this.set('editionMode', editionMode)
                },

                _getProfilePictureUrl: function (fileName) {
                    return app.apinode + "/images/get.picture/mini/" + fileName;
                },

                _onTapRemove: function(e){
                  if(!this.editionMode) return;
                  this.fire('remove-item', e.model.__data__.item);
                }

            });
        })();
    </script>
</dom-module>
