<link rel="import" href="../connect-journalist-list/connect-journalist-list.html?v1.50">
<link rel="import" href="../../in/in-stepper/in-stepper.html">
<link rel="import" href="../../recommended/recommended-journalists/recommended-journalists.html?v1.29">
<link rel="import" href="../tag-filtering/tag-filtering.html">

<dom-module id="connect-search">
    <template>

        <style include="shared-styles">

            :host {
                min-height: 20000px;
            }
            .tag-filtering-backgrund{
                background: #e0e0e0;
                border-radius: 10px;
                padding-right: 20px;
                padding-left: 20px;
            }
            .filter-control-container{
                padding-top: 34px;
            }
            .filter-control-fab {
                position:relative;
                top: -22px;
                right: 3px;
                color: #000;
                background-color: #FFF;
                --paper-fab-iron-icon:{
                    color: var(--black-light-color);
                    height: 50px;
                    width: 50px;
                    stroke: white;
                };
            }
            .filter-control-fab > iron-icon {
            }
            .filter-control-fab-container {
                border-top: 1px solid #dedede;
                height: 30px;
            }
            .more-tags-button{
                @apply(--small-text);
                padding: 2px;
                border-radius: 4px;
                text-transform: none;
            }

        </style>

        <div class="row center-xs">
            <div class="col-xs-12 col-sm-10">
                <br><br>
                <recommended-journalists id="recommendedConnect"></recommended-journalists>
                <br>
            </div>
        </div>

        <div id="tagFilteringContainer"
             hidden$="{{!filtersActive}}"
             class="row center-xs tag-filtering-container" >

            <div class="col-xs-12 col-sm-10">
                <tag-filtering id="tagFilters" show-reset-button="true"></tag-filtering>
            </div>
        </div>

        <div id="filterControlContainer" class="row center-xs filter-control-container">
            <div class="col-xs-12 col-sm-6 filter-control-fab-container">
                <div class="row center-xs" id="fabContainer">
                    <paper-fab id="filterControlFab"
                               mini
                               class="filter-control-fab"
                               icon="in-icon-set:expand-less"
                               on-tap="_onFilterControlTap"
                               elevation="1"></paper-fab>
                </div>
            </div>
        </div>


        <div id="stepperContainer" class="row start-xs">
            <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                <in-stepper selected-elements="{{selectedCategoriesArray}}"></in-stepper>
            </div>
        </div>

        <connect-journalist-list id="connectJournalistList"
                                 route="{{route}}"
                                 filter="{{filter}}"></connect-journalist-list>


    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'connect-search',
                behaviors: [ajaxBehavior],

                properties: {

                    selectedCategoriesArray: {
                        type:Array,
                        value:[]
                    },
                    stepperActive:{
                        type: Boolean,
                        value: false
                    },
                    filtersActive:{
                        type: Boolean,
                        value: true
                    },
                    hideAllCategoriesButton:{
                        type: Boolean,
                        value: true
                    },
                    route: {
                        observer: "_routeChanged"
                    },
                    firstLoad:{
                        type: Boolean,
                        value: true
                    }
                },

                listeners: {
                    'category-selected': '_categorySelected',
                    'in-stepper-search': '_onStepperSearch',
                    'in-stepper-delete-item': '_onStepperDeleteItem',
                    'reset-search':'_resetSearch',
                    'remove-all-categories':'_onSeeAllCategoriesButtonTap'
                },

                _routeChanged: function(){

                    if(this.route != 'connect'){
                        return;
                    }
                    if (this.firstLoad) {
                        this.$.tagFilters.init();
                        this.firstLoad = false;
                    }

                    this.$.recommendedConnect.getMatches();
                },

                _callLeftMenuFilter: function(selectedCategories){

                    var leftMenuConnect = document.querySelector('left-menu-connect');
                    leftMenuConnect.filterByCategories(selectedCategories);
                },

                _categorySelected: function (e) {


                    if (this.selectedCategoriesArray.length >= 10) {
                        app.showToast("To much selections");
                        return;
                    }

                    if(e.detail.selected){

                        if (e.detail.level != 2) {
                            this.push('selectedCategoriesArray', e.detail);
                            this._callLeftMenuFilter(this.selectedCategoriesArray);
                            return;
                        }

                        var index = 0;
                        for(index; index < this.selectedCategoriesArray.length; index++){

                            if (this.selectedCategoriesArray[index].level == 2 || this.selectedCategoriesArray[index].level == 3) {
                                this.arrayDelete('selectedCategoriesArray', this.selectedCategoriesArray[index]);
                                index = 0;
                            }
                        }
                        this.push('selectedCategoriesArray', e.detail);
                        this._callLeftMenuFilter(this.selectedCategoriesArray);
                        return;
                    }
                    this.arrayDelete('selectedCategoriesArray', e.detail);
                    this._callLeftMenuFilter(this.selectedCategoriesArray);
                },

                _onSeeAllCategoriesButtonTap: function () {
                    this._resetSearch();
                    this.$.connectJournalistList.resetElement();

                    //update the left menu filter parameters
                    this._callLeftMenuFilter(this.selectedCategoriesArray);
                },

                _resetSearch: function () {

                    this._resetIronPages();
                    this._resetSelectedCategories();
                    this.set('stepperActive', false);
                    this.set('filtersActive', true);
                    this._changeFilterControlIcon();
                },

                _resetSelectedCategories: function () {
                    this.set('selectedCategoriesArray', []);
                },

                _resetIronPages: function () {
                    this.$.tagFilters.level1Selected = false;
                    this.$.tagFilters.resetElement();
                },

                _onFilterControlTap: function (e) {

                    this.set('stepperActive', !this.stepperActive);
                    this.set('filtersActive', !this.filtersActive);

                    this._changeFilterControlIcon();
                },

                _onStepperSearch: function () {
                    this._callLeftMenuFilter(this.selectedCategoriesArray);
                },

                _onStepperDeleteItem: function (e) {
                    this.$.tagFilters.resetItem(e.detail.level, e.detail.label);
                },

                _changeFilterControlIcon: function () {

                    if(this.stepperActive){
                        this.$.filterControlFab.icon = 'in-icon-set:expand-more';
                        return;
                    }
                    this.$.filterControlFab.icon = 'in-icon-set:expand-less';
                },

            });
        })();
    </script>
</dom-module>
