<link rel="import" href="../../in/in-autocomplete/in-autocomplete.html">
<link rel="import" href="../../connect/tag-filtering/tag-filtering.html">

<dom-module id="offers-requests">
    <template>
        <style include="shared-styles">
            /*:host {
                display: block;
            }*/
            paper-icon-button {
                opacity: 0;
                transition: all 300ms;
                cursor: default;
            }
            .offers-title-container {
                @apply(--middle-text);
                background-color: white;
                margin: 14px 0 20px 0;
            }
            .offer-container,
            .need-container{
                margin-bottom: 10px;
            }
            #offersList{
                margin-bottom: 40px;
            }
            .add-request-dialog{
                width:800px;
                max-height: 500px;
                margin: 20px;
            }
            .modal-title{
                color: #333;
                @apply(--medium-text);
            }
            .margin-buttons{
                margin: 0 35px;
            }
            .detail {
                @apply(--small-text);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                line-height: 40px;
            }
            .empty-state-text{
                @apply(--small-text);
                color: var(--dark-primary-color);
                text-align: left;
            }
            .empty-state-text-edition{
                @apply(--small-text);
                color: var(--accent-color);
                text-align: left;
            }
            tag-filtering {
                margin-top: 20px;
            }
            in-mobile-message {
                width: 80% !important;
            }
            @media only screen and (max-width: 48em) {
                in-mobile-message {
                    width: 100% !important;
                }
            }

        </style>

        <div class="row">
            <div class="col-xs-12 col-md-6">

                <div class="row start-xs">
                    <div class="col-xs-12 offers-title-container">
                        Offers
                        <paper-icon-button class="add-icon"
                                           tag-type="offer"
                                           on-tap="_addRequest"
                                           icon="in-icon-set:add-circle-outline"></paper-icon-button>
                    </div>
                </div>

                <template is="dom-if" if="{{emptyOffers}}">

                    <p class="empty-state-text">No offerings at this point.<p>

                    <template is="dom-if" if="{{!changeEditIcon}}">
                        <p class="empty-state-text-edition" style="opacity:0;">Offer the community your assistance</p>
                    </template>
                    <template is="dom-if" if="{{changeEditIcon}}">
                        <p class="empty-state-text-edition">Offer the community your assistance</p>
                    </template>

                </template>


                <!-- <iron-list id="offersList" items="[[arrayOffers]]" as="item"> -->
                    <template is="dom-repeat" id="offersList" items="[[arrayOffers]]">
                        <div class="row start-xs">
                            <div class="col-xs-12 offer-container">

                               <div class="detail">
                                   <paper-icon-button class="delete-icon" style="display:none"
                                                      on-tap="_removeRequest" type="offer"
                                                      icon="in-icon-set:remove-circle-outline"></paper-icon-button>

                                   <!-- {{item.prefix}} {{item.tag}} in {{item.country}} -->
                                   {{item}}
                               </div>
                            </div>
                        </div>

                    </template>
                <!-- </iron-list> -->

            </div>


            <div class="col-xs-12 col-md-6">

                <div class="row start-xs">
                    <div class="col-xs-12 offers-title-container">
                        Requests
                        <paper-icon-button class="add-icon"
                                           tag-type="request"
                                           on-tap="_addRequest"
                                           icon="in-icon-set:add-circle-outline"></paper-icon-button>
                    </div>
                </div>

                <template is="dom-if" if="{{emptyNeeds}}">

                    <p class="empty-state-text">Not requesting any help or assistance.</p>

                    <template is="dom-if" if="{{!changeEditIcon}}">
                        <p class="empty-state-text-edition" style="opacity:0;">Request assistance to benefit from the community</p>
                    </template>
                    <template is="dom-if" if="{{changeEditIcon}}">
                        <p class="empty-state-text-edition">Request assistance to benefit from the community</p>
                    </template>

                </template>


                <!-- <iron-list id="needsList" items="[[arrayRequests]]" as="item"> -->
                <template is="dom-repeat" id="needsList" items="[[arrayRequests]]">
                    <div class="row start-xs">
                        <div class="col-xs-12 need-container">

                            <div class="detail">
                                <paper-icon-button class="delete-icon" style="display:none"
                                                   on-tap="_removeRequest" type="request"
                                                   icon="in-icon-set:remove-circle-outline"></paper-icon-button>

                                <!-- {{item.prefix}} {{item.tag}} in {{item.country}} -->
                                {{item}}
                            </div>

                        </div>
                    </div>

                </template>
                <!-- </iron-list> -->

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 cta-button" on-tap="_onAllDoneTap" id="buttonAllDone" hidden>
                <span>All done, activate!</span>
            </div>
        </div>


        <in-mobile-message id="newRequestDialog"
                       hide-cancel-button
                       with-backdrop
                       no-cancel-on-outside-click
                       fab-icon ="in-icon-set:done"
                       ok-label="Done"
                       entry-animation="scale-up-animation"
                       exit-animation="fade-out-animation">

            <div class="row center-xs">
                <div class="col-xs">
                    <span class="modal-title">What would you like to <span>{{offerOrRequestText}}</span> the community?</span>
                </div>
            </div>

            <tag-filtering id="communityTags" show-back-button="true" hide-title="true"></tag-filtering>

        </in-mobile-message>

        <iron-ajax id="ajaxUserProfile"
                   with-credentials
                   handle-as="json"
                   on-response="_userProfileCallback"></iron-ajax>

        <iron-ajax
            id="ajaxInterchange"
            method="POST"
            with-credentials></iron-ajax>

    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'offers-requests',

                properties: {
                    params:{
                        observer:'_onParamsChange'
                    },
                    sessionProfile:{
                        observer:'_showIcons'
                    },
                    changeEditIcon:{
                        observer:'_showIcons'
                    },
                    arrayOffers:{
                        type: Array,
                        value: []
                    },
                    emptyOffers:{
                        type: Boolean,
                        value: true
                    },
                    arrayRequests:{
                        type: Array,
                        value: []
                    },
                    emptyNeeds:{
                        type: Boolean,
                        value: true
                    },
                    prefixPlaceholder:{
                        type: String,
                        value: "Looking for"
                    },
                    customTagValue:{
                        type: String,
                    }
                },

                observers:[
                        '_offersChanged(arrayOffers.length)',
                        '_needsChanged(arrayRequests.length)'
                ],

                ready: function () {
                    this.$.ajaxUserProfile.url = app.apinode + "/connections/profile/0";
                    this.$.ajaxUserProfile.generateRequest();
                },

                editionMode: function(){
                    this._showIcons();
                },

                _onAllDoneTap: function(){
                    this.fire('task-completed');

                    ga('set', 'page', '/feed/unlocked');
                    ga('send', 'pageview');
                },

                _userProfileCallback: function(e) {
                    var journalist = e.detail.response;
                    this.set('arrayOffers', journalist.offers);
                    this.set('arrayRequests', journalist.requests);
                },

                _onParamsChange: function () {

                    if (this.params.edit) {
                        this.changeEditIcon = 1;
                        app.showToast('Click on the add icon (+) to add your offers and request ', 'help');
                        return;
                    }
                        this.changeEditIcon = 0;
                },

                _offersChanged: function(){

                    if(this.arrayOffers && this.arrayOffers.length > 0){
                        this.set('emptyOffers', false);
                    }else{
                        this.set('emptyOffers', true);
                    }

                    // It's my profile - update session value
                    if(this.sessionProfile){
                        app.session.setHasRequests(!this.emptyNeeds);
                        app.session.setHasOffers(!this.emptyOffers );
                    }

                    setTimeout(function () {
                        this._showIcons();
                    }.bind(this), 200);

                    this._checkStatus();
                },

                // Requests has changed, update status
                _needsChanged: function(){

                    if(this.arrayRequests && this.arrayRequests.length > 0){
                        this.set('emptyNeeds', false);
                    }else{
                        this.set('emptyNeeds', true);
                    }

                    // Es el propio perfil, actualizar session
                    if(this.sessionProfile){
                        app.session.setHasRequests(!this.emptyNeeds);
                        app.session.setHasOffers(!this.emptyOffers);
                    }

                    setTimeout(function () {
                        this._showIcons();
                    }.bind(this), 200);

                    this._checkStatus();
                },

                _checkStatus: function(){
                    if (!this.emptyNeeds && !this.emptyOffers) {
                        this.$.buttonAllDone.hidden = false;
                    }else {
                        this.$.buttonAllDone.hidden = true;
                    }
                },

                _removeRequest: function (e) {

                    var item = e.model.__data__.item;
                    var type = e.currentTarget.getAttribute("type");
                    var indexItem = 0;

                    /* Remove the Item from the corresponding array  */
                    if(type == "offer"){
                        indexItem = this.arrayOffers.indexOf(item);
                        this.splice('arrayOffers', indexItem, 1);
                        type = app.constants.TAG_TYPE_OFFER;
                        app.logActivity(app.constants.PROFILE_DELETE_OFFER);

                    }else{
                        indexItem = this.arrayRequests.indexOf(item);
                        this.splice('arrayRequests', indexItem, 1);
                        type = app.constants.TAG_TYPE_REQUEST;
                        app.logActivity(app.constants.PROFILE_DELETE_REQUEST);
                    }

                    var params = {"tags": item, "type": type};
                    this.$.ajaxInterchange.url = app.apinode + "/tags/delete.interchange";
                    this.$.ajaxInterchange.body = JSON.stringify(params);
                    this.$.ajaxInterchange.generateRequest();

                },

                _addRequest: function (e) {

                    this.offerOrRequestText = e.currentTarget.getAttribute('tag-type');
                    // used in _saveRequest() as scope.type
                    this.type = e.currentTarget.getAttribute('tag-type');

                    if (this.offerOrRequestText == 'request') {
                        this.offerOrRequestText += ' from ';
                    }else {
                        this.offerOrRequestText += ' to ';
                    }

                    this.$.newRequestDialog.open();
                    this.$.communityTags.init();

                    this.$.newRequestDialog.context = this;
                    this.$.newRequestDialog.sendButtonAction = this._saveRequest;
                },

                _saveRequest: function (scope) {
                    scope || (scope = this);

                    var type;
                    if(scope.type == 'offer'){
                        type = app.constants.TAG_TYPE_OFFER;
                    }else{
                        type = app.constants.TAG_TYPE_REQUEST;
                    }

                    scope.$.newRequestDialog.close();
                    var selectedTags = scope.$.communityTags.getSelected();

                    if (!selectedTags) {
                        return;
                    }

                    scope.$.ajaxInterchange.body = JSON.stringify({"tags":selectedTags, "type":type});
                    scope.$.ajaxInterchange.url = app.apinode + "/tags/save.interchange";
                    scope.$.ajaxInterchange.generateRequest();

                    //Update UI
                    // selectedTags = selectedTags.replace('.', ' • ');

                    if(type == app.constants.TAG_TYPE_OFFER){

                        if(!scope.arrayOffers) scope.arrayOffers = new Array();
                        scope.push('arrayOffers', selectedTags);
                        scope.set('emptyOffers', false);
                        app.logActivity(app.constants.PROFILE_ADD_OFFER);

                    }else{

                        if(!scope.arrayRequests) scope.arrayRequests = new Array();
                        scope.push('arrayRequests', selectedTags);
                        scope.set('emptyNeeds', false);
                        app.logActivity(app.constants.PROFILE_ADD_REQUEST);
                    }

                },

                _showIcons: function () {

                    var addIcons = this.querySelectorAll('.add-icon');
                    var deleteIcons = this.querySelectorAll('.delete-icon');

                    if(this.sessionProfile === 1 && this.changeEditIcon === 1){
                        for (var element in addIcons) {
                            if (typeof addIcons[element] === 'object') {
                                addIcons[element].style.opacity = 1;
                                addIcons[element].style.cursor = 'pointer';
                            }
                        }

                        for (var element in deleteIcons) {
                            if (typeof deleteIcons[element] === 'object') {
                                deleteIcons[element].style.opacity = 1;
                                deleteIcons[element].style.display = 'inline-block';
                                deleteIcons[element].style.cursor = 'pointer';
                            }
                        }

                    }else{
                        for (var element in addIcons) {

                            if (typeof addIcons[element] === 'object') {
                                addIcons[element].style.opacity = 0;
                                addIcons[element].style.cursor = 'default';
                            }
                        }

                        for (var element in deleteIcons) {

                            if (typeof deleteIcons[element] === 'object') {
                                deleteIcons[element].style.opacity = 0;
                                deleteIcons[element].style.display = 'none';
                                deleteIcons[element].style.cursor = 'default';
                            }
                        }
                    }
                }

            });
        })();
    </script>
</dom-module>
