<link rel="import" href="../project-panel/project-panel.html">
<link rel="import" href="../project-item/project-item.html?v1.49">
<link rel="import" href="../project-reply/project-reply.html">

<link rel="import" href="/elements/in/members-list/members-list.html">


<dom-module id="project-detail">
    <template>

        <style include="shared-styles">

            :host {
                @apply(--font-jouture);
            }
            .journalist-name {
                color: #00262C !important;
                @apply(--very-small-text-highlighted);
            }
            .my-name{
                @apply(--very-small-text-highlighted);
            }
            .comment-date {
                @apply(--very-small-text);
            }
            .comment {
                @apply(--small-text);
                margin-bottom: 10px;
            }
            .reply-button {
                @apply(--very-small-text);
            }
            .fab-reply {
                @apply(--float-action-button);
            }
            iron-icon {
                --iron-icon-width: 16px;
            }
            .showme {
                opacity: 0;
                -webkit-transition: visibility 0s, opacity 0.1s linear;
                -moz-transition: visibility 0s, opacity 0.1s linear;
                -ms-transition: visibility 0s, opacity 0.1s linear;
                -o-transition: visibility 0s, opacity 0.1s linear;
                transition: visibility 0s, opacity 0.1s linear;
            }
            .item:hover .showme{
                opacity: 1;
            }
            iron-list {
                background-color: white;
                overflow-x: hidden;
                overflow-y: hidden;
            }
            .item {
                margin-left: 0 !important;
                -webkit-font-smoothing: antialiased;
                padding-bottom: 10px;
            }
            .item:focus {
                outline: 0;
            }
            .hide-reply {
                display: none;
                /*opacity: 0;*/
                -webkit-transition: visibility 0s, opacity 0.25s linear;
                -moz-transition: visibility 0s, opacity 0.25s linear;
                -ms-transition: visibility 0s, opacity 0.25s linear;
                -o-transition: visibility 0s, opacity 0.25s linear;
                transition: visibility 0s, opacity 0.25s linear;
            }
            .hide-reply.show-reply {
                /*opacity: 1;*/
                display: block;
                -webkit-transition: visibility 0s, opacity 0.25s linear;
                -moz-transition: visibility 0s, opacity 0.25s linear;
                -ms-transition: visibility 0s, opacity 0.25s linear;
                -o-transition: visibility 0s, opacity 0.25s linear;
                transition: visibility 0s, opacity 0.25s linear;
            }
            .pic-journalist {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
            }
            #list {
                margin-bottom: 100px;
            }
            .discussion-header {
                margin-bottom: 40px;
            }
            .no-padding {
                padding:0;
            }
            .reply-box {
                position:absolute;
                bottom:0;
                z-index:1000;
                width:100%;
            }
            .no-margin {
                margin: 0;
                padding-top: var(--content-padding-top);
            }
            .hidden{
                display: none;
            }
            .discussion-item-container{
                padding-left: 0;
                padding-right: 0;
            }
            .member-list {
              /*border-left: solid 1px #e0dede;*/
            }

            @media all and (max-width: 48em) {
                .item {
                    /*border-bottom: solid 1px #EEEEEE;*/
                    padding-top: 0;
                    padding-bottom: 0;
                }
                .discussion-item-container {
                    padding-left: 8px;
                }
            }

        </style>

        <iron-ajax
                id="ajaxReplies"
                method="GET"
                with-credentials
                last-response="{{items}}"
                on-response="_ajaxRepliesCallBack"></iron-ajax>

        <iron-ajax
            id="ajaxHeader"
            method="GET"
            with-credentials
            on-response="_ajaxHeaderCallBack"></iron-ajax>

        <iron-ajax
            id="ajaxMembers"
            method="GET"
            with-credentials
            on-response="_ajaxMembersCallBack"></iron-ajax>


        <iron-ajax
                id="ajaxSaveReply"
                method="POST"
                with-credentials
                on-response="_saveReplyCallBack"></iron-ajax>


        <div class="row no-margin">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 discussion-header">

                <a href="/project" class="go-back-button">
                    <paper-icon-button icon="in-icon-set:chevron-left"></paper-icon-button>
                </a>
                <a href="/project" class="go-back-button">
                    <paper-button>Go back to the newsrooms list</paper-button>
                </a>

                <br><br>

                <project-panel id="projectHeader"></project-panel>

            </div>

            <div class="col-xs-2 member-list">
                <members-list id="memberList"></members-list>
            </div>
        </div>

        <div class="row no-margin">
            <div class="col-xs-12 col-md-9 col-md-offset-2 col-lg-7 col-lg-offset-3 no-padding">

                <!--REPLIES LIST-->
                <div class="row">
                    <div class="col-xs-12" style="padding-left:0; padding-right: 0;">

                        <iron-list id="list" items="[[items]]" as="item">

                            <template>
                                <div class="row item" on-tap="_intemTapHandler" on-track="_intemTapHandler">
                                    <div class="col-xs-12 discussion-item-container">
                                         <project-item item="{{item}}"></project-item>
                                    </div>
                                </div>
                            </template>

                        </iron-list>

                    </div>
                </div>
                <!--END REPLIES LIST-->


            </div>
        </div>


        <div class="row reply-box hide-reply" id="boxReply">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 no-padding">
                <project-reply id="discussionReply"></project-reply>
            </div>
        </div>

        <paper-fab icon="in-icon-set:reply"
                   id="fabReply"
                   title="Reply"
                   class="button-animated fab-reply"
                   elevation="3"
                   on-tap="_reply"></paper-fab>

    </template>
</dom-module>

<script>
    (function () {
        'use strict';
        Polymer({
            is: 'project-detail',
            properties: {
                onTapIndex: String,
                route_project: String,
                reload: {
                    type: Boolean,
                    value: false
                },
                url: {
                    type: String
                },
                params: {
                    type: Object,
                    observer: "_show"
                }
            },

            _hiddenFabReply: function(){
                this.$.fabReply.classList.add("hidden");
            },

            _showFabReply: function(){
                this.$.fabReply.classList.remove("hidden");
            },

            ready: function () {

                // this.$.list.addEventListener('voteDown', function (e) {
                //
                //     var replyId = JSON.stringify(e.detail.id);
                //     var discussionId = JSON.stringify(this.objDiscussion.id);
                //
                //     /* evento information to log activity */
                //     var detail = e.detail.text;
                //     var objects_id = [replyId, discussionId];
                //
                //     var userData = {
                //         users_id: e.detail.user_id,
                //         users_name: e.detail.name,
                //         users_pic: e.detail.picture
                //     };
                //
                //     const params = {'id':e.detail.id};
                //     const ajaxGlobal = document.querySelector('#ajaxGlobal')
                //     ajaxGlobal.url = app.apinode + '/discussions/votedown';
                //     ajaxGlobal.body = JSON.stringify(params);
                //     ajaxGlobal.parentNode.ajaxResponse = function(e){
                //         app.logActivity(app.constants.DISCUSSION_REPLY_DOWN, objects_id, detail, userData);
                //     }.bind(this);
                //
                //     ajaxGlobal.generateRequest();
                // }.bind(this));

                // this.$.list.addEventListener('voteUp', function (e) {
                //
                //     var replyId = JSON.stringify(e.detail.id);
                //     var discussionId = JSON.stringify(this.objDiscussion.id);
                //
                //     /* evento information to log activity */
                //     var detail = e.detail.text;
                //     var objects_id = [replyId, discussionId];
                //     var userData = {
                //         users_id: e.detail.user_id,
                //         users_name: e.detail.name,
                //         users_pic: e.detail.picture
                //     };
                //
                //     const params = {'id':e.detail.id};
                //     const ajaxGlobal = document.querySelector('#ajaxGlobal')
                //     ajaxGlobal.url = app.apinode + '/discussions/voteup';
                //     ajaxGlobal.body = JSON.stringify(params);
                //     ajaxGlobal.parentNode.ajaxResponse = function(e){
                //         app.logActivity(app.constants.DISCUSSION_REPLY_UP, objects_id, detail, userData);
                //     }.bind(this);
                //
                //     ajaxGlobal.generateRequest();
                // }.bind(this));

                /* Save reply al discussion principal */
                this.$.discussionReply.addEventListener('project-replied', function (e) {

                    var text = e.detail.text;
                    var params = {
                        parent_id: this.objDiscussion.id,
                        name: app.session.getName(),
                        text: text
                    };

                    this.$.ajaxSaveReply.url = app.apinode +  "/projects/reply";
                    this.$.ajaxSaveReply.body = JSON.stringify(params);
                    this.$.ajaxSaveReply.generateRequest();

                }.bind(this));

                this.$.discussionReply.addEventListener('cancelReply', function (e) {
                    this._hideReply();
                }.bind(this));
            },

            // Save the index of the "on-tap" to use the value in the listener of the item reply event
            _intemTapHandler: function (e) {
                this.onTapIndex = e.model.index;
            },

            _showReply: function () {
                this._hiddenFabReply();
                var currentClassName = this.$.boxReply.className;
                this.$.boxReply.className = currentClassName.replace('hide-reply', 'hide-reply show-reply');
            },

            _hideReply: function () {
                this._showFabReply();
                var currentClassName = this.$.boxReply.className;
                this.$.boxReply.className = currentClassName.replace('hide-reply show-reply', 'hide-reply');
            },

            _reply: function () {
                this._showReply();
            },

            _show: function () {

                if (this.route !== 'project' || this.route_project !== 'detail') {
                    return true;
                }

                this.querySelector("project-panel").style.visibility =   'hidden';
                this.querySelector("iron-list").style.visibility =   'hidden';

                this._hideReply();

                //Get replies
                var selected = this.params.selected;
                var timestamp = this.params.timestamp;
                this.$.ajaxReplies.url = app.apinode + '/projects/replies/' + selected + '/' + timestamp;
                this.$.ajaxReplies.generateRequest();

                //Get header
                this.$.ajaxHeader.url = app.apinode + '/projects/detail/'+ selected + '/' + timestamp;
                this.$.ajaxHeader.generateRequest();

                //Get members
                this.$.ajaxMembers.url = app.apinode + '/projects/members/'+ selected;
                this.$.ajaxMembers.generateRequest();
            },

            /* Callback al save reply del discussion principal */
            _saveReplyCallBack: function (e) {

                //Add new item on the top of the list
                var newItem = e.detail.response;
                this.push("items", newItem);

                this._hideReply();

                // Scroll to bottom
                setTimeout(function () {
                    var mainDiv = document.querySelector('#mainScroll');
                    mainDiv.scrollTop = this.$.list.offsetHeight || this.$.list.clientHeight;
                }.bind(this), 100);

                // show message
                var app = document.querySelector('#app');
                app.showToast('Thanks !');

                // Log activity
                const userData = {
                    users_id: this.objDiscussion.user_id,
                    users_name: this.objDiscussion.name,
                    users_pic: this.objDiscussion.picture
                };
                const objects_id = [JSON.stringify(newItem.id), JSON.stringify(this.objDiscussion.id)];
                const details = [newItem.text, this.objDiscussion.title];
                // var app = document.querySelector('#app');
                // app.logActivity(app.constants.PROJECT_POST_REPLY, objects_id, details, userData);
            },

            _ajaxHeaderCallBack: function(e){

                if(!e.detail.response) return;

                this.$.projectHeader.setData(e.detail.response);

                this.objDiscussion = e.detail.response;
            },

            _ajaxMembersCallBack: function(e){
                this.$.memberList.setData(e.detail.response, false);
            },

            _ajaxRepliesCallBack: function (response) {

                this.querySelector("project-panel").style.visibility =   'visible';
                this.querySelector("iron-list").style.visibility =   'visible';

                var panel = this.querySelector("project-panel");

                if (this.items.length > 0) {

                    this.$.list.style.height = '100%';
                    this.$.list.fire('iron-resize');

                    // para corregir error de renderizado parcial de la lista
                    setTimeout(function () {
                        this.$.list.fire('iron-resize');
                    }.bind(this), 200);

                }else{
                    this._showReply();
                }

                var btns = document.querySelectorAll(".replay-disable[disabled]");
                for(var i = 0; i < btns.length; i++){
                    btns[i].removeAttribute("disabled");
                }
            },

            _computeDate: function (date) {
                var app = document.querySelector('#app');
                return app.timeConverter(date, 'short');
            }
        });
    })();
</script>
