<dom-module id="notification-main">
    <template>
        <style>
            :host {
                display: block;
            }
            .scroll{
                overflow-x: hidden;
                overflow-y: visible;
            }
            .scroll::-webkit-scrollbar{
                width: 5px;
                background: #DDD;
                background: -webkit-linear-gradient(left,#FFF,#FFF, #DDD, #FFF,#FFF); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Firefox 3.6 to 15 */
                background: linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* Standard syntax */
            }

            .scroll::-webkit-scrollbar-thumb{
                border-radius: 5px;
                background: #DDD;
                background: -webkit-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Firefox 3.6 to 15 */
                background: linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* Standard syntax */
            }

            .scroll:hover::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: var(--accent-color);
            }

            .titleNotifications{
                @apply(--medium-text);
            }
            .titleCounter{
                @apply(--medium-text);
                color: var(--accent-color) !important;
            }

            .notiItem{
                margin-left: 10px !important;
                margin-top: 5px !important;
                margin-bottom: 15px !important;
            }

            .pic-container{
                text-align: center;
                position: relative;
                margin-right: 0px;
                width: 60px !important;
            }

            .pic-journalist{
                height: 45px !important;
                width: 45px !important;
                border-radius: 50%;
            }
            .title-notifications-container{
                margin-top: 30px;
                height: 45px !important;
            }
            .titleFootConteiner{
                height: 25px !important;
                padding-top: 7px;
            }
            .subNotification{
                font-weight: 500 !important;
                height: 14px !important;
                font-size:12px !important;
            }
            .subNotificationContent{
                height: 17px !important;
                font-size:12px !important;
            }
            .subDetailNew{
                @apply(--very-small-text);
                color: var(--accent-color);
            }
            .subDetail{
                @apply(--very-small-text);
            }

            .subTime{
                height: 14px !important;
                /*@apply(--very-small-text);*/
                font-size:11px !important;
                color: #aaa;
            }
            .hidden{
                display: none;
            }
            .newPoint{
                height: 7px !important;
                width: 7px !important;
                border-radius: 50%;
                background-color: var(--accent-color);
                position: absolute;
                top: 16px;
                left: -3px;
            }

            .subheader-margin {
                margin-left: var(--drawer-width);
            }

            #spinnerNotification{
                width: 25px;
                height: 25px;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }

            #listNotifications{
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
                margin-bottom: 50px;
            }

            .responsive-height{
                display: block !important;
                height: 100% !important;
            }

            .responsive-row{
                height: auto !important;
            }

            .notification-item {
                margin-left: 20px !important;
                margin-top: 5px !important;
                margin-bottom: 15px !important;
                cursor: pointer;
            }
            .responsive-auto {
                height: auto !important;
            }


        </style>

        <iron-ajax
                id="ajaxNotifications"
                method="GET"
                with-credentials
                last-response="{{notificationsResponse}}"
                on-response="_ajaxNotificationsCallback">
        </iron-ajax>


        <div class="row">
            <div class="col-xs col-md-3"></div>
            <div class="col-xs-12 col-md-6">
                <div align="center" class = "title-notifications-container">
                    <span class="titleNotifications">Notifications </span> <span class="titleCounter"> {{countNotificationsText}}</span>
                </div>
                <div align="center" id="containerSpinner">
                    <paper-spinner id="spinnerNotification" active></paper-spinner>
                </div>


                <div id="listNotifications" class="scroll" >
                    <template is="dom-repeat"  items="[[arrtest]]" as="item">

                        <div class="row start-xs top-xs notification-item responsive-auto" on-tap="onNotificationItemTap">
                            <div class="col-xs-2 col-md-2 pic-container">
                                <img class="pic-journalist" src$="{{_getPictureUrl(item.pic)}}">
                                <div class$="{{_classPoint(item.read)}}"></div>
                            </div>
                            <div class="col-xs-8 col-md-9 responsive-height" >
                                <div class="row responsive-row">

                                    <div class$="{{_classNewColor(item.read)}}" >
                                        <span class="subNotification">[[item.labelBold]]</span><span>[[item.label]]</span>
                                    </div>

                                    <div class="col-xs-12 subNotificationContent responsive-height">
                                        <span>[[ item.detail ]]</span>
                                    </div>

                                    <div class="col-xs-12 subTime responsive-height">
                                        [[item.ago]]
                                    </div>
                                </div>
                            </div>
                            <div class='corner-counter center-xs'></div>
                        </div>

                    </template>
                </div>



            </div>
            <div class="col-xs-2"></div>
        </div>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'notification-main',
                properties: {
                    items: {
                        type: Array,
                        notify: true,
                    },
                    route: {
                        observer: "_routeChanged",
                    }
                },
                behaviors: [NotificationExpert],

                ready: function(){
                    document.addEventListener('iron-localstorage-load', function(e){
                        var session = document.querySelector('#session');
                        this.userPicture = session.getPicture();
                        this.userName = session.getName();
                    }.bind(this));
                },

                _getPictureUrl: function(pictureName){
                    return app.apinode + "/images/get.picture/mini/" + pictureName;
                },

                _ajaxNotificationsCallback: function(e){

                    this.arrtest = this.buildNotificationList(e.detail.response);
                    this.$.listNotifications.style.opacity = 1;
                    this.$.containerSpinner.style.display="none";
                },

                _classPoint: function(read){

                    if(read) return " hidden ";
                    return " newPoint ";
                },

                _classNewColor: function(read){
                    if(read) return "col-xs-12 subDetail responsive-height";
                    return "col-xs-12 subDetailNew responsive-height";
                },

                _routeChanged: function(){

                    if(this.route != "notification")
                        return;

                    this.countNotifications = 0;
                    this.$.ajaxNotifications.url = app.apinode + "/notifications/list";
                    this.$.ajaxNotifications.generateRequest();
                }
            });
        })();
    </script>

</dom-module>
