<link rel="import" href="../item-list/item-list.html">
<link rel="import" href="../item-view/item-view.html">

<dom-module id="marketplace-main">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <iron-pages attr-for-selected="data-route" selected="{{route_marketplace}}">

            <section data-route="list">
                <item-list id="itemList"
                    params="{{params}}"
                    filter="{{filter}}"
                    route="{{route}}"
                    route_marketplace="{{route_marketplace}}"></item-list>
            </section>

            <section data-route="detail">
                <item-view
                    params="{{params}}"
                    route="{{route}}"
                    route_marketplace="{{route_marketplace}}"></item-view>
            </section>

        </iron-pages>
    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'marketplace-main',
                properties: {
                },
                _onRouteChange: function () {
                    if (typeof this.$.itemList._onRouteChanged == 'function'){
                        this.$.itemList._onRouteChanged();
                    }
                }
            });
        })();
    </script>
</dom-module>
