<dom-module id="in-send-text">
    <template>
        <style include="paper-dialog-shared-styles"></style>
        <style include="shared-styles">

            :host{
                background-color: #fff !important;
                z-index: 1100 !important;
                overflow-y: hidden;/*scroll;*/
                overflow-x: hidden;
                height: 100%;
                width: 100%;
                margin: 0;
                @apply(--small-text);
                box-shadow: none;
            }
            .send{
                position: absolute;
                right: -10px;
                top: -14px;
                color: var(--accent-color);
            }
            .sendDisabled{
                position: absolute;
                right: -10px;
                top: -14px;
                color: var(--disabled-text-color);
            }
            .check-send{
                position: absolute;
                right: 10px;
                top:-3px;
            }
            .check-label{
                position: absolute;
                right: 32px;
                top:-4px;
                font-size: 13px;
                font-weight:400;
                color: var(--secondary-text-color);
            }
            .max-label{
                position: absolute;
                left: 0px;
                top:-4px;
                font-size: 13px;
                font-weight:400;
                color: #727272;
            }
            .sendIcon{
                width: 30px;
            }
            div{
                position: relative;
                margin: 0;
                padding: 0;
            }
            .check-div {
                height: 40px;
                width: calc(100% - 40px);
            }
            .hidden{
                display: none !important;
            }
            .scroll {
                overflow-x: hidden;
                overflow-y: hidden;
                width: calc(100% - 12px);
            }
            .scroll:hover{
                overflow-y: visible;
                width: 100%;
            }
            .scroll::-webkit-scrollbar {
                width: 3px;
            }
            .scroll::-webkit-scrollbar-track {
                /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
            }
            .scroll::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background-color: var(--accent-color);
                /*-webkit-box-shadow: inset 0 0 6px red;*/
            }
            paper-textarea /deep/ textarea {
                font-weight: 200 !important;
            }
            paper-textarea /deep/ ::-webkit-scrollbar {
                width: 4px;
            }
            paper-textarea /deep/ ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 3px;
            }
            paper-textarea /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--accent-color);
            }
            .hide-mobile {
                display: block;
            }
            paper-fab{
                position: fixed;
                bottom: 136px;
                right: 21px;
            }
            #sendButton{
                margin-top: -21px;
            }
            .send-button-mobile {
                display: none;
            }

            @media only screen and (max-width: 48em) {
                /*.send{
                    display: none;
                }*/
                /*.check-send{
                    display: none;
                }*/
                /*.check-label{
                    display: none;
                }*/
                .hide-mobile {
                    display: none !important;
                }
                .send-button-mobile {
                    display: block;
                }
            }

            @media screen and (-webkit-min-device-pixel-ratio:0) {
                .scroll {
                    overflow-x: hidden;
                    overflow-y: hidden;
                    width: 100%;
                }
            }

        </style>

        <div class="row middle-xs">

            <!-- <paper-fab mini
                       id=""
                       icon="in-icon-set:send"
                       on-tap=""></paper-fab> -->

            <div class="col-xs-10 col-md-12" id="textAreaContainer">
                <paper-textarea id="textAreaMessage"
                                label="{{label}}"
                                placeholder="{{placeholder}}"
                                max-rows="{{maxRows}}"
                                class="scroll"
                                maxLength="{{maxLength}}"
                                on-keyup="_count">
                </paper-textarea>
            </div>

            <div class="col-xs-2 send-button-mobile" style="margin-top:22px;" id="innerSendButtonContainer">
                <paper-icon-button id="sendButtonMobile" on-tap="_send" icon="in-icon-set:send" class="sendDisabled">
                </paper-icon-button>
            </div>

            <div id="checkEnter" class="check-div hide-mobile">
                <label id="maxLabel" class="max-label hidden">{{maxLength}}</label>
                <label class="check-label">Press Enter to send </label>
                <input class="check-send" id="check_enter_msg" type="checkbox" value="check" on-change="_saveElection"/>
            </div>

            <div id="sendIcon" class="sendIcon hide-mobile">
                <paper-icon-button id="sendButton" on-tap="_send" icon="in-icon-set:send" class="sendDisabled">
                </paper-icon-button>
            </div>

        </div>

    </template>

    <script>
        (function () {
            'use strict';
            Polymer({

                is: 'in-send-text',

                properties: {

                    label:{
                        type: String,
                        value:""
                    },
                    placeholder:{
                        type: String,
                        value: "Message"
                    },
                    maxRows:{
                        type: Number,
                        value: 4
                    },
                    maxLength:{
                        type: Number,
                        value: 4096
                    },
                    minCharacters:{
                        type: Number,
                        value:1
                    },
                    counter:{
                        type: Boolean,
                        value: true
                    },
                    action:{
                        type: String,
                        value: ""
                    },
                    successful:{
                        type: String,
                        value: ""
                    },
                    error:{
                        type: String,
                        value: ""
                    },
                    behaviorType: {
                        value:null
                    },
                },

                attached: function () {

                    //Set "press to enter" status
                    this._readCookie();

                    //Listener "Press Enter" event
                    this.$.textAreaMessage.addEventListener('keydown',function(e){

                        // Si se presiona enter, verificar si enviar o no el mensaje
                        var isChecked = this.$.check_enter_msg.checked;
                        var enterMustSend = isChecked && !e.shiftKey || !isChecked && e.ctrlKey;

                        if (e.keyCode == 13 && !app.mobile &&  enterMustSend) {
                            e.preventDefault();
                            this._send();

                        }else{

                            var newValue = this.$.textAreaMessage.value + String.fromCharCode(e.keyCode);
                            this.fire('text-message-changed', newValue);
                        }

                    }.bind(this));

                    /*
                     * Usado para controlar la posicion del box en message-list mobile
                     */
                    this.$.textAreaMessage.addEventListener('keyup',function(e){
                        this.fire('text-message-changed', this.$.textAreaMessage.value);
                    }.bind(this));

                    //Init send button disabled
                    this.$.sendButton.disabled = true;
                    this.$.sendButtonMobile.disabled = true;
                },

                send: function(){
                    this._send();
                },

                _hideInnerSendButton(){
                    if(!this.$.innerSendButtonContainer.parentNode) return;

                    this.$.innerSendButtonContainer.parentNode.removeChild(this.$.innerSendButtonContainer);
                    this.$.textAreaContainer.classList.remove('col-xs-10');
                    this.$.textAreaContainer.classList.add('col-xs-12');
                },

                _send: function(){

                    var text = this.$.textAreaMessage.value;
                    if(!text || text.length < 1) return;

                    if(this.behaviorType){

                        switch (this.behaviorType) {
                            case app.constants.MESSAGE_SENT:
                                this._sendMessage(text);
                                break;

                            case app.constants.USER_ENGAGE_REQUEST:
                                this._requestEngage(text);
                                break;

                            case app.constants.USER_REFER:
                                this._sendRefer(text);
                                break;

                            case app.constants.MARKETPLACE_POST_REPLY:
                                this._sendMarketplace(text);
                                break;

                            case app.constants.DISCUSSION_POST_REPLY:
                                this._sendDiscussionReply(text);
                                break;

                            case app.constants.PROJECT_POST_REPLY:
                                this._sendProjectReply(text);
                                break;

                        }
                        this.$.textAreaMessage.value = '';
                    }
                },

                _saveElection: function() {

                    var days = 10;
                    var name = "_elt_ent";
                    var value = this.$.check_enter_msg.checked;
                    if (days) {
                        var date = new Date();
                        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                        var expires = "; expires=" + date.toGMTString();
                    } else
                        var expires = "";
                    document.cookie = name + "=" + value + expires + "; path=/";
                    this._showSend();
                },

                _showSend:function() {

                    var sendIcon = this.$.sendIcon;
                    var checkEnter = this.$.checkEnter;

                    if (this.$.check_enter_msg && this.$.check_enter_msg.checked) {
                        sendIcon.classList.add("hidden");
                    } else if(!app.mobile){
                        sendIcon.classList.remove("hidden");
                    }
                },

                _readCookie:function() {

                    var name = "_elt_ent";
                    var nameEQ = name + "=";
                    var ca = document.cookie.split(';');
                    for (var i = 0; i < ca.length; i++){
                        var c = ca[i];
                        while (c.charAt(0) == ' ')
                            c = c.substring(1, c.length);
                        if (c.indexOf(nameEQ) == 0) {
                            this.$.check_enter_msg.checked = c.substring(nameEQ.length, c.length) == 'true';
                        }
                    }
                    this._showSend();
                },

                _count: function(){

                    var enters = 0;
                    var sendButton;

                    if(app.mobile){
                        sendButton = this.$.sendButtonMobile;
                    }else{
                        sendButton = this.$.sendButton;
                    }

                    var disabled = this.$.textAreaMessage.value ? this.$.textAreaMessage.value.length == 0 : true;

                    if(disabled && sendButton.classList.contains("send")){

                        sendButton.classList.remove("send");
                        sendButton.classList.add("sendDisabled");
                        sendButton.disabled = true;

                    }else if(!disabled && sendButton.classList.contains("sendDisabled")){

                        sendButton.classList.remove("sendDisabled");
                        sendButton.classList.add("send");
                        sendButton.disabled = false;
                    }
                },

                init: function(){
                    this.$.textAreaMessage.value = '';
                    this.$.textAreaMessage.$.input.$.textarea.focus();
                    this._count();
                },

                value: function(val){

                    if(val!=null){
                        this.$.textAreaMessage.value = val;
                        return;
                    }
                    return this.$.textAreaMessage.value;
                },

                setReferBehavior: function(objTargetUsers, referSelected, hideInnerSendButton){

                    this._validateData(objTargetUsers);
                    this._validateData(referSelected);

                    this.objTargetUsers = [objTargetUsers];
                    this.objTargetUsers.push(referSelected);

                    if (hideInnerSendButton) {
                        this._hideInnerSendButton();
                    }

                    this.behaviorType = app.constants.USER_REFER;
                    this.label = "Hey " + this.objTargetUsers[0].name + ', ';
                    this.placeholder = "Write your message here..";
                },

                setEngageBehavior: function(objTargetUsers, hideInnerSendButton){

                    this._validateData(objTargetUsers);
                    this.objTargetUsers = [objTargetUsers];

                    if (hideInnerSendButton) {
                        this._hideInnerSendButton();
                    }

                    this.behaviorType = app.constants.USER_ENGAGE_REQUEST;
                    this.label = "Hey " + this.objTargetUsers[0].name;
                    this.placeholder = "Message";
                },

                setMessageBehavior: function(objTargetUsers, hideInnerSendButton){

                    if(objTargetUsers){
                        this._validateData(objTargetUsers);
                        this.objTargetUsers = [objTargetUsers];
                    }

                    if (hideInnerSendButton) {
                        this._hideInnerSendButton();
                    }

                    this.behaviorType = app.constants.MESSAGE_SENT;
                    this.label = '';
                    this.placeholder = 'Write your message here..';
                },

                setMarketplaceBehavior: function(objTargetUsers, itemTitle){

                    this._validateData(objTargetUsers);
                    this.objTargetUsers = [objTargetUsers];

                    this.behaviorType = app.constants.MARKETPLACE_POST_REPLY;
                    this.subject = itemTitle;

                    this.label = "";
                    this.placeholder = "Message";
                },

                setDiscussionBehavior: function(){
                    this.behaviorType = app.constants.DISCUSSION_POST_REPLY;
                    this.label = "";
                    this.placeholder = "Your discussion reply";
                },

                setProjectBehavior: function(){
                    this.behaviorType = app.constants.PROJECT_POST_REPLY;
                    this.label = "";
                    this.placeholder = "Your project reply";
                },

                setThread(thread){
                    this.thread = thread;
                },

                /*
                 * Validate and set an array of recipients
                 */
                setRecipients(recipients){

                    this.objTargetUsers = [];
                    for (var i = 0; i < recipients.length; i++) {
                        this._validateData(recipients[i]);
                        this.objTargetUsers.push(recipients[i]);
                    }
                },

                _validateData: function(objUser){

                    if(!objUser.user_id || (parseInt(objUser.user_id) !== objUser.user_id) ){
                        throw Error('invalid user_id');
                    }
                    if(!objUser.name || (objUser.name+'' !== objUser.name) ){
                        throw Error('invalid name');
                    }
                    if(!objUser.picture){
                        objUser.picture = "";
                    }
                    if(!objUser.location){
                        objUser.location = "";
                    }
                },

                _cleanObject: function(item){

                    if(item.user_id instanceof Array) item.user_id = item.user_id[0];
                    if(item.name instanceof Array) item.name = item.name[0];
                    if(item.location instanceof Array) item.location = item.location[0];
                    if(item.picture instanceof Array) item.picture = item.picture[0];
                    if(item.position instanceof Array) item.position = item.position[0];
                },

                _sendMessage: function(text){

                    if(!this.objTargetUsers || this.objTargetUsers.length < 1) return;

                    var message = this._createMessage(text);

                    if(this.objTargetUsers.length > 1){
                        message.type = app.threadTypes.GROUP;
                    }else{
                        message.type = app.threadTypes.P2P;
                    }

                    // use the thread type if it does exists, for the new message
                    if(this.thread){
                        message.type = this.thread.type;
                        message.thread_id = this.thread.thread_id;
                    }

                    //Socket create request and send message
                    app.socket.emit('new-message', message);
                    this.fire('message-sent', message);
                    this._final(text);
                },

                _requestEngage: function (text) {

                    //Message to send
                    text = "Hey "+ this.objTargetUsers[0].name +", "+ text;
                    var message = this._createMessage(text);
                    message.type = app.threadTypes.P2P;

                    //Socket create request and send message
                    app.socket.emit('connection-requested', message);
                    this.fire('engage-sent', message);
                    this._final(text);
                },

                _sendRefer: function (text) {

                    var messageText = '';

                    messageText = 'Hey '+ this.objTargetUsers[1].name +', '+ session.getName() +' is requesting your endorsement on the matter below. Please show your support. <br><br>';
                    messageText += 'Hey '+ this.objTargetUsers[0].name +', <br>'+ text;

                    var message = this._createMessage(messageText);
                    message.type = app.threadTypes.REFER;
                    message.subject = 'Introduction';
                    message.notFromMessage = true;

                    app.socket.emit('new-message', message);
                    this.fire('refer-sent', message);
                    this._final(text);
                },

                _sendMarketplace: function(text){

                    var messageText = '';

                    messageText = 'Hi ' +
                        this.objTargetUsers[0].name +
                        '! I am interested on your item: "' +
                        this.subject + '\n\n' +  text;

                    var message = this._createMessage(messageText);
                    message.type = app.threadTypes.MARKETPLACE;
                    message.subject = '';
                    message.notFromMessage = true;

                    app.socket.emit('new-message', message);
                    this.fire('message-sent', message);
                    this._final(text);
                },

                _sendDiscussionReply: function(text){
                    this.fire('discussion-replied', {text:text});
                },

                _sendProjectReply: function(text){
                    this.fire('project-replied', {text:text});
                },

                _final: function(text){

                    // log activity
                    this._logActivity(text);
                    //clear the text area
                    this.$.textAreaMessage.value = '';
                },

                 _logActivity: function(detail){

                    var targetUsersData = {};
                    targetUsersData.users_id = [this.objTargetUsers[0].user_id];
                    targetUsersData.users_name = [this.objTargetUsers[0].name];
                    targetUsersData.users_pic = [this.objTargetUsers[0].picture];

                    for (var i = 1; i < this.objTargetUsers.length; i++) {
                        targetUsersData.users_id.push(this.objTargetUsers[i].user_id);
                        targetUsersData.users_name.push(this.objTargetUsers[i].name);
                        targetUsersData.users_pic.push(this.objTargetUsers[i].picture);
                    }

                    app.logActivity(this.behaviorType, this.objTargetUsers[0].user_id, detail, targetUsersData);
                },

                _createMessage: function(text){

                    var sender_id = session.getUser();
                    var sender_name = session.getName();
                    var sender_pic = session.getPicture() ? session.getPicture() : '';
                    var sender_location = session.getLocation() ? session.getLocation() : '';

                    var recipient_id = parseInt(this.objTargetUsers[0].user_id);
                    var recipient_name = this.objTargetUsers[0].name;
                    var recipient_pic = this.objTargetUsers[0].picture;
                    var recipient_location = this.objTargetUsers[0].location;

                    var message = {
                        thread_id: null,
                        users: [sender_id ,recipient_id],
                        names: [sender_name, recipient_name],
                        pics: [sender_pic, recipient_pic],
                        locations: [sender_location, recipient_location],
                        sender_id: sender_id,
                        sender_name: sender_name,
                        message: text,
                        subject: ""
                    };

                    for (var i = 1; i < this.objTargetUsers.length; i++) {

                        message.users.push(parseInt(this.objTargetUsers[i].user_id));
                        message.names.push(this.objTargetUsers[i].name);
                        message.pics.push(this.objTargetUsers[i].picture);
                        message.locations.push(this.objTargetUsers[i].location);
                    }

                    message.date_frontend = (new Date()).getTime();

                    return message;
                },

            });
        })();
    </script>
</dom-module>
