<link rel="import" href="in-step.html">
<dom-module id="in-stepper">
    <template>
        <style>

            /*.search-container {
                display: none;
                margin-bottom: 10px;
                margin-top: 10px;
                height: 36px;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                -ms-flex-pack: center;
                display: -ms-flexbox;
                display: -webkit-flex;
                -webkit-justify-content: center;
                justify-content: center;
                color: var(--accent-color);
                border-left: none
            }*/
            .remove-button {
                color: rgba(138, 122, 111, 0.35);
                margin-left: 0;
                padding-left: 0;
                padding-right: 0;
                padding-top: 15px;
                text-align: left;
                width: 24px;
            }
            /*.reset-button {
                margin-left: 0;
                padding-left: 0;
                padding-top: 16px;
                text-align: left;
                color: rgba(138, 122, 111, 0.9);
                width: 90px;
                font-size: 13px;
                font-weight: 300;
            }*/

        </style>

        <div class="row start-xs">

            <template id="itemsList" is="dom-repeat" items="{{selectedElements}}" as="element">
                <div style="padding: 0;">
                    <in-step element="[[element]]" behavior="{{element.behavior}}"></in-step>
                </div>
            </template>

            <div id="actionButtonsContainer" class="col-xs-3 col-md-2">
                <div class="row">
                    <div class="col-xs">
                        <paper-icon-button id="clearIconButton"
                                           class="remove-button"
                                           on-tap="_onClearIconButtonTap"
                                           icon="in-icon-set:close"></paper-icon-button>
                    </div>
                    <!-- <div class="col-xs">
                        <paper-button class="reset-button" on-tap="_onRemoveAllTap">reset</paper-button>
                    </div> -->
                </div>
            </div>

        </div>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'in-stepper',

                properties: {
                    selectedElements:{
                        type: Array,
                        value: []
                    }
                },
                observers: [
                    '_selectedElementsArrayChange(selectedElements.length)'
                ],

                // _onRemoveAllTap: function(){
                //     this.fire('remove-all-categories');
                // },

                _selectedElementsArrayChange: function (selectedElementsLength) {

                    this._setStateItem(selectedElementsLength);

                    if(selectedElementsLength == 0){
                        this.$.actionButtonsContainer.setAttribute('hidden', true);
                        return;
                    }
                    this.$.actionButtonsContainer.removeAttribute('hidden');
                },

                _setStateItem: function (length) {
                    switch (length){
                        case 1:
                            this.set('selectedElements.0.behavior', 'unique');
                            break;
                        case 2:
                            this.set('selectedElements.0.behavior', 'first');
                            this.set('selectedElements.1.behavior', 'last');
                            break;
                        default:
                            this.set('selectedElements.'+ (length - 2) +'.behavior', 'inner');
                            this.set('selectedElements.'+ (length - 1) +'.behavior', 'last');
                    }
                },

                deteleItem: function (item) {
                    this.arrayDelete('selectedElements')
                },

                _onClearIconButtonTap: function () {
                    this.fire('in-stepper-delete-item', this.pop('selectedElements')) ;
                    this.fire('in-stepper-search', this.selectedElements)

                },

                _onSearchButtonTap: function () {
                    this.fire('in-stepper-search', this.selectedElements)
                }
            });
        })();
    </script>
</dom-module>
