<dom-module id="in-step">
    <template>
        <style include="shared-style">

            .step-container {
                display: flex;
                background-color: #FAFAFA;
                margin-bottom: 10px;
                margin-top: 10px;
                height: 26px;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                -ms-flex-pack: center;
                border-top: solid 1px var(--light-primary-color);
                border-bottom: solid 1px var(--light-primary-color);
            }
            .border-item-unique {
                border-left: solid 1px var(--light-primary-color);
                border-right: solid 1px var(--light-primary-color);
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 10px;
            }
            .border-item-first{
                border-left: solid 1px var(--light-primary-color);
                padding-left: 15px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .border-item-inner {

            }
            .border-item-last{
                border-right: solid 1px var(--light-primary-color);
                padding-right: 15px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            .circle {
                opacity: 1;
                background-color: var(--accent-color);
                color: white;
                width: 16px;
                height: 16px;
                border-radius: 50px;
                font-size: 12px;
                padding: 1px;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                margin: 0 10px;
            }
            .line{
                border-bottom: solid 1px #d2cece;
                -webkit-flex: 1 1 auto;
                flex: 1 1 auto;
                margin-left: 8px;
                margin-right: 8px;
                width: 18px;
            }
            .line-front{
                border-bottom: solid 1px var(--light-primary-color);
                -webkit-flex: 1 1 auto;
                flex: 1 1 auto;
                max-width: 10px;
            }
            .line-hidden{
                display: none;
            }
            .label{
                font-size: 12px;
                font-weight: 300;
            }

        </style>

        <div class="step-container" id="stepContainer">
            <!-- <div id="fronLine" class="line-front"></div> -->
            <!-- <div class="circle">{{element.level}}</div> -->
            <span class="label">{{element.label}}</span>
            <div id="line" class="line"></div>
        </div>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'in-step',

                properties: {
                    label:{
                        value:'hola'
                    },
                },

                observers: [
                    '_elementChange(element.behavior)'
                ],

                _computeIsIconBadge: function(icon) {
                    return icon.length > 0;
                },

                _elementChange: function () {

                    switch (this.element.behavior){
                        case "unique":
                            this.toggleClass('border-item-first', false, this.$.stepContainer);
                            this.toggleClass('border-item-last', false, this.$.stepContainer);
                            this.toggleClass('border-item-inner', false, this.$.stepContainer);
                            this.toggleClass('border-item-unique', true, this.$.stepContainer);
                            // this.toggleClass('line-hidden', true, this.$.fronLine);
                            // this.toggleClass('line-front', false, this.$.fronLine);

                            this.toggleClass('line-hidden', true, this.$.line);
                            return;
                        case "first":
                            this.toggleClass('border-item-last', false, this.$.stepContainer);
                            this.toggleClass('border-item-inner', false, this.$.stepContainer);
                            this.toggleClass('border-item-unique', false, this.$.stepContainer);
                            this.toggleClass('border-item-first', true, this.$.stepContainer);
                            // this.toggleClass('line-hidden', true, this.$.fronLine);
                            // this.toggleClass('line-front', false, this.$.fronLine);

                            this.toggleClass('line-hidden', false, this.$.line);
                            break;
                        case "inner":
                            this.toggleClass('border-item-first', false, this.$.stepContainer);
                            this.toggleClass('border-item-last', false, this.$.stepContainer);
                            this.toggleClass('border-item-unique', false, this.$.stepContainer);
                            this.toggleClass('border-item-inner', true, this.$.stepContainer);
                            // this.toggleClass('line-hidden', true, this.$.fronLine);
                            // this.toggleClass('line-front', false, this.$.fronLine);

                            this.toggleClass('line-hidden', false, this.$.line);
                            break;
                        case "last":
                            this.toggleClass('border-item-first', false, this.$.stepContainer);
                            this.toggleClass('border-item-inner', false, this.$.stepContainer);
                            this.toggleClass('border-item-unique', false, this.$.stepContainer);
                            this.toggleClass('border-item-last', true, this.$.stepContainer);
                            // this.toggleClass('line-hidden', true, this.$.fronLine);
                            // this.toggleClass('line-front', false, this.$.fronLine);

                            this.toggleClass('line-hidden', true, this.$.line);
                            break;
                    }

                }
            });
        })();
    </script>
</dom-module>
