 <link rel="import" href="../../../styles/landing-styles.html">


<dom-module id="signup-new-user">
    <template>
        <style is="custom-styles" include="landing-styles">
            :host {
                display: block;
            }
            .invalid{
                color: red;
            }

            .error-message-container{
                margin-bottom: 50px;
                font-size: 20px;

            }
            paper-input {
                text-transform: none;
            }
            gold-email-input {
                text-transform: none;
            }
            .start-button {
                margin-top: 10px !important;
            }
            .footer-text {
                padding: 0 10px 0 10px;
                color: rgba(0, 0, 0, 0.49);
                z-index: 2;
                background-color: #FFF;
            }
            .row-social {
                border-top: solid 1px rgba(0, 0, 0, 0.22);
                margin-top: -8px;
                z-index: 1;
            }
            .social-container,
            .footer-container{
                margin-top: 50px;
            }
            .get-started-container{
                margin-top: 25px;
            }
            .facebook{
                background-color: var(--google-blue-500);
                width: 45px;
                height: 45px;
                margin-right: 15px;
                margin-left: 15px;

            }
            .gplus{
                background-color: var(--google-red-500);
                width: 45px;
                height: 45px;
                margin-right: 15px;
                margin-left: 15px;
            }
            .twitter{
                background-color: var(--twitter-color);
                color: #FFF;
                width: 45px;
                height: 45px;
                margin-right: 15px;
                margin-left: 15px;
            }
            .guide-title{
                color: var(--accent-color);
            }
            .guide-text-container{
                margin-bottom: 50px !important;
            }
            .help-action{
                color: var(--accent-color);
            }
            .help-action:hover{
                cursor: pointer;
            }
            .cancel-button {
                color: #696969;
                border-radius: 8px;
                text-transform: none;
            }

            @media all and (max-width: 48em) {
                .captcha-box {
                    margin-left: 0px !important;
                }
            }


        </style>

        <div class="row">
            <div class="col-xs-12 nav-buttons-container">
                <paper-icon-button class="active" disabled></paper-icon-button>
                <paper-icon-button class="disabled" disabled></paper-icon-button>
                <paper-icon-button class="disabled" disabled></paper-icon-button>
            </div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 guide-text-container">
                <!-- <span class="guide-title">Sign up for beta access!</span> -->
                <span  class="guide-title">Setup your <br/> account</span>
            </div>

        </div>

        <div class="row" id="errorMessageContainer" hidden>
            <div class="col-xs-12 center-xs error-message-container">

                <span id="errorMessage"  class="invalid">
                    {{errorMessage}}
                    <span class="help-action" hidden id="goLogin" on-tap="_onGoLoginTap"> Go to login </span>
                </span>

            </div>
        </div>


        <div class="row center-xs start-md">

            <div class="col-xs-12" id="nameContainer">

                <paper-input id="name"
                             label="What's your name? (permanent)"
                             min="2" max="40"
                             required></paper-input>
            </div>

            <div class="col-xs-12">
                <gold-email-input required
                                  error-message="Invalid email"
                                  id="email"
                                  label="And your email address?"></gold-email-input>
            </div>

        </div>

        <div class="row center-xs" style="margin-top:10px">
            <div class="col-xs" style="height:90px;">
                <re-captcha id="captchaElement" class="captcha-box"
                            sitekey="6LcWNBUUAAAAAN97rB17NtNSy57YyqS2xLT7a3T1"></re-captcha>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 get-started-container">
                <!-- <paper-button id="buttonSave" on-tap="_saveUser" class="landing-buttons" raised label="Signup">Request beta</paper-button> -->
                <paper-button id="buttonSave"
                              disabled
                              on-tap="_saveUser"
                              class="disabled-button start-button"
                              raised
                              label="Signup">Start</paper-button>
            </div>
        </div>

       <div class="row footer-container">
            <div class="col-xs-12">
                <span class="footer-text">or sign up with</span>
            </div>
        </div>

       <div class="row row-social">
            <div class="col-xs-12 social-container">
                <paper-icon-button icon="in-icon-set:twitter" class="twitter" on-tap="_signupTwitter"></paper-icon-button>
                <!--<paper-icon-button class="facebook"></paper-icon-button>-->
                <!--<paper-icon-button class="gplus"></paper-icon-button>-->
            </div>
       </div>

       <div class="row">
           <div class="col-xs-12 get-started-container">
               <a href="/">
                   <paper-button class="cancel-button">Cancel</paper-button>
               </a>
           </div>
       </div>



        <div class="row center-xs" style="margin-top:10px;">
            <div class="col-xs-2">
                <paper-spinner class="login-spinner"  id="spinner"></paper-spinner>
            </div>
        </div>

        <iron-ajax id="ajaxSaveUser"
                   method="POST"
                   params = {{params}}
                   handle-as="json"
                   last-error="{{error}}"
                   last-response = {{saveUserResponse}}
                   on-response = "_saveUserHandlerResponse"
                   on-error="_onSaveUserError"></iron-ajax>


    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'signup-new-user',
                properties: {
                    params: {
                        type: Object,
                        observer:"_changeParams"
                    },
                    showErrorMessage:{
                        type: Boolean,
                        vale: true
                    }
                },

                listeners:{
                    'keypress': '_onKeyPress',
                    'captchaElement.captcha-response':'_onCaptchaResponse',
                    'captchaElement.captcha-expired':'_onCaptchaExpired',
                },

                attached: function(){

                    this.$.captchaElement.style.marginLeft = '20px';
                    this._enableButton();
                },

                _onCaptchaExpired: function () {
                    this.isHuman = false;
                    this._toggleButton();
                },

                _onCaptchaResponse: function (e) {
                    this.isHuman = true;
                    this._toggleButton();
                },

                _signupTwitter: function(){

                    document.location = app.apinode + "/login/twitter";
                },

                _saveUser: function () {

                    if(!this.$.email.validate() || !this.$.name.validate()) return;

                    this.$.spinner.active = true;
                    this.$.buttonSave.disabled = true;

                    var params = {
                        name: this.$.name.value,
                        email: this.$.email.value
                    };

                    this.$.ajaxSaveUser.body = JSON.stringify(params);
                    this.$.ajaxSaveUser.url = app.apinode + "/users";
                    this.$.ajaxSaveUser.generateRequest();
                },
                _saveUserHandlerResponse: function () {


                    this.$.spinner.active = false;
                    this.$.buttonSave.disabled = false;

                    var nextPage = '/confirm/' + this.saveUserResponse.c + '/' + this.$.email.value;
                    this.$.email.value = "";
                    this.$.name.value = "";

                    page(nextPage);
                },

                _onSaveUserError: function (e) {

                    this.$.spinner.active = false;
                    this.$.buttonSave.disabled = false;
                    this.errorMessage = "Email already in use ";
                    this.$.errorMessageContainer.removeAttribute("hidden");
                    this.$.goLogin.removeAttribute("hidden");
                },

                _onKeyPress: function (e) {

                    if (e.key == 'Enter') {
                        this._saveUser();
                    }
                },

                _enableButton: function () {
                    this.$.buttonSave.className =
                        this.$.buttonSave.className.replace('disabled-button','landing-buttons');

                    this.$.buttonSave.removeAttribute('disabled');
                },

                _disableButton: function () {
                    this.$.buttonSave.className =
                        this.$.buttonSave.className.replace('landing-buttons','disabled-button');

                    this.$.buttonSave.setAttribute('disabled', true);
                },

                _toggleButton: function () {

                    if(this.isHuman){
                        this._enableButton();
                    }else{
                        if(!this.$.buttonSave.disabled){
                            this._disableButton();
                        }

                    }
                    this._enableButton();
                },

                _changeParams: function () {
                    this.$.name.value = "";
                    this.$.goLogin.setAttribute("hidden", true);

                    if(this.route != 'new-user' || !this.params.email){
                        this.$.errorMessageContainer.setAttribute("hidden", true);
                        this.$.email.value = "";
                        return;
                    }
                        this.errorMessage = "Seems you don't have an account. Complete the questions below to get started.";
                        this.$.email.value = this.params.email;
                        this.$.errorMessageContainer.removeAttribute("hidden");
                },

                _onGoLoginTap: function () {
                    page('/login/'+ this.$.email.value);
                }
            });
        })();
    </script>
</dom-module>
