<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="icon-animable">
  <template>
    <style>
      :host {
        display: inline;
      }
    </style>
    <iron-iconset name="my-icons" src="../main-header/social-icons.png" width="60" size="30"
                  icons="face-gray twitter-gray face twitter">
    </iron-iconset>
    <iron-icon on-mouseenter="_prueba" id="icon1" icon="my-icons:face-gray"></iron-icon>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'icon-animable',

      behaviors: [
        Polymer.NeonAnimationRunnerBehavior
      ],

      properties: {
        animationConfig: {
          type: Object,
          value: function() {
            return {
//               'entry': [{
//                  name: 'fade-in-animation',
//                  node: this,
//                  timing: {delay: 0}
//                }],
              'exit': [{
                name: 'fade-out-animation',
                node: this
              }]
            }
          }
        },
      },
      _prueba: function () {
        console.log('hover en prueba');
        this.playAnimation('exit');
      }
    });
  })();
  </script>
</dom-module>
