<link rel="import" href="../../../bower_components/zalk-img-crop/zalk-img-crop.html">
<link rel="stylesheet" href="croppie.css" />
<script src="croppie.js"></script>
<dom-module id="in-img-crop">
    <template>
        <style>

            #spotlight{
                width: 100%;
                height: 400px;
            }
            .circularImage{
                border-radius: 50%;
            }
            /*.croppie-container .cr-slider-wrap {
                width: 50% !important;
                max-width: 50% !important;
            }*/
            .imageToCropContainer /deep/ .cr-slider {
                width: 50% !important;
                max-width: 50% !important;
                background-color: #FC7108;
            }
            .button-action {
                color: #FC7108;
            }
            paper-fab {
                position: fixed;
                bottom: 23px;
                right: 23px;
            }
            .zoom-text {
                margin-top:50px;
                margin-bottom:50px;
                font-size: 14px;
                color: #9c1f00;
            }


        </style>
        <input id="fileInput" hidden type="file" on-change="_onChangeSpotlight">

        <!-- <paper-fab icon="in-icon-set:crop" id="fabCrop" mini
                   title="Crop"
                   elevation="3"
                   on-tap="_crop"></paper-fab> -->


        <section id="panelControl">

            <paper-icon-button id="backButton"
                               icon="in-icon-set:arrow-back"
                               on-tap="_onBackButtonTap"></paper-icon-button>

            <paper-icon-button hidden$="[[hideUploadPic]]"
                               class="button-action"
                               id="loadImageButton"
                               icon="in-icon-set:add-a-photo"
                               on-tap="_onTapLoadImageButton"></paper-icon-button>

            <paper-icon-button id="cropButton"
                               class="button-action"
                               icon="in-icon-set:crop"
                               hidden$="[[hideCroppButton]]"
                               on-tap="_onCropButtonTap"></paper-icon-button>

            <paper-icon-button id="doneButton"
                               class="button-action"
                               icon="in-icon-set:save"
                               hidden$="[[hideDoneButton]]"
                               on-tap="_onDoneButtonTap"></paper-icon-button>

            <paper-icon-button id="cancelButton"
                               icon="in-icon-set:clear"
                               hidden$="[[hideCancelButton]]"
                               on-tap="_onCancelButtonTap"></paper-icon-button>

        </section>

        <iron-pages attr-for-selected="id" selected="{{sectionSelected}}">

            <section id="defaultImageSection">
                <img id="defaultImage"  class="image-cropped" src$="[[defaultImageSrc]]">
            </section>

            <section id="cropperSection">
                <div id="imageToCropContainer"  class="imageToCropContainer"></div>
                <div class="zoom-text">Zoom using the bar and tap on the image to drag it</div>
            </section>

            <section id="previewSection">
                <img id="spotlightCrop" class="image-cropped">
            </section>

        </iron-pages>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'in-img-crop',

                properties: {
                    /**
                     * Variable que verifica si se ha hecho un crop sobre la imagen,
                     * para poder seleccionar o no el preview
                     */
                    isImageCropped:{
                        type: Boolean,
                        value: false,
                    },
                    /**
                     * Variable que indica si la imagen se cargó
                     */
                    isImageLoaded:{
                        type: Boolean,
                        value: false,
                    },

                    hideCancelButton:{
                        type: Boolean,
                        value: true
                    },
                    /**
                     * Variable usada para controlar el iron-pages que muestra las imagesn
                     */
                    sectionSelected:{
                        type:String,
                        value: 'defaultImageSection'
                    },
                    /**
                     * Nombre del evento que se va a dispar
                     */
                    eventName:{
                        type:String,
                        value: 'crop-done'
                    },
                    externalClosing:{
                        type:Boolean,
                        value: false
                    },
                    cropperHeight:{
                        type: String,
                        value:'350px'
                    },
                    viewPortHeight:{
                        type: Number,
                        value: 300
                    },
                    viewPortWidth:{
                        type: Number,
                        value: 300
                    },
                    viewPortType:{
                        type: String,
                        value: ''
                    },
                    imageDefaultWidth: {
                        type: String,
                        value: '300px'
                    },
                    imageDefaultHeight:{
                        type: String,
                        value: '300px'
                    },
                    fullViewPort:  {
                        type: Boolean,
                        value: false
                    }

                },

                observers:[
                    '_onSectionSelectedChange(sectionSelected)',
                ],

                _initElement : function () {

                    if (app.mobile) {
                        this.viewPortHeight = 200;
                        this.viewPortWidth = 200;

                        this.imageDefaultHeight = '200px';
                        this.imageDefaultWidth = '200px';

                        this.cropperHeight = '250px';
                    }


                    this.$.imageToCropContainer.style.height = this.cropperHeight;

                    this.$.defaultImage.style.height = this.imageDefaultHeight;
                    this.$.defaultImage.style.width = this.imageDefaultWidth;


                    this.$.spotlightCrop.style.height = this.viewPortHeight;
                    this.$.spotlightCrop.style.width = this.viewPortWidth;


                    this.toggleClass('circularImage', this.viewPortType == "circle", this.$.spotlightCrop);
                    this.toggleClass('circularImage', this.viewPortType == "circle", this.$.defaultImage);

                    if (!this.ImageCropper) {

                        this.ImageCropper = new Croppie(this.querySelector('.imageToCropContainer'),
                                {

                                    viewport: {
                                        width: this.viewPortWidth,
                                        height: this.viewPortHeight,
                                        type: this.viewPortType

                                    }
                                });
                    }


                },

                _onBackButtonTap: function () {
                    if (this.sectionSelected == 'defaultImageSection') {
                        this.fire('exit-image-cropper')
                    }

                    this.resetNavigation();
                },

                _onChangeSpotlight: function (e) {
                    var reader = new FileReader();
                    var file = e.currentTarget.files[0];

                    reader.addEventListener("load", function () {

                        this.ImageCropper.bind({
                            url: reader.result
                        });
//                        this.ImageCropper = reader.result;
                        this.set('sectionSelected', 'cropperSection');
                    }.bind(this), false);

                    if (file) {
                        reader.readAsDataURL(file);
                    }
                },

                _onCropButtonTap: function () {

                    this.ImageCropper.result({
                        type: 'canvas',
                        size: 'viewport'
                    }).then(function (resp) {
                        this.$.spotlightCrop.src = resp;
                        this.set('sectionSelected', 'previewSection');

                    }.bind(this));

                },

                _onTapLoadImageButton: function () {
                    this._openUploadFile();
                },

                _openUploadFile: function () {

                    var fileInput = this.$.fileInput;
                    fileInput.value = null;

                    if(fileInput && document.createEvent) { // sanity check
                        var evt = document.createEvent('MouseEvents');
                        evt.initEvent('click', true, false);
                        fileInput.dispatchEvent(evt);
                    }
                },

                _onSectionSelectedChange: function () {

                    switch (this.sectionSelected){
                        case 'defaultImageSection':
                            this.hideCroppButton = true;
                            this.hideCancelButton = true;
                            this.hideDoneButton = true;
                            this.hideUploadPic = false;
                            break;
                        case 'cropperSection':
                            this.hideCroppButton = false;
                            this.hideCancelButton = true;
                            this.hideDoneButton = true;
                            this.hideUploadPic = true;
                            break;
                        case 'previewSection':
                            this.hideCroppButton = true;
                            this.hideCancelButton = false;
                            this.hideDoneButton = false;
                            this.hideUploadPic = true;
                            break;
                    }
                },

                _onDoneButtonTap: function () {
                    this._sendImage();
                    if(!this.externalClosing){
                        this.resetNavigation();
                    }
                },
                _onCancelButtonTap: function () {
                    this.set('sectionSelected', 'cropperSection');
                },

                _sendImage: function () {
                    //disparo un evento con la imagen editada como data
                    this.fire(this.eventName, this._getImage());
                },

                _getImage: function () {
                    return this.$.spotlightCrop.src;
                },

                resetNavigation: function () {
                    this.set('sectionSelected', 'defaultImageSection');
                },
            });
        })();
    </script>
</dom-module>
