<dom-module id="dashboard-level">
    <template>

        <style include="shared-styles">

            .orange {
                color: var(--accent-color);
            }
            .tab-label {
                @apply(--small-text);
                color: var(--primary-text-color);
            }
            paper-tabs{
                --paper-tabs-selection-bar-color: var(--accent-color);
                background-color: white;
                margin-left: 20px;
            }
            paper-tabs paper-tab{
                --paper-tab-ink: white;
            }
            .trophy {
                height: 40px;
                width: 40px;
            }
            .card-content {
                margin: 0 20px 20px 20px;
                @apply(--small-text);
                background-color: white;
            }
            .page-container {
                margin-left: 20px;
                background-color: white;
                padding: 30px 10px;
            }


            /* Tooltip container */
            .tooltip {
                -webkit-transition: all 1s; /* Safari */
                transition: all 1s;
                position: relative;
                /*display: inline-block;*/
                opacity: 0.7;
            }

            /* Tooltip text */
            .tooltip .tooltiptext {
                -webkit-transition: all 1s; /* Safari */
                transition: all 1s;

                /*visibility: hidden;*/
                width: 500px;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 15px;
                border-radius: 4px;

                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
                top: -5px;
                left: 60px;

                opacity: 0;
            }

            /* Show the tooltip text when you mouse over the tooltip container */
            .tooltip:hover .tooltiptext {
                /*visibility: visible;*/
                opacity: 0.8;
                transition: all 1s;
            }

            .no-tooltip:hover .tooltiptext{
                opacity: 0;
            }

            @media all and (max-width: 48em) {

                paper-tabs{
                    margin-right: 5px !important;
                    margin-left: 0px;
                }

                .page-container{
                    margin-right: 5px !important;
                    margin-left: 0px;
                }

                .tooltip{
                    visibility: hidden;
                }

            }


        </style>

        <paper-tabs attr-for-selected="page-selected" selected="{{pageLevelSelected}}">
            <paper-tab page-selected="levels" focused><div><span class="tab-label">Your Level Badges</span></div></paper-tab>
            <paper-tab page-selected="store"><div><span class="tab-label">Points Store</span></div></paper-tab>
        </paper-tabs>

        <iron-pages attr-for-selected="page-selected" selected="{{pageLevelSelected}}">
            <section page-selected="levels">
                <div class="page-container">

                    <template is="dom-repeat" items="{{summaries}}">

                            <div class="card-content row middle-xs">

                                <div class$="{{_computeClass(item)}}" >

                                    <img class="trophy" src$="{{_computeLevelImage(item)}}">
                                    <span class="tooltiptext">
                                        You've reached <b>{{_computeLevelDescription(item.level)}}</b>
                                        and earned <b>{{totalPoints}}</b> points total! The more you engage the more points you earn.
                                    </span>
                                    </img>
                                </div>

                                <template is="dom-if" if="{{_isLevelCompleteOrCurrent(item)}}">
                                    <div class="col-xs-4">
                                        {{_computeLevelDescription(item.level)}}
                                    </div>
                                </template>

                                <template is="dom-if" if="{{!_isLevelCompleteOrCurrent(item)}}">
                                    <div class="col-xs-4 disabled-text">
                                        {{_computeLevelDescription(item.level)}}
                                    </div>
                                </template>

                                <template is="dom-if" if="{{_isLevelComplete(item)}}">
                                    <div class="col-xs-4 orange">
                                        Level completed !
                                    </div>
                                </template>

                                <template is="dom-if" if="{{!_isLevelCompleteOrCurrent(item)}}">
                                    <div class="col-xs-4 disabled-text">
                                        Level locked
                                    </div>
                                </template>

                                <template is="dom-if" if="{{_isCurrentLevel(item)}}">
                                    <div class="col-xs-4 orange">
                                        Current level
                                    </div>
                                </template>


                                <template is="dom-if" if="{{_isLevelComplete(item)}}">
                                    <div class="col-xs-2 orange">
                                        +{{item.levelPoints}} pts.
                                    </div>
                                </template>

                                <template is="dom-if" if="{{!_isLevelComplete(item)}}">
                                    <div class="col-xs-2 disabled-text">
                                        {{item.levelPoints}} pts.
                                    </div>
                                </template>

                            </div>

                    </template>

                </div>

            </section>

            <section page-selected="store">
                <div class="page-container">
                    <div class="row middle-xs center-xs">
                        <div class="col-xs-12 orange">
                            <p>The points store is coming soon!</p>
                            <p>You'll be able to exchange points for services and upgrades on the platform.</p>
                            <P>We'll keep you posted!</P>
                        </div>
                    </div>
                </div>
            </section>

        </iron-pages>
        <br/><br/><br/><br/>
    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'dashboard-level',
                properties: {
                    pageLevelSelected: {
                        type: String,
                        value: 'levels'
                    },
                    currentLevel:{
                        type: Number
                    },
                    gameSelected: String
                },
                _computeLevelDescription: function(level){

                    if(this.gameSelected == 'profile'){
                        switch(level){
                            case 1:
                                return 'Starter';
                            case 2:
                                return 'Junior';
                            case 3:
                                return 'Mid-Level';
                            case 4:
                                return 'Senior';
                            case 5:
                                return 'All-Star';
                        }
                    }else{
                        return 'Level ' + level;
                    }
                },

                _isLevelComplete: function(item){
                    return item.done == true;
                },

                _isLevelCompleteOrCurrent: function(item){
                    return (item.done == true || item.level == this.currentLevel);
                },

                _isCurrentLevel: function(item){
                    return item.level == this.currentLevel;
                },

                _computeLevelImage: function(item){

                    var fileName = "../../../images/dashboard/";

                    if(item.done){
                        fileName += this.gameSelected + '-level-' + item.level + '.svg';
                    }else{
                        fileName += 'level-locked.svg';
                    }

                    return fileName;

                },
                _computeClass: function(item){

                    if(item.done){
                        return "col-xs-2 tooltip";
                    }
                    return "col-xs-2 tooltip no-tooltip";

                }
            });
        })();

    </script>
</dom-module>
