<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tab.html">
<!--<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">-->
<link rel="import" href="../expertise-item/expertise-item.html">
<link rel="import" href="../../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../in-new-expertise/in-new-expertise.html">

<dom-module id="expertise-panel">
    <template>
        <style>
            :host {
            }
            .tabs-container{
                position: fixed;
                z-index: 11;
                top: 0px;
                margin-left: 0px;
                background-color: #FFF;
            }
            paper-tab{
                --paper-tab-ink: var(--ink-color);
            }
            paper-tabs{
                --paper-tabs-selection-bar-color: var(--accent-color);
                margin-bottom: 10px;
            }
            .fab-done {
                @apply(--float-action-button);
                z-index: 10;

            }

            iron-pages{
                margin-top: 58px;
            }

        </style>

        <div id="tabsContainer" class="row tabs-container">
            <div class="col-xs-12">

                <paper-tabs selected="{{selected}}">
                    <paper-tab expertise="skills">
                        Skills
                    </paper-tab>
                    <paper-tab expertise="beats">
                        Beats
                    </paper-tab>
                    <paper-tab expertise="focus">
                        Focus
                    </paper-tab>
                </paper-tabs>
            </div>
        </div>

        <iron-pages id="expertisePages"  selected="[[selected]]">

            <section expertise="skills">

                <template is="dom-repeat"id="skillsList" items="[[skills]]" as="skill">
                    <expertise-item expertise="{{skill}}"></expertise-item>
                </template>

                <in-new-expertise id="newSkill"
                                  tag-type="{{constants.skill}}"
                                  label="Skill"></in-new-expertise>

                <paper-fab icon="in-icon-set:chevron-right"
                           title="New"
                           class="button-animated fab-done"
                           elevation="3"
                           on-tap="_next"></paper-fab>

            </section>

            <section expertise="beats">

                <template is="dom-repeat" id="beatsList" items="[[beats]]" as="beat">
                    <expertise-item expertise="{{beat}}"></expertise-item>
                </template>

                <in-new-expertise id="newBeat"
                                  tag-type="{{constants.beat}}"
                                  label="Beat"></in-new-expertise>

                <paper-fab icon="chevron-right"
                           title="New"
                           class="button-animated fab-done"
                           elevation="3"
                           on-tap="_next"></paper-fab>

            </section>

            <section expertise="focus">

                <template is="dom-repeat" id="focusList" items="[[focus]]" as="focus">
                    <expertise-item expertise="{{focus}}"></expertise-item>
                </template>

                <in-new-expertise id="newFocus"
                                  tag-type="{{constants.focus}}"
                                  label="Focus"></in-new-expertise>
                <paper-fab
                        icon="in-icon-set:done"
                        title="New"
                        class="button-animated fab-done"
                        elevation="3"
                        on-tap="_saveExpertises"></paper-fab>
            </section>

        </iron-pages>

        <iron-ajax id="loadSkills"
                   handle-as="json"
                   last-response="{{skillsResponse}}"
                   on-response="_skillsCallback"></iron-ajax>

        <iron-ajax id="loadBeats"
                   handle-as="json"
                   last-response="{{beatsResponse}}"
                   on-response="_beatsCallback"></iron-ajax>

        <iron-ajax id="loadFocus"
                   handle-as="json"
                   last-response="{{focusResponse}}"
                   on-response="_focusCallback"></iron-ajax>

        <iron-ajax id="saveExpertises"
                   method="POST"
                   handle-as="json"
                   last-response = {{saveExpertisesResponse}}
                   on-response = "_saveExpertisesHandlerResponse">
    </iron-ajax>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'expertise-panel',

                properties: {
                    selected:{
                        type: Number,
                        value: 0
                    },
                    expertises: {
                        type:Array,
                        value:[]
                    },
                    constants:{
                        type: Object,
                        value:{
                            skill: 1,
                            beat: 2,
                            focus:3
                        }
                    }
                },

                ready: function () {

                    window.addEventListener('resize', function () {
                        this.$.tabsContainer.style.width = this.$.expertisePages.offsetWidth + 'px';
                    }.bind(this));

                    this.addEventListener('expertise-selected', function (e) {
                        this._expertiseSelected(e.detail);
                    }.bind(this));

                    this.addEventListener('expertise-unselected', function (e) {
                        this._expertiseUnselected(e.detail);
                    }.bind(this));

                    this.addEventListener('new-expertise', function (e) {
                        this._addNewExpertise(e.detail);
                    }.bind(this))
                },

                attached: function () {
                    window.addEventListener("load", function () {

                        this.$.tabsContainer.style.width = this.$.expertisePages.offsetWidth + 'px';

                        /*Carga el elemento que hace la llamada ajax para cargar las listas de expertises*/
                        var url = app.apiphp + "/main/tags/method/get.tags";
                        this.$.loadSkills.url = url;
                        this.$.loadSkills.params = {"type": 1};
                        this.$.loadSkills.generateRequest();

                        this.$.loadBeats.url = url;
                        this.$.loadBeats.params = {"type": 2};
                        this.$.loadBeats.generateRequest();

                        this.$.loadFocus.url = url;
                        this.$.loadFocus.params = {"type": 3};
                        this.$.loadFocus.generateRequest();

                    }.bind(this));
                },

                _expertiseSelected: function (objExpertise) {

                    this.expertises.push(objExpertise);
                },

                _expertiseUnselected: function (tag_id) {

                    for (var i  in this.expertises) {
                        if (this.expertises[i].tag_id === tag_id) {
                            this.splice('expertises', i, 1);
                        }
                    }
                },
                _addNewExpertise: function (expertise) {

                    switch (expertise.type_id){
                        case "1":
                            this.push('skills', expertise);
                            break;
                        case "2":
                            this.push('beats', expertise);
                            break;
                        case "3":
                            this.push('focus', expertise);
                            break;
                    }
                    this._expertiseSelected(expertise);
                },
                _next: function () {
                    this.selected = this.selected + 1;
                },

                _saveExpertises: function () {

                    this.$.saveExpertises.url= app.apiphp + "/main/users";

                    var c =  this.params.c;
                    if (!c) {
                        c = app.params.c;
                    }

                    var params = {
                        method: 'save.expertises',
                        expertises: JSON.stringify(this.expertises),
                        c: c
                    };
                    this.$.saveExpertises.params = params;
                    this.$.saveExpertises.generateRequest();

                },

                _saveExpertisesHandlerResponse: function () {

                    if (this.saveExpertisesResponse.status === 200) {
                        page('/');
                    } else {
                        //            var app = document.querySelector('#app');
                        //            app.showToast(this.saveUserResponse.message);
                    }


                },

                /*función que carga el array correspondiente al tipo de expertise*/
                _skillsCallback: function () {

                    if (this.skillsResponse.data[0].type_id == 1) {
                        this.skills = this.skillsResponse.data;
//                        this.skillsList.fire('iron-resize');
                    }
                },

                _beatsCallback: function () {

                    if (this.beatsResponse.data[0].type_id == 2) {
                        this.beats = this.beatsResponse.data;
//                        this.beatsList.fire('iron-resize');
                    }
                },

                _focusCallback: function () {
                    if (this.focusResponse.data[0].type_id == 3) {
                        this.focus = this.focusResponse.data;
//                        this.focusList.fire('iron-resize');
                    }
                },
            });
        })();
    </script>
</dom-module>
