<link rel="import" href="../project-list/project-list.html">
<link rel="import" href="../project-detail/project-detail.html">
<link rel="import" href="../project-new/project-new.html?v1.52">

<!-- NO BORRAR pending tests -->
<!-- <link rel="import" href="../../in/in-panel/in-panel.html"> -->

<dom-module id="project-main">
    <template>

        <style>

        </style>

    <!-- <in-panel id="rightPanel"> -->
        <!-- <discussion-detail params="{{params}}" id="discussionDetail"
                           route="{{route}}"
                           route_project="{{route_project}}"></discussion-detail> -->

    <!-- </in-panel> -->

    <iron-pages attr-for-selected="data-route" selected="{{route_project}}">

        <section data-route="list">
            <project-list id="projectList"
                             filter="{{filter}}"
                             params="{{params}}"
                             route_project="{{route_project}}"></project-list>
        </section>

        <section data-route="detail">
            <project-detail params="{{params}}" id="projectDetail"
                               route="{{route}}"
                               route_project="{{route_project}}"></project-detail>
        </section>

        <section data-route="new">
            <project-new params="{{params}}"
                            route="{{route}}"
                            route_project="{{route_project}}"></project-new>
        </section>

    </iron-pages>



    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'project-main',

                properties: {
                    route_project:{
                        observer:"_routeChanged"
                    }
                },

                _routeChanged: function(){
                    if(this.route_project == 'project'){
                        // this.$.rightPanel.open();
                    }
                }
            });
        })();

    </script>
</dom-module>
