<link rel="import" href="../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-menu-button/paper-menu-button.html">
<!--<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">-->
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">

<dom-module id="in-dropdown">
    <style is="custom-style">
        .content-dropdown {
            margin-top: 8px;
        }

        paper-input{
            position: relative;
            float: left;
            width: 50%;
            margin: -8px auto;
        }
        paper-menu-button{
            position: relative;
            float: left;
            margin-top: 10px;
            border-bottom: solid #777 1px;
            padding: 10px 0 0 2px;
        }
        paper-menu-button[disabled]{
            border-bottom: solid #C8C8C8 1px !important;
        }
        paper-menu{
            width: 150px;
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
        paper-item:hover{
            background: #EBEBEB;
            cursor: pointer;
        }
        paper-icon-button{
            padding: 0 0 0 10px;
        }
    </style>
    <template>
        <div class="content-dropdown">

            <paper-input
                    selection$="{{selection}}"
                    id="dropDownInput"
                    label="{{label}}"
                    value="{{selectionName::input}}"
                    ></paper-input>

            <paper-menu-button
                    id="menuButton"
                    vertical-align="{{alignMenu}}">

                <paper-icon-button
                        icon="icons:arrow-drop-down"
                        class="dropdown-trigger in-line"></paper-icon-button>

                <paper-menu
                        class="dropdown-content"
                        id="prueba">

                    <template
                            is="dom-repeat"
                            items="[[items]]"
                            as="item"
                            id="dynamicComponent">

                        <paper-item
                                label$="{{item.value}}"
                                class$="{{_markedClass(markedClass, item.mark)}}"
                                on-click="selectionChanged">{{item.value}}</paper-item>
                    </template>

                </paper-menu>
            </paper-menu-button>
            <br>
            <br>
            <br>
        </div>
    </template>
    <script>

        Polymer({
            is: "in-dropdown",//nombre del elemento
            properties: { // agrego las propiedades del nuevo elemento
                selectionName:{
                    observer:'observeValue'
                },
                isUpdated:{
                    type: Boolean,
                    value: false,
                    observer:'_updatingItems'
                },
                data: {
                    type:String
                },

                items:{
                    type: Array,
                    value:[],
                    notify:true,
                    observer:'_dataChange'
                },
                readonly:{
                    type:String,
                    value:'readonly',
                    notify:true,
                    observer:'_setReadOnly'
                },
                internalId:{
                    type:String
                },
                prop: String,
                default: String,
                idUpdate: String,
                urlUpdate: String,
                eventChange: String,
                alignMenu: String
            },

            _dataChange: function () {
//                this.querySelector('#dynamicComponent').render();
            },

            _setReadOnly: function () {

            },

            attached: function () {
                this.querySelector('paper-input').setAttribute('id', this.internalId + 'Input');
                var el = this;
                if(el.data === undefined) return;

                var data = JSON.parse(el.data);


                if(data.items != ""){
                el.items = [];
                this.querySelector('#dynamicComponent').render();
                    for ( var x in data.items) {
                        this.push('items', data.items[x]);
                    }
                }else {
                    return;
                }


                el.label = data.label;

                var label = data.label.toLowerCase().replace(":","");
                el.id = data.id;
                el.menuId = "menu-"+data.id;


                el.idUpdate = data.idUpdate;
                el.urlUpdate = data.urlUpdate;

                if(el.default != "" && el.default != "null" && el.default != undefined){
                    var defaultValue = JSON.parse(el.default);
                    $("#"+el.id).attr("selection", defaultValue.id);
                    el.selectionName = defaultValue.description;
                }

                if(el.alignMenu == "" || el.alignMenu == "null" || el.alignMenu == undefined){
                    el.alignMenu = "top";
                }

                var input = $("#"+data.id);
                $(input).attr('name', data.id);

                var properties = false;

                if(el.prop != undefined && el.prop != ""){
                    properties = JSON.parse(el.prop).properties;
                }

                if(properties){
                    $.each(properties, function(){

                        var el_to_prop = $(this.element);
                        var el_properties = this.properties;

                        $.each(el_properties, function(){
                            for (var p in this){
                                if(p == 'class'){
                                    $(el_to_prop).addClass(this[p]);
                                }else{
                                    $(el_to_prop).attr(p, this[p]);
                                }

                                if(p == "required"){
                                    $(el_to_prop).attr('error-message', "El campo "+label+" es requerido");
                                }

                                if(p == 'disabled'){
                                    $("#"+el.menuId).attr("disabled", "disabled");
                                }

                            }
                        });
                    });
                }

                //si se estan editando los combos se elimina el disable
                if(el.selectionName != ""){
                    $("#"+data.id).removeAttr("disabled");
                    $("#menu-"+data.id).removeAttr("disabled");
                }

                $(el).find(".focused-line").css("background", "transparent");
            },
            observeValue: function(){

                if(this.selectionName != "" && this.idUpdate != "" && this.idUpdate != undefined){
                    var url = this.urlUpdate + $("#"+this.id).attr('selection');
                    var idUpdate = this.idUpdate;
                    var element = document.querySelector("#in-dropdown-"+idUpdate);

                    if(element.items == undefined){
                        return;
                    }
                    element.items = [];
//                    $.each(element.items, function(){
//                        element.splice('items', 0, 1);
//                    });

//                    var input = $("#"+idUpdate);
//                    input.val("");
//                    input.removeAttr("selection");

                    this.resetSelection(idUpdate);
                    $.get(url, function(response){
                        var values = JSON.parse(response);
                        $.each(values, function(ind, obj){
                            element.push('items', obj);
                        });

                        element.isUpdated = true;

                        $("#"+idUpdate).removeAttr("disabled");
                        $("#menu-"+idUpdate).removeAttr("disabled");
                    });
                }
            },

            setDefault: function () {
                if(this.default != "" && this.default != "null" && this.default != undefined){
                    var defaultValue = JSON.parse(this.default);
                    $("#"+this.id).attr("selection", defaultValue.id);
                    this.selectionName = defaultValue.description;
                }

            },
            selectionChanged: function(e) {
                this.selection = this.$.dynamicComponent.itemForElement(e.target).id;
                $("#"+this.id).attr("selection", this.selection);
                this.selectionName = this.$.dynamicComponent.itemForElement(e.target).value;


                if(this.eventChange != undefined && this.eventChange != ""){
                    window[this.eventChange]();
                }

                var data = {
                    element: this.id,
                    id: this.$.dynamicComponent.itemForElement(e.target).id,
                    value: this.$.dynamicComponent.itemForElement(e.target).value,
                    mark:e.model.__data__.item.mark
                };

                this.fire('data-selected', data);

            },
            _updatingItems: function () {

                if(this.isUpdated){
                    this.isUpdated = false;
                }
            },

            _markedClass: function (markedClass, mark) {
                if(!mark){
                    return ' ';
                }
                return markedClass;
            },

            resetSelection: function (id) {
                var input = $("#"+id);
                input.val("");
                input.removeAttr("selection");
            }


        });

    </script>

</dom-module>