<dom-module id="counter-animation">
    <template>
        <style>

            :host{
                display: block;
                width: 100%;
                margin: 20px;

                --counter-value-color: --primary-text-color;
                --counter-value-size: 23px;
                --counter-value-weight: 100;

                --counter-label-color: --primary-text-color;
                --counter-label-size: 12px;
                --counter-label-weight: 100;
                --height-value-containar: 30px;
                --value-transition: all 1s;

                --value-sup: {
                    font-size: 14px;
                    color: var(--accent-color);
                };
                --value-text: {
                    font-size: var(--small-text);
                    color: var(--accent-color);
                };
            }
            .value{
                height: var(--height-value-containar);
                font-size:var(--counter-value-size);
                color: var(--counter-value-color);
                font-weight: var(--counter-value-weight);
                transition: var(--value-transition);
                opacity: 1;
            }
            .progress{
                height: var(--height-value-containar);
                font-size:calc(var(--counter-value-size)/2);
                color: var(--counter-value-color);
                font-weight: var(--counter-value-weight);
                opacity: 0.6;
            }
            .label{
                font-size:var(--counter-label-size);
                color: var(--counter-label-color);
                font-weight: var(--counter-label-weight);
            }
            sup{
                @apply(--value-sup);
            }
            .text{
                @apply(--value-text);
            }
        </style>

        <div id="value" align="center" class="value">
            {{goal}}<sup>{{super}}</sup><span class="text">{{text}}</span>
        </div>
        <div id="label" align="center" class="label">
            {{label}}
        </div>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'counter-animation',
                properties: {
                    value:{
                        type: Number,
                        value:0,
                        observer:"_observerValue"
                    },
                    label:{
                        type: String,
                        value:""
                    },
                    seconds:{
                        type: Number,
                        value: 1
                    },
                    interval:{
                        type: Number,
                        value: 0
                    },
                    transition:{
                        type: Boolean,
                        value: false
                    }
                },
                _observerValue: function(){

                    if(this.value == 0){
                        this.goal = this.value;
                        return;
                    }

                    var delay = this.interval == 0 ? Math.ceil((this.seconds * 1000) / this.value) : this.interval;
                    this.goal=0;

                    if(this.transition ){
                        this.$.value.className = this.$.value.className.replace('value','progress');
                        setTimeout(function(){
                            this.$.value.className = this.$.value.className.replace('progress','value');
                        }.bind(this),(delay*this.value)-1000);
                    }else
                        this.$.value.className = this.$.value.className.replace('progress','value');

                    for( var i = 0; i < this.value; i++){
                        if(i !== this.value-1){
                            setTimeout(function(){
                                this.goal++;
                            }.bind(this),delay*(1+i));
                        }else{
                            setTimeout(function(){
                                this.goal = this.value;
                            }.bind(this),delay*(1+i));
                        }
                    }
                },
                _refresh: function(){
                    this._observerValue();
                }

            });
        })();

    </script>
</dom-module>
