<link rel="import" href="../dashboard-counters/counter-animation.html">

<dom-module id="dashboard-counters">
    <template>

        <style include="shared-styles">

            :host{
                margin-right: 10px;
            }
            .card{
                @apply(--small-text);
                margin-left: 10px;
                padding-left: 20px;
                padding-right: 20px;
                width: calc(100% - 35px);
            }

            .counter-ranking{
                --counter-value-color: var(--accent-color);
            }

            counter-animation{
                margin-bottom: 45px;
                margin-top: 35px;
                position:relative;
                left:-20px;
            }

        </style>
        <paper-card class="card"  elevation="0" align="center">

            <!-- <div align="center">
                <counter-animation super="th" transition="true" class="counter-ranking" value="{{ranking}}" label="Current Ranking"></counter-animation>
            </div> -->

            <div align="center">
                <counter-animation transition="true" value="{{discussions}}" label="Posts in Discussions"></counter-animation>
            </div>
            <div align="center">
                <counter-animation transition="true" value="{{engaged}}" label="Journalists Engaged"></counter-animation>
            </div>
            <div align="center">
                <counter-animation transition="true" value="{{following}}" label="Following"></counter-animation>
            </div>
            <div align="center">
                <counter-animation transition="true" value="{{followers}}" label="Followers"></counter-animation>
            </div>
            <div align="center">
                <counter-animation transition="true" value="{{marketplace}}" label="Posts in Gear"></counter-animation>
            </div>

        </paper-card>
    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'dashboard-counters',
                properties: {
                    userCounters:{
                        observer: '_countersChanged'
                    }
                },

                _countersChanged: function(){

                    if(this.userCounters == null) return;

                    this.engaged = 0;

                    this.userCounters.forEach(function(item, index){

                        switch(item.type){
                            case app.constants.DISCUSSION_POST:
                                this.discussions = item.counter;
                                break;

                            case app.constants.USER_ENGAGE_ACCEPT_TARGET:
                                this.engaged += item.counter;
                                break;

                            case app.constants.USER_FOLLOW:
                                this.following = item.counter;
                                break;

                            case app.constants.USER_FOLLOWED:
                                this.followers = item.counter;
                                break;

                            case app.constants.MARKETPLACE_POST:
                                this.marketplace = item.counter;
                                break;

                        }

                    }.bind(this));


                    this.ranking = 1624;
                    //this.rankingTotal = 19218;
                }
            });
        })();

    </script>
</dom-module>
