<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">

<!-- <link rel="import" href="/bower_components/vaadin-combo-box/vaadin-combo-box.html"> -->

<dom-module id="left-menu-connect">
    <template>
        <style>

            :host {
                @apply(--font-jouture);
            }
            .menu-container {
                overflow-x: hidden;
                overflow-y: visible;
                position: fixed;
                top: 150px;
                width: 160px;
                margin-left: 17px;
            }
            .menu-container::-webkit-scrollbar{
                width: 5px;
            }
            .menu-container::-webkit-scrollbar-thumb{
                border-radius: 5px;
                background: #FFF;
            }
            .menu-container:hover::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: var(--accent-color);
            }
            paper-menu {
                padding-top: 0;
                padding-bottom: 0;
            }
            paper-menu paper-menu paper-item{
                font-size: 13px;
                font-weight:400;
                --paper-item-min-height: {
                    min-height: 80px;
                };
            }
            paper-item {
                font-size:14px;
                font-weight:500;
                cursor: pointer;
                text-transform: capitalize;
            }
            paper-checkbox.orange {
                --paper-checkbox-checked-color: var(--accent-color);
                --paper-checkbox-checked-ink-color: var(--accent-color);
                --paper-checkbox-unchecked-color: #888;
                --paper-checkbox-unchecked-ink-color: #888;
                --paper-checkbox-label-color: var(--accent-color);
            }
            .very-small{
                @apply(--very-small-text);
            }
            .paper-input {
                --paper-input-container-input: {
                    font-size: 14px;
                    font-weight:400;
                };
                --paper-input-container-focus-color: var(--accent-color);
            }
            paper-checkbox {
                /* Double-sized Checkboxes */
                -ms-transform: scale(0.8);
                /* IE */
                -moz-transform: scale(0.8);
                /* FF */
                -webkit-transform: scale(0.8);
                /* Safari and Chrome */
                -o-transform: scale(0.8);
                /* Opera */
            }
            .location-container {
                margin-left: 24px;
            }
            .combo-countries {
                width: 135px;
                margin-top: -24px;
            }
            .truncate {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            #izq {
                position: fixed;
                width: 0;
                height: 0;
                border-top: 3px solid transparent;
                border-right: 6px solid #333;
                border-bottom: 3px solid transparent;
                z-index: 1000;
                opacity: 0;
                transition: all 0.5s;
            }
            #tooltipj {
                position: fixed;
                background-color: #333;
                border-radius:4px;
                height: 21px;
                z-index: 100000;
                opacity: 0;
                transition: all 0.5s;
            }
            #tip{
                opacity: 1;
                color: white;
                margin-top: 4px;
                margin-bottom: 4px;
                margin-left: 10px;
                margin-right: 10px;
                font-size:13px;
                font-weight:500;
                cursor: pointer;
                transition-duration: 1s;
            }
            .corner-counter{
                background-color: var(--accent-color);
                color: white;
                height: 14px;
                width: 14px;
                border-radius: 14px;
                font-size: 12px;
                font-weight: bold;
                padding: 2px;
                visibility: hidden;
            }
            .corner-counter div{
                position:relative;
                margin-top: -4px;
            }
            paper-item .item{
                width: 160px;
            }
            in-tag{
                --in-tag-background-color: var(--accent-light-color);
                --in-tag-font-color: white;
                --in-tag-font-weight: 400;
                --in-tag-icon-color: white;
            }

            @media only screen and (max-width: 48em) {
                .menu-container {
                    margin-left: 0px !important;
                    /*width: 140px !important;*/
                }
                .location-container {
                    margin-left: 8px;
                }
                .combo-countries {
                    font-size: 10px !important;
                }
            }

        </style>

        <div id="izq"></div>

        <div class="row location-container">
            <div class="col-xs-12">
                <iron-pages selected="{{countryPages}}">

                  <in-combo-box id="countries"
                                title="Filter by Country"
                                class="combo-countries"
                                placeholder="The World"
                                item-label-path="longName"
                                item-value-path="shortName"
                                items="{{listCountries}}"></in-combo-box>



                <in-tag id="countryTag"></in-tag>

                </iron-pages>
            </div>
        </div>

        <div id="tooltipj">
            <span id="tip"></span>
        </div>

        <div class="menu-container" id="mainMenu">

            <paper-menu>

                <paper-submenu  id="subBeat">

                    <paper-item id="subItemBeat" on-tap="_resizeMenu"  class="menu-trigger">
                        <div class="item">
                            Beats
                        </div>
                        <div>
                            <div id="counterBeat" class='corner-counter center-xs'><div></div></div>
                        </div>
                    </paper-item>

                    <paper-menu multi class="menu-content">

                        <template is="dom-repeat" items="[[listBeats]]" as="item">

                            <paper-item on-mouseout="_divOut"
                                        on-mouseover="_itemOver"
                                        on-mouseout="_itemOut"
                                        on-tap="_itemTap">

                                <paper-checkbox id="cb_[[item.name]]"
                                                class="orange truncate"
                                                on-tap="_checkTap"></paper-checkbox>

                                <span class="truncate">[[item.name]]</span>

                            </paper-item>

                        </template>

                    </paper-menu>

                </paper-submenu>

            </paper-menu>

            <paper-menu multi id="subFocus">
                <paper-submenu>

                    <paper-item id="subItemFocus"  on-tap="_resizeMenu" class="menu-trigger">

                        <div class="item">
                            Focus
                        </div>

                        <div>
                            <div id="counterFocus" class='corner-counter center-xs'><div></div></div>
                        </div>

                    </paper-item>

                    <paper-badge for="subItemFocus" id="badgeFlowers" label="3"></paper-badge>

                    <paper-menu class="menu-content">

                        <template is="dom-repeat" items="[[listFocus]]" as="item">

                            <paper-item on-mouseout="_divOut"
                                        on-mouseover="_itemOver"
                                        on-mouseout="_itemOut"
                                        on-tap="_itemTap">

                                <paper-checkbox id="cb_[[item.name]]"
                                                class="orange truncate"
                                                on-tap="_checkTap"></paper-checkbox>

                                <span class="truncate">[[item.name]]</span>

                            </paper-item>

                        </template>

                    </paper-menu>

                </paper-submenu>

            </paper-menu>

            <paper-menu multi id="subSkills">
                <paper-submenu>
                    <paper-item id="subItemSkills" on-tap="_resizeMenu" id="itemBottom" class="menu-trigger">
                        <div class="item">
                            Skills
                        </div>
                        <div>
                            <div id="counterSkills" class='corner-counter center-xs'><div></div></div>
                        </div>
                    </paper-item>

                    <paper-badge for="subItemSkills" id="badgeFollwers" label="3"></paper-badge>

                    <paper-menu class="menu-content">

                        <template is="dom-repeat" items="[[listSkills]]" as="item">

                            <paper-item on-mouseout="_divOut"
                                        on-mouseover="_itemOver"
                                        on-mouseout="_itemOut"
                                        on-tap="_itemTap">

                                <paper-checkbox id="cb_[[item.name]]"
                                                class="orange truncate"
                                                on-tap="_checkTap"></paper-checkbox>

                                <span class="truncate">[[item.name]]</span>
                            </paper-item>

                        </template>

                    </paper-menu>

                </paper-submenu>

            </paper-menu>

        </div>

        <iron-ajax id="ajaxSubMenus"
                   method="GET"
                   with-credentials
                   handle-as="json"
                   on-response="_ajaxSubmenuCallback">
        </iron-ajax>


    </template>

    <script>

        (function () {
            'use strict';

            Polymer({
                is: 'left-menu-connect',
                properties: {
                    listBeats: {
                        type: Array
                    },
                    listFocus: {
                        type: Array
                    },
                    listSkills: {
                        type: Array
                    },
                    filter: {
                        type: String,
                        observer: '_observerFilter'
                    },
                    mitest: {
                        type: String,
                        notify: true
                    },
                    route: {
                        type: String,
                        observer: '_observerRoute'
                    }
                },

                ready: function () {

                    this.$.countryTag.addEventListener('in-tag-removed', function (e) {
                        this.selectedCountry = null;
                        this.$.countries.value = null;
                        this.$.countries.cancel();
                        this._callFilter();
                        this.countryPages = "0";
                        // Este evento controla la leyenda del pais seleccionado en el collaborate
                        this.fire('search-country-changed', '');
                    }.bind(this));

                    window.addEventListener("resize", function () {
                        this._resizeMenu();
                    }.bind(this));

                    this.$.countries.addEventListener('selected-item-changed', function (e) {

                        if(!e.detail.value){
                            return;
                        }

                        this.countryPages = "1";
                        this.selectedCountry = e.detail.value.shortName;
                        // Este evento controla la leyenda del pais seleccionado en el collaborate

                        const eventParams = {shortName:e.detail.value.shortName, longName:e.detail.value.longName};
                        this.fire('search-country-changed', eventParams);

                        var itemTag = {label: e.detail.value.longName, value: e.detail.value.shortName};
                        this._showSelectedCountry(itemTag);
                        this._callFilter();

                    }.bind(this));
                },

                attached: function(){
                    this.set('listCountries', app.countries);
                },

                _showSelectedCountry: function(itemTag){
                    this.$.countryTag.item = itemTag;
                },

                // Mostrar el pais del usuario en session en el filtro de países.
                _setCurrentCountry: function(){

                    //Obtener el codigo de pais de session
                    var shortCountry = app.session.getCountry();
                    var longCountry = '';

                    this.selectedCountry = null;
                    this.countryPages = "0";
                    if(!shortCountry)return;

                    this.selectedCountry = shortCountry;
                    this.countryPages = "1";

                    longCountry = app.getCountryByShortname(app.session.getCountry());
                    var itemTag = {label: longCountry, value: shortCountry};
                    this._showSelectedCountry(itemTag);

                    this.fire('search-country-changed', {shortName:shortCountry, longName:longCountry});
                },

                _observerRoute: function () {

                    if (this.route != "connect")
                        return true;

                    // Setear el valor del filtro de paises
                    this._setCurrentCountry();
                    // this._callFilter();

                    if(!this.listSkills || this.listSkills.length == 0){

                        this.$.ajaxSubMenus.url = app.apinode + '/tags/get.filters';
                        this.$.ajaxSubMenus.generateRequest();
                    }
                },

                _observerFilter: function () {
                    if (this.route !== 'connect') {
                        return;
                    }
                    this._callFilter();
                },

                _ajaxSubmenuCallback: function(e){

                    var items = e.detail.response;

                    var listSkills = [];
                    var listBeats = [];
                    var listFocus = [];

                    for (var i = 0; i < items.length; i++) {
                        if(items[i].type[0] == app.constants.TAG_TYPE_SKILL){
                            listSkills.push(items[i]);
                            continue;
                        }
                        if(items[i].type[0] == app.constants.TAG_TYPE_BEAT){
                            listBeats.push(items[i]);
                            continue;
                        }
                        if(items[i].type[0] == app.constants.TAG_TYPE_FOCUS){
                            listFocus.push(items[i]);
                            continue;
                        }
                    }

                    this.set('listSkills', listSkills);
                    this.set('listBeats', listBeats);
                    this.set('listFocus', listFocus);
                },

                _itemTap: function (e) {
                    var item = e.currentTarget;
                    e.stopPropagation();
                    e.preventDefault();
                    if (e.gesture)
                        e.gesture.stopPropagation();
                    if (e.gesture)
                        e.gesture.preventDefault();
                    var cb = item.querySelector("paper-checkbox");
                    cb.checked = !cb.checked;
                    item.className = item.className.replace('iron-selected', '');
                    item.className += !cb.checked ? '' : ' iron-selected';
                    cb.focus();
                    this._callFilter();
                    var countBeat = document.querySelectorAll('#subBeat paper-checkbox[aria-checked="true"]').length;
                    var countFocus = document.querySelectorAll('#subFocus paper-checkbox[aria-checked="true"]').length;
                    var countSkills = document.querySelectorAll('#subSkills paper-checkbox[aria-checked="true"]').length;
                    var cornerBeat = document.querySelector('#counterBeat');
                    var cornerFocus = document.querySelector('#counterFocus');
                    var cornerSkills = document.querySelector('#counterSkills');
                    if (countBeat) {
                        cornerBeat.style.visibility = "visible";
                        cornerBeat.querySelector("div").textContent = countBeat;
                    } else {
                        cornerBeat.style.visibility = "hidden";
                    }
                    if (countFocus) {
                        cornerFocus.style.visibility = "visible";
                        cornerFocus.querySelector("div").textContent = countFocus;
                    } else {
                        cornerFocus.style.visibility = "hidden";
                    }
                    if (countSkills) {
                        cornerSkills.style.visibility = "visible";
                        cornerSkills.querySelector("div").textContent = countSkills;
                    } else {
                        cornerSkills.style.visibility = "hidden";
                    }
                },

                _checkTap: function (e) {

                    e.stopPropagation();
                    e.preventDefault();
                    if (e.gesture)
                        e.gesture.stopPropagation();
                    if (e.gesture)
                        e.gesture.preventDefault();
                    var cb = e.currentTarget;
                    var item = e.currentTarget.parentNode;
                    item.className = item.className.replace('iron-selected', '');
                    item.className += !cb.checked ? '' : ' iron-selected';
                    this._callFilter();
                    var countBeat = document.querySelectorAll('#subBeat paper-checkbox[aria-checked="true"]').length;
                    var countFocus = document.querySelectorAll('#subFocus paper-checkbox[aria-checked="true"]').length;
                    var countSkills = document.querySelectorAll('#subSkills paper-checkbox[aria-checked="true"]').length;
                    var cornerBeat = document.querySelector('#counterBeat');
                    var cornerFocus = document.querySelector('#counterFocus');
                    var cornerSkills = document.querySelector('#counterSkills');
                    if (countBeat) {
                        cornerBeat.style.visibility = "visible";
                        cornerBeat.querySelector("div").textContent = countBeat;
                    } else {
                        cornerBeat.style.visibility = "hidden";
                    }

                    if (countFocus) {
                        cornerFocus.style.visibility = "visible";
                        cornerFocus.querySelector("div").textContent = countFocus;
                    } else {
                        cornerFocus.style.visibility = "hidden";
                    }

                    if (countSkills) {
                        cornerSkills.style.visibility = "visible";
                        cornerSkills.querySelector("div").textContent = countSkills;
                    } else {
                        cornerSkills.style.visibility = "hidden";
                    }
                },

                _resizeMenu: function () {

                    var newHeight = (window.innerHeight - 195) + 'px';
                    var section = document.querySelector('#mainMenu');
                    section.style.height = newHeight;
                },

                _itemOut: function (e) {
                    var tooltip = document.querySelector("#tooltipj");
                },

                _itemOver: function (e) {
                    var pItem = e.currentTarget;
                    var pSpn = pItem.querySelector("span");

                    var tooltip = document.querySelector("#tooltipj");
                    var izq = document.querySelector("#izq");
                    if (pSpn.offsetWidth > 84) {
                        var rect = pItem.getBoundingClientRect();

                        izq.style.opacity = "0.7";
                        tooltip.style.opacity = "0.7";

                        tooltip.style.top = (rect.bottom - 25) + "px";
                        tooltip.style.left = (rect.left + 32 + 115) + "px";

                        izq.style.top = (rect.bottom - 18) + "px";
                        izq.style.left = (rect.left + 32 + 109) + "px";

                        var spn = document.querySelector("#tooltipj span");
                        spn.textContent = pSpn.textContent;

                    } else {
                        izq.style.opacity = "0";
                        tooltip.style.opacity = "0";
                    }
                },

                _divOut: function () {
                    var tooltip = document.querySelector("#tooltipj");
                    var izq = document.querySelector("#izq");
                    izq.style.opacity = "0";
                    tooltip.style.opacity = "0";
                },

                _callFilter: function (){

                    // whatever the user typed
                    if (this.filter && this.filter.length > 0) {
                        this.searchValue = this.filter;
                    }else{
                        this.searchValue = null;
                    }

                    // The skills-beats-focus selected using the left filters
                    this.selectedExperience = [];
                    var checks = document.querySelectorAll('paper-checkbox[aria-checked="true"]');
                    var filterTagName;
                    for (var i = 0; i < checks.length; i++) {

                        filterTagName = checks[i].id.replace("cb_", "");
                        this.selectedExperience.push(filterTagName);
                    }
                    this._callSearch();
                },

                /*
                 * Called from connect-search when clicking on the categories items
                 */
                filterByCategories: function(categories){
                    this.selectedCategories = categories;
                    this._callSearch();
                },

                _callSearch: function(){

                    const params = {'tags':this.selectedCategories,
                                    'experience':this.selectedExperience,
                                    'searchValue': this.searchValue,
                                    'country': this.selectedCountry };

                    this.searchValue = null;
                    var ajax = document.querySelector('#ajaxConnectList');
                    if (!ajax) {
                        return;
                    }
                    ajax.body = JSON.stringify(params);
                    ajax.url = app.apinode + "/journalists/match";
                    ajax.generateRequest();
                },

            });
        })();
    </script>
</dom-module>
