<link rel="import" href="../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html">

<dom-module id="in-mobile-message">
    <template>
        <style include="paper-dialog-shared-styles"></style>
        <style include="shared-styles">

            :host{
                background-color: #FFF;
                z-index: 501 !important;
                width:800px;
                max-height: 700px;
                @apply(--small-text);
                @apply(--in-mobile-message)
            }
            .close-button{
                right: 10px;
                color: var(--disabled-text-color);
            }
            .close-button-top{
                right: -17px;
                z-index: 1;
                top: 6px;
                color: var(--disabled-text-color);
            }
            paper-card {
                display: none;
                width: 100%;
                margin: 0;
            }
            paper-fab{
                z-index: 2;
                right: 25px;
            }
            .show-mobile-fab{
                display: none;
            }
            .content-container{
                margin-top: 30px;
            }
            .close-button-top-container{
                position: relative;
                text-align: right;
                margin-top: 0px !important;
            }
            .hide-mobile-message{
                display: block;
            }
            .show-mobile-message{
                display: none;
            }

            @media only screen and (max-width: 48em) {
                :host{
                    /*max-height: 500px;*/
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    top:0;
                    z-index: 501 !important;
                    @apply(--small-text);
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
                paper-card{
                    display: block;
                    position: fixed;
                    z-index: 1;
                }
                .show-mobile-fab{
                    display: flex !important;
                }
                .no-ok-button {
                    /*margin-top: 60px;*/
                }
                .hide-mobile-message{
                    display: none;
                }
                .show-mobile-message{
                    display: block !important;
                }
            }

        </style>

        <paper-card>
            <div class="row start-xs">
                <div class="col-xs-2">
                    <paper-icon-button class="close-button"
                                       icon="in-icon-set:keyboard-backspace"
                                       on-tap="_onCloseTap"></paper-icon-button>
                </div>

            </div>
        </paper-card>

        <div class="hide-mobile-message close-button-top-container">
            <paper-icon-button class="close-button-top"
                               icon="in-icon-set:highlight-off"
                               on-tap="_onCloseTap"></paper-icon-button>
        </div>


        <div class="row end-xs show-mobile-fab">
            <div class="col-xs-1">

                <template is="dom-if" if="{{!hideOkButton}}" restamp>

                    <paper-fab mini
                        id="sendButton"
                        icon="{{fabIcon}}"
                        on-tap="_onSendTap"></paper-fab>

                </template>

            </div>
        </div>


        <div id="content" class="content-container">
            <content></content>
        </div>

        <div id="actionButtonsContainer" class="row end-xs hide-mobile-message">
            <br>
            <div class="col-xs-12">

                <template is="dom-if" if="{{!hideCancelButton}}">

                    <paper-button class="cancel-button"
                                  on-tap="_onCloseTap">{{cancelLabel}}</paper-button>
                </template>

                <template is="dom-if" if="{{!hideOkButton}}">

                    <paper-button disabled$="{{disableAction}}"
                                  id="okButton"
                                  class="ok-button"
                                  on-tap="_onSendTap">{{okLabel}}</paper-button>
                </template>

            </div>
        </div>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'in-mobile-message',

                properties: {
                    /**
                     * Animación por de entrata por defecto
                     */
                    entryAnimation:{
                        value:'scale-up-animation'
                    },

                    /**
                     * Animación de salida por defecto
                     */
                    exitAnimation:{
                        value:'scale-down-animation'
                    },

                    /**
                     * False para no mostrar el botón ok
                     */
                    hideOkButton:{
                        type: Boolean,
                        value: false,
                        notify: true
                    },

                    /**
                     * False para no mostrar el botón cancel
                     */
                    hideCancelButton:{
                        type: Boolean,
                        value: false,
                        notify: true
                    },

                    /**
                     * Label del botón Ok
                     */
                    okLabel:{
                        type: String,
                        value: 'ok'
                    },

                    /**
                     * label del botón cancel
                     */
                    cancelLabel:{
                        type: String,
                        value: 'cancel'
                    },

                    disableAction:{
                        type: Boolean,
                        value: false,
                        notify: true
                    },

                    fabIcon:{
                        type: String,
                        value: 'in-icon-set:send',
                        notify: true
                    },
                },

                behaviors: [
                    Polymer.PaperDialogBehavior,
                    Polymer.NeonAnimationRunnerBehavior
                ],

                listeners: {
                    'neon-animation-finish': '_onNeonAnimationFinish',
                    'content.onresize': '_onContentChanged',
                    'iron-overlay-closed': '_onCloseTap'
                },

                observers:[
                    '_hideButtonContainer(hideOkButton)'
                ],

                attached: function () {

                    // this.toggleClass('no-ok-button', this.hideOkButton, this.$.content);
                    this._hideButtonContainer();

                    this.$.content.addEventListener('dom-change', function(){
                        if(this.$.content && this._fitInfo){
                            this.center();
                        }
                    }.bind(this));
                },

                // disableActions: function(){
                //     this.set('hideOkButton', true);
                // },

                _validateData(objUser){

                    if(!objUser.user_id || (parseInt(objUser.user_id) !== objUser.user_id) ){
                        throw Error('invalid user_id');
                    }
                    if(!objUser.name || (objUser.picture+'' !== objUser.name) ){
                        throw Error('invalid name');
                    }
                    if(!objUser.picture || (objUser.picture+'' !== objUser.picture) ){
                        throw Error('invalid picture');
                    }
                    if(!objUser.location || (objUser.location+'' !== objUser.location) ){
                        throw Error('invalid location');
                    }
                },

                _onhideOkButtonChange: function () {
                    // this.toggleClass('no-ok-button', this.hideOkButton, this.$.content);
                },

                _renderOpened: function() {
                    this.cancelAnimation();
                    if (this.withBackdrop) {
                        this.backdropElement.open();
                    }
                    this.playAnimation('entry');
                },

                _renderClosed: function() {
                    this.cancelAnimation();
                    if (this.withBackdrop) {
                        this.backdropElement.close();
                    }
                    this.playAnimation('exit');
                },

                _onNeonAnimationFinish: function() {
                    if (this.opened) {
                        this._finishRenderOpened();
                    } else {
                        this._finishRenderClosed();
                    }
                },

                _onSendTap: function () {
                    /*Deshabilito los botones send y ok para prevenir que se hagan más de una llamada */
                    this._disableButtons();

                    /*Ejecuto la función que se envía cómo parámetro desde el contenedor del elemento*/
                    if (typeof this.sendButtonAction == 'function') {
                        this.sendButtonAction(this.context);
                    }
                },

                _onCloseTap: function () {

                    this.close();

                    /*reinicio los valores del elemento*/
                    this._resetElement();

                    /*Ejecuto la función que se envía cómo parámetro desde el contenedor del elemento*/
                    if (typeof this.closeButtonAction == 'function') {
                        this.closeButtonAction(this.context);
                    }
                },

                _disableButtons: function () {

                    if(this.$.sendButton){
                        this.$.sendButton.setAttribute('disabled', true);
                    }
                    if(this.$.okButton){
                        this.$.okButton.setAttribute('disabled', true);
                    }
                },

                _resetElement: function () {

                    if(this.$.sendButton){
                        this.$.sendButton.removeAttribute('disabled');
                    }

                    if(this.$.okBotton){
                        this.$.okBotton.removeAttribute('disabled');
                    }
                },

                setScrollBotom: function () {
                    this.scrollTop = this.scrollHeight;
                },

                _hideButtonContainer: function () {

                    if (this.hideOkButton && this.hideCancelButton) {
                        this.$.actionButtonsContainer.style.display = 'none !important';
                    }
                }

            });
        })();
    </script>
</dom-module>
