<dom-module id="journalist-offers-requests">
    <template>
        <style include="shared-styles">

            ul {
                @apply(--very-small-text);
                padding-left: 20px !important;
            }
            ul li {
                margin-top: 6px;
                list-style-type: circle;
            }
            pre {
                @apply(--font-jouture);
                margin-bottom: 0;
            }
            .truncate {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            paper-tab{
                --paper-tab-content:{
                    @apply(--small-text);
                };
            }
            paper-tabs{
                --paper-tabs-selection-bar-color: var(--accent-color);
                --paper-tabs:{
                    height: 30px;
                }
            }
            .see-more-button {
                @apply(--font-jouture);
                padding: 2px;
                border-radius: 4px;
                text-transform: none;
                margin-left: 20px;
                opacity: 0;
            }

        </style>

        <div class="row star-xs">
            <div class="col-xs-12 col-sm-10">
                <paper-tabs selected="{{tabSelected}}" noink>
                    <paper-tab>Offers</paper-tab>
                    <paper-tab>Requests</paper-tab>
                </paper-tabs>
            </div>
        </div>

        <section hidden$="{{!offersSelected}}">
            <ul>
                <template is="dom-repeat" type="offers" items="{{offers}}">
                    <li class="truncate">[[item]]</li>
                </template>
            </ul>

            <paper-button id="seeMoreButtonOffers" disabled="true"
                          on-tap="_onSeeMoreButtonTap"
                          class="see-more-button">(+{{seeMoreCounterOffers}}) See more</paper-button>

        </section>

        <section hidden$="{{offersSelected}}">
            <ul>
                <template is="dom-repeat" type="requests" items="{{requests}}">
                    <li class="truncate">[[item]]</li>
                </template>
            </ul>

            <paper-button id="seeMoreButtonRequests" disabled="true"
                          on-tap="_onSeeMoreButtonTap"
                          class="see-more-button">(+{{seeMoreCounterRequests}}) See more</paper-button>

        </section>


    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'journalist-offers-requests',

                properties: {
                    offersSelected:{
                        type: Boolean,
                        value: true
                    },
                    tabSelected:{
                        type: Number,
                        value:0,
                        observer:'_onTabSelectedChange'
                    },
                    arrayOffers:{
                        type: Array,
                        observer: "_onOffersChanged"
                    },
                    arrayRequests:{
                        type: Array,
                        observer: "_onRequestChanged"
                    },
                    offers:Array,
                    requests:Array,
                },

                _onOffersChanged: function(){

                    if(!this.arrayOffers) return;

                    var localArray = [];

                    for(var i=0; i<this.arrayOffers.length; i++){

                        this.arrayOffers[i] = this.arrayOffers[i].replace(/\./g, ' -> ');

                        if(i <= 3) {
                            localArray.push(this.arrayOffers[i]);
                        }

                    }

                    this.set('offers', localArray);

                    if(this.arrayOffers.length > 4){

                        var counter = this.arrayOffers.length - 4;
                        this.set('seeMoreCounterOffers', counter);

                        this.$.seeMoreButtonOffers.style.opacity = 1;
                        this.$.seeMoreButtonOffers.removeAttribute('disabled');
                    }
                },

                _onRequestChanged: function(){

                    if(!this.arrayRequests) return;

                    var localArray = [];

                    for(var i=0; i<this.arrayRequests.length; i++){

                        this.arrayRequests[i] = this.arrayRequests[i].replace(/\./g, ' -> ');

                        if(i <= 3) {
                            localArray.push(this.arrayRequests[i]);
                        }

                    }
                    this.set('requests', localArray);

                    if(this.arrayRequests.length > 4){

                        var counter = this.arrayRequests.length - 4;
                        this.set('seeMoreCounterRequests', counter);

                        this.$.seeMoreButtonRequests.style.opacity = 1;
                        this.$.seeMoreButtonOffers.removeAttribute('disabled');
                    }
                },

                _onTabSelectedChange: function () {

                    if(this.tabSelected == 0){
                        this.offersSelected = true;
                        this.requestType = 'offers';
                        return;
                    }

                    this.offersSelected = false;
                    this.requestType = 'requests';
                },

                _onSeeMoreButtonTap: function (e) {
                    this.fire('see-more-pressed', this.offersSelected)
                },

            });
        })();
    </script>
</dom-module>
