<!--
@license
Copyright (c) 2015 Vaadin Ltd.
This program is available under Apache License Version 2.0, available at https://vaadin.com/license/
-->

<!--
`<in-combo-box>` is a combo box element combining a dropdown list with an
input field for filtering the list of items.

Items in the dropdown list must be provided as a list of `String` values.
Defining the items is done using the `items` property, which can be assigned
with data-binding, using an attribute or directly with the JavaScript property.

```html
<in-combo-box
    label="Fruit"
    items="[[data]]">
</in-combo-box>
```

```js
combobox.items = ['apple', 'orange', 'banana'];
```

When the selected `value` is changed, a `value-changed` event is triggered.

This element is also extended with the `IronFormElementBehavior` to
enable usage within an `iron-form`.

### Styling
There are custom properties and mixins you can use to style the component:

Custom property | Description | Default
----------------|-------------|-------------
`--in-combo-box-overlay-max-height` | Property that determines the max height of overlay | `65vh`

@element in-combo-box
-->

<link rel="import" href="vaadin-combo-box-overlay.html">
<link rel="import" href="vaadin-dropdown-behavior.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input-char-counter.html">

<dom-module id="in-combo-box">
    <style include="shared-styles">
        :host {
            display: block;
            padding: 8px 0;
        }

        :host > #overlay {
            display: none;
        }
        paper-input-container {
            --paper-input-container-focus-color: var(--accent-color);
        }
        /*paper-input-container {
            position: relative;
            padding: 0;
            --paper-input-container-focus-color: var(--accent-color);
            --paper-input-container-color: #A7A7A7;

            --paper-input-container-input: {
                font-family: Roboto,'Noto','Helvetica Neue',Helvetica,Arial,sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 14px;
                font-weight: 300;
            };

        }*/

        paper-input-container[opened] {
            /* Keep the paper-input-container above the dropdown. */
            z-index: 20;
        }

        paper-input-container div[suffix] {
            position: absolute;
            bottom: -4px;
            right: -4px;
            width: 24px;
            height: 24px;
            padding: 4px;
            text-align: center;
        }

        paper-input-container iron-icon {
            fill: rgba(0, 0, 0, .38);
            cursor: pointer;
            margin-top: -1px;
            transition: all 0.2s;
        }

        paper-input-container paper-ripple {
            color: rgba(0, 0, 0, .54);
        }

        paper-input-container iron-icon:hover,
        paper-input-container[opened] iron-icon {
            fill: rgba(0, 0, 0, .54);
        }

        paper-input-container[opened] iron-icon:hover {
            fill: rgba(0, 0, 0, .86);
        }

        paper-input-container[opened] #toggleIcon iron-icon {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        #clearIcon {
            right: 28px;
        }

        #clearIcon iron-icon {
            --iron-icon-width: 20px;
            --iron-icon-height: 20px;
        }

        [hideclear] #clearIcon {
            display: none;
        }

        #input::-ms-clear {
            display: none;
        }

        #input {
            box-sizing: border-box;
            padding-right: 28px;
        }

        #inputContainer[opened]:not([hideclear]) #input {
            padding-right: 60px;
            margin-right: -32px;
        }

    </style>

    <template>
        <paper-input-container
                class="dropdown-input"
                id="inputContainer"
                disabled$="[[disabled]]"
                invalid="[[invalid]]"
                opened$="[[opened]]"
                hideclear$="[[_hideClearIcon(value, opened)]]">
            <label id="label" on-tap="_openAsync">[[label]]</label>
            <input
                    placeholder="[[placeholder]]"
                    is="iron-input"
                    id="input"
                    role="combobox"
                    disabled$="[[disabled]]"
                    readonly$="[[readonly]]"
                    invalid="{{invalid}}"
                    minlength$="[[minlength]]"
                    maxlength$="[[maxlength]]"
                    aria-activedescendant$="[[_ariaActiveIndex]]"
                    aria-expanded$="[[_getAriaExpanded(opened)]]"
                    aria-labelledby="label"
                    aria-autocomplete="list" aria-owns="overlay"
                    autocomplete="off"
                    name$="[[name]]"
                    type="text"
                    required$="[[required]]"
                    on-input="_inputValueChanged"
                    on-blur="_onBlur"
                    on-tap="_openAsync"
                    key-event-target>



            <template is="dom-if" if="[[charCounter]]">
                <paper-input-char-counter></paper-input-char-counter>
            </template>

            <template is="dom-if" if="[[errorMessage]]">
                <paper-input-error>[[errorMessage]]</paper-input-error>
            </template>


            <div suffix id="clearIcon" on-tap="_clear"
                 on-down="_preventDefault">
                <iron-icon icon="in-icon-set:clear"></iron-icon>
                <paper-ripple class="circle" center></paper-ripple>
            </div>
            <div suffix id="toggleIcon" on-tap="_toggle" hidden$="[[_hideToggleIcon(disabled, readonly)]]"
                 on-down="_preventDefault">
                <iron-icon icon="in-icon-set:arrow-drop-down" aria-controls="overlay"></iron-icon>
                <paper-ripple class="circle" center></paper-ripple>
            </div>
        </paper-input-container>

        <vaadin-combo-box-overlay
                id="overlay"
                _aria-active-index="{{_ariaActiveIndex}}"
                position-target="[[_positionTarget]]"
                _focused-index="[[_focusedIndex]]"
                _item-label-path="[[itemLabelPath]]"
                on-down="_onOverlayDown"
                vertical-offset="2">
        </vaadin-combo-box-overlay>

    </template>
</dom-module>

<script>
    Polymer({
        is: 'in-combo-box',

        behaviors: [
            Polymer.IronFormElementBehavior,
            Polymer.IronValidatableBehavior,
            Polymer.IronA11yKeysBehavior,
            vaadin.elements.combobox.DropdownBehavior
        ],

        properties: {
            /**
             * An array of values to be displayed as options in the dropdown. The
             * options could be either `String` or `Object`.
             */
            items: {
                type: Array,
                observer: '_setItems'
            },

            searching:{
                type: Boolean,
                value: true,
            },

            dinamicData:{
                type: Boolean,
                value: false
            },
            /**
             * The `String` value for the selected item of the combo box. Provides
             * the value for `iron-form`.
             *
             * When there’s no item selected, the value is an empty string.
             *
             * Use `selectedItem` property to get the raw selected item from
             * the `items` array.
             */
            value: {
                type: String,
                observer: '_valueChanged',
                //notify: true already set in IronFormBehavior, setting this to true will make two value-changed events(?)
                notify: false,
                value: ''
            },

            /**
             * If `true`, user can input a value that is not present in the items list.
             * `value` property will be set to the input value in this case.
             * Also, when `value` is set programmatically, the input value will be set
             * to reflect that value.
             */
            allowCustomValue: {
                type: Boolean,
                value: false
            },

            /**
             * The label for this element.
             */
            label: {
                type: String,
                reflectToAttribute: true
            },

            _positionTarget: {
                type: Object,
                value: function() {
                    return this.$.inputContainer;
                }
            },

            _focusedIndex: {
                type: Number,
                value: -1
            },

            _filter: {
                type: String,
                value: ''
            },

            /**
             * The selected item from the `items` array.
             */
            selectedItem: {
                type: Object,
                readOnly: true,
                notify: true
            },

            /**
             * Path for label of the item. If `items` is an array of objects, the
             * `itemLabelPath` is used to fetch the displayed string label for each
             * item.
             *
             * The item label is also used for matching items when processing user
             * input, i.e., for filtering and selecting items.
             */
            itemLabelPath: {
                type: String,
                value: 'label'
            },

            /**
             * Path for value of the item. If `items` is an array of objects, the
             * `itemValuePath:` is used to fetch the string value for the selected
             * item.
             *
             * The item value is to be used in the `value` property of the combo box,
             * to provide the form value.
             */
            itemValuePath: {
                type: String,
                value: 'value'
            },

            charCounter: {
                type: Boolean,
                value: false
            },

            enableSearchingMessage: {
                type: Boolean,
                value: false
            },

            searchingMessage:{
                type:String,
                value:'Searching...'
            },
            noResultLabel:{
                type: String,
                value:'No results'
            }

        },


        observers: [
            '_filterChanged(_filter)',
            '_itemsChanged(items.splices)'
        ],

        listeners: {
            'vaadin-dropdown-opened': '_onOpened',
            'vaadin-dropdown-closed': '_onClosed',
            'keydown': '_onKeyDown'
        },

        ready: function() {
            Polymer.IronA11yAnnouncer.requestAvailability();
        },

        /**
         * Keyboard navigation
         */

        _onKeyDown: function(e) {
            if (this._isEventKey(e, 'down')) {
                this._onArrowDown();

                // prevent caret from moving
                e.preventDefault();
            } else if (this._isEventKey(e, 'up')) {
                this._onArrowUp();

                // prevent caret from moving
                e.preventDefault();
            } else if (this._isEventKey(e, 'enter')) {
                if(this.allowCustomValue){
                    this.fire('enter-pressed')
                }
                this._onEnter(e);
            } else if (this._isEventKey(e, 'esc')) {
                this._onEscape();
            }
        },

        _isEventKey: function(e, k) {
            return Polymer.IronA11yKeysBehavior.keyboardEventMatchesKeys(e, k);
        },

        _getItemLabel: function(item) {
            return this.$.overlay.getItemLabel(item);
        },

        _getItemValue: function(item) {
            var value = this.get(this.itemValuePath, item);
            if (value === undefined || value === null) {
                value = item ? item.toString() : '';
            }
            return value;
        },

        _onArrowDown: function() {
            if (this.opened) {
                if (this.$.overlay._items) {
                    this._focusedIndex = Math.min(this.$.overlay._items.length - 1, this._focusedIndex + 1);
                    this._prefillFocusedItemLabel();
                }
            } else {
                this.open();
            }
        },

        _onArrowUp: function() {
            if (this.opened) {
                if (this._focusedIndex > -1) {
                    this._focusedIndex = Math.max(0, this._focusedIndex - 1);
                } else {
                    if (this.$.overlay._items) {
                        this._focusedIndex = this.$.overlay._items.length - 1;
                    }
                }

                this._prefillFocusedItemLabel();
            } else {
                this.open();
            }
        },

        _prefillFocusedItemLabel: function() {
            if (this._focusedIndex > -1) {
                this.$.input.bindValue = this._getItemLabel(this.$.overlay._focusedItem);
                this._setSelectionRange();
            }
        },

        _onEnter: function(e) {
            // should close on enter when custom values are allowed, input field is cleared, or when an existing
            // item is focused with keyboard.
            if (this.opened && (this.allowCustomValue || this.$.input.bindValue === '' || this._focusedIndex > -1)) {
                this.close();

                // Do not submit the surrounding form.
                e.preventDefault();
            }
        },

        _onEscape: function() {
            if (this.opened) {
                if (this._focusedIndex > -1) {
                    this._focusedIndex = -1;
                    this._revertInputValue();
                } else {
                    this.cancel();
                }
            }
        },

        /**
         * Opening and closing related functionality
         */

        _onBlur: function() {
            if (!this._closeOnBlurIsPrevented) {
                this.close();
            }
        },

        _onOverlayDown: function(event) {
            // Prevent the focus transfer when user scrolls inside the overlay with mouse drag
            event.preventDefault();

            if (this.$.overlay.touchDevice && event.target !== this.$.overlay.$.scroller) {
                // On touch devices, blur the input on touch start inside the overlay, in order to hide
                // the virtual keyboard. But don't close the overlay on this blur.
                this._closeOnBlurIsPrevented = true;
                this.$.input.blur();
                this._closeOnBlurIsPrevented = false;
            }
        },

        /**
         * Opens the dropdown list asynchronously.
         */
        _openAsync: function() {
            // Needed for MS Edge. Otherwise, it does not pop the virtual keyboard up
            // when tapping the combobox that has non-empty value.
            this.async(this.open);
        },

        /**
         * Opens and closes the dropdown list.
         */
        _toggle: function() {
            if (this.opened) {
                this.close();
            } else {
                this.open();
            }
        },

        /**
         * Clears the current value.
         */
        _clear: function() {
            this.value = '';
        },

        /**
         * Reverts back to original value.
         */
        cancel: function() {
            this.$.input.bindValue = this._getItemLabel(this.selectedItem);
            this.close();
        },

        _onOpened: function() {
            this.$.overlay.hidden = !this._hasItems(this.$.overlay._items);
            this.$.overlay.notifyResize();
            this.$.overlay.adjustScrollPosition();
            //Previene que el ancho sea mayor al contenedor, problema que se da en mobile - Damian
            this.$.overlay.style.minWidth = this.$.inputContainer.offsetWidth + 'px';

            // muestra la lista completa
            setTimeout(function () {
                this.$.overlay.notifyResize();
            }.bind(this), 200);

        },

        _onClosed: function() {
            if (this._focusedIndex > -1) {
                this.$.overlay._selectItem(this._focusedIndex);
                this.$.input.bindValue = this._getItemLabel(this.selectedItem);
            } else if (this.$.input.bindValue === '') {
                this._clear();
            } else {
                if (this.allowCustomValue) {
                    var e = this.fire('custom-value-set', this.$.input.bindValue, {cancelable: true});
                    if (!e.defaultPrevented) {
                        this.value = this.$.input.bindValue;
                    }
                } else {
                    this.$.input.bindValue = this._getItemLabel(this.selectedItem);
                }
            }

            this._clearSelectionRange();

            this._filter = '';
        },

        /**
         * WAI-ARIA
         */

        _getAriaExpanded: function(value) {
            return value.toString();
        },

        /**
         *  Filtering and items handling
         */

        _inputValueChanged: function(e) {

            /*Si el elemento espera recibir datos dinámicos, uso un delay de 300ms antes de
             * disparar el evento que hace la llamada el servidor*/
            if(this.dinamicData){
                this.searching =  true;
                clearTimeout(this.delayRequest);

                this.enableSearchingMessage = true;
                this.delayRequest = setTimeout(function () {
                    this.fire('vaadin-change-filter', this.$.input.bindValue);
                    this.searching =  false;
                }.bind(this), 300);

            }else{
                this.fire('vaadin-change-filter', this.$.input.bindValue);
            }

//            if(this.$.input.bindValue.length === 0){
//                this.searching =  false;
//            }

            if (this._filter === this.$.input.bindValue) {
                // Filter and input value might get out of sync, while keyboard navigating for example.
                // Afterwards, input value might be changed to the same value as used in filtering.
                // In situation like these, we need to make sure all the filter changes handlers are run.
                this._filterChanged(this._filter);
            } else {
                this._filter = this.$.input.bindValue;
            }

            if(this.$.input.bindValue.length === 0 && this.dinamicData){
                this.searching =  false;
                this.items = null;
                this.close();
                return;
            }

            if (!this.opened) {
                this.open();
            }
        },

        closeOverlayTimeOut: function () {
            this.closeTimeOut =  setTimeout(function () {
                this.close()
            }.bind(this), 600);
        },

        _revertInputValue: function() {
            if (this._filter !== '') {
                this.$.input.bindValue = this._filter;
            } else {
                this.$.input.bindValue = this._getItemLabel(this.selectedItem);
            }

            this._clearSelectionRange();
        },

        _setSelectionRange: function() {
            this.$.input.setSelectionRange(0, this.$.input.bindValue.length);
        },

        // document.activeElement doesn't return elements from inside shadow root
        _focusedInput: function() {
            return Polymer.dom(this.root).querySelector('input:focus');
        },

        _clearSelectionRange: function() {
            // Setting selection range focuses and/or moves the caret in some browsers,
            // and there's no need to modify the selection range if the input isn't focused anyway.
            if (this._focusedInput() === this.$.input) {
                this.$.input.setSelectionRange(this.$.input.bindValue.length, this.$.input.bindValue.length);
            }
        },

        _filterChanged: function(filter) {
            this.unlisten(this.$.overlay, '_selected-item-changed', '_selectedItemChanged');

            var items =  this.items;


            if(this.searching && this.dinamicData && this.$.input.bindValue.length !== 0){
                this.$.overlay.$.selector.selectionEnabled = false;
                items = [{
                    value: 'disable_action',
                    label: 'searching ...'
                }];
                this._setItems(items);
            } else{
                this._setItems(this._filterItems(items, filter));
            }

            this._focusedIndex = this.$.overlay.indexOfLabel(filter);

            this.listen(this.$.overlay, '_selected-item-changed', '_selectedItemChanged');

            // async needed to reposition correctly after filtering
            this.async(function() {
                this.$.overlay.notifyResize();
            }.bind(this));
        },

        _itemsChanged: function(change) {
            if (change && change.indexSplices) {
                this._setItems(change.indexSplices[0].object);
            }
        },

        _filterItems: function(arr, filter) {
            if (!arr) {
                return arr;
            }

            return arr.filter((function(item) {
                filter = filter.toString().toLowerCase() || '';

                // Check if item contains input value.
                return this._getItemLabel(item).toString().toLowerCase()
                                .indexOf(filter) > -1;
            }).bind(this));
        },

        _setItems: function(items) {

            this.$.overlay.$.selector.selectionEnabled = true;

            clearTimeout(this.delayCloseOverlay);
            if(items && items.length === 0  && this.dinamicData && this.$.input.bindValue !=0 ){


                this.delayCloseOverlay = setTimeout(function () {
                    this.close()
                }.bind(this), 1300);



            this.$.overlay.$.selector.selectionEnabled = false;
                items = [{
                    value: 'disable_action',
                    label: this.noResultLabel
                }];
            }

            //TODO: There is something wrong with observers and using set function
            // see here: https://github.com/Polymer/polymer/issues/3254
            //As a workaround setting/notifying the observer with the value undefined helps

            this.$.overlay.notifyPath('_items', undefined);
            this.$.overlay.set('_items', items);

            var valueIndex = this._indexOfValue(this.value, items);
            if (valueIndex > -1) {
                this.$.overlay._selectItem(valueIndex);
            }


            this.$.overlay.hidden = !this._hasItems(items);
            this.$.overlay.notifyResize();
        },

        _hasItems: function(array) {
            return array && array.length;
        },

        _indexOfValue: function(value, items) {
            items = items || this.items;
            if (items && value) {
                for (var i = 0; i < items.length; i++) {
                    if (this._getItemValue(items[i]).toString() === value.toString()) {
                        return i;
                    }
                }
            }

            return -1;
        },

        _selectedItemChanged: function(event, detail) {

            if (detail.value !== null) {
                this._setSelectedItem(detail.value);
                this.$.input.bindValue = this._getItemLabel(this.selectedItem);
                this.value = this._getItemValue(this.selectedItem);
                this._focusedIndex = this.$.overlay._items.indexOf(detail.value);
            }

            if (this.opened) {
                this.close();
            }
        },

        _valueChanged: function(value) {
            var valueIndex = this._indexOfValue(value);
            var item = valueIndex > -1 && this.items[valueIndex];
            if (this.$.overlay._items && item && this.$.overlay._items.indexOf(item) > -1) {
                this.$.overlay._selectItem(item);
            } else {
                this.$.input.bindValue = this.allowCustomValue ? value : '';
                this._setSelectedItem(null);
                this._focusedIndex = -1;
                this.$.overlay.$.selector.clearSelection();
            }

            this.close();
        },

        _hideClearIcon: function(value, opened) {
            return value === '' || !opened;
        },

        _hideToggleIcon: function(disabled, readonly) {
            return readonly || disabled;
        },

        _preventDefault: function(e) {
            e.preventDefault();
        },

        /**
         * Validates the input element and sets an error style if needed.
         *
         * @return {boolean}
         */
        _getValidity: function() {
            return this.$.input.validate();
        }
    });

    /**
     * Fired when the value changes.
     *
     * @event value-changed
     * @param {Object} detail
     *  @param {String} detail.value the combobox value
     */

    /**
     * Fired when selected item changes.
     *
     * @event selected-item-changed
     * @param {Object} detail
     *  @param {Object|String} detail.value the selected item. Type is the same as the type of `items`.
     */

    /**
     * Fired when the user sets a custom value.
     * @event custom-value-set
     * @param {String} detail the custom value
     */
</script>
