<link rel="import" href="../../in/in-upload/in-upload.html">
<link rel="import" href="../../in/in-thumbnail/in-thumbnail.html">
<!-- <link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html"> -->
<!-- <link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html"> -->


<dom-module id="item-list">
    <template>

    <style include="shared-styles">

    .name-text {
        @apply(--small-text-highlighted);
    }
    .amount {
        @apply(--small-text);
    }
    .secondary-text {
        @apply(--very-small-text);
        margin-top: 2px;
    }
    .category {
        @apply(--very-small-text);
        text-transform:uppercase;
        margin-top: 10px !important;
    }
    iron-icon {
        --iron-icon-width: var(--location-icon-width);
        margin-left: -5px;
    }

    .showme {
        opacity: 0;
        -webkit-transition: visibility 0s, opacity 0.1s linear;
        -moz-transition: visibility 0s, opacity 0.1s linear;
        -ms-transition: visibility 0s, opacity 0.1s linear;
        -o-transition: visibility 0s, opacity 0.1s linear;
        transition: visibility 0s, opacity 0.1s linear;
    }
    .item:hover .showme{
        opacity: 1;
    }
    .fab-add {
        @apply(--float-action-button);
    }

    iron-list {
        padding-top: 30px;
        background-color: #FFF;
    }
    .item {
        padding: 15px 25px 15px 20px;
        background-color: #FAFAFA; //#EEEEEE;
        margin-bottom: 5px;
        border: solid 1px #EEEEEE;
        border-radius: 2px;
        -webkit-font-smoothing: antialiased;
    }
    .item:focus {
        outline: 0;
    }
    .item:hover{
        background-color: #EEEEEE;
    }
    paper-card {
        margin-bottom: 10px;
        display: block !important;
    }
    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .pic {
        width: 100%;
        /*max-width: 90px;*/
        height: auto;
        /*border-radius: 50%;*/
        /*overflow: hidden;*/
    }
    paper-dialog {
        background-color: #FFF;
    }
    paper-listbox {
        --paper-listbox-background-color: #FFF;
    }
    .categories-box {
        margin-top:20px;
    }
    paper-textarea /deep/ ::-webkit-scrollbar {
        width: 4px;
    }
    paper-textarea /deep/ ::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
        border-radius: 8px;
    }
    paper-textarea /deep/ ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    paper-checkbox {
        @apply(--small-text);
    }
    .categories {
        @apply(--small-text);
    }
    .action-buttons-container{
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 2px;
    }
    .hide-mobile {
        display: block;
    }
    /*titulo mobile*/
    .show-mobile {
        display: none;
    }
    .item-image-container{
        position: relative;
        margin-top: -35px;
    }
    .save-cancel-container{
        margin-top: 16px;
    }
    .center-image{
        overflow: hidden;
        width: 75px;
        height: 75px;
        position: absolute;
    }
    .new-item-title {
        @apply(--medium-text);
        margin-top: 30px;
    }
    .upload-pic-container{
        margin-bottom: 20px;
    }


    @media all and (max-width: 48em) {

        .hide-mobile {
            display: none;
        }
        .show-mobile {
            display: block;
        }
        .mobile-title{
            margin-bottom: 4px;
        }
    }

    @media all and (min-width: 1700px){
        .pic {
            width: 100%;
            height: auto;
        }
    }

    </style>

    <iron-pages id="pages" selected="{{pageSelected}}">


        <div id="form" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="row start-xs new-item-title" style="margin-top: 30px">
                <div class="col-xs-12">
                    Post an item to sell
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 ">
                    <paper-input
                    on-focus="_focusedInput"
                    id="title"
                    label="What are you selling?"
                    maxlength="80"
                    char-counter
                    error-message="This field is required."
                    required></paper-input>
                </div>


                <div class="col-xs-12 col-md-6">
                    <in-combo-box id="comboConditionItem"
                    required
                    error-message="This field is required."
                    items="{{itemsConditions}}"
                    label="What condition is the equipment in?"></in-combo-box>
                </div>

                <div class="col-xs-12 col-md-6" style="padding-left:20px;">

                    <in-input-location label="Where are you selling?"
                    required
                    id="txtAddressItem"></in-input-location>
                </div>


                <div class="col-xs-3">

                    <paper-input on-focus="_focusedInput"
                    id="amount"
                    label="Price?"
                    required
                    pattern="[0-9]{0,10}"
                    maxlength="10"
                    error-message="Only numbers.">

                    <div prefix>$ &nbsp;</div>
                </paper-input>

            </div>


            <div class="col-xs-12 ">
                <paper-textarea
                label="Describe your item (Include condition, accessories, etc..)"
                id="text"
                name="text"
                required
                error-message="This field is required and must contain at least 10 characters."
                max-rows="4"
                char-counter
                maxlength="512"></paper-textarea>
            </div>

            <div class="col-xs-12 categories-box">
                <span class="categories">Select a category: </span><br>


                <div class="row" id="boxCategories">
                    <template id="categoriesList" is="dom-repeat" items="{{categories}}">
                        <div class="col-xs-6 col-md-4" style="margin-top: 20px;">
                            <paper-radio-button
                            checked="{{item.selected}}"
                            on-tap="_tapCategoryRadioButton"
                            name="[[item.ca_name]]">[[item.ca_name]]</paper-radio-button>
                        </div>
                    </template>
                </div>

            </div>

            <div class="col-xs-12" style="margin-top:50px">
                <in-thumbnail  id="inThumbnail"
                hidden
                image-array="{{ItemPicsArray}}"></in-thumbnail>
            </div>

        </div>


        <div class="row center-xs upload-pic-container">
            <div class="col-xs-12 col-md-8">

                <in-upload title="Upload picture" id="uploader" max-file-size="3145728" accept="image/*"></in-upload>

            </div>

            <div class="col-xs-12 col-md-4 save-cancel-container">
                <paper-button class="cancel-button" on-tap="_cancelNewItem">{{cancelBackLabel}}</paper-button>
                <paper-button title="Post item" id="saveItemButton" class="ok-button" on-tap="_onButtonSaveTap">Post</paper-button>
            </div>
        </div>

    </div>

    <div>
        <iron-list id="list" items="[[listItems]]" as="item">
            <template>

                <div class="row start-xs">
                    <div class="col-lg-11 col-md-11 col-xs-12">

                        <div class="item" tabindex="0">

                            <a href="/marketplace/item/{{item.item_id}}">

                                <div class="row show-mobile">
                                    <div class="col-xs-12 name-text truncate mobile-title">[[item.item_title]]</div>
                                </div>

                                <div class="row start-xs middle-xs">

                                    <div  class="col-xs-4 col-sm-4 col-md-2 col-lg-1">
                                        <div class="item-image-container">
                                            <div class="center-image">
                                                <img class="pic" src="{{computeImage(item.pic_name)}}">
                                            </div>

                                            <template is="dom-if" if="{{item.item_sold}}">
                                                <div style="position: absolute;" >
                                                    <img class="pic" src="../../../images/sold.png">
                                                </div>
                                            </template>


                                        </div>
                                    </div>

                                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-11" >
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <div class="row hide-mobile">
                                                    <div class="col-xs-12 name-text truncate">[[item.item_title]]</div>
                                                </div>

                                                <div class="row show-mobile">
                                                    <div class="col-xs-12 truncate amount" style="margin-top: 8px;">$ [[item.item_amount]]</div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 secondary-text truncate">
                                                        <iron-icon icon="in-icon-set:place"></iron-icon>[[item.item_address]]</div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-12 secondary-text">{{_formatDate(item.item_date)}}</div>
                                                    </div>


                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="row end-xs hide-mobile ">
                                                        <div class="col-xs-12 truncate amount">$ [[item.item_amount]]</div>
                                                    </div>
                                                    <template is="dom-if" if="{{verifyOwnership(item.user_id)}}">
                                                        <div class="row end-xs">
                                                            <div class="col-xs-12 action-buttons-container">

                                                                <template is="dom-if" if="{{!item.item_sold}}">

                                                                    <paper-icon-button on-tap="_edit"
                                                                    icon="in-icon-set:create"
                                                                    param="{{item.item_id}}"></paper-icon-button>


                                                                    <span>
                                                                        <paper-icon-button on-tap="_sold"
                                                                        icon="in-icon-set:gavel"
                                                                        index="{{index}}"
                                                                        param="{{item.item_id}}">

                                                                    </paper-icon-button>
                                                                    <paper-tooltip offset="10"
                                                                    animation-delay="0"
                                                                    position="bottom">Mark as sold</paper-tooltip>
                                                                </span>


                                                            </template>

                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </template>

        </iron-list>

        <paper-fab icon="in-icon-set:add"
        title="Sell Item"
        class="fab-add"
        elevation="3"
        on-tap="_newItem"></paper-fab>


        <div class="row middle-xs empty-state-box" id="emptyBox" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <img class="empty-state-image" src="/images/emptystates/empty_marketplace.jpg">
                <br/>
                <br/>
                <span>Sorry {{userName}}, we couldn't find any</span>
                <br/>
                <span>Items here.</span>
                <br/>
                <br/>
                <span>Broaden your search by changing</span>
                <br/>
                <span>the search parameters.</span>
            </div>
        </div>

        <br><br><br><br><br><br>
    </div>

</iron-pages>

    <iron-ajax id="ajaxJson"
        method="GET"
        with-credentials
        handle-as="json"
        bubbles
        last-response="{{items}}"
        on-response="_ajaxItemsCallback"></iron-ajax>

    <iron-ajax id="ajaxCategories"
        method="GET"
        with-credentials
        handle-as="json"
        bubbles
        last-response="{{categories}}"
        on-response="_categoriesCallback"></iron-ajax>

    <iron-ajax id="ajaxSave"
        method="POST"
        with-credentials
        handle-as="json"
        bubbles
        last-response="{{saveResponse}}"
        on-response="_saveCallBack"></iron-ajax>

    <iron-ajax id="ajaxEdit"
        method="GET"
        with-credentials
        handle-as="json"
        bubbles
        last-response="{{editResponse}}"
        on-response="_editCallback"></iron-ajax>

    <iron-ajax id="ajaxSold"
        method="PUT"
        with-credentials
        handle-as="json"
        bubbles
        on-response="_soldCallBack"></iron-ajax>


</template>
</dom-module>

<script type="text/javascript">

HTMLImports.whenReady(function () {

    Polymer({
        is: 'item-list',
        behaviors: [ajaxBehavior],
        properties: {
            route_marketplace: {
                type: String,
                observer: '_routeMarketplaceChanged'
            },
            params: {
                observer: '_filterList'
            },
            filter: {
                type: String,
                observer: '_filterList'
            },
            listItems: {
                type: Array,
                notify: true
            },
            itemID: {
                type: String,
                value: null
            },
            urlCategories: {
                type: String,
                value: app.apinode + '/marketplace/categories'
            },
            categories: {
                type: Array,
                value: []
            },
            pageSelected: {
                value: 1
            },
            currentResolution: {
                type: String
            },
            owner: {
                type: Boolean,
                value: true
            },
            ItemPicsArray: {
                type: Array,
                value:[]
            },
            ckickUploadPic:{
                type:Boolean,
                value:false
            },
            itemsConditions:{
                type: Array,
                value: [
                    'Brand New - Unopened',
                    'Used - Like New',
                    'Used - Very Good',
                    'Used - Acceptable'
                ]
            },
            isLogged:{
                type: Boolean,
                value: false
            },
            isButtonSaveClicked:{
                type:Boolean,
                value: false
            },
            wasLoaded:{
                type: Boolean,
                value: false
            }
        },
        listeners: {
            'upload-response': '_uploadComplete',
            'upload-request': '_onUploadRequest',
            'click-upload-files': '_clickUploadFiles',
            'file-reject': '_fileReject',
            'upload-start': '_beforeSend',/*evento de vaadin que se dispara AL INICIAR LA CARGA DEL ARCHIVO*/
            'pic-deleted': '_arrayPicsChange'

        },

        ready: function () {

            this.set('cancelBackLabel','Cancel');

            this.userName = app.session.getName();
            this.user = app.session.getUser();

            if(!this.user){
                document.addEventListener('iron-localstorage-load', function(){
                    var session = document.querySelector('#session');
                    this.user = session.getUser();
                    this.userName = session.getName();
                    //                        this.UrlBase = app.apinode +'/marketplace/picture/';
                }.bind(this));

            }

            this.$.uploader.addEventListener('file-reject', function (e) {
                //
            });

            this.UrlBase = app.apinode +'/marketplace/pictures/' ;

            this.$.uploader.target = this.UrlBase; //seteo la url del servicio
            this.$.uploader.nodrop = false; // propiedad que bloquea el dgrag and drop cuando está en true
            this.$.uploader.buttonLabel = 'Upload picture';
            //                this.$.uploader.headers = {'':''};

            scroll.scrollTop = this.inputFocused;
        },

        attached: function () {
            /*checkbox en el left-menu que se sirve para filtrar por propietarios de los elementos*/
            var checkboxMine = document.querySelector('#ownerIchemCheckbox');

            /*Listener del evento change disparado checkboxMine cambia de estado*/
            checkboxMine.addEventListener('change', function (e) {

                /*ei el checkbox NO está seleccionado setea la variable mine en false*/
                this.mine = true;
                if(!e.target.checked) this.mine = false;
                this._filterList()

            }.bind(this));

            var comboCountryFilterMarketplace = document.querySelector('#comboCountryFilterMarketplace');
            var tagContainerCountryfilterMarketplace = document.querySelector('#tagContainerCountryfilterMarketplace');
            this.pagesCountryfilterMarketplace = document.querySelector('#pagesCountryfilterMarketplace');

            /*Listener para el cambio de filtro por country*/
            comboCountryFilterMarketplace.addEventListener('selected-item-changed', function (e) {

                if(!e.detail.value){
                    return;
                }

                this.pagesCountryfilterMarketplace.selected = "1";
                this.selectedCountry = e.detail.value.value;
                this.itemTag = {label: e.detail.value.label, value: e.detail.value.value};
                var tag = document.createElement('in-tag');
                tag.item = this.itemTag;
                tagContainerCountryfilterMarketplace.appendChild(tag);

                this._filterList();

            }.bind(this));

            this.pagesCountryfilterMarketplace.addEventListener('in-tag-removed', function (e) {

                this.selectedCountry = null;
                comboCountryFilterMarketplace.value = null;
                comboCountryFilterMarketplace.cancel();
                this.pagesCountryfilterMarketplace.selected = "0";
                this._filterList();

            }.bind(this));

        },

        _arrayPicsChange: function (e) {
            this._enableUpload(e.detail);
        },


        _fileReject: function (e) {
            app.showToast(e.detail.error);
        },

        _focusedInput: function (e) {
            this.inputFocused = e.target.getBoundingClientRect().top;

        },

        /*Listener del evento upload-star */
        _beforeSend: function (e) {
            this._adjustScroll();
        },

        _clickUploadFiles: function (e) {

            this.stopPropagation(e);

            if(this.itemID){
                this.$.uploader.target = this.UrlBase + this.itemID;
                this.$.uploader.$.fileInput.value = '';
                this.$.uploader.$.fileInput.click();
                return;
            }
            this._save();
        },

        _uploadComplete: function (e) {

            var picture = JSON.parse(e.detail.xhr.response);

            this.$.inThumbnail.removeAttribute('hidden');
            if(!this.isLogged){
                this.isLogged = true;
                var details = new Array();
                details.push(this.$.title.value);
                details.push(picture.pic_name);
                details.push(this.$.text.value);
                details.push(app.session.getUser() + '');
                details.push(this.$.txtAddressItem.getAddress() || this.editResponse.item_address);

                var objects_id;

                if(this.saveResponse){
                    objects_id = this.saveResponse.item_id
                }else{
                    objects_id =  this.editResponse.item_id;
                }

                app.logActivity(app.constants.MARKETPLACE_POST, objects_id, details);
            }

            this.push('ItemPicsArray', picture);
            this._enableUpload(this.ItemPicsArray.length);
            this.$.uploader.fire('file-remove', {file: e.detail.file});
            this._adjustScroll();
            // damian aca
        },

        /**
        *Funcion que permite habilitar o deshabilitar la caarfa de imagenes
        **/
        _enableUpload: function (value) {

            // limito a 5 la cantidad de imagenes a subir
            if(value !== undefined && value < 4){
                this.$.uploader.maxFiles = 4 - value;
                return
            }
            this.$.uploader.maxFiles = 0;
        },

        _onUploadRequest: function (e) {
            e.detail.xhr.withCredentials = true
        },

        _resChanged: function () {
            if (this.xs)
            var cw = this.querySelector('.pic');
            $('.child').css({'height':cw+'px'});
            this.currentResolution = 'xs';
            if (this.sm)
            this.currentResolution = 'sm';
            if (this.md)
            this.currentResolution = 'md';
            if (this.lg)
            this.currentResolution = 'lg';
            this._setResponsiveClases();
        },

        _setResponsiveClases: function () {

            if (this.currentResolution === 'lg' || this.currentResolution === 'md')
            this.classShow = 'col-xs-4 showme';
            else
            this.classShow = 'col-xs-4';
        },

        _routeMarketplaceChanged: function () {

            if (this.wasLoaded || this.route !== 'marketplace' || this.route_marketplace !== 'list') {
                return;
            }
            this.wasLoaded = false;
            // Get list of items
            this.$.ajaxJson.url = app.apinode + '/marketplace';
            this.$.ajaxJson.generateRequest();
        },

        _onRouteChanged: function () {

            if (this.route !== 'marketplace' || this.route_marketplace !== 'list') {
                return;
            }
            this.wasLoaded = true;
            //                Get list of items
            this.$.ajaxJson.url = app.apinode + '/marketplace';
            this.$.ajaxJson.generateRequest();
        },

        _filterList: function () {

            if (app.route !== 'marketplace' || app.route_marketplace !== 'list') {
                return;
            }

            var parameters = {};

            if (this.params && parseInt(this.params.cat) > 0) {
                parameters.cat = this.params.cat;
            }

            if(this.filter){
                parameters.search = this.filter;
            }

            if(this.mine){
                parameters.mine = true;
            }

            if(this.selectedCountry){
                parameters.co_short = this.selectedCountry;
            }

            this.$.ajaxJson.url = app.apinode + '/marketplace';
            this.$.ajaxJson.params = parameters;
            this.$.ajaxJson.generateRequest();
        },

        computeImage: function (fileName) {

            if(!fileName){
                return "/images/no-image.png";
            }

            var temp = Number(new Date());
            return app.apinode + "/images/get.picture/marketplace.thumbnail/" + fileName + "?" + Math.random();
        },

        _isValidForm: function(){

            var validTitle = this.$.title.validate();
            var validAmount = this.$.amount.validate();
            var validText = this.$.text.validate();
            var validAddres = true;
            if (!this.editingItem) {
                validAddres = this.$.txtAddressItem.validate();
            }
            var validConditionitem =  this.$.comboConditionItem.validate();
            var validTextPatern = true;

            /*Reinicio validador de text area*/
            this.$.text.invalid = false;

            /*valido text area patern del text area*/
            if( !/^.{10,}$/.test(this.$.text.value)){

                this.$.text.invalid = true;
                validTextPatern = false;
            }


            return !(!validTitle || !validAmount || !validText || !validTextPatern || !validConditionitem || !validAddres);

        },

        _save: function () {

            //                Validate mandatory fields
            if (!this._isValidForm()){
                dialogSpinner.close();
                return false;
            }
            if (!this.itemID) {
                this.$.uploader.awaitResponse = true;
                this.$.uploader.$.fileInput.value = '';
                this.$.uploader.$.fileInput.click();
            }

            var itemChecked = this.$.boxCategories.querySelector('[checked]');
            this.categorySelected = this.$.categoriesList.itemForElement(itemChecked);
            //Validate one category is selected

            if(!this.categorySelected){
                dialogSpinner.close();
                app.showToast('please select at least one category');
                return false;
            }

            var selectedCategories = [];
            selectedCategories.push(this.categorySelected);

            var jsonCategories = JSON.stringify(selectedCategories);

            var location = this.$.txtAddressItem.getObjLocation();
            var address = this.$.txtAddressItem.getAddress();

            //SAVE
            var objParams = {
                method: "save",
                title: this.$.title.value,
                amount: this.$.amount.value,
                text: this.$.text.value,
                condition: this.$.comboConditionItem.value,
                categories: jsonCategories,
                address: address
            };

            if (location) {
                objParams.location = JSON.stringify(location);
            }

            this.$.ajaxSave.url = app.apinode + '/marketplace';

            if(this.itemID === null){
                this.$.ajaxSave.method = "POST";
                this.isNewItem = true;
            }else{
                this.isNewItem = false;
                this.$.ajaxSave.method = "PUT";
                this.$.ajaxSave.url += '/' + this.itemID;
            }

            this.$.ajaxSave.body = JSON.stringify(objParams);
            this.$.ajaxSave.generateRequest();

        },

        _saveCallBack: function () {

            dialogSpinner.close();

            this.$.uploader.awaitResponse = false;
            this.$.saveItemButton.removeAttribute('hidden');
            this.$.uploader.removeAttribute('hidden');

            this.itemID = this.saveResponse.item_id;

            this.$.inThumbnail.itemId = this.itemID;

            /*if(this.isNewItem){

            var details = new Array();
            details.push(this.saveResponse.data.item_title);
            details.push(this.saveResponse.data.item_text);
            details.push(this.saveResponse.data.pic_name);
            details.push(this.saveResponse.data.item_address);

            var objects_id = this.saveResponse.data.item_id;
            app.logActivity(app.constants.MARKETPLACE_POST, objects_id, details);
        }*/

        this.$.uploader.target = this.UrlBase + this.itemID;
        this.$.uploader.buttonLabel = 'Upload picture';

        //Show Message
        var messageToShow = '';

        //Add item on the top of the list
        var newItem = this.saveResponse.data;
        this.unshift("items", newItem);
        this.set('cancelBackLabel', 'Go Back');

        app.showToast('Your Item has been saved succesfully');

        if (this.isButtonSaveClicked) {

            this._resetForm();
            app.showDrawerPanel();
            document.querySelector('#searchFab').style.display = "block";

            this.pageSelected = 1;

            this.$.ajaxJson.url = app.apinode + '/marketplace';
            this.$.ajaxJson.generateRequest();
        }
    },

    _newItem: function () {
        this.isLogged = false;

        this.$.uploader.files = [];
        this.set('ItemPicsArray', []);

        app.hideDrawerPanel();
        document.querySelector('#searchFab').style.display = "none";

        this.pageSelected = 0;
        this.itemID = null;
        this.$.title.value = '';
        this.$.text.value = '';

        this.$.ajaxCategories.url = this.urlCategories;
        this.$.ajaxCategories.generateRequest();
    },

    _edit: function(e){

        this.editingItem = true;
        this.isLogged = false;

        this.stopPropagation(e);
        app.hideDrawerPanel();
        document.querySelector('#searchFab').style.display = "none";
        this.$.uploader.buttonLabel = 'Upload picture';
        dialogSpinner.open();

        this.$.uploader.files = [];
        var button = e.currentTarget;
        this.itemID = button.param;

        this.$.ajaxCategories.url = app.apinode + "/marketplace/categories/" + this.itemID;
        this.$.ajaxCategories.generateRequest();


        this.$.ajaxEdit.url = app.apinode + "/marketplace/" + this.itemID;
        this.$.ajaxEdit.generateRequest();

    },

    _sold: function (e) {

        this.stopPropagation(e);
        this.itemID = e.model.__data__.item.item_id;

        this.$.ajaxSold.url = app.apinode + '/marketplace/sold/' + this.itemID;

        /*parámetros para abrir el dialog*/
        var params = {
            message: 'Great, have you already sold your item?',
            cancelLabel: 'No',
            acceptLabel: 'Yes',
            acceptCallback: this._acceptSoldConfirmation,
            cancelCallback: this._cancelSoldConfirmation
        };

        confirmationDialog.open(params);
    },

    _soldCallBack: function(){

        this._filterList();
    },

    _acceptSoldConfirmation: function () {

        dialogSpinner.open();
        var ajaxSold = document.querySelector('#ajaxSold');
        ajaxSold.generateRequest();
    },

    _cancelSoldConfirmation: function () {
        //
    },

    _editCallback: function(){

        this.$.title.value = this.editResponse.item_title;
        this.$.txtAddressItem.setValue(this.editResponse.item_address);
        this.$.text.value = this.editResponse.item_summary;
        this.$.amount.value = this.editResponse.item_amount;

        this.$.inThumbnail.itemId = this.editResponse.item_id;


        // var conditionIndex = this.itemsConditions.indexOf(this.editResponse.item_condition);
        this.$.comboConditionItem.value = this.editResponse.item_condition;


        this.$.uploader.target = this.UrlBase + this.itemID;
        this.$.inThumbnail.removeAttribute('hidden');
        this.set('ItemPicsArray', this.editResponse.pictures);

        var imagesCount = this.editResponse.pictures.length;
        if (imagesCount > 0) {
            this.isLogged = true;
        }
        this._enableUpload(imagesCount);

        this.pageSelected = 0;
        dialogSpinner.close();

    },

    _cancelNewItem: function (e) {

        e.preventDefault();
        this.$.list.scrollToIndex(0);
        this._filterList();

        this._resetForm();

        app.showDrawerPanel();
        document.querySelector('#searchFab').style.display = "block";
        this.pageSelected = 1;
        this.editingItem = false;

    },

    _formatDate: function (date) {
        var app = document.querySelector('#app');
        return app.timeConverter(date, 'long');
    },

    _ajaxItemsCallback: function(e){

        dialogSpinner.close();
        this.set('listItems' , e.detail.response);
        /*Redibujo la grilla para que muestro todos los items*/
        this.$.list.fire('iron-resize');

        if(this.listItems.length === 0){
            this.$.emptyBox.style.display = 'block';
            this.$.emptyBox.style.opacity = 1;
        }else{
            this.$.emptyBox.style.display = 'none';
            this.$.emptyBox.style.opacity = 0;
        }
    },

    /**
    * Funcion que verifica si el item peretenece al usuario en sesión, para mostrar o no los botones de edit y
    * sold
    * @param userId id del propietario del item
    * @returns {boolean}
    */
    verifyOwnership: function (userId) {

        if(userId == this.user){
            return true;
        }

        return false;
    },

    /**
    * Funcion que reinicia el formulario de creación de item
    **/
    _resetForm: function () {
        /*reinicio los imputs*/
        this.$.title.value = "";
        this.$.text.value = "";
        this.$.amount.value = "";
        this.$.txtAddressItem.clear();
        this.$.comboConditionItem.value="";

        /*Reinicio los mensajes de error*/
        this.$.title.invalid = false;
        this.$.text.invalid = false;
        this.$.amount.invalid = false;
        this.$.comboConditionItem.invalid = false;

        /*reinicio la url de la carga de imagenes*/
        this.$.uploader.target = this.UrlBase;
        this.$.uploader.files = [];
        this.$.uploader.maxFiles = 4;
        //                this._enableUpload();
        this.$.uploader.buttonLabel = 'Upload picture';

        /*limpio el array de imagenes del item*/
        this.set('ItemPicsArray', []);

        /*reinicio las categorías*/
        this.$.ajaxCategories.url = this.urlCategories;
        this.$.ajaxCategories.generateRequest();

        /*reinicio el thumbnail*/
        this.$.inThumbnail.setAttribute('hidden', true);

        /*reinicio el botón cancel/go back*/
        this.set('cancelBackLabel', 'Cancel');

        this.isButtonSaveClicked = false;

    },

    /**
    * Función que permite seleccionar sólo una categoría para los items
    **/
    _tapCategoryRadioButton: function (e) {
        this.stopPropagation(e);

        /*en caso de que se deseleccione un radio button la ejecución se interrumpe*/
        if(!e.currentTarget.checked){
            this.categorySelected = null;
            return;
        }
        e.currentTarget.checked = false;

        /*entra sólo si hay algun otro radio button seleccionado previamente*/
        if(this.$.boxCategories.querySelector('[checked]')){
            this.$.boxCategories.querySelector('[checked]').checked = false;
        }
        e.currentTarget.checked = true;

    },

    _categoriesCallback: function () {
        app.updateMainscrollHeight();
    },

    _adjustScroll: function () {
        app.updateMainscrollHeight();
        var mainDiv = document.querySelector('#mainScroll');
        setTimeout(function () {
            mainDiv.scrollTop = mainDiv.scrollHeight;
        }, 1);
    },
    _onButtonSaveTap: function () {

        if (this.itemID){
            this.isButtonSaveClicked = true;
        }
        this._save();
    },

    stopPropagation: function (e){
        e.stopPropagation();
        e.preventDefault();
        if (e.gesture)
        e.gesture.stopPropagation();
        if (e.gesture)
        e.gesture.preventDefault();
    }
});

});


</script>
