<dom-module id="message-list-item">
    <template>

        <style include="shared-styles">

        .item {
            position: relative;
            padding: 0;
            margin-bottom: -22px;
            margin-top: -20px;

            -webkit-font-smoothing: antialiased;
        }
        .left-time{
            display: none;
        }
        .right-time{
            display: none;
        }
        .pic-journalist {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 15px;
            margin-bottom: -10px;
        }
        .name-text {
            font-size: 15px;
            margin-left: 2px;
            color: #999 !important;
            margin-top: 10px;
        }
        .dialogue-right{
            position: relative;
            top: -20px;
            margin: 5px;
            padding: 5px;
            text-align: right;
            word-wrap: break-word;
        }
        .dialogue-left{
            position: relative;
            top: -20px;
            margin: 5px;
            padding: 5px;
            text-align: left;
            word-wrap: break-word;
        }
        .h_line {
            height:1px;
            background: #bbb;
            margin-top: 12px;
            margin-bottom: -12px;
        }
        .date-text{
            background: white;
            padding: 10px;
            color: #999;
            font-size: 12px;
        }
        .message-text{
            font-size:13px !important;
            text-align: left;
            word-wrap: break-word;
            white-space: normal;
        }
        .right {
            text-align: right;
        }
        .left{
            text-align: left;
        }
        .msg{
            padding-left: 45px;
            padding-right: 55px;
            @apply(--small-text);
        }
        pre{
            font-size: 15px;
            color: #444;
            font-family: Roboto,Noto,'Helvetica Neue',Helvetica,Arial,sans-serif;
            -webkit-font-smoothing: antialiased;
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            margin-right: -12px;
        }
        .block_1{
            z-index: 1000;
            margin-bottom: 30px;
        }
        .item-title{
            margin-bottom: -12px;
        }

        </style>


        <div class="row center-xs">

            <!-- <div class="col-xs-1 ">
                <span class="left-time" style="color:#999; font-size: 11px; margin-left: 10px;">{{_formatDate(item.timestamp)}}</span>
            </div> -->

            <div class="col-xs-11">
                <template is="dom-if" if="{{!item.newDate}}">
                    <div class="item">
                        <template is="dom-if" if="{{item.showPic}}">
                            <div class$="{{_classTitleAlignment(item)}}">
                                <div style="width: 47px">
                                    <img class="pic-journalist"
                                         src$="{{_calculateUserPicture(item)}}">
                                </div>
                                <template is="dom-if" if="{{!_isMime(item)}}">
                                    <div class$="{{_journalistNameClass(item)}}">
                                        <span class="name-text">{{item.sender_name}}</span>
                                        <span style="color:#999; font-size: 11px; margin-left: 10px;">{{_formatDate(item.timestamp)}}</span>
                                    </div>
                                </template>
                                <template is="dom-if" if="{{_isMime(item)}}">
                                    <div class$="{{_journalistNameClass(item)}}">
                                        <span style="color:#999;font-size: 11px;">{{_formatDate(item.timestamp)}}</span>

                                    </div>
                                </template>
                            </div>
                            <!--
                                                            <div class="col-xs first-xs" align="right">
                                                                <span class="name-text">8:38 PM <b>{{item.sender_name}}</b></span>
                                                            </div>
                            -->
                        </template>
                        <template is="dom-if" if="{{!item.showPic}}">
                            <div class$="{{_itemTime(item)}}">
                                <span style="color:#999; font-size: 11px; margin-left: 10px;">{{_formatDate(item.timestamp)}}</span>
                            </div>
                        </template>
                        <div class$="{{_divTextClass(item)}}">
                            <pre id="z{{item.timeuuid}}" class$="{{_calculateTextClass}}">{{_setItemMessageHtmlContent(item)}}</pre><!--.message-->
                        </div>
                    </div>
                </template>
                <template is="dom-if" if="{{item.newDate}}">
                    <div align="center">
                        <div class="h_line" align="center"></div><div class="block_1"><span class="date-text">{{item.date}}</span></div>
                    </div>
                </template>
            </div>
        </div>

    <script>

        (function () {
            'use strict';

            Polymer({
                is: 'message-list-item',
                behaviors: [
                    //
                ],

                listeners: {
                    //
                },

                properties: {
                    //
                },

                ready: function () {
                    this.currentUserID = session.getUser();
                    this.currentUserPicture = session.getPicture();
                },

/*******************************************************************************/
// STYLES - layout
/*******************************************************************************/
                _classTitleAlignment: function(item){

                    if (item.sender_id == this.currentUserID) {
                        return "row middle-xs item-title end-xs";
                    } else {
                        return "row middle-xs item-title start-xs";
                    }
                },

                _calculateUserPicture: function(item){

                    if(item.sender_id == this.currentUserID){
                        return app.profilePictureMini(this.currentUserPicture);
                    }

                    var i;
                    for(i=0; i < this.userTarget.length; i++){
                        if(this.userTarget[i] == item.sender_id) break;
                    }

                    return app.profilePictureMini(this.userTargetPic[i]);
                },

            });
        })();
    </script>
</dom-module>
