<dom-module id="ngo-list">
    <template class="items_grant">

        <style>
            :host {
                @apply(--font-jouture);
            }
            .title, .title-button {
                @apply(--small-text-highlighted-black);
            }
            .title-button {
                margin-left: -7px !important;
            }
            .tags {
                @apply(--very-small-text);
                text-align: left;
            }
            .detail-title {
                @apply(--medium-text-highlighted);
            }
            .detail-location {
                @apply(--small-text);
            }
            .line {
                border-bottom: 1px solid #E48C00;
                overflow: hidden;
            }
            .header {
                padding: 0 20px 0 20px;
                margin: 0;
            }
            paper-dialog.colored {
                background-color: var(--item-background-color);
            }
            .dialog_link{
                @apply(--small-text-highlighted);
            }

            .dialog_close {
                @apply(-small-text);
            }

            iron-list {
                background-color: white;
                padding-top: 1px;
                padding-bottom: 16px;
            }
            .item {
                padding: 20px;
                background-color: white;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
            }
            .item:focus {
                outline: 0;
            }
            .primary {
                @apply(--small-text);
            }
            .primary:hover {
                color: #FC7108;
            }
            .longText, .firstLine {
                font-size: 14px !important;
            }
            .longText, .firstLine{
                color: gray;
                display: none;
            }
            .truncate {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            iron-icon {
                --iron-icon-width: 16px;
                margin-left: -4px;
            }
            .link-button {
                @apply(--very-small-text-highlighted);
            }

        </style>



        <iron-ajax
            last-response="{{items}}"
            url="{{url}}"
            method="GET">
        </iron-ajax>


        <div class="row">
            <div class="col-lg-11 col-md-11 col-xs-12 start-xs header">
                <div class="row middle-xs mess_table_head">
                    <div class="col-xs-7" id="titleName"><p class="title">ORGANIZATION NAME </p></div>
                    <div class="col-xs-12 col-sm-3"><paper-button class="title-button" on-tap="_openLocation">LOCATION</paper-button> </div>
                </div>
            </div>
        </div>

        <div class="col-lg-11 col-md-11 col-xs-12 start-xs line"></div>


        <iron-list id="list" items="[[items]]" as="item" >
            <template>


                <div class="col-lg-11 col-md-11 col-xs-12 start-xs" on-tap="_showDetail">


                    <div class="item" tabindex="0">

                        <div class="row">
                            <div class="col-xs-12 col-sm-7 primary truncate">
                                Nombre de la Organizacion no gubernamental
                            </div>
                            <div class="col-xs-8 col-sm-3 primary truncate">Mendoza, Argentina</div>
                            <div class="col-xs-2 col-sm-2" style="text-align:right">
                                <paper-button on-tap="_openLink" class="link-button">Web Site</paper-button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 last-xs">
                                <paper-button on-tap="_tagAction" class="tags">Tag1uno</paper-button>
                                <paper-button on-tap="_tagAction" class="tags">Tag2dos</paper-button>
                                <paper-button on-tap="_tagAction" class="tags">Tag3Tres</paper-button>
                            </div>
                        </div>

                    </div>

                </div>
            </template>
        </iron-list>


        <paper-dialog id="modalLocation" modal>
            <!-- <in-countries id="countries"></in-countries> -->
        </paper-dialog>


        <paper-dialog id="modalDetail" modal class="colored">
            <div class="row middle-xs">

                <div class="col-xs-12 col-md-10">
                    <div class="row">
                        <div class="col-xs-12 detail-title" >{{grantDetail.gra_title}}</div>
                        <div class="col-xs-12 detail-location">
                            <iron-icon icon="in-icon-set:place"></iron-icon>{{grantDetail.gra_location}}
                        </div>
                    </div>
                </div>

            </div>

            <br/>

            <p>{{grantDetail.gra_description}}</p>

            <div class="row end-xs">
                <div class="col-xs-6">
                    <paper-button class="dialog_close" dialog-confirm autofocus>Close</paper-button>
                    <paper-button class="dialog_link" on-tap="_dialogOpenLink">Web Site</paper-button>
                </div>
            </div>
        </paper-dialog>


        <iron-media-query query="(max-width: 48em)" query-matches="{{xs}}"></iron-media-query>

    </template>
</dom-module>

<script type="text/javascript">

    HTMLImports.whenReady(function () {

        Polymer({
            is: 'ngo-list',
            behaviors: [ajaxBehavior],
            properties: {
                reload: {
                    type: Boolean,
                    value: true
                },
                url: {
                    type: String
                },
                xs:{
                  observer:'_resChanged',
                  value:false,
                  notify: true
                },
                selected: {
                    type: Object,
                    observer: "_countryChanged"
                }
            },
            _resChanged: function(){

                if(this.xs){
                    this.$.titleName.style.display = 'none';
                }else{
                    this.$.titleName.style.display = 'block';
                }
            },
            _countryChanged: function(){

                //TODO: usar url de NGOs filtrando por pais
                //Disparar la llamada
            },
            ready: function () {


                this.$.countries.addEventListener('selected', function (e) {
                    var selectedCountryID = e.detail.value;
                    //TODO: cerrar el modal en este evento. Es otro scope
                    //this.$.modalLocation.cancel();
                    console.log(selectedCountryID);
                });
            },
            _tagAction: function (e) {
                console.log(e.target);
                e.stopPropagation();

            },
            _showDetail: function (e) {
                var list = this.$.list;
                var index = e.model.index;
                this.grantDetail = list.items[index];
                this.$.modalDetail.toggle();
            },
            _openLink: function (e) {
                console.log(e.target);
                var list = this.$.list;
                var index = e.model.index;
                var url = list.items[index].gra_url + '';
                window.open(url, '_blank');
                e.stopPropagation();
            },
            _dialogOpenLink: function () {
                window.open(this.grantDetail.gra_url, '_blank');
            },
            _openLocation: function(){
                this.$.modalLocation.toggle();
                this.$.countries.getReady();
            }
        });

    });


    function openLink(url) {
        url = url + '';
        window.open(url, '_blank');
    }

    function saveGrant() {

        $("#spinnerSaveForm").css("display", "block");
        $("#btnSaveForm").attr("disabled", "disabled");

        var url = '/resource/grants/';
        operations.save('formGrant', url, successSaveGrant);
    }

    function successSaveGrant() {

        $("#spinnerSaveForm").css("display", "none");
        $("#btnSaveForm").removeAttr("disabled");

        var item = new Object();

        item.title = $('#title').html();
        item.description = $('#description').html();
        item.deadline = $('#deadline').html();
        item.location = $('#location').html();
        item.amount = $('#amount').html();
        item.focus = $('#focus').html();
        item.url = $('#url').html();

        var listGrants = document.querySelector('#list');
        listGrants.push('data', item);
        closeModalGrant();
    }



</script>
