
<dom-module id="about-page">
    <template>
        <style is="custom-styles" include="landing-styles">

            :host {
            @apply(--font-jouture);
            }
            .main-title {
            @apply(--huge-text-highlighted);
                margin-bottom: 20px;
            }
            .sub-title {
            @apply(--big-text-highlighted);
            }
            .button-social {
                width: 65px;
                height: 65px;
            }
            .button-medium {
                width: 57px;
                height: 57px;
                margin-top: 4px;
            }
            .button-reddit {
                width: 57px;
                height: 57px;
                margin-top: 4px;
            }
            .button-reddit /deep/ iron-icon > img {
                border-radius: 25px;
            }
            p {
            @apply(--medium-text);
            }
            .thanks{
            @apply(--small-text);
                margin: 5px;
            }
            .link {
            @apply(--small-text-highlighted);
            }
            img {
                max-width:70px !important;
                height:auto;
                display: inline-block;
                border-radius: 50%;
                box-shadow: 0px 1px 3px #555;
                margin-top: 40px;
                margin-bottom: 8px;
            }
            .team-name {
            @apply(--very-small-text);
                color: var(--accent-color);
            }
            .team-description {
            @apply(--very-small-text);
            }
            .section{
                padding-top:50px;
                padding-bottom: 50px;
            }
            .gray{
                background-color: #eaeaea;
            }
            .space{
                margin-top: 20px;
            }
        </style>

        <div class="row section">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                <div class="row">
                    <div class="col-xs-12 main-title">Join your Kulectiv</div>
                </div>

                <p>Our mission is to encourage collaboration between journalism professionals and consolidate relevant resources.</p>
                <p>We at Kulectiv, hail from different parts of the world and are passionate about changing the current
                    media landscape through education, community and technology.</p>

            </div>
        </div>
        <div class="row section gray">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                <div class="row center-xs">
                    <div class="col-xs-12 sub-title">Our Team</div>
                </div>

                <div class="row center-xs around-xs">

                    <div class="col-xs-4 col-sm-3 col-md-3">

                        <div class="vertical layout center">
                            <img src="/images/landing/mo.png" alt="Mohamed Ali">
                            <span class="team-name">Mohamed Ali</span>
                            <span class="team-description">Founder & CEO</span>
                        </div>

                    </div>

                    <div class="col-xs-4 col-sm-3 col-md-3">

                        <div class="vertical layout center">
                            <img src="/images/landing/damian.png" alt="Damian Buzzaqui">
                            <span class="team-name">Damian Buzzaqui</span>
                            <span class="team-description">Founder & CTO</span>
                        </div>

                    </div>

                </div>

                <div class="row center-xs around-xs">

                    <div class="col-xs-4 col-sm-3 col-md-3">

                        <div class="vertical layout center">
                            <img src="/images/landing/pablo.jpg" alt="Pablo Vazquez">
                            <span class="team-name">Pablo Vazquez</span>
                            <span class="team-description">FRONT/BACK END</span>
                        </div>

                    </div>

                    <div class="col-xs-4 col-sm-3 col-md-3">

                        <div class="vertical layout center">
                            <img src="/images/landing/daniels.jpg" alt="Daniel Stocco">
                            <span class="team-name">Daniel Stocco</span>
                            <span class="team-description">FRONT END</span>
                        </div>

                    </div>

                </div>

                <div class="row center-xs around-xs">

                    <div class="col-xs-4 col-sm-3 col-md-3">

                        <div class="vertical layout center">
                            <img src="/images/landing/daniel.png" alt="Daniel Robert">
                            <span class="team-name">Daniel Robert</span>
                            <span class="team-description">BACKEND</span>
                        </div>

                    </div>

                    <div class="col-xs-4 col-sm-3 col-md-3">

                        <div class="vertical layout center">
                            <img src="/images/landing/natalia.png" alt="Natalia Lo Duca">
                            <span class="team-name">Natalia Lo Duca</span>
                            <span class="team-description">BACKEND</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="row section">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                <div class="row center-xs">
                    <div class="col-xs-12 sub-title">Special thanks to</div>
                    <div class="col-xs-12 thanks space">Leena El Deeb</div>
                    <div class="col-xs-12 thanks">Leyla Doss</div>
                    <div class="col-xs-12 thanks">Shaheer Shaheen</div>
                    <div class="col-xs-12 thanks">Amira El Fekki</div>
                    <div class="col-xs-12 thanks">Adam Koppeser</div>
                    <div class="col-xs-12 thanks">Rahma Zein El Din</div>
                    <div class="col-xs-12 thanks">Shahira Amin</div>
                </div>

            </div>
        </div>

        <div class="row section gray">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                <div class="row center-xs">
                    <div class="col-xs-12 sub-title">Legal</div>
                </div>
                <div class="row center-xs space">
                    <div class="col-xs-12 thanks">For our terms and conditions</div>
                </div>
                <div class="row center-xs space" >
                    <p><a class="link" href="javascript:download('kulectiv terms.pdf');">Download</a></p>
                </div>

            </div>
        </div>

        <div class="row section">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                <div class="row center-xs">
                    <div class="col-xs-2">
                        <a target="_blank" href="https://www.facebook.com/kulectiv/?utm_source=link&utm_medium=fb&utm_campaign=mainpage">
                            <paper-icon-button src="/images/landing/social/icon-facebook.png" class="button-social"></paper-icon-button>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a target="_blank" href="https://twitter.com/kulectiv?utm_source=Twreferral&utm_medium=button&utm_campaign=mainpage">
                            <paper-icon-button src="/images/landing/social/icon-twitter.jpg" class="button-social"></paper-icon-button>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a target="_blank" href="https://www.linkedin.com/company-beta/24596871/?utm_source=link&utm_medium=linkedin&utm_campaign=mainpage">
                            <paper-icon-button src="/images/landing/social/icon-linkedin.png" class="button-social"></paper-icon-button>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a target="_blank" href="https://www.reddit.com/user/Kulectiv/?utm_source=link&utm_medium=reddit&utm_campaign=mainpage">
                            <paper-icon-button src="/images/landing/social/icon-reddit.png" class="button-reddit"></paper-icon-button>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a target="_blank" href="https://medium.com/@kulectiv?utm_source=link&utm_medium=blog&utm_campaign=mainpage">
                            <paper-icon-button src="/images/landing/social/icon-medium.png" class="button-medium"></paper-icon-button>
                        </a>
                    </div>

                </div>

            </div>
        </div>


    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'about-page',
                properties: {
                    //
                }
            });

        })();

        function download(fileName) {
            filePath = '/pdf/' + fileName;
            window.open(filePath, '_blank');
        }


    </script>
</dom-module>
