<dom-module id="item-single-image">
    <template>
        <style include="shared-styles">
            .img-small {
                filter: blur(50px);
            }
            .placeholder img.loaded {
                opacity: 1;
            }

            .placeholder img {
                position: absolute;
                opacity: 0;
                transition: opacity 1s linear;
            }
            .placeholder {
                background-color: #f6f6f6;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                overflow: hidden;
            }


        </style>



    <div id="placeholder" class="placeholder" data-large$="{{_getImageUrl(picName)}}">
        <img id="smallImage" src$="{{_getImageSmallUrl(picName)}}"
             class="img-small"
             on-load="_onSmallImageLoad">
        <div style="padding-bottom: 66.6%;"></div>
    </div>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'item-single-image',

                properties: {
                    selected:{
                        type: Boolean,
                        observer: '_onSelectedChange'
                    }

                },

                _onSelectedChange: function () {
                        this._setImagesPosition();
                },

                _getImageUrl: function(pictureName){
                    return app.apinode + "/images/get.picture/marketplace/" + pictureName;
                },

                _getImageSmallUrl: function(pictureName){
                    return app.apinode + "/images/get.picture/marketplace.thumbnail/" + pictureName;
                },

                _onSmallImageLoad: function(e){
                    this.imgLarge = new Image();

                    if (this.$.placeholder.offsetWidth > 0) {
                        this._setImagesPosition();
                    }


                    e.currentTarget.classList.add('loaded');

//                    this.$.allContent.classList.remove('all-hidden');
                    this.fire('image-loaded');


                    this.imgLarge.style.opacity = "0";
                    this.imgLarge.style.position = "absolute";
                    this.imgLarge.style.transition = "opacity 1s linear";

                    this.imgLarge.onload = function () {
                        this.imgLarge.style.opacity = "1";
                    }.bind(this);

                    this.imgLarge.src = this.$.placeholder.dataset.large;
                    this.$.placeholder.appendChild(this.imgLarge);
                },

                _setImagesPosition: function () {
                    var percentOffset;

                    if (this.$.smallImage.offsetHeight >= this.$.smallImage.offsetWidth) {

                        this.$.smallImage.style.height = '100%';
                        percentOffset = this._getPercentOffsetLeft();
                        this.$.smallImage.style.left = percentOffset;
                        this.$.smallImage.style.top = '0';

                        if (this.imgLarge) {
                            this.imgLarge.style.height = "100%";
                            this.imgLarge.style.left = percentOffset;
                            this.imgLarge.style.top = '0';
                        }

                    }else{

                        this.$.smallImage.style.width = '100%';
                        percentOffset = this._getPercentOffsetTop();
                        this.$.smallImage.style.left = '0';
                        this.$.smallImage.style.top = percentOffset;

                        if (this.imgLarge) {
                            this.imgLarge.style.width = "100%";
                            this.imgLarge.style.left = '0';
                            this.imgLarge.style.top = percentOffset;
                        }
                    }
                },

                _getPercentOffsetLeft: function () {
                    var placeholder = this.$.placeholder.offsetWidth;
                    var pic = this.$.smallImage.offsetWidth;
                    return (((placeholder - pic) * 100)/ placeholder) / 2 + '%';
                },

                _getPercentOffsetTop: function () {
                    var placeholder = this.$.placeholder.offsetHeight;
                    var pic = this.$.smallImage.offsetHeight;
                    return (((placeholder - pic) * 100)/ placeholder) / 2 + '%';
                }

            });
        })();
    </script>
</dom-module>
