<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../in/in-mobile-message/in-mobile-message.html">
<link rel="import" href="item-single-image.html">


<dom-module id="item-view">
    <template>
        <style include="shared-styles">
            :host {
            @apply(--font-jouture);
            }
            .all-hidden {
                opacity: 0;
            }
            paper-radio-button{
                --paper-radio-button-checked-color: var(--accent-color);
            }
            .button-send-message {
                text-transform: none;
                border-radius: 40px;
                /*margin-top: 40px;*/
            }
            iron-icon {
                --iron-icon-width: var(--location-icon-width);
                margin-left: -3px;
            }
            .location {
                @apply(--small-text);
                margin-top: 5px;
            }
            .amount{
                text-align: right;
                @apply(--medium-text);
            }
            .condition {
                @apply(--small-text);
                text-align: right;
            }
            .title{
            @apply(--medium-text-highlighted);
                padding-top: 40px;
            }
            .summary{
            @apply(--small-text);
                text-align: justify;
            }
            .date{
            @apply(--very-small-text);
            }
            .item-box {
                margin-top: 20px;
            }
            paper-icon-button {
                color: var(--light-primary-color);
            }
            paper-icon-button.selected {
                color: var(--accent-color);
            }
            paper-icon-button.selected:hover {
                background: #EEEEEE;
                border-radius: 50%;
            }
            paper-icon-button.chevron-button {
                margin-left: -10px;
                /*padding-left: 0px;*/
                color: var(--dark-primary-color);
            }
            .user-picture {
                border-radius: 50%;
                box-shadow: 0px 1px 3px #555;
                margin: 40px 0 10px 0;
                width:70px;
                height:70px;
                cursor: pointer;
            }
            .go-back {
                @apply(--very-small-text);
                color: var(--dark-primary-color);
            }
            .go-back > paper-button {
                text-transform: none !important;
            }
            .placeholder img {
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                transition: opacity 1s linear;
            }
            .placeholder img.loaded {
                opacity: 1;
            }
            .img-small {
                filter: blur(50px);
            }
            .direct-message-dialog{
                width:800px;
                max-height: 500px;
            }
            .no-pic-container{
                margin-bottom: 20px;
            }
            .message-sent-container{
                margin-bottom: 40px;
            }
            .message-sent-text{
                @apply(--medium-text);
            }
            #input {
                background-color: blue !important;
                max-height: 10px !important;
            }


            @media only screen and (max-width: 48em) {
                paper-textarea{
                    /*background-color: red;*/
                }
                iron-autogrow-textarea {
                    background-color: blue;
                    max-height: 10px;
                }
                .location {
                    @apply(--very-small-text);
                }
                .condition {
                    @apply(--very-small-text);
                }
            }

        </style>

        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3" style="margin-top:15px; margin-bottom: -10px;">

                <a href="/marketplace/" class="go-back">
                    <paper-icon-button class="chevron-button" icon="in-icon-set:chevron-left"></paper-icon-button>
                </a>
                <a href="/marketplace/" class="go-back">
                    <paper-button>Go back to the gear list</paper-button>
                </a>

                <br><br>
            </div>
        </div>


        <div class="row " id="allContent">
            <div class="col-xs-12 col-md-6 col-md-offset-3" style="">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="row center-xs">

                            <template is="dom-if" if="{{!imageExist}}">
                                <div class="col-xs-12 col-md-10  no-pic-container">
                                    <img style="width: 100%;height: auto"
                                         src="../../../images/no-image-available.png">
                                </div>
                            </template>

                            <template is="dom-if" if="{{imageExist}}">
                                <div class="col-xs-12">

                                    <iron-pages id="sliderImages" selected="{{selected}}">
                                        <template is="dom-repeat" items="{{itemsPics}}">
                                            <item-single-image selected="{{item.selected}}" pic-name="{{item.pic_name}}"></item-single-image>
                                        </template>
                                    </iron-pages>
                                </div>
                            </template>



                            <div class="col-xs-12" id="sliderDots">

                                <template id="sliderControlDomRepeat" is="dom-repeat" items="{{itemsPics}}">

                                    <paper-icon-button class$="{{_calculateIconClass(index)}}"
                                                       icon="in-icon-set:lens"
                                                       on-tap="_slide"
                                                       data-attr$="[[index]]"></paper-icon-button>

                                </template>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <span class="title">[[response.item_title]]</span>
                    </div>
                </div>

                <div class="row between-xs">
                    <div class="col-xs location">
                         <!-- <iron-icon icon="in-icon-set:place"></iron-icon> -->
                         <span>[[response.item_address]]</span>
                    </div>
                    <div class="col-xs amount">
                        <span>$ &nbsp; [[response.item_amount]]</span>
                    </div>
                </div>
                <div class="row between-xs">
                    <div class="col-xs">
                        <span class="date">[[_formatDate(response.item_date)]]</span>
                    </div>
                    <div class="col-xs condition">
                        <span>[[response.item_condition]]</span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 item-box">
                        <p class="summary">
                            [[response.item_summary]]
                        </p>
                    </div>
                </div>

                <div class="row center-xs" id="messageOwnerContainer" style="margin-bottom:80px;">
                    <div class="col-xs-12">
                        <img class="user-picture"
                             user-id="{{response.user_id}}"
                             on-tap="_onJournalistPicTap"
                             src$="{{_getUserPictureUrl(ownerInfo.picture)}}">
                    </div>

                    <div class="col-xs-12" style="color:orange; margin-bottom:20px;">
                        <span>{{ownerInfo.name}}</span>
                    </div>

                    <template is="dom-if" if="{{!response.item_sold}}">
                        <div class="col-xs-12">
                            <paper-button class="ok-button button-send-message" on-tap="_newMessage">Ask about this product</paper-button>
                        </div>
                    </template>
                </div>

            </div>
        </div>

        <in-mobile-message id="dialogMessage"
                           hide-ok-button
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <div class="row" hidden$="{{isMessageSent}}">
                <!--FORM-->
                <div class="col-md-10 col-xs-12 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12">
                            {{subject}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">

                            <in-send-text id="messageSender"></in-send-text>

                        </div>
                    </div>

                </div>
            </div>

            <div hidden$="{{!isMessageSent}}" class="row center-xs">
                <div class="col-md-10 col-xs-12 message-sent-container">
                    <span class="message-sent-text">Sent! You can find your inquiry in the
                        <span on-tap="_onMessageLinkTap" class="help-action">messages</span> tab.</span>
                </div>
            </div>

        </in-mobile-message>

        <iron-ajax id="ajaxGetItem"
                   method="GET"
                   with-credentials
                   handle-as="json"
                   on-response="_getItemDetailResponse"
                   last-response="{{response}}"></iron-ajax>

        <iron-ajax id="ajaxGetOwnerInfo"
                   method="GET"
                   with-credentials
                   handle-as="json"
                   on-response="_getOwnerInfoCallback"></iron-ajax>


    </template>
    <script>

        (function () {
            'use strict';

            Polymer({
                is: 'item-view',
                behaviors: [ajaxBehavior],
                properties: {
                    params: {
                        type: Object,
                        observer: "_getDetail"
                    },
                    selected:{
                        type: Number,
                        value: 0,
                    },

                    isMessageSent:{
                        type: Boolean,
                        value: false
                    }
                },

                listeners:{
                    'image-loaded': '_onImageLoaded'
                },

                attached: function () {

                    this.addEventListener('message-sent', function(e){
                        this.$.dialogMessage.close();
                    }.bind(this));
                },

                _onImageLoaded: function () {
                    this.$.allContent.classList.remove('all-hidden');
                },

                _formatDate: function (date) {
                    var app = document.querySelector('#app');
                    return app.timeConverter(date, 'long');
                },

                _onSmallImageLoad: function(e){

                    e.currentTarget.classList.add('loaded');

                    this.$.allContent.classList.remove('all-hidden');

                    var placeholder = e.currentTarget.parentNode;

                    var imgLarge = new Image();
                    imgLarge.style.opacity = "0";
                    imgLarge.style.position = "absolute";
                    imgLarge.style.left = "0";
                    imgLarge.style.top = "0";
                    imgLarge.style.width = "100%";
                    imgLarge.style.transition = "opacity 1s linear";

                    imgLarge.onload = function () {
                        imgLarge.style.opacity = "1";
                    };

                    imgLarge.src = placeholder.dataset.large;
                    placeholder.appendChild(imgLarge);
                },

                _slide: function(e){

                    this._cleanIconClass();

                    var item = this.$.sliderControlDomRepeat.itemForElement(e.target);
                    var selectedIndex = e.currentTarget.getAttribute('data-attr');

                    this.selected = selectedIndex;
                    e.currentTarget.className += ' selected ';

                    /*Utilizo esta variable para centrar la imagen que fue seleccionada*/
                    this.set('itemsPics.'+ selectedIndex + '.selected', true);

                },

                _getDetail: function () {

                    if (this.route !== 'marketplace' || this.route_marketplace !== 'detail') {
                        return true;
                    }

                    this.$.allContent.classList.add('all-hidden');

                    if(this.itemsPics){
                        this.set('itemsPics', []);
                        this.selected = 0;
                    }

                    this.$.ajaxGetItem.url = app.apinode + '/marketplace/' + this.params.item;
                    this.$.ajaxGetItem.generateRequest();
                },

                _getImageUrl: function(pictureName){
                    return app.apinode + "/images/get.picture/marketplace/" + pictureName;
                },

                _getImageSmallUrl: function(pictureName){
                    return app.apinode + "/images/get.picture/marketplace.thumbnail/" + pictureName;
                },

                _getUserPictureUrl: function(pictureName){
                    return app.apinode + "/images/get.picture/thumbnail/" + pictureName;
                },

                _calculateIconClass: function(index){
                    if(parseInt(index) === 0){
                        return 'selected';
                    }
                    return '';
                },

                _cleanIconClass: function(){

                    var dots = this.$.sliderDots;
                    var dot = dots.querySelector('.selected');
                    if(!dot){
                        return;
                    }
                    var classes = dot.className;
                    if(classes){
                        dot.className = classes.replace('selected', '');
                    }
                },

                _newMessage: function () {

                    this._resetdialogMessageDialog();

                    var userToSend = this._cleanItem(this.ownerInfo);
                    this.$.messageSender.setMarketplaceBehavior(userToSend, this.response.item_title);
                    this.set('subject', 'Hi ' +  this.ownerInfo.name + '! I am interested on your item: "' + this.response.item_title + '"');

                    this.$.dialogMessage.sendButtonAction = this._sendMessageTap;
                    this.$.dialogMessage.context = this;
                    this.$.dialogMessage.open();
                },

                /*
                 * If the items has array attributes, convert to its value.
                 */
                _cleanItem(item){

                    if(item.user_id instanceof Array) item.user_id = item.user_id[0];
                    if(item.name instanceof Array) item.name = item.name[0];
                    if(item.location instanceof Array) item.location = item.location[0];
                    if(item.picture instanceof Array) item.picture = item.picture[0];
                    if(item.position instanceof Array) item.position = item.position[0];

                    item.location = item.location || '';
                    item.picture = item.picture || '';
                    item.position = item.position || '';

                    return item;
                },

                _sendMessageTap: function (context) {
                    context.$.messageSender.send();
                },

                _getItemDetailResponse: function () {

                    this.$.ajaxGetOwnerInfo.url = app.apinode + "/journalists/get.info/" + this.response.user_id;
                    this.$.ajaxGetOwnerInfo.generateRequest();

                    var owner_id = parseInt(this.response.user_id);
                    var user_id = session.getUser();

                    this.imageExist = true;
                    if(this.response.pictures.length === 0){
                        this.$.allContent.classList.remove('all-hidden');
                        this.imageExist = false;
                    }
                    this.itemsPics = this.response.pictures;

                    if(owner_id == user_id){
                        this.$.messageOwnerContainer.style.display = 'none';
                    }else{
                        this.$.messageOwnerContainer.style.display = 'block'
                    }
                },

                _onJournalistPicTap: function(e){
                    page("/profile/" + e.currentTarget.userId);
                },

                _onMessageLinkTap: function () {
                    this.$.dialogMessage.close();
                    page('/message')
                },

                _resetdialogMessageDialog: function () {
                    this.isMessageSent = false;
                },

                _getOwnerInfoCallback: function (e) {
                   this.ownerInfo = e.detail.response[0];
                }

            });
        })();
    </script>
</dom-module>
