<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<!--<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">-->

<dom-module is="in-thumbnail">
    <style include="shared-styles">


        img {
            position: absolute;
            margin: auto;
            min-height: 100%;
            min-width: 100%;

            /* For the following settings we set 100%, but it can be higher if needed
            See the answer's update */
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
        }
        .miniatura {
            width: 100px;
            height: 100px;
            overflow: hidden;
            margin: 10px;
            position: relative;
        }
        .miniatura:hover {
            opacity:.8;   /* Opacidad */
            -moz-opacity:.8;
            -khtml-opacity:.8;
            filter:alpha(opacity=80);
            cursor: pointer;
        }
        .miniatura:active {
            opacity:1;
            -moz-opacity:1;
            -khtml-opacity:1;
            filter:alpha(opacity=80);
        }
        .check-imagen {
            margin-left: 75px;
            margin-top: 5px;
            --paper-checkbox-unchecked-color: white;
        }
        .delete-button {
            @apply(--small-text);
            margin-left: 0px;
            margin-top: 10px;
            text-transform: none;
            opacity: 0;
        }
        /*.delete-pic-label{*/
            /*@apply(--small-text);*/
        /*}*/
        .icon-delete-pic-button {
            color: var(--accent-color);
        }


    </style>

    <template>

        <div class="row ">
            <template id="imgesDomRepeat" is="dom-repeat" items="{{imageArray}}">
                <div class="col-xs-4 col-sm-3 col-md-2">

                    <div on-tap="_tapImage" class="miniatura">
                        <img src$="{{_computedSrc(item.pic_name)}}" />
                        <paper-checkbox on-tap="_tapImage"
                                        id="{{_checkImageId(index)}}"
                                        class="check-imagen"></paper-checkbox>
                    </div>


                </div>
            </template>
        </div>


        <section id="containerDeletePicbutton" class="container-delete-pic-button">

            <paper-button id="deletePicButton"
                          class="delete-button"
                          on-tap="_tapDelete">
                <iron-icon icon="in-icon-set:delete" class="icon-delete-pic-button"></iron-icon>
                Delete selected
            </paper-button>

        </section>


        <iron-ajax id="ajaxDelItemPic"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   last-response="{{ajaxDelItemPicResponse}}"
                   on-error="_ajaxDelItemPicError"></iron-ajax>




    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is:'in-thumbnail',

                properties:{
                    imageArray:{
                        type: Array,
                        value:[],
                        observer:'_imageArrayChange'
                    },
                    picsToDelete:{
                        type:Array,
                        value:[],
                        observer:'_changePicsToDelete'
                    },

                },

                _imageArrayChange: function () {
                    this.$.imgesDomRepeat.fire('iron-resize');
                },

                // _computeStyle: function(pic_name){
                //     var url = app.apinode + "/images/get.picture/marketplace.thumbnail/" + pic_name + '?' + Math.random();
                //     var style = "background: url("+ url +") 100% 100% no-repeat; width: 100px; height: 100px;"
                //     return style;
                // },

                _computedSrc: function (pic_name) {
                    return app.apinode + "/images/get.picture/marketplace.thumbnail/" + pic_name + "?" + Math.random();
                },

                /**
                 * Funcion que elimina una imagen de un item del marketplace
                 * @param e
                 * @private
                 */
                _tapDelete: function (e) {
                    app.stopPropagation(e);
                    /*elemen ajax que hace la llamada para borarr la imagen*/
                    var ajaxDelItemPic = this.$.ajaxDelItemPic;

                    /*datos a enviar al server*/
                    var body = {
                        pictures: JSON.stringify(this.picsToDelete)
                    };

                    ajaxDelItemPic.body = JSON.stringify(body);
                    ajaxDelItemPic.url = app.apinode + '/marketplace/pictures.delete/' + this.itemId ;
                    ajaxDelItemPic.generateRequest();

                    for (var i in this.imageArray){
                        for(var x in this.picsToDelete){
                            if(this.imageArray[i].pic_name == this.picsToDelete[x].pic_name){
                                this.splice('imageArray', i, 1);
                                this.fire('pic-deleted', this.imageArray.length);
                            }
                        }
                    }

                    /*limpio el arra picsToDelete*/
                    this.picsToDelete = [];
                },

                /**
                 * Función que se ejecuta al hacer clik en una imagen. Cambia el estado del check la imagen sobre la que
                 * se hizo tap y la agrega o quita del array de imagnes que serán eliminadas.
                 * @param e variable con los datos generados por el evento tap
                 * @private
                 */
                _tapImage: function (e) {
                    app.stopPropagation(e);

                    var indexItem = e.model.__data__.index; //indice del del emento
                    var newCheckState;

                    if (e.target.id) {
                        newCheckState = e.currentTarget.checked
                    }else{
                        var checkImage = this.querySelector('#checkImage_' + indexItem);
                        /*Seteo el estado del check box*/
                        newCheckState = this._setCheckState(checkImage);
                    }

                    /*Datos de la imagen seleccionada*/
                    var picItemData = e.model.__data__.item;

                    /*datos para ser enviados al server*/
                    var itemPicToDelete = {
                        item: picItemData.item_id,
                        item_picture: picItemData.pic_id,
                        pic_name: picItemData.pic_name
                    };


                    /*si el checkbox está seleccionado guardo la los datos de la imagen a borrar en el array a enviar al
                    * servidor*/
                    if (newCheckState) {
                        this.push('picsToDelete', itemPicToDelete);
                        console.log(this.picsToDelete);
                        /*Quito el atributo desabled del boton para borrar images*/
                        this.$.deletePicButton.removeAttribute('disabled');
                        this.$.deletePicButton.style.opacity = 1;
                        return;
                    }

                    /*Si se quita la seleccion del check se ejecuta esta sección del código*/

                    /*Búsco el indice dentro del array de la imagen a la que se le quitó la selección*/
                    var indexRevertSelection = this._checkCoincidence(this.picsToDelete, itemPicToDelete);

                    /*verifico que realmente haya coincidencia*/
                    if(!indexRevertSelection) return;

                    this.splice('picsToDelete', indexRevertSelection, 1);
                    console.log(this.picsToDelete);
                    this._changePicsToDelete();

                },

                /**
                 * Observer que controla los cambios en el arrary picsToDelete para setear el estado
                 * del botón delete selected
                 */
                _changePicsToDelete: function () {
                    console.log(this.picsToDelete.length);
                    if (this.picsToDelete.length === 0) {
                        this.$.deletePicButton.setAttribute('disabled', true);
                        this.$.deletePicButton.style.opacity = 0;
                    }
                },

                /**
                 * Función que cambia el estado del checkbox de una imagen
                 * @param checkImage checkbox a cambair estada
                 * @return Boolean
                 * @private
                 */
                _setCheckState: function (checkImage) {
                    checkImage.checked = !checkImage.checked;
                    return checkImage.checked;
                },

                /**
                 * Funcion que verifica si algun el pic_id de algun elemento del arrary pasado como parámetro coincide
                 * con el pic_id del elementyo pasado como parámeto
                 * @param array arrary de datos de imagenes
                 * @param item datos de imagen a eliminar
                 * @private
                 * @returns Boolean Number
                 */
                _checkCoincidence: function (array, item) {
                    var i;
                    for (i in array){
                        if(array[i].pic_name === item.pic_name){
                            return i;
                        }
                    }
                    return false;
                },

                /**
                 * Funcion que setea el id de los check de cada imagen en forma dinámica dependiendo del indice del
                 * array que lo genera
                 * @param index indice del array
                 * @returns {string} id para el checkbox
                 * @private
                 */
                _checkImageId: function (index) {
                    return 'checkImage_' + index;
                },

                _ajaxDelItemPicError: function(response){
                    app.showToast('There was an error, please refresh');
                }
            })
        })();
    </script>
</dom-module>
