<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- Iron elements -->
<script>

</script>

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<!-- Paper elements -->
<link rel="import" href="../behaviors/routing-behavior.html?v1.0">
<!-- <link rel="import" href="../bower_components/paper-toast/paper-toast.html"> -->
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html">

<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/google-apis/google-maps-api.html">
<link rel="import" href="./in/in-icon-set/in-icon-set.html?v1.51">
<link rel="import" href="./in/in-input-location/in-input-location.html">
<link rel="import" href="./in/in-password-input/in-password-input.html">
<link rel="import" href="./in/in-journalist-pic/in-journalist-pic.html">
<link rel="import" href="../behaviors/ajax-behavior.html">
<link rel="import" href="../behaviors/message-expert.html">
<link rel="import" href="../bower_components/recaptcha/re-captcha.html">

<link rel="import" href="./in/in-tutorial/in-tutorial.html?v1.06">
<link rel="import" href="./in/in-toast/in-toast.html?v1.24">
<link rel="import" href="./dashboard/dashboard-timer/dashboard-timer.html?v1.39">

<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">


<!-- Uncomment next block to enable Service Worker Support (2/2) -->
<!--
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-register.html">
-->

<!-- Configure your routes here -->
<!-- <link rel="import" href="routing.html"> -->

<!-- Add your elements here -->
<link rel="import" href="../styles/app-theme.html?v1.45">
<link rel="import" href="../styles/shared-styles.html?v1.35">
