<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- Add your elements here -->

<link rel="import" href="landing-page/landing-buttons/landing-buttons.html?v1.30">
<link rel="import" href="landing-page/forgot-password-page/forgot-password-page.html">
<link rel="import" href="landing-page/login-page/login-page.html?v1.29">
<!-- <link rel="import" href="landing-page/pricing-page/pricing-page.html?v1.29"> -->
<link rel="import" href="landing-page/about-page/about-page.html?v1.0">
<link rel="import" href="landing-page/terms-page/terms-page.html">
<link rel="import" href="landing-page/password-reset/password-reset.html">
