<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- <script src="../bower_components/page/page.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/page.js/1.7.1/page.min.js"></script>
<script src="../scripts/platform.js"></script>

<script>

    window.addEventListener('WebComponentsReady', function () {

        const HOME_PAGE = '/feed';

        function landingCommonHandler(ctx, next) {

            if(app.checkSession()){

                page.redirect("/feed");
                dialogSpinner.close();
                return;
            }

            app.showLandingHeader();
            instanceLanding(next);
        }

        function signupNoSessionCommonHandler(ctx, next) {

            if(app.checkSession()){

                page.redirect("/feed");
                dialogSpinner.close();
                return;
            }

            app.showLandingHeader();
            instanceSignup(next);
        }

        function signupCommonHandler(ctx, next) {

            if(!app.checkSession()){

                page.redirect("/landing");
                dialogSpinner.close();
                return;
            }

            app.showLandingHeader();
            instanceSignup(next);
        }


        /*This one has the NEXT() MUST be the last called */
        function onlyInstanceMainApp(ctx, next) {
            instanceMainApp(next);
        }

        /*This one has the NEXT() MUST be the last called */
        function commonHandler(ctx, next) {

            if(!app.checkSession() ){
                // in case there is a link to another page. Prevent go back to logout page
                app.nextPage = '/';
                if (ctx.pathname !== '/settings') {
                    app.nextPage = ctx.pathname;
                }
                // go directly to login page
                if (ctx.pathname !== '/' && ctx.pathname !== 'landing' && ctx.pathname !== 'home') {
                    page.redirect("/login");
                }else {
                    page.redirect("/landing");
                }
                dialogSpinner.close();
                return;
            }

            setBackgroundColor();
            instanceMainApp(next);
        }

        //Lazy load de main app module
        function instanceMainApp(next){

            var mainApp = document.querySelector('#mainApp');

            if(document.querySelector('#landing'))
                document.querySelector('#landing').remove();

            if(Polymer.isInstance(mainApp)){
                document.querySelector('#mainPages').selected = "main";
                document.querySelector('#mainScroll').scrollTop = 0;
                document.querySelector('#mainScroll').style.overflowY = "visible";
                dialogSpinner.close();
                next();
                return;
            }

            Polymer.Base.importHref(
                'elements/main-app/main-app.html?' + app.mainAppVersion,
                function(){
                    document.querySelector('#mainPages').selected = "main";
                    dialogSpinner.close();
                    next();
                }
            );
        }

        function instanceLanding(next){

            var outside = document.querySelector('#landing');

            if(Polymer.isInstance(outside)){

                document.querySelector('#mainPages').selected = "landing";
                dialogSpinner.close();
                next();
                return;
            }

            Polymer.Base.importHref(
                'elements/landing-page/landing-page.html?' + app.landingPageVersion,
                function(){

                    document.querySelector('#mainPages').selected = "landing";

                    setTimeout(function () {
                        dialogSpinner.close();
                    }, 1000);

                    next();
                }
            );
        }

        function instanceSignup(next){

            var signup = document.querySelector('#signup');

            if(Polymer.isInstance(signup)){
                document.querySelector('#mainPages').selected = "signup";
                dialogSpinner.close();
                next();
                return;
            }

            Polymer.Base.importHref(
                    'elements/signup/signup-main/signup-main.html?'  + app.signupMainVersion,
                    function(){
                        document.querySelector('#mainPages').selected = "signup";

                        setTimeout(function () {
                            dialogSpinner.close();
                        }, 1000);

                        next();
                    }
            );

        }

        function setBackgroundColor(color){
            if(!color)
                document.querySelector('body').style.backgroundColor = app.constants.BACKGROUND_COLOR_WHITE;
            else
                document.querySelector('body').style.backgroundColor = color;
        }

        function showSearchBar(){
            document.querySelector('#searchFab').style.display = "block";
        }

        function hideSearchBar(){
            document.querySelector('#searchFab').style.display = "none";
        }

        /*
         * Show subheader buttons and search bar
         * @returns {undefined}
         */
        function addSubheader(){

            //Show subheader and search button
            document.querySelector('#subheader').style.display = "flex";
            app.subheaderVisible = true;

            //Show the search button
            document.querySelector('#searchFab').style.display = "block";

            //Move the content down
            var content = document.querySelector('#mainScroll');
            var currentClasses = content.className;
            if(currentClasses.indexOf('main-scroll-subheader') === -1){
                content.className = currentClasses + ' main-scroll-subheader';
            }

            //Move the Left menu down
            var leftMenu = document.querySelector('#leftMenu');
            var currentClasses = leftMenu.className;
            if(currentClasses.indexOf('left-menu-subheader') === -1){
                leftMenu.className = currentClasses + ' left-menu-subheader';
            }

            //Adjust the Content Height
            var mainDiv = document.querySelector('#mainScroll');
            var heightAux = app.getHeight();
            mainDiv.style.height = (heightAux - app.subheaderHeight) + 'px';

            //Mostrar boton de buscar por defecto
            showSearchBar();

            //Hide message icon and reduce width of header menu
            // var mainHeader = document.querySelector('main-header');
            // mainHeader.querySelector(".header-menu").style.width ="258px";
            // mainHeader.querySelector("#mail-menu").style.display="none";
        }

        /*
         * Hide subheader buttons and search bar
         * @returns {undefined}
         */
        function removeSubheader(){

            //Hide subheader
            document.querySelector('#subheader').style.display = "none";
            app.subheaderVisible = false;

            //Hide the search button
            document.querySelector('#searchFab').style.display = "none";

            //Move the Content up
            var content = document.querySelector('#mainScroll');
            var currentClasses = content.className;
            content.className = currentClasses.replace('main-scroll-subheader', '');

            //Move the left menu up
            var leftMenu = document.querySelector('#leftMenu');
            var currentClasses = leftMenu.className;
            leftMenu.className = currentClasses.replace('left-menu-subheader', '');

            //Adjust the Content Height
            var mainDiv = document.querySelector('#mainScroll');
            var heightAux = app.getHeight();
            mainDiv.style.height = heightAux + 'px';

            //Show message icon and enlarge width of header menu
            // var mainHeader = document.querySelector('main-header');
            // var quantity  = mainHeader.querySelector("badge-notification").quantity;
            // if(quantity){
            //     mainHeader.querySelector(".header-menu").style.width ="310px";
            //     mainHeader.querySelector("#mail-menu").style.display="block";
            // }else{
            //     mainHeader.querySelector(".header-menu").style.width ="258px";
            //     mainHeader.querySelector("#mail-menu").style.display="none";
            // }

        }

        function noScroll(){
            document.querySelector('#mainScroll').scrollTop = 0;
            document.querySelector('#mainScroll').style.overflowY = "hidden";
        }


         /*  ROUTES
         * Mantener el orden de asignacion (route, route_algo, params) de forma que sea posible dentro del elemento asignar un listener
         * a la variable route_algo y controlar la vista actual con route, que ya ha sido asignada.
         */


        page('/', commonHandler, function () {
            page.redirect('/feed');
        });

/* RESOURCE INDEX */

        // function loadResourceModule(route, route_resource){
        //
        //     var resourceMenu = document.querySelector('#resourceMenu');
        //
        //     if(Polymer.isInstance(resourceMenu)){
        //         app.route = route;
        //         app.route_resource = route_resource;
        //         return;
        //     }
        //
        //     Polymer.Base.importHref(
        //         'elements/resource/resource-menu/resource-menu.html',
        //         () => {
        //             app.route = 'resource';
        //             app.route_resource = 'menu';
        //         }
        //     );
        // }

        page('/resource', commonHandler, function () {
            app.subRoute = 'menu';
            app.route = 'resource';
            app.route_resource = 'menu'; // keep it to sync with the left menu
            app.fire('route-resource-changed', 'menu');
            //addSubheader();
            hideSearchBar();
            app.hideDrawerPanel();

            ga('set', 'page', '/resource');
            ga('send', 'pageview');
        });

        page('/resource/embassy', commonHandler, function () {
            app.route_resource = 'embassy';
            app.route = 'resource';
            app.fire('route-resource-changed', 'embassy');
            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/resource/embassy');
            ga('send', 'pageview');
        });

            page('/resource/visa', commonHandler, function () {
                app.route_resource = 'visa';
                app.route = 'resource';
            app.fire('route-resource-changed', 'visa');
            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/resource/visa');
            ga('send', 'pageview');
        });

        page('/resource/grant', commonHandler, function () {
            app.route_resource = 'grant';
            app.route = 'resource';
            app.fire('route-resource-changed', 'grant');
            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/resource/grant');
            ga('send', 'pageview');
        });

        page('/resource/ngo', commonHandler, function () {
            app.route_resource = 'ngo';
            app.route = 'resource';
            app.fire('route-resource-changed', 'ngo');
            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/resource/ngo');
            ga('send', 'pageview');
        });

        page('/resource/press', commonHandler, function () {
            app.route_resource = 'press';
            app.route = 'resource';
            app.fire('route-resource-changed', 'press');
            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/resource/press');
            ga('send', 'pageview');
        });

/* FEED */

        page('/feed', commonHandler, function () {
            app.route = 'feed';
            app.hideDrawerPanel();

            ga('set', 'page', '/feed');
            ga('send', 'pageview');
        });

/* CONNECT */

        page('/connect', commonHandler, function () {
            app.route = 'connect';
            //addSubheader();
           app.showDrawerPanel();
           ga('set', 'page', '/connect');
           ga('send', 'pageview');
        });

/* MARKETPLACE */

        /*
         * Funcion general para hacer la carga de modulos por demanda, agregando rutas en el switch.
         * Tambien hay que eliminar la llamanda que se esta haciendo actualmente del modulo en el main-content.
         */

        /*TODO: Verificar si se está usando esta función*/
//        function loadModule(module, parameters){
//
//            var route = '';
//            switch(module){
//
//                case 'marketplace':
//                    route = 'elements/marketplace/marketplace-main/marketplace-main.html';
//            }
//            dialogSpinner.open();
//            Polymer.Base.importHref(route, function(){
//
//                for(var paramName in parameters){
//                    app[paramName] = parameters[paramName];
//                }
//                dialogSpinner.close();
//            });
//        }


        page('/marketplace', commonHandler, function () {

                app.route = 'marketplace';
                app.route_marketplace = 'list';

            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/marketplace');
            ga('send', 'pageview');
        });

        page('/marketplace/item/:item', commonHandler, function (data) {

            // var element = document.querySelector('#marketplace-main');
            // if(!Polymer.isInstance(element)){
            //
            //     var parameters = { 'route': 'marketplace', 'route_marketplace': 'detail' };
            //     loadModule('marketplace', parameters);
            //
            // }else{
                app.route = 'marketplace';
                app.route_marketplace = 'detail';
                app.params = data.params;
            // }

            //addSubheader();
            app.hideDrawerPanel();

            ga('set', 'page', '/marketplace/item/' + data.params.item);
            ga('send', 'pageview');
        });

        page('/marketplace/cat/:cat', commonHandler, function (data) {

            // var element = document.querySelector('#marketplace-main');
            // if(!Polymer.isInstance(element)){
            //
            //     var parameters = { 'route': 'marketplace', 'route_marketplace': 'list' };
            //     loadModule('marketplace', parameters);
            //
            // }else{
                app.route = 'marketplace';
                app.route_marketplace = 'list';
                app.params = data.params;
            // }

            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/marketplace');
            ga('send', 'pageview');
        });

/* MESSAGES */

        //List of threads
        page('/message', commonHandler, function () {
            app.route = 'message';
            //addSubheader();
            app.hideDrawerPanel();
            noScroll();
            hideSearchBar();

            ga('set', 'page', '/message');
            ga('send', 'pageview');
        });

        //List of messages inside a thread
        page('/message/:thread', commonHandler, function (data) {
            app.route = 'message';
            app.params = data.params;
            //addSubheader();
            app.hideDrawerPanel();
            noScroll();
            hideSearchBar();

            ga('set', 'page', '/message/item/'+data.params.thread);
            ga('send', 'pageview');
        });

/* PROJECTS */

        page('/project', commonHandler, function () {
            app.route = 'project';
            app.route_project = 'list';
            app.params = {order: 'recent'};
            hideSearchBar();
            app.hideDrawerPanel();

            if(ga){
              ga('set', 'page', '/project');
              ga('send', 'pageview');
            }
        });


        page('/project/item/:selected/:timestamp', commonHandler, function (data) {
            app.route = 'project';
            app.route_project = 'detail';
            app.params = data.params;
            hideSearchBar();
            app.hideDrawerPanel();

            if(ga){
              ga('set', 'page', '/project/item');
              ga('send', 'pageview');
            }
        });

        page('/project/new', commonHandler, function () {
            app.route = 'project';
            app.route_project = 'new';
            hideSearchBar();
            app.hideDrawerPanel();

            if(ga){
              ga('set', 'page', '/project/new');
              ga('send', 'pageview');
            }
        });

        page('/project/edit/:uuid/:timestamp', commonHandler, function (data) {
            app.route = 'project';
            app.route_project = 'new';
            app.params = data.params;
            hideSearchBar();
            app.hideDrawerPanel();

            if(ga){
              ga('set', 'page', '/project/edit/'+data.params.uuid);
              ga('send', 'pageview');              
            }
        });


/* DISCUSSIONS */

        page('/discussion', commonHandler, function () {
            app.route = 'discussion';
            app.route_discussion = 'list';
            app.params = {order: 'recent'};
            showSearchBar();
            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/discussion');
            ga('send', 'pageview');
        });

        page('/discussion/new', commonHandler, function () {
            app.route = 'discussion';
            app.route_discussion = 'new';
            hideSearchBar();
            //addSubheader();
            app.hideDrawerPanel();

            ga('set', 'page', '/discussion/new');
            ga('send', 'pageview');
        });

        page('/discussion/edit/:uuid/:timestamp', commonHandler, function (data) {
            app.route = 'discussion';
            app.route_discussion = 'new';
            app.params = data.params;
            hideSearchBar();
            //addSubheader();
            app.hideDrawerPanel();

            ga('set', 'page', '/discussion/edit/'+data.params.uuid);
            ga('send', 'pageview');
        });

        page('/discussion/order/:order', commonHandler, function (data) {
            app.route = 'discussion';
            app.route_discussion = 'list';
            app.params = data.params;
            //addSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/discussion/order/'+data.params.order);
            ga('send', 'pageview');
        });

        page('/discussion/dis/:selected/:timestamp', commonHandler, function (data) {
            app.route = 'discussion';
            app.route_discussion = 'detail';
            app.params = data.params;
            hideSearchBar();
            //removeSubheader();
            app.hideDrawerPanel();

            // ga('set', 'page', '/discussion/item/'+data.params.selected);
            ga('set', 'page', '/discussion/item');
            ga('send', 'pageview');
        });


/* USER PROFILE */

        page('/profile/:user', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'experience';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.experience/'+data.params.user);
            ga('send', 'pageview');
        });

        page('/profile.experience/:user', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'experience';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.experience/'+data.params.user);
            ga('send', 'pageview');
        });


        page('/profile.experience/:user/:edit_pic', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'experience';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.experience/edition/'+data.params.user);
            ga('send', 'pageview');
        });

        page('/profile.experience.skills/:user/:edit_skills', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'experience';
            app.params = data.params;
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.experience.skills/edition/'+data.params.user);
            ga('send', 'pageview');
        });

        page('/profile.experience', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'experience';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.experience');
            ga('send', 'pageview');
        });

        page('/profile.community/:user', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'community';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.community/'+data.params.user);
            ga('send', 'pageview');
        });

        page('/profile.community/:user/:edit', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'experience';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.community/edition/'+data.params.user);
            ga('send', 'pageview');
        });

        page('/profile.community', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'community';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.community');
            ga('send', 'pageview');
        });

        page('/profile.connections/:user', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'connections';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.community/'+data.params.user);
            ga('send', 'pageview');
        });

        page('/profile.connections', commonHandler, function (data) {
            app.route = 'profile';
            app.route_profile = 'connections';
            app.params = data.params;
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/profile.connections/');
            ga('send', 'pageview');
        });

/* SETTINGS */

        page('/settings', commonHandler, function () {
            app.route = 'settings';
            app.route_settings = 'general';
            //removeSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/settings');
            ga('send', 'pageview');
        });

        page('/settings.social', commonHandler, function () {
            app.route = 'settings';
            //removeSubheader();

            ga('set', 'page', '/settings.social');
            ga('send', 'pageview');
        });

        page('/settings.notifications', commonHandler, function () {
            app.route = 'settings';
            app.route_settings = 'notifications';
            //removeSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/settings.notifications');
            ga('send', 'pageview');
        });

        page('/settings.payments', commonHandler, function () {
            app.route = 'settings';
            app.route_settings = 'general';
            //removeSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/settings.payment');
            ga('send', 'pageview');
        });

        page('/settings.personal', commonHandler, function () {
            app.route = 'settings';
            app.route_settings = 'general';
            //removeSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/settings.personal');
            ga('send', 'pageview');
        });


        page('/activity', commonHandler, function () {
            app.route = 'profile';
            //removeSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/activity');
            ga('send', 'pageview');
        });

        page('/invite', commonHandler, function () {
            app.route = 'profile';
            //removeSubheader();
            app.showDrawerPanel();

            ga('set', 'page', '/invite');
            ga('send', 'pageview');
        });

        page('/marketplace/pictures', commonHandler, function () {
            page({
                hashbang: false
            });
        });

        page('/notification', commonHandler, function () {
            app.route = 'notification';
            //removeSubheader();
            app.hideDrawerPanel();

            ga('set', 'page', '/notification');
            ga('send', 'pageview');
        });


        page('/dashboard', commonHandler, function () {
            app.route = 'dashboard';
            //removeSubheader();
            app.hideDrawerPanel();
            setBackgroundColor(app.constants.BACKGROUND_COLOR_GREY);

            ga('set', 'page', '/dashboard');
            ga('send', 'pageview');
        });



// LANDING PAGE ***************************

        page('/landing', landingCommonHandler, function () {
            app.route_landing = 'landing';
            ga('send', 'pageview', {'page': '/landing'});

            ga('set', 'page', '/landing');
            ga('send', 'pageview');
        });

        page('/home', landingCommonHandler, function() {
            app.route_landing = 'landing';

            ga('set', 'page', '/landing');
            ga('send', 'pageview');
        });

        page('/login/twitter', function() {
            document.querySelector("#loginTwitter").onValidate();

            ga('set', 'page', '/login/twitter');
            ga('send', 'pageview');
        });

        page('/login/:email?', landingCommonHandler, function(data) {
            document.body.scrollTop = 0;
            app.route_landing = 'login';
            app.params = data.params;
            app.showLandingHeader();

            ga('set', 'page', '/login');
            ga('send', 'pageview');
        });

        page('/forgot.password', landingCommonHandler, function() {
            app.route_landing = 'forgot-password';
            app.hideLandingHeader()

            ga('set', 'page', '/forgot-password');
            ga('send', 'pageview');
        });

        page('/pricing', landingCommonHandler, function() {
            document.body.scrollTop = 0;
            app.route_landing = 'pricing';
            app.showLandingHeader();

            ga('set', 'page', '/pricing');
            ga('send', 'pageview');
        });

        page('/about', landingCommonHandler, function() {
            document.body.scrollTop = 0;
            app.route_landing = 'about';
            app.showLandingHeader();

            ga('set', 'page', '/pricing');
            ga('send', 'about');
        });

        page('/password.reset/code/:code/user/:user/email/:email', landingCommonHandler, function(data) {
            document.body.scrollTop = 0;
            app.params = data.params;
            app.route_landing = 'password-reset';
            app.showLandingHeader();

            ga('set', 'page', '/reset-password');
            ga('send', 'pageview');
        });


//  SIGNUP ***************************

         page('/signup/:email?', signupNoSessionCommonHandler, function(data) {
             app.signupRoute = 'new-user';
             app.signupParams = data.params;
             document.body.scrollTop = 0;
             app.hideLandingHeader();

             ga('set', 'page', '/signup');
             ga('send', 'pageview');
         });

//        page('/signup', function() {
//            //
//        });


        page('/confirm/:c/:email', signupNoSessionCommonHandler, function (data) {
            app.signupRoute = 'email-confirmation';
            app.signupParams = data.params;
            app.hideLandingHeader();

            ga('set', 'page', '/signup/email-confirmation');
            ga('send', 'pageview');
        });

        page('/password/:code/:email/:name', function (ctx, next) {
                instanceSignup(next);

            }, function (data) {
                app.signupRoute = 'password-create';
                app.signupParams = data.params;
                app.hideLandingHeader();

                ga('set', 'page', '/signup/password-create');
                ga('send', 'create-password');
        });


        page('/location/:code', signupCommonHandler, function(data) {
            app.signupRoute = 'personal-information';
            app.signupParams = data.params;
            app.hideLandingHeader();

            ga('set', 'page', '/signup/location');
            ga('send', 'pageview');
        });

        page('/skills', signupCommonHandler, function() {
            app.signupRoute = 'expertise-editing';
            app.hideLandingHeader();

            ga('set', 'page', '/signup/skills');
            ga('send', 'pageview');
        });

        page('/shure', signupCommonHandler, function() {
            app.signupRoute = 'no-journalist-confirmation';
            app.hideLandingHeader();
        });

        page('/participator', signupCommonHandler, function() {
            app.signupRoute = 'participator';
            app.hideLandingHeader();
        });

        page('/welcome', landingCommonHandler, function (data) {
            app.signupRoute = 'welcome';
            app.showLandingHeader();
        });

// ADMIN DASHBOARD ***************************

        page('/admin', function() {

            var adminDashboard = document.querySelector('#adminDashboard');

            if(Polymer.isInstance(adminDashboard)){
                document.querySelector('#mainPages').selected = "admin";
                return;
            }
            Polymer.Base.importHref(
                    'elements/admin/admin-dashboard/admin-dashboard.html?' + app.adminDashboardVersion,
                    function(){
                        document.querySelector('#mainPages').selected = "admin";
                        app.route = 'admin';
                    }
            );
        });


        // add #! before urls
        page({
            hashbang: true,
            decodeURLComponents: false
        });



    });
</script>
