<!-- <link rel="import" href="/bower_components/geo-location/geo-location.html"> -->
"use strict"
<dom-module id="in-input-location">

    <style>
        :host {
            display: block;
            box-sizing: border-box;
        }

        paper-input {
            --paper-input-container-focus-color: var(--accent-color);
            --paper-input-container-color: var(--paper-grey-300);
            text-align: left;
            --paper-input-container-label:{
                color: var(--secondary-text-color);
                font-size: 15px;
                font-weight: 300;
            }
        }

    </style>

    <template>

        <!--<section id="googleApi"></section>-->


        <!-- NO BORRAR -->
        <!-- NO BORRAR -->
        <!-- <geo-location watch-pos
                      idle="{{!autoSearch}}"
                      latitude="{{latitude}}"
                      longitude="{{longitude}}"
                      id="geoLocation"></geo-location> -->

        <paper-input id="addressInput"
                     type="text"
                     placeholder=""
                     label="[[label]]"
                     on-blur="_onBlur"
                     value="[[value]]"
                     required="[[required]]"
                     error-message="[[errorMessage]]"
                     on-keypress="_onKeyPress"
                     maxlength="120"
                     char-counter></paper-input>

    </template>

</dom-module>

<script>

    Polymer({

        is: 'in-input-location',

        properties: {

            address: {
                type: Object
            },

            required:{
                type: Boolean,
                value: false,
                notify: true
            },

            label:{
                type: String,
                value: 'Type and select your location',
                notify: true
            },

            errorMessage:{
                type: String,
                value: 'Please select your location from the list.',
                notify: true
            },
            /**
             * Habilito la auto geolocalización
             */
            autoSearch:{
                type: Boolean,
                value: false,
                notify: true
            },
            isApiLoaded:{
                type: Boolean,
                value: false
            },
            isElementAttached:{
                type: Boolean,
                value: false
            },
            isApiLoaded:{
                type: Boolean,
                value: false
            },
            value:{
                type: String,
                value:"",
                notify: true
            }
        },

        listeners:{
//            'api-load': '_mapsApiLoaded'
        },



        attached: function() {

            if(app.googleApiLoaded){
                console.log('INIT Google api DIRECTO');
                this._initialize();
            }else{

                document.querySelector('#apiGoogleMapsGlobal').addEventListener('api-load', function(){
                    console.log('INIT Google api dentro del listener');
                    this._initialize();
                }.bind(this));

            }

            /*TODO: utilizar lo comentado para obtener la ubicacion del usuario automaticamente */

            /*TODO: NO BORRAR */
            /*Listener del elemento geo-location que se dispara cuando el elemento encuentra una ubicación */
            // this.$.geoLocation.addEventListener('geo-response', function (e) {
            //
            //     if (!(window.google && this.$.apiGoogleMaps.api)) {
            //         return;
            //     }
            //
            //     var latlng = {lat: e.detail.latitude, lng: e.detail.longitude};
            //     this._getGeoCode(latlng)
            //
            // }.bind(this));

        },

        detached: function() {
            this.autocomplete = null;
        },

        /**
         * obtengo datos de ubicación a partir de coordenadas.
         */
        _getGeoCode: function (latlng) {

            var geocoder = new this.$.apiGoogleMaps.api.Geocoder;

            geocoder.geocode({'location': latlng}, function(results, status) {
                if (status === 'OK') {
                    if (results[1]) {
                        this._fillInAddress(results[1]);
                        this.$.addressInput.value = this.getAddress();
                    } else {
                        app.showToast('No results found', 'help');
                    }
                } else {
                    app.showToast('Geocoder failed due to: ' + status, 'help');
                }
            }.bind(this));
        },

        getObjLocation: function(){
            return this.address;
        },

        getAddress: function(){
            if(!this.address){
                return '';
            }

            if (!this.address.locality_long && !this.address.adm_level_1_long) {
                return this.address.country_long
            }

            return ( this.address.adm_level_1_long || this.address.locality_long) +', '+ this.address.country_long;
        },

        _onBlur: function(){
            this.fire('on-blur');
        },

        _onKeyPress: function(){
            this.address = null;
        },

        /*
         * Inicializa el autocomplete usando la API de google.
         * Ver detalles en https://developers.google.com/maps/documentation/javascript/places-autocomplete
         */
        _initialize: function() {

            if (this.autocomplete) {
                return;
            }

            const apiGoogleMaps = document.querySelector('#apiGoogleMapsGlobal');

            var input = this.querySelector('#addressInput > paper-input-container .input-content input');

            // var options = { types: ['address'] };
//            this.autocomplete = new this.$.apiGoogleMaps.api.places.Autocomplete(input);
            this.autocomplete = new apiGoogleMaps.api.places.Autocomplete(input);

            if(!this.autocomplete){
                alert('google maps api no se inicializó, revisar error - in-input-location');
            }

            apiGoogleMaps.api.event.addListener(this.autocomplete, 'place_changed', this._fillInAddress.bind(this) );
        },

        _fillInAddress: function(place) {

            place || ( place = this.autocomplete.getPlace());

            if (!place) {
                return;
            }

            const countryShort = this._getAddressComponent(place, 'country', 'short_name');
            const countryLong =  this._getAddressComponent(place, 'country', 'long_name');
            const localityShort = this._getAddressComponent(place, 'locality', 'short_name');
            const localityLong = this._getAddressComponent(place, 'locality', 'long_name');
            const administrativeAreaLevel1Short = this._getAddressComponent(place, 'administrative_area_level_1', 'short_name');
            const administrativeAreaLevel1Long = this._getAddressComponent(place, 'administrative_area_level_1', 'long_name');
            const administrativeAreaLevel2Short = this._getAddressComponent(place, 'administrative_area_level_2', 'short_name');
            const administrativeAreaLevel2Long = this._getAddressComponent(place, 'administrative_area_level_2', 'long_name');
            const postalCode = this._getAddressComponent(place, 'postal_code', 'short_name');

            this.address = {
                country_short: countryShort,
                country_long: countryLong,
                locality_short: localityShort,
                locality_long: localityLong,
                adm_level_1_short: administrativeAreaLevel1Short,
                adm_level_1_long: administrativeAreaLevel1Long,
                adm_level_2_short: administrativeAreaLevel2Short,
                adm_level_2_long: administrativeAreaLevel2Long,
                postal_code: postalCode,
                lat: place.geometry.location.lat,
                lng: place.geometry.location.lng,
            };

            this.fire('place-changed');
        },

        _getAddressComponent: function (place, component, valueType) {

            if (place.address_components) {
                for (var i = 0; i < place.address_components.length; i++) {
                    var componentType = place.address_components[i].types[0];
                    if (componentType === component) {
                        return place.address_components[i][valueType];
                    }
                }
            }
            return '';
        },

        _stopEvent: function(e){
            e.stopPropagation();
            e.preventDefault();
            if (e.gesture) e.gesture.stopPropagation();
            if (e.gesture) e.gesture.preventDefault();
        },

        validate: function () {
            if(!this.address){
                this.$.addressInput.invalid = true;
                return false;
            }
            this.$.addressInput.invalid = false;

            return this.$.addressInput.validate()
        },

        clear: function () {
            this.$.addressInput.value = null;
            this.$.addressInput.invalid = false;
            this.set('address', null);
        },

        setValue: function (value) {
            this.$.addressInput.value = value;
        }

    });

</script>
