<dom-module id="tab-connections">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .connection-title-container{
                margin-bottom: 20px;
                margin-left: -14px;
            }

            .connection-button {
                @apply(--medium-text);
                text-transform: capitalize;
            }

            .connect-selected{
                color: var(--accent-color);
            }

            .name-text {
                font-size:12px!important;
                font-weight:500!important;

            }

            .following-label {
                font-size:12px;
                font-weight:200;
                color: var(--accent-color);

            }

            .current-position-text{
                @apply(--very-small-text);

            }

            .location-text{
                @apply(--very-small-text);
                color: var(--secondary-text-color);
                margin-top: -1px;
            }

            iron-icon {
                --iron-icon-width: 16px;
            }

            .showme {
                opacity: 0;
                -webkit-transition: visibility 0s, opacity 0.1s linear;
                -moz-transition: visibility 0s, opacity 0.1s linear;
                -ms-transition: visibility 0s, opacity 0.1s linear;
                -o-transition: visibility 0s, opacity 0.1s linear;
                transition: visibility 0s, opacity 0.1s linear;
            }
            .item:hover .showme{
                opacity: 1;
            }
            iron-list {
                background-color: white;
            }
            .item {
                margin-top: 10px;
                margin-bottom: 10px;
                /*padding: 5px 0 5px 5px;*/
                -webkit-font-smoothing: antialiased;
            }
            .item:focus {
                outline: 0;
            }
            .truncate {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .pic-journalist {
                /*position: relative;*/
                width: 50px;
                height: 50px;
                /*bottom:13px;
                right: -25px;*/
                border-radius: 50%;
                overflow: hidden;
            }

            .follow-button {
                width: 30px;
                height: 30px;
                margin: 0;
                padding: 0;
            }

        </style>

        <div class="row start-xs connection-title-container">

            <div class="col-xs-12">

                <paper-button active
                    id="bottonFollower"
                    class="connection-button"
                    on-tap="_changePage"
                    data-args="page-followers">
                    {{followersCount}}
                    <br/>
                    Followers
                </paper-button>

                <paper-button
                    id="bottonFollowing"
                    class="connection-button"
                    on-tap="_changePage"
                    data-args="page-following">
                    {{followingCount}}
                    <br/>
                    Following
                </paper-button>

            </div>

        </div>


        <iron-pages selected="[[pageSelected]]" attr-for-selected="data-page">

            <div data-page="page-followers">

                <iron-list id="followersList" items="[[followers]]" as="item">

                    <template>

                        <div class="row">
                            <div class="col-xs-12 item">
                                <div class="row middle-xs">

                                    <div class="col-xs-3 col-md-2">
                                        <!--<img class="pic-journalist" src="{{computeImage(item.picture)}}">-->
                                        <in-journalist-pic journalist="{{item}}"></in-journalist-pic>
                                    </div>

                                    <div class="col-xs-9">

                                        <div class="row start-xs">
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="row">
                                                    <div class="col-xs-12 name-text">
                                                        [[item.name]]
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 current-position-text">
                                                        [[item.position]]
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 location-text">
                                                        [[item.location]]
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </template>

                </iron-list>

            </div>

            <div data-page="page-following">

                <iron-list id="followingList" items="[[followingItems]]" as="following">

                    <template>

                        <div class="row">

                            <div class="col-xs-12 item">

                                <div class="row middle-xs">

                                    <div class="col-xs-3 col-md-2">
                                        <in-journalist-pic journalist="{{following}}"></in-journalist-pic>
                                    </div>

                                    <div class="col-xs-9">

                                        <div class="row start-xs">

                                            <div class="col-xs-12 col-sm-9">

                                                <div class="row">
                                                    <div class="col-xs-12 name-text">
                                                        [[following.name]]
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 current-position-text">
                                                        [[following.position]]
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 location-text">
                                                        [[following.location]]
                                                    </div>
                                                </div>

                                            </div>

                                            <in-follow-button user="{{following}}"></in-follow-button>

                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>


                    </template>

                </iron-list>

            </div>

        </iron-pages>

        <iron-ajax id="ajaxUserFollowers"
                   with-credentials
                   handle-as="json"
                   on-response="_userFollowersCallback"></iron-ajax>

        <iron-ajax id="ajaxUserFollowing"
                   with-credentials
                   handle-as="json"
                   on-response="_userFollowingCallback"></iron-ajax>

    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'tab-connections',

                properties: {
                    targetUser:{
                        observer: "_userChanged"
                    },
                    followers: {
                        observer: "_followersChanged"
                    },
                    followingItems:{
                        observer: "_followingChanged"
                    },
                    pageSelected: "page-followers"
                },

                attached: function () {

                    //Followers selected
                    bottonFollowing.style.color = '';
                    bottonFollower.style.color = '#FC7108';
                    this.set('pageSelected', 'page-followers');

                    document.addEventListener('unfollowing', function(){
                        this._getConnectionsList();
                    }.bind(this));

                    document.addEventListener('following', function(){
                        this._getConnectionsList();
                    }.bind(this));
                },

                _followersChanged: function(){
                    this.set('followersCount', this.followers.length);
                    this.$.followersList.fire('iron-resize');
                },

                _followingChanged: function(){
                    this.set('followingCount', this.followingItems.length);
                    this.$.followingList.fire('iron-resize');
                },

                _changePage: function (e) {

                    this.$.bottonFollower.style.color = '';
                    this.$.bottonFollowing.style.color = '';
                    e.target.style.color = '#FC7108';

                    var pageSelected = e.target.getAttribute('data-args');
                    this.set('pageSelected', pageSelected);
                },

                computeImage: function(fileName){
                    return app.apinode + "/images/get.picture/mini/" + fileName;
                },

                _stopEvent: function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    if (e.gesture) e.gesture.stopPropagation();
                    if (e.gesture) e.gesture.preventDefault();
                },

                _userChanged: function(){

                    if(!this.targetUser) return;
                    this._getConnectionsList();
                },

                _getConnectionsList: function(){

                    var targetUser = 0;
                    if(!this.isMyProfile){
                        targetUser = this.targetUser;
                    }

                    this.$.ajaxUserFollowers.url = app.apinode + "/journalists/get.followers/"+targetUser;
                    this.$.ajaxUserFollowers.generateRequest();

                    this.$.ajaxUserFollowing.url = app.apinode + "/journalists/get.following/"+targetUser;
                    this.$.ajaxUserFollowing.generateRequest();
                },

                _userFollowersCallback: function (e) {
                    this.followers = e.detail.response;
                    dialogSpinner.close();
                },

                _userFollowingCallback: function(e){

                    // Recorrer la lista de following y marcarlos todos como following - Solo sirve para mi perfil
                    for (var i = 0; i < e.detail.response.length; i++) {
                        e.detail.response[i].isFollowing = true;
                    }
                    this.set('followingItems', e.detail.response);
                    dialogSpinner.close();
                },

            });
        })();
    </script>
</dom-module>
