<dom-module id="user-list">
  <template>
    <style>
      :host {
        display: block;
      }
      .name-text {
        font-size:16px;
        font-weight:500;
        color: var(--accent-color);
        margin-bottom:5px;
      }

      .title-text {
        font-size:18px;
        font-weight:300;
      }
      .secondary-text {
        font-size:13px;
        font-weight:200;
      }
      .title-detail,
      .text-detail{
      @apply(--very-small-text);
        margin-bottom: 5px;
      }

      .title-detail{
        text-transform:uppercase;
      }
      iron-icon {
        --iron-icon-width: 16px;
      }

      .showme {
        opacity: 0;
        -webkit-transition: visibility 0s, opacity 0.1s linear;
        -moz-transition: visibility 0s, opacity 0.1s linear;
        -ms-transition: visibility 0s, opacity 0.1s linear;
        -o-transition: visibility 0s, opacity 0.1s linear;
        transition: visibility 0s, opacity 0.1s linear;
      }
      .item:hover .showme{
        opacity: 1;
      }
      iron-list {
        background-color: white;
      }
      .item {
        margin-bottom: 10px;
        padding: 10px 25px 5px 20px;
        background-color: #FAFAFA; //#EEEEEE;
        border-bottom: 1px solid #FFF;
        -webkit-font-smoothing: antialiased;
      }
      .item:focus {
        outline: 0;
      }
      .item:hover{
        background-color: #EEEEEE;
      }
      .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .pic-journalist {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
      }
    </style>
    <iron-list id="list" items="[[usersArray]]" as="item" index-as="dis">
      <template>
        <div class="row start-xs">
          <div class="col-lg-11 col-md-11 col-xs-12">
            <div class="item" tabindex="0">
              <a href="#">
                <div class="row start-xs middle-xs">

                  <div class="col-xs-4 col-md-1">
                    <div class="row center-xs">
                      <img class="pic-journalist" src="{{computeImage(item.user_pic)}}">
                    </div>
                  </div>

                  <div class="col-xs-8 col-md-11">

                    <div class="row middle-xs">

                      <div class="col-xs-12 col-sm-9">
                        <div class="row">
                          <div class="col-xs-12 name-text">[[item.user_name]]</div>

                          <div class="col-xs-12">
                            <span class="title-detail">Focus: </span>
                            <span class="text-detail">focus1, focus2, focus3</span></div>
                          <div class="col-xs-12">
                            <span class="title-detail">Beats: </span>
                            <span class="text-detail">beat1, beat2, beat3, beat1, beat2, beat3</span></div>
                          <div class="col-xs-12">
                            <span class="title-detail">Skills: </span>
                            <span class="text-detail">skill1, skill2, skill3</span></div>

                        </div>
                      </div>


                      <div class="col-xs-12 col-sm-3">
                        <div class="row start-xs end-sm">
                          <div class="col-xs-12 col-sm-12 secondary-text truncate">
                            <iron-icon icon="in-icon-set:place"></iron-icon>Ciudad, Mendoza Argentina
                          </div>
                          <div class="col-xs-12 col-sm-12 secondary-text showme">
                            <paper-button style="font-size: 12px; margin-top:5px; margin-bottom:5px;"
                              raised on-tap="_follow"
                              param="{{item.dis_id}}">{{_computeFollowLabel(item.isFollowing)}}</paper-button>
                            <paper-icon-button icon="in-icon-set:exposure-plus-1"></paper-icon-button>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>




                </div>

              </a>
            </div>
          </div>

        </div>


      </template>

    </iron-list>
  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'user-list',

        properties: {
          usersArray:{
            type:Array,
            notify:true
          },
          foo: {
            type: String,
            value: 'user-list',
            notify: true
          }
        },
        computeImage: function(fileName){
          return app.apinode + "/images/get.picture/thumbnail/" + fileName;
        },

        _computeFollowLabel: function (isFollowing){
          if(isFollowing == 1)
            return 'Following';
          else
            return 'Follow';
        },


      });
    })();
  </script>
</dom-module>
