
<link rel="import" href="/behaviors/notification-expert.html?v.1.51">
<link rel="import" href="/bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">

<dom-module id="main-header">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                @apply(--font-jouture);
            }

            .responsive-auto {
                height: auto !important;
            }
            .scroll{
                overflow-x: hidden;
                overflow-y: visible;
            }
            .scroll::-webkit-scrollbar{
                width: 5px;
                background: #DDD;
                background: -webkit-linear-gradient(left,#FFF,#FFF, #DDD, #FFF,#FFF); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Firefox 3.6 to 15 */
                background: linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* Standard syntax */
            }
            .scroll::-webkit-scrollbar-thumb{
                border-radius: 5px;
                background: #DDD;
                background: -webkit-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Firefox 3.6 to 15 */
                background: linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* Standard syntax */
            }
            .scroll:hover::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: var(--accent-color);
            }
            iron-icon {
                --iron-icon-width: 20px !important;
            }
            .sub-header iron-icon {
                --iron-icon-width: 16px !important;
            }
            .in-header {
                position: fixed;
                margin: 0;
                top: 0;
                width: 100%;
                z-index: 100;
            }
            .main-header {
                height: var(--main-header-height);
            }
            .sub-header {
                height: var(--sub-header-height);
                background-color: var(--subheader-background-color) !important;
            }
            iron-pages {
                background-color: var(--subheader-background-color) !important;
            }
            paper-tabs {
                /*--paper-tabs-selection-bar-color: var(--accent-color);*/
                --paper-tabs-selection-bar-color: rgba(252, 113, 8, 0.6);
                /*--paper-tabs-selection-bar-color: #000;*/
            }
            .logo-content {
                width: var(--drawer-width);
                height: 27px !important;
                cursor: pointer;
            }
            .logo-content img {
                margin-left: 22px;
            }
            .search-container {
                /*margin-top: -15px; used with label*/
                margin-top: -4px;
            }
            .input-search {
                --paper-input-container-label-floating: {
                    /*opacity: 0;*/
                };
                --paper-input-container-input: {
                    font-size: 16px;
                  };
                --paper-input-container-focus-color: var(--accent-color);
                --paper-input-container-underline: {
                    background-color: var(--subheader-background-color);
                    opacity: 0;
                };
                --paper-input-container-underline-focus: {
                    opacity: 0;
                };
                /*margin-top: -10 px !important;*/
            }
            .filter-icon-offset {
                width: 50px;
                /*min-height: 30px;*/
                margin-left: 16px;
                display: none;
            }
            .filter-icon-offset paper-icon-button {
                margin: auto;
            }
            /* Profile: img & name */
            @mixin transition02 {
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            .profile {
                /*height: var(--main-header-height);*/
                margin-right: 1px;
                padding: 0 10px;
                cursor: pointer;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            .profile:hover,
            .navigation a:hover {
                background: #D5D5D5;
            }
            .profile a {
                display: flex;
                overflow: hidden;
            }
            .profile img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                /*box-shadow: 0px 1px 3px #555;*/
                margin: auto 0;
            }
            .profile span {
                font-size: 14px;
                line-height: 16px;
                height: 16px;
                padding: 0 0 0 10px;
                margin: auto 0;
            }
            /* Navigation Menu */
            .navigation {
                text-align: center;
            }
            .navigation a {
                overflow: hidden;
                text-decoration: none;
                float: left;

                -webkit-transition: all 0.05s ease-out;
                -moz-transition: all 0.05s ease-out;
                -o-transition: all 0.05s ease-out;
                transition: all 0.05s ease-out;
            }
            .navigation div {

                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            .navigation div:nth-child(2) {
                color: var(--accent-color);
            }
            .navigation a:hover div:first-child {
                margin-top: -var(--main-header-height);
            }

            .fab-search {
                position: fixed;
                z-index: 100;
                top: 54px;
                right: 31px;
                width: 35px !important;
                height: 35px !important;
            }

            .fab-search /deep/ iron-icon {
                top: -8px;
                left: -8px;
                width: 19px !important;
                height: 19px !important;
            }

            .fixed-column-left-subheader {
                width: var(--drawer-width);
                /*width: 100px;*/
            }
            .fixed-column-mobile {
                /*display: none !important;*/
                width: 120px;
            }
            .titleNotificationsPointer{
                @apply(--very-small-text-highlighted);
                color: var(--primary-text-color) !important;
                cursor: pointer;
            }
            .titleNotifications{
                @apply(--very-small-text-highlighted);
                color: var(--primary-text-color) !important;
            }
            .titleCounter{
                @apply(--very-small-text-highlighted);
            }
            .displayNotifications{
                position: fixed;
                top: 58px;
                /*right: 10px;*/
                right: 50px;
                width: 300px;
                height: 1000px;
                z-index: 100;
                background-color: white;
                padding-top: 10px;
                -moz-box-shadow:    0px 0px 8px 1px #aaa;
                -webkit-box-shadow: 0px 0px 8px 1px #aaa;
                box-shadow:         0px 0px 8px 1px #aaa;
            }
            .notification-item{
                margin-left: 20px !important;
                margin-top: 5px !important;
                margin-bottom: 15px !important;
                cursor: pointer;
                /*height: 45px !important;*/
            }
            .notification-item::active {
                background-color: green !important;
            }
            .pic-container-notification {
                text-align: center;
                position: relative;
                margin-right: 7px;
            }
            .pic-journalist-notification {
                height: 42px !important;
                width: 42px !important;
                border-radius: 50%;
            }
            .titleNotificationsConteiner{
                height: 35px !important;
            }
            .titleFootConteiner{
                height: 25px !important;
                padding-top: 7px;
            }
            .subNotification{
                font-weight: 500 !important;
                height: 14px !important;
                font-size:12px !important;
            }
            .subNotificationContent{
                height: 17px !important;
                font-size:12px !important;
                word-wrap: break-word;
            }
            .subDetailNew{
                @apply(--very-small-text);
                color: var(--accent-color);
            }
            .subDetail{
                @apply(--very-small-text);
            }
            .subTime{
                height: 14px !important;
                /*@apply(--very-small-text);*/
                font-size:11px !important;
                color: #aaa;
            }
            .hidden{
                display: none !important;
            }
            .newPoint{
                height: 7px !important;
                width: 7px !important;
                border-radius: 50%;
                background-color: var(--accent-color);
                position: absolute;
                top: 16px;
                left: -3px;
            }
            #spinnerNotification{
                width: 25px;
                height: 25px;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            #listNotifications{
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            .responsive-height{
                display: block !important;
                height: 100% !important;
            }
            .responsive-row{
                height: auto !important;
            }

            .header-menu {
                width: 135px;
                /*width: 310px;*/
            }
            .dropdown-content {
                height: 100%;
                text-align: left;
            }
            .resource-nav-badge{
                right: -28px;
                top: 7px;
                position: absolute;
            }
            .resource-nav-label-container{
                position: relative;
                /*margin-top: 12px;*/
                color: var(--black-red-color);
            }
            .subheader-label {
                /*font-size: var(--very-small-text);*/
                font-size: 13px !important;
                font-weight: 400 !important;
            }
            .badge-container{
                position: relative;
            }
            paper-item {
                @apply(--small-text);
            }
            paper-item > a > iron-icon {
                --iron-icon-width: 18px;
            }
            paper-menu-button {
                --paper-menu-button-content:{
                    height: 100%;
                    width: 170px;
                };
                --paper-menu-button-dropdown:{
                    width: 170px;
                }
            }
            .menu-web-button {
                width: var(--main-header-height);
            }

            @media all and (max-width: 48em) {

                .resource-nav-badge{
                    right: -14px;
                    top:0;
                    position: absolute;
                }
                .subheader-label, .logo-content {
                    display: none !important;
                }
                .fixed-column-left-subheader {
                    /*display: none !important;*/
                    width: 20px !important;
                }
                .filter-icon-offset {
                    display: flex;
                }
                .fixed-column-mobile {
                    /*display: flex !important;*/
                    width: 60px !important;
                }
            }


        </style>

        <div class="in-header">

            <iron-ajax
                    id="ajaxNotificationList"
                    method="GET"
                    with-credentials
                    on-response = "_ajaxNotificationListCallback">
            </iron-ajax>

            <iron-ajax
                    id="ajaxUnreadMessages"
                    method="GET"
                    with-credentials
                    handle-as="json"
                    on-response="_ajaxUnreadMessagesCallback">
            </iron-ajax>

            <!-- <in-actionsheet id="actionSheet"></in-actionsheet> -->

            <div class="row main-header" on-tap="_onHeaderTap">
                <paper-card class="col-xs-12">
                    <div class="row middle-xs">

                        <!-- FIXED WIDTH -->
                        <div class="logo-content">
                            <img src="/images/kulectiv.png" alt="Kulectiv" style="width: 110px; height: 19px; margin-top: 3px" on-tap="_onLogoTap">
                        </div>

                        <span class="filter-icon-offset" id="mobileButtonOpenDrawer">
                            <paper-icon-button on-tap="_openDrawer"
                                               icon="in-icon-set:more-vert"></paper-icon-button>
                        </span>

                        <div class="col-xs">

                            <div class="row middle-xs end-xs">
                                <div class="col-xs-12">

                                    <div class="row middle-xs">

                                        <div class="col-xs">
                                            <div class="row middle-xs end-xs">
                                                <template is="dom-if" if="{{!isMobileResolution}}">
                                                    <div class="row middle-xs profile" on-tap="_redirectProfile">
                                                        <img title="Profile" class="main-header-picture" src="{{userPictureUrl}}">
                                                    </div>
                                                </template>
                                            </div>
                                        </div>


                                        <iron-media-query query="(max-width: 64em)" query-matches="{{isMobileResolution}}"></iron-media-query>


                                        <template is="dom-if" if="{{isMobileResolution}}">

                                            <paper-menu-button>

                                                <div class="row middle-xs profile dropdown-trigger">
                                                    <img title="Profile" class="main-header-picture" src="{{userPictureUrl}}">
                                                </div>

                                                <paper-menu class="dropdown-content">
                                                    <paper-item>
                                                        <a href="/settings" on-tap="_onSettingsTap">
                                                            <iron-icon icon="in-icon-set:in-settings"></iron-icon>
                                                            Setting
                                                        </a>
                                                    </paper-item>

                                                    <paper-item>
                                                        <a href="/profile.experience/0">
                                                            <iron-icon icon="in-icon-set:person"></iron-icon>
                                                            Go to profile
                                                        </a>
                                                    </paper-item>
                                                </paper-menu>

                                            </paper-menu-button>

                                        </template>


                                        <div class="header-menu">

                                            <nav class="navigation">

                                                <a id="message" on-tap="_onMessagesTap" href="/message" class="menu-web-button badge-container" title="Messages">

                                                    <div>
                                                        <iron-icon icon="in-icon-set:mail"></iron-icon>
                                                    </div>
                                                    <div>
                                                        <iron-icon icon="in-icon-set:mail"></iron-icon>
                                                    </div>
                                                    <badge-notification type="MESSAGE-HEADER"></badge-notification>
                                                </a>

                                                <a class="menu-web-button badge-container" id="notification" on-tap="_notifications" title="Notifications">
                                                    <div>
                                                        <iron-icon icon="in-icon-set:notifications"></iron-icon>
                                                    </div>
                                                    <div>
                                                        <iron-icon icon="in-icon-set:notifications"></iron-icon>
                                                    </div>
                                                    <badge-notification type="GLOBAL"></badge-notification>
                                                </a>

                                                <template is="dom-if" if="{{!isMobileResolution}}">

                                                    <a href="/settings" id="settings" on-tap="_onSettingsTap" class="menu-web-button" title="Settings">
                                                        <div>
                                                            <iron-icon icon="in-icon-set:in-settings"></iron-icon>
                                                        </div>
                                                        <div>
                                                            <iron-icon icon="in-icon-set:in-settings"></iron-icon>
                                                        </div>
                                                    </a>
                                                </template>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </paper-card>
            </div>

            <div class="row sub-header bottom-xs" id="subheader" on-tap="_subheaderTap">

                <div class="fixed-column-left-subheader sub-header">
                </div>

                <div class="col-xs sub-header">

                    <iron-pages class="sub-header" attr-for-selected="data-route" selected="{{header_view}}">

                            <div class="row center-xs" data-route="tabs">

                                <div class="col-xs">

                                    <paper-tabs class="sub-header" attr-for-selected="data-selected" selected="{{route}}" noink="true">

                                        <paper-tab on-tap="_onTapHome" id="homeTutorial" class="col-xs-2" data-selected="feed">
                                            <div class="resource-nav-label-container">
                                                <div >
                                                    <iron-icon icon="in-icon-set:home"></iron-icon>
                                                    <span class="subheader-label">Home</span>
                                                </div>
                                            </div>
                                        </paper-tab>


                                        <paper-tab on-tap="_onTapDiscussion" class="col-xs-2" data-selected="discussion">
                                            <div class="resource-nav-label-container">
                                                <div>
                                                    <iron-icon icon="in-icon-set:insert-comment"></iron-icon>
                                                    <span class="subheader-label">Discuss</span>
                                                </div>
                                                <badge-notification class="resource-nav-badge" type="DISCUSSION"></badge-notification>

                                            </div>
                                        </paper-tab>


                                        <paper-tab on-tap="_onTapCollaborate" class="col-xs-2" data-selected="connect">
                                            <div class="resource-nav-label-container">
                                                <div >
                                                    <iron-icon icon="in-icon-set:device-hub"></iron-icon>
                                                    <span class="subheader-label">Collaborate</span>
                                                </div>
                                            </div>
                                        </paper-tab>

                                        <paper-tab on-tap="_onTapProjects" class="col-xs-2" data-selected="project">
                                            <div class="resource-nav-label-container">
                                                <div >
                                                    <iron-icon icon="in-icon-set:donut-small"></iron-icon>
                                                    <span class="subheader-label">Newsrooms</span>
                                                </div>
                                            </div>
                                        </paper-tab>


                                        <paper-tab on-tap="_onTapResource" class="col-xs-2" data-selected="resource" href="/resource">
                                            <div class="resource-nav-label-container">

                                                <div>
                                                    <iron-icon icon="in-icon-set:equalizer"></iron-icon>
                                                    <span class="subheader-label">Resources</span>
                                                </div>
                                                <badge-notification class="resource-nav-badge" type="RESOURCE"></badge-notification>
                                            </div>
                                        </paper-tab>

                                        <paper-tab on-tap="_onTapMarketplace" class="col-xs-2" data-selected="marketplace">

                                            <div class="resource-nav-label-container">
                                                <div>
                                                    <iron-icon icon="in-icon-set:shopping-cart"></iron-icon>
                                                    <span class="subheader-label">Gear</span>
                                                </div>
                                                <badge-notification class="resource-nav-badge" type="MARKETPLACE"></badge-notification>
                                            </div>
                                        </paper-tab>
                                    </paper-tabs>

                                </div>

                            </div>


                        <div class="row center-xs start-sm sub-header" id="sectionSearch" data-route="search" >
                            <div class="col-xs-10 col-lg-11 search-container sub-header">
                                <paper-input id="search"
                                             class="input-search"
                                             no-label-float
                                             label="{{searchLabel}}"
                                             type="search"
                                             tabindex="0"
                                             value="{{filterControled}}"></paper-input>
                            </div>
                        </div>

                    </iron-pages>
                </div>

                <div class="fixed-column-mobile sub-header">
                </div>

            </div>
        </div>

        <iron-collapse id="displayNotifications" class="displayNotifications" on-blur="{{_blurNotification}}">

            <div align="center" class = "titleNotificationsConteiner">
                <span class="titleNotifications">Notifications </span>
            </div>

            <div align="center" id="containerSpinner">
                <paper-spinner id="spinnerNotification" active></paper-spinner>
            </div>

            <div id="listNotifications" class="scroll" style="height: 300px">
                <template is="dom-repeat"  items="[[notificationItems]]" as="item">

                    <a href$="{{_computeItemUrl(item)}}">
                        <div class="row start-xs top-xs notification-item responsive-auto" on-tap="_onNotificationItemTap">
                            <div class="col-xs-2 col-md-2 pic-container-notification">
                                <img class="pic-journalist-notification" src$="{{_getPictureUrl(item.pic)}}">
                                <div class$="{{_classPoint(item.read)}}"></div>
                            </div>
                            <div class="col-xs-8 col-md-9 responsive-height" >
                                <div class="row responsive-row">

                                    <div class$="{{_classNewColor(item.read)}}" >
                                        <span class="subNotification">[[item.labelBold]]</span><span>[[item.label]]</span>
                                    </div>

                                    <div class="col-xs-12 subNotificationContent responsive-height">
                                        <span>[[ item.detail ]]</span>
                                    </div>

                                    <div class="col-xs-12 subTime responsive-height">
                                        [[item.ago]]
                                    </div>
                                </div>
                            </div>
                            <div class='corner-counter center-xs'></div>
                        </div>
                    </a>

                </template>
            </div>

            <div align="center" class = "titleFootConteiner">
                <span class="titleNotificationsPointer" on-tap="_goViewAll">View All</span>
            </div>
        </iron-collapse>


        <paper-fab id="searchFab"
                   title="{{searchTitle}}"
                   class="fab-search button-animated"
                   icon="in-icon-set:search"
                   on-tap="_showSearch"
                   elevation="3"></paper-fab>


    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'main-header',
                properties: {
                    header_view: {
                        type: String,
                        value: "tabs"
                    },
                    filter: {
                        type: String,
                        notify: true
                    },
                    filterControled: {
                        type: String,
                        value: null,
                        observer: "_searchTyping"
                    },
                    route: {
                        type: String,
                        observer: "_observerRoute"
                    },
                    // userPicture: {
                    //     type: String,
                    //     notify: true
                    // },
                    userPictureUrl: {
                        type: String,
                        notify: true
                    },
                },

                listeners:{
                    'paper-dropdown-close': '_onUserMenuClose',
                    'paper-dropdown-open': '_onUserMenuOpen'
                },

                behaviors: [NotificationExpert, ajaxBehavior],

                ready: function(){

                    this.userPictureUrl = app.profilePictureMini();

                    this.$.ajaxUnreadMessages.url = app.apinode + "/messages/messages-unread/" + app.session.getUser();
                    this.$.ajaxUnreadMessages.generateRequest();
                },

                attached: function() {

                    this.fire('header-attached', this);

                    var messageMain = document.querySelector("message-main");

                    if(!app.socket){
                        app.socketConnect();
                    }

                    app.socket.on('new-message', function (message) {

                        if(message.sender_id == session.getUser()) return;

                        if(this.route != "message" || messageMain.isShowToast(message.thread_id)){

                            var toastMessage = message.message;
                            if(message.message.length > 25){
                                toastMessage = message.message.substr(0, 24) + ' ...';
                            }
                            app.showToast(message.sender_name+":  " + toastMessage);
                        }

                        var threads = messageMain.ajaxThreadsResponse;
                        if(threads){
                            return;
                        }
                        this._incrementMessagesBadge();

                    }.bind(this));

                    app.socket.on('new-thread', function (newThread){

                        var threads = document.querySelector("message-main").ajaxThreadsResponse;
                        if(threads || newThread.mine){
                            return;
                        }
                        this._incrementMessagesBadge();
                        app.showToast(newThread.last_user_name+":  "+newThread.last_message);
                    }.bind(this));
                },

                _onTapHome: function(){
                    page("/feed");
                    app.logActivity(app.constants.CTA_TOOLBAR_HOME);
                },

                _onTapDiscussion: function(){
                    document.querySelector('badge-notification[type="DISCUSSION"]').quantity = 0;
                    page("/discussion");
                    app.logActivity(app.constants.CTA_TOOLBAR_DISCUSS);
                },

                _onTapCollaborate: function(){
                    page("/connect");
                    app.logActivity(app.constants.CTA_TOOLBAR_COLLABORATE);
                },

                _onTapProjects: function(){
                    page("/project");
                    app.logActivity(app.constants.CTA_TOOLBAR_PROJECT);
                },

                _onTapResource: function(){
                    page("/resource");
                    app.logActivity(app.constants.CTA_TOOLBAR_RESOURCES);
                },

                _onTapMarketplace: function(){
                    document.querySelector('badge-notification[type="MARKETPLACE"]').quantity = 0;
                    page("/marketplace");
                    app.logActivity(app.constants.CTA_TOOLBAR_GEAR);
                },

                _onLogoTap: function(){
                    page("/feed");
                    app.logActivity(app.constants.CTA_TOOLBAR_LOGO);
                },

                _computeItemUrl: function(item){
                    return item.url;
                },

                _onNotificationItemTap: function(e){

                    const item = e.model.__data__.item;

                    //Already read, go to the link
                    if(item.read){
                        return;
                    }

                    //Mark it as read
                    var params = {  user_id: item.user_id,
                                    target_object_id: item.target_object_id,
                                    type: item.type};

                    app.socket.emit('read-notification', JSON.stringify(params));
                },

                _ajaxUnreadMessagesCallback: function(e){
                    this.updateMessagesBadge(e.detail.response);
                },

                /*
                 * With a delay of 0,8 sec prevents multiple calls to the search if the user is still typing
                 * Also it prevents showing old results when those arrive after the new ones.
                 */
                _searchTyping: function(e){

                    if(this.filterControled == null) return;
                    if(this.timerSearch) clearTimeout(this.timerSearch);

                    this.timerSearch = setTimeout(function () {
                        this.set('filter', this.filterControled);
                    }.bind(this), 800);
                },

                updateMessagesBadge: function(counter){
                    document.querySelector('badge-notification[type="MESSAGE-HEADER"]').quantity = counter;
                },

                _incrementMessagesBadge: function(){
                    document.querySelector('badge-notification[type="MESSAGE-HEADER"]').quantity++;
                },

                updateDiscussionBadge: function(qty){
                    document.querySelector('badge-notification[type="DISCUSSION"]').quantity = qty;
                },

                updateBadges: function(counters){
                    //this var is used to decrease the counters when read.
                    this.counters = counters;
                    document.querySelector('badge-notification[type="GLOBAL"]').quantity = counters.total;
                    document.querySelector('badge-notification[type="MARKETPLACE"]').quantity = counters.marketplace;
                    document.querySelector('badge-notification[type="DISCUSSION"]').quantity = counters.discussion;
                },

                _observerRoute: function () {

                    this.filter = '';
                    switch (this.route) {
                        case 'discussion':
                            this.searchLabel = 'Search in Discussion';
                            this.searchTitle = 'Search Posts';
                            this.$.searchFab.style.display = "block";
                            break;

                        case 'connect':
                            this.searchLabel = 'Search in Connect';
                            this.searchTitle = 'Search Journalists';
                            this.$.searchFab.style.display = "block";
                            break;

                        case 'marketplace':
                            this.searchLabel = 'Search in Marketplace';
                            this.searchTitle = 'Search Items';
                            this.$.searchFab.style.display = "block";
                            break;

                        case 'resource':
                            this.$.searchFab.style.display = "none";
                            break;

                        case 'message':
                            this.$.searchFab.style.display = "none";
                            break;

                        default:
                            this.$.searchFab.style.display = "none";
                    }

                    this._mainHeaderNavigationActive(this.route);
                },

                _mainHeaderNavigationActive: function (route) {

                    var lastNavSelected = this.querySelector('.navigation a.nav-selected');
                    /*entra sólo si hay algun otro radio button seleccionado previamente*/

                    if(lastNavSelected){
                        lastNavSelected.classList.remove('nav-selected');
                    }

                    var newNavSelected = this.querySelector('.navigation #' + route);

                    if(newNavSelected){
                        newNavSelected.classList.add('nav-selected');
                    }

                },

                _openDrawer: function () {
                    var drawer = document.querySelector('#paperDrawerPanel');
                    if(!drawer.disableSwipe){
                        drawer.togglePanel();
                    }
                },

                _showSearch: function (event) {
                    this.header_view = "search";
                    this.$.search.$.input.focus();
                    event.stopPropagation();
                },

                _subheaderTap: function (event) {
                    if (this.header_view === "search") {
                        this.$.search.$.input.focus();
                    }
                    event.stopPropagation();
                },

                _onHeaderTap: function () {
                    this.hideSearch();
                },

                hideSearch: function () { /* Keep this public so that it is called from app.js */

                    if (this.header_view === "search") {
                        this.header_view = "tabs";
                    }
                    this.set('filterControled', null);

                },

                _redirectProfile: function () {
                    page("/profile.experience/0");
                    app.logActivity(app.constants.CTA_TOOLBAR_PICTURE);
                },

                _getPictureUrl: function(pictureName){
                    return app.apinode + "/images/get.picture/mini/" + pictureName;
                },

                _onSettingsTap: function(){
                    app.logActivity(app.constants.CTA_TOOLBAR_SETTINGS);
                },

                _onMessagesTap: function(){
                    app.logActivity(app.constants.CTA_TOOLBAR_MESSAGES);
                },

                _notifications: function(e){

                    e.stopPropagation();
                    e.preventDefault();

                    var expertNotification = document.querySelector('#expert');
                    expertNotification.setZeroGlobalCounter();

                    if(!this.$.displayNotifications.opened){

                        //Retrieve the notification list
                        this.$.ajaxNotificationList.url = app.apinode + "/notifications/list";
                        this.$.ajaxNotificationList.generateRequest();

                        this.$.containerSpinner.style.display="block";
                        this.$.displayNotifications.style.display = "block";

                        app.logActivity(app.constants.CTA_TOOLBAR_NOTIFICATIONS);

                    }else{
                        this.$.displayNotifications.style.display = "none";
                    }

                    //Show the list
                    this.$.listNotifications.style.opacity = 0;
                    this.$.spinnerNotification.style.opacity = 1;
                    this.$.displayNotifications.toggle();
                },

                _ajaxNotificationListCallback: function(e){

                    var currrentUser = app.session.getUser();
                    this.$.listNotifications.style.opacity=1;
                    this.$.spinnerNotification.style.opacity=0;

                    setTimeout(function(){
                        //quitar el espacio que ocupa el spinner
                        this.$.containerSpinner.style.display="none";
                    }.bind(this),50);

                    //if there is no users in the notification, then it was removed, do not show it

                    this.notificationItems = this.buildNotificationList(e.detail.response);
                    return;

                },

                _goViewAll: function(){
                    this.$.displayNotifications.toggle();
                    this.$.displayNotifications.style.display = "none";
                    page("/notification");
                },

                _classPoint: function(isRead){
                    if(isRead)
                        return " hidden ";
                    return " newPoint ";
                },

                _classNewColor: function(isRead){
                    if(isRead)
                        return "col-xs-12 subDetail responsive-height";
                    return "col-xs-12 subDetailNew responsive-height";
                },

                _logout: function(e){
                    app.stopPropagation(e);
                    app.logout();
                },

                _onUserMenuOpen: function () {
                    this.$.searchFab.setAttribute('hidden', true);
                },

                _onUserMenuClose: function () {
                    this.$.searchFab.removeAttribute('hidden');
                }


            });
        })();

        function _hasClass(element, cls) {
            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
        }

        function _removeClass(e, c) {
            e.className = e.className.replace(new RegExp('(?:^|\\s)' + c + '(?!\\S)'), '');
        }

    </script>
</dom-module>
