<link rel="import" href="../discussion-list/discussion-list.html?v1.46">
<link rel="import" href="../discussion-detail/discussion-detail.html?v1.49">
<link rel="import" href="../discussion-new/discussion-new.html?v1.45">

<!-- NO BORRAR pending tests -->
<!-- <link rel="import" href="../../in/in-panel/in-panel.html"> -->

<dom-module id="discussion-main">
    <template>

        <style>

        </style>

    <!-- <in-panel id="rightPanel"> -->
        <!-- <discussion-detail params="{{params}}" id="discussionDetail"
                           route="{{route}}"
                           route_discussion="{{route_discussion}}"></discussion-detail> -->

    <!-- </in-panel> -->

    <iron-pages attr-for-selected="data-route" selected="{{route_discussion}}">

        <section data-route="list">
            <discussion-list id="discussionList"
                             filter="{{filter}}"
                             params="{{params}}"
                             route="{{route}}"
                             route_discussion="{{route_discussion}}"></discussion-list>
        </section>

        <section data-route="detail">
            <discussion-detail params="{{params}}" id="discussionDetail"
                               route="{{route}}"
                               route_discussion="{{route_discussion}}"></discussion-detail>
        </section>

        <section data-route="new">
            <discussion-new params="{{params}}"
                            route="{{route}}"
                            route-discussion="{{route_discussion}}"></discussion-new>
        </section>

    </iron-pages>



<!--<lazy-pages attr-for-selected="data-route" selected="{{route_discussion}}">

    <template is="dom-if" data-route="list">
        <discussion-list id="discussionList"
                         filter="{{filter}}"
                         params="{{params}}"
                         route="{{route}}"
                         route_discussion="{{route_discussion}}"></discussion-list>
    </template>

    <template is="dom-if" data-route="detail">
        <discussion-detail params="{{params}}" id="discussionDetail"
                           route_discussion="{{route_discussion}}"></discussion-detail>
    </template>

</lazy-pages>-->




    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'discussion-main',

                properties: {
                    route_discussion:{
                        observer:"_routeChanged"
                    }
                },

                _routeChanged: function(){
                    if(this.route_discussion == 'detail'){
                        // this.$.rightPanel.open();
                    }
                }
            });
        })();

    </script>
</dom-module>
