<dom-module id="change-password">

    <template>
        <style include="shared-styles">
            /* CSS rules for your element */
        </style>


        <div class="row ">
            <div class="col-xs-12 ">
                <span>Change Password</span>
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-12 ">
                <in-password-input id="oldPassword"
                             required
                             type="password"
                             error-message="{{oldPasswordRequiredMessageError}}"
                             label="Old Password"></in-password-input>
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-12 ">
                <in-password-input id="newPassword"
                             value="{{newPasswordValue}}"
                             auto-validate
                             required
                             pattern="(?=^.{8,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                             error-message="{{patternErrorMessage}}"
                             type="password"
                             label="New password"></in-password-input>
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-12">
                <in-password-input id="repeatedPassword"
                             required
                             type="password"
                             label="Repeat new password"></in-password-input>
            </div>
        </div>

        <iron-ajax id="ajaxChangePassword"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-error="_ajaxChangePasswordError"
                   on-response="_ajaxChangePasswordCallback"></iron-ajax>




    </template>

    <script>
        Polymer({
            is: "change-password",


            properties: {
                patternErrorMessage:{
                    type:String,
                    value: 'Please, enter 1 uppercase, 1 number, 8 characters at least.'
                },
                repeatPassErrorMessage:{
                    type: String,
                    value: 'Please repeat the new password.'
                },
                passwordNoMatchMessageError:{
                    type: String,
                    value: 'Password don\'t match.'
                },
                invalidOldPasswordMessageError:{
                    type: String,
                    value:'Password incorrect.'
                },

                oldPasswordRequiredMessageError:{
                    type: String,
                    value:'Old password required'
                }


            },

            observers:[
                '_onNewPasswordChangeValue(newPasswordValue)'
            ],

            _onNewPasswordChangeValue: function () {
                this.$.newPassword.errorMessage = this.patternErrorMessage;
            },

            changePassword: function () {

                if (!this._validate()) {
                    return;
                }

                var params = {
                    password: this.$.oldPassword.value,
                    new_password: this.$.newPassword.value
                };

                this.$.ajaxChangePassword.body = JSON.stringify(params);
                this.$.ajaxChangePassword.url = app.apinode + "/login/change.password";
                this.$.ajaxChangePassword.generateRequest();

                dialogSpinner.open()

            },

            _validate: function () {

                this.$.oldPassword.errorMessage = this.oldPasswordRequiredMessageError;
                var isValidOldPass = this.$.oldPassword.validate();
                var isValidNewPass = this.$.newPassword.validate();

                if (this.$.newPassword.value) {
                    var matchPasswords = this._validatePassMatch();
                    this.$.repeatedPassword.invalid = !matchPasswords;
                    this.$.newPassword.invalid = !matchPasswords;
                }

                console.log('old pass: ' + isValidOldPass);
                console.log('new pass: ' + isValidNewPass);
                console.log('repeat pass: ' + matchPasswords);

                return isValidOldPass && isValidNewPass && matchPasswords;
            },

            _validatePassMatch: function () {
                this.$.newPassword.errorMessage = this.passwordNoMatchMessageError;
                this.$.repeatedPassword.errorMessage = this.passwordNoMatchMessageError;
                return this.$.repeatedPassword.value == this.$.newPassword.value
            },

            _ajaxChangePasswordCallback: function () {
                this.fire('password-changed');
                dialogSpinner.close();
                this.resetElement();
                app.showToast('Password changed successfully');
            },

            _ajaxChangePasswordError: function () {
                dialogSpinner.close();
                if(this.$.ajaxChangePassword.lastError.status === 401){
                    this.$.oldPassword.errorMessage = this.invalidOldPasswordMessageError;
                }else{
                    this.$.oldPassword.errorMessage = 'There was an error please try again';
                }

                this.$.oldPassword.invalid = true;
            },

            resetElement: function () {
                this.$.oldPassword.value = "";
                this.$.oldPassword.invalid = false;
                this.$.newPassword.value = "";
                this.$.newPassword.invalid = false;
                this.$.repeatedPassword.value = "";
                this.$.repeatedPassword.invalid = false;
            }



        });
    </script>

</dom-module>