<link rel="import" href="settings-general.html">
<link rel="import" href="settings-notifications.html">

<dom-module id="settings-main">
    <template>



        <style is="custom-style">

        </style>

            <div class="row center-xs" style="margin-top:15px">
                <div class="col-xs-12 col-md-10 col-md-offset-1">

        
                    <neon-animated-pages
                        entrey-animation="fade-in-animation"
                        exit-animation="fade-out-animation"
                        attr-for-selected="data-route"
                        selected="{{route_settings}}">


                                <neon-animatable data-route="general">
                                    <settings-general></settings-general>
                                </neon-animatable>

                                <neon-animatable data-route="notifications">
                                    <settings-notifications route="{{route}}"
                                                            route_settings="{{route_settings}}"></settings-notifications>
                                </neon-animatable>

                    </neon-animated-pages>


                </div>
            </div>
        
               
    </template>
</dom-module>


<script type="text/javascript">

    HTMLImports.whenReady(function () {

        Polymer({
            is: 'settings-main',
            properties: {
                //
            }



        });

    });


</script>