<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module id="settings-notifications">
    <template>

        <style include="shared-styles"></style>

        <style is="custom-style">
            :host {
                @apply(--font-jouture);
            }
            .title {
                @apply(--small-text-highlighted);
            }
            .text {
                @apply(--small-text);
                margin-top: 20px;
            }
            .block {
                //margin-top:10px;
            }
            paper-button {
                padding: 0 !important;
                text-align: left !important;
                @apply(--very-small-text)
                color: var(--light-primary-color);
            }

            paper-toggle-button {
                --paper-toggle-button-checked-bar-color:  #999999;
                --paper-toggle-button-checked-button-color:  var(--accent-color);
                --paper-toggle-button-checked-ink-color: var(--accent-light-color);

            }

        </style>

        <iron-ajax
            id="ajaxSettings"
            method="GET"
            with-credentials
            handle-as="json"
            on-response="_settingsCallback"></iron-ajax>

        <iron-ajax
            id="ajaxSave"
            method="POST"
            with-credentials
            handle-as="json"
            on-response="_saveCallback"></iron-ajax>


        <div class="row start-xs block">
            <div class="col-xs-12">

                <span class="title">EMAIL NOTIFICATION SETTINGS</span>

                <div class="row text">
                    <div class="col-xs-5 col-md-3"> New discussion </div>
                    <div class="col-xs-2"> <paper-toggle-button on-tap="_saveChange" id="toggleDiscussion"></paper-toggle-button> </div>
                </div>

                <div class="row text">
                    <div class="col-xs-5 col-md-3"> Replies to your discussions </div>
                    <div class="col-xs-2"> <paper-toggle-button on-tap="_saveChange" id="toggleReply"></paper-toggle-button> </div>
                </div>

                <div class="row text">
                    <div class="col-xs-5 col-md-3"> Engagements requests </div>
                    <div class="col-xs-2"> <paper-toggle-button on-tap="_saveChange" id="toggleEngagement"></paper-toggle-button> </div>
                </div>

                <div class="row text">
                    <div class="col-xs-5 col-md-3"> Marketplace requests </div>
                    <div class="col-xs-2"> <paper-toggle-button on-tap="_saveChange" id="toggleMarketplace"></paper-toggle-button> </div>
                </div>

            </div>
        </div>





    </template>
</dom-module>


<script type="text/javascript">

    HTMLImports.whenReady(function () {

        Polymer({
            is: 'settings-notifications',
            properties: {
                route_settings: {
                    type: String,
                    observer: "_routeChanged"
                },
                loaded: false
            },
            _saveCallback: function(e){

                if(!e.detail.response || e.detail.response.status !== 200){
                    app.showToast('Error while trying to save, please try again');
                }
            },
            _settingsCallback: function(e){

                dialogSpinner.close();
                var settings = e.detail.response.data;

                //New discussions
                if(parseInt(settings.discussion)){
                    this.$.toggleDiscussion.checked = true;
                }else{
                    this.$.toggleDiscussion.checked = false;
                }

                //Replies to your discussions
                if(parseInt(settings.reply)){
                    this.$.toggleReply.checked = true;
                }else{
                    this.$.toggleReply.checked = false;
                }

                //Engagement requests
                if(parseInt(settings.engagement)){
                    this.$.toggleEngagement.checked = true;
                }else{
                    this.$.toggleEngagement.checked = false;
                }

                //New marketplace items
                if(parseInt(settings.marketplace)){
                    this.$.toggleMarketplace.checked = true;
                }else{
                    this.$.toggleMarketplace.checked = false;
                }

                this.loaded = true;
            },
            _saveChange: function(){

                var params = {
                    'method': 'save',
                    'discussion': this.$.toggleDiscussion.checked ? 1: 0,
                    'reply': this.$.toggleReply.checked ? 1: 0,
                    'engagement': this.$.toggleEngagement.checked ? 1: 0,
                    'marketplace': this.$.toggleMarketplace.checked ? 1: 0
                };

                this.$.ajaxSave.url = app.apiphp+'/main/email.notifications/';
                this.$.ajaxSave.params = params;
                this.$.ajaxSave.generateRequest();
            },
            _routeChanged: function(){

                if(this.route !== 'settings' || this.route_settings !== 'notifications' || this.loaded){
                    return true;
                }

                dialogSpinner.open();

                this.$.ajaxSettings.method = 'GET';
                this.$.ajaxSettings.url = app.apiphp+'/main/email.notifications/method/settings';
                this.$.ajaxSettings.generateRequest();
            }
        });

    });


</script>
