<link rel="import" href="change-password.html">

<dom-module id="settings-general">
    <template>

        <style include="shared-styles"></style>

        <style>
            :host {
                @apply(--font-jouture);
            }
            .title {
                @apply(--small-text-highlighted);
            }
            .text {
                @apply(--small-text);
                margin-top: 20px !important;
            }
            .block {

            }
            .edition-button {
                padding: 5px !important;
                padding: 5px !important;
                margin-top: 18px;
                text-align: left !important;
                @apply(--very-small-text)
                color: var(--light-primary-color);
            }

            .ok-button{
                background-color: var(--accent-color);
                color: #FFF;
            }

            .cancel-button{
                background-color: #DFDFDF;
            }

/*            paper-dialog{
                z-index: 1100 !important;
                background: white;
                padding-top: 20px;
                padding-right: 60px;
                padding-left: 60px;
            }*/

        </style>

        <iron-ajax
            id="ajaxSave"
            method="POST"
            with-credentials
            handle-as="json"
            on-response="_saveCallback"></iron-ajax>

<!--        <iron-ajax
            id="ajaxSettingsGeneral"
            method="GET"
            with-credentials
            handle-as="json"
            on-response="_settingsCallback"></iron-ajax>-->

        <paper-dialog id="dialogEditEmail"
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation"
                      modal="true">


            <div class="row center-xs">
                <div class="col-xs-12" style="margin-bottom:40px;">
                    <gold-email-input id="newEmail" label="Secondary email" error-message="Type a valid email address"></gold-email-input>
                </div>
                <div class="col-xs">
                    <paper-button class="cancel-button" on-tap="_closeDialog">Close</paper-button>
                </div>
                <div class="col-xs">
                    <paper-spinner id="spinnerSecondaryEmail"></paper-spinner>
                </div>
                <div class="col-xs">
                    <paper-button class="ok-button" on-tap="_saveEmail">Save</paper-button>
                </div>
            </div>

        </paper-dialog>

        <div class="row start-xs block">
            <div class="col-xs-12">

                <span class="title">BASIC SETTINGS</span>

                <div class="row">
                    <div class="col-xs-5 col-md-3 text"> Primary Email </div>
                    <div class="col-xs-5 col-md-3 text"> {{userEmail}} </div>
                </div>
                <!--
                                <div class="row">
                                    <div class="col-xs-5 col-md-3 text"> Secondary Email </div>
                                    <div class="col-xs-5 col-md-3 text" id="secondaryEmail">none</div>
                                    <div class="col-xs-2"> <paper-button on-tap="_openEmailEdition" class="edition-button">Edit</paper-button> </div>
                                </div>
                -->
                <div class="row">
                    <div class="col-xs-5 col-md-3 text"> Change Password </div>
                    <div class="col-xs-5 col-md-3 text"> ************* </div>
                    <div class="col-xs-2">
                        <paper-button
                                class="edition-button"
                                on-tap="_onChangePasswordButtonTap">Change Password</paper-button> </div>
                </div>

                <div class="row">
                    <div class="col-xs-5 col-md-3 text"> Display Name </div>
                    <div class="col-xs-5 col-md-3 text"> {{userName}} </div>
                </div>

            </div>
        </div>

        <in-mobile-message id="changePasswordDialog"
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop style="width: 500px">
            <change-password id="changePassword"></change-password>

        </in-mobile-message>


        <iron-ajax id="ajaxEmail"
                   with-credentials
                   last-response="{{userEmail}}"></iron-ajax>


    </template>
</dom-module>


<script type="text/javascript">

    HTMLImports.whenReady(function () {

        Polymer({
            is: 'settings-general',
            properties: {
//                route: {
//                    type: String,
//                    observer: "_routeChanged"
//                }
            },

            listeners:{
                'password-changed':'_onPasswordSaved'
            },

            attached: function(){

                this.userName = app.session.getName();
                this.$.changePasswordDialog.sendButtonAction = this._onDialogActionButtonTap.bind(this);
                this.$.changePasswordDialog.closeButtonAction = this._onDialogCloseButtonTap.bind(this);
                this.$.changePasswordDialog.context = this;

                this.$.ajaxEmail.url = app.apinode + '/journalists/get.email';
                this.$.ajaxEmail.generateRequest();
            },

            _openEmailEdition: function(){

                this.$.spinnerSecondaryEmail.active = false;
                this.$.newEmail.value = '';
                this.$.dialogEditEmail.open();
            },
            _closeDialog: function(){
                this.$.dialogEditEmail.close();
            },
            _saveEmail: function(){

// TODO: save email en node
return;
                if(this.$.newEmail.value === '' || !this.$.newEmail.validate())
                    return false;

                this.$.spinnerSecondaryEmail.active = true;

                var params = {method: 'update.user',
                              data: 'secondary_email',
                              value: this.$.newEmail.value};

                this.$.ajaxSave.url = app.apiphp+'/main/users/';
                this.$.ajaxSave.params = params;
                this.$.ajaxSave.generateRequest();
            },
            _saveCallback: function(e){

                this.$.spinnerSecondaryEmail.active = false;

                if(!e.detail.response || e.detail.response.status !== 200){
                    app.showToast('Error while trying to save, please try again.');
                }

                this.$.secondaryEmail.innerHTML = this.$.newEmail.value;
                this.$.dialogEditEmail.close();
            },
            _settingsCallback: function(e){
                if(!e.detail.response || e.detail.response.status !== 200){
                    app.showToast('Error loading data, please refresh.');
                }
            },

            _onChangePasswordButtonTap: function () {
                this.$.changePasswordDialog.open();
            },

            _onDialogActionButtonTap: function () {
                this.$.changePassword.changePassword();
            },
            _onDialogCloseButtonTap: function () {
                this.$.changePassword.resetElement();
            },
            _onPasswordSaved: function () {
                this.$.changePasswordDialog.close();
            }
        });

    });


</script>
