<!doctype html>

<!--
title: Examples
order: 0
layout: page
-->

<!--
@license
Copyright (c) 2016 Vaadin Ltd.
This program is available under Apache License Version 2.0, available at https://vaadin.com/license/
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>vaadin-upload Advanced Examples</title>

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="common.html">
  <link rel="import" href="../../iron-icon/iron-icon.html">
  <link rel="import" href="../../iron-icons/iron-icons.html">
</head>
<body unresolved>
  <div class="vertical-section-container centered">
    <nav class="vertical-section">
      <ul class="layout horizontal wrap">
        <li><a href="">Basic Examples</a></li>
        <li><b>Advanced Usage</b></li>
        <li><a href="i18n.html">I18n</a></li>
      </ul>
    </nav>

    <h3>Custom File List</h3>
    <demo-snippet>
      <template>
        <template is="dom-bind">
          <vaadin-upload id="fileEventsDemo" files="{{files}}">
            <div class="file-list">
              <h4>Files</h4>
              <ul>
                <template is="dom-repeat" items="{{files}}" as="file">
                  <li>
                    <strong>[[file.name]]</strong>
                    [[file.status]]
                  </li>
                </template>
              </ul>
            </div>
          </vaadin-upload>
        </template>
      </template>
    </demo-snippet>

    <h3>Customizing the Upload Request</h3>
    <demo-snippet>
      <template>
        <vaadin-upload id="requestDemo"></vaadin-upload>

        <script>
          var upload = document.querySelector('vaadin-upload#requestDemo');

          upload.addEventListener('upload-before', function(event) {
            console.log('upload xhr before open: ', event.detail.xhr);

            // Prevent the upload request:
            // event.preventDefault();

            // Custom upload request url for file
            var file = event.detail.file;
            file.uploadTarget = upload.target + '/' + file.name;
          });

          upload.addEventListener('upload-request', function(event) {
            console.log('upload xhr after open: ', event.detail.xhr);

            event.detail.xhr.setRequestHeader('X-File-Name', event.detail.file.name);
            event.detail.formData.append('documentId', 1234);
          });

          upload.addEventListener('upload-start', function(event) {
            console.log('upload xhr after send: ', event.detail.xhr);
          });
        </script>
      </template>
    </demo-snippet>

    <h3>Custom Reaction on Server Response</h3>
    <demo-snippet>
      <template>
        <vaadin-upload id="responseDemo"></vaadin-upload>

        <script>
          var upload = document.querySelector('vaadin-upload#responseDemo');

          upload.addEventListener('upload-response', function(event) {
            console.log('upload xhr after server response: ', event.detail.xhr);
            event.detail.file.error = 'Custom server error message.';

            // Interpret any server response as success:
            // event.detail.xhr.status = 200;
          });
        </script>
      </template>
    </demo-snippet>

    <h3>Pre-Filling the File List in Advance</h3>
    <demo-snippet>
      <template>
        <vaadin-upload id="preFill" accept="application/pdf">
          <div class="drop-label">
            <iron-icon icon="description"></iron-icon>
            Drop your favourite Novels here
          </div>
        </vaadin-upload>
        <script>
          upload = document.querySelector('vaadin-upload#preFill');
          upload.files = [
            {name: 'Don Quixote.pdf', progress: 100, complete: true},
            {name: 'Hamlet.pdf', progress: 100, complete: true}
          ];
          upload.set('i18n.addFiles.many', 'Select books');
        </script>
      </template>
    </demo-snippet>
  </div>
</body>
</html>
