<!-- Common imports for all examples -->
<link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
<link rel="import" href="../../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../paper-styles/default-theme.html">
<!-- <link rel="stylesheet" href="../../elements&#45;demo&#45;resources/demo.css"> -->
<script src="../../elements-demo-resources/ga.js"></script>
<script src="../../mock-http-request/lib/mock.js"></script>
<link rel="import" href="../in-upload.html">

<!-- Common styles for all examples -->
<style is="custom-style" include="demo-pages-shared-styles">
  :root {
    --primary-color: #00B4F0;
    --light-primary-color: #7CD8F7;
    --dark-primary-color: #0078A0;
    --error-color: #E61E6E;
  }

  nav {
    display: block;
  }

  nav.vertical-section {
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;
    padding-bottom: 0;
  }

  nav > ul {
    padding: 0;
  }

  nav > ul > li {
    padding: 0 24px 8px 0;
    list-style: none;
  }

  nav a, nav b {
    @apply(--paper-font-button);
  }

  nav a {
    color: var(--primary-color);
    text-decoration: none;
  }

  nav b {
    color: var(--secondary-text-color);
  }

  .centered {
    max-width: 800px;
  }
</style>


<!-- Common JS code for all examples -->
<script>
  // Use MockHttpRequest in demos
  function mockXhrGenerator(file) {
    var xhr = new MockHttpRequest();
    xhr.upload = {};
    xhr.onsend = function() {
      var total = file && file.size || 1024, done = 0;
      function start() {
        setTimeout(progress, 1000);
      }
      function progress() {
        xhr.upload.onprogress({total: total, loaded: done});
        if (done < total) {
          setTimeout(progress, 200);
          done = Math.min(total, done + 254000);
        } else if (!file.abort) {
          setTimeout(finish, 1000);
        }
      }
      function finish() {
        xhr.receive(200, '{"message":"OK"}');
      }
      start();
    };
    return xhr;
  }

  window.addEventListener('WebComponentsReady', function() {
    // Monkey-patch vaadin-upload prototype to use MockHttpRequest
    Object.getPrototypeOf(document.createElement('vaadin-upload'))._createXhr = mockXhrGenerator;
  });
</script>
