
<dom-module id="in-image-progressive">
    <template>


    <style is="custom-style" include="shared-styles">

        :host {
            /*@apply(--font-jouture);*/
        }
        .placeholder {
          background-color: #f6f6f6;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          overflow: hidden;
        }
        .placeholder img {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          width: 100%;
          transition: opacity 1s linear;
        }
        .placeholder img.loaded {
          opacity: 1;
        }
        .img-small {
          filter: blur(50px);
        }
        .all-hidden {
            opacity: 0;
        }

    </style>

        <div class="placeholder" data-large="{{largePicSource}}">
            <img src="{{smallPicSource}}" class="img-small" on-load="_onSmallImageLoad">
            <!-- <div style="padding-bottom: 66.6%;"></div> -->
        </div>


    </template>
    <script>

        (function() {
            'use strict';

            Polymer({
                is: 'in-image-progressive',
                properties: {

                },
                attached: function(){
                    //
                },
                _onSmallImageLoad: function(e){

                    e.currentTarget.classList.add('loaded');

                    //this.$.allContent.classList.remove('all-hidden');

                    var placeholder = e.currentTarget.parentNode;

                    var imgLarge = new Image();
                    imgLarge.style.opacity = "0";
                    imgLarge.style.position = "absolute";
                    imgLarge.style.left = "0";
                    imgLarge.style.top = "0";
                    imgLarge.style.width = "100%";
                    imgLarge.style.transition = "opacity 1s linear";

                    imgLarge.onload = function () {
                        imgLarge.style.opacity = "1";
                    };

                    imgLarge.src = placeholder.dataset.large;
                    placeholder.appendChild(imgLarge);
                },
            });
        })();
    </script>

</dom-module>
