<link rel="import" href="../language-add/language-add.html">

<dom-module id="language-list">
    <template >
        <style include="shared-styles">
            :host {
                display: block;
                margin: 20px !important;
                min-height: 100px;
                background: #FFF;
            }
        </style>
        <iron-pages id="editLanguagePage"
                             selected="{{selectedPage}}">


            <div style="margin:10px 24px 20px 24px; text-align: left">

                <in-combo-box id="languagesCombo" label="Start typing a language"
                                  items="[[languages]]"></in-combo-box>
            </div>

            <div style="margin:0px; padding:0px;">
                    <language-add language="{{languageSelected}}" id="languageAdd"></language-add>
            </div>

        </iron-pages>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'language-list',

                properties: {
                    selectedPage:{
                        value: 0,
                        notify: true
                    },
                    languageSelected:{
                        notify:true
                    },
                    languages: {
                        type: Array,
                        value: [
                          'Afrikaans', 'Albanian', 'Amharic', 'Arabic', 'Armenian', 'Basque', 'Bengali',
                          'Byelorussian', 'Burmese', 'Bulgarian', 'Catalan', 'Czech', 'Chinese', 'Croatian',
                          'Danish', 'Dari', 'Dzongkha', 'Dutch', 'English', 'Esperanto', 'Estonian', 'Faroese',
                          'Farsi', 'Finnish', 'French', 'Gaelic', 'Galician', 'German', 'Greek', 'Hebrew',
                          'Hindi', 'Hungarian', 'Icelandic', 'Indonesian', 'Inuktitut (Eskimo)', 'Italian',
                          'Japanese', 'Khmer', 'Korean', 'Kurdish', 'Laotian', 'Latvian', 'Lappish', 'Lithuanian',
                          'Macedonian', 'Malay', 'Maltese', 'Nepali', 'Norwegian', 'Pashto', 'Polish',
                          'Portuguese', 'Romanian', 'Russian', 'Scots', 'Serbian', 'Slovak', 'Slovenian',
                          'Somali', 'Spanish', 'Swedish', 'Swahili', 'Tagalog-Filipino', 'Tajik', 'Tamil', 'Thai',
                          'Tibetan', 'Tigrinya', 'Tongan', 'Turkish', 'Turkmen', 'Ucrainian', 'Urdu', 'Uzbek',
                          'Vietnamese', 'Welsh'
                        ]
                    }
                },

                ready: function () {

                    this.$.languagesCombo.addEventListener('selected-item-changed', function(e) {
                        this._showLanguageLevel(e.detail.value);
                    }.bind(this));

                },

                _showLanguageLevel: function (selectedLang) {
                    this.set('languageSelected', selectedLang);
                    this.set('selectedPage', 1);
                },
                init: function(){
                    //this.$.editLanguagesAutocomplete.init();
                    this.$.languagesCombo.value = null;
                    this.set('languageSelected', null);
                    this.set('selectedPage', 0);
                    this.$.languageAdd.init();
                }
            });
        })();


        function profileLanguageCallback(data) {

            var choices = [];
            for(var i in data['rows']){
                var choice = {};
                choice.value = data['rows'][i][0];
                choice.label = data['rows'][i][0];
                choices.push(choice);
            }
            document.querySelector('#editLanguagesAutocomplete').choices = choices;

        }
    </script>
</dom-module>
