<dom-module id="in-journalist-pic">

    <template>
        <style>
            .pic-journalist {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
            }
            .pic-journalist:hover{
                cursor: pointer;
            }
        </style>
        <img on-tap="_onJournalistPicTap" id="image" class="pic-journalist">

    </template>

    <script>
        Polymer({
            is: "in-journalist-pic",


            properties: {
                journalist: Object
            },
            observers: [
                '_onPictureChange(journalist)'
            ],

            _onPictureChange: function () {
                this._setImgSrc(this.journalist.picture);
            },

            _setImgSrc: function(fileName){
                fileName = (fileName && fileName[0])|| 'default.jpg';
                this.$.image.src = app.apinode + "/images/get.picture/mini/" + fileName;
            },

            _onJournalistPicTap: function(){
                page("/profile/" + this.journalist.user_id);
            },
        });
    </script>

</dom-module>
