<dom-module id="visa-list">
    <template>
        <style include="shared-styles">

            .image-container {
                margin-top: 60px;
            }
            .table-header {
                padding-left: 32px;
                @apply(--medium-text);
            }
            .combo-countries {
                display: inline-block;
            }
            .detail-dialog > *{
                margin-top: 0;
            }
            .detail-dialog {
                background-color: var(--item-background-color);
                padding: 24px;
            }
            .jo-list {
                --vaadin-grid-row-height : 75px;
                --vaadin-grid-header-row-height: 1px;
                --primary-color: var(--accent-color);
                --vaadin-grid-row-cell:{
                    /*font-size:15px!important;*/
                    font-weight:300!important;
                    /*box-sizing:content-box;*/
                };
            }
            .jo-list /deep/ ::-webkit-scrollbar {
                width: 4px !important;
                height: 4px !important;
            }
            .jo-list /deep/ ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 3px;
            }
            .jo-list /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--accent-color);
            }
            .jo-detail-title {
                @apply(--medium-text);
                color: var(--accent-color);
            }
            .jo-detail-info {
                @apply(--small-text);
            }
            .jo-detail-description {
            }
            .close-button-top {
                right: -17px;
                top: -15px;
                color: var(--disabled-text-color);
            }
            .icon-close-container {
                text-align: right;
            }
            .header-dialog {
                height: 25px;
            }
            .table-title {
                float: left;
                padding-top: 28px;
                margin-right: 14px;
            }

            @media (max-width: 48em) {
                .close-button-top{
                    right: 0;
                }
                .table-title{
                    padding-left: 0;
                    padding-top: 0;
                }
                .jo-list {
                    --vaadin-grid-row-cell: {
                        padding-left: 16px;
                    };
                }
                .detail-dialog{
                    margin-left: 0;
                    margin-right: 0;
                }
                .table-title{
                    float: none;
                    padding-top: 32px;
                    margin-right: 14px;
                    padding-left: 8px
                }
            }

            @media (min-width: 47em) {

                .detail-dialog {
                    min-width: 1394px;
                }
            }


        </style>


        <div class="row start-xs">
            <div class="col-xs table-header">
                <div class="table-title">Visa Information for: </div>
                <div>
                    <in-combo-box id="countries"  style="margin-top:-10px;"
                                  class="combo-countries"
                                  placeholder="Country"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{visaCountries}}"></in-combo-box>
                </div>
            </div>

        </div>

        <div class="row center-xs image-container">
            <div class="col-xs-12">
                <img src$="{{visaImageUrl}}" style="width:80%"/>
            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="emptyBox" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <br/>
                <br/>
                <span>Visa information isn’t available in {{countryEmptyState}} at this</span>
                <br/>
                <span>moment.</span>
                <br/>
                <br/>
                <span>Change the country to view other Visa information.</span>
            </div>
        </div>




        <paper-dialog id="detailJoDialog"
                      modal
                      class="detail-dialog">


            <div class="row start-xs header-dialog">
                <div class="col-xs-11 col-md-4 jo-detail-title">
                    Albanian Media Institute
                </div>

                <div class="col-xs-1 col-md-1 col-md-offset-7 icon-close-container">
                    <paper-icon-button id="closeDialogButton"
                                       class="close-button-top"
                                       icon="in-icon-set:highlight-off"
                                       on-tap="_tapCloseIcon"
                                       dialog-confirm></paper-icon-button>
                </div>
            </div>

            <div class="row ">
                <div class="col-xs-12 col-md-2 jo-detail-info">Rr. Gjin Bue Shpata, No.</div>
                <div class="col-xs-12 col-md-2 jo-detail-info">Tirana, Albania</div>
                <div class="col-xs-12 col-md-2 jo-detail-info">+ 355 42 22980</div>
                <div class="col-xs-12 col-md-2 jo-detail-info">nfo@institutemedia.org</div>
                <div class="col-xs-12 col-md-3 jo-detail-info">http://www.institutemedia.org/</div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 jo-detail-description">
                    Institute has organized several trainings program,  research works, and provides legal aid to journalists
                </div>
            </div>
        </paper-dialog>

        <iron-ajax id="ajaxCall"
                   with-credentials
                   last-response="{{ajaxVisasResponse}}"
                   method="GET"
                   on-response="_ajaxVisasResponse">
        </iron-ajax>

        <iron-ajax id="ajaxNationalities"
                   method="GET"
                   with-credentials
                   last-response="{{visaCountries}}">
        </iron-ajax>

        <iron-media-query query="(max-width: 48em)" query-matches="{{xs}}"></iron-media-query>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'visa-list',
                behaviors: [ajaxBehavior],
                properties: {
                    // xs:{
                    //     type: Boolean,
                    //     observer:'_changeResolution'
                    // }

                },

                ready: function(){

                    // window.addEventListener('resize', function (e) {
                    //     this._resizeList();
                    //
                    // }.bind(this));

                    // this.$.visasList.addEventListener('selected-items-changed', function () {
                    //
                    //     var selected = this.$.visasList.selection.selected();
                    //     if (selected.length == 1) {
                    //         this._showDialog(selected[0]);
                    //     }
                    // }.bind(this));

                    app.addEventListener('route-resource-changed', function(e){
                        if(e.detail !== 'visa') return;
                        this._getNationalities();
                    }.bind(this));



                    this.$.countries.addEventListener('selected-item-changed', function (e) {

                        if(!e.detail.value){
                            return;
                        }

                        this.countryEmptyState = e.detail.value.label;
                        this._changeCountryFilter(e.detail.value.value);

                    }.bind(this));

                },

                _changeCountryFilter: function(countryId){

                    dialogSpinner.open();
                    this.$.ajaxCall.url = app.apinode + '/resources/get.visa/' + countryId;
                    this.$.ajaxCall.generateRequest();
                },

                _getNationalities: function () {

                    if (!this.visaCountries) {

                        this.$.ajaxNationalities.url = app.apinode + "/resources/get.visa.countries";
                        this.$.ajaxNationalities.generateRequest();
                    }
                },

                _ajaxVisasResponse: function(){

                    dialogSpinner.close();

                    if(!this.ajaxVisasResponse.url){

                        this.set('visaImageUrl', "");
                        this.$.emptyBox.style.display = 'block';
                        this.$.emptyBox.style.opacity = 1;
                        return;
                    }

                    this.$.emptyBox.style.display = 'none';
                    this.$.emptyBox.style.opacity = 0;

                    console.log(this.ajaxVisasResponse);
                    this.set('visaImageUrl', this.ajaxVisasResponse.url);
                },

                _tapCloseIcon: function () {
                    this.$.visasList.selection.clear()
                }
            });
        })();
    </script>
</dom-module>
