<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">


<dom-module id="in-autocomplete">

    <style>
        :host{
            @apply(--font-jouture);
        }
        iron-collapse {
            box-shadow: 6px;
            z-index: 100;
            background-color: white;
            position: fixed !important;
        }

        paper-button {
            width: 100%;
            text-transform: none;
        }
        paper-item{
            @apply(--small-text);
        }
        .profile-image{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 15px;
        }
        .add-new {
            padding-bottom:0;
            margin-bottom:-11px;
            margin-right: -30px;
        }
    </style>

    <template>
        <paper-input-container>
            <label>{{label}}</label>
            <content select=".content"></content>


            <input id="searchBox"
                   class="paper-input-input"
                   placeholder="{{placeholder}}"
                   search-value="{{searchValue}}"
                   label="{{label}}"
                   is="iron-input"
                   bind-value="{{searchValue::input}}"
                   on-tap="_fireTapEvent">

            <template is="dom-if" if="{{showAddButton}}">
                <div suffix class="add-new">
                    <paper-icon-button icon="in-icon-set:add"
                                       on-tap="_addNewItem"></paper-icon-button>
                </div>
            </template>


        </paper-input-container>
        <iron-collapse id="collapse">
            <paper-material>
                <div>
                    <template id="resultList" is="dom-repeat" items="{{choices}}" filter="_listFilter">
                        <template is="dom-if" if='{{_computed("default", elementType)}}'>
                            <paper-item>
                                <paper-button on-tap="_selectItem">{{item.label}}</paper-button>
                            </paper-item>
                        </template>

                        <template is="dom-if" if='{{_computed("picture", elementType)}}'>
                            <paper-item on-tap="_selectItem">
                                <template is="dom-if" if="{{item.pic}}">
                                    <img  class="profile-image" src$="{{_computeProfileImage(item.pic)}}" alt=""/>
                                </template>
                                {{item.label}}
                            </paper-item>
                        </template>
                    </template>
                </div>
            </paper-material>
        </iron-collapse>
    </template>

</dom-module>
<script>

    (function () {
        Polymer({
            is: "in-autocomplete",
            properties: {
                selected: {
                    type: Object,
                    notify: true
                },
                choices: {
                    type: Array
                },
                choice: {
                    type: String,
                    value: '0'
                },
                searchValue: {
                    type: String,
                    value: '',
                    observer: "_valueChanged"
                },
                elementType: {
                    type: String,
                    value: 'default'
                },
                autoClear: {
                    type: Boolean,
                    value: false
                },
                showAddButton: {
                    type:Boolean,
                    value: false
                },
                focusCollapse:{
                    type:Boolean,
                    value: false
                }
            },
            ready: function () {
                this.$.resultList.render();
            },
            _computed: function (templateName, elementType) {
                if (templateName === elementType) {
                    return true;
                }
            },
            _valueChanged: function (e) {

                var collapse = this.$.collapse;

                if (e != '')
                    this.$.resultList.render();

                if (e != '' && !collapse.opened) {
                    this.$.resultList.render();
                    collapse.toggle();
                } else
                if (e == '' && collapse.opened) {
                    if(this.focusCollapse) return;
                    collapse.toggle();
                }else{
                    if(this.focusCollapse) return;
                    if(!collapse.opened)
                        collapse.toggle();
                }

                if (this.searchValue.length > 2){
                    this.fire('valueChanged', {value: this.searchValue});
                }

                this.set('labelSelected', undefined);
                this.set('valueSelected', undefined);
            },
            _listFilter: function (item) {
                return item.label.toLowerCase().includes(this.searchValue.toLowerCase());
            },
            _selectItem: function (event) {
                this.selected = event.model.item;
                this.$.collapse.toggle();
                this.fire('selected', event.model.item);
                this.set('labelSelected', event.model.item.label);
                this.set('valueSelected', event.model.item.value);
              /*
                this.set('nameSelected', event.model.item.name);
                this.set('picSelected', event.model.item.pic);
                this.set('locationSelected', event.model.item.label);
               */
                if (this.autoClear) {
                    this.init();
                } else {
                    this.$.searchBox.value = event.model.item.label;
                }
            },
            _addNewItem: function () {
                if (this.searchValue.lenght < 2)
                    return true;

                this.$.collapse.toggle();
                this.fire('addNewItem', {label: this.searchValue});
                this.searchValue = "";
            },
            _fireTapEvent: function () {
                if(!this.focusCollapse) return;
                this.fire('focusAutoComplete');
                this.$.resultList.render();
                this.$.collapse.toggle();
            },
            // _keyPressHandler: function(e){
            //     this.set('labelSelected', undefined);
            //     this.set('valueSelected', undefined);
            // },
            init: function () {
                this.searchValue = "";
                this.$.searchBox.value = "";
                if(this.$.collapse.opened){
                    this.$.collapse.toggle();
                }
            },
            _computeProfileImage(picName){
                return app.apinode + "/images/get.picture/mini/" + picName;
            }
        });
    })();

</script>
