<link rel="import" href="../landing-elements.html?v1.31">
<link rel="import" href="../../styles/landing-styles.html"/>
<link rel="import" href="../in/in-icon-set/in-icon-set.html">

<dom-module id="landing-page">
    <template>

        <style is="custom-style" include="landing-styles">

            .elements-container {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                overflow-y: scroll;
            }
            .forgot-password-container{
                max-width: 408px;
                margin-top: 80px;
            }
            .login-container{
                max-width: 408px;
            }
            .page-container {
                margin-top: 80px;
            }
            .header{
                height: 45px;
                width:100%;
                position: fixed;
                top:0px;
                z-index: 3000;
                background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
                background: rgba(0, 0, 0, 0.4);
                margin: 0;
                padding: 0;
            }
            .header-button {
                border-radius: 2px;
                font-size: 14px;
                margin-top: 6px;
                color: #FFF;
                text-transform: none;
            }
            .header-login-button {
                color: var(--accent-color);
            }
            .logo{
                width: 110px;
                height: 19px;
                position: fixed;
                top: 15px;
                left: 20px;
                z-index: 9999
            }
            paper-fab {
                color:#333;
                background-color:#FFF;
                position:fixed;
                top:17px;
                z-index:9999;
            }

            @media only screen and (max-width: 48em){
                .mobile-margin{
                    margin: 0 10px 0 10px;
                }
                .header{
                    background-color: #999;
                }
                .hide-mobile {
                    display: none;
                }
                .header-logo{
                    display: none;
                }
                .mobile-container {
                    padding: 0px !important;
                    margin: 0px !important;
                }
                paper-button{
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
                paper-fab {
                    top:55px;
                    position: absolute;
                    z-index: 1;
                }
            }

        </style>

        <div id="landingHeader" class="row end-xs header mobile-container">
            <div class="col-xs-12 mobile-container">

                <a href="/landing" class="header-logo">
                    <img src="/images/kulectiv.png" alt="Kulectiv" class="logo hide-mobile" id="landingLogo">
                </a>

                <a href="/about">
                    <paper-button elevation="3" class="header-button">About Us</paper-button>
                </a>

                <!-- <a href="/terms">
                    <paper-button elevation="3" class="header-button">Terms</paper-button>
                </a> -->

                <!-- <a href="/pricing">
                    <paper-button elevation="3" class="header-button">Pricing</paper-button>
                </a> -->

                <a href="https://medium.com/@kulectiv" target="_blank">
                    <paper-button elevation="3" class="header-button">Blog</paper-button>
                </a>

                <a href="/login">
                    <paper-button elevation="3" class="header-button header-login-button">Login</paper-button>
                </a>

            </div>
        </div>

        <div class="row" id="backFabContainer" style="display:none">
            <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-2">
                <a href="/landing">

                    <paper-fab icon="in-icon-set:chevron-left"></paper-fab>
                </a>
            </div>
        </div>


        <iron-pages selected="{{route_landing}}"
                    attr-for-selected="data-route"
                    style="overflow-y: auto; overflow-x: hidden;">

            <section data-route="landing">
                <landing-buttons route_landing="{{route_landing}}"></landing-buttons>
            </section>

            <!-------------------------------------------------------------------->
            <section data-route="login">
                <div class="row center-xs mobile-margin">
                    <div id="loginContainer" class="login-container">
                        <login-page params="{{params}}"
                                    route="{{route_landing}}"></login-page>
                    </div>
                </div>
            </section>
            <!---------------------------------------------------------------->

            <section data-route="forgot-password">
                <div class="row center-xs mobile-margin">
                    <div class="forgot-password-container">
                        <forgot-password-page></forgot-password-page>
                    </div>
                </div>
            </section>

            <section data-route="password-reset">
                <div class="row center-xs mobile-margin">
                    <div class="forgot-password-container">
                        <password-reset params="{{params}}"
                                        route-landing="{{route_landing}}"></password-reset>
                    </div>
                </div>
            </section>


            <!-- <section>
                <div class="row page-container">
                    <div class="col-xs-12">
                        <terms-page></terms-page>
                    </div>
                </div>
            </section> -->

            <section data-route="pricing">
                <div class="row page-container">
                    <div class="col-xs-12">
                        <pricing-page></pricing-page>
                    </div>
                </div>
            </section>


            <section data-route="about">
                <div class="row page-container">
                    <div class="col-xs-12">
                        <about-page></about-page>
                    </div>
                </div>
            </section>



        </iron-pages>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'landing-page',
                properties: {
                    route_landing: {
                        observer: "_routeChanged",
                        notify:true
                    }
                },

                ready: function () {

                    window.addEventListener('resize', function () {
                        this._centerLoginPage();
                    }.bind(this));

                    this.addEventListener('DOMContentLoaded', function () {
                        var landing = document.querySelector('#landing');

                        var buttonContainer = document.querySelector('.index-buttons-container');
                        var buttonContainerHeight = window.innerHeight / 2 - 81;
                        buttonContainer.style.marginTop = buttonContainerHeight + 'px';
                    }.bind(this))
                },

                _routeChanged: function(){

                    switch(this.route_landing){
                        case 'login':
                            this._centerLoginPage();
                            break;
                        case 'about':
                        case 'terms':
                            //Terms
                            //About
                            this.$.backFabContainer.style.display = 'flex';
                            break;

                        default:
                            this.$.backFabContainer.style.display = 'none';
                    }
                },

                _centerLoginPage: function () {

                    var marginTop = (app.getHeight() - this.$.loginContainer.offsetHeight) / 2;

                    // min margin is 45 px
                    if(marginTop < 45) marginTop = 45;
                    this.$.loginContainer.style.marginTop = marginTop + 'px';
                }

            });
        })();
    </script>
</dom-module>
