<link rel="import" href="../../../styles/landing-styles.html">
<dom-module id="signup-welcome">
    <template>
        <style is="custom-styles" include="landing-styles">
            :host {
                display: block;
            }

            .top-text-container {
                margin-bottom: 40px;
            }
            .top-text{
                @apply(--big-text);
            }

            .middle-text-continer{
                margin-bottom: 60px;
            }
            .middle-text{
                @apply(--big-text);
                color: var(--accent-color);
            }
            .botom-text{
                @apply(--big-text);
            }
            .secondary-text-container{
                text-align: center;
                margin-bottom: 60px;
            }
            .kulective-logo{
                height: 70px;
            }

            .mian-container{
                margin-top: 40px
            }

        </style>

        <div class="mian-container">


            <div class="row">
                <div class="col-xs-12 nav-buttons-container">

                    <img class="kulective-logo" src="../../../images/kulectiv%20small.png">

                </div>

            </div>


            <div class="row center-xs">

                <div class="col-xs-12 top-text-container">
                    <span class="top-text ">Awesome. You’re part of the<br/> Kulectiv community!</span>
                </div>

            </div>

            <div class="row center-xs">

                <div class="col-xs-12 middle-text-continer">
                    <span class="middle-text ">Your access link will be sent<br/> in a few weeks.</span>
                </div>

            </div>

            <div class="row center-xs">
                <div class="col-xs-12 secondary-text-container">
                    <span class="botom-text ">In the meantime, we’ll be <br/> sending you updates on our <br/> progress.</span>
                </div>
            </div>

        </div>

    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'signup-welcome',

                properties: {

                }
            });
        })();
    </script>
</dom-module>
