<dom-module id="dashboard-tip">
    <template>

        <style include="shared-styles">

            :host{
                margin-right: 10px;
            }
            .card{
                @apply(--small-text);
                margin-top: 20px;
                margin-left: 10px;
                padding-left: 20px;
                padding-right: 20px;
                width: calc(100% - 35px);
            }

            .title{
                @apply(--medium-text);
                color: var(--accent-color);
                margin: 20px;
                margin-bottom: 10px;
                margin-top: 40px;
            }

            .content{
                @apply(--small-text);
                color: var(--text-color);

                margin: 20px ;
                margin-top: 0;
                margin-bottom: 40px;
            }


        </style>
        <paper-card class="card"  elevation="0" align="center">
            <div class="title" align="center">
                TIP OF DAY
            </div>
            <div class="content" align="left">
                Write as many bits as you can. Start by going to the discussion board
            </div>

            <div class="title" align="center">
                UPDATES
            </div>
            <div class="content" align="left">
                New resources added Improved Navigation in discussion
            </div>
        </paper-card>
    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'dashboard-tip',
                properties: {
                    route:{
                        type: String,
                        observer: '_observerRoute'
                    },
                    selected:{
                        type: String,
                        observer: '_observerSelected'
                    }
                },
                _observerRoute: function(){
                    if(this.route==='dashboard'){
                        setTimeout(function(){
                            this._infoCallback();
                        }.bind(this),5000);
                    }
                },
                _observerSelected: function(){
                    if(this.selected === 'community'){
                        this.ranking = 0
                        this.rankingTotal = 0;
                        this.discussions = 0;
                        this.engaged = 0;
                        this.following = 0;
                        this.followers = 0;
                        this.marketplace = 0;

                        this.ranking = 1624;
                        this.rankingTotal = 19218;
                        this.discussions = 2124;
                        this.engaged = 1924;
                        this.following = 3472;
                        this.followers = 2553;
                        this.marketplace = 1322;
                    }
                },
                _infoCallback: function(){
//                    this.ranking = 63;
//                    this.rankingTotal = 19318;
//                    this.discussions = 5124;
//                    this.engaged = 4924;
//                    this.following = 3472;
//                    this.followers = 2553;
//                    this.marketplace = 1322;
                },
            });
        })();

    </script>
</dom-module>
