<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<dom-module id="journalism-organization">
    <template>
        <style include="shared-styles">

            .table-header {
                padding-left: 24px;
                @apply(--big-text);
            }
            iron-icon {
                --iron-icon-width: 16px;
                margin-left: -4px;
            }
            .table-heade-country {
                color: var(--accent-color);
            }
            .combo-countries {
                display: inline-block;
            }
            .detail-dialog > * {
                margin-top: 0;
            }
            .detail-dialog {
                background-color: var(--item-background-color);
                padding: 24px;
            }
            .item-list {
                --vaadin-grid-row-height: 75px;
                --vaadin-grid-header-row-height: 1px;
                --primary-color: var(--accent-color);
                --vaadin-grid-row-cell: {
                    font-weight: 300 !important;
                };
            }
            .item-list /deep/ ::-webkit-scrollbar {
                width: 4px !important;
                height: 4px !important;
            }
            .item-list /deep/ ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 3px;
            }
            .item-list /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--accent-color);
            }
            .detail-title {
                @apply(--medium-text);
                color: var(--accent-color);
            }
            .detail-info {
                @apply(--small-text);
            }
            .jo-detail-description {
            }
            .close-button-top {
                right: -17px;
                top: -15px;
                color: var(--disabled-text-color);
            }
            .icon-close-container {
                text-align: right;
            }
            .header-dialog {
                height: 25px;
            }
            .table-title {
                float: left;
                padding-top: 32px;
                margin-right: 14px;
                color: #7d7d7d;
            }
            .tabs-container {
                position: fixed;
                z-index: 11;
                top: 76px;
                margin-left: 0px;
                background-color: #FFFFFF;
            }
            .list-container {
                margin-top: 40px;
            }
            paper-dialog-scrollable {
                --paper-dialog-scrollable: {
                    max-height: 200px;
                }
            }
            .help-action{
                color: var(--accent-color);
            }
            .help-action:hover{
                cursor: pointer;
            }

            @media (max-width: 48em) {
                .close-button-top {
                    right: 0;
                }
                .item-list {
                    --vaadin-grid-row-cell: {
                        padding-left: 16px;
                    };
                }
                .detail-dialog {
                    margin-left: 0;
                    margin-right: 0;
                }
                .table-title {
                    float: none;
                    /*padding-left: 8px*/
                }
                .table-header {
                    padding-left: 8px;
                }
                .list-container {
                    margin-top: 100px;
                }
            }

            @media (min-width: 47em) {
                .detail-dialog {
                    min-width: 1394px;
                }
            }
        </style>

        <paper-fab icon="in-icon-set:add"
                   hidden$="{{!isUserAdmin}}"
                   class="floating-fab"
                   elevation="3"
                   on-tap="_onTapNew"></paper-fab>



        <div id="headerListContainer" class="row start-xs tabs-container">
            <div class="col-xs-12 col-md-6 table-header">
                <div class="table-title">Journalism organizations from</div>
                <div>
                    <in-combo-box id="countries"   style="margin-top:-6px;"
                                  class="combo-countries"
                                  placeholder="Country"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{countryList}}"></in-combo-box>
                </div>
            </div>

            <div class="col-xs-12 col-md-5 table-header">
                <div class="table-title">located in</div>
                <div>
                    <in-combo-box id="countriesLocation"   style="margin-top:-6px;"
                                  class="combo-countries"
                                  allow-custom-value="true"
                                  placeholder="Country"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{countryList}}"></in-combo-box>
                </div>
            </div>

        </div>


<!--
<div class="row">
    <div class="col-xs-12">
        <iron-list items="{{items}}" id="gridList">
            <template>
                <div class="row">
                    <div class="col-xs-4">
                        {{item.name}}
                    </div>
                    <div class="col-xs-2">
                        {{item.country_short}}
                    </div>
                    <div class="col-xs-2">
                        {{item.country_short_location}}
                    </div>

                </div>
            </template>
        </iron-list>
    </div>
</div> -->
        <div class="row list-container">
            <div class="col-xs-12 col-md-11">
                <vaadin-grid id="gridList" items="{{items}}" class="item-list">
                    <table>
                        <colgroup>
                            <col name="name">
                            <!-- <col name="country_short"> -->
                            <col name="email">
                            <col name="country_short_location">
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="6"
                                style="box-sizing:content-box;">
                            </th>
                        </tr>
                        </thead>

                    </table>
                </vaadin-grid>
            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="emptyBox" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <br/>
                <img class="empty-state-image" src="/images/emptystates/empty_journalism_organizations.jpg">
                <br/>
                <span>Sorry {{journalistName}}, no j-orgs here. Change</span>
                <br/>
                <span>the location to find another</span>
                <br/>
                <span>organization.</span>

                <!--<br/>-->
                <!--<br/>-->

                <!--<span>Or maybe you know about an</span>-->
                <!--<br/>-->
                <!--<span>organization that we can’t find. How</span>-->
                <!--<br/>-->
                <!--<span>about you make Bob, our pug happy by </span>-->
                <!--<br/>-->
                <!--<span>adding some organizations?</span>-->


                <!--<br>-->
                <!--<br>-->

                <!--<span on-tap="_onTapNew" class="help-action">Yes, I love helping out!</span>-->
                <!--<br/>-->
                <!--<span>Bonus: you’ll earn points ;)</span>-->

            </div>
        </div>

        <in-mobile-message id="detailJoDialog" style="min-width:80% !important"
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <div class="row start-xs header-dialog">
                <div class="col-xs-12 detail-title">
                    {{itemSelected.name}}
                </div>

            </div>

            <div class="row start-xs-6">
                <div class="col-xs-12 detail-info">
                    <!-- <iron-icon icon="in-icon-set:place"></iron-icon> -->
                    From: {{countryFrom}}
                </div>
            </div>

            <div class="row start-xs-6">
                <div class="col-xs-12 detail-info">
                    Located in: {{countryLocatedIn}}
                </div>
            </div>

            <div class="row start-xs">
                <div class="col-xs-12 detail-info">
                    Address: {{itemSelected.location}}
                </div>
            </div>

            <div class="row start-xs">
                <div class="col-xs-12 detail-info">
                    <span>Phone: {{itemSelected.phone}}</span>
                </div>
            </div>

            <div class="row start-xs">
                <div class="col-xs-12 detail-info">
                    <span>Email: {{itemSelected.email}}</span>
                </div>
            </div>

            <div class="row start-xs">
                <div class="col-xs-12 detail-info">
                    <span>Site: {{itemSelected.url}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 jo-detail-description">
                    <p>Description:</p>
                    {{itemSelected.description}}
                </div>
            </div>

        </in-mobile-message>

        <in-mobile-message id="newOrganizationDialog"
                           ok-label="Save"
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <in-combo-box id="countryNew"
                                  placeholder="Country"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{countryList}}"></in-combo-box>
                </div>
                <div class="col-xs-12 col-md-6">
                    <in-combo-box id="countryLocation"
                                  placeholder="Location"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{countryList}}"></in-combo-box>
                </div>
            </div>

            <paper-input id="name" label="Name"></paper-input>
            <paper-input id="location" label="Address"></paper-input>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <paper-input id="email" label="Email"></paper-input>
                </div>
                <div class="col-xs-12 col-md-6">
                    <paper-input id="phone" label="Phone Number"></paper-input>
                </div>
            </div>

            <paper-textarea id="description"
                            label="Services Provided"
                            max-rows="4"></paper-textarea>
            <paper-input id="linkApply" label="Link"></paper-input>

        </in-mobile-message>

        <iron-ajax id="ajaxCheck" with-credentials
                   method="GET"
                   on-response="_ajaxCheckCallback">
        </iron-ajax>

        <iron-ajax id="ajaxSave" with-credentials
                   method="POST"
                   on-response="_ajaxSaveCallback">
        </iron-ajax>

        <iron-ajax id="ajaxList"
                   with-credentials
                   last-response="{{ajaxListResponse}}"
                   method="GET"
                   on-response="_ajaxListCallback"></iron-ajax>

        <iron-media-query query="(max-width: 48em)" query-matches="{{xs}}"></iron-media-query>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'journalism-organization',
                behaviors: [ajaxBehavior],
                properties: {
                    xs: {
                        type: Boolean,
                        observer: '_changeResolution'
                    },
                    firstLoad: {
                        type: Boolean,
                        value: false,
                    },
                    items: {
                        type: Array,
                        value: []
                    },
                    isUserAdmin: {
                        type: Boolean,
                        value: false
                    },
                    itemSelected: {
                        type: Object,
                        observer: "_onDetailChanged"
                    }

                },

                observers: [
                    '_onItemsLengChange(ajaxListResponse.length)'
                ],

                ready: function () {

                    this.journalistName = app.session.getName();

                    window.addEventListener('resize', function (e) {
                        setTimeout(function () {
                            this._resizeTableheader();
                        }.bind(this), 1);
                        // app.updateMainscrollHeight();

                    }.bind(this));

                    this.$.gridList.addEventListener('selected-items-changed', function () {

                        var selected = this.$.gridList.selection.selected();
                        if (selected.length == 1) {
                            this._showDialog(selected[0]);
                        }
                    }.bind(this));

                    app.addEventListener('route-resource-changed', function (e) {

                        if (e.detail !== 'ngo') return;
                        this._loadJo();

                        setTimeout(function () {
                            this._resizeTableheader();
                        }.bind(this), 1);

                    }.bind(this));

                    this.$.countries.addEventListener('selected-item-changed', function (e) {

                        // Si no hay país seleccionado, mostrar lista completa
                        if (!e.detail.value && !this.filterLocation) {

                            this._loadJo();

                            setTimeout(function () {
                                this._resizeTableheader();
                            }.bind(this), 1);

                            return;
                        }

                        this.countryEmptyState = e.detail.value ? e.detail.value.label : '';
                        this.filterCountry = e.detail.value ? e.detail.value.value : 'all';
                        this.filterLocation = this.filterLocation || 'all';
                        this._changeCountryFilter();

                    }.bind(this));

                    this.$.countriesLocation.addEventListener('selected-item-changed', function (e) {

                        // Si no hay país seleccionado, mostrar lista completa
                        if (!e.detail.value && !this.filterCountry) {

                            this._loadJo();

                            setTimeout(function () {
                                this._resizeTableheader();
                            }.bind(this), 1);

                            return;
                        }

                        this.countryEmptyState = e.detail.value ? e.detail.value.label : '';
                        this.filterLocation = e.detail.value ? e.detail.value.value : 'all';
                        this.filterCountry = this.filterCountry || 'all';
                        this._changeCountryFilter();

                    }.bind(this));

                    // this.$.countriesLocation.addEventListener('custom-value-set', function (e) {
                    //     console.log(e.detail);
                    // }.bind(this));
                },

                attached: function () {

                    window.addEventListener("load", function () {
                        this._resizeTableheader();
                    }.bind(this))
                },

                _onDetailChanged: function(){
                    if (!this.itemSelected) {
                        return;
                    }
                    var countryName = '';
                    if (this.itemSelected.country_short) {
                        countryName = app.getCountryByShortname(this.itemSelected.country_short);
                        this.set('countryFrom', countryName);
                    }
                    if (this.itemSelected.country_short_location) {
                        countryName = app.getCountryByShortname(this.itemSelected.country_short_location);
                        this.set('countryLocatedIn', countryName);
                    }
                },

                _onTapNew: function () {
                    this.$.newOrganizationDialog.context = this;
                    this.$.newOrganizationDialog.sendButtonAction = this._saveOrganization;
                    this.$.newOrganizationDialog.closeButtonAction = this._onCloseSaveDialog;
                    this.$.newOrganizationDialog.open();
                    this.$.newOrganizationDialog.notifyResize();
                },

                _saveOrganization: function (context) {

                    context = context || this;

                    var params = {
                        'countryShort': context.$.countryNew.value,
                        'countryShortLocation': context.$.countryLocation.value,
                        'name': context.$.name.value,
                        'email': context.$.email.value,
                        'location': context.$.location.value,
                        'phone': context.$.phone.value,
                        'description': context.$.description.value,
                        'linkApply': context.$.linkApply.value,
                    };

                    context.$.ajaxSave.url = app.apinode + '/organizations/save';
                    context.$.ajaxSave.body = JSON.stringify(params);
                    context.$.ajaxSave.generateRequest();

                    context.$.newOrganizationDialog.close();
                    context._clearForm();
                },

                _onCloseSaveDialog: function (context) {
                    context = context || this;
                    context._clearForm();

                },

                _ajaxCheckCallback: function(){
                    this.set('isUserAdmin', true);
                },

                _ajaxSaveCallback: function (e) {
                    this._loadJo();
                },

                _onDeleteOrganizationTap: function () {
                    this._deleteOrganization();
                },

                _deleteOrganization: function (context) {
                    context = context || this;
                    context.$.detailJoDialog.close();
                    dialogSpinner.open();

                    // del resultado de items, esta es la forma de armar los parametros.

                    var params = {
                        'community_id': context.itemSelected.id.community_id,
                        'member_id': context.itemSelected.id.member_id
                    };

                    context.$.ajaxSave.url = app.apinode + '/organizations/delete';
                    context.$.ajaxSave.body = JSON.stringify(params);
                    context.$.ajaxSave.generateRequest();
                },

                _clearForm: function () {
                    this.$.countryNew.value = null;
                    this.$.name.value = '';
                    this.$.email.value = '';
                    this.$.location.value = '';
                    this.$.phone.value = '';
                    this.$.description.value = '';
                    this.$.linkApply.value = '';
                },

                _changeResolution: function () {

                    if (!this.firstLoad) return;

                    if (this.xs) {
                        this._hideColums();
                        return;
                    }
                    this._showColumns()
                },

                _hideColums: function () {

                    for (var i in this.$.gridList.columns) {
                        if (i == 0) {
                            continue;
                        }
                        this.$.gridList.columns[i].hidden = true;
                    }
                },

                _showColumns: function () {

                    for (var i in this.$.gridList.columns) {
                        this.$.gridList.columns[i].hidden = false;
                    }
                },

                _showDialog: function (row_index) {

                    this._getItemSelected(row_index);
                    this.$.detailJoDialog.context = this;
                    this.$.detailJoDialog.closeButtonAction = this._tapCloseIcon;
                    this.$.detailJoDialog.hideOkButton = true;

                    if (this.isUserAdmin) {
                        this.$.detailJoDialog.hideOkButton = false;
                        this.$.detailJoDialog.sendButtonAction = this._deleteOrganization;
                        this.$.detailJoDialog.okLabel = 'Delete';
                    }
                    this.$.detailJoDialog.open();
                },


                _getItemSelected: function (row_index) {
                    this.$.gridList.getItem(row_index, function (error, item) {
                        if (!error) {
                            this.itemSelected = item;
                        }
                    }.bind(this));
                },

                _changeCountryFilter: function () {

                    dialogSpinner.open();
                    this.$.ajaxList.url = app.apinode + '/organizations/get.by.country/' + this.filterCountry + '/' + this.filterLocation;
                    this.$.ajaxList.generateRequest();
                },

                _onItemsLengChange: function () {
                    this._emptyState();
                },

                _emptyState: function () {

                    if (this.ajaxListResponse.length === 0) {
                        this.$.emptyBox.style.display = 'block';
                        this.$.emptyBox.style.opacity = 1;
                        this.$.gridList.style.display = 'none';
                        return;
                    }

                    this.$.gridList.style.display = 'flex';
                    this.$.emptyBox.style.display = 'none';
                    this.$.emptyBox.style.opacity = 0;
                },

                _loadJo: function () {

                    dialogSpinner.open();
                    this.$.ajaxList.url = app.apinode + '/organizations/get.list';
                    this.$.ajaxList.generateRequest();

                    this.$.ajaxCheck.url = app.apinode + '/journalists/is.admin';
                    this.$.ajaxCheck.generateRequest();
                },

                _ajaxListCallback: function (response) {

                    dialogSpinner.close();
                    this.set('items', this.ajaxListResponse);

                    if (!this.firstLoad) {
                        this.firstLoad = true;
                        this._changeResolution();
                    }

                    // app.updateMainscrollHeight();
                    this._resizeTableheader();
                },

                _resizeTableheader: function () {

                    if (this.$.gridList.offsetWidth) {
                        this.$.headerListContainer.style.width = this.$.gridList.offsetWidth + 'px';
                    }

                    this.$.gridList.style.height = app.getMainContainerHeight()-80 + 'px';
                },

                _tapCloseIcon: function (context) {
                    context = context || this;
                    context.$.gridList.selection.clear()
                }
            });
        })();
    </script>
</dom-module>
