<link rel="import" href="../grant-list/grant-list.html">
<link rel="import" href="../visa-list/visa-list.html">
<link rel="import" href="../embassy-list/embassy-list.html">
<link rel="import" href="../ngo-list/ngo-list.html">
<link rel="import" href="../journalism-organization/journalism-organization.html?v1.06">
<link rel="import" href="../press-requirement/press-requirement.html">

<link rel="import" type="text/css" href="../../../bower_components/animation-tag/animate.css">



<dom-module id="resource-main">

    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: block;
                padding-top: 30px;
            }
            .img-style {
                position: relative;
                width: 38%;
                margin: 18% 31% 0 31%;
                height: auto;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }

            paper-material {
                width: 100%;
                overflow: hidden;
                padding: 0;
                margin: 8px 0 9px 0;
            }
            .resource-section {
                width: auto;
            }

            .resource-section-bg {
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                vertical-align: top;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;

            }

            .resource-section-hover {
                width: 100%;
                height: 100vh;
                position: absolute;
                background: rgba(0,0,0,0.4);
                z-index: 900;
                opacity: 1;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }

            .resource-section-hover img.img-style,
            .resource-section-hover h2.page-title-hover {
                position: absolute;
                opacity: 0;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }

            .front:hover ~ .resource-section-hover img.img-style,
            .front:hover ~ .resource-section-hover h2.page-title-hover {
                opacity: 1;
            }

            .front {
                position: absolute;
                width: 100%;
                height: 100vh;
                z-index: 1000;
            }

            .front:hover ~ .resource-section-bg {
                -webkit-filter: blur(3px);
            }

            .front:hover ~ .resource-section-hover {
                opacity: 1;
                background: rgba(0,0,0,0.5);
            }

            .front:hover ~ .resource-section-hover > .text-container-hide {
                opacity: 0;
            }

            .text-container {
                display: flex;
                height: 50px;
                margin-top: 40%;
            }

            .page-title {
                color: #fff;
                z-index: 800;
                text-align: center;
                width: 80%;
                margin: auto;
                font-size: 24px !important;
                line-height: 24px !important;
                text-transform: uppercase;
                letter-spacing: 0.6pt !important;
                vertical-align: center;
            }

            .page-title-hover {
                margin: 60% 10% 0 10% !important;
                font-size: 18px !important;
                line-height: 19px !important;
            }

            .page-title-hover >p{
                @apply(--small-text);
                margin-top: 0px;
                text-transform: none;
            }

            .main-row {
                margin-right: 0;
                margin-left: 0;
            }


        </style>

        <iron-pages attr-for-selected="page-name" selected="{{route_resource}}">

            <section page-name="menu">

                <div class="row main-row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <paper-material elevation="2">
                                    <a class="resource-section" href="/resource/embassy">
                                        <div class="front"></div>
                                        <div class="resource-section-hover">
                                            <img id="imagen1" class="img-style" src="../../../images/resource-index/embassy.png" alt="Grant"/>
                                            <h2 class="page-title page-title-hover">
                                                Embassies:
                                                <p>Look up your embassy in any country.</p>
                                            </h2>

                                            <div class="row middle-xs text-container-hide">
                                                <div class="col-xs-12 text-container">
                                                    <h2 class="page-title">Embassies</h2>
                                                </div>
                                            </div>
                                        </div>

                                        <img id="imagen1" class="resource-section-bg" src="../../../images/resource-index/embassy.jpg" alt="Grant"/>
                                    </a>
                                </paper-material>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <paper-material elevation="2">
                                    <a class="resource-section" href="/resource/grant">
                                        <div class="front"></div>
                                        <div class="resource-section-hover">
                                            <img id="imagen1" class="img-style" src="../../../images/resource-index/grant.png" alt="Grant"/>
                                            <h2 class="page-title page-title-hover">
                                                Grants:
                                                <p>Browse and apply for grants.</p>
                                            </h2>

                                            <div class="row middle-xs text-container-hide">
                                                <div class="col-xs-12 text-container">
                                                    <h2 class="page-title">Grants</h2>
                                                </div>
                                            </div>
                                        </div>

                                        <img id="imagen1" class="resource-section-bg" src="../../../images/resource-index/grants.jpg" alt="Grant"/>
                                    </a>
                                </paper-material>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <paper-material elevation="2">
                                    <a class="resource-section" href="/resource/ngo">
                                        <div class="front"></div>
                                        <div class="resource-section-hover">
                                            <img id="imagen1" class="img-style" src="../../../images/resource-index/ngo.png" alt="Grant"/>
                                            <h2 class="page-title page-title-hover">
                                                Journalism organizations:
                                                <p>Read up on the services and products provided by various institutions.</p>
                                            </h2>

                                            <div class="row middle-xs text-container-hide">
                                                <div class="col-xs-12 text-container">
                                                    <h2 class="page-title">Journalism organizations</h2>
                                                </div>
                                            </div>
                                        </div>

                                        <img id="imagen1" class="resource-section-bg" src="../../../images/resource-index/ngo.jpg" alt="Grant"/>
                                    </a>
                                </paper-material>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <paper-material elevation="2">
                                    <a class="resource-section" href="/resource/visa">
                                        <div class="front"></div>
                                        <div class="resource-section-hover">
                                            <img id="imagen1" class="img-style" src="../../../images/resource-index/visa.png" alt="Grant"/>
                                            <h2 class="page-title page-title-hover">
                                                Passport Ranking:
                                                <p>Discover the individual ranking of passports.</p>
                                            </h2>

                                            <div class="row middle-xs text-container-hide">
                                                <div class="col-xs-12 text-container">
                                                    <h2 class="page-title">Passport Ranking</h2>
                                                </div>
                                            </div>
                                        </div>

                                        <img id="imagen1" class="resource-section-bg" src="../../../images/resource-index/visa.jpg" alt="Grant"/>
                                    </a>
                                </paper-material>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <paper-material elevation="2">
                                    <a class="resource-section" href="/resource/press">
                                        <div class="front"></div>
                                        <div class="resource-section-hover">
                                            <img id="imagen1" class="img-style" src="../../../images/resource-index/press-card.png" alt="Grant"/>
                                            <h2 class="page-title page-title-hover">
                                                Press Card:
                                                <p>Find information on how to obtain press credentials.</p>
                                            </h2>

                                            <div class="row middle-xs text-container-hide">
                                                <div class="col-xs-12 text-container">
                                                    <h2 class="page-title">Press Card</h2>
                                                </div>
                                            </div>
                                        </div>

                                        <img id="imagen1" class="resource-section-bg" src="../../../images/resource-index/press-card.jpg" alt="Grant"/>
                                    </a>
                                </paper-material>
                            </div>

                        </div>
                    </div>
                </div>


            </section>


            <section page-name="embassy">
                <embassy-list route="{{route}}" route_resource="{{route_resource}}"></embassy-list>
            </section>

            <section page-name="visa">
                <visa-list route="{{route}}" route_resource="{{route_resource}}" country-list="{{getCountriesResponse}}"></visa-list>
            </section>

            <section page-name="grant">
                <grant-list route="{{route}}" route_resource="{{route_resource}}" country-list="{{getCountriesResponse}}"></grant-list>
            </section>
            <section page-name="ngo">
                <journalism-organization route="{{route}}" route_resource="{{route_resource}}" country-list="{{getCountriesResponse}}"></journalism-organization>
            </section>

            <section page-name="press">
                <press-requirement country-list="{{getCountriesResponse}}"></press-requirement>
            </section>

        </iron-pages>


    </template>

    <script>

        (function () {
            'use strict';

            Polymer({
                is: 'resource-main',
                properties: {
                    route_resource: {
                        type: String,
                        notify: true,
                        value: 'menu'
                    }
                },

                attached: function(){

                    app.addEventListener('route-resource-changed', function(e){
                        this.set('route_resource', e.detail);
                    }.bind(this));

                    this._getCountries();
                },

                _getCountries: function () {

                    var list = app.getCountriesComboList();
                    this.set('getCountriesResponse', list);
                },

                efectController: function (e) {
                    if (_hasClass(e.target, 'element-animated')) {

                        var image = this.$.imagen1;
                        image.className = "img-style animated pulse infinite";

                        //var tag = e.target.querySelector('animation-tag');
                        //tag.animation = 'pulse';
                    }
                    e.stopPropagation();
                },
                restore: function (e) {
//                    console.log(e.target);
                    return true;
                    if (_hasClass(e.target, 'element-animated')) {
                        var tag = e.target.querySelector('animation-tag');
                        tag.animation = '';
                    }
                    e.stopPropagation();
                }

            });
        })();

        function _hasClass(element, cls) {
            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
        }




    </script>

</dom-module>
