<link rel="import" href="/bower_components/d3-progress-meter/d3-progress-meter.html">
<dom-module id="dashboard-timer">
    <template>

        <style include="shared-styles">

            :host{
                margin-right: 10px;
            }

            d3-progress-meter /deep/ #current {
                font-size: 25px !important;
            }
            d3-progress-meter {
                margin-top: 15px;
                opacity: 0.8;
                --progress-medium: var(--paper-yellow-500);
                --progress-low: var(--paper-green-500);
                --progress-high: var(--paper-red-500);
                --progress-font-family : Roboto,'Noto','Helvetica Neue',Helvetica,Arial,sans-serif;
                /*--current-font-size : 25px !important;*/
            }

            .timer-message-orange{
                margin-top: 20px;
                color: var(--accent-color);
            }
            .timer-message-black{
                margin-top: 20px;
                color: #222;
                margin-bottom: 20px;
            }
            .card {
                @apply(--small-text);
                margin-left: 10px;
                padding-left: 20px;
                padding-right: 20px;
                width: calc(100% - 35px);
            }


            @media only screen and (max-width: 48em) {
                .card{
                    margin-right: 6px;
                    margin-left: 0px;
                    width: auto;
                    padding-left: 0px;
                    padding-right: 0px;
                }
                d3-progress-meter /deep/ #current {
                    font-size: 20px !important;
                }
                .timer-message-orange{
                    font-size: 13px !important;
                }
                .timer-message-black{
                    font-size: 13px !important;
                }
            }

        </style>
                <paper-card class="card"  elevation="[[elevation]]">
                    <div class="card-content row around-xs">
                        <div class="row">

                            <div class="col-xs-5 col-md-12">
                                <d3-progress-meter radius="75" id="meter"
                                               percentage="{{timer}}"
                                               current-text="{{hours}}"
                                               goal-text="Hours Left"
                                               type-text=""></d3-progress-meter>
                            </div>

                            <div class="col-xs-6 col-md-12">
                                <div align="center" class="timer-message-orange">
                                    <!-- Before your account gets -->
                                    Before your limited spot for your lifetime access expires.
                                    <!-- <br/> -->
                                    <!-- deactivated -->
                                </div>
                                <div align="center" class="timer-message-black">

                                    By completing the tasks, your account remains active and accessible within the community.

                                    <!-- Why? You’ve received a limited spot for our lifetime access to the platform.
                                    <br/>
                                    By completing the tasks, your account will remain active and receive the best of recommendations. -->

                                    <!-- Complete your profile before
                                    <br/>
                                    you run out of time -->
                                </div>
                            </div>


                        </div>
                    </div>
                </paper-card>
    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'dashboard-timer',
                properties: {
                    route:{
                        type: String,
                        observer: '_observerRoute'
                    },
                    timerInitializaded:{
                        type: Boolean,
                        value:false
                    },
                    elevation:{
                        type: Number,
                        value:0
                    }
                },

                attached: function(){
                    if (app.mobile) {
                        this.$.meter.radius = 60;
                    }
                },

                _observerRoute: function(){

                    if(this.route != 'dashboard' && this.route != 'feed'){
                        return;
                    }

                    if (this.timerInitializaded) {
                        return;
                    }
                    var creation = app.session.getDateSignup();
                    var deadline = new Date(creation).getTime()  + (24 * 60 * 60 * 1000);
                    this._initializeClock(deadline);
                },

                _getTimeRemaining: function (endtime) {

                    var t = endtime - new Date().getTime();
                    var seconds = Math.floor((t / 1000) % 60);
                    var minutes = Math.floor((t / 1000 / 60) % 60);
                    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
                    var days = Math.floor(t / (1000 * 60 * 60 * 24));

                    this.set('timer', t/ (24*60*60*1000));
                    return {
                        'total': t,
                        'days': days,
                        'hours': hours,
                        'minutes': minutes,
                        'seconds': seconds
                    };
                },
                _initializeClock: function (endtime) {

                    this.timerInitializaded = true;
                    var hours = 0;
                    var minutes = 0;
                    var seconds = 0;

                    var self = this;

                    function updateClock() {
                        var t = self._getTimeRemaining(endtime);

                        hours = ('0' + t.hours).slice(-2);
                        minutes = ('0' + t.minutes).slice(-2);
                        seconds = ('0' + t.seconds).slice(-2);

                        self.hours = hours + ':' + minutes + ':' + seconds;

                        if (t.total <= 0) {
                            clearInterval(timeinterval);
                            self.hours = "00:00:00";
                        }
                    }

                    updateClock();
                    var timeinterval = setInterval(updateClock, 1000);
                },
            });
        })();

    </script>
</dom-module>
