<link rel="import" href="/elements/profile/tab-community/offers-requests.html?v1.41">

<dom-module id="feed-locked">
    <template>
        <style include="shared-styles">
            .locked-text-container {
                padding-bottom: 20px;
                margin-top: 10px;
            }
            .locked-text {
                @apply(--medium-text)
            }
            .doneButton {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: var(--accent-color);
                top: 32px;
            }
            .save-button {
                @apply(--small-text);
                background-color: #FC7108;
                color: #FFF;
                /* border-radius: 8px; */
                text-transform: none;
                padding: 2px;
                width: 100%;
            }
            .kulective-logo {
                width: 60px;
                height: 60px;
                margin-left: 18px;
            }
            .kulective-logo-container{
                text-align: right;
            }
            .timer-container {
                padding-left: 25px;
                padding-right: 25px;
                margin-bottom: 20px;
            }
            .main-container {
                padding-top: 80px;
                margin-bottom: 200px;
            }

            @media only screen and (max-width: 48em) {
                .locked-text {
                    @apply(--small-text)
                }
                .locked-text-container {
                    margin-left: 16.667%;
                }
                .main-container {
                    padding-top: 20px;
                }
                .kulective-logo {
                    width: 50px;
                    height: 50px;
                    margin-top: 7px;
                }
            }

        </style>


        <div class="row main-container">

            <div id="logoContainer" class=" col-xs-1 col-md-2  kulective-logo-container">
                <img class="kulective-logo" src="../../../images/kulectiv%20small.png" alt="Kulectiv">
            </div>

            <div class="col-xs-11 col-md-5">

                <div class="row start-xs">
                    <div class="col-xs-10 col-md-11 locked-text-container">

                        <span class="locked-text">
                            Hey [[userName]], your feed is currently locked. <br><br>
                            Please complete the tasks below to activate your feed.
                        </span>
                    </div>
                </div>

                <template is="dom-if" if="{{!status.hasLocation}}">
                    <div class="row start-xs" location-page="location-no-exist">
                        <div class="col-xs-7 col-md-9">
                            <in-input-location id="locationLock"></in-input-location>
                        </div>
                        <div class="col-xs-3" style="margin-top: 38px;">
                            <paper-button on-tap="_onTapSaveLocation" class="save-button">Save</paper-button>
                        </div>
                    </div>
                </template>

                <div hidden$="{{status.hasPic}}" class="row start-xs">
                    <div class="col-xs-11 col-md-12 cta-button" on-tap="_editUserPic">
                        <span>Upload a profile picture.</span>
                    </div>
                </div>

                <div hidden$="{{status.hasOffersRequest}}" class="row start-xs">
                    <div class="col-xs-11 col-md-12">

                        <div class="row">
                            <div class="col-xs-12 cta-button" on-tap="_completeOffersRequest" id="buttonOfferRequests">
                                <span>Complete your offers & requests</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <offers-requests id="offerRequestSection"
                                    hidden
                                    session-profile="1"
                                    change-edit-icon="1"
                                    array-requests="{{journalist.requests}}"
                                    array-offers="{{journalist.offers}}">
                                </offers-requests>
                            </div>
                        </div>

                    </div>
                    <br><br><br>
                </div>

            </div>

            <div id="timerContainer" class=" first-xs last-md col-xs-12 col-md-4 timer-container">
                <dashboard-timer elevation="2" route="[[route]]"></dashboard-timer>
            </div>

        </div>

        <iron-ajax id="ajaxUserUpdate"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-response="_userUpdateCallback"></iron-ajax>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'feed-locked',

                properties: {
                    locationNoExist: {
                        type: Boolean,
                        value: true
                    },
                    route:{
                        observer: "_onRouteChange"
                    }
                },

                _onRouteChange: function () {
                    if (this.route != 'feed') {
                        return;
                    }

                    this._isLevelOne = app.currentLevelProfile == 1;
                    this._setTimerVisibility();
                },

                _setTimerVisibility: function () {
                    this.toggleClass('hide-element', !this._isLevelOne, this.$.timerContainer);
                    this.toggleClass('col-xs-offset-2', !this._isLevelOne, this.$.logoContainer);
                },

                _completeOffersRequest: function () {
                    this.$.offerRequestSection.sessionProfile = 1;
                    this.$.offerRequestSection.changeEditIcon = 1;
                    this.$.offerRequestSection.editionMode();
                    this.$.offerRequestSection.hidden = false;

                    this.$.buttonOfferRequests.style.backgroundColor = '#bfbdbc';

                    // page('/profile.community/0/edit');
                },

                _editUserPic: function () {
                    page('/profile.experience/0/edit_pic')
                },

                _onTapSaveLocation: function () {

                    var objLocation = this.querySelector('#locationLock').getObjLocation();
                    var address = this.querySelector('#locationLock').getAddress();

                    if (!objLocation || !objLocation.country_short || !address) {
                        return;
                    }

                    var params = {location: objLocation, address: address};
                    this.$.ajaxUserUpdate.url = app.apinode + '/journalists/save.location';
                    this.$.ajaxUserUpdate.body = JSON.stringify(params);
                    this.$.ajaxUserUpdate.generateRequest();
                    this.userPropertyUpdated = 'location';

                    app.session.setCountry(objLocation.country_short);
                },

                _userUpdateCallback: function (e) {

                    switch (this.userPropertyUpdated) {
                        case 'location':
                            app.logActivity(app.constants.PROFILE_COMPLETE_LOCATION);
                            this.set('status.hasLocation', true);
                            app.session.setLocation(this.querySelector('#locationLock').getAddress());
                            // app.showToast('Location saved');
                            this.fire('task-completed');
                            break;
                    }
                },


            });
        })();
    </script>
</dom-module>
