<link rel="import" href="../../../bower_components/app-datepicker/app-datepicker-dialog.html">
<dom-module id="grant-new">

    <template>
        <style include="shared-styles">

        </style>

        <div class="row">
            <div class="col-xs-12">
                <paper-input id="inputTitle" label="Title"></paper-input>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <paper-input id="inputAmount" label="Amunt"></paper-input>
            </div>

            <div class="col-xs-12 col-md-3">
                <paper-input on-tap="_onOpenPickerTap" id="inputDeadline" label="Deadline" value="[[deadline]]"></paper-input>
            </div>

            <div class="col-xs-12 col-md-6">
                <in-input-location id="grantInputLocation"></in-input-location>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <paper-textarea id="textAreaDescription"
                                label="Description"
                                max-rows="4"></paper-textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <paper-input id="inputUrl" label="Url"></paper-input>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <paper-input id="inputFocus" label="Focus"></paper-input>
            </div>
        </div>

        <iron-ajax id="ajaxSaveGrant"
                   with-credentials
                   method="POST"
                   on-response="_ajaxSaveGrantCallback"></iron-ajax>

        <app-datepicker-dialog id="static"
                               auto-update-date
                               view="vertical"
                               date="{{deadline}}"
                               show-long-date="[[showLongDate]]"
                               no-animation
                               disable-days="[]"
                               locale="en"></app-datepicker-dialog>
    </template>

    <script>
        Polymer({
            is: "grant-new",


            properties: {
                countryList:{
                    type: Array,
                    value:[]
                }
            },

            attached: function(){
                // Prevent the date picker to close the entire dialog
                this.$.static.addEventListener('iron-overlay-closed', function(e){
                    e.stopPropagation();
                });
            },
            _onOpenPickerTap: function () {
                this.$.static.open();
            },
            _getFormData: function () {

                var dataObject = {};
                var objLocation = this.$.grantInputLocation.getObjLocation();

                if(!objLocation || !objLocation.country_short){
                    return false;
                }

                dataObject.title = this.$.inputTitle.value;
                dataObject.description = this.$.textAreaDescription.value;
                dataObject.deadline = new Date(this.$.inputDeadline.value).getTime();
                dataObject.amount = this.$.inputAmount.value;
                dataObject.url = this.$.inputUrl.value;
                dataObject.location = this.$.grantInputLocation.getAddress();
                dataObject.focus = this.$.inputFocus.value;
                dataObject.country_short = objLocation.country_short;

                return dataObject;
            },

            saveGrant: function () {

                const body = this._getFormData();
                if (!body) {
                    return;
                }

                this.$.ajaxSaveGrant.url = app.apinode + '/resources/save.grant';

                this.$.ajaxSaveGrant.body = JSON.stringify(body);
                this.$.ajaxSaveGrant.generateRequest();

            },

            _ajaxSaveGrantCallback: function () {
                this.fire('grant-saved')
            },
            resetForm: function () {
                this.$.textAreaDescription.value = null;
                this.$.inputTitle.value = null;
                this.$.inputDeadline.value = null;
                this.$.inputAmount.value = null;
                this.$.inputUrl.value = null;
                this.$.grantInputLocation.clear();
                this.$.inputFocus.value = null;
            }


        });
    </script>

</dom-module>
