<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="grant-new.html">
<link rel="import" href="grant-detail.html">

<dom-module id="grant-list">
    <template>
        <style include="shared-styles">

            .table-header{
                padding-left: 32px;
                @apply(--medium-text);
            }
            .table-heade-country{
                color: var(--accent-color);
            }
            .combo-countries {
                display: inline-block;
            }
            .detail-dialog > *{
                margin-top: 0;
            }
            .detail-dialog {
                background-color: var(--item-background-color);
                padding: 24px;
            }
            .jo-list{
                --vaadin-grid-row-height : 75px;
                --primary-color: var(--accent-color);
                --vaadin-grid-row-cell:{
                    /*font-size:15px!important;*/
                    font-weight:300!important;
                    /*box-sizing:content-box;*/
                };
            }
            .jo-list th{
                @apply(--medium-text);
            }
            .jo-list /deep/ ::-webkit-scrollbar {
                width: 4px !important;
                height: 4px !important;
            }
            .jo-list /deep/ ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 3px;
            }
            .jo-list /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--accent-color);
            }
            .small-text {
                @apply(--very-small-text);
                text-align: left;
            }
            .grant-detail-title{
                @apply(--medium-text-highlighted);
            }
            .grant-detail-focus{
                @apply(--small-text);
                font-size: 14px !important;
                /*margin-top: 4px;*/
            }
            .dialog_apply{
                @apply(--small-text-highlighted);
            }
            .dialog_close{
                @apply(-small-text);
            }
            .jo-detail-title{
                @apply(--medium-text);
                color: var(--accent-color);
            }
            .jo-detail-info{
                @apply(--small-text);
            }
            .jo-detail-description{
            }
            .close-button-top{
                right: -17px;
                top: -15px;
                color: var(--disabled-text-color);
            }
            .icon-close-container{
                text-align: right;
            }
            .header-dialog{
                height: 25px;
            }
            .table-title{
                float: left;
                padding-top: 32px;
                margin-right: 14px;
                color: #7d7d7d;
            }
            .small-text {
                @apply(--very-small-text);
                text-align: left;
            }
            .grant-detail-title{
                @apply(--medium-text-highlighted);
            }
            #buttonNewGrant {
                position: fixed;
                bottom:20px;
                right: 20px;
            }
            .dialog_apply{
                @apply(--medium-text-highlighted);
            }
            .dialog_close{
                @apply(-small-text);
            }

            .grant-detail-description{
                padding: 0;
                margin-top: 10px;
            }
            .grant-detail-description /deep/ ::-webkit-scrollbar {
                width: 4px !important;
                height: 4px !important;
            }
            .grant-detail-description /deep/ ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 3px;
            }
            .grant-detail-description /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--accent-color);
            }
            .tabs-container{
                min-width: 445px;
                position: fixed;
                z-index: 11;
                top: 76px;
                margin-left: 0px;
                background-color: #FFFFFF;
            }
            .combo-container{
                float: left;
                padding-top: 3px;
            }
            .detail-dialog {
                margin: 0;
            }

            @media (max-width: 48em) {
                .close-button-top{
                    right: 0;
                }

                .jo-list {
                    --vaadin-grid-row-cell: {
                        padding-left: 16px;
                    };
                }
                .detail-dialog{
                    margin-left: 0;
                    margin-right: 0;
                }
                .table-title{
                    float: none;
                    /*padding-left: 8px;*/
                }
                .table-header{
                    padding-left: 8px;
                }
                .grant-list-container{
                    margin-top: 35px;
                }
            }

        </style>

        <paper-fab icon="in-icon-set:add"
                   hidden$="{{!isUserAdmin}}"
                   class="floating-fab"
                   elevation="3"
                   on-tap="_onTapNew"></paper-fab>


        <div id="headerListContainer" class="row start-xs tabs-container">
            <div class="col-xs table-header">
                <div class="table-title">Grants and scholarships in</div>
                <div>
                    <in-combo-box id="countries" style="margin-top:-6px;"
                                  class="combo-countries"
                                  placeholder="Country"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{countryList}}"></in-combo-box>
                </div>

            </div>
        </div>

        <div class="row grant-list-container">
            <div class="col-xs-12 col-md-11">
                <vaadin-grid id="gridList" items="{{items}}" class="jo-list">
                    <table>
                        <colgroup>
                            <col name="title">
                            <col name="location">
                            <col name="deadline">
                            <col name="amount">
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Deadline</th>
                            <th>Amount</th>
                        </tr>
                        </thead>

                    </table>
                </vaadin-grid>
            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="emptyBox" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <br/>
                <img class="empty-state-image" src="/images/emptystates/empty_grant.jpg">
                <br/>
                <span>Sorry {{journalistName}}, no grants here.</span>
                <br/>
                <span>Change the location to find another</span>
                <br/>
                <span>grant.</span>

<!--                <br/>
                <br/>

                <span>Or maybe you know about a grant we</span>
                <br/>
                <span>don’t. Adding grants make our cat</span>
                <br/>
                <span>happy.</span>

                <br>
                <br>

                <span on-tap="_onTapNew" class="help-action">Yes, I love helping out!</span>
                <br/>
                <span>Bonus: you’ll earn points ;)</span>-->
            </div>
        </div>


        <in-mobile-message id="grantDetailDialog" style="min-width:80% !important"
                           hide-ok-button
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

           <grant-detail grant="[[grantDetail]]"></grant-detail>

        </in-mobile-message>


        <iron-ajax id="ajaxDelete" with-credentials
                   method="POST" on-response="_ajaxDeleteCallback">
        </iron-ajax>

        <iron-ajax id="ajaxCheck" with-credentials
                   method="GET"
                   on-response="_ajaxCheckCallback">
        </iron-ajax>

        <iron-ajax id="ajaxCall"
                   with-credentials
                   last-response="{{ajaxGrantsResponse}}"
                   method="GET"
                   on-response="_ajaxGrantsResponse">
        </iron-ajax>

        <in-mobile-message id="newGrantlDialog"
                           ok-label="Save"
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <grant-new id="newGrantForm" country-list="{{countryList}}"></grant-new>

        </in-mobile-message>

        <iron-media-query query="(max-width: 48em)" query-matches="{{xs}}"></iron-media-query>


    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'grant-list',
                behaviors: [ajaxBehavior],
                properties: {
                    xs:{
                        type: Boolean,
                        observer:'_changeResolution'
                    },
                    firstLoad:{
                        type: Boolean,
                        value: false,
                    },
                    isUserAdmin: {
                        type: Boolean,
                        value: false
                    }


                },

                listeners:{
                    'grant-saved': '_onGrantSaved'
                },

                ready: function(){

                    this.journalistName = app.session.getName();

                    window.addEventListener('resize', function (e) {
                        this._resizeTableheader();
                        // app.updateMainscrollHeight();
                    }.bind(this));

                    this.$.gridList.addEventListener('selected-items-changed', function () {

                        var selected = this.$.gridList.selection.selected();
                        if (selected.length == 1) {
                            this._showDialog(selected[0]);
                        }
                    }.bind(this));

                    app.addEventListener('route-resource-changed', function(e){

                        if(e.detail !== 'grant') return;

                        var countryShortName = app.session.getCountry();
                        this._loadGrants(countryShortName);
                        this.$.countries.value = countryShortName;

                        setTimeout(function () {
                            this._resizeTableheader();
                        }.bind(this), 100)
                    }.bind(this));



                    this.$.countries.addEventListener('selected-item-changed', function (e) {

                        if(!e.detail.value){
                            return;
                        }
                        this.countryEmptyState = e.detail.value.label;
                        this._changeCountryFilter(e.detail.value.value);

                    }.bind(this));
                },

                attached: function () {
                    // app.updateMainscrollHeight();
                    this._resizeTableheader();
                },

                _changeResolution: function () {

                    if(!this.firstLoad) return;

                    if(this.xs) {
                        this._hideColums();
                        return;
                    }
                    this._showColumns()
                },

                _hideColums: function () {

                    for( var i in this.$.gridList.columns){
                        if(i == 0 ){
                            continue;
                        }
                        this.$.gridList.columns[i].hidden = true;
                    }
                },

                _showColumns: function () {

                    for( var i in this.$.gridList.columns){
                        this.$.gridList.columns[i].hidden = false;
                    }
                },

                _showDialog: function (row_index) {

                    this.grantDetail = this._getItemSelected(row_index);

                    this.$.grantDetailDialog.context = this;
                    this.$.grantDetailDialog.closeButtonAction = this._tapCloseIcon;
                    this.$.grantDetailDialog.hideOkButton = true;

                    if (this.isUserAdmin) {
                        this.$.grantDetailDialog.hideOkButton = false;
                        this.$.grantDetailDialog.sendButtonAction = this._deleteGrant;
                        this.$.grantDetailDialog.okLabel = 'Delete';
                        this.$.grantDetailDialog.fabIcon = 'in-icon-set:remove-circle-outline';
                    }
                    this.$.grantDetailDialog.open();
                },

                _getItemSelected: function (row_index) {

                    var itemSelected;

                    this.$.gridList.getItem(row_index, function(error, item) {
                        if (!error) {
                            itemSelected = item;
                        }else{
                            itemSelected = false;
                        }
                    });

                    return itemSelected;
                },

                _deleteGrant: function (context) {

                    context = context || this;
                    context.$.grantDetailDialog.close();
                    dialogSpinner.open();

                    // del resultado de items, esta es la forma de armar los parametros.

                    var params = {
                        'country_short': context.grantDetail.country_short,
                        'timeuuid': context.grantDetail.timeuuid
                    };

                    context.country_short = context.grantDetail.country_short;
                    context.$.ajaxDelete.url = app.apinode + '/resources/delete.grant';
                    context.$.ajaxDelete.body = JSON.stringify(params);
                    context.$.ajaxDelete.generateRequest();
                },

                _ajaxDeleteCallback: function(){
                    this._loadGrants(this.country_short);
                },

                _changeCountryFilter: function(co_short){
                    this._loadGrants(co_short);
                },


                _emptyState: function(){

                    if(this.items.length === 0){
                        this.$.emptyBox.style.display = 'block';
                        this.$.emptyBox.style.opacity = 1;
                        this.$.gridList.style.display = 'none';
                        return;
                    }

                    this.$.emptyBox.style.display = 'none';
                    this.$.emptyBox.style.opacity = 0;
                    this.$.gridList.style.display = 'block';
                },

                _loadGrants: function(countryShortName){

                    dialogSpinner.open();

                    var url = app.apinode+'/resources/get.grants/' + countryShortName + '/0' ;
                    this.$.ajaxCall.url = url ;
                    this.$.ajaxCall.generateRequest();

                    this.$.ajaxCheck.url = app.apinode + '/journalists/is.admin';
                    this.$.ajaxCheck.generateRequest();
                },

                _ajaxCheckCallback: function(){
                    this.set('isUserAdmin', true);
                },

                _ajaxGrantsResponse: function(response){

                    dialogSpinner.close();
                    this.set('items', []);

                    if(response.detail.response){
                        this.set('items', response.detail.response);
                        this.$.gridList.columns[2].renderer = this._renderGridDate;
                        this.$.gridList.columns[3].renderer = this._renderGridAmount;
                    }
                    this._emptyState();

                    if(!this.firstLoad){
                        this.firstLoad = true;
                        this._changeResolution();
                    }

                    this._resizeTableheader();
                },

                _tapCloseIcon: function (context) {
                    context = context || this;
                    context.$.gridList.selection.clear()
                },

                _renderGridDate: function (cell) {

                    cell.element.innerHTML =  new Date(cell.data).toLocaleDateString();
//                    cell.element.innerHTML =  original_date;
                },

                _renderGridAmount: function (cell) {
                    cell.element.innerHTML = '$' + cell.data;
                },

                _dateTransform: function (date) {
                    return new Date(date).toLocaleDateString()
                },

                _resizeTableheader: function () {

                    if (this.$.gridList.offsetWidth) {
                        this.$.headerListContainer.style.width = this.$.gridList.offsetWidth + 'px';
                    }

                    this.$.gridList.style.height = app.getMainContainerHeight()-80 + 'px';

                    // var offset = 600;
                    //
                    // if(this.xs){
                    //     offset = 0;
                    // }
                    // var comboContainerWidth =  this.$.gridList.offsetWidth - offset ;
                    // this.$.headerListContainer.style.width = comboContainerWidth + 'px';
                    //
                    // var trHeader = this.$.gridList.querySelector('thead tr');
                    // if(trHeader){
                    //     trHeader.style.position = 'fixed';
                    //     trHeader.style.borderBottom = 'solid 1px #ececec';
                    //     trHeader.style.paddingBottom = '56px';
                    // }
                },

                _onTapNew: function () {

                    this.$.newGrantlDialog.context = this;
                    this.$.newGrantlDialog.sendButtonAction = this._saveGrant;
                    this.$.newGrantlDialog.closeButtonAction = this._onCloseNewGrantDialog;
                    this.$.newGrantlDialog.open();
                    this.$.newGrantlDialog.notifyResize();
                },

                _onCloseNewGrantDialog: function (context) {
                    context = context || this;
                    context.$.newGrantForm.resetForm();

                },

                _saveGrant: function (context) {
                    context = context || this;
                    context.$.newGrantForm.saveGrant();
                },

                _onGrantSaved: function () {
                    this.$.newGrantlDialog.close();
                    this.$.newGrantForm.resetForm();

                }

            });
        })();
    </script>
</dom-module>
