<dom-module id="grant-detail">

    <template>
        <style>
            .header-dialog {
                height: 25px;
            }
            .jo-detail-title {
                @apply(--medium-text);
                color: var(--accent-color);
            }
            .grant-detail-focus {
                @apply(--small-text);
            }
            .link-text{
                color: var(--accent-color);
                cursor: pointer;
            }
            iron-icon {
                --iron-icon-width: 16px;
                margin-left: -4px;
                margin-right: 4PX;
            }
            .link-text{
                color: var(--accent-color);
                cursor: pointer;
            }
        </style>


        <div class="row start-xs header-dialog">

            <div class="col-xs-12 jo-detail-title">
                {{grant.title}}
            </div>

        </div>
        <!--<paper-dialog-scrollable class="grant-detail-description">-->

        <div class="row start-xs">
            <div class="col-xs-12 grant-detail-focus">
                <span>Deadline: {{_dateTransform(grant.deadline)}}</span>
            </div>
        </div>


        <div class="row start-xs">
            <div class="col-xs-12 grant-detail-focus">
                <iron-icon icon="in-icon-set:place"></iron-icon>{{grant.location}}
            </div>
        </div>

        <div class="row start-xs">
            <div class="col-xs-12 grant-detail-focus">
                $ {{grant.amount}}
            </div>
        </div>

        <div class="row start-xs">
            <div class="col-xs-12 grant-detail-focus">
                <span>Focus: {{grant.focus}}</span>
            </div>
        </div>

        <div class="row start-xs">
            <div class="col-xs-12 jo-detail-info">
                <span>Apply: <span on-tap="_goTo"
                                   path="{{grant.url}}"
                                   class="link-text">{{grant.url}}</span>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span>Description:</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {{grant.description}}
            </div>
        </div>
        <!--</paper-dialog-scrollable>-->

    </template>

    <script>
        Polymer({
            is: "grant-detail",


            properties: {
                grant:{
                    type: Object,
                    value:{}
                }
            },

            _goTo: function (e) {
                var url = e.currentTarget.path;

                if (url.toLowerCase().indexOf('http://') < 0 &&
                    url.toLowerCase().indexOf('https://') < 0) {

                    url = 'http://' + url

                }
                window.open (url);
            },

            _dateTransform: function (date) {

               return new Date(date).toLocaleDateString();

                var humanDate = new Date(date * 1000);
                var todate = new Date(humanDate).getDate();
                var tomonth = new Date(humanDate).getMonth()+1;
                var toyear = new Date(humanDate).getFullYear();
                return tomonth + '/' + todate + '/' + toyear;
            },
        });
    </script>

</dom-module>
