
<dom-module id="journalists-list">
    <template>
        <style include="shared-styles">

          .select-button {
              @apply(--small-text);
              background-color: var(--accent-color);
              color: #FFF;
              padding: 2px;
              border-radius: 4px;
              text-transform: none;
              left: -11px;
          }
          .name-title{
              @apply(--very-small-text-highlighted)
          }
          .location-title,
          .position-title{
              @apply(--very-small-text)
          }
          .user-picture {
              border-radius: 50%;
              width: 40px;
              height: 40px;
              vertical-align: middle;
          }
          .item-container {
              @apply(--divider-border-bottom);
              padding-bottom: 10px;
              padding-top: 10px;
          }
          .scrollmain{
              overflow-x: hidden !important;
              overflow-y: visible;
          }
          .scrollmain::-webkit-scrollbar{
              margin-left: 10px;
              width: 5px;
              background: #DDD;
              background: -webkit-linear-gradient(left,#FFF,#FFF, #DDD, #FFF,#FFF); /* For Safari 5.1 to 6.0 */
              background: -o-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Opera 11.1 to 12.0 */
              background: -moz-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Firefox 3.6 to 15 */
              background: linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* Standard syntax */
          }
          .scrollmain::-webkit-scrollbar-thumb{
              border-radius: 5px;
              background: var(--accent-color);
          }
          .item-list {
              max-height: 320px;
              margin-top: -6px;
          }
          paper-button[disabled]{
            background-color: #e0dcdc;
          }

          @media all and (max-width: 64em) {
              .select-button {
                  left: 0;
              }
          }

        </style>

        <div class="row">
            <div class="col-xs-12">
                <paper-input value="{{searchFilter}}"
                             label="Type journalist name or select below"></paper-input>
            </div>
        </div>

        <br><br>

        <iron-list class="scrollmain item-list"
                   is="dom-repeat"
                   items="{{filteredItems}}"
                   as="item">
            <template>

                <div class="row middle-xs item-container">

                    <div class="col-xs-2">
                        <img class="user-picture" src$="{{_getProfilePicture(item.picture)}}">
                    </div>

                    <div class="col-xs-7 col-md-8">

                        <div class="row">

                            <div class="col-xs-12 col-md-6">
                                <span class="name-title">{{item.name}}</span>
                                <br>
                                <span class="location-title">{{item.location}}</span>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <span class="position-title">{{item.position}}</span>
                            </div>

                        </div>

                    </div>

                    <div class="col-xs-3 col-md-2">
                        <paper-button on-tap="_onTapSelect"
                                      class="select-button">Select</paper-button>
                    </div>

                </div>

            </template>

        </iron-list>

        <iron-ajax id="ajax"
                   with-credentials
                   handle-as="json"
                   method="GET"
                   on-response="_ajaxCallback"></iron-ajax>


    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'journalists-list',

                properties: {
                  searchFilter: {
                      type: String,
                      value: '',
                      observer:'_onFilterChange'
                  },
                  items: {
                      type: Array,
                      value:[],
                      notify: true
                  },
                  filteredItems: {
                      type: Array,
                      value:[],
                      notify: true
                  },
                },
                behaviors: [],
                listeners: {},
                observers:[],

                attached: function () {
                  //
                },

                loadItems: function(){
                  dialogSpinner.open();
                  this.$.ajax.url = app.apinode + "/journalists/connections";
                  this.$.ajax.generateRequest();
                },

                _ajaxCallback: function (e) {
                    dialogSpinner.close();
                    this.set('items', e.detail.response);
                    this.set('filteredItems', e.detail.response);
                },

                _onFilterChange: function (e) {
                    this._filterList(e);
                },

                _filterList: function (filter) {

                    this.set('filteredItems', []);
                    if (filter == '') {
                        this.set('filteredItems', this.items);
                        return;
                    }

                    for(var index in this.items){
                        if (this.items[index].name[0].toLowerCase().indexOf(filter.toLowerCase()) >= 0) {
                            this.push('filteredItems', this.items[index]);
                        }
                    }
                },

                _getProfilePicture: function(picName){
                    return app.profilePictureMini(picName);
                },

                _onTapSelect: function(e){
                  e.currentTarget.disabled = true;
                  this.fire('item-selected', e.model.__data__.item);
                }
            });
        })();
    </script>
</dom-module>
