<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="press-requirement-detail.html">

<dom-module id="press-requirement">
    <template>
        <style include="shared-styles">

            .table-header {
                padding-left: 24px;
                @apply(--big-text);
            }
            iron-icon {
                --iron-icon-width: 16px;
                margin-left: -4px;
            }
            .table-heade-country {
                color: var(--accent-color);
            }
            .combo-countries {
                display: inline-block;
            }
            .detail-dialog > * {
                margin-top: 0;
            }
            .detail-dialog {
                background-color: var(--item-background-color);
                padding: 24px;
            }
            .item-list {
                --vaadin-grid-row-height: 75px;
                --vaadin-grid-header-row-height: 1px;
                --primary-color: var(--accent-color);
                --vaadin-grid-row-cell: {
                    font-weight: 300 !important;
                };
            }
            .item-list /deep/ ::-webkit-scrollbar {
                width: 4px !important;
                height: 4px !important;
            }
            .item-list /deep/ ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 3px;
            }
            .item-list /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--accent-color);
            }

            .close-button-top {
                right: -17px;
                top: -15px;
                color: var(--disabled-text-color);
            }
            .icon-close-container {
                text-align: right;
            }

            .table-title {
                float: left;
                padding-top: 32px;
                margin-right: 14px;
                color: #7d7d7d;
            }
            .tabs-container {
                position: fixed;
                z-index: 11;
                top: 76px;
                margin-left: 0px;
                background-color: #FFFFFF;
            }
            .list-container {
                margin-top: 40px;
            }
            paper-dialog-scrollable {
                --paper-dialog-scrollable: {
                    max-height: 200px;
                }
            }

            .help-action{
                color: var(--accent-color);
            }
            .help-action:hover{
                cursor: pointer;
            }

            @media (max-width: 48em) {
                .close-button-top {
                    right: 0;
                }
                .item-list {
                    --vaadin-grid-row-cell: {
                        padding-left: 16px;
                    };
                }
                .detail-dialog {
                    margin-left: 0;
                    margin-right: 0;
                }
                .table-title {
                    float: none;
                    /*padding-left: 8px*/
                }
                .table-header {
                    padding-left: 8px;
                }
                .list-container {
                    margin-top: 100px;
                }
            }

            @media (min-width: 47em) {
                .detail-dialog {
                    min-width: 1394px;
                }
            }
        </style>

        <paper-fab icon="in-icon-set:add"
                   hidden$="{{!isUserAdmin}}"
                   class="floating-fab"
                   elevation="3"
                   on-tap="_onTapNew"></paper-fab>


        <div id="headerListContainer" class="row start-xs tabs-container">
            <div class="col-xs-12 col-md-11 table-header">
                <div class="table-title">Press requirements in</div>
                <div>
                    <in-combo-box id="countries"  style="margin-top:-6px !important;"
                                  class="combo-countries"
                                  placeholder="Country"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{countryList}}"></in-combo-box>
                </div>
            </div>
        </div>

        <div id="pressRequirementContainer" class="row list-container">
            <div class="col-xs-12 col-md-11">
                <vaadin-grid id="pressRequirement" items="{{items}}" class="item-list">

                    <table>
                        <colgroup>
                            <col name="country_short">
                            <!-- <col name="description" width="600px"> -->
                            <col name="link_source">
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="6"
                                style="box-sizing:content-box;">
                            </th>
                        </tr>
                        </thead>

                    </table>
                </vaadin-grid>
            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="emptyBox" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <br/>
                <img class="empty-state-image" src="/images/emptystates/empty_press_requirements.jpg">
                <br/>
                <span>Sorry {{journalistName}}, no information on press</span>
                <br/>
                <span>requirements here. Change the location to</span>
                <br/>
                <span>other press requirements.</span>

                <!--<br/>-->
                <!--<br/>-->

                <!--<span>Can you help the community by adding</span>-->
                <!--<br/>-->
                <!--<span>press credential information we don’t know</span>-->
                <!--<br/>-->
                <!--<span>about? Sad panda won’t be sad.</span>-->

                <!--<br>-->
                <!--<br>-->

                <!--<span on-tap="_onTapNew" class="help-action">Yes, I love helping out!</span>-->
                <!--<br/>-->
                <!--<span>Bonus: you’ll earn points ;)</span>-->


            </div>
        </div>

        <in-mobile-message id="pressReqDetailDialog" style="min-width:80% !important"
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <press-requirement-detail country-list="[[countryList]]" requirement="[[journalismOrganizationSelected]]"></press-requirement-detail>


        </in-mobile-message>

        <in-mobile-message id="newPressReqDialog"
                           ok-label="Save"
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <in-combo-box id="countryNew"
                          placeholder="Country"
                          item-label-path="{{label}}"
                          item-value-path="{{value}}"
                          items="{{countryList}}"></in-combo-box>

            <paper-textarea id="requirements"
                            max-rows="4"
                            label="Requirements"></paper-textarea>

            <paper-input id="linkApply" label="Link to application"></paper-input>

            <paper-textarea max-rows="4"
                            id="howTo"
                            label="How to apply"></paper-textarea>

            <paper-input id="linkSource" label="Source link"></paper-input>

        </in-mobile-message>

        <iron-ajax id="ajaxCheck" with-credentials
                   method="GET"
                   on-response="_ajaxCheckCallback">
        </iron-ajax>

        <iron-ajax id="ajaxSave"
                   with-credentials
                   method="POST"
                   on-response="_ajaxSaveCallback">
        </iron-ajax>

        <iron-ajax id="ajaxList"
                   with-credentials
                   last-response="{{ajaxListResponse}}"
                   method="GET"
                   on-response="_ajaxListCallback"></iron-ajax>

        <iron-media-query query="(max-width: 48em)" query-matches="{{xs}}"></iron-media-query>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'press-requirement',
                behaviors: [ajaxBehavior],
                properties: {
                    xs: {
                        type: Boolean,
                        observer: '_changeResolution'
                    },
                    firstLoad: {
                        type: Boolean,
                        value: false,
                    },
                    items: {
                        type: Array,
                        value: []
                    },

                    isUserAdmin: {
                        type: Boolean,
                        value: false
                    }


                },

                observers: [
                    '_onItemsLengChange(ajaxListResponse.length)'
                ],

                ready: function () {

                    this.journalistName = app.session.getName();

                    window.addEventListener('resize', function (e) {
                        setTimeout(function () {
                            this._resizeTableheader();
                        }.bind(this), 1);
                        // app.updateMainscrollHeight();

                    }.bind(this));

                    this.$.pressRequirement.addEventListener('selected-items-changed', function () {

                        var selected = this.$.pressRequirement.selection.selected();
                        if (selected.length == 1) {
                            this._showDialog(selected[0]);
                        }
                    }.bind(this));

                    app.addEventListener('route-resource-changed', function (e) {


                        if (e.detail !== 'press') return;
                        this._loadPressReq();

                        setTimeout(function () {
                            this._resizeTableheader();
                        }.bind(this), 1);

                    }.bind(this));

                    this.$.countries.addEventListener('selected-item-changed', function (e) {

                        if (!e.detail.value) {
                            this._loadPressReq();

                            setTimeout(function () {
                                this._resizeTableheader();
                            }.bind(this), 1);

                            return;
                        }
                        this.countryEmptyState = e.detail.value.label;
                        this._changeCountryFilter(e.detail.value.value);

                    }.bind(this));


                    /*Todo: Cambiar cuando se puede ver que tipo de usuario es en session*/
                    this.isUserAdmin = app.session.getUser() == 52;
                },

                attached: function () {

                    window.addEventListener("load", function () {
                        this._resizeTableheader();
                    }.bind(this))
                },

                _onTapNew: function () {
                    this.$.newPressReqDialog.context = this;
                    this.$.newPressReqDialog.sendButtonAction = this._savePressReq;
                    this.$.newPressReqDialog.closeButtonAction = this._onCloseSaveDialog;
                    this.$.newPressReqDialog.open();
                    this.$.newPressReqDialog.notifyResize();
                },

                _savePressReq: function (context) {

                    context = context || this;

                    var params = {
                        'countryShort': context.$.countryNew.value,
                        'description': context.$.requirements.value,
                        'howTo': context.$.howTo.value,
                        'linkSource': context.$.linkSource.value,
                        'linkApply': context.$.linkApply.value,
                    };

                    context.$.ajaxSave.url = app.apinode + '/requirements/save';
                    context.$.ajaxSave.body = JSON.stringify(params);
                    context.$.ajaxSave.generateRequest();

                    context.$.newPressReqDialog.close();
                    context._clearForm();
                },

                _onCloseSaveDialog: function (context) {
                    context = context || this;
                    context._clearForm();

                },

                _ajaxSaveCallback: function (e) {
                    this._loadPressReq();
                },

                _onDeleteOrganizationTap: function () {
                    this._deletePressReq();
                },

                _deletePressReq: function (context) {
                    context = context || this;
                    context.$.pressReqDetailDialog.close();
                    dialogSpinner.open();

                    // del resultado de items, esta es la forma de armar los parametros.

                    var params = {
                        'community_id': context.journalismOrganizationSelected.id.community_id,
                        'member_id': context.journalismOrganizationSelected.id.member_id
                    };

                    context.$.ajaxSave.url = app.apinode + '/requirements/delete';
                    context.$.ajaxSave.body = JSON.stringify(params);
                    context.$.ajaxSave.generateRequest();
                },

                _clearForm: function () {
                    this.$.countryNew.value = null;
                    this.$.requirements.value = '';
                    this.$.howTo.value = '';
                    this.$.linkSource.value = '';
                    this.$.linkApply.value = '';
                },

                _resizeList: function () {

                    var listHeigth = app.getHeight() - this.$.pressRequirement.offsetTop;
                    this.$.pressRequirement.style.height = listHeigth + 'px';
                },

                _changeResolution: function () {

                    if (!this.firstLoad) return;

                    if (this.xs) {
                        this._hideColums();
                        return;
                    }
                    this._showColumns()
                },

                _hideColums: function () {

                    for (var i in this.$.pressRequirement.columns) {
                        if (i == 0) {
                            continue;
                        }
                        this.$.pressRequirement.columns[i].hidden = true;
                    }
                },

                _showColumns: function () {

                    for (var i in this.$.pressRequirement.columns) {
                        this.$.pressRequirement.columns[i].hidden = false;
                    }
                },

                _showDialog: function (row_index) {
                    this._getItemSelected(row_index);
                    this.$.pressReqDetailDialog.context = this;
                    this.$.pressReqDetailDialog.closeButtonAction = this._tapCloseIcon;
                    this.$.pressReqDetailDialog.hideOkButton = true;

                    if (this.isUserAdmin) {
                        this.$.pressReqDetailDialog.hideOkButton = false;
                        this.$.pressReqDetailDialog.sendButtonAction = this._deletePressReq;
                        this.$.pressReqDetailDialog.okLabel = 'Delete';
                    }
                    this.$.pressReqDetailDialog.open();
                },


                _getItemSelected: function (row_index) {
                    this.$.pressRequirement.getItem(row_index, function (error, item) {
                        if (!error) {
                            this.journalismOrganizationSelected = item;
                        }
                    }.bind(this));
                },

                _changeCountryFilter: function (co_short) {
                    this._filterByCountry(co_short);
                },

                _onItemsLengChange: function () {
                    this._emptyState();
                },

                _emptyState: function () {

                    if (this.ajaxListResponse.length === 0) {
                        this.$.emptyBox.style.display = 'block';
                        this.$.emptyBox.style.opacity = 1;
                        this.$.pressRequirement.style.display = 'none';
                        return;
                    }

                    this.$.pressRequirement.style.display = 'flex';
                    this.$.emptyBox.style.display = 'none';
                    this.$.emptyBox.style.opacity = 0;
                },

                _loadPressReq: function () {

                    dialogSpinner.open();
                    this.$.ajaxList.url = app.apinode + '/requirements/get.list';
                    this.$.ajaxList.generateRequest();

                    this.$.ajaxCheck.url = app.apinode + '/journalists/is.admin';
                    this.$.ajaxCheck.generateRequest();
                },

                _filterByCountry: function (co_short) {
                    dialogSpinner.open();
                    this.$.ajaxList.url = app.apinode + '/requirements/get.by.country/' + co_short;
                    this.$.ajaxList.generateRequest();
                },

                _ajaxCheckCallback: function(){
                    this.set('isUserAdmin', true);
                },

                _ajaxListCallback: function (response) {

                    dialogSpinner.close();
                    this.set('items', this.ajaxListResponse);

                    if (!this.firstLoad) {
                        this.firstLoad = true;
                        this._changeResolution();
                    }
                    this.$.pressRequirement.columns[0].renderer = this._renderGridDate.bind(this);

                    // app.updateMainscrollHeight();
                    this._resizeTableheader();

                },

                _renderGridDate: function (cell) {

                    for ( var index in this.countryList){
                        if (this.countryList[index].value == cell.data) {
                            cell.element.innerHTML =  this.countryList[index].label;
                            return;
                        }
                    }
                },

                _resizeTableheader: function () {

                    if (this.$.pressRequirement.offsetWidth) {
                        this.$.headerListContainer.style.width = this.$.pressRequirement.offsetWidth + 'px';
                    }

                    this.$.pressRequirement.style.height = app.getMainContainerHeight()-80 + 'px';
                },

                _tapCloseIcon: function (context) {
                    context = context || this;
                    context.$.pressRequirement.selection.clear()
                }
            });
        })();
    </script>
</dom-module>
