<dom-module id="press-requirement-detail">

    <template>
        <style>
            .header-dialog {
                height: 25px;
            }
            .jo-detail-title {
                @apply(--medium-text);
                color: var(--accent-color);
            }
            .jo-detail-info {
                @apply(--small-text);
            }
            .jo-detail-description {
            }
            ul{
                margin-top: 0;
            }
            .link-text{
                color: var(--accent-color);
                cursor: pointer;
            }
        </style>


        <div class="row start-xs header-dialog">
            <div class="col-xs-12 jo-detail-title">
                {{_getRequirementCountry(requirement.country_short)}}
            </div>

        </div>


        <div class="row start-xs">
            <div class="col-xs-12 jo-detail-info">
                <span>Source: <span on-tap="_goTo" path="{{requirement.link_source}}" class="link-text">{{requirement.link_source}} </span></span>
            </div>
        </div>
<br>
        <div class="row start-xs">
            <div class="col-xs-12 jo-detail-info">
                <span>Apply: <span on-tap="_goTo" path="{{requirement.url}}" class="link-text">{{requirement.url}} </span></span>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-xs-12 jo-detail-description">
                <span>Requirements:</span>
            </div>
        </div>
<br>
        <!-- <ul>
            <template id="requirementsList"  is="dom-repeat" items="[[requirementsArray]]" as="requirement">
                <li>{{requirement}}</li>
            </template>
        </ul> -->
        <div class="row">
            <div class="col-xs-12 jo-detail-description">
                <span>{{requirement.description}}</span>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-xs-12 jo-detail-description">
                <span>How to apply:</span>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-xs-12 jo-detail-description">
                <span>{{requirement.how_to}}</span>
            </div>
        </div>



    </template>

    <script>
        Polymer({
            is: "press-requirement-detail",


            properties: {
                requirement: {
                    type: Object,
                    value: {},
                    notify: true
                },
                requirementsArray:{
                    type: Array,
                    value:[]
                }
            },

            observers:[
                '_onRequirementChange(requirement)'
            ],

            _onRequirementChange: function () {
                if (!this.requirement.description) {
                    return;
                }
                this.set('requirementsArray',this._getRequirementsArray(this.requirement.description[0]));
            },

            _getRequirementsArray: function (requirementString) {
                return requirementString.split("\n");

            },

            _getRequirementCountry: function (co_short) {

                for ( var index in this.countryList){
                    if (this.countryList[index].value == co_short) {
                        return this.countryList[index].label;
                    }
                }
            },

            _goTo: function (e) {
                var url = e.currentTarget.path[0];

                if (url.toLowerCase().indexOf('http://') < 0 && url.toLowerCase().indexOf('https://') < 0) {
                    url = 'http://' + url
                }
                window.open (url);
            }
        });
    </script>

</dom-module>
