<dom-module id="project-reply">
    <template>
        <style>

            :host {
            @apply(--font-jouture);
            }

            .scroll {
                overflow-x: hidden;
                overflow-y: hidden;
            }

            .scroll:hover{
                overflow-y: visible;
            }

            .scroll::-webkit-scrollbar {
                width: 4px;
            }

            .scroll::-webkit-scrollbar-track {
                /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
            }

            .scroll::-webkit-scrollbar-thumb {
                border-radius: 8px;
                background-color: var(--accent-color);
                /*-webkit-box-shadow: inset 0 0 6px red;*/
            }

            paper-textarea /deep/ {
            }
            paper-textarea /deep/ ::-webkit-scrollbar {
                width: 4px;
            }
            paper-textarea /deep/ ::-webkit-scrollbar-track {
                /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
                border-radius: 8px;
            }
            paper-textarea /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 8px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            }
            paper-textarea {
            --paper-input-container-input:{
             @apply(--small-text);
             };

            --paper-input-container-focus-color: var(--accent-color);
            }
            .reply-box {
                position: relative;
                border: solid 1px var(--light-primary-color);
                background-color: #FFF;
                padding-left:20px;
                padding-right:20px;
            }
            .close-button{
                position: absolute;
                right: -5px;
                top: -5px;
                color: var(--disabled-text-color);

            }
        </style>

        <div class="row reply-box">
            <div>
                <paper-icon-button id="closeButton"
                                   class="close-button"
                                   icon="in-icon-set:highlight-off"
                                   on-tap="_onCloseTap"></paper-icon-button>
            </div>
            <div class="col-xs-12">
                <in-send-text id="inSendMessageReply">
                </in-send-text>
            </div>
        </div>

    </template>
</dom-module>

<script type="text/javascript">

    HTMLImports.whenReady(function () {

        Polymer({

            is: 'project-reply',

            properties: {
            },

            attached: function(){
                this.$.inSendMessageReply.setProjectBehavior();
            },

            show: function(){
                //this.$.paperSpinner.style.visibility = 'hidden';
                //this.$.sendMessage.init();
            },

            _onKeydown: function (e) {
                var isChecked = document.querySelector('#check_enter').checked;
                var self = this;
                if (e.keyCode == 13 && isChecked && !e.shiftKey) {
                    e.preventDefault();
                    self._reply();
                }
                if(e.keyCode == 13 && !isChecked && e.ctrlKey){
                    e.preventDefault();
                    self._reply();
                }
            },

            _onKeypress: function (e) {
                var btn = document.querySelector('#btnNewMessage');
                btn.style.visibility = 'hidden';
                var section = document.querySelector('#message_list');
                var section_write = document.querySelector('#textAreaMessage');
                var newHeight = (window.innerHeight - section.offsetTop - 15 - section_write.offsetHeight) + 'px';
                section.style.height = newHeight;
                section.scrollTop = section.scrollHeight;
            },

            _onKeyup: function (e) {
                var btn = document.querySelector('#btnNewMessage');
                btn.style.visibility = 'hidden';
                var section = document.querySelector('#message_list');
                var section_write = document.querySelector('#textAreaMessage');
                var newHeight = (window.innerHeight - section.offsetTop - 15 - section_write.offsetHeight) + 'px';
                section.style.height = newHeight;
                section.scrollTop = section.scrollHeight;
            },

            _myTrim: function (x) {
                return x.replace(/^\s+|\s+$/gm,'');
            },

            _saveElection: function() {
                var days = 10;
                var name = "_elt_ent";
                var section = this.$.check_enter;
                var value = section.checked;
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    var expires = "; expires=" + date.toGMTString();
                } else{
                    var expires = "";
                }
                document.cookie = name + "=" + value + expires + "; path=/";
                this._showSend();
            },

            _showSend:function() {
                var section = this.$.check_enter;
                var sendIcon = this.$.sendIcon;
                var checkEnter = this.$.checkEnter;
                if (section && section.checked) {
                    sendIcon.style.display = 'none';
                    checkEnter.className = checkEnter.className.replace("col-xs-9","col-xs-10");
                } else if (sendIcon && checkEnter) {
                    sendIcon.style.display = 'block';
                    checkEnter.className = checkEnter.className.replace("col-xs-10","col-xs-9");
                }
            },

            _onCloseTap: function(){
                this.fire('cancelReply', {text: ""});
                this.$.inSendMessageReply.value("");
            }

        });

    });

</script>
