<dom-module id="category-item">
    <template>
        <style include="shared-styles">
            #tagContainer:hover{
                cursor: pointer;
            }
            .level-1-container{
                border: solid 1px var(--light-primary-color);
                background-color: #FAFAFA;
                border-radius: 10px;
                height: 30px;
                margin-bottom: 10px;
                margin-top: 10px;
                padding-top: 7px;
            }
            .level-2-container {
                border: solid 1px rgba(0, 0, 0, 0.12);
                border-radius: 10px;
                background: var(--light-primary-color);
                margin-bottom: 10px;
                margin-top: 6px;
                /*height: 23px;*/
                padding-top: 3px;
                padding-bottom: 3px;
            }
            .level-3-container {
                border: solid 1px var(--light-primary-color);
                border-radius: 10px;
                padding: 0px 2px 11px 4px;
                background-color: #FAFAFA;
                margin-bottom: 10px;
                margin-top: 4px;
                height: 10px;
            }
            .category-selected{
                background-color: var(--accent-color);
                color: white !important;
            }
            .label-level-1 {
                @apply(--medium-text);
                text-transform: capitalize;
            }
            .label-level-2 {
                @apply(--small-text);
                text-transform: capitalize;
            }
            .label-level-3 {
                @apply(--very-small-text);
                text-transform: capitalize;
            }

            @media only screen and (max-width: 48em) {
                .label-level-1 {
                    @apply(--very-small-text);
                }
                .label-level-2 {
                    @apply(--very-small-text);
                }
                .label-level-3 {
                    @apply(--very-small-text);
                }
                .level-1-container{
                    height: 25px;
                    padding-top: 5px;
                }
                .level-2-container{}
                .level-3-container{}
            }

        </style>

        <div id="tagContainer" on-tap="_onCategoryTap">
            <span id="labelContainer">{{category.label}}</span>
        </div>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'category-item',
                properties: {
                    category:{
                        type: Object,
                        observer:'_categoryChange',
                        notify: true
                    }
                },

                behaviors: [
                    Polymer.IronCheckedElementBehavior
                ],

                observers: [
                    '_selectionItemChange(category.selected)'
                ],

                ready: function () {
                    //
                },

                _onCategoryTap: function(){
                    this.checked = !this.checked;
                    this.set('category.selected', this.checked);
                    this.fire('category-selected', this.category);
                    this.changeState();
                },

                changeState: function () {

                    if(this.category.level == 3 || this.category.level == 2 ){
                        this.toggleClass('category-selected', this.checked, this.$.tagContainer);
                    }
                },

                _categoryChange: function () {
                    switch (this.category.level){
                        case 1:
                            this.toggleClass('level-3-container', false, this.$.tagContainer);
                            this.toggleClass('level-2-container', false, this.$.tagContainer);
                            this.toggleClass('level-1-container', true, this.$.tagContainer);
                            this.toggleClass('label-level-3', false, this.$.labelContainer);
                            this.toggleClass('label-level-2', false, this.$.labelContainer);
                            this.toggleClass('label-level-1', true, this.$.labelContainer);
                            break;
                        case 2:
                            this.toggleClass('level-3-container', false, this.$.tagContainer);
                            this.toggleClass('level-1-container', false, this.$.tagContainer);
                            this.toggleClass('level-2-container', true, this.$.tagContainer);
                            this.toggleClass('label-level-3', false, this.$.labelContainer);
                            this.toggleClass('label-level-1', false, this.$.labelContainer);
                            this.toggleClass('label-level-2', true, this.$.labelContainer);
                            break;
                        case 3:
                            this.toggleClass('level-3-container', true, this.$.tagContainer);
                            this.toggleClass('level-2-container', false, this.$.tagContainer);
                            this.toggleClass('level-1-container', false, this.$.tagContainer);
                            this.toggleClass('label-level-3', true, this.$.labelContainer);
                            this.toggleClass('label-level-2', false, this.$.labelContainer);
                            this.toggleClass('label-level-1', false, this.$.labelContainer);
                            break;
                    }

                },

                _selectionItemChange: function (e) {
                    if (typeof e === "undefined") {
                        return;
                    }
                    this.checked = e;
                    this.changeState();
                }


            });
        })();
    </script>
</dom-module>
