<dom-module id="filtering-add-tag">
    <template>
        <style include="shared-styles">

            .more-tags-button{
                @apply(--very-small-text);
                padding: 2px;
                border-radius: 4px;
                text-transform: none;
            }
            .main-row {
                margin-top: 10px;
            }
            paper-input {
                text-align: left;
                --paper-input-container-focus-color: var(--accent-color);
                --paper-input-container-color: var(--secondary-text-color);
                --paper-input-container-label:{
                     color: var(--secondary-text-color);
                     font-size: 12px;
                     font-weight: 300;
                };
                --paper-input-container-input: {
                      font-size: 13px;
                      font-weight: 300;
                };
            }
            .tag-input {
                margin-top: -26px;
            }
        </style>

        <template is="dom-if" if="{{!addingTag}}">

            <div class="row center-xs main-row">

                <div class="col-xs level-1-category-label-container">

                    <paper-button on-tap="_onAddingTagButtonTap"
                                  class="more-tags-button">(+) add subcategory</paper-button>
                </div>

            </div>

        </template>

        <template is="dom-if" if="{{addingTag}}">

            <div class="row center-xs">

                <div class="col-xs-12 tag-input" style="position:relative">

                    <paper-input placeholder="Type your subcategory"
                                 maxlength="35"
                                 auto-validate
                                 pattern="^[0-9a-zA-Z\s]*$"
                                 error-message="Letters and numbers"
                                 char-count
                                 value="{{newTagInputValue}}"></paper-input>

                                 <div style="position:absolute; top: 0; right:-28px">
                                     <paper-icon-button id="addNewTagButton" style="width:38px;"
                                                        disabled
                                                        icon="in-icon-set:add-circle-outline"
                                                        class="center-icon-buttons"
                                                        on-tap="_tapAddNewTagButton"></paper-icon-button>
                                 </div>

                                 <div style="position:absolute; top: 0; right:-58px">
                                     <paper-icon-button id="cancelNewTagButton" style="width:38px;"
                                                        icon="in-icon-set:close"
                                                        class="center-icon-buttons"
                                                        on-tap="_tapCancelNewTagButton"></paper-icon-button>
                                 </div>


                </div>


            </div>

        </template>

        <iron-ajax id="ajaxSaveCategory"
                   content-type="application/json"
                   method="POST"
                   with-credentials></iron-ajax>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'filtering-add-tag',

                properties: {
                    addingTag:{
                        type: Object,
                        value: false
                    },

                    newTagInputValue: {
                        type: String,
                        value: '',
                        observer: '_newTagInputValueChange'
                    }
                },

                ready: function () {
                    //
                },

                attached: function () {
                    //
                },

                _onAddingTagButtonTap: function () {
                    this.addingTag = true;
                },

                _tapAddNewTagButton: function () {

                    const input = this.querySelector('paper-input');
                    if( !input.validate() ){
                        return;
                    }

                    this.newTag = {
                        label: this.newTagInputValue,
                        level: 3,
                        parent: this.parentCategory
                    };

                    this.$.ajaxSaveCategory.body = {
                        tag: this.newTag.label,
                        level: this.newTag.level,
                        parent: this.newTag.parent
                    };
                    this.$.ajaxSaveCategory.url = app.apinode + '/tags/save.category';
                    this.$.ajaxSaveCategory.generateRequest();

                    this.fire('new-tag-added', this.newTag);
                    this._clearElement();
                },

                _newTagInputValueChange: function () {

                    if (!this.querySelector("#addNewTagButton")) {
                        return;
                    }

                    var add_button = this.querySelector("#addNewTagButton");

                    if (this.newTagInputValue && this.newTagInputValue.length > 2) {
                        add_button.removeAttribute('disabled');
                        this.toggleClass('add-icon', true, add_button);
                        return;
                    }

                    this.toggleClass('add-icon', false, add_button);
                    add_button.setAttribute('disabled', true);
                },

                _clearElement: function () {
                    this.newTag = null;
                    this.newTagInputValue = null;
                    this.addingTag = false;
                },

                _tapCancelNewTagButton: function () {
                    this._clearElement();
                }

            });
        })();
    </script>
</dom-module>
