<dom-module id="subcategories-container">
    <template>
        <style>
            :host {
                @apply(--font-jouture);
                /*margin-right: 8px;*/
                /*margin-bottom: 8px;*/
            }
            .item {
                border: solid 1px var(--light-primary-color);
                border-radius: 14px;
                padding: 4px 2px 8px 4px;
                background-color: #FAFAFA;
            }
            .label {
                @apply(--very-small-text);
                padding: 0;
            }

            .tag {
                padding-left: 10px;
            }
        </style>


        <div class="col-xs item tag">
            <span class="label">{{subcategory.label}}</span>
        </div>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'subcategories-container',

                properties: {}
            });
        })();
    </script>
</dom-module>
