<link rel="import" href="category-item.html">
<link rel="import" href="filtering-add-tag.html">

<dom-module id="tag-filtering">
    <template>
        <style include="shared-styles">
            .level-1-container {
                margin-top: 20px;
            }
            .level-1-category-label-container {
                padding: 30px 0 23px 0;
                border-radius: 10px;
                position:relative;
                text-transform: capitalize;
            }
            .level-1-category-label {
                border: solid 1px rgba(0, 0, 0, 0.12);
                border-radius: 10px;
                color: white !important;
                background-color: var(--accent-color);
                padding: 6px 75px;
            }
            .see-categories-button-top-container {
                margin-top: 20px;
            }
            .more-tags-button{
                @apply(--small-text);
                padding: 2px;
                border-radius: 4px;
                text-transform: none;
                margin-top: 15px;
            }
            .hidden {
                display: none;
            }
            .selected-country {
                color: var(--accent-color);
            }
            .title {
                @apply(--medium-text);
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .reset-button {
                position: absolute;
                margin-top: -7px;
                margin-left: -11px;

                color: rgba(138, 122, 111, 0.9);
                width: 90px;
                font-size: 13px;
                font-weight: 300;
            }

            @media only screen and (max-width: 48em) {
                .level-1-category-label {
                    font-size: 13px !important;
                    font-weight: 200 !important;
                    border: solid 1px rgba(0, 0, 0, 0.12);
                    padding: 4px 52px;
                }
                .title {
                    @apply(--small-text);
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

        </style>

        <template is="dom-if" if="{{!hideTitle}}">
            <div class="row middle-xs start-md">
                <div class="col-xs-12 title">
                    What are you looking for in <span class="selected-country">{{searchLocation}}</span> ?
                </div>
            </div>
        </template>

        <template is="dom-if" if="{{!level1Selected}}">

            <div category-page="level-1" class="row center-xs level-1-container">

                <template is="dom-repeat" items="{{categoriesLevel_1}}" as="category">

                    <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
                        <category-item category="{{category}}"></category-item>
                    </div>

                </template>

            </div>

        </template>

        <template is="dom-if" if="{{level1Selected}}">
            <div class="row center-xs">

                <div class="col-xs-12 level-1-category-label-container">
                    <span class="level-1-category-label">{{level1CategoryLabel}}</span>

                    <template is="dom-if" if="{{showResetButton}}">
                        <paper-button class="reset-button" on-tap="_onRemoveAllTap">reset</paper-button>
                    </template>

                </div>

                <!-- <div class="col-xs-4 reset-button-container">
                    <template is="dom-if" if="{{showResetButton}}">
                        <paper-button class="reset-button" on-tap="_onRemoveAllTap">reset</paper-button>
                    </template>
                </div> -->

            </div>

            <div category-page="level-2" class="row center-xs">

                <div class="col-xs-12">

                    <div id="secondLevelContainer" class="row center-xs">

                        <template id="levelTwoCategoriesDomRepeat" is="dom-repeat" items="{{categoriesLevel_2}}" as="category">

                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <category-item category="{{category}}"></category-item>
                            </div>

                        </template>

                    </div>

                </div>

            </div>

            <div category-page="level-3" class="row center-xs third-level-container">

                <div class="col-xs-12">

                    <div class="row center-xs">

                        <template is="dom-repeat" items="{{categoriesLevel_3}}" as="category">

                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                <category-item category="{{category}}"></category-item>
                            </div>

                        </template>

                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                            <filtering-add-tag class="add-tags" hidden parent-category="{{selectedSubcategory}}"></filtering-add-tag>
                        </div>

                    </div>

                </div>

            </div>

            <template is="dom-if" if="{{showBackButton}}">
                <div class="row center-xs see-categories-button-top-container">
                    <div class="col-xs-12">

                        <paper-icon-button disabled
                                           icon="in-icon-set:reply" title="reply"></paper-icon-button>
                        <paper-button on-tap="_onSeeAllCategoriesButtonTap"
                                      class="more-tags-button">Go back to all Categories</paper-button>
                    </div>
                </div>
            </template>

        </template>


        <iron-ajax id="ajaxGetCategories"
                   method="GET"
                   with-credentials
                   on-response="_getCategoriesCallback"
                   last-response="{{getCategoriesResponse}}"></iron-ajax>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'tag-filtering',

                properties: {
                    hideTitle: {
                        type:Boolean,
                        value:false
                    },
                    level1Selected:{
                        type: Boolean,
                        value: false
                    },
                    categoryToGet:{
                        type: Boolean,
                        value: 1,
                        notify: true
                    },
                    categoriesLevel_1:{
                        type:Array,
                        value: [],
                        notify: true
                    },
                    categoriesLevel_2:{
                        type:Array,
                        value: [],
                        notify: true
                    },
                    categoriesLevel_3:{
                        type:Array,
                        value: [],
                        notify: true
                    },
                    selectedCategories:{
                        type:Array,
                        value:[]
                    },
                    firstLoad:{
                        type:Boolean,
                        value: true
                    },
                    hideThirdLevelContainer:{
                        type:Boolean,
                        value: true
                    },
                    searchLocation: {
                        value: "World widesada",
                        notify: true
                    }
                },

                listeners: {
                    'category-selected': '_categorySelected',
                    'new-tag-added': '_newTagAdded'
                },

                observers: [
                    '_onLevelSelectedChange(categoryLevelSelected)',
                    '_thirdLevelChanged(categoriesLevel_3)'
                ],

                ready: function(){

                    document.addEventListener('search-country-changed', function(e){

                        if(e.detail){
                            this.set('searchLocation', e.detail.longName);
                        }else{
                            this.set('searchLocation', 'World wide');
                        }

                    }.bind(this));
                },

                attached: function(){
                    let countryLong = app.getCountryByShortname(app.session.getCountry());
                    this.set('searchLocation', countryLong);
                },

                init: function () {
                    this.resetElement();
                    this.set('level1Selected', false);
                    this.set('categoryToGet', 1);
                    this.getCategories('Categories');
                    this._cleanSelected();
                },

                getSelected: function(){

                    if(! this.selectedCategories || this.selectedCategories.length == 0) return '';

                    var selected = this.selectedCategories[0];
                    for(var i=1; i<this.selectedCategories.length; i++){
                        selected += '.' + this.selectedCategories[i];
                    }
                    return selected;
                },

                _onRemoveAllTap: function(){
                    this.fire('remove-all-categories');
                },

                _cleanSelected: function(){
                    this.selectedCategories = [];
                },

                _addSelected: function(selectedValue, level){

                    var index = this.selectedCategories.indexOf(selectedValue);

                    if(index > 0){
                        // this.selectedCategories.splice(index, selectedValue);
                        this.arrayDelete(this.selectedCategories, selectedValue);
                    }else{

                        if(level == 2 && this.selectedCategories.length >= 2){
                            for(var i=this.selectedCategories.length; i>0; i--){
                                this.arrayDelete(this.selectedCategories, this.selectedCategories[i]);
                            }
                        }
                        this.selectedCategories.push(selectedValue);
                    }
                },

                _categorySelected: function (e) {

                    this._addSelected(e.detail.label, e.detail.level);
                    this.categoryToGet = e.detail.level + 1;

                    switch (e.detail.level) {
                        case 1:
                            this.level1Selected = true;
                            this.level1CategoryLabel = e.detail.label;
                            break;
                        case 2:
                            this._changeSelection(e.target);
                            this.resetLevel(3);
                                this.secondLevelSelected = true;
                            break;
                        case 3:
                            return;
                    }
                    this.selectedSubcategory = e.detail.label;
                    this.getCategories(e.detail.label);
                },

                _newTagAdded: function (e) {
                    this.push('categoriesLevel_3', e.detail);
                },

                _changeSelection: function (target) {

                    if(!target.checked){
                        return;
                    }
                    target.checked = false;

                    var previousSelected = this.querySelector('#secondLevelContainer').querySelector('[checked]');
                    if(previousSelected){
                        previousSelected.checked = false;
                        previousSelected.changeState();
                    }
                    target.checked = true;
                    target.changeState();
                },

                _onSeeAllCategoriesButtonTap: function(){
                    this.init();
                },

                resetElement: function () {
                    this.resetSelection();
                    this.resetItems();
                    this.thirdLevelResponse = false;
                    this.secondLevelSelected = false;
                    this._hideThirdLevelContainer();
                },

                resetSelection: function () {

                    var itemsSelected = this.querySelectorAll('[checked]');
                    for(var index in itemsSelected){
                        if(typeof itemsSelected[index] == 'object'){
                            itemsSelected[index].checked = false;
                            itemsSelected[index].changeState();
                        }
                    }
                },

                resetItems: function () {

                    for(var indexLevel_1 in this.categoriesLevel_1){
                        this.categoriesLevel_1[indexLevel_1].selected = null;
                    }

                    for(var indexLevel_2 in this.categoriesLevel_2){
                        this.categoriesLevel_2[indexLevel_2].selected = null;
                    }

                    for(var indexLevel_3 in this.categoriesLevel_3){
                        this.categoriesLevel_3[indexLevel_3].selected = null;
                    }

                    this.set('categoriesLevel_2', []);
                    this.set('categoriesLevel_3', []);
                },

                resetLevel: function (level) {

                    switch (level){
                        case 1:
                            for(var index in this.categoriesLevel_1){
                                this.set('categoriesLevel_1.'+ index + '.selected', false);
                            }
                            break;
                        case 2:
                            for(var index in this.categoriesLevel_2){
                                this.set('categoriesLevel_2.'+ index + '.selected', false);
                            }
                            break;
                        case 3:
                            for(var index in this.categoriesLevel_3){
                                this.set('categoriesLevel_3.'+ index + '.selected', false);
                                this.thirdLevelResponse = false;
                            }
                            break;
                    }
                },

                resetItem: function (level, label) {

                    switch (level){
                        case 1:
                            for(var index in this.categoriesLevel_1){
                                if (this.categoriesLevel_1[index].label == label) {
                                    this.set('categoriesLevel_1.'+ index + '.selected', false);
                                    this.fire('reset-search');
                                    break;
                                }
                            }
                            break;
                        case 2:
                            for(var index in this.categoriesLevel_2){
                                if (this.categoriesLevel_2[index].label == label) {
                                    this.set('categoriesLevel_2.'+ index + '.selected', false);
                                    this.set('categoriesLevel_3', []);
                                    break;
                                }
                            }
                            break;
                        case 3:
                            for(var index in this.categoriesLevel_3){
                                if (this.categoriesLevel_3[index].label == label) {
                                    this.set('categoriesLevel_3.'+ index + '.selected', false);
                                    break;
                                }
                            }
                            break;
                    }
                },

                getCategories: function (tag) {
                    this.$.ajaxGetCategories.url = app.apinode + '/tags/children/'+ tag +'/'+ this.categoryToGet;
                    this.$.ajaxGetCategories.generateRequest();
                },

                _getCategoriesCallback: function () {

                    var category;
                    this.responseLength = this.getCategoriesResponse.length;
                    this.set('categoriesLevel_' + this.categoryToGet, []);

                    for(var index in this.getCategoriesResponse){

                        category = {label:this.getCategoriesResponse[index], level: this.categoryToGet};
                        this.push('categoriesLevel_' + this.categoryToGet, category);
                    }

                    var addtagsElement = this.querySelector('.add-tags');
                    if(addtagsElement && this.categoryToGet == 3){
                        addtagsElement.hidden = false;
                    }else if(addtagsElement){
                        addtagsElement.hidden = true;
                    }
                },

                _thirdLevelChanged: function(){

                    var thirdLevelContainer = document.querySelector('.third-level-container');

                    if(this.responseLength && this.responseLength > 0 && thirdLevelContainer){
                        this.thirdLevelResponse = true;

                    }else if(thirdLevelContainer){
                        this.thirdLevelResponse = false;
                    }

                    this._hideThirdLevelContainer();
                },

                _hideThirdLevelContainer: function () {
                    this.set('hideThirdLevelContainer', !(this.secondLevelSelected && this.thirdLevelResponse));
                }

            });
        })();
    </script>
</dom-module>
