<link rel="import" href="/styles/landing-styles.html">

<dom-module id="signup-password-create">
    <template>
    <style is="custom-styles" include="landing-styles">

        :host {
            opacity: 0;
            display: block;
            transition: 0.3s;
        }
        .next-button-container{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        a.disabled {
            pointer-events: none;
        }
        .invalid{
            color: red;
        }
        .guide-title{
            color: var(--accent-color);
        }

    </style>


    <iron-ajax
            id="ajaxLogin"
            method="POST"
            with-credentials
            handle-as="json"
            on-error="_ajaxLoginError"
            on-response="_ajaxLoginCallback">
    </iron-ajax>


    <div class="row">
        <div class="col-xs-12 nav-buttons-container">
            <paper-icon-button class="active" disabled></paper-icon-button>
            <paper-icon-button class="disabled" disabled></paper-icon-button>
            <paper-icon-button class="disabled" disabled></paper-icon-button>
        </div>
    </div>

    <div class="row center-xs">
        <div class="col-xs-12 guide-text-container">
            <span class="guide-title">Welcome back! Let’s create your password.</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 center-xs">
            <span id="messageText" hidden class="invalid">{{errorMessage}}</span>
        </div>
    </div>


    <div class="row">

        <div class="col-xs-12">
            <paper-input
            id="name"
            label="Name"></paper-input>
        </div>

        <div class="col-xs-12">
            <gold-email-input style="text-align:left"
                              auto-validate
                              readonly="readonly"
                              id="email" ></gold-email-input>
        </div>

        <div class="col-xs-12">
            <in-password-input style="text-align:left"
                         auto-validate
                         required
                         pattern="(?=^.{8,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                         error-message="Please, enter 1 uppercase, 1 number, 8 characters at least."
                         id="password"
                         label="password"
                         type="password"></in-password-input>

        </div>

    </div>



    <div class="row">
        <div class="col-xs-12 next-button-container">

            <paper-button on-tap="_savePassword"
                          id="nextButton"
                          disabled
                          class="disabled-button"
                          raised
                          label="Signup">Next</paper-button>
        </div>
    </div>


        <iron-ajax id="ajaxSavePassword"
                   method="PUT"
                   handle-as="json"
                   last-response = {{savePasswordResponse}}
                   on-response = "_savePasswordCallback"></iron-ajax>

        <iron-ajax id="ajaxVerifyEmail"
                   method="GET"
                   handle-as="json"
                   on-response = "_verifyEmailCallback"></iron-ajax>



</template>
<script>
(function() {
    'use strict';

    Polymer({
        is: 'signup-password-create',

        properties: {
            params: {
                type: Object,
                observer:"_changeParams"
            },
            verificated:{
                type:Boolean,
                value:false
            }
        },

        listeners:{
            'keypress': '_onKeyPress'
        },


        ready: function () {

            this.addEventListener('iron-input-validate', function (e) {
                var nextButton = this.$.nextButton;

                if(!e.target.invalid){
                    if(this.verificated){
                        var ClassNextButton = nextButton.className;
                        nextButton.className =  ClassNextButton.replace('disabled-button','landing-buttons');
                        nextButton.removeAttribute('disabled');
                    }
                }else{
                    if(!nextButton.disabled){
                        var ClassNextButton = nextButton.className;
                        nextButton.className =  ClassNextButton.replace('landing-buttons','disabled-button');
                        nextButton.setAttribute('disabled', true);
                    }

                }

            }.bind(this));

        },

        _savePassword: function () {

            var ajaxSavePassword = this.$.ajaxSavePassword;
            var password = this.$.password.value;
            var params = {
                password: password
            };

            ajaxSavePassword.url = app.apinode + "/users/" + this.params.code + '/' + this.params.email ;
            ajaxSavePassword.body = JSON.stringify(params);
            ajaxSavePassword.generateRequest();
            dialogSpinner.open();
        },

        _changeParams: function () {
            if(this.routeLanding != 'password-create'){
                return;
            }

            this.$.email.value = this.params.email;
            this.$.name.value = this.params.name;

            this.$.ajaxVerifyEmail.url = app.apinode + "/users/email.verification/" + this.params.email + "/" + this.params.code;
            this.$.ajaxVerifyEmail.generateRequest();
        },

        _verifyEmailCallback: function (e) {

            var code = e.detail.response.code;

            if (e.detail.response.progress == 1) {
                // Si todavía no ha creado password, quedarse en pagina de crear pwd
                this.verificated = true;
                this.style.opacity = '1';

            }else{

                //Si el pwd ha sido creado, si hay session, completar location. Sino ir al login
                if (app.checkSession()) {
                    page('/location/'+ code);
                }else{
                    page('/login');
                }
            }
        },

        _savePasswordCallback: function () {

            var params = {
                email: this.$.email.value,
                password: this.$.password.value
            };

            this.$.ajaxLogin.body = JSON.stringify(params);
            this.$.ajaxLogin.url = app.apinode + "/login";
            this.$.ajaxLogin.generateRequest();

            // page('/location/c/' + this.params.c);
        },

        _ajaxLoginError: function() {

            this.$.errorMessage.removeAttribute('hidden');
            this.errorMessage = 'Error while trying to login, please try again';
        },

        _ajaxLoginCallback: function(response) {

            dialogSpinner.close();

            if(parseInt(response.detail.response.userID) != response.detail.response.userID){
                this.$.errorMessage.removeAttribute('hidden');
                this.errorMessage = 'Invalid user while trying ot login please try again';
                return;
            }

            var data = response.detail.response;
            var sessionData = { user: parseInt(data.userID),
                                picture: data.picture,
                                name: data.name,
                                location: data.location,
                                country_short: data.country_short,
                                adm_1_short: data.adm_1_short,
                                lat: data.lat,
                                lng: data.lng,
                                readProfileInfo: data.profileMessage,
                                readCommunityInfo: data.communityMessage,
                                enterToSend: data.enterToSend,
                                dateSignup: data.dateEmailVerified };

            //Create front end session
            app.sessionExists = true;
            app.session.create(sessionData);

            if(!app.socket){
                app.socketConnect();
            }

            //Log login activity - keep it after session is created since it does use session info
            app.logActivity(app.constants.USER_LOGIN);
            app.fromLogin = true;

            page('/location/' + this.params.code);
        },

        _onKeyPress: function (e) {

            if (e.key == 'Enter' && !this.$.password.invalid && this.$.password.value.length != 0) {
                this._savePassword();
            }
        }

    });
})();
</script>
</dom-module>
