<link rel="import" href="../left-menu-connect/left-menu-connect.html?v1.47">

<dom-module id="left-menu">
    <template>
        <style include="shared-styles"></style>
        <style>

            :host {
                display: block;
                @apply(--font-jouture);
                padding-top: 30px;
            }
            .hidebar {
                opacity: 0;
                position: relative;
                width: 4px;
                height: 30px;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: 5px;
                margin-right: 10px;
                background-color: var(--accent-color);
            }

            a.iron-selected > paper-item > div.hidebar {
                opacity: 1 !important;
            }

            a.iron-selected > paper-item {
                font-weight: bold;
                @apply(--small-text-highlighted-black);
            }

            /*.checkMarketPlace{*/
                /*@apply(--small-text-highlighted-black);*/
            /*}*/

            paper-item {
                @apply(--small-text);
            }

            paper-menu {
                padding-top: 0;
            }

            .item-relative{
                position: relative;
            }

            .discuss_relative{
                position: relative;
            }

            .logout{
                cursor: pointer;
            }

            .logout-icon{
                color: #555;
                margin-left: 20px;
                width: 20px;
                height: 20px;
            }
            .country-filter-container{
                padding-left: 31px;
            }

            .tag-container{
                margin-top: 27px;
            }

        </style>

        <iron-ajax id="ajaxCategories"
                   method="GET"
                   with-credentials
                   handle-as="json"
                   last-response="{{categories}}"
                   on-response = "_categoriesCallback"></iron-ajax>

        <iron-pages attr-for-selected="data-route" selected="{{route}}">

            <section data-route="toolkit">
                <paper-menu
                        class="list"
                        attr-for-selected="data-route"
                        selected="[[route]]">

                    <a data-route="connect" href="/connect"><paper-item>
                        <div class="hidebar"></div> <span>Connect</span> </paper-item></a>

                    <a data-route="messages" href="/messages"><paper-item>
                        <div class="hidebar"></div> <span>Messages</span> </paper-item></a>

                    <a data-route="resource" href="/resource"><paper-item>
                        <div class="hidebar"></div> <span>Resource</span> </paper-item></a>

                    <a data-route="discussion" href="/discussion"><paper-item>
                        <div class="hidebar"></div> <span>Discussions</span> </paper-item></a>

                </paper-menu>
            </section>

            <section data-route="resource">
                <paper-menu
                        class="list"
                        attr-for-selected="data-route"
                        selected="[[route_resource]]">

                    <a data-route="embassy" href="/resource/embassy"><paper-item>
                        <div class="hidebar"></div> <span>Embassies</span> </paper-item></a>

                    <a data-route="grant" href="/resource/grant"><paper-item>
                        <div class="hidebar"></div> <span>Grants</span> </paper-item></a>

                    <a data-route="ngo" href="/resource/ngo"><paper-item>
                        <div class="hidebar"></div> <span>Organizations</span> </paper-item></a>

                    <a data-route="visa" href="/resource/visa"><paper-item>
                        <div class="hidebar"></div> <span>Passport Rank</span> </paper-item></a>

                    <a data-route="press" href="/resource/press"><paper-item>
                        <div class="hidebar"></div> <span>Press Cards</span> </paper-item></a>

                </paper-menu>
            </section>

            <section data-route="discussion">
                <paper-menu
                        class="list"
                        attr-for-selected="data-route"
                        selected="[[params.order]]">

                    <a data-route="recent" href="/discussion/order/recent">
                        <paper-item class="discuss_relative">
                            <div class="hidebar"></div> <span>Recent</span>
                            <badge-notification type=100></badge-notification>
                        </paper-item></a>
                    <div id="notificationNewDiscussionRecent" class="badge-size-1 badge center-xs"></div>

                    <a hidden data-route="popular" href="/discussion/order/popular"><paper-item  class="discuss_relative">
                        <div class="hidebar"></div>Popular
                        <badge-notification type=101></badge-notification>
                    </paper-item></a>
                    <div id="notificationNewDiscussionPopular" class="badge-size-1 badge center-xs"></div>

                    <a data-route="pinned" href="/discussion/order/pinned"><paper-item class="discuss_relative">
                        <div class="hidebar"></div>Pinned
                        <badge-notification type=102></badge-notification>
                    </paper-item></a>
                    <div id="notificationNewDiscussionPinned" class="badge-size-1 badge center-xs"></div>

                    <a data-route="following" href="/discussion/order/following"><paper-item class="discuss_relative">
                        <div class="hidebar"></div>Following
                        <badge-notification type=103></badge-notification>
                    </paper-item></a>
                    <div id="notificationNewDiscussionFollowing" class="badge-size-1 badge center-xs"></div>

                    <a data-route="mine" href="/discussion/order/mine">
                        <paper-item class="discuss_relative">
                            <div class="hidebar"></div>Mine
                            <badge-notification type=104></badge-notification>
                        </paper-item></a>
                    <div id="notificationNewDiscussionMine" class="badge-size-1 badge center-xs"></div>
                </paper-menu>
            </section>

            <section data-route="marketplace">

                    <div class="row">
                        <div class="col-xs-12 country-filter-container">

                        <iron-pages id="pagesCountryfilterMarketplace" selected="0">

                            <in-combo-box id="comboCountryFilterMarketplace"
                                          title="Filter by Country"
                                          class="combo-countries"
                                          placeholder="Country"
                                          item-label-path="{{longName}}"
                                          item-value-path="{{shortName}}"
                                          items="{{countries}}"></in-combo-box>

                            <div id="tagContainerCountryfilterMarketplace" class="tag-container"></div>
                        </iron-pages>

                        </div>
                    </div>

                <!-- NO BORRAR prueba de checkbox en lugar de circulo -->
                <!-- <div class="row">
                    <div class="col-xs-12">
                        <paper-checkbox id="ownerIchemCheckbox"
                                        class="orange truncate"
                                        on-tap="_checkTap"></paper-checkbox>

                        <span class="truncate">Mine</span>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-xs-12" style="margin-top:10px; margin-bottom:10px">
                        <span style="margin-left: 33px; font-weight:200; font-size:15px;
                            margin-right: 16px;">Mine</span>
                        <paper-radio-button id="ownerIchemCheckbox"></paper-radio-button>

                    </div>
                </div>
                <paper-menu id="idTest"
                            class="list"
                            attr-for-selected="data-route"
                            selected="99">


                    <!-- <paper-item>
                        <span style="margin-left: 18px;
                            margin-right: 19px;">Mine</span>
                        <paper-radio-button id="ownerIchemCheckbox"></paper-radio-button>
                    </paper-item> -->

                    <a data-route="99" href="/marketplace/cat/0"><paper-item>
                        <div class="hidebar"></div> <span>All</span> </paper-item></a>

                    <template is="dom-repeat" items="{{categories}}">
                        <a data-route$="{{index}}" href="/marketplace/cat/[[item.ca_id]]"><paper-item class="item-relative">
                            <div class="hidebar">
                            </div> <span>[[item.ca_name]]</span>
                            <badge-notification type$={{_getTypeBadge(item.ca_id)}}></badge-notification>
                        </paper-item></a>
                    </template>
                </paper-menu>
            </section>

            <section data-route="settings">
                <paper-menu
                        class="list"
                        attr-for-selected="data-route"
                        selected="{{route_settings}}">

                    <a data-route="general" href="/settings"><paper-item>
                        <div class="hidebar"></div> <span>General</span> </paper-item></a>

                    <!--<a data-route="social" href="/settings.social"><paper-item>-->
                        <!--<div class="hidebar"></div> <span>Social Media</span> </paper-item></a>-->

                    <!-- <a data-route="notifications" href="/settings.notifications"><paper-item>
                        <div class="hidebar"></div> <span>Auto Email</span> </paper-item></a> -->

                    <!--<a data-route="payments" href="/settings.payments"><paper-item>-->
                        <!--<div class="hidebar"></div> <span>Payments</span> </paper-item></a>-->

                    <!--<a data-route="personal" href="/settings.personal"><paper-item>-->
                        <!--<div class="hidebar"></div> <span>Personalization</span> </paper-item></a>-->

                    <paper-item class="logout" on-tap="_logout">
                        <div class="hidebar"></div>
                        <span>Logout </span>
                        <iron-icon class="logout-icon"
                                   icon="in-icon-set:power-settings-new"></iron-icon></paper-item>

                </paper-menu>
            </section>

            <section data-route="ngo">
                <paper-menu
                        class="list"
                        attr-for-selected="data-route"
                        selected="filter1">

                    <a data-route="filter1" href="/"><paper-item>
                        <div class="hidebar"></div> <span>Filter 1</span> </paper-item></a>

                    <a data-route="filter2" href="/"><paper-item>
                        <div class="hidebar"></div> <span>Filter 2</span> </paper-item></a>
                </paper-menu>
            </section>

            <section data-route="connect">
                <left-menu-connect id="menuConnect" route="{{route}}" filter="{{filter}}"></left-menu-connect>
            </section>

        </iron-pages>


    </template>
    <script>

        (function () {
            'use strict';

            Polymer({
                is: 'left-menu',
                properties: {
                    route: {
                        type: String,
                        observer: "_routeChanged"
                    },
                    filterMessage: {
                        type: String,
                        notify: true
                    },
                    countryPages:{
                        type: Number,
                        value:0,
                        notify: true
                    }
                },

                attached: function(){
                    this.countries = app.getCountriesComboList();
                },

                _logout: function(){
                    app.logout();
                },

                buttonTapHandler: function (e) {
                    var prevNav = e.target.parentNode.getElementsByClassName('row selected')[0];
                    if (prevNav) {
                        var prevSpan = prevNav.querySelector('span');
                        var prevDiv = prevNav.querySelector('div');
                        prevSpan.className = "style-scope left-menu";
                        prevDiv.setAttribute("hidden", true);
                        prevNav.className = "row style-scope left-menu";
                    }
                    var container = e.target.querySelector('div');
                    var span = container.querySelector('span');
                    var div = container.querySelector('div');
                    span.className = "selectedNav style-scope left-menu";
                    div.removeAttribute("hidden");
                    container.className = "row style-scope left-menu selected";
                    var joutureApp = document.querySelector('#app');
                    joutureApp.onDataRouteClick();
                },
                _routeChanged: function () {
                    if (this.route === 'marketplace' && !this.categories ) {
                        this.$.ajaxCategories.url = app.apinode+'/marketplace/categories';
                        this.$.ajaxCategories.generateRequest();
                    }
                },
                _categoriesCallback: function(){
                    console.log(this.categories);
                    // setTimeout(function(){
                    //     var expertNotification = document.querySelector('#expert');
                    //     expertNotification.showNotifications();
                    // }.bind(this),500);
                },
                _getTypeBadge: function(val){
                    return parseInt(val)+199;
                }
            });
        })();
    </script>

</dom-module>
