<link rel="import" href="../../../bower_components/paper-badge/paper-badge.html">

<dom-module id="discussion-panel">
    <template>

        <style>
            :host {
                @apply(--font-jouture);
            }
            iron-icon {
                --iron-icon-width: var(--location-icon-width);
            }
            .journalist-name {
                @apply(--small-text-highlighted);
                margin-bottom: 10px;
                cursor: pointer;
            }
            .discussion-title {
                font-size:20px;
                font-weight:300;
            }
            .discussion-date,
            .discussion-location {
                @apply(--very-small-text);
                @apply(--truncate-text);
                margin-bottom: 10px;
                color: var(--dark-primary-color);
            }
            .discussion-summary {
                @apply(--small-text);
                margin-bottom: 10px;
            }
            .discussion-tags {
                @apply(--very-small-text);
                text-transform: uppercase;
                margin-bottom: 10px;
                text-align: left !important;
            }
            paper-button.tag:hover {
              background: #fbe7b1;
            }
            paper-button.tag {
                padding: 0;
                margin: 0;
            }
            .pic-journalist {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 0px 1px 3px #555;
                cursor: pointer;
            }
            .box {
                @apply(--card-light);
                margin-top:32px;
                padding-top: 50px;
                padding-bottom: 20px;
                border-radius: 5px;
            }
            .follow-button {
                @apply(--very-small-text);
            }
            .counter {
                @apply(--very-small-text-highlighted);
            }
            .counter > paper-icon-button {
                color: var(--black-color);
            }
            .discussion-text {
                margin-top: 10px;
            }
            .pin-text, pinned-text {
                font-size: var(--small-text);
                padding: 0;
                margin: 0;
            }
            .pinned-text {
                color: var(--accent-color);
            }
            .truncate {
                @apply(--truncate-text);
            }
            .tags {
                @apply(--very-small-text);
                text-transform:uppercase;
                border: 1px solid var(--light-primary-color);
                padding: 2px 3px;
                margin: 0;
                color: #555;
            }

            @media all and (min-width: 75em) {
                .discussion-title {
                    margin-bottom: 10px;
                }
            }
            @media all and (max-width: 64em) {
                .discussion-title {
                    font-size: 18px !important;
                    margin-bottom: 20px;
                }
            }
            @media all and (max-width: 48em) {
                .pin-position{
                    right: 30px;
                    top: -10px;
                }
                .discussion-title{
                    font-size: 18px !important;
                }
            }


        </style>

        <iron-ajax id="ajaxPin" method="POST" with-credentials>
        </iron-ajax>

        <div class="row discussion-title">
            <div class="col-xs-11 col-md-10 col-md-offset-1">
                <span id="discussionTitle"></span>
            </div>

            <div class="col-xs-1" style="text-align:center;">
                <iron-pages id="pinPages" selected="{{item.pinned}}">
                    <div on-tap="_pinTapHandler">
                        <paper-icon-button class="pin-icon pin-position" src="/images/icons/pin.svg"></paper-icon-button>
                    </div>
                    <div on-tap="_unpinTapHandler">
                        <paper-icon-button class="pin-icon pin-position" src="/images/icons/pinned-active.svg"></paper-icon-button>
                    </div>
                </iron-pages>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-2 col-md-1" style="text-align:center;">
                <img class="pic-journalist" src="[[picurl]]" on-tap="_onTapJournalist">
            </div>

            <div class="col-xs-10 col-md-11">

                <div class="row between-xs">
                    <div class="col-xs">
                        <span class="journalist-name" on-tap="_onTapJournalist">{{item.name}}</span>
                        <span class="discussion-date" id="discussionDate">{{_computeDate(item.timestamp)}}</span>
                    </div>
                </div>

                <!-- <span class="discussion-date">Investigative journalist, photo journalist</span> <br> -->
                <span class="discussion-date">{{item.user_location}}</span> <br>

            </div>

            <div class="col-xs-12 col-md-11 col-md-offset-1">

                <div class="row start-xs discussion-text">
                    <div class="col-xs-12 discussion-summary" id="discussionText"></div>
                </div>


                <div class="row" style="margin-top:10px; margin-bottom:10px;">
                  <div class="col-xs-12">
                    <template is="dom-repeat" items="{{_splitTags(item.tags)}}">

                      <paper-button class="tags">[[item]]</paper-button>

                    </template>
                  </div>
                </div>


                <div class="row">
                    <span id="countUp" on-tap="_voteUp" class="counter">
                        <paper-icon-button id="icon-vote-up" class="" icon="in-icon-set:expand-less"></paper-icon-button>[[item.votesUp]]</span>
                    <span id="countDown" on-tap="_voteDown" class="counter">
                        <paper-icon-button id="icon-vote-down" class="" icon="in-icon-set:expand-more"></paper-icon-button>[[item.votesDown]]</span>
                </div>


            </div>

        </div>

<!-- </div>
</div> -->


    </template>
</dom-module>

<script type="text/javascript">

    HTMLImports.whenReady(function () {
        'use strict';
        Polymer({
            is: 'discussion-panel',
            properties: {
                reload: {
                    type: Boolean,
                    value: false
                },
                url: {
                    type: String
                },
                picurl: {
                    type: String
                },
                followLabel: {
                    type: String,
                    notify: true
                }
            },
            domReady: function () {
                //this.$.badgeFollowers.updatePosition();
            },

            setData: function(data){
                this.set('item', data);
                this.set('picurl', app.apinode + '/images/get.picture/mini/' + this.item.picture);

                // set the text as HTML to render <br>
                this.$.discussionTitle.innerHTML = this.item.title;
                this.$.discussionText.innerHTML = this.item.text;

                if (this.item && this.item.id) {
                    this._logReadActivity();
                }
            },

            _logReadActivity: function(){

                var objects_id = JSON.stringify(this.item.id);
                var details = [this.item.text, this.item.title];
                var userData = {
                    users_id: this.item.user_id,
                    users_name: this.item.name,
                    users_pic: this.item.picture
                };
                app.logActivity(app.constants.DISCUSSION_READ, objects_id, details, userData);
            },

            _onTapJournalist: function(){
                page("/profile/" + this.item.user_id);
            },

            _computeDate: function(date){
                var objDate = new Date(date);
                var app = document.querySelector('#app');
                return app.timeConverter(Number(objDate)/1000, 'long');
            },

            _voteDown: function(e){

                if(this.item.isVotingDown){
                    return true;
                }

                var newValue = this.item.votesDown+1;
                this.set('item.votesDown', newValue);
                this.set('item.isVotingDown', true);

                if(this.item.isVotingUp){
                    newValue = this.item.votesUp-1;
                    this.set('item.votesUp', newValue);
                    this.set('item.isVotingUp', false);
                }

                const params = { 'id':this.item.id };
                const ajaxGlobal = document.querySelector('#ajaxGlobal')
                ajaxGlobal.url = app.apinode + '/discussions/votedown';
                ajaxGlobal.body = JSON.stringify(params);
                ajaxGlobal.parentNode.ajaxResponse = function(e){

                    //data for the activity log
                    var objects_id = JSON.stringify(this.item.id);
                    var details = [this.item.text, this.item.title];
                    var userData = {
                        users_id: this.item.user_id,
                        users_name: this.item.name,
                        users_pic: this.item.picture
                    };
                    app.logActivity(app.constants.DISCUSSION_POST_DOWN, objects_id, details, userData);

                }.bind(this);

                ajaxGlobal.generateRequest();
            },

            _voteUp: function(){

                if(this.item.isVotingUp){
                    return;
                }
                var newValue = this.item.votesUp+1;
                this.set('item.votesUp', newValue);
                this.set('item.isVotingUp', true);

                if(this.item.isVotingDown){
                    newValue = this.item.votesDown-1;
                    this.set('item.votesDown', newValue);
                    this.set('item.isVotingDown', false);
                }

                const params = {'id':this.item.id};
                const ajaxGlobal = document.querySelector('#ajaxGlobal')
                ajaxGlobal.url = app.apinode + '/discussions/voteup';
                ajaxGlobal.body = JSON.stringify(params);
                ajaxGlobal.parentNode.ajaxResponse = function(e){

                    //data for the activity log
                    var objects_id = JSON.stringify(this.item.id);
                    var details = [this.item.text, this.item.title];
                    var userData = {
                        users_id: this.item.user_id,
                        users_name: this.item.name,
                        users_pic: this.item.picture
                    };
                    app.logActivity(app.constants.DISCUSSION_POST_UP, objects_id, details, userData);

                }.bind(this);

                ajaxGlobal.generateRequest();
            },

            _pinTapHandler: function(e){

                this._stopEvent(e);
                //prevent pin twice
                if(this.item.pinned == 1) return true;

                this.set('item.pinned', 1);
                var target = e.currentTarget;
                var pages = target.parentNode;
                pages.select(1);

                this._pin(e, 'pin');
            },

            _unpinTapHandler: function(e){

                this._stopEvent(e);
                //prevent unpin twice
                if(this.item.pinned == 0) return true;

                this.set('item.pinned', 0);
                var target = e.currentTarget;
                var pages = target.parentNode;
                pages.select(0);

                this._pin(e, 'unpin');
            },

            _pin: function(e, methodToCall){

                //data for the activity log
                var objects_id = JSON.stringify(this.item.id);
                var details = this.item.title;
                var userData = {
                    users_id: this.item.user_id,
                    users_name: this.item.name,
                    users_pic: this.item.picture
                };

                /* Manage response to log activity */
                if(methodToCall === 'pin'){
                    app.logActivity(app.constants.DISCUSSION_PIN, objects_id, details, userData);
                    this.$.ajaxPin.url = app.apinode + '/discussions/pin';

                }else{
                    app.logActivity(app.constants.DISCUSSION_UNPIN, objects_id, details, userData);
                    this.$.ajaxPin.url = app.apinode + '/discussions/unpin';
                }

                var params = {id:this.item.id};
                this.$.ajaxPin.body = JSON.stringify(params);
                this.$.ajaxPin.generateRequest();
            },

            _stopEvent: function(e){
                e.stopPropagation();
                e.preventDefault();
                if (e.gesture) e.gesture.stopPropagation();
                if (e.gesture) e.gesture.preventDefault();
            },

            _splitTags: function(objectTags){
                return Object.keys(objectTags).map(function(val) { return val });
            }

        });

    });



</script>
