<link rel="import" href="../../../bower_components/recaptcha/re-captcha.html">

<dom-module id="password-reset">

    <template>
        <style is="custom-styles" include="landing-styles">
            :host {
                display: block;
            }

            .secondary-text-container,
            .content-text-container{
                margin-bottom: 10px;
            }

            .guide-title{
                @apply(--big-text);
                color: var(--accent-color);
                text-transform: capitalize;
            }

            .secondary-text{
                @apply(--medium-text)
            }

            .content-text{
                @apply(--big-text);
                text-align: left;
            }

            .help-action{
                color: var(--accent-color);
            }
            .help-action:hover{
                cursor: pointer;
            }

            .password-input-container{
                margin-top: 60px;
            }

            .cancel-button{
                width: 164px !important;
                text-transform: capitalize !important;
                color: var(--paper-blue-grey-900);
                --action-button:{
                    background-color: var(--paper-blue-grey-500);
                }
            }

        </style>
        <div class="row">

            <div class="col-xs-12 guide-text-container">
                <span class="guide-title ">Password reset</span>
            </div>

        </div>

        <iron-pages id="resetPasswordPages" attr-for-selected="section-selected" selected="valid-code">

            <section section-selected="valid-code">
                <div class="row">

                    <div id="noSent" class="col-xs-12 content-text-container">

                        <span class="content-text ">Hey {{params.user}}, let's reset your password !</span>
                    </div>

                    <div class="col-xs-12 secondary-text-container">
                        <span class="secondary-text ">Please type at least eight characters,
                            one or more uppercase and one or more numbers</span>
                    </div>


                </div>

                <div class="row password-input-container">

                    <div class="col-xs-12">

                        <in-password-input required
                                           auto-validate
                                           pattern="(?=^.{8,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                           error-message="Please, enter 1 uppercase, 1 number, 8 characters at least."
                                           id="newPasswordInput"
                                           label="New Password"></in-password-input>

                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 ">

                        <paper-button id="savePasswordButton"
                                      disabled
                                      on-tap="_onSavePasswordButtonTap"
                                      class="landing-buttons"
                                      raised>Recover</paper-button>

                    </div>
                </div>

                <div class="row center-xs" style="margin-top:10px;">
                    <div class="col-xs-2">
                        <paper-spinner class="login-spinner"  id="spinner"></paper-spinner>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 ">
                        <paper-button id="buttonCancel" on-tap="_cancel" class="cancel-button">CANCEL</paper-button>
                    </div>
                </div>

            </section>

            <section section-selected="invalid-code">

                <div  class="col-xs-12 content-text-container">

                    <span class="content-text ">Sorry {{params.user}}, your link code is expired.</span>
                </div>

                <div id="sent" class="col-xs-12 secondary-text-container">
                    <span on-tap="_onResendTap"  class="secondary-text help-action ">Resend email.</span>
                </div>

            </section>

            <section section-selected="password-saved">
                <div  class="col-xs-12 content-text-container">

                    <span class="content-text ">Password has been succesfully changed</span>
                </div>

                <div class="col-xs-12 secondary-text-container">
                    <span on-tap="_onGoLoginTap"  class="secondary-text help-action ">Go to login.</span>
                </div>

            </section>

            <section section-selected="email-sent">
                <div class="col-xs-12 secondary-text-container">
                    <span class="content-text ">Email Sent, <br/> please check your inbox.</span>
                </div>
            </section>

        </iron-pages>

        <iron-ajax id="ajaxChangePass"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-error="_ajaxChangePassErrorCallback"
                   last-response = {{changePasswordResponse}}
                   on-response = "_ajaxChangePassCallback"></iron-ajax>


        <iron-ajax id="ajaxValidateCode"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-error="_ajaxValidateCodeErrorCallback"
                   on-response = "_ajaxValidateCodeCallback"></iron-ajax>

        <iron-ajax id="ajaxSaveNewPassword"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-error="_ajaxSaveNewPasswordErrorCallback"
                   on-response = "_ajaxSaveNewPasswordCallback"></iron-ajax>

    </template>

    <script>
        Polymer({
            is: "password-reset",


            properties: {
                isValidPassword: {
                    type: Boolean,
                    value: false,
                },
                selectedPage: {
                    type: String,
                    value: "valid-code"
                }

            },

            listeners:{
                'newPasswordInput.iron-input-validate':'_onValidatePassword'
            },

            observers:[
                '_onLandingRouteChange(routeLanding)'
            ],

            _onValidatePassword: function (e) {

                this.isValidPassword = !e.target.invalid && this.$.newPasswordInput.value;
                this._toggleButton();
            },

            _onLandingRouteChange: function () {
                if (this.routeLanding !== 'password-reset') {
                    return;
                }

                this._checkValidityCode();
            },

            _checkValidityCode: function () {
                dialogSpinner.open();
                var params ={
                    code: this.params.code,
                    email: this.params.email
                };

                this.$.ajaxValidateCode.url = app.apinode + "/login/validate.password.recovery";
                this.$.ajaxValidateCode.body = JSON.stringify(params);
                this.$.ajaxValidateCode.generateRequest();
            },

            _ajaxValidateCodeCallback: function () {
                dialogSpinner.close();
            },

            _ajaxValidateCodeErrorCallback: function () {
                dialogSpinner.close();
                this.$.resetPasswordPages.selected = "invalid-code";
            },

            _onSavePasswordButtonTap: function () {

                dialogSpinner.open();

                var params ={
                    code: this.params.code,
                    email: this.params.email,
                    password: this.$.newPasswordInput.value
                };

                this.$.ajaxSaveNewPassword.url = app.apinode + "/login/change.password.recovery";
                this.$.ajaxSaveNewPassword.body = JSON.stringify(params);
                this.$.ajaxSaveNewPassword.generateRequest();
            },

            _ajaxSaveNewPasswordCallback: function () {
                dialogSpinner.close();
                this.$.resetPasswordPages.selected = "password-saved";            },

            _ajaxSaveNewPasswordErrorCallback: function () {
                dialogSpinner.close();
                console.error('Error al cambiar el pass');
            },

            _enableButton: function () {
                this.$.savePasswordButton.className =
                    this.$.savePasswordButton.className.replace('disabled-button','landing-buttons');

                this.$.savePasswordButton.removeAttribute('disabled');
            },

            _disableButton: function () {
                this.$.savePasswordButton.className =
                    this.$.savePasswordButton.className.replace('landing-buttons','disabled-button');

                this.$.savePasswordButton.setAttribute('disabled', true);
            },

            _toggleButton: function () {

                if(this.isValidPassword ){
                    this._enableButton();
                }else{
                    if(!this.$.savePasswordButton.disabled){
                        this._disableButton();
                    }

                }
            },

            _onResendTap: function () {


                dialogSpinner.open();
                var objParams = {
                    email: this.params.email
                };
                this.$.ajaxChangePass.url =  app.apinode + "/login/request.password.recovery";
                this.$.ajaxChangePass.body = JSON.stringify(objParams);
                this.$.ajaxChangePass.generateRequest();
            },

            _ajaxChangePassCallback: function () {
                this.$.resetPasswordPages.selected = "email-sent";

            },
            _onGoLoginTap: function () {
                page('/login');
            }

        });

    </script>

</dom-module>
