<dom-module id="badge-notification">
    <template>
        <style>
            :host{

            }
            .badge{
                opacity: 1;
                background-color: var(--accent-color);
                color: white;
                height: 14px !important;
                border-radius: 50px;
                font-size: 11px;
                font-weight: bold;
                padding: 1px;
                display: flex;
                flex-direction: column;
                position:absolute;
                line-height:normal;
                padding-right: 5px;
                padding-left: 5px;
            }
            .header{
                right: 5px;
                top: 5px;
            }
            .message{
                right: 15px;
                bottom: 10px;
            }
        </style>
        <template  is="dom-if" if="{{quantity}}">
            <div id="divBadge"
                 class$="{{_classBadge()}}">{{quantity}}
            </div>
        </template>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'badge-notification',
                properties: {
                    quantity: {
                        type: Number,
                        value: 0
                    },
                    type: {
                        type: Number,
                        value: 0
                    },
                    position: {
                        type: String,
                        value: "header"
                    }
                },
                _classBadge: function(){
                    if(this.position == "header"){
                        return "badge header center-xs";
                    }
                    if(this.position == "message"){
                        return "badge message center-xs";
                    }

                    return "badge header center-xs";

                }
            });
        })();
    </script>
</dom-module>
