<link rel="import" href="../../../../bower_components/left-swipe-action/left-swipe-action.html">
<link rel="import" href="../../../../bower_components/left-swipe-action/left-swipe-action-button.html">

<dom-module id="language-add">
    <template>
        <style is="custom-styles" include="shared-styles">

            :host {
                display: block;
                margin-bottom: 30px;
            }
            .swipe-action {
                background-color: #FAFAFA !important;
                height: 100px;
            }
            .swipe-font {
                font-size: 0.5em !important;
            }
            .exp-language-container{
                margin-top: 18px;
                margin-bottom: 20px;
            }
            .laguage-title-selected {
                @apply(--medium-text-highlighted);
                color: var(--primary-text-color)!important;
                text-transform: capitalize;
                z-index: 10;
                margin: 40px 0;
            }

            .laguage-title-edited {
                @apply(--medium-text-highlighted);
                margin-top: 30px;
                text-transform: capitalize;
                z-index: 10;
            }
            .language-edited-expertise{
                margin-bottom: 30px;
            }

            paper-icon-button.save-language-icon{
                color: var(--paper-green-700);
                background-color: transparent;
                width: 45px;
                height: 45px;
                margin-top: 27px;
                z-index: 10;
                /*margin-left: -88px;*/
                margin-left: -60px;
            }
            paper-icon-button.close-modal-icon {
                color: var(--paper-red-700);
                background-color: transparent;
                z-index: 10;
            }
            .left-swipe-action {
                height: 100px;
            }
            .row-selected-language {
                height: 100px;
            }
            .edition-buttons {
                padding-bottom: 30px !important;
            }

        </style>


                <div class="row" style="margin:0px">
                    <div class="col-xs-12 " style="padding:0px">

                        <left-swipe-action
                            id="swipeLanguage"
                            class="left-swipe-action"
                            nodrag
                            offset="{{sliderOffset}}">

                            <div class="row">

                                <div class="col-xs-12 language-container" id="languageContainer">

                                    <!-- <div> -->
                                        <template is="dom-if" if="{{editing}}">

                                            <div class="row middle-xs row-selected-language">

                                                <div class="col-md-offset-4 col-md-4">
                                                    <div class="laguage-title-edited">{{language}}</div>
                                                    <div class="language-edited-expertise">{{expertiseTag}}</div>
                                                </div>

                                                <div class="col-md-4 edition-buttons">

                                                    <paper-icon-button
                                                        class="save-language-icon"
                                                        on-up="_saveLanguague"
                                                        icon="in-icon-set:done"></paper-icon-button>

                                                </div>
                                            </div>
                                        </template>

                                        <template is="dom-if" if="{{!editing}}">
                                            <div class="row middle-xs row-selected-language">
                                                <div class="col-xs-12">
                                                    <div class="laguage-title-selected">{{language}}</div>
                                                </div>
                                            </div>
                                        </template>

                                </div>

                            </div>

                            <left-swipe-action-button id="leftSwipeActionButton" class="swipe-action">

                                <div  class="row">

                                    <div class="col-xs-12 exp-language-container">

                                        <neon-animated-pages
                                            class="expertice-text swipe-font"
                                            id="expertiseTags"
                                            selected="[[expertise]]"
                                            entry-animation="fade-in-animation"
                                            exit-animation="fade-out-animation">

                                            <neon-animatable>
                                                <div>Beginner</div>
                                            </neon-animatable>

                                            <neon-animatable>
                                                <div>Intermediate</div>
                                            </neon-animatable>

                                            <neon-animatable>
                                                <div>Expert</div>
                                            </neon-animatable>

                                        </neon-animated-pages>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <paper-slider id="expertiseSlider"
                                                      max="100"
                                                      value="{{expertisePercent}}"></paper-slider>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 swipe-font">
                                        <div>Slide to select your proficiency</div>
                                    </div>
                                </div>


                            </left-swipe-action-button>

                        </left-swipe-action>
                    </div>
                </div>


        <iron-ajax
            id="ajaxLanguageSave"
            method="POST"
            with-credentials
            handle-as="json"
            on-response="_languageSaveCallback"></iron-ajax>


    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'language-add',

                properties: {
                    expertise: {
                        type: Number,
                        value: 0,
                        notify: true
                    },
                    language:{
                        observer:'_languageChange',
                        notify:true
                    },
                    editing:{
                        type: Boolean,
                        value: false,
                        notify: true
                    }
                },

                listeners:{
                    'expertiseSlider.value-change': '_onExpertiseValueChange'
                },

                attached: function () {

                    this.addEventListener('swipe-transition', function(e){

                        if(e.detail.isOpen){

                            //Agregar un margin al texto cuando se abre para que quede centrado
                            var widthDialog = document.querySelector('#languageDialog').offsetWidth;
                            // 24 marginLeft + 24 margin-right + 16 margin-right (8+8 inner margins) = 64
                            var innerWidth = widthDialog - 64;
                            var marginLeft = innerWidth/2/2;

                            //Add language labe a margin to be centered when the swipe is opened
                            document.querySelector('#languageContainer').style.opacity = '0.1';
                            document.querySelector('#languageContainer').style.marginLeft =  marginLeft + 'px';
                            app.fadein(document.querySelector('#languageContainer'));

                            //Aumentar el z-index del slider para que no quede detras del swipe
                            document.querySelector('#leftSwipeActionButton').style.zIndex = 100;

                            //Hide edition buttons
                            if(document.querySelector('.edition-buttons')){
                                document.querySelector('.edition-buttons').style.display = 'none';
                            }

                        }else{
                            //take slider back to the swipe
                            document.querySelector('#leftSwipeActionButton').style.zIndex = 0;
                            //remove the margin of the language label, using fadein effect
                            document.querySelector('#languageContainer').style.opacity = '0.1';
                            document.querySelector('#languageContainer').style.marginLeft =  0 + 'px';
                            app.fadein(document.querySelector('#languageContainer'));

                            //Show edition buttons - its a dom if, ask for null
                            if(document.querySelector('.edition-buttons')){
                                document.querySelector('.edition-buttons').style.display = 'block';
                            }
                        }


                    });


                    /*Evento que se dispara cuando se desliza el elemento paper-slider*/
                    this.addEventListener('immediate-value-change', function (e) {

                        /*LLamo a función que asigna una etiqueta en función del desplazamiento
                         * del slide*/
                        this._dinamicLabel(e.target.immediateValue);
                    }.bind(this));

                    /*Evento que se dispara cuando se deja de deslizar el elemento paper-slide*/
                    this.addEventListener('value-change', function (e) {

                        if(parseInt(e.target.value) < 5)
                            return false;

                        var swipeLanguage = document.querySelector('#swipeLanguage');
                        this.set('expertisePercent', e.target.value);
                        // this.set(['lenguageArray.#0', 'language'], this.language);

                        if(swipeLanguage.open == true){
                            var self = this;
                            setTimeout(function () {
                                swipeLanguage.toggleOpen();
                                this.set('editing', true);
                            }.bind(this), 400);
                        }
                    }.bind(this))
                },

                init: function(){
                    this.set('editing', false);
                    this.set('expertise', 0);
                    this.set('expertisePercent', 0);
                    this.set('expertiseTag', "Beginner");
                    this.set('language', '');
                },

                _languageChange: function() {

                    if(this.language == null || this.language == '')
                        return;

                    //Set the dialog swipe offset regarding to the dialog width
                    var widthDialog = document.querySelector('#languageDialog').offsetWidth;
                    var innerWidth = widthDialog - 48;
                    var offsetSwipe = innerWidth/2;

                    if(parseInt(offsetSwipe) > 0){
                        this.sliderOffset = offsetSwipe;
                    }else{
                        this.sliderOffset = 276;
                    }

                    setTimeout(function(){

                        document.querySelector('#swipeLanguage').toggleOpen();

                    }, 800);

                },

                _dinamicLabel: function (value) {

                    if(value > 0 && value <= 33){
                        this.set('expertise', 0);
                        this.set('expertiseTag', "Beginner");
                    }

                    if(value > 33 && value <= 66){
                        this.set('expertise', 1);
                        this.set('expertiseTag', "Intermediate");
                    }

                    if(value > 66 && value <= 101){
                        this.set('expertise', 2);
                        this.set('expertiseTag', "Expert");
                    }
                },

                /**
                 * Funcion para guardar un nuevo lenguaje
                 * @param e evento generado por la llamada a la función
                 * @private
                 */
                _saveLanguague: function (e) {

                    app.stopPropagation(e);

                    if(this.expertisePercent < 5){
                        return false;
                    }

                    this.$.ajaxLanguageSave.url = app.apinode + "/tags/save.expertise";
                    const params = {
                        type: app.constants.TAG_TYPE_LANGUAGE,
                        tag: this.language,
                        expertise: this.expertisePercent
                    };
                    this.$.ajaxLanguageSave.body = JSON.stringify(params);
                    this.$.ajaxLanguageSave.generateRequest();

                    /*cierro el dialog de seleccion de nuevo idioma*/
                    document.querySelector('#languageDialog').close();
                },

                /*call back de llamada ajax que guarda el nuevo idioma*/
                _languageSaveCallback: function () {
                    this.fire('language-saved');
                    app.logActivity(app.constants.PROFILE_ADD_LANGUAGE, null, this.language);
                },

                _onExpertiseValueChange: function (e) {
                    console.log('cambio value');
                    this._dinamicLabel(e.target.value);
                }
            });
        })();
    </script>
</dom-module>
