<link rel="import" href="../../../bower_components/paper-drawer-panel/paper-drawer-panel.html">

<link rel="import" href="../left-menu/left-menu.html?v1.47">
<link rel="import" href="../../feed/feed-main/feed-main.html?v1.41">
<link rel="import" href="../../message/message-main/message-main.html?v1.06">

<dom-module id="main-content">

    <template>
    <style>
    :host {
        /*display: block;*/
        transition: all 0.3s;
    }
    iron-pages {
        height: 100%;
    }
    /*section {
        height: 100%;
    }*/
    .main-container {
        margin-left: 6px;
        height: 100%;
    }
    paper-drawer-panel{
        @apply(--paper-drawer-panel-drawer-container);
        box-sizing: content-box;
    }
    .content-top-margin {
        margin-top: 34px;
    }
    .left-menu {
        margin-top: 80px;
    }
    .left-menu-subheader {
        margin-top: var(--header-height-content);
    }
    .main-scroll-subheader {
        margin-top: var(--header-height-content) !important;
    }
    .main-scroll{
        margin-top: 51px;
        overflow-x: hidden;
        overflow-y: overlay;
        margin-right: 2px;
    }
    .main-scroll::-webkit-scrollbar{
        width: 5px;
        background: #DDD;
        background: -webkit-linear-gradient(left,#FFF,#FFF, #DDD, #FFF,#FFF); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Firefox 3.6 to 15 */
        background: linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* Standard syntax */
    }
    .main-scroll::-webkit-scrollbar-thumb{
        border-radius: 5px;
        background: #DDD;
        background: -webkit-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Firefox 3.6 to 15 */
        background: linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* Standard syntax */
    }
    .main-scroll:hover::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--accent-color);
    }
    .profile-section{
        background-color: var(--body-background-color) ;
    }

    @media all and (max-width: 48em) {
        .main-scroll:hover::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0);
        }
        .main-scroll{
            margin-right: 0px;
        }
        .main-scroll::-webkit-scrollbar{
            width: 5px;
            background: rgba(255, 255, 255, 0);
        }
        .main-scroll::-webkit-scrollbar-thumb{
            border-radius: 5px;
            background: rgba(255, 255, 255, 0);
        }
        .main-container {
            /*margin: 0px !important;*/
        }
    }

    </style>

    <paper-drawer-panel
    drawer-width="160px"
    id="paperDrawerPanel">

    <!--filterJournalist-->

        <div drawer fixed>
            <left-menu id="leftMenu"
                       class="left-menu left-menu-subheader"
                       badges="{{badges}}"
                       params="{{params}}"
                       filter="{{filter}}"
                       route="{{routeSelected}}"
                       route_settings="{{route_settings}}"
                       route_resource="{{route_resource}}"></left-menu>
        </div>
        <!-- Main Area -->
        <div fixed main class="main-scroll main-scroll-subheader" id="mainScroll">
            <!--<div fixed main>-->
            <!-- Main Content -->
            <div id="mainContainer" class="main-container">
                <iron-pages attr-for-selected="data-route" selected="{{routeSelected}}">

                    <section data-route="resource">
                        <resource-main id="resource"></resource-main>
                    </section>

                    <section data-route="discussion">

                        <discussion-main id="discussion"
                                         route_discussion="{{route_discussion}}"
                                         filter="{{filter}}"></discussion-main>
                    </section>

                    <section data-route="project">
                        <project-main id="project"
                                      filter="{{filter}}"
                                      route_project="{{route_project}}"></project-main>
                    </section>

                    <section data-route="profile" class="profile-section" id="sectionProfile">

                        <profile-main id="profile"
                                      route_profile="{{route_profile}}"></profile-main>

                    </section>

                    <section data-route="settings" class="content-top-margin">
                        <settings-main id="settings"
                                       route_settings="{{route_settings}}"></settings-main>
                    </section>

                    <section data-route="connect">

                        <connect-main id="connect"
                                      filter="{{filter}}"></connect-main>

                    </section>

                    <section data-route="marketplace">

                        <marketplace-main id="marketplace"
                                          route_marketplace="{{route_marketplace}}"
                                          filter="{{filter}}"></marketplace-main>

                    </section>

                    <section data-route="message" id="sectionMessage">
                        <message-main id="message"
                                      route_message="{{route_message}}"></message-main>
                    </section>

                    <section data-route="notification">
                        <notification-main id="notification"></notification-main>
                    </section>

                    <section data-route="dashboard">
                        <dashboard-main id="dashboard"></dashboard-main>
                    </section>

                    <section data-route="feed">
                        <feed-main route="{{route}}" id="feed"></feed-main>
                    </section>


                </iron-pages>
            </div>
        </div>
    </paper-drawer-panel>
</template>


<script>

(function () {
    'use strict';
    Polymer({
        is: 'main-content',
        properties: {
        },
        behaviors: [RoutingBehavior],
    });
})();


</script>

</dom-module>
