<link rel="import" href="../../in/in-tag/in-tag.html">

<dom-module id="project-list">
    <template>

        <style include="shared-styles">
            :host {
            @apply(--font-jouture);
            }
            .name-text {
            @apply(--very-small-text-highlighted);
            }
            .title-text {
            @apply(--medium-text);
            }
            .secondary-text {
            @apply(--very-small-text);
                margin-top: 5px;
            }
            .date {
            @apply(--very-small-text);
                color: #BEBEBE !important;
            }
            .location {
                color: #BEBEBE !important;
            @apply(--very-small-text);
            }
            .tags {
            @apply(--very-small-text);
                text-transform:none;
                border: 1px solid var(--light-primary-color);
                padding: 2px 3px;
                margin: 0;
            }
            iron-icon {
                --iron-icon-width: var(--location-icon-width);
                color: var(--dark-primary-color);
                margin-bottom: 4px;
            }
            .pin-icon {
                /*margin-top: -16px !important;*/
                height: 24px !important;
                width: 24px !important;
                padding: 0px;
            }
            .showme {
                opacity: 0;
                z-index:1000;
                position:absolute;
                top: 4px !important;
                width: 20%;
                margin-top: 3px;
            }
            .item:hover .showme{
                opacity: 1;
                -webkit-transition: visibility 0s, opacity 0.15s linear;
                -moz-transition: visibility 0s, opacity 0.15s linear;
                -ms-transition: visibility 0s, opacity 0.15s linear;
                -o-transition: visibility 0s, opacity 0.15s linear;
                transition: visibility 0s, opacity 0.15s linear;

            }
            .item:hover .hideme{
                opacity: 0;
            }
            .fab-add {
                @apply(--float-action-button);
            }
            iron-list {
                background-color: white;
                overflow-y: hidden;
                padding-top: var(--content-padding-top);
            }
            .item {
                padding: 15px 25px 10px 20px;
                /*//background-color: #FAFAFA;*/
                margin-bottom: 2px;
                /*//border: solid 1px var(--item-border-color);*/
                -webkit-font-smoothing: antialiased;
            }
            .item:focus {
                outline: 0;
            }
            :not(.new).item:hover{
                /*//background-color: #EEEEEE;*/
                background-color: #FAFAFA;
            }
            .new{
                /*//background-color: var(--light-primary-color);*/
                /*//background-color: #F0F0F0;*/
            }
            .unread{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: var(--accent-color);
                position: absolute;
                top: 20px;
                left: 7px;
            }
            .hidden{
                display: none;
            }
            .truncate {
                /*white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;*/
                word-wrap: break-word;
            }
            .pic-journalist {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
            }
            paper-dialog {
                width:800px;
                max-height: 500px;
                background-color: #FFF;
            @apply(--small-text);
            }
            .button-follow {
                margin-right: 0 ;
            }
            .pin-text, pinned-text {
                font-size: var(--small-text);
                padding: 0;
                margin: 0;
            }
            .pinned-text {
                color: var(--accent-color);
            }
            .new-discussion-dialog {
                margin: 30px;
            }
            .new-discussion-buttons {
                margin-bottom: 30px;
                margin-right: 30px;
                text-align: right;
            }
            .home-rules {
            @apply(---small-text);
            }
            .show-mobile {
                margin-top: 12px;
                display: none;
            }
            .hide-mobile {
                display: flex;
            }
            .edit-discussion-button{

            }

            @media all and (max-width: 64em) {
                .show-mobile {
                    display: flex;
                }
                .hide-mobile {
                    display: none;
                }
            }

            @media all and (max-width: 48em) {
                .pic-journalist {
                    width: 38px;
                    height: 38px;
                }
                .title-text {
                @apply(--small-text);
                }
            }



        </style>

        <iron-ajax
                id="ajaxTags"
                method="GET"
                with-credentials
                bubbles
                last-response="{{tagsResponse}}"
                on-response="_tagsCallback">
        </iron-ajax>

        <iron-ajax
                id="ajaxJson"
                method="GET"
                with-credentials
                bubbles
                handle-as="json"
                on-response="_jsonCallBack">
        </iron-ajax>

        <iron-ajax
                id="ajaxSave"
                method="POST"
                with-credentials
                handle-as="json"
                bubbles
                on-response="_saveCallBack"></iron-ajax>

        <iron-ajax
                id="ajaxSaveTag"
                method="POST"
                with-credentials
                bubbles
                handle-as="json"></iron-ajax>

        <iron-pages id="pages" selected="{{pageSelected}}">

            <section></section>
            <iron-list id="list" items="[[items]]" as="item" index-as="dis" style="padding-bottom:100px;">
                <template>
                    <div class="row start-xs">
                        <div class="col-lg-11 col-md-11 col-xs-12">
                            <div class$="{{_classItem(item.isRead)}}" bindex="0" on-tap="_markAsReadNotification">
                                <a href$="{{_computeUrlDetail(item)}}">
                                    <div class="row start-xs middle-xs">
                                        <div class="col-xs-2 col-md-1" style="text-align: center; position: relative">
                                            <img class="pic-journalist" src="{{computeImage(item.picture)}}">
                                            <div class$="{{_classPoint(item.isRead)}}"></div>
                                        </div>
                                        <div class="col-xs-10 col-md-11">
                                            <div class="row">
                                                <div class="col-xs-9 col-lg-10">
                                                    <div class="row">
                                                        <div class="col-xs">
                                                            <span class="name-text"> [[item.name]] </span>
                                                            <span class="date"> &nbsp; Started on {{_computeDate(item.timestamp)}} </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 title-text truncate">[[item.title]]</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 location truncate">
                                                            [[item.location]]
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-3 col-lg-2">

                                                    <div class="row end-xs">

                                                        <div class="col-xs-5" style="text-align:right">

                                                            <template is="dom-if" if="{{verifyOwnership(item.user_id)}}">
                                                                <paper-icon-button on-tap="_onEditDiscussionButtonTap"
                                                                                   dis-id="[[item.uuid]]"
                                                                                   class="edit-discussion-button"
                                                                                   icon="in-icon-set:create"></paper-icon-button>
                                                            </template>

                                                        </div>

                                                        <div class="col-xs-4 secondary-text" style="text-align:right">
                                                            <iron-icon class="icon-comment" src="/images/icons/comment-o.svg">
                                                            </iron-icon>
                                                            &nbsp; [[item.replies]]
                                                        </div>

                                                        <!-- <div class="col-xs-3 secondary-text" style="text-align:right">
                                                            <iron-pages id="pinPages" selected="{{item.isPinned}}">
                                                                <div on-tap="_pinTapHandler">
                                                                </div>
                                                                <div on-tap="_unpinTapHandler">
                                                                    <paper-icon-button alt="Pinned" class="pin-icon" src="/images/icons/pinned-active.svg"></paper-icon-button>
                                                                </div>
                                                            </iron-pages>
                                                        </div> -->
                                                    </div>


                                                    <div class="row end-xs hide-mobile">
                                                        <div class="col-xs-12">
                                                            <template is="dom-repeat" items="{{_splitTags(item.tags)}}">

                                                                <paper-button on-tap="_tagTapHandler" class="tags">[[item]]</paper-button>

                                                            </template>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row show-mobile">
                                                <div class="col-xs-12">
                                                    <template is="dom-repeat" items="{{_splitTags(item.tags)}}">

                                                        <paper-button on-tap="_tagTapHandler" class="tags">[[item]]</paper-button>

                                                    </template>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                            </div>
                            </a>

                        </div>
                    </div>

                </template>
            </iron-list>

        </iron-pages>

        <paper-fab id="fabAddDiscussion"
                   title="Create Post"
                   icon="in-icon-set:add"
                   class="button-animated fab-add"
                   elevation="3"
                   on-tap="_addDiscussion"></paper-fab>




        <div class="row middle-xs empty-state-box" id="searchEmptyState" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <img class="empty-state-image" src="/images/emptystates/empty_discussion.jpg">
                <br/>
                <br/>
                <span>Sorry {{userName}}, you are not a member</span>
                <br/>
                <span>of any newsrooms, yet.</span>
                <br/>
                <span>Try creating one, clicking on the (+) button</span>
            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="recentEmptyState" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <img class="empty-state-image" src="/images/emptystates/empty_discussion.jpg">
                <br/>
                <br/>
                <span>Sorry {{userName}}, you are not a member</span>
                <br/>
                <span>of any newsrooms, yet.</span>
                <br/><br/>
                <span>Try creating one, by clicking on the (+) button.</span>
            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="popularEmptyState" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <img class="empty-state-image" src="/images/emptystates/empty_discussion.jpg">
                <br/>
                <br/>
                <span>Sorry {{userName}}, We couldn’t find what</span>
                <br/>
                <span>you were looking for.</span>
                <br/>
                <span>Try a different search combination?</span>
            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="pinnedEmptyState" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <img class="empty-state-image" src="/images/emptystates/empty_discussion_pinned.jpg">
                <br/>
                <br/>
                <span>{{userName}}, you didn’t pin any discussion</span>
                <br/>
                <span>posts. Stay updated on the discussions you</span>
                <br/>
                <span>want to follow by pinning posts.</span>

                <br/>
                <br/>

                <span>Go back to the discussion board and pin</span>
                <br/>
                <span>some posts.</span>
            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="followingEmptyState" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <img class="empty-state-image" src="/images/emptystates/empty_discussion_following.jpg">
                <br/>
                <br/>
                <span>Looks like you’re not following any</span>
                <br/>
                <span>journalists that post in the Discuss tab.</span>

                <br/>
                <br/>

                <span>Go back to the Collaborate tab and follow</span>
                <br/>
                <span>some journalists</span>

            </div>
        </div>

        <div class="row middle-xs empty-state-box" id="mineEmptyState" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <img class="empty-state-image" src="/images/emptystates/empty_discussion_mine.jpg">
                <br/>
                <br/>
                <span>You’re missing out on our crowd sourcing</span>
                <br/>
                <span>approach to discussions.</span>

                <br/>
                <br/>

                <span>Click on that orange (+) button on the</span>
                <br>
                <span>bottom right page to start conversing with</span>
                <br>
                <span>everyone on Jouture!</span>
            </div>
        </div>

    </template>
</dom-module>

<script type="text/javascript">

    HTMLImports.whenReady(function (){

        Polymer({
            is: 'project-list',
            behaviors: [ajaxBehavior],
            properties: {
                pageSelected:{
                    value: 1
                },
                tags: {
                    type: Array,
                    notify: true
                },
                newTag:{
                    type: String,
                    notify: true,
                },
                selectedTags: {
                    type: Array,
                    notify: true
                },
                items: Array,
                reload: {
                    type: Boolean,
                    value: true
                },
                params: {
                    type: Object,
                    observer: "_orderList"
                },
                filter: {
                    type: String,
                    observer: "_filterList"
                },
                EMPTY_STATE:{
                    type:String,
                    value:'EmptyState'
                }

            },
            ready: function(){

                this.userName = app.session.getName();
                this.user = session.getUser();
            },

            _computeUrlDetail: function(item){
                var date = new Date(item.timestamp);
                var timestamp = Number(date);
                return '/project/item/'+item.uuid+'/'+timestamp;
            },

            _tagTapHandler: function (e) {
                this._stopEvent(e);
                // var tagName = e.model.__data__.item;
                // this.$.ajaxJson.url = app.apinode + '/discussions/tag.'+tagName ;
                // this.$.ajaxJson.generateRequest();
            },

            // _pinTapHandler: function (e) {
            //
            //     this._stopEvent(e);
            //     //prevent pin twice
            //     if (e.model.__data__.item.isPinned === '1')
            //         return true;
            //
            //     e.model.__data__.item.isPinned === '1';
            //     var target = e.currentTarget;
            //     var pages = target.parentNode;
            //     pages.select('1');
            //
            //     this._pin(e, 'pin');
            // },

            // _unpinTapHandler: function (e) {
            //
            //     this._stopEvent(e);
            //     //prevent unpin twice
            //     if (e.model.__data__.item.isPinned === '0')
            //         return true;
            //
            //     e.model.__data__.item.isPinned === '0';
            //     var target = e.currentTarget;
            //     var pages = target.parentNode;
            //     pages.select('0');
            //
            //     this._pin(e, 'unpin');
            // },

            // _pin: function (e, methodToCall) {
            //
            //     var discussionID = e.model.__data__.item.dis_id;
            //
            //     var ajaxGlobal = document.querySelector('#ajaxGlobal');
            //     ajaxGlobal.url = app.apiphp+"/main/discussions";
            //     ajaxGlobal.method = "POST";
            //     ajaxGlobal.params = {method: methodToCall, discussion: discussionID};
            //
            //     /* Manage response to log activity */
            //     if(methodToCall === 'pin'){
            //
            //         ajaxGlobal.parentNode.ajaxResponse = function(e){
            //             if (e.detail.response.status === 200) {
            //                 app.logActivity(app.constants.DISCUSSION_PIN, discussionID);
            //             }
            //         }.bind(this);
            //
            //     }else{
            //
            //         ajaxGlobal.parentNode.ajaxResponse = function(e){
            //             if (e.detail.response.status === 200) {
            //                 app.logActivity(app.constants.DISCUSSION_UNPIN, discussionID);
            //             }
            //         }.bind(this);
            //     }
            //
            //     ajaxGlobal.generateRequest();
            // },

            _splitTags: function (objectTags) {
                return Object.keys(objectTags).map(function(val) { return val });
            },

            computeImage: function (fileName) {
                fileName = fileName || 'default';
                return app.apinode + "/images/get.picture/mini/" + fileName;
            },

            _addDiscussion: function () {
                page('/project/new');
            },

            _jsonCallBack: function (e) {

                if(!e.detail.response || e.detail.response.length === 0){
                    this._showEmptyState();
                }else{
                    this._hideEmptyState();
                }

                var sortedList = e.detail.response.sort(function(a, b) {
                    var aDate = new Date(a.timestamp).getTime();
                    var bDate = new Date(b.timestamp).getTime();
                    return  bDate - aDate;
                });

                this.set('items', sortedList);
                this.$.list.style.height = '100%';

                setTimeout(function () {
                    this.$.list.fire('iron-resize');
                }.bind(this), 400);


                dialogSpinner.close();
            },

            _showEmptyState: function () {

                if (this.$[this.emptyState]) {
                    this.$[this.emptyState].style.display = 'block';
                    this.$[this.emptyState].style.opacity = 1;

                }
            },

            _hideEmptyState: function () {

                if (this.$[this.emptyState]) {
                    this.$[this.emptyState].style.display = 'none';
                    this.$[this.emptyState].style.opacity = 0;
                }
            },

            _filterList: function () {

                // Verify that the list is beign shown
                if (app.route !== 'project' && app.route_project !== 'list') {
                    return true;
                }

                if (this.filter.length == 0){
                    // this._orderList();
                    return true;
                }

                this._hideEmptyState();
                this.emptyState = 'search' + this.EMPTY_STATE;
                // dialogSpinner.open();
                // this.$.ajaxJson.url = app.apinode + '/discussions/search.' + this.filter;
                // this.$.ajaxJson.generateRequest();
            },

            _orderList: function () {

                if (app.route !== 'project' || app.route_project !== 'list')
                    return true;

                dialogSpinner.open();
                this._hideEmptyState();
                this.emptyState = this.params.order + this.EMPTY_STATE;

                this.$.ajaxJson.url = app.apinode + '/projects/' + this.params.order;
                this.$.ajaxJson.generateRequest();
            },

            _computeDate: function (date) {
                var app = document.querySelector('#app');
                var timestamp = new Date(date).getTime()/1000;
                return app.timeConverter(timestamp, 'short');
            },

            _stopEvent: function (e) {
                e.stopPropagation();
                e.preventDefault();
                if (e.gesture)
                    e.gesture.stopPropagation();
                if (e.gesture)
                    e.gesture.preventDefault();
            },

            _classPoint: function(isRead){

                if(!isRead)
                    return "unread";

                return "hidden";
            },

            _classItem: function(isRead){

                if(!isRead)
                    return " new item ";

                return " item ";
            },

            _markAsReadNotification: function(e){
                //
            },

            _onEditDiscussionButtonTap: function (e) {
                dialogSpinner.open();
                e.preventDefault();
                var uuid = e.model.__data__.item.uuid;
                var timestamp = e.model.__data__.item.timestamp;
                timestamp = Number(new Date(timestamp));
                page("/project/edit/" + uuid +'/'+ timestamp);
            },

            verifyOwnership: function (userId) {

                if(userId == this.user){
                    return true;
                }
                return false;
            },
        });
    });

</script>
