<dom-module id="embassy-list">
    <template>

        <style include="shared-styles">

            vaadin-grid style-scope vaadin-grid-cell span {
                overflow: visible !important;
                text-overflow: inherit !important;
                word-wrap: break-all !important;
                white-space: normal !important;
            }
            .vaadin-grid-0 .vaadin-grid-cell.vaadin-grid {
                word-wrap: break-word !important;
                overflow: visible !important;
            }
            .v-table-cell-content .v-table-cell-break-word{
                word-wrap: break-word !important;
                overflow: visible !important;
            }
            .cell-text {
                white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                white-space: pre-wrap;       /* css-3 */
                word-wrap: break-word;       /* Internet Explorer 5.5+ */
                white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
                word-break: break-all;
                white-space: normal;
            }
            .table-header {
                padding-left: 32px;
                @apply(--medium-text);
            }
            .combo-countries {
                display: inline-block;
            }
            .detail-dialog > *{
                margin-top: 0;
            }
            .detail-dialog {
                background-color: var(--item-background-color);
                padding: 24px;
            }
            .grid-list {
                --vaadin-grid-row-height : 75px;
                --vaadin-grid-header-row-height: 1px;
                --primary-color: var(--accent-color);
                --vaadin-grid-row-cell:{
                    /*font-size:15px!important;*/
                    font-weight:300!important;
                    /*box-sizing:content-box;*/
                };
            }
            .grid-list /deep/ ::-webkit-scrollbar {
                width: 4px !important;
                height: 4px !important;
            }
            .grid-list /deep/ ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 3px;
            }
            .grid-list /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--accent-color);
            }
            .detail-title {
                @apply(--medium-text);
                color: var(--accent-color);
            }
            .detail-info {
                @apply(--small-text);
            }
            .bold {
                font-weight: 400 !important
            }
            .close-button-top {
                right: -17px;
                top: -15px;
                color: var(--disabled-text-color);
            }
            .icon-close-container {
                text-align: right;
            }
            .header-dialog {
                height: 25px;
            }
            .table-title {
                float: left;
                padding-top: 28px;
                margin-right: 14px;
            }

            @media (max-width: 48em) {
                .close-button-top{
                    right: 0;
                }
                .table-title{
                    padding-left: 0;
                    padding-top: 0;
                }
                .grid-list {
                    --vaadin-grid-row-cell: {
                        padding-left: 16px;
                    };
                }
                .detail-dialog{
                    margin-left: 0;
                    margin-right: 0;
                }
                .table-title{
                    float: none;
                    padding-top: 32px;
                    margin-right: 14px;
                    padding-left: 8px
                }
            }

            @media (min-width: 47em) {

                .detail-dialog {
                    min-width: 1394px;
                }
            }
        </style>



        <div class="row start-xs" style="margin-bottom:10px;">
            <div class="col-xs-5 table-header">
                <div class="table-title">Embassies Information : </div>
                <div>
                    <in-combo-box id="country_embassy"   style="margin-top:-10px;"
                                  class="combo-countries"
                                  label="From"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{ajaxCountriesOriginResponse}}"></in-combo-box>
                </div>
            </div>
            <div class="col-xs table-header">
                <div>
                    <in-combo-box id="country_base"   style="margin-top:-10px;"
                                  class="combo-countries"
                                  label="Located in"
                                  item-label-path="{{label}}"
                                  item-value-path="{{value}}"
                                  items="{{ajaxCountriesResidentResponse}}"></in-combo-box>
                </div>
            </div>
        </div>


        <div class="row middle-xs empty-state-box" id="emptyBox" style="display:none">
            <div class="col-xs-12 col-md-10" style="text-align:center">
                <br/>
                <br/>
                <span>No Results</span>
                <br/>
                <br/>
                <span>Change the country to view other Embassy information.</span>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-11">

                <vaadin-grid id="embassyList" items="{{items}}" class="grid-list">
                    <table>
                        <colgroup>
                            <col name="em_address">
                            <col name="em_details">
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="6"
                                style="box-sizing:content-box;" >
                            </th>
                        </tr>
                        </thead>

                    </table>
                </vaadin-grid>
            </div>
        </div>



        <paper-dialog id="embassyDetailDialog"
                      modal
                      class="detail-dialog">

            <div class="row start-xs header-dialog">
                <div class="col-xs-11 col-md-4 detail-title">
                    {{selectedItem.em_address}} &nbsp {{selectedItem.em_city}}
                </div>

                <div class="col-xs-1 col-md-1 col-md-offset-7 icon-close-container">
                    <paper-icon-button id="closeDialogButton"
                                       class="close-button-top"
                                       icon="in-icon-set:highlight-off"
                                       on-tap="_tapCloseIcon"
                                       dialog-confirm></paper-icon-button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-md-4 detail-info"><span class="bold">Detail : </span> {{selectedItem.em_details}}</div>
                <div class="col-xs-12 col-md-4 detail-info"><span class="bold">Email : </span>{{selectedItem.em_email}}</div>
                <div class="col-xs-12 col-md-4 detail-info"><span class="bold">Phones : </span>{{selectedItem.em_phone}}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-md-4 detail-info"><span class="bold">Fax : </span>{{selectedItem.em_fax}}</div>
                <div class="col-xs-12 col-md-4 detail-info"><span class="bold">Website : </span>{{selectedItem.em_website}}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 detail-info"><span class="bold">Office Hours : </span>{{selectedItem.em_office_hours}}</div>
            </div>
            <br>
        </paper-dialog>


        <iron-ajax
                id="ajaxCountriesOrigin"
                with-credentials
                last-response="{{ajaxCountriesOriginResponse}}"
                method="GET">
        </iron-ajax>

        <iron-ajax
                id="ajaxCountriesResident"
                with-credentials
                last-response="{{ajaxCountriesResidentResponse}}"
                method="GET">
        </iron-ajax>


        <iron-ajax id="ajax_result"
                   with-credentials
                   on-response="handleAjaxResult"
                   method="GET">
        </iron-ajax>



    </template>
</dom-module>

<script type="text/javascript">

    HTMLImports.whenReady(function () {

        Polymer({
            is: 'embassy-list',
            behaviors: [ajaxBehavior],
            properties: {
                sel_country_embassy: String,
                sel_country_base: String,
                items: {
                    type: Array
                },
                reload: {
                    type: Boolean,
                    value: true
                },
                route_resource: {
                    type: String,
                    observer: "_routeChanged"
                }
            },
            attached: function(){

                this.$.country_embassy.addEventListener('selected-item-changed', function (e) {
                    if(!e.detail.value) return;
                    this.sel_country_embassy = e.detail.value.value;
                    this.sel_country_embassy_label = e.detail.value.label;

                    if(this.sel_country_base){
                        this._searchInfo();
                    }
                }.bind(this));

                this.$.country_base.addEventListener('selected-item-changed', function (e) {
                    if(!e.detail.value) return;
                    this.sel_country_base = e.detail.value.value;
                    this.sel_country_base_label = e.detail.value.label;
                    this._searchInfo();
                }.bind(this));

                // this.$.embassyList.cellClassGenerator = function(cell) {
                //     return 'cell-text';
                //     // if (cell.index == 2) {
                //     //     var activity = cell.row.data[2];
                //     //     return 'activity-' + activity.toLowerCase();
                //     // }
                // };
                this.$.embassyList.addEventListener('selected-items-changed', function () {

                    var selected = this.$.embassyList.selection.selected();
                    if (selected.length == 1) {
                        this._showDialog(selected[0]);
                    }
                }.bind(this));

                this.$.embassyList.style.height = (app.getHeight() - 180) + 'px';
            },

            _searchInfo: function(){

                dialogSpinner.open();
                this.$.ajax_result.url = app.apinode + '/resources/get.embassies/' + this.sel_country_embassy + '/' + this.sel_country_base ;
                this.$.ajax_result.generateRequest();
            },

            handleAjaxResult: function(e){
                dialogSpinner.close();
                this.items = e.detail.response;
                this._emptyState();
            },

            _routeChanged: function(){

                if(this.route_resource === 'embassy'){

                    this.$.ajaxCountriesOrigin.url = app.apinode + "/resources/get.embassy.countries";
                    this.$.ajaxCountriesOrigin.generateRequest();

                    this.$.ajaxCountriesResident.url = app.apinode + "/resources/get.embassy.countries";
                    this.$.ajaxCountriesResident.generateRequest();
                }
            },

            _showDialog: function (row_index) {

                this.$.embassyList.getItem(row_index, function(error, item) {
                    if (!error) {
                        this.$.embassyDetailDialog.open();
                        this.set('selectedItem', item);
                    }
                }.bind(this));
            },

            _emptyState: function(){

                if(this.items.length === 0){
                    this.$.emptyBox.style.display = 'block';
                    this.$.emptyBox.style.opacity = 1;
                    this.$.embassyList.style.display = 'none';
                    return;
                }
                this.$.emptyBox.style.display = 'none';
                this.$.emptyBox.style.opacity = 0;
                this.$.embassyList.style.display = 'block';
            },

        });


    });







</script>
