<dom-module id="in-tutorial">
    <template>
        <style include="shared-styles">

            :host{
                opacity: 0;
            }
            .title{
                @apply(--medium-text);
                line-height: 130%;
                margin-top: 35px;
                color: #555;
                font-weight: 400 !important;
            }
            .detail{
            @apply(--small-text);
                line-height: 130%;
                color: #444;
            }
            #leftPanel, #rightPanel, #topPanel, #bottomPanel{
                transition: all 0.5s;
                z-index: 10000000000;
                position: fixed;
                background: #000;
                opacity: 0.6;
            }
            #leftPanel{
                top: 0;
                bottom: 0;
                width: 0;
                left: 0;
            }
            #rightPanel{
                top: 0;
                bottom: 0;
                width: 0;
                right: 0;
            }
            #topPanel{
                top: 0;
                height: 0;
                right: 0;
                left: 0;
            }
            #bottomPanel{
                height: 0px;
                bottom: 0;
                right: 0;
                left: 0;
            }
            #tutorialMessage{
                z-index: 10000000001;
                position: fixed;
                top: -200px;
                left: -300px;
                width: 500px;
            }
            .card-content{
                align-content: center;
                padding-top: 20px;
            }
            .button-next {
                margin-top: 10px;
                background-color: var(--accent-color);
                color: #FFF;
                border-radius: 8px;
                text-transform: none;
            }
            paper-icon-button{
                border-radius: 50%;
                width: 9px;
                height: 9px;
                padding: 1px;
                margin: 20px 15px 15px 15px;
            }
            #tutorialMessage{
                transition: all 0.5s;
            }
            .logo{
                height: 50px;
            }

        </style>

        <div id="leftPanel"></div>
        <div id="rightPanel"></div>
        <div id="topPanel"></div>
        <div id="bottomPanel"></div>

        <paper-card id="tutorialMessage">
            <div class="card-content" align="center">
                <div id="logoContainer">
                    <img class="logo" src="../../../images/kulectiv%20small.png">
                </div>

                <span id="tutorialTitle" class="title"></span>
                <br/>
                <br/>
                <span id="tutorialDetail" class="detail">
                </span>
            </div>
            <div  align="center">
                <paper-button id="tutorialButton" class="button-next" on-tap="_next"></paper-button>
                <div class="row">
                    <div id="iconsContainer" class="col-xs-12 nav-buttons-container">

                    </div>
                </div>
            </div>

        </paper-card>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'in-tutorial',

                properties: {

                    stepNumber: {
                        type: Number,
                        value: 0
                    },
                    tutorialStep: {
                        type: Array,
                        value: []
                    }

                },

                _getQuadrant: function(rect, windowDimension){

                    var middleWidth  = rect.left + (( rect.right - rect.left )/2);
                    var middleHeight = rect.top  + (( rect.bottom - rect.top )/2);

                    var isTopQuadrant = middleHeight < windowDimension.height/2;
                    var isLeftQuadrant = middleWidth < windowDimension.width/2;

                    var quadrant = 0;

                    if( isTopQuadrant && isLeftQuadrant){
                        quadrant = 1;
                    }else if(isTopQuadrant && !isLeftQuadrant){
                        quadrant = 2;
                    }else if( !isTopQuadrant && !isLeftQuadrant){
                        quadrant = 3;
                    }else{
                        quadrant = 4;
                    }
                    return quadrant;

                },
                _selectElement: function(rect, windowDimension){

                    if(!rect){

                        this.$.leftPanel.style.width = windowDimension.width/2 - 5 + "px";
                        this.$.leftPanel.style.top = windowDimension.height/2 - 5 + "px";
                        this.$.leftPanel.style.bottom = windowDimension.height/2 - 5 + "px";

                        this.$.rightPanel.style.width = windowDimension.width/2 - 5 + "px";
                        this.$.rightPanel.style.top = windowDimension.height/2 - 5 + "px";
                        this.$.rightPanel.style.bottom = windowDimension.height/2 - 5 + "px";

                        this.$.topPanel.style.height = windowDimension.height/2 - 5 + "px";
                        this.$.bottomPanel.style.height = windowDimension.height/2 - 5 + "px";

                    }else{

                        var margin = {top: 0, right: 0, bottom: 0, left: 0};

                        var m = this.tutorialStep[this.stepNumber].margin;

                        if(m){

                            margin.top = m.top ? m.top : 0;
                            margin.right = m.right ? m.right : 0;
                            margin.bottom = m.bottom ? m.bottom : 0;
                            margin.left = m.left ? m.left : 0;

                        }

                        var lw = rect.left > margin.left ? rect.left - margin.left : 0;

                        var rw = windowDimension.width > (rect.right + margin.right) ?
                                    windowDimension.width - rect.right - margin.right : 0;

                        var lt = rect.top > margin.top ? rect.top - margin.top : 0;

                        var lb = windowDimension.height > (rect.bottom  + margin.bottom) ?
                                    windowDimension.height - rect.bottom  - margin.bottom : 0;

                        var rt= rect.top > margin.top ? rect.top - margin.top : 0;

                        var rb= windowDimension.height > (rect.bottom + margin.bottom) ?
                                    windowDimension.height - rect.bottom - margin.bottom : 0;

                        var th = rect.top > margin.top ? rect.top - margin.top : 0;

                        var bh = windowDimension.height > (rect.bottom + margin.bottom) ?
                                    windowDimension.height - rect.bottom - margin.bottom : 0;

                        this.$.leftPanel.style.width    = lw + "px";
                        this.$.rightPanel.style.width   = rw + "px";
                        this.$.leftPanel.style.top      = lt + "px";
                        this.$.leftPanel.style.bottom   = lb + "px";
                        this.$.rightPanel.style.top     = rt + "px";
                        this.$.rightPanel.style.bottom  = rb + "px";
                        this.$.topPanel.style.height    = th + "px";
                        this.$.bottomPanel.style.height = bh + "px";

                    }
                },

                _showMessage: function(quadrant, rect){

                    var mssgTop  = 0;
                    var mssgLeft = 0;

                    var rectMssg = this.$.tutorialMessage.getBoundingClientRect();
                    var mssgHeight = rectMssg.height;
                    var mssgWidth = rectMssg.width;
                    this.$.logoContainer.style.display="none";


                    if (this.tutorialStep[this.stepNumber].position) {

                        if (app.mobile && this.tutorialStep[this.stepNumber].selector == "main") {
                            this.$.tutorialMessage.style.top  = "150px";
                        }else {
                            this.$.tutorialMessage.style.top  = this.tutorialStep[this.stepNumber].position.top + "px";
                        }
                        if (app.mobile) {
                            this.$.tutorialMessage.style.left = "0px";
                        }else {
                            this.$.tutorialMessage.style.left = this.tutorialStep[this.stepNumber].position.left + "px";
                        }

                        return;
                    }

                    switch (quadrant){
                        case 0:
                            mssgTop  = (rect.height/2) - (mssgHeight/2);
                            mssgLeft = (rect.width/2) - (mssgWidth/2);
                            this.$.logoContainer.style.display="block";
                            break;
                        case 1:
                            mssgTop  = rect.bottom + 20;
                            mssgLeft = rect.left + 20;
                            break;
                        case 2:
                            mssgTop  = rect.bottom + 20;
                            mssgLeft = rect.right - 20 - mssgWidth;
                            break;
                        case 3:
                            mssgTop  = rect.top - 20 - mssgHeight;
                            mssgLeft = rect.right - 20 - mssgWidth;
                            break;
                        case 4:
                            mssgTop  = rect.top - 20 - mssgHeight;
                            mssgLeft = rect.left + 20;
                            break;
                    }

                    if (this.tutorialStep[this.stepNumber].selector == "main" && app.mobile) {
                        this.$.tutorialMessage.style.top  = "150px";
                    }else {
                        this.$.tutorialMessage.style.top  = mssgTop+"px";
                    }
                    if (app.mobile) {
                        this.$.tutorialMessage.style.left = "0px";
                    }else {
                        this.$.tutorialMessage.style.left = mssgLeft+"px";
                    }

                },

                _tutorial: function(selector){

                    var w = window.innerWidth;
                    var h = window.innerHeight;
                    var windowDimension = { height: h, width: w };

                    if(selector == "main"){

                        this._selectElement(0, windowDimension);
                        this._showMessage(0, windowDimension);
                        return;

                    }
                    var element = document.querySelector(selector);
                    if(!element){
                        return;
                    }
                    var rect = element.getBoundingClientRect();

                    this._selectElement(rect, windowDimension);
                    var quadrant = this._getQuadrant(rect, windowDimension);

                    this._showMessage(quadrant, rect);
                },

                _next: function(){

                    if( this.stepNumber == this.tutorialStep.length ){
                        this._finish();
                        return;
                    }

                    if(this.stepNumber){
                        this.querySelector("#progressStep"+(this.stepNumber-1)).style.background = "#aaaaaa";
                    }

                    this.$.tutorialTitle.innerHTML = this.tutorialStep[this.stepNumber].title;
                    this.$.tutorialDetail.innerHTML = this.tutorialStep[this.stepNumber].description;
                    this.$.tutorialButton.innerHTML = this.tutorialStep[this.stepNumber].button;

                    this._tutorial(this.tutorialStep[this.stepNumber].selector);
                    this.querySelector("#progressStep"+this.stepNumber).style.background = "#FC7108";

                    this.stepNumber++;
                },

                _finish: function(){

                    this.style.opacity = "0";

                    this.$.leftPanel.style.left = "-2000px";
                    this.$.rightPanel.style.right = "-2000px";
                    this.$.topPanel.style.top = "-2000px";
                    this.$.bottomPanel.style.bottom= "-2000px";
                    this.$.tutorialMessage.style.top = "-2000px";

                    this.tutorialStep = [];
                },

                start: function(){

                    if (this.tutorialStep.length < 1) {
                        return;
                    }

                    this.$.leftPanel.style.left = "0px";
                    this.$.rightPanel.style.right = "0px";
                    this.$.topPanel.style.top = "0px";
                    this.$.bottomPanel.style.bottom= "0px";
                    this.$.tutorialMessage.style.top = "0px";

                    if (app.mobile) {
                        this.$.tutorialMessage.style.maxWidth = "100%";
                    }


                    this.stepNumber = 0;

                    this.style.opacity = "1";
                    var content = "";

                    for( var i  = 0; i < this.tutorialStep.length; i++ ){

                        content += "<paper-icon-button id=progressStep"+i+
                        " style='border-radius: 50%; width: 9px; height: 9px; padding: 1px; " +
                        " margin: 20px 15px 15px 15px; " +
                        "background-color: #aaaaaa;'></paper-icon-button>";
                    }

                    this.$.iconsContainer.innerHTML = content;
                    this._next();
                },

                setMainTutorial: function () {

                    this.tutorialStep = [
                        {
                            selector: "main",
                            title: "Welcome Kulectiv",
                            description: "Before we get started, let's show you around",
                            button: "Next",
                            margin:{top:0, bottom:0}
                        },

                        {
                            selector: "#homeTutorial",
                            title: "Create news feed based on your preferences",
                            description: "All recommended results and actions will be displayed here",
                            button: "Next",
                            margin:{top:1, bottom:1}
                        },

                        {
                            selector: "#subheader",
                            title: "Browse through modules to engage with the Kulectiv's community",
                            description: "You may create discussion posts, collaborate with other journalists, look" +
                            " through our resources and buy/sell gear",
                            button: "Next",
                            margin:{top:1, bottom:1}
                        },

                        {
                            selector: ".header-menu",
                            title: "Customize your profile",
                            description: "Updating your profile improves your recommendations",
                            button: "Next",
                            margin:{left: 60}
                        },

                        {
                            selector: "#fabDashboardHome",
                            title: "Earn badges and win points",
                            description: "Redeem points for prizes and giveaways",
                            button: "Next",
                            margin:{top:5, bottom:5,left:5,right:5}
                        },

                        {
                            selector: "main",
                            title: "Let's get started!",
                            description: "",
                            button: "Go to home page"
                        }
                    ];

                },

                setMessageTutorial: function () {

                    this.tutorialStep = [];
                    this.tutorialStep.push({
                            selector: "main",
                            title: "Welcome to the messages!",
                            description: "The messages section is where you can chat and collaborate with other journalists. Engage with journalists to get the ball rolling.",
                            button: "Next"
                    });
                    this.tutorialStep.push({
                        selector: "#buttonFab",
                        title: "Start a new conversation",
                        description: "Send a new message with a journalist you previously engaged with.",
                        button: "Next",
                        margin:{top:5, bottom:5,left:5,right:5}
                    });

                    var stepThread = {
                        selector: "#threadListDesktop",
                        title: "Your messages thread",
                        description: "Every conversation will be shown here",
                        button: "Next",
                        margin:{top:-6, bottom:0},
                        position:{left:675, top: 75}
                    };
                    if (app.mobile) {
                        stepThread.selector = "#threadListMobile";
                        stepThread.position = {left:0, top: 200};

                    }
                    this.tutorialStep.push(stepThread);

                    var stepHelp = {
                        selector: "#messageHelpButton",
                        title: "Help with messages",
                        description: "Click here if you would like to restart this tutorial",
                        button: "Next",
                    };

                    if (!app.mobile) {
                        this.tutorialStep.push(stepHelp);
                    }

                    this.tutorialStep.push({
                        selector: "main",
                        title: "Finished! Let’s start chatting",
                        description: "",
                        button: "Go to messages"
                    });

                },
            });
        })();
    </script>
</dom-module>
