<dom-module id="connect-journalist-item">
    <template>
        <style include="shared-styles">

            .item {
                @apply(--very-small-text);
                padding: 10px 10px 10px 10px;
                margin-bottom: 10px;
                margin-right: 5px;
                margin-left: 5px;
                -webkit-font-smoothing: antialiased;
                @apply(--divider-border-bottom);
            }
            .star{
                position: relative;
                top: 35px;
                right: -25px;
                width: 12px;
                height: 12px;
                border-radius: 12px;
                background-color: white;
                color: #F77517;
                z-index: 100;
            }
            .pic-journalist {
                position: relative;
                width: 50px;
                height: 50px;
                bottom:13px;
                right: 10px;
                border-radius: 50%;
                overflow: hidden;
            }
            div{
                word-wrap: break-word;
            }
            paper-icon-button{
                width: 30px;
                height: 30px;
                margin: 0;
                padding: 0;
            }
            .hidde{
                opacity: 0;
            }
            .show{
                opacity: 1;
            }
            .offers {
                margin-top: 0px;
            }
            .engagement-waiting {
                width:22px;
                height:22px;
                margin-left:4px;
                margin-top:4px;
                padding-left:2px;
            }
            .call-to-action {
                font-size: 13px;
                font-weight: 300;
            }
            .orange {
                color: var(--accent-color);
            }
            .match-text{
                @apply(--very-small-text)
            }
            .journalist-current-position{
                @apply(--very-small-text);
            }
            .journalist-formated-addres{
                @apply(--very-small-text);
            }
            .journalist-name-text{
                @apply(--small-text);
                color: var(--accent-color);
            }
            .action-buttons-container{
                margin-top: 15px;
                margin-bottom: 10px;
                height: 44px;
            }
            .call-to-action-container{
                cursor: pointer;
            }
            .button-container {
                text-align: center;
            }
            .icon-label {
                font-size:12px;
                font-weight:200;
                color: var(--black-light-color);
            }
            action {
                color: var(--accent-color);
            }
            .functions {
                height: 127px;
            }
            .action-message{
                text-align: left;
            }

            @media all and (max-width: 48em) {
                .offers {
                    margin-top:25px;
                }
                .item {
                    padding-bottom: 0;
                }
                .functions .row {
                    margin-bottom: 0;
                }
                b {
                    font-size: 16px;
                }
                .action-message{
                    text-align: center;
                }
            }
        </style>

        <div class="row item bottom-xs top-sm">

            <div class="col-md-2 col-xs-12 first-xs" style="padding: 0;margin: 0">

                <div class="row center-xs">
                    <div class="col-xs-12" on-tap="_goProfile" style="cursor: pointer; margin-top: 16px"  >
                        <iron-icon icon="stars" class$="{{_classStarred(item.isStarred)}}"></iron-icon>
                        <img class="pic-journalist" src$="{{_getProfilePicture(item.picture)}}">
                    </div>
                </div>

                <div class="row center-xs">
                    <div class="col-xs-12">
                        <span class="journalist-name-text"
                              style="cursor: pointer"
                              on-tap="_goProfile">[[item.name]]</span>
                    </div>
                </div>

                <div class="row center-xs">
                    <div class="col-xs-12">
                        <span class="journalist-formated-addres">[[item.location]]</span>
                    </div>
                </div>

                <div class="row center-xs">
                    <div class="col-xs-12">
                        <span class="journalist-current-position">[[item.position]]</span>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-5 col-md-offset-1 first-xs offers">
                <journalist-offers-requests array-offers="{{item.offers}}"
                                            array-requests="{{item.requests}}"></journalist-offers-requests>
            </div>

            <div class="functions col-md-4 col-xs-12 first-xs last-md xs">

                <div class="row start-xs call-to-action-container" on-tap="_onCallToActionTap">
                    <template is="dom-if" if="{{engageStatusReceived}}">
                        <div class="col-xs-12 action-message">
                            <span search-commonContections="{{_checkCommonConections(item.user_id)}}" class="call-to-action">
                                {{callToActionMessage}}
                            </span>
                            <span class="call-to-action orange">
                                {{callToActionMessageHighlighted}}
                            </span>
                        </div>
                    </template>
                </div>

                <div class="row start-xs action-buttons-container">

                    <div class="col-xs-4 col-md-3 button-container" is-engaged="{{_checkIsEngaged(item.user_id)}}">
                        <template is="dom-if" if="{{engageStatusReceived}}">

                            <div class="col-xs-12" style="margin-top:-1px">
                                <paper-icon-button title="Engage" data-attr="buttonEngage"
                                    on-tap="_onRequestEngageTap"
                                    src="{{_engageIconSource()}}"
                                    class$="{{_engageIconClass()}}"></paper-icon-button>
                            </div>
                            <!-- Engagement label -->
                           <div class="col-xs-12" style="margin-top:-5px;">
                               <span class="icon-label engage-icon-label">{{_engageIconLabel()}}</span>
                           </div>

                        </template>
                    </div>


                    <div class="col-xs-4 col-md-3 button-container">
                        <template is="dom-if" if="{{showReferIcon}}">
                            <!-- Referral Icon -->
                            <div class="col-xs-12" style="margin-top:-4px;">
                                <paper-icon-button title="Refer" on-tap="_onReferTap"
                                    src="/images/icons/refer.svg"></paper-icon-button>
                            </div>
                            <!-- Referral label -->
                           <div class="col-xs-12" style="margin-top:-1px;">
                               <span class="icon-label">Referral</span>
                           </div>

                        </template>
                    </div>


                    <div class="col-xs-4 col-md-3 button-container" is-following="{{_checkIsFollowing(item.user_id)}}">
                        <template is="dom-if" if="{{followStatusReceived}}" restamp="true">
                            <!-- Following Icon / label -->
                            <in-follow-button user="{{item}}"></in-follow-button>
                        </template>
                    </div>

                </div>

                <!-- <div class="row start-xs">
                    <div class="col-xs-12">
                        <span class="match-text">
                            57% Match<br> Based on preferences
                        </span>
                    </div>
                </div> -->

            </div>

        </div>

        <iron-ajax id="ajaxCountCommonConnections"
                   with-credentials
                   handle-as="json"
                   method="GET"
                   on-response="_countCommonConnectionsCallback"></iron-ajax>

       <iron-ajax id="ajaxIsFollowing"
                  with-credentials
                  handle-as="json"
                  method="GET"
                  on-response="_ajaxIsFollowingCallback"></iron-ajax>

      <iron-ajax id="ajaxIsEngaged"
                 with-credentials
                 handle-as="json"
                 method="GET"
                 on-response="_ajaxIsEngagedCallback"></iron-ajax>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'connect-journalist-item',

                properties: {
                    commonConections:{
                        type: Number,
                        notify:true
                    },
                    followStatusReceived: {
                        type:Boolean,
                        value:false,
                        notify:true
                    },
                    engageStatusReceived: {
                        type:Boolean,
                        value:false,
                        notify:true
                    },
                    showReferIcon: {
                        type:Boolean,
                        value:false,
                        notify:true
                    },
                    engageIconLabel: 'Engage'
                },

                listeners:{
                    'see-more-pressed': '_onSeeMoreOffersRequestPresed',
                },

                /*
                 * Cambiar el estado del icono y del binded item a waiting engage response
                 */
                engageRequested: function(){

                    this.item.engagement = {timestamp_requested: new Date()};

                    var buttonEngage = this.querySelector('paper-icon-button[data-attr="buttonEngage"]');
                    buttonEngage.src = '/images/icons/engage_waiting.png';
                    buttonEngage.className += ' engagement-waiting';
                    this.querySelector('.engage-icon-label').innerHTML = '';
                },

                follow: function(){

                },

                _classStarred: function (e) {
                    if (e) {
                        return "orange " +
                                "top-xs " +
                                "style-scope " +
                                "main-connect " +
                                "x-scope " +
                                "iron-icon-2 " +
                                "star " +
                                "show";
                    } else {
                        return "orange " +
                                "top-xs " +
                                "style-scope " +
                                "main-connect " +
                                "x-scope " +
                                "iron-icon-2 " +
                                "star " +
                                "hidde";
                    }
                },

                _setOpacityLabel: function (isFollowing) {

                    if(isFollowing){
                        return "opacity:1;";
                    }else{
                        return "opacity:0 important!;";
                    }
                },

                _getProfilePicture: function(picName){
                    return app.apinode + "/images/get.picture/mini/"+picName;
                },

                _goProfile: function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    if (e.gesture) e.gesture.stopPropagation();
                    if (e.gesture) e.gesture.preventDefault();

                    page("/profile.experience/"+ this.item.user_id);
                },

                _checkIsFollowing: function(userID){
                    this.set('followStatusReceived', false);
                    this.$.ajaxIsFollowing.url = app.apinode + "/journalists/isfollowing/" + userID;
                    this.$.ajaxIsFollowing.generateRequest();
                },

                _ajaxIsFollowingCallback: function(e){
                    this.item.isFollowing = e.detail.response.following;
                    this.set('followStatusReceived', true);
                },

                _checkIsEngaged: function(userID){
                    this.set('engageStatusReceived', false);
                    this.$.ajaxIsEngaged.url = app.apinode + "/connections/isengaged/" + userID;
                    this.$.ajaxIsEngaged.generateRequest();
                },

                _ajaxIsEngagedCallback: function(e){
                    this.item.engagement = e.detail.response;
                    this.set('engageStatusReceived', true);
                },

                _onCallToActionTap: function (e) {

                    //Already engaged but waiting
                    if(this.item.engagement && !this.item.engagement.timestamp_accepted) return;

                    var targetIcon = this.querySelector('paper-icon-button[data-attr="buttonEngage"]');
                    this.item.commonConections = this.commonConections;

                    if (this.commonConections == 0) {
                        const params = {'target':targetIcon, 'item':this.item};
                        this.fire('journalist-engage-request', params);
                        return;
                    }

                    this.fire('journalist-refer-request', this.item);
                },

                _onRequestEngageTap: function (e) {

                    //Already engaged but waiting
                    if(this.item.engagement && !this.item.engagement.timestamp_accepted) return;

                    const params = {'target':e.currentTarget, 'item':this.item};
                    this.fire('journalist-engage-request', params);

                    // Esto es temporal. Cuando el icono este dentro de un elemento, hacer funcion para cambiar label desde connect-journalist-list, en el callback del evento
                    this.querySelector('.engage-icon-label').innerHTML = '';
                },

                _engageIconLabel: function(){
                    if(this.item.engagement && this.item.engagement.timestamp_accepted){
                        return "Message";
                    }else if(this.item.engagement){
                        return "";
                        // return "Waiting";
                    }else{
                        return "Engage";
                    }
                },

                _engageIconSource: function () {

                    if(this.item.engagement && this.item.engagement.timestamp_accepted){
                        this.engageIconLabel = 'Message';
                        return "/images/icons/message.svg";
                    }else if(this.item.engagement){
                        this.engageIconLabel = 'Waiting';
                        return "/images/icons/engage_waiting.png";
                    }else{
                        this.engageIconLabel = 'Engage';
                        return "/images/icons/engage.svg";
                    }
                },

                _engageIconClass: function(item){

                    if(this.item.engagement && !this.item.engagement.timestamp_accepted) {
                        return "engagement-waiting";
                    }else{
                        return "";
                    }
                },

                _checkCommonConections: function (id) {

                    this.$.ajaxCountCommonConnections.url = app.apinode + "/journalists/count.common.connections/" + id;
                    this.$.ajaxCountCommonConnections.generateRequest();
                },

                /*
                 * Esto se ejecuta siempre luego de haber obtenido el estado de engage
                 */
                _countCommonConnectionsCallback: function (e) {

                    this.commonConections = e.detail.response;
                    var message = '';
                    var messageHigh = '';

                    if(this.commonConections > 1){

                        this.set('showReferIcon', true);
                        message = 'You and '+this.item.name+' have '+this.commonConections+' common connections. ';
                        messageHigh = 'Ask one of your contacts for an endorsed introduction.';

                    }else if(this.commonConections == 1){

                        this.set('showReferIcon', true);
                        message = 'You and '+this.item.name+' have '+this.commonConections+' common contact. ';
                        messageHigh = 'Ask him/her for an endorsed introduction.';

                    }else{

                        if(this.item.engagement && this.item.engagement.timestamp_accepted){
                            // They are already engaged
                            message = 'You and '+this.item.name+' are already engaged. ';
                            messageHigh = 'Send a message to continue your conversation.';

                        }else if(this.item.engagement){
                            // Engagement is pending
                            message = 'Your engagement request to '+this.item.name+' is pending.';

                        }else{
                            //There is no engagement request
                            message = 'If you are interested on '+this.item.name+', ';
                            messageHigh = 'you should request an engagement to start talking.';
                        }

                    }

                    // Show referral for admin
                    if( app.session.getUser() == 358 ){
                      this.set('showReferIcon', true);
                    }

                    this.set('callToActionMessage', message);
                    this.set('callToActionMessageHighlighted', messageHigh);
                },

                _onReferTap: function (e) {
                    this.fire('journalist-refer-request', this.item)
                },

                _onSeeMoreOffersRequestPresed: function (e) {
                    var detail = {
                        item : this.item,
                        offers : e.detail
                    };
                    this.fire('item-see-more-presed', detail)
                }
            });
        })();
    </script>
</dom-module>
