<link rel="import" href="../../in/in-mobile-message/in-mobile-message.html">
<link rel="import" href="connect-journalist-item.html?v1.50">
<link rel="import" href="../journalist-offers-requests/journalist-offers-requests.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">


<dom-module id="connect-journalist-list">
    <template>

        <style include="shared-styles"></style>

        <style>
            :host {
                @apply(--font-jouture);
                transition: all 0.4s;
            }
            .scrollmain{
                overflow-x: hidden !important;
                overflow-y: visible;
            }
            .scrollmain::-webkit-scrollbar{
                margin-left: 10px;
                width: 5px;
                background: #DDD;
                background: -webkit-linear-gradient(left,#FFF,#FFF, #DDD, #FFF,#FFF); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Firefox 3.6 to 15 */
                background: linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* Standard syntax */
            }
            .scrollmain::-webkit-scrollbar-thumb{
                border-radius: 5px;
                background: var(--accent-color);
            }
            .orange{
                color: #F77517;
            }
            .level {
                position: relative;
                width: 80px;
                height: 22px;
            }
            div{
                word-wrap: break-word;
            }
            #list-counter{
                cursor: pointer;
                -webkit-user-select: none; /* Chrome/Safari */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+ */
            }
            paper-icon-button{
                width: 30px;
                height: 30px;
                margin: 0;
                padding: 0;
            }
            .hidde{
                opacity: 0;
            }
            .show{
                opacity: 1;
            }
            .subtitle{
                color: #333;
                @apply(--small-text);
            }
            .subtitle-tip {
                color: rgba(51, 51, 51, 0.54);
                @apply(--small-text);
                font-style: italic;
            }
            .subtitlecolor{
                color:  var(--accent-color);
                @apply(--small-text);
            }
            .title{
                color: #333;
                @apply(--medium-text);
            }
            .profile-picture {
                /*position: relative;*/
                width: 50px;
                height: 50px;
                /*bottom:-7px;
                right: 10px;*/
                border-radius: 50%;
            }

            .journalist-offer-request-dialog-pic{
                border-radius: 50%;
                width: 50px;
                height: 50px;
                vertical-align: middle;
                margin-bottom: 20px;
            }

            .refer-fialog-pic-list{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                vertical-align: middle;
            }
            .engagement-waiting {
                width:22px;
                height:22px;
                margin-left:4px;
                margin-top:4px;
                padding-left:2px;
            }
            .journalists-list {
                opacity: 1;
                /*transition-timing-function: ease-in-out;*/
            }
            .title-refer-request-container{
                /*margin-top: -30px;*/
                /*margin-bottom: 30px;*/
            }

            .select-commonConection-button{
                @apply(--small-text);
                background-color: var(--accent-color);
                color: #FFF;
                padding: 2px;
                border-radius: 4px;
                text-transform: none;
                left: -11px;
            }
            #mobileRefer{
                --in-mobile-message:{
                    width: 600px;
                };
            }
            .common-conection-container {
                @apply(--divider-border-bottom);
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .common-conection-select-button-container {
                /*padding-top: 11px;*/
            }
            .common-conections-list {
                max-height: 320px;
                margin-top: -6px;
                /*padding-left: 40px;*/
                /*padding-right: 40px;*/
            }
            .connect-list-empty-state-box {
                margin-top: 50px;
                margin-bottom: 50px;
                margin-right: 115px;
                padding-left: 27px;
                font-size:15px!important;
                font-weight:300!important;
                opacity: 0;
                background-color: white;
                display:none;
            }
            .connect-list-empty-state-image {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                margin-bottom: 5px;
            }
            .name-title{
                @apply(--very-small-text-highlighted)

            }
            .location-title,
            .position-title{
                @apply(--very-small-text)
            }

            ul {
                @apply(--small-text);
                padding-left: 20px !important;
            }
            ul li {
                padding-top: 6px;
                list-style-type: circle;
            }
            action-text{
                color: var(--accent-color);
                cursor: pointer;
            }
            .total-items {
                @apply(--small-text);
                font-weight: 300;
                color: var(--accent-color);
                margin-bottom: 20px;
            }
            .message-dialog-journalist-img {
                position: relative;
                width: 30px;
                height: 30px;
                bottom:-7px;
                right: 10px;
                border-radius: 50%;
            }
            .button-show-more {
                border-radius: 16px;
                color: white;
                text-transform: none;
                background-color: rgba(252, 113, 8, 0.65);
                height: 28px;
                font-size: 15px;

                --paper-button: {
                    @apply(--layout-vertical);
                    @apply(--layout-center-center);
                };
            }
            .button-show-more > paper-button {
                font-size: 1px;
            }

            @media only screen and (max-width: 1024px) {
                #list-counter {
                    @apply(--very-small-text-highlighted);
                    color: #333 !important;
                    display: none;
                }
            }

            @media only screen and (min-width: 1025px) {
                #list-counter {
                    @apply(--very-small-text-highlighted);
                    color: #333 !important;
                    /*transition: all 0.15s;
                    transition-timing-function: ease-out;*/
                }
            }

            @media all and (min-width: 49em) {
                .offers-request-dialog{
                    max-height: 500px;
                    max-width: 600px;
                }
                .offers-request-list{
                    max-height: 324px;
                }
            }

            @media all and (max-width: 48em) {
                .offers {
                    margin-top:25px;
                }
                .item {
                    padding-bottom: 0;
                }
                .functions .row {
                    margin-bottom: 0;
                }
                b {
                    font-size: 16px;
                }
                .title-refer-request-container{
                    margin-top: 0;
                }
                .select-commonConection-button {
                    left: 0;
                }
                .journalists-list{
                    height: 100%;
                }
                ul {
                    @apply(--very-small-text);
                }
                .offers-request-list{
                    height: 100%;
                }

                .connect-list-empty-state-box {
                    margin-top: 10px;
                    margin-right: 0px !important;
                    padding-left: 0px !important;
                }

            }
        </style>

        <span on-mousedown="_mouseDown" id="list-counter"></span>

        <div id="emptyState"
             class="row middle-xs center-xs connect-list-empty-state-box">

            <div class="col-xs-12 col-sm-offset-2 col-sm-9">
                <img class="connect-list-empty-state-image" src="/images/emptystates/empty_connect.jpg">
                <br/>
                <span>Sorry {{userName}}, we couldn't find any</span>
                <br/>
                <span>journalists here.</span>
                <br/>
                <br/>
                <span>Broaden your search by changing</span>
                <br/>
                <span>the search parameters.</span>
            </div>
        </div>


        <div class="row center-xs">
            <div class="col-xs-12 total-items">
                <span>{{totalItems}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10" id="journalistList">
            <!-- <div class="col-xs-12 col-sm-offset-1 col-sm-10"> -->

                <!-- <iron-list id="journalistList"
                           class="scrollmain journalists-list"
                           items="[[filterList]]"
                           as="item"
                           index-as="user_id"
                           on-scroll="_runCounter">
                    <template> -->

                    <template is="dom-repeat"
                        items="{{filterList}}"
                        class="scrollmain journalists-list">

                        <connect-journalist-item index="{{index}}" item="{{item}}" data2="{{item.id}}" data3="{{item.user_id[0]}}" data1="{{item.user_id}}"></connect-journalist-item>

                        <div class="row center-xs" style$="{{_hideNextButton(index)}}">
                            <div class="col-xs-11 col-sm-8 col-md-6 col-lg-5" style="margin-top:30px;">
                                <paper-button class="button-show-more" on-tap="_onShowMoreTap">Show more results<paper-button>
                            </div>
                            <br><br><br><br><br><br><br><br><br>
                        </div>

                    </template>

                <!-- </iron-list> -->

            </div>
        </div>

        <in-mobile-message id="dialogMessage"
                           hide-ok-button
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <iron-pages selected="0">
                <div>
                    <div class="row  center-xs">
                        <div class="col-xs">
                            <img class="message-dialog-journalist-img"
                                 src$="{{_getProfilePicture(itemInDialog.picture)}}">
                            <span class="title">[[itemInDialog.name]]</span>
                        </div>
                    </div>
                    <br/>

                    <in-send-text id="messageSender"></in-send-text>

                </div>
            </iron-pages>
        </in-mobile-message>

        <in-mobile-message id="dialogEngage"
                           hide-ok-button
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <iron-pages selected="{{_engagePages}}" attr-for-selected="page">

                <div page="engage-message">
                    <div class="row  center-xs">
                        <div class="col-xs">
                            <span class="title">Explain [[itemInDialog.name]] the reasons for engagement.</span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12">

                            <in-send-text id="messageSenderEngage">
                            </in-send-text>

                        </div>
                    </div>
                </div>

                <div page="engage-sent" style="margin-bottom:40px;">
                    <div class="row center-xs">
                        <div class="col-xs">
                            <span class="title">Awesome! You've engaged [[itemInDialog.name]].</span>
                            <br/>
                            <br/>
                            <span class="title">The message is sent - sit back and you'll hear back soon.</span>
                        </div>
                    </div>
                </div>

            </iron-pages>
        </in-mobile-message>

        <in-mobile-message id="mobileRefer"
                           hide-cancel-button
                           hide-ok-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <iron-pages id="pinPages" selected="{{_referPages}}">

                <section>
                    <br>
                    <div class="row center-xs title-refer-request-container">
                        <div class="col-xs-12">
                            <span>Step 1: Select one of your contacts to endorse you. He/she will be included in your conversation with {{journalistIntroduction}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <paper-input id="searchCommonConectionInput" class=""
                                         value="{{searchCommonConectionsFilter}}"
                                         label="Type journalist name or select below"></paper-input>
                        </div>
                    </div>

                    <iron-list id="commonConectionsList" class="scrollmain common-conections-list"
                               is="dom-repeat"
                               items="{{filteredCommonConectionsList}}"
                               as="commonConection">
                        <template>

                            <div class="row middle-xs common-conection-container">

                                <div class="col-xs-2">
                                    <img class="refer-fialog-pic-list" src$="{{_getProfilePicture(commonConection.picture)}}">
                                </div>

                                <div class="col-xs-7 col-md-8">

                                    <div class="row">

                                        <div class="col-xs-12 col-md-6">
                                            <span class="name-title">{{commonConection.name}}</span>
                                            <br>
                                            <span class="location-title">{{commonConection.location}}</span>
                                        </div>

                                        <div class="col-xs-12 col-md-6">
                                            <span class="position-title">{{commonConection.position}}</span>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-xs-3 col-md-2 common-conection-select-button-container">
                                    <paper-button on-tap="_onTapSelectCommonConectionButton"
                                                  class="select-commonConection-button">Select</paper-button>
                                </div>

                            </div>

                        </template>

                    </iron-list>

                </section>

                <section>

                    <div class="center-xs">
                        <span class="title">Step 2: Write an introductory message to </span>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-xs-5" style="text-align:right">
                                <img class="profile-picture" src$="{{_getProfilePicture(itemInDialog.picture)}}">
                            </div>
                            <div class="col-xs-7" style="text-align:left">
                                <span class="subtitlecolor">[[itemInDialog.name]]</span><br>
                                <span class="subtitle">[[itemInDialog.location]]</span>
                            </div>
                        </div>
                        <br>
                        <span class="subtitle-tip">Tip: Be upfront and straightforward about your request.</span>
                        <br>
                    </div>

                    <br/>

                    <in-send-text id="messageSenderRefer"></in-send-text>

                </section>

                <section>

                    <div class="row  center-xs">
                        <div class="col-xs">
                            <span class="title">Awesome! You've started a conversation with [[itemInDialog.name]] and [[referSelected.name]]</span>
                            <br/>
                            <br/>
                            <span class="title">The introduction message is sent. <action-text on-tap="_goToInbox">Check your inbox<action-text>.</span>
                            <br/>
                            <br/>
                        </div>
                    </div>

                </section>

            </iron-pages>
            <br/>
        </in-mobile-message>

        <in-mobile-message id="JournalistOffersRequest"
                           hide-cancel-button
                           hide-ok-button
                           no-cancel-on-outside-click
                           with-backdrop
                           class="scroll offers-request-dialog">

            <div class="row center-xs" id="journalistOfferRequestDialogPicContainer">

                <div class="col-xs">

                    <img class="journalist-offer-request-dialog-pic"
                         src$="{{_getProfilePicture(JournalitOfferRequest.picture)}}">

                </div>

            </div>

            <div class="row center-xs">

                <div class="col-xs">
                    <span hidden$="{{!offersSelected}}"
                          class="title">[[JournalitOfferRequest.name]] is offering: </span>

                    <span hidden$="{{offersSelected}}"
                          class="title">[[JournalitOfferRequest.name]] is requesting: </span>

                </div>

            </div>

            <div class="row start-xs" style="margin-bottom: 15px">

                <div class="col-xs-12">
                    <ul>
                        <iron-list id="offersRequestList" items="{{arrayOfferRequest}}" class="scroll offers-request-list">

                            <template >
                                <li class="truncate">[[item]]</li>
                            </template>

                        </iron-list>
                    </ul>
                </div>

            </div>

        </in-mobile-message>


        <iron-ajax id="ajaxCommonConnections"
                   with-credentials
                   handle-as="json"
                   method="GET"
                   on-response="_commonConnectionsCallback"></iron-ajax>

       <iron-ajax id="ajaxConnectList"
                  method="POST"
                  with-credentials
                  handle-as="json"
                  on-response = "_ajaxConnectListCallback"></iron-ajax>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'connect-journalist-list',
                behaviors: [MessageExpert],
                properties: {
                    referSelected: {
                        type: Object,
                        value: {},
                        notify: true
                    },
                    choices: {
                        type: Array,
                        value: [],
                        notify: true
                    },
                    searchCommonConectionsFilter: {
                        type: String,
                        value: '',
                        observer:'_onFilterCommonConectionChange'
                    },
                    filteredCommonConectionsList: {
                        type: Array,
                        value:[],
                        notify: true
                    },
                    filterList: {
                        type: Array,
                        value:[],
                        notify: true
                    },
                    commonConections: {
                        type: Array,
                        value:[],
                        notify: true
                    }
                },

                listeners:{
                    'journalist-refer-request': '_onReferTap',
                    'journalist-engage-request': '_onRequestEngage',
                    'item-see-more-presed': '_onSeeMoreOffersRequestPresed',
                },

                attached: function(){

                    // Mostrar listado de journalists del mismo país por defecto
                    this._getJournalistsList();

                    this.addEventListener('engage-sent', function(e){

                        this._engagePages = "engage-sent";
                        this.itemInDialog.engagement = {timestamp_requested: Date.now()};
                        this._engageIconToWaiting();

                        this.$.dialogEngage.hideOkButton = true;
                        this.$.dialogEngage.hideCancelButton = true;

                    }.bind(this));

                    this.addEventListener('message-sent', function(e){
                        this.$.dialogMessage.close();
                    }.bind(this));

                    this.addEventListener('refer-sent', function(e){
                        this._referPages = "2";
                    }.bind(this));

                },

                /*
                 * Se llama externamente desde profile-main al hacer engage para refrescar lista
                 */

                ready: function () {

                    this._referPages = "0";
                    this._engagePages = "engage-message";
                    this.context = this;

                    var session = document.querySelector('#session');
                    this.userName = session.getName();

                    // NO BORRAR, comentado hasta recuperar comportamiento counter de elementos de la lista en el scroll bar
                    // window.addEventListener("mouseup", function (e) {
                    //     this.mouseDown = false;
                    // }.bind(this));
                    //
                    // window.addEventListener("mousemove", function (e) {
                    //
                    //     if(this.route !== 'connect' || !document.querySelector('#journalistList')){
                    //         return;
                    //     }
                    //
                    //     var section = document.querySelector('#journalistList');
                    //     var counter = document.querySelector('#list-counter');
                    //     var rect = section.getBoundingClientRect();
                    //
                    //     if (this.yIni && this.mouseDown) {
                    //         var y = e.clientY;
                    //         var newpos = y + this.yIni;
                    //         section.scrollTop = (Math.floor((((newpos - rect.top) / section.offsetHeight) * section.scrollHeight)));
                    //     }
                    // }.bind(this));

                    /*
                     * Fired from left-menu-connect when it's ready and when filters are changed
                     * controls the empty states
                     */
                    document.addEventListener('loadFilter', function (e) {

                        if (!e.detail.value || !(e.detail.value instanceof Array) || e.detail.value.length == 0) {

                            var counter = document.querySelector('#list-counter');
                            counter.textContent = ' ';
                            this.$.journalistList.style.opacity = 0;

                            this.showEmtyState();
                            this.set('totalItems', '');

                        } else {

                            this._setItemList(e.detail.value);
                        }

                        document.querySelector('#search').focus();

                    }.bind(this));
                    this._runCounter();
                },

                _hideNextButton: function(index){

                    console.log('');
                    console.log('INDEX', index);
                    if (index === this.filterList.length-1 && this.filterList.length < this.items.length) {
                        console.log('SE MUESTRA');
                        // return false;
                        return '';
                    }else if (index === this.filterList.length-1) {
                        console.log('SE MUESTRA oculto');
                        return 'opacity:0';
                    }
                    console.log('No SE MUESTRA');
                    return 'display: none';
                    // return true;
                },

                _onShowMoreTap: function(e){

                    // Hide the button
                    e.currentTarget.parentNode.parentNode.style.display = 'none';

                    this.page++;
                    var i = 10*(this.page -1);
                    var to = 10*(this.page);

                    if (to > this.items.length) {
                        to = this.items.length;
                    }

                    // Copiar elementos en otro array temporario
                    var newFilterList = [];
                    for (var j = 0; j < this.filterList.length; j++) {
                        newFilterList.push(this.filterList[j]);
                    }
                    // agregar los elementos de la siguiente pagina
                    for (i; i < to; i++) {
                        newFilterList.push(this.items[i]);
                    }
                    //Actualizar el DOM
                    this.set('filterList', newFilterList);
                    this.set('totalItems', 'Showing ' + this.filterList.length + ' journalists');
                },

                _getJournalistsList: function(){
                    if(this.filterList && this.filterList.length > 0){
                        return;
                    }

                    const params = {
                        'country': app.session.getCountry(),
                    };

                    this.$.ajaxConnectList.body = JSON.stringify(params);
                    this.$.ajaxConnectList.url = app.apinode + "/journalists/match";
                    this.$.ajaxConnectList.generateRequest();
                },

                _ajaxConnectListCallback: function(e){
                    this._setItemList(e.detail.response);
                },

                /*
                 * If the items has array attributes, convert to its value.
                 */
                _cleanItem(item){

                    if(item.user_id instanceof Array) item.user_id = item.user_id[0];
                    if(item.name instanceof Array) item.name = item.name[0];
                    if(item.location instanceof Array) item.location = item.location[0];
                    if(item.picture instanceof Array) item.picture = item.picture[0];
                    if(item.position instanceof Array) item.position = item.position[0];

                    item.location = item.location || '';
                    item.picture = item.picture || '';
                    item.position = item.position || '';

                    return item;
                },

                _goToInbox: function(){
                    this.$.mobileRefer.close();
                    page("/message");
                },

                _mouseDown: function (e) {
                    var counter = document.querySelector('#list-counter');
                    this.yIni = parseInt((counter.style.top).replace("px", "")) - e.clientY - 30;
                    this.mouseDown = true;
                },

                _setItemList: function(items){

                    this.set('filterList', []);
                    this.page = 1;

                    var pagedItems = [];
                    var to = 10;

                    if (to > items.length) {
                        to = items.length;
                    }

                    for (var i = 0; i < to; i++) {
                        pagedItems.push(items[i]);
                    }

                    this.set('filterList', pagedItems);
                    this.set('items', items);

                    if (!this.filterList) {
                        return;
                    }

                    this.hideEmptyState();

                    //Set label total journalists
                    this.set('totalItems', 'Showing ' + this.filterList.length + ' journalists');
                },

                showEmtyState: function () {

                    this.$.journalistList.style.opacity = 0;
                    this.$.emptyState.style.display = 'block';
                    this.$.emptyState.style.opacity = 1;
                },

                hideEmptyState: function () {

                    this.$.journalistList.style.opacity = 1;
                    this.$.emptyState.style.display = 'none';
                    this.$.emptyState.style.opacity = 0;
                },

                _checkCommonConectionsCount: function (count) {
                    return count != 0;
                },

                // _iniLoadCallback: function () {
                //     var newHeight = (window.innerHeight - this.$.journalistList.offsetTop - 25) + 'px';
                //     this.$.journalistList.style.height = newHeight;
                //     this._runCounter();
                // },

                _runCounter: function () {

                    return;

                    var itemsScroll = document.querySelectorAll('.scroll-counter');
                    var section = document.querySelector('#journalistList');
                    if (!section) {
                        return true;
                    }
                    var rect = section.getBoundingClientRect();
                    var counter = document.querySelector('#list-counter');
                    if (this.filterList && this.filterList.length > 5) {
                        var minimum = 1000;
                        for (var j = 0; j < itemsScroll.length; j++) {
                            if (itemsScroll[j].getBoundingClientRect().top > (rect.top - 10) && minimum > parseInt((itemsScroll[j].id).replace("ind_", ""))) {
                                minimum = (itemsScroll[j].id).replace("ind_", "");
                            }
                        }
                        counter.textContent = minimum + ' of ' + this.filterList.length + ' Journalists';
                        counter.style.position = "fixed";
                        counter.style.left = (rect.right + 10) + "px";
                        var scrollableArea = section.offsetHeight - 60;
                        counter.style.top = ((rect.top + Math.floor(section.scrollTop / section.scrollHeight * scrollableArea))) + 30 + "px";
                    } else {
                        counter.textContent = ' ';
                    }
                },

                _stopEvent: function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    if (e.gesture)
                        e.gesture.stopPropagation();
                    if (e.gesture)
                        e.gesture.preventDefault();
                },

                _getProfilePicture: function(picName){
                    return app.profilePictureMini(picName);
                },

                // _keydownDialogTextareaRefer: function () {
                //     this.$.mobileRefer.setScrollBotom()
                // },
                //
                // _tapDialogTextareaRefer: function () {
                //     setTimeout(function () {
                //         this.$.mobileRefer.setScrollBotom();
                //     }.bind(this), 500);
                // },
                //
                // _keydownDialogTextareaEngage: function () {
                //     this.$.dialogEngage.setScrollBotom()
                // },

                // _tapDialogTextareaEngage: function () {
                //     setTimeout(function () {
                //         this.$.dialogEngage.setScrollBotom();
                //     }.bind(this), 500);
                // },

                resetElement: function () {
                    this.hideEmptyState();
                    this.set('filterList',[]);
                },

                getListMinHeigth: function () {
                    return this.querySelector('.scroll-counter').offsetHeight;
                },

                _onSeeMoreOffersRequestPresed: function (e) {

                    this.set('arrayOfferRequest', []);
                    this.JournalitOfferRequest = e.detail.item;
                    this.offersSelected = e.detail.offers;

                    if(this.offersSelected){
                        this.set('arrayOfferRequest', this.JournalitOfferRequest.offers)
                    }else{
                        this.set('arrayOfferRequest', this.JournalitOfferRequest.requests)
                    }
                    this.$.JournalistOffersRequest.open();

                },


/*******************************************************************************/
// MESSAGE
/*******************************************************************************/

                _sendMessageTap: function (context) {
                    context.$.messageSender.send();
                },


/*******************************************************************************/
// REFER
/*******************************************************************************/

                /*
                 * Find the common connections
                 */
                _onReferTap: function (e) {

                    this.itemInDialog = this._cleanItem(e.detail);
                    this.journalistIntroduction = e.detail.name;
                    this.$.ajaxCommonConnections.url = app.apinode + "/journalists/common.connections/" + e.detail.user_id;
                    this.$.ajaxCommonConnections.generateRequest();
                },

                /*
                 * Show the dialog with the connection lists.
                 */
                _openReferDialog: function () {

                    this._referPages = "0";
                    this.$.mobileRefer.sendButtonAction = this._sendMessageRefer;
                    this.$.mobileRefer.context = this;

                    // Do not show the fab action button on mobile
                    this.$.mobileRefer.hideOkButton = true;
                    this.$.mobileRefer.disableAction = true;

                    this.$.mobileRefer.open();
                },

                /*
                 * One of the common conections has been selected.
                 */
                _onTapSelectCommonConectionButton: function (e) {

                    this.set('referSelected', this._cleanItem(e.model.__data__.commonConection) );
                    this._referPages = "1";

                    this.$.mobileRefer.hideOkButton = false;
                    this.$.mobileRefer.disableAction = false;

                    this.$.mobileRefer.okLabel = 'Send Intro';
                    this.$.mobileRefer.cancelLabel = 'Cancel';

                    this.$.messageSenderRefer.setReferBehavior(this.itemInDialog, this.referSelected, true);
                },

                /*
                 * Actually send the message
                 */
                _sendMessageRefer: function(context){
                    context.$.messageSenderRefer.send();
                },

                /*
                 * Call back list of common conections
                 */
                _commonConnectionsCallback: function (e) {

                    if(e.detail.response.length == 1){
                        this.set('referSelected', this._cleanItem(e.detail.response[0]) );
                    }

                    this.set('commonConections', e.detail.response);
                    this.set('filteredCommonConectionsList', e.detail.response);
                    this._openReferDialog();
                },

                /*
                 * The user is typing some ideas in the search input to filter the common connections list
                 */
                _filterCommonConectionsList: function (filter) {

                    this.set('filteredCommonConectionsList', []);
                    if (filter == '') {
                        this.set('filteredCommonConectionsList', this.commonConections);
                        // this.$.journalistList.notifyResize();
                        return;
                    }

                    for(var index in this.commonConections){

                        if (this.commonConections[index].name[0].toLowerCase().indexOf(filter.toLowerCase()) >= 0) {
                            this.push('filteredCommonConectionsList', this.commonConections[index]);
                            // this.$.journalistList.notifyResize();
                        }
                    }
                },

                _onFilterCommonConectionChange: function (e) {
                    this._filterCommonConectionsList(e);
                },


/*******************************************************************************/
// ENGAGE
/*******************************************************************************/

                _cancelEngage: function (context) {
                    setTimeout(function () {
                        context._engagePages = "engage-message";
                    }.bind(this), 300);
                },

                _engageIconToWaiting: function(){
                    this.targetIconEngage.src = "/images/icons/engage_waiting.png";
                    this.targetIconEngage.className += ' engagement-waiting';
                },

                _requestEngageTap: function (context) {
                    context.$.messageSenderEngage.send();
                },

                _onRequestEngage: function (e) {

                    this._engagePages = "engage-message";
                    this.itemInDialog = this._cleanItem(e.detail.item);
                    this.targetIconEngage = e.detail.target;

                    if (!this.itemInDialog.engagement) {

                        this.$.messageSenderEngage.setEngageBehavior(this.itemInDialog);

                        this.$.dialogEngage.sendButtonAction = this._requestEngageTap;
                        this.$.dialogEngage.closeButtonAction = this._cancelEngage;
                        this.$.dialogEngage.context = this;
                        this.$.dialogEngage.open();

                    } else if(this.itemInDialog.engagement && this.itemInDialog.engagement.timestamp_accepted) {

                        this.$.messageSender.setMessageBehavior(this.itemInDialog);

                        this.$.dialogMessage.sendButtonAction = this._sendMessageTap;
                        this.$.dialogMessage.context = this;
                        this.$.dialogMessage.open();
                    }
                },



            });
        })();
    </script>
</dom-module>
