<dom-module id="connect-locked">
    <template>
        <style include="shared-styles">
            .lock-icon{
                height: 50px;
                width: 50px;
                padding-bottom: 30px;
            }
            .locked-text-container{
                padding-bottom: 30px;
            }
            .locked-text {
                @apply(--medium-text);
            }
            .cta-button {
                /*this class is defined in shared styles*/
                text-align: center;
            }
            .doneButton{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: var(--accent-color);
                top: 32px;
            }
            .save-button{
                @apply(--small-text);
                background-color: #FC7108;
                color: #FFF;
                /* border-radius: 8px; */
                text-transform: none;
                padding: 2px;
                width: 100%;
            }

        </style>

        <div class="row center-xs" style="padding-top: 100px">

            <div class="col-xs-12 col-md-4">

                <div class="row">
                    <div class="col-xs">
                        <iron-icon class="lock-icon" icon="in-icon-set:lock"></iron-icon>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs locked-text-container">
                        <span class="locked-text">
                            Collaborate is locked!
                            <br><br>
                            Activate “Collaborate” by completing these tasks:
                        </span>
                    </div>
                </div>

                <template is="dom-if" if="{{!status.hasLocation}}">
                    <div class="row center-xs start-md" location-page="location-no-exist">
                        <div class="col-xs-7 col-md-9">
                            <in-input-location id="locationLock"></in-input-location>
                        </div>
                        <div class="col-xs-3" style="margin-top: 38px;">
                            <paper-button on-tap="_onTapSaveLocation" class="save-button">Save</paper-button>
                        </div>
                    </div>
                </template>

                <div hidden$="{{status.hasPic}}" class="row center-xs start-md">
                    <div class="col-xs-8 col-md-12 cta-button" on-tap="_editUserPic">
                        <span>Upload a profile picture.</span>
                    </div>
                </div>

                <div hidden$="{{status.hasOffersRequest}}" class="row center-xs start-md">
                    <div class="col-xs-8 col-md-12 cta-button" on-tap="_completeOffersRequest">
                        <span>Complete the offers & requests section in the profile page.</span>
                    </div>
                </div>

            </div>

        </div>

        <iron-ajax
                id="ajaxUserUpdate"
                method="POST"
                with-credentials
                handle-as="json"
                on-response="_userUpdateCallback">
        </iron-ajax>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'connect-locked',

                properties: {
                    locationNoExist:{
                        type: Boolean,
                        value:true
                    }
                },

                _completeOffersRequest: function () {
                    page('/profile.community/0/edit')

                },

                _editUserPic: function () {
                    page('/profile.experience/0/edit_pic')
                },

                _onTapSaveLocation: function(){

                    var objLocation = this.querySelector('#locationLock').getObjLocation();
                    var address = this.querySelector('#locationLock').getAddress();

                    if(!objLocation || !objLocation.country_short || !address){
                        return;
                    }

                    var params = {location: objLocation, address:address};
                    this.$.ajaxUserUpdate.url = app.apinode + '/journalists/save.location';
                    this.$.ajaxUserUpdate.body = JSON.stringify(params);
                    this.$.ajaxUserUpdate.generateRequest();
                    this.userPropertyUpdated = 'location';

                    app.session.setCountry(objLocation.country_short);
                },

                _userUpdateCallback: function (e) {

                    switch(this.userPropertyUpdated){
                        case 'location':
                            app.logActivity(app.constants.PROFILE_COMPLETE_LOCATION);
                            this.set('status.hasLocation', true);
                            app.session.setLocation(this.querySelector('#locationLock').getAddress());
                            app.showToast('Location saved');
                            this.fire('task-completed');
                            break;
                    }
                },


            });
        })();
    </script>
</dom-module>
