<link rel="import" href="../../../styles/landing-styles.html">
<link rel="import" href="../../../bower_components/left-swipe-action/left-swipe-action.html">

<dom-module id="add-language">
  <template>
    <style is="custom-styles" include="landing-styles">

      :host {
        display: block;
      }
      .exp-language-container{
        margin-top: 18px;
        margin-bottom: 20px;
      }
      .delete-language-button,
      .add-language-button{
        @apply(--small-text);
        text-transform: capitalize;
        height: 24px;
        padding-top: 2px;
      }
      .language-name {
          font-size: 20px;
          color: var(--accent-color);
      }
      paper-input /deep/ #input {
          color:gray;
          font-size:13px;
      }
    </style>

    <div class="row  top-xs">
      <div class="col-xs-12 ">
        <left-swipe-action
          nodrag
          offset="104">

          <div class="row">

            <div CLASS="col-xs-12">

            <div class="row">

              <div class="col-xs-offset-6 col-xs-2 button-language-container">

              </div>

              <div class="col-xs-4">

              </div>

            </div>

            </div>

            <div class="col-xs-12 language-container">
              <paper-input readonly="readonly" value=" {{expertiseTag}}" class="language-expertise">
                <div class="language-name" prefix>{{languageName}}&nbsp;</div>
               <div suffix>
                 <paper-button on-up="_deleteLanguage" class="delete-language-button">Delete</paper-button>
                 <paper-button on-up="_addLanguage" class="add-language-button">Add another</paper-button>
               </div>
              </paper-input>
            </div>

          </div>


          <left-swipe-action-button>

            <div  class="row">

              <div class="col-xs-12 exp-language-container">

                <neon-animated-pages
                  class="expertice-text"
                  id="expertiseTags"
                  selected="[[expertise]]"
                  entry-animation="fade-in-animation"
                  exit-animation="fade-out-animation">

                  <neon-animatable>
                    <div>beginner</div>
                  </neon-animatable>

                  <neon-animatable>
                    <div>Intermediate</div>
                  </neon-animatable>

                  <neon-animatable>
                    <div>Expert</div>
                  </neon-animatable>

                </neon-animated-pages>

              </div>

            </div>

            <div id="slider" class="row">
              <div class="col-xs-12">
                <paper-slider
                  id="skill_expertice"
                  max="100"
                  value="{{item.expertisePercent}}"></paper-slider>
              </div>

            </div>

          </left-swipe-action-button>

        </left-swipe-action>
      </div>
    </div>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'add-language',

        properties: {
          expertise: {
            type: Number,
            value: 0
          },
          expertiseTag:{
            type: String,
            value:'Beginner'
          }

        },

        ready: function () {

          this.addEventListener('immediate-value-change', function (e) {
            var sliderSelected = e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;
            if(e.target.immediateValue < 33){
              this.expertise = 0;
              this.expertiseTag ="Beginner"
            }

            if(e.target.immediateValue > 33 && e.target.immediateValue < 66){
              this.expertise = 1;
              this.expertiseTag ="Intermediate"
            }

            if(e.target.immediateValue > 66 && e.target.immediateValue < 101){
              this.expertise = 2;
              this.expertiseTag ="Expert"
            }

//            var iconDone = sliderSelected.$.content.querySelector('div').querySelector('#done').querySelector('paper-icon-button');
//          var iconClear = sliderSelected.$.content.querySelector('div').querySelector('#clear').querySelector('paper-icon-button');
//          iconDone.removeAttribute('hidden');
//          iconClear.removeAttribute('hidden');
//          sliderSelected.$.content.querySelector('div').setAttribute('style', 'background-color: red');
//          sliderSelected.toggleOpen();
          }.bind(this));



          this.addEventListener('value-change', function (e) {
            var sliderSelected = e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;
            console.log(this.id);
            var value={
              id: this.id,
              expertise: e.target.value
            };

            this.fire('language-expertise', value);

            if(sliderSelected.open == true){
              setTimeout(function () {
                sliderSelected.toggleOpen();
              }, 500);
            }
          }.bind(this))
        },
        _addLanguage: function (e) {
          e.stopPropagation();
          e.preventDefault();
          if (e.gesture) e.gesture.stopPropagation();
          if (e.gesture) e.gesture.preventDefault();
          this.fire('add-language');
        },
        _deleteLanguage: function (e) {
          this.fire('delete-language', this.id);
          e.stopPropagation();
          e.preventDefault();
          this.remove();
        }
      });
    })();
  </script>
</dom-module>
