<link rel="import" href="../../../bower_components/paper-drawer-panel-in/paper-drawer-panel-in.html">

<dom-module id="discussion-item">
    <template>
        <style>
            :host {
                @apply(--font-jouture);
            }
            .journalist-name {
                color: #00262C !important;
                @apply(--small-text-highlighted);
                cursor: pointer;
            }
            .my-name{
                @apply(--very-small-text-highlighted);
            }
            .comment-date {
                @apply(--very-small-text);
                color: var(--dark-primary-color);
            }
            .comment {
                @apply(--small-text);
                word-wrap: break-word;
            }
            .reply-button {
                @apply(--very-small-text);
            }
            .fab-reply {
                @apply(--float-action-button);
            }
            iron-list {
                background-color: white;
                opacity: 0;

                -webkit-transition: opacity 0.4s ease-in-out;
                -moz-transition: opacity 0.4s ease-in-out;
                -ms-transition: opacity 0.4s ease-in-out;
                -o-transition: opacity 0.4s ease-in-out;
                transition: opacity 0.4s ease-in-out;
            }
            .inner-item {
                padding: 10px 25px 10px 20px;
                background-color: #FFF;
                outline: 0;
                -webkit-font-smoothing: antialiased;
            }
            .pic-journalist {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
            }
            .pic-clickable {
                cursor: pointer;
            }
            paper-drawer-panel-in {
                position: relative;
            }
            .icon-button {
                --paper-icon-button: {
                    width:16px;
                    height:16px;
                }
            }
            .reply {
                min-height:83px;
                padding: 10px 10px 0px 5px;
            }
            .reply-hidden {
                display:none;
            }
            .send-button{
                color: var(--accent-color);
            }
            paper-textarea /deep/ ::-webkit-scrollbar {
                width: 4px;
            }
            paper-textarea /deep/ ::-webkit-scrollbar-track {
                /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
                border-radius: 8px;
            }
            paper-textarea /deep/ ::-webkit-scrollbar-thumb {
                border-radius: 8px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            }
            paper-textarea {
                --paper-input-container-input:{
                    @apply(--small-text);
                };
                --paper-input-container-focus-color: var(--accent-color);
            }
            .counter {
                @apply(--very-small-text-highlighted);
            }
            .counter > paper-icon-button {
                color: var(--black-color);
            }
            .more-mobile-container {
                text-align:right;
                display:none;
            }
            .button-more-mobile /deep/ iron-icon{
                /*esto lo probe sobre el elemento iron-icon*/
                position: absolute !important;
                top: -49px !important;
                right: 11px !important;
            }
            .mobile-buttons {
                padding-top: 15px;
            }
            .show-replies{
                color: #0303bd;
                font-size: 13px;
                cursor: pointer;
            }
            .close-button{
                position: absolute;
                left: -30px;
                top: 1px;
                color: var(--disabled-text-color);
            }
            .close-container{
                position: relative;
            }
            in-send-text{
                margin-top: -20px;
            }
            .icon-comment{
                margin-left: 10px;
                margin-right: -5px;
                height: 32px;
                width: 32px;
            }
            .icon-comment-text{
                font-size: 14px;
            }

            @media all and (max-width: 48em) {
                .item-actions-web {
                    display:none;
                }
                .more-mobile-container {
                    display:block !important;
                }
                .pin-position{
                    right: 30px;
                    top: -10px;
                }
            }

        </style>

        <iron-ajax
                id="ajaxSave"
                method="POST"
                with-credentials
                handle-as="json"></iron-ajax>

        <template is="dom-if" if="{{item.isReply}}" id="templateReply">

            <div id="boxInnerReply" class="row start-xs reply">
                <div class="col-md-11 col-xs-12">
                    <div class="row start-xs top-xs">

                        <div class="col-xs-2 col-sm-1 close-container">
                            <paper-icon-button id="closeButton"
                                               class="close-button"
                                               icon="in-icon-set:highlight-off"
                                               on-tap="_onCloseTap"></paper-icon-button>

                            <img class="pic-journalist" src$="{{_computeProfilePicture()}}">
                        </div>

                        <div class="col-xs-10 col-sm-11">
                            <div class="row middle-xs">
                                <div class="col-xs-12">

                                    <div class="col-xs-12 my-name">{{this.userName}}</div>

                                    <in-send-text id="sendMessageReply">
                                    </in-send-text>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <div clas="row" style$="{{_computeStyleItem(item)}}">
            <div class="col-xs-12" style="padding:0">

                <paper-drawer-panel-in right-drawer force-narrow  id="drawer">

                    <div drawer class="row center-xs top-xs mobile-buttons">

                        <div class="col-xs-4">
                            <span class="counter"><paper-icon-button icon="in-icon-set:expand-less" on-tap="_voteUp">
                            </paper-icon-button>[[item.votesUp]]</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="counter"><paper-icon-button icon="in-icon-set:expand-more" on-tap="_voteDown">
                            </paper-icon-button>[[item.votesDown]]</span>
                        </div>
                        <div class="col-xs-4">
                            <paper-icon-button icon="in-icon-set:reply" on-tap="_reply" class="reply-disabled"></paper-icon-button>
                        </div>
                        <template is="dom-if" if="{{item.replies}}">
                            <div class="col-xs-4">

                                <paper-icon-button on-tap="_getReplies" class="icon-comment" src="/images/icons/comment-o.svg">
                                </paper-icon-button>
                                <span class="icon-comment-text" on-tap="_getReplies">{{item.replies}}</span>

                            </div>
                        </template>

                    </div>
                    <div main style="padding-top:10px;">

                        <div class$="{{_computeInnerItemClass(item)}}">

                            <div class="row">
                                <div class="col-xs-2 col-sm-1" style="text-align:center">
                                    <img class="pic-journalist pic-clickable" src$="{{userPictureURl}}" on-tap="_onTapJournalist">
                                </div>

                                <div class="col-xs-10 col-sm-11">
                                    <div class="row start-xs">
                                        <div class="col-xs-12 journalist-name" on-tap="_onTapJournalist">[[name]] &nbsp; <span class="comment-date">{{_computeDate(item)}}</span></div>
                                        <div class="col-xs-12 comment-date">[[position]]</div>
                                        <div class="col-xs-12 comment-date">[[location]]</div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-10 col-sm-11">

                                <div class="row top-xs" style="margin-top:10px;">
                                    <div class="col-xs-11 col-md-12">
                                        <div class="row start-xs">
                                            <div class="col-xs-12 comment" id="itemText"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1 more-mobile-container">
                                        <div class="row end-xs">
                                            <paper-icon-button class="button-more-mobile"
                                                               noink="true"
                                                               icon="in-icon-set:more-vert"
                                                               on-tap="_openDrawer"></paper-icon-button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row item-actions-web">
                                    <div class="col-xs">
                                        <span on-tap="_voteUp" class="counter">
                                            <paper-icon-button id="icon-vote-up"
                                                               icon="in-icon-set:expand-less"></paper-icon-button>[[item.votesUp]]</span>
                                        <span on-tap="_voteDown" class="counter">
                                            <paper-icon-button id="icon-vote-down"
                                                               icon="in-icon-set:expand-more"></paper-icon-button>[[item.votesDown]]</span>
                                        <span style="margin-left:40px" class="col-xs-4">
                                              <paper-icon-button icon="in-icon-set:reply"
                                                                 on-tap="_reply"
                                                                 class="reply-disabled"></paper-icon-button>
                                        </span>

                                        <template is="dom-if" if="{{item.replies}}">

                                            <paper-icon-button on-tap="_getReplies" class="icon-comment" src="/images/icons/comment-o.svg">
                                            </paper-icon-button>
                                            <span class="icon-comment-text" on-tap="_getReplies">{{item.replies}}</span>

                                        </template>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </paper-drawer-panel-in>
            </div>
        </div>

        <br><br>

        <template is="dom-if" if="{{showReplies}}" id="templateReplies">
            <iron-list items="[[items]]" as="replyItem">

                <template>
                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1">
                             <discussion-item item="{{replyItem}}"></discussion-item>
                        </div>
                    </div>
                </template>

            </iron-list>
        </template>

        <iron-ajax
                id="ajaxProfile"
                method="GET"
                with-credentials
                on-response="_profileCallBack"></iron-ajax>

        <iron-ajax
                id="ajaxReplies"
                method="GET"
                with-credentials
                on-response="_repliesCallback"
                last-response="{{items}}"></iron-ajax>


    </template>
</dom-module>

<script type="text/javascript">

    (function () {
        'use strict';
        Polymer({
            is: 'discussion-item',
            behaviors: [ajaxBehavior],
            properties: {
                item: {
                    type: Object,
                    observer: "_itemChanged"
                },
                items: {
                    type: Array,
                    value: [],
                    notify: true,
                },
                showReplies:{
                    type:Boolean,
                    value:false,
                    notify:true
                }
            },

            ready: function(){

                this.addEventListener('remove-reply', function(e) {
                    if (this.item.isReply) {
                        return;
                    }
                    app.stopPropagation(e);
                    this._removeReplies();

                }.bind(this));

                this.$.ajaxSave.addEventListener('response', function(e){
                    this._saveCallBack(e);
                }.bind(this));

                // Template reply is rendered
                this.$.templateReply.addEventListener('dom-change', function(){
                    this._setReplyBehavior();
                }.bind(this));

            },

            attached: function () {
                this.userName = app.session.getName();
            },

            _saveCallBack: function(e){

                //recupero el parent_id antes de perderlo con el response.
                var parent_id = this.item.parent_id;
                var parent_name = this.item.parent_name;
                var parent_user_id = this.item.parent_id.user_id;

                var parentUserData = {
                    users_id: parent_user_id,
                    users_name: parent_name,
                    users_pic: parent_user_id+'.jpg'
                };

                this.set('item', e.detail.response);
                this.set('item.isReply', false);
                this.set('item.votesUp', 0);
                this.set('item.votesDown', 0);

                // Esperar renderizacion
                setTimeout(function () {
                    this.fire('iron-resize');
                }.bind(this), 500);

                /* information to log activity */
                var objects_id = [JSON.stringify(this.item.id), JSON.stringify(parent_id)];
                app.logActivity(app.constants.DISCUSSION_REPLY, objects_id, this.item.text, parentUserData);
            },

            _itemChanged: function(){

                if (!this.item.id) {
                    return;
                }

                this.set('items', []);
                var ironList = this.querySelector('iron-list');
                if (ironList) {
                    ironList.style.opacity = 0;
                }

                // set the text as HTML to render <br>
                this.$.itemText.innerHTML = this.item.text;

                this.$.ajaxProfile.url = app.apinode + '/journalists/get.info/' + this.item.id.user_id;
                this.$.ajaxProfile.generateRequest();
            },

            _setReplyBehavior: function(){

                var sender = this.querySelector("in-send-text");
                if(!sender) return;

                sender.setDiscussionBehavior();
                sender.addEventListener('discussion-replied', function(e){
                    var text = e.detail.text;
                    this._action(text);
                }.bind(this));
            },

            _getReplies: function(e){

                // e.currentTarget.innerText = '('+this.item.replies+')';

                const timestamp = Number(new Date(this.item.id.timestamp));
                const urlJson = app.apinode + '/discussions/reply.replies/' + this.item.id.uuid + '/' + timestamp + '/' + this.item.id.user_id;
                this.$.ajaxReplies.url = urlJson;
                this.$.ajaxReplies.generateRequest();
            },

            _repliesCallback: function(e){
                if(e.detail.response.length > 0){
                    this.set('showReplies', true);
                    setTimeout(function () {
                        this._resizeIronList();
                    }.bind(this), 400);
                }
            },

            _profileCallBack: function(e){
                if(!e.detail.response || e.detail.response.length <= 0) return;

                var data = e.detail.response[0];
                this.user_id = data.user_id;
                this.name = data.name;
                this.location = data.location;
                this.position = data.position;
                this.userPictureURl = app.apinode + "/images/get.picture/mini/" + data.picture;
            },

            _computeProfilePicture: function(){
                var picture = app.session.getPicture();
                return app.apinode + "/images/get.picture/mini/" + picture;
            },

            _computeInnerItemClass: function(item){

                if (!item.level) {
                    return;
                }

                if (parseInt(item.level) == 2) {
                    return 'row start-xs top-xs inner-item';
                }
                return 'row start-xs top-xs inner-item';
            },

            _viewReply: function (item) {

                if (!item.level) {
                    return;
                }

                if (parseInt(item.level) === 2) {
                    return 'col-xs-4 style-scope discussion-item reply-hidden';
                }

                return 'col-xs-4 style-scope discussion-item';
            },

            _computeStyleItem: function (item) {

                if (item == null || item.isReply) {
                    return 'display: none';
                } else {
                    return 'display: block';
                }
            },

            _computeDate: function (item) {

                if(!item.id)return; // new item

                var timestamp = Number(new Date(item.id.timestamp));
                var app = document.querySelector('#app');
                return app.timeAgo(timestamp, 'short');
            },

            _openDrawer: function () {
                this.$.drawer.togglePanel();
            },

            _onTapJournalist: function(){
                page("/profile/" + this.user_id);
            },

            _voteDown: function (e) {

                if (this.item.isVotingDown && this.item.votesDown > 0) {
                    return true;
                }

                var newValue;
                newValue = parseInt(this.item.votesDown) + 1;
                this.set('item.votesDown', newValue);
                this.set('item.isVotingDown', true);

                if (this.item.isVotingUp) {
                    newValue = parseInt(this.item.votesUp) - 1;
                    this.set('item.votesUp', newValue);
                    this.set('item.isVotingUp', false);
                }
                var eventData = {
                    id: this.item.id,
                    user_id:this.user_id,
                    name:this.name,
                    picture:this.picture,
                    text:this.item.text
                };

                this.fire('voteDown', eventData);
            },

            _voteUp: function () {

                if (this.item.isVotingUp && this.item.votesUp != 0) {
                    return;
                }

                var newValue = parseInt(this.item.votesUp) + 1;
                this.set('item.votesUp', newValue);
                this.set('item.isVotingUp', true);

                if (this.item.isVotingDown) {
                    newValue = parseInt(this.item.votesDown) - 1;
                    this.set('item.votesDown', newValue);
                    this.set('item.isVotingDown', false);
                }
                var eventData = {
                    id: this.item.id,
                    user_id:this.user_id,
                    name:this.name,
                    picture:this.picture,
                    text:this.item.text
                };

                this.fire('voteUp', eventData);
            },

            /*
             * Fire event to the parent to show the new reply input box. Send the item to reply.
             */
            _reply: function (e) {

                this._removeReplies();

                var btns = document.querySelectorAll(".reply-disabled[disabled]");
                for(var i = 0; i < btns.length; i++){
                    btns[i].removeAttribute("disabled");
                }
                this.$.drawer.closeDrawer();

                // Nuevo item reply
                var replyItem = {
                    parent_id: this.item.id,
                    parent_name: this.item.name,
                    isReply: true,
                    votesUp: 0,
                    votesDown: 0,
                    level: parseInt(this.item.level)+1,
                    text: ""
                }
                if(!this.showReplies){
                    this.set('showReplies', true);
                }

                this.splice('items', 0, 0, replyItem);

                setTimeout(function () {
                    this._resizeIronList();
                }.bind(this), 300);
            },

            _removeReplies: function(){

                if(!this.items) return;

                for(var i = 0; i < this.items.length; i++){
                    if(this.items[i].isReply){
                        this.splice('items', i, 1);

                        // setTimeout(function () {
                        this._resizeIronList()
                        // }.bind(this), 300);

                        break;
                    }
                }
            },

            _resizeIronList: function(){
                var ironList = this.querySelector('iron-list');
                if(ironList){
                    ironList.fire('iron-resize');
                    ironList.style.opacity = 1;
                }
            },

            _action: function (text) {

                var btns = document.querySelectorAll(".reply-disabled[disabled]");
                for(var i = 0; i < btns.length; i++){
                    btns[i].removeAttribute("disabled");
                }

                var params = {
                    name: app.session.getName(),
                    text: text,
                    parent_id: this.item.parent_id,
                    level: this.item.level
                };

                //Save reply
                this.$.ajaxSave.url = app.apinode + "/discussions/reply.toreply";
                this.$.ajaxSave.body = JSON.stringify(params);
                this.$.ajaxSave.generateRequest();
            },

            _onCloseTap: function(){
                this.querySelector("#sendMessageReply").value("");
                this.fire('remove-reply');
            }

        });
    })();

</script>
