
<link rel="import" href="../../recommended/recommended-journalists/recommended-journalists.html?v1.29">
<link rel="import" href="../feed-locked/feed-locked.html?v1.41">
<link rel="import" href="../feed-unlocked/feed-unlocked.html?v1.38">

<dom-module id="feed-main">

    <template>
        <style include="shared-styles">
            .fab-dashboard {
                @apply(--float-action-button);
            }

            @media only screen and (max-width: 48em) {
                .fab-dashboard {
                    height: 40px;
                    width: 40px;
                    padding: 8px;
                }
            }

        </style>
        <template is="dom-if" if="{{showLocked}}" restamp="true">

            <div class="row center-xs">
                <div class="col-xs-12 col-md-9" style="max-width: 1013px">
                    <feed-locked user-name="[[userName]]" route="{{route}}" status="{{status}}"></feed-locked>
                </div>
            </div>

        </template>

        <template is="dom-if" if="{{showUnlocked}}" restamp="true">
            <feed-unlocked route="{{route}}"></feed-unlocked>
        </template>

        <paper-fab id="fabDashboardHome"
                   title="Go to dashboard"
                   icon="in-icon-set:in-dashboard"
                   class="button-animated fab-dashboard"
                   elevation="3"
                   on-tap="_onFabButtonTap"></paper-fab>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'feed-main',
                behaviors: [ajaxBehavior],

                properties: {
                    showUnlocked:{
                        type: Boolean,
                        value: false
                    },
                    // feedLocked:{
                    showLocked:{
                        type: Boolean,
                        value: false
                    },
                    route: {
                       observer: "_routeChanged"
                    },
                    status:{
                        type: Object,
                        value:{
                            hasPic: false,
                            hasOffersRequest:false,
                            hasLocation:false
                        },
                    }
                },

                listeners:{
                    'task-completed':'_statusUpdated'
                },

                _statusUpdated: function () {
                    this._setStatusFromSession();
                    this._setStatus();
                },

                _onFabButtonTap: function(){
                    page("/dashboard");
                    app.logActivity(app.constants.CTA_FAB_DASHBOARD);
                },

                _routeChanged: function(){

                    if (this.route !== 'feed') {
                        return;
                    }
                    this._setStatusFromSession();
                    this._setStatus();
                },

                _setStatusFromSession: function () {

                    this.userName = app.session.getName();

                    this.set('status.hasLocation', app.session.hasLocation());
                    this.set('status.hasPic', app.session.hasPicture());
                    this.set('status.hasOffersRequest', app.session.hasOffersRequests());
                },

                /*
                 * Setea los atributos del objeto status y guarda los mismos valores en session
                 */
                _setStatus: function () {

                    if(this.status.hasLocation && this.status.hasPic && this.status.hasOffersRequest){
                        // this.set('feedLocked', false);
                        this.set('showUnlocked', true);
                        this.set('showLocked', false);
                        this.$.fabDashboardHome.hidden = false;
                    }else{
                        // this.set('feedLocked', true);
                        this.set('showLocked', true);
                        this.set('showUnlocked', false);
                        this.$.fabDashboardHome.hidden = true;
                    }
                }
            });
        })();
    </script>
</dom-module>
