<link rel="import" href="/elements/in/in-panel/in-panel.html">
<link rel="import" href="/elements/in/journalists-list/journalists-list.html">
<link rel="import" href="/elements/in/members-list/members-list.html">

"use-strict"
<dom-module id="project-new">
    <template>
        <style include="shared-styles">
            :host {
                @apply(--font-jouture);
            }
            .name-text {
                @apply(--very-small-text-highlighted);
            }
            .title-text {
                @apply(--medium-text);
            }
            .secondary-text {
                @apply(--very-small-text);
                margin-top: 5px;
            }
            .date {
                @apply(--very-small-text);
                color: #BEBEBE !important;
            }
            .location {
                color: #BEBEBE !important;
                @apply(--very-small-text);
            }
            .tags {
                @apply(--very-small-text);
                text-transform:uppercase;
                border: 1px solid var(--light-primary-color);
                padding: 2px 3px;
                margin: 0;
            }
            /*paper-textarea /deep/ #textarea{
                font-weight: 200 !important;
            }
            paper-textarea {
                --paper-input-container-label {
                    color: green;
                    font-weight: 200;
                }
            }*/
            iron-icon {
                --iron-icon-width: var(--location-icon-width);
                color: var(--dark-primary-color);
                margin-bottom: 4px;
            }
            .pin-icon {
                /*margin-top: -16px !important;*/
                height: 24px !important;
                width: 24px !important;
                padding: 0;
            }
            .showme {
                opacity: 0;
                z-index:1000;
                position:absolute;
                top: 4px !important;
                width: 20%;
                margin-top: 3px;
            }
            .item:hover .showme{
                opacity: 1;
                -webkit-transition: visibility 0s, opacity 0.15s linear;
                -moz-transition: visibility 0s, opacity 0.15s linear;
                -ms-transition: visibility 0s, opacity 0.15s linear;
                -o-transition: visibility 0s, opacity 0.15s linear;
                transition: visibility 0s, opacity 0.15s linear;

            }

            .item:hover .hideme{
                opacity: 0;
            }

            .fab-add {
                @apply(--float-action-button);
            }
            iron-list {
                background-color: white;
                overflow-y: hidden;
            }
            .item {
                padding: 15px 25px 10px 20px;
            //background-color: #FAFAFA;
                margin-bottom: 2px;
            //border: solid 1px var(--item-border-color);
                -webkit-font-smoothing: antialiased;
            }
            .item:focus {
                outline: 0;
            }
            :not(.new).item:hover{
            //background-color: #EEEEEE;
                background-color: #FAFAFA;
            }
            .new{
            //background-color: var(--light-primary-color);
            //background-color: #F0F0F0;
            }
            .unread{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: var(--accent-color);
                position: absolute;
                top: 20px;
                left: 7px;
            }
            .hidden{
                display: none;
            }
            .truncate {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .pic-journalist {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
            }
            paper-dialog {
                width:800px;
                max-height: 500px;
                background-color: #FFF;
                @apply(--small-text);
            }
            .button-follow {
                margin-right: 0 ;
            }
            .pin-text, pinned-text {
                font-size: var(--small-text);
                padding: 0;
                margin: 0;
            }
            .pinned-text {
                color: var(--accent-color);
            }
            .new-discussion-dialog {
                margin: 30px;
            }
            .new-discussion-buttons {
                margin-bottom: 90px;
                margin-right: 15px;
                margin-top: 90px;
                text-align: right;
            }
            .home-rules {
                @apply(--small-text);
                padding-bottom: 45px;
            }
            .show-mobile {
                margin-top: 12px;
                display: none;
            }
            .hide-mobile {
                display: flex;
            }
            .rules-fab {
                position:relative;
                top: -30px;
                right: -10px;
                color: #000;
                background-color: #FFF;

            }
            .rules-fab > iron-icon {
                width: 20px !important;
                height: 20px !important;
            }
            .rules-fab-container {
                border-top: 1px solid #dedede;
                height: 30px;
            }
            .add-tag-button {
                top: 30px;
            }
            .fab-add {
                @apply(--float-action-button);
            }
            .member-list {
              /*border-left: solid 1px #e0dede;*/
              margin-top: 33px;
              text-align: center;
              justify-conten: center;
              -webkit-justify-content: center;
              -webkit-box-pack: center;
            }

            @media all and (max-width: 64em) {
                .show-mobile {
                    display: flex;
                }
                .hide-mobile {
                    display: none;
                }
                .select-commonConection-button {
                    left: 0;
                }
            }

            @media all and (max-width: 48em) {
                .pic-journalist {
                    width: 38px;
                    height: 38px;
                }
                .title-text {
                    @apply(--small-text);
                }
            }


        </style>


        <paper-fab id="fabAddMembers"
                   title="Add Members"
                   icon="in-icon-set:people"
                   class="button-animated fab-add"
                   elevation="3"
                   on-tap="_addMemberTap"></paper-fab>


       <in-panel id="rightPanel" hide-cancel-button hide-ok-button>
          <journalists-list id="journalistsList"></journalists-list>
       </in-panel>


        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

                <div id="form" name="form" class="flex new-discussion-dialog">

                  <div class="row center-xs">
                      <div class="col-xs-12">
                          <label style="margin-left:22px;"><b>Pitch the editorial direction and requirements</b></label>
                      </div>
                  </div>

                  <div class="row home-rules">

                      <!--HOME RULES-->

                      <div class="col-xs-12" id="rulesBox" style="display:flex; text-align:center;">
                          <ul>
                              <div style="margin-bottom:5px;">Elaborate your newsroom beats.</div>
                              <div style="margin-bottom:5px;">What are the goals of the partnership?</div>
                              <div style="margin-bottom:5px;">What values are important to you or your organization that need to be important to your partners? </div>
                              <div style="margin-bottom:5px;">What do you need to get out of the partnership? </div>
                          </ul>
                      </div>
                  </div>


                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                          <div class="row center-xs rules-fab-container" id="fabContainer">
                              <paper-fab id="rulesFab"
                                         class="rules-fab"
                                         icon="in-icon-set:done"
                                         on-tap="_onRulesTap"
                                         elevation="1"></paper-fab>
                          </div>
                      </div>
                  </div>

                    <div class="row">

                        <!--FORM-->
                        <div class="col-xs-12">


                            <div class="row">
                                <div class="col-xs-12">

                                    <paper-textarea id="txtTitle"
                                                    name="txtTitle"
                                                    label="Create a project title"
                                                    max-rows="2"
                                                    required
                                                    minlength="10"
                                                    error-message="Title required, ten characters at least"
                                                    value="{{discussion.title}}"
                                                    char-counter
                                                    maxlength="120"></paper-textarea>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">

                                    <in-input-location id="discussionAddress"
                                                       value="{{discussion.location}}"
                                                       label="Choose a relevant location"
                                                       required></in-input-location>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <paper-textarea
                                            id="txtDiscussion"
                                            name="txtDiscussion"
                                            label="Describe your project"
                                            max-rows="5"
                                            required
                                            minlength="10"
                                            error-message="Description required, ten characters at least"
                                            value="[[discussion.text]]"
                                            char-counter
                                            maxlength="1024"></paper-textarea>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-11 col-sm-8 col-md-6">

                            <in-combo-box id="tagAutocomplete"
                                          no-result-label="{{noResultLabel}}"
                                          allow-custom-value
                                          dinamic-data
                                          label="Add a relevant tag"
                                          maxlength="35"
                                          char-counter
                                          item-label-path="{{label}}"
                                          item-value-path="{{value}}"
                                          items="{{tags}}"></in-combo-box>
                        </div>

                        <div class="col-xs-1">
                            <paper-icon-button id="addNewTagButton"
                                               disabled
                                               icon="in-icon-set:add-circle-outline"
                                               class="add-tag-button"
                                               on-tap="_tapAddNewTagButton"></paper-icon-button>
                        </div>

                        <div class="row" id="tagsContainer" style="padding:20px;">
                        </div>


                    </div>


                </div>
                <!-- </paper-material> -->


                <div class="row new-discussion-buttons">
                    <div class="col-xs-12">
                        <paper-button on-tap="_cancelNew" class="cancel-button">Cancel</paper-button>
                        <paper-button on-tap="_saveDiscussion" title="Save" id="btnSaveForm" class="ok-button">Save</paper-button>
                    </div>
                </div>
            </div>


            <div class="col-xs member-list">
                <members-list id="memberList"></members-list>
            </div>
        </div>


    <iron-ajax
            id="ajaxTags"
            method="GET"
            with-credentials
            on-response="_tagsCallback"></iron-ajax>

    <iron-ajax
            id="ajaxSave"
            method="POST"
            with-credentials
            handle-as="json"
            on-response="_saveCallBack"></iron-ajax>

    <iron-ajax id="ajaxGetDiscussion"
               method="GET"
               with-credentials
               handle-as="json"
               last-response="{{getDiscussionResponse}}"
               on-response="_getDiscussionCallBack"></iron-ajax>

   <iron-ajax
           id="ajaxMembers"
           method="GET"
           with-credentials
           on-response="_membersCallback"></iron-ajax>

   <iron-ajax
           id="ajaxAddMembers"
           method="POST"
           with-credentials
           on-response="_membersAddCallback"></iron-ajax>

   <iron-ajax
           id="ajaxRemoveMembers"
           method="POST"
           with-credentials
           on-response="_membersRemoveCallback"></iron-ajax>


    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'project-new',
                behaviors: [ajaxBehavior],
                properties: {
                    params:{
                        observer:'_paramsChange'
                    },
                    discussion: {
                      type: Object,
                      value: null,
                      observer: '_discussionChanged'
                    }
                },
                ready: function () {

                    document.addEventListener('iron-localstorage-load', function(){
                        var session = document.querySelector('#session');
                        this.userName = session.getName();
                    }.bind(this));

                },

                attached: function () {

                    this.$.journalistsList.addEventListener('item-selected', function(e){
                      this._addMembers(e.detail)
                    }.bind(this));

                    this.$.memberList.addEventListener('remove-item', function(e){
                      let journalist = e.detail;
                      this._removeMembers(e.detail.user_id)
                    }.bind(this));

                    this.$.tagAutocomplete.addEventListener('vaadin-change-filter', function (e) {

                        this.noResultLabel = 'Click (+) to add "'+ e.detail+ '"';
                        this.typedString = e.detail;

                        this.$.ajaxTags.url = app.apinode + "/tags/search/" + e.detail;
                        this.$.ajaxTags.generateRequest();

                    }.bind(this));

                    this.$.tagAutocomplete.addEventListener('enter-pressed', function (e) {
                        this.autocompleteEnterPressed = true;
                    }.bind(this));

                    this.$.tagAutocomplete.addEventListener('selected-item-changed', function (e) {

                        if(! e.detail.value){
                            return;
                        };
                        var tag = document.createElement('in-tag');
                        tag.item = { label: e.detail.value };
                        this.$.tagsContainer.appendChild(tag);

                        this._clearTagAutoComplete();


                    }.bind(this));

                    this.$.tagAutocomplete.addEventListener('custom-value-set', function (e) {

                        this.set('newTag', e.detail);

                        if(this.autocompleteEnterPressed){
                            this._tapAddNewTagButton();
                            this.autocompleteEnterPressed = false;
                        }

                    }.bind(this));

                    this._onRulesTap();
                },

                _addMemberTap: function(){
                    this.$.journalistsList.loadItems();
                    this.$.rightPanel.open();
                },

                _onRulesTap: function(){

                    if(this.$.rulesBox.style.display === 'flex'){
                        this.$.rulesBox.style.display = 'none';
                        // this.$.rulesFab.icon = 'in-icon-set:question-mark';
                        this.$.rulesFab.icon = 'in-icon-set:chevron-right';
                        this.$.rulesFab.$.icon.style.width = '16px';
                        this.$.rulesFab.$.icon.style.height = '16px';
                        this.$.rulesFab.style.color = 'rgba(104, 104, 104, 0.66)';
                        // this.$.rulesFab.$.icon.style.transform = 'rotate(90deg);';
                        this.$.fabContainer.className = this.$.fabContainer.className.replace('rules-fab-container', '');
                        this.$.rulesFab.mini = true;
                    }else{
                        this.$.rulesBox.style.display = 'flex';
                        this.$.rulesFab.icon = 'in-icon-set:done';
                        this.$.rulesFab.style.color = '#000';
                        this.$.rulesFab.$.icon.style.width = '24px';
                        this.$.rulesFab.$.icon.style.height = '24px';
                        this.$.rulesFab.$.icon.style.transform = '';
                        this.$.fabContainer.className = this.$.fabContainer.className + ' rules-fab-container';
                        this.$.rulesFab.mini = false;
                    }
                },

                _getSelectedTags: function(){

                    var selectedTags = [];
                    for (var index in Polymer.dom(this.$.tagsContainer).children) {
                        var tagName = Polymer.dom(this.$.tagsContainer).children[index].getLabel();
                        var found = false;
                        for (var i = 0; i < selectedTags.lenght; i++) {
                            if (selectedTags[i] === tagName) {
                                found = true;
                            }
                        }
                        if (!found) {
                            selectedTags.push(tagName);
                        }
                    }
                    return selectedTags;
                },

                _saveDiscussion: function () {

                    if(!this._isValidForm()){
                        return;
                    }

                    const objParams = {
                        id: this.discussion ? this.discussion.id : null,
                        title: this.$.txtTitle.value,
                        text: this.$.txtDiscussion.value,
                        location: this.$.discussionAddress.getObjLocation(),
                        address: this.$.discussionAddress.getAddress(),
                        tags: this._getSelectedTags(),
                        name: app.session.getName()
                    };

                    // Validar que no se haya ingresado un continente.
                    if (!objParams.location || !objParams.location.country_short) {
                        app.showToast('Please type an specific Country in the location field', 'error');
                        return;
                    }

                    dialogSpinner.open();

                    // Save discussion in Graph
                    this.$.ajaxSave.body = JSON.stringify(objParams);
                    this.$.ajaxSave.url = app.apinode + '/projects';
                    this.$.ajaxSave.generateRequest();
                },

                _saveCallBack: function (e) {

                    dialogSpinner.close();

                    const objectID = JSON.stringify(e.detail.response.id);

                    // Log activity if it's new
                    if(!this.discussion){
                        var activityDetail = Array();
                        activityDetail.push(e.detail.response.title);
                        activityDetail.push(e.detail.response.text);
                        activityDetail.push(app.session.getLocation());
                        // app.logActivity(app.constants.DISCUSSION_POST, objectID, activityDetail);
                    }

                    page('/project');
                    this._clearElement();

                    app.showToast('Your project has been saved succesfully', 'success');
                },

                _tagsCallback: function (e) {

                    // el input está vacío, se ha borrado la busqueda
                    if(!this.typedString){
                        this._toggleAddButtonStatus(true);
                        this.tags = null;
                        return;
                    }

                    if(e.detail.response.length == 0){
                        this._toggleAddButtonStatus();
                    }else{
                        this._toggleAddButtonStatus(true);
                    }

                    this.tags = e.detail.response;
                },

                _toggleAddButtonStatus: function(disable){

                    if(disable){
                        //DESHABILITAR
                        this.$.addNewTagButton.setAttribute('disabled', true);
                        this.$.addNewTagButton.style.color = app.constants.DISABLED_COLOR;
                    }else{
                        //HABILITAR
                        this.$.addNewTagButton.removeAttribute('disabled');
                        // this.$.addNewTagButton.style.color = app.constants.ACCENT_COLOR;
                        this.$.addNewTagButton.style.color = 'green';
                    }
                },

                _validateTagName: function(tagName){

                    const lettersNumbersAndSpaces = /^[0-9a-zA-Z\s]*$/;
                    if(tagName === '' || tagName.length < 1 || tagName.length > 45 || !tagName.match(lettersNumbersAndSpaces)){
                        return false;
                    }
                    return true;
                },

                _tapAddNewTagButton: function () {

                    if(!this.newTag){
                        return;
                    }

                    if(!this._validateTagName(this.newTag)){
                        this.$.tagAutocomplete.errorMessage = 'Letters and numbers only.';
                        this.$.tagAutocomplete.invalid = true;
                        return;
                    }else{
                        this.$.tagAutocomplete.invalid = false;
                    }

                    this._toggleAddButtonStatus(true);

                    var tag = document.createElement('in-tag');
                    tag.item = { label: this.newTag };
                    this.$.tagsContainer.appendChild(tag);
                    this._clearTagAutoComplete();
                },

                _isValidForm: function(){

                    this.$.txtTitle.invalid = false; //
                    var validTxtTitle = this.$.txtTitle.validate();

                    if(!this.$.txtTitle.value || this.$.txtTitle.value.length < 10){
                        validTxtTitle = false;
                        this.$.txtTitle.invalid = true; // pongo la propiedad a true para que se meustre el mensaje de error
                    }

                    var validLocation = true;
                    // if(!this.editMode){ por ahora comentado, porque no hemos resuelto recuperar el objeto address al editar
                    // es necesario recuperarlo y volver a enviarlo para utilizar los campos country_short y otros
                    // en el primary key de la tabla match_counter
                    validLocation = this.$.discussionAddress.validate();
                    // }

                    this.$.txtDiscussion.invalid = false;
                    var validTxtDiscussion = this.$.txtDiscussion.validate();

                    if(!this.$.txtDiscussion.value ||this.$.txtDiscussion.value.length < 10){
                        validTxtDiscussion = false;
                        this.$.txtDiscussion.invalid = true;
                    }

                    if (!validTxtTitle || !validTxtDiscussion || !validLocation) {
                        return false;
                    }
                    return true;
                },

                _cancelNew: function(){
                    this._clearElement();
                    page('/project');
                },

                _clearTagAutoComplete: function () {
                    /*Pone a limpia el value del in-combox*/
                    this.$.tagAutocomplete.value = null;

                    /*Elimina cualquier tag introducido por el usuario*/
                    this.$.tagAutocomplete.cancel();

                    this.set('tags', []);

                    this.newTag = null;

                },

                _clearElement: function () {

                    /*limpio los campos*/
                    this.$.txtTitle.value = '';
                    this.$.txtDiscussion.value = '';
                    this.$.discussionAddress.value = '';
                    this.$.discussionAddress.clear();

                    /*Limpio los posibles mensajes de error*/
                    this.$.txtTitle.invalid = false;
                    this.$.txtDiscussion.invalid = false;

                    //Remove previous added tags. This is faster than this.$.tagsContainer.innerHTML = ''
                    while (this.$.tagsContainer.firstChild) {
                        this.$.tagsContainer.removeChild(this.$.tagsContainer.firstChild);
                    }

                    this.discussion = null;
                    this.editMode = false;
                    /*clear in-combobox*/
                    this._clearTagAutoComplete();

                    this.$.memberList.setData([], false);
                },

                _paramsChange: function () {

                    if(!this.params.uuid || this.route_project != 'new'){
                        return;
                    }

                    this.$.ajaxGetDiscussion.url = app.apinode + '/projects/detail/'+ this.params.uuid +'/'+ this.params.timestamp;
                    this.$.ajaxGetDiscussion.generateRequest();
                    this.editMode = true;

                    this.$.memberList.setData([], false);
                    this.$.ajaxMembers.url = app.apinode + '/projects/members/'+ this.params.uuid;
                    this.$.ajaxMembers.generateRequest();
                },

                _getDiscussionCallBack: function () {

                    this.getDiscussionResponse.location = '';
                    this.discussion = this.getDiscussionResponse;

                    var array_tags = this._splitTags(this.discussion.tags);

                    var tag;
                    for(var index in array_tags){
                        tag = {label: array_tags[index]};
                        this._insertTag(tag);
                    }
                },

                _splitTags: function (objectTags) {
                    return Object.keys(objectTags).map(function(val) { return val });
                },

                _insertTag: function (tag) {
                    var elementTag = document.createElement('in-tag');
                    elementTag.item = tag;
                    this.$.tagsContainer.appendChild(elementTag);
                },

                _discussionChanged: function(){
                  if (this.discussion && this.discussion.id) {
                    this.$.fabAddMembers.style.display = 'block';
                  }else {
                    this.$.fabAddMembers.style.display = 'none';
                  }
                },

                _membersCallback: function(e){
                  this.$.memberList.setData(e.detail.response, true);
                  dialogSpinner.close();
                },

                _membersAddCallback: function(e){
                  this._getMembers();

                  // Log activity
                  if(this.discussion){
                      const objectID = JSON.stringify(this.discussion.id);
                      var activityDetail = Array();
                      activityDetail.push(this.discussion.title);
                      activityDetail.push(this.discussion.text);
                      activityDetail.push(app.session.getLocation());
                      var userData = {};
                      userData.users_id = this.member.user_id;
                      userData.users_name = this.member.name;
                      userData.users_pic = this.member.picture;
                      app.logActivity(app.constants.PROJECT_ADD_MEMBER, objectID, activityDetail, userData);
                  }
                },

                _getMembers: function(){
                  if (!this.discussion || !this.discussion.id) return;
                  this.$.ajaxMembers.url = app.apinode + '/projects/members/'+ this.discussion.id.uuid;
                  this.$.ajaxMembers.generateRequest();
                },

                _addMembers: function(member){
                  if (!this.discussion || !this.discussion.id) return;

                  let params = {
                    user_id: member.user_id,
                    uuid: this.discussion.id.uuid
                  };

                  this.member = member;

                  this.$.ajaxAddMembers.body = JSON.stringify(params)
                  this.$.ajaxAddMembers.url = app.apinode + '/projects/add.member/';
                  this.$.ajaxAddMembers.generateRequest();
                },

                _removeMembers: function(userID){
                  if (!this.discussion || !this.discussion.id) return;

                  userID = parseInt(userID);
                  if(userID == this.discussion.user_id) return;

                  let params = {
                    user_id: userID,
                    uuid: this.discussion.id.uuid
                  };

                  dialogSpinner.open();
                  this.$.ajaxRemoveMembers.body = JSON.stringify(params)
                  this.$.ajaxRemoveMembers.url = app.apinode + '/projects/remove.member/';
                  this.$.ajaxRemoveMembers.generateRequest();
                },

                _membersRemoveCallback: function(){
                  this._getMembers();
                }

            });
        })();
    </script>
</dom-module>
