<link rel="import" href="../dashboard-profile/dashboard-profile.html?v1.12">
<link rel="import" href="../dashboard-community/dashboard-community.html?v1.12">
<link rel="import" href="../dashboard-counters/dashboard-counters.html">
<link rel="import" href="../dashboard-level/dashboard-level.html">


<dom-module id="dashboard-main">
    <template>

        <style include="shared-styles">

            .hide-div{
                display: none;
            }

            paper-tabs[no-bar] paper-tab.iron-selected {
                color: var(--primary-text-color);
                background-color:var(--accent-color);
                --paper-tab-ink: var(--accent-color);
                font-weight: 100 !important;
                @apply(--small-text);
            }
            paper-tabs paper-tab {
                @apply(--medium-text) !important;
                color: var(--secondary-text-color);
                font-weight: 100 !important;
                --paper-tab-ink: var(--accent-color);
                height: 150px !important;
                background-color: white;
            }
            .background {
                background-color:var(--body-background-color);
                height: 100%;
                padding-top: 30px;
            }
            .dashboard-level {
                margin-left: -19px;
                /*margin-top: 20px;*/
            }


            @media only screen and (max-width: 48em) {

                paper-tabs {
                    height: 60px !important;
                    margin-bottom: -15px;
                    padding-right: 6px;
                    /*margin-top: 20px;*/
                }

                .right-panel-container{
                    display: none;
                }
                .textTab{
                    display: none;
                }
                .textTabDisabled{
                    display: none;
                }
                .textLevelTabSelected{
                    display: none;
                }
                .textLevelTabUnselected{
                    display: none;
                }
                .textLevelTabDisabled{
                    display: none;
                }
                .section-timer-up{
                    margin-bottom: 25px;
                    display: block;
                }
                .section-timer-down{
                    display: none;
                }
                .iconTabSelected{
                    position: absolute;
                    top: 13px;
                    left: calc(50% - 20px);
                    width: 35px;
                    height: 35px;
                    color: white;
                }
                .iconTabUnselected{
                    position: absolute;
                    top: 13px;
                    left: calc(50% - 20px);
                    width: 35px;
                    height: 35px;
                    color: var(--primary-text-color);
                }
                .iconTabDisabled{
                    position: absolute;
                    top: 13px;
                    left: calc(50% - 20px);
                    width: 35px;
                    height: 35px;
                    color: var(--disabled-text-color);
                }
            }


            @media only screen and (min-width: 48em) {

                paper-tabs{
                    height: 60px !important;
                    margin-bottom: 25px;
                    /*margin-top: 20px;*/
                    margin-left: 20px;
                    margin-right: -20px;
                    width: calc(100% - 20px);
                }

                .iconTab{
                    display: none;
                }
                .textTab{
                    @apply(--medium-text);
                    color: var(--primary-text-color);
                    position: absolute;
                    top: 12px;
                    left: 30px;
                }
                .textTabDisabled{
                    @apply(--medium-text);
                    color: var(--disabled-text-color);
                    position: absolute;
                    top: 12px;
                    left: 30px;
                }
                .textLevelTabSelected{
                    @apply(--small-text);
                    color: white;
                    position: absolute;
                    top: 32px;
                    left: 30px;
                }
                .textLevelTabUnselected{
                    @apply(--small-text);
                    color: var(--accent-color);
                    position: absolute;
                    top: 32px;
                    left: 30px;
                }
                .textLevelTabDisabled{
                    @apply(--small-text);
                    color: var(--disabled-text-color);
                    position: absolute;
                    top: 32px;
                    left: 30px;
                }
                .section-timer-up{
                    display: none;
                }
                .section-timer-down{
                    display: block;
                }
            }
        </style>

        <iron-ajax
                id="ajaxTask"
                method="GET"
                with-credentials
                handle-as="json"
                last-response="{{tasksResponse}}"
                on-response="_ajaxTaskCallBack">
        </iron-ajax>


        <div class="row background">
            <div id="dashboardMainContainer" class="col-xs-12 col-md-8 col-md-offset-1">

                <paper-tabs attr-for-selected="page-selected" selected="{{pageSelected}}" no-bar>

                    <paper-tab id="profile" on-tap="_tapTab" page-selected="profile">
                        <div>
                            <iron-icon class="iconTabSelected" icon="in-icon-set:person"></iron-icon>
                            <span class="textTab">Profile improvement tasks</span>
                        </div>
                        <div>
                            <span id="tabProfile" class="textLevelTabSelected">{{profileLevel}}</span>
                        </div>
                    </paper-tab>

                    <paper-tab id="community" on-tap="_tapTab" page-selected="community">
                        <div>
                            <iron-icon class="iconTabUnselected" icon="in-icon-set:people"></iron-icon>
                            <span id="subProfilex" class="textTab">Community engagement tasks</span>
                        </div>
                        <div>
                            <span id="tabCommunity" class="textLevelTabUnselected">{{communityLevel}}</span>
                        </div>
                    </paper-tab>

                    <!--<paper-tab page-selected="profile">-->
                        <!--<div>-->
                            <!--<iron-icon class="iconTabDisabled" icon="in-icon-set:more-horiz"></iron-icon>-->
                            <!--<span id="subProfilexl" class="textTabDisabled">Audience Engagement</span>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<span class="textLevelTabDisabled">Coming soon</span>-->
                        <!--</div>-->
                    <!--</paper-tab>-->

                </paper-tabs>


                <iron-pages id="timerTopContainer" attr-for-selected="page-selected" selected="{{pageSelected}}">
                    <section  page-selected="profile" class="section-timer-up">
                        <br/>
                        <dashboard-timer route="{{route}}"></dashboard-timer>
                    </section>
                </iron-pages>

                <iron-pages attr-for-selected="page-selected" selected="[[pageSelected]]">

                    <section page-selected="profile">
                        <dashboard-profile page-selected="[[profileSelected]]"
                                           id="dashboardProfile"
                                           route="{{route}}"
                                           game-status="{{tasksArray}}" ></dashboard-profile>
                    </section>

                    <section page-selected="community">
                        <dashboard-community page-selected="[[communitySelected]]"
                                             route="{{route}}"
                                             game-status="{{tasksArray}}"></dashboard-community>
                    </section>

                    <section page-selected="audience">
                        Coming soon
                    </section>
                </iron-pages>

                <!-- <dashboard-level class="dashboard-level"
                                 game-selected="{{pageSelected}}"
                                 current-level="{{currentLevel}}"
                                 summaries="{{summaries}}"></dashboard-level> -->

            </div>

            <div id="rightPanelContainer" class="col-xs-12 col-md-2 right-panel-container">
                <iron-pages attr-for-selected="page-selected" selected="{{pageSelected}}">

                    <section page-selected="profile" class="section-timer-down">
                        <dashboard-timer route="{{route}}"></dashboard-timer>
                    </section>

                    <section page-selected="community">
                        <dashboard-counters selected="{{pageSelected}}" user-counters="{{userCounters}}"></dashboard-counters>
                    </section>

                </iron-pages>

            </div>
        </div>


    </template>
</dom-module>


<script type="text/javascript">


    HTMLImports.whenReady(function () {

    // (function () {
            // 'use strict';

            Polymer({
                is: 'dashboard-main',
                properties: {
                    route: {
//                        observer: "_routeChanged"
                    },
                    tasksArray:{
                        type: Array,
                        value:[]
                    },
                    pageSelected: {
                        type: String,
                        value: 'profile',
                        observer: "_pageSelectedChanged"
                    },
                    isFistLevelCompleted:{
                        type:Boolean,
                        value:false,
//                        observer:'_isFisrtLevelChange'
                    },
                },

                ready: function () {
                    this._onRouteChange();
                },

                _isFisrtLevelChange: function () {
                    this._setWithMainContainer();
                },

                _setWithMainContainer: function () {

                    /*pongo en 8 o 10 columnas el div principal*/
                    if(this.pageSelected != 'profile'){

                        this.toggleClass('col-md-8', true, this.$.dashboardMainContainer);
                        this.toggleClass('col-md-10', false, this.$.dashboardMainContainer);

                        /*oculto el contenedor de el timer en mobile*/
                        this.toggleClass('hide-div', false, this.$.rightPanelContainer);

                    }else{
                        this.toggleClass('col-md-8', !this.isFistLevelCompleted, this.$.dashboardMainContainer);
                        this.toggleClass('col-md-10', this.isFistLevelCompleted, this.$.dashboardMainContainer);
                        this.toggleClass('hide-div', this.isFistLevelCompleted, this.$.rightPanelContainer);
                        this.toggleClass('hide-div', this.isFistLevelCompleted, this.$.timerTopContainer);
                    }
                },

                _pageSelectedChanged: function () {
                    this._setWithMainContainer();
                },

                _onRouteChange : function(){

                    this.isFistLevelCompleted = app.session.hasLocation() && app.session.hasOffersRequests() && app.session.hasPicture();
                    this._setWithMainContainer();

                    this.profileLevel = "Starter";
                    this.communityLevel = "Level 1";
                    this.$.ajaxTask.url = app.apinode + '/activities/game_status/' + app.session.getUser();
                    this.$.ajaxTask.generateRequest();


                },

                _ajaxTaskCallBack: function(){

                    this.userCounters = this.tasksResponse.activities;

                    var profileIncomplete = false;
                    var communityIncomplete = false;

                    for( var i = 0; i < this.tasksResponse.summaries.length; i++){

                        if(this.tasksResponse.summaries[i].game == "community"){
                            if(communityIncomplete){
                                this.tasksResponse.summaries[i].done = false;
                            }else if(!this.tasksResponse.summaries[i].done){
                                communityIncomplete = true;
                                app.currentLevelCommunity = this.tasksResponse.summaries[i].level;
                            }
                        }
                        if(this.tasksResponse.summaries[i].game == "profile"){
                            if(profileIncomplete){
                                this.set( 'tasksResponse.summaries.' + i + '.done'  , false);
//                                this.tasksResponse.summaries[i].done = false;
                            }else if(!this.tasksResponse.summaries[i].done){
                                profileIncomplete = true;
                                app.currentLevelProfile = this.tasksResponse.summaries[i].level;

                                if (app.currentLevelProfile == 1) {
                                    this.set('isFisrtLevel', true);
                                }else{
                                    this.set('isFisrtLevel', false);
                                }

                            }
                        }

                    }

                    /* Set TOTALS for each levels */
                    this.tasksResponse.totalPoints = 0;
                    var tasksCompleted = false;
                    var taskGame;
                    var taskLevel;
                    var taskPoints = 0;
                    var taskQuantityGoal = 0;
                    this.tasksResponse.totalTasksProfile = 0;
                    this.tasksResponse.totalTasksCommunity = 0;
                    this.tasksResponse.completedTasksProfile = 0;
                    this.tasksResponse.completedTasksCommunity = 0;

                    for( var j = 0; j < this.tasksResponse.items.length; j++){

                        tasksCompleted = this.tasksResponse.items[j].completed;
                        taskGame = this.tasksResponse.items[j].game;
                        taskLevel = this.tasksResponse.items[j].level;
                        taskPoints = parseFloat(this.tasksResponse.items[j].points);
                        taskQuantityGoal = parseFloat(this.tasksResponse.items[j].quantity_goal);

                        if( tasksCompleted && taskGame == 'community' && taskLevel <= app.currentLevelCommunity ){
                            this.tasksResponse.totalPoints += (taskPoints * taskQuantityGoal);
                            this.tasksResponse.completedTasksCommunity += 1;

                        } else if( tasksCompleted && taskGame == 'profile' && taskLevel <= app.currentLevelProfile ){
                            this.tasksResponse.totalPoints += (taskPoints * taskQuantityGoal);
                            this.tasksResponse.completedTasksProfile += 1;
                        }

                        if(taskGame == 'profile'){
                            this.tasksResponse.totalTasksProfile += 1;
                        }else if(taskGame == 'community'){
                            this.tasksResponse.totalTasksCommunity += 1;
                        }
                    }

                    this.set('tasksArray', this.tasksResponse);
                    this._setLevelLabels();
                },

                _setLevelLabels: function(){
                    switch(app.currentLevelProfile){
                        case 1:
                            this.profileLevel = "Starter";
                        break;
                        case 2:
                            this.profileLevel = "Junior";
                        break;
                        case 3:
                            this.profileLevel = "Mid-level";
                        break;
                        case 4:
                            this.profileLevel = "Senior";
                        break;
                        case 5:
                            this.profileLevel = "All-Star";
                        break;
                    }
                    this.communityLevel = "Level " + app.currentLevelCommunity;
                },

                _tapTab: function(e){

                    var profile = this.$.profile.querySelectorAll('span')[1];
                    var community = this.$.community.querySelectorAll('span')[1];

                    var iconProfile = this.$.profile.querySelector('iron-icon');
                    var iconCommunity = this.$.community.querySelector('iron-icon');

                    if(e.currentTarget.id){
                        profile.className = profile.className.replace('textLevelTabSelected','textLevelTabUnselected');
                        community.className = community.className.replace('textLevelTabSelected','textLevelTabUnselected');

                        iconProfile.className = iconProfile.className.replace('iconTabSelected','iconTabUnselected');
                        iconCommunity.className = iconCommunity.className.replace('iconTabSelected','iconTabUnselected');
                    }
                    if(e.currentTarget.id === "profile"){
                        profile.className = profile.className.replace('textLevelTabUnselected','textLevelTabSelected');
                        iconProfile.className = iconProfile.className.replace('iconTabUnselected','iconTabSelected');
                    }
                    else if(e.currentTarget.id === "community"){
                        community.className = community.className.replace('textLevelTabUnselected','textLevelTabSelected');
                        iconCommunity.className = iconCommunity.className.replace('iconTabUnselected','iconTabSelected');
                    }

                }
            });
        });
        // })();

    </script>
