<link rel="import" href="../dashboard-task/dashboard-task.html">

<dom-module id="dashboard-profile">
    <template>

        <style include="shared-styles">

            .fab-center{
                position: absolute;
                left: calc(50% - 28px);
                bottom: -30px;
            }

            .complete-profile{
                margin-top: 60px;
                margin-bottom: 30px;
                font-weight:500!important;
            }
            .vignette {
                height: 10px !important;
                width: 10px !important;
                border-radius: 50%;
                background-color: var(--accent-color);
                position: absolute;
                top: 5px;
                left: -15px;
            }
            .enable-vignette{
                background-color: var(--accent-color);
            }
            .disable-vignette{
                background-color: var(--disabled-text-color);
            }

            .progress{
                width: 100%;
                --paper-progress-active-color: var(--accent-color);
                margin-top: 10px;
                --paper-progress-height: 2px;
            }
            .progress-bold{
                width: 100%;
                --paper-progress-active-color: var(--accent-color);
                margin-top: 10px;
                margin-bottom: 10px;
                --paper-progress-height: 2px;
            }
            .level-container{
                position: relative;
                margin-bottom: 10px;
                display: block;
                padding: 0 0 0 8px;

            }
            .level{
                position: absolute;
                height: 10px;
                width: 4px;
                background-color: var(--accent-color);
                right: -2px;
                border-radius: 2px;
                top: -6px;
            }
            .line-level{
                position: absolute;
                width: 0;
            }
            .orange{
                color: var(--accent-color);
            }
            .disable{
                color: var(--secondary-text-color);
            }
            .complete{
                position: relative;
                margin-left: 15px;
            }
            .disable-complete{
                position: relative;
                margin-left: 15px;
                color: var(--disabled-text-color);
            }
            .card{
                margin-bottom: 30px;
            @apply(--small-text);
                width: calc(100% - 20px);
                margin-left: 20px;
                margin-right: 20px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .level-progress-title-container {
                padding: 16px;
            }
            .level-progress-container{
                padding: 16px 16px 30px 16px;
                position: relative;
            }

            .title-card-container{
                font-size: 16px;
                padding-bottom: 14px;
                font-weight: 300;
            }
            .points-card-title-container{
                margin-bottom: 5px;
            }
            .total-points-earned-container{
                margin-top: -16px;
            }
            .hide-total-points-mobile{
                display: inline-block;
            }

            @media only screen and (max-width: 48em) {
                .card{
                    margin-right: 6px;
                    margin-left: 0px;
                    width: calc(100% - 5px);
                    left: 0;
                }

                .first-card{
                    margin-bottom: 85px;

                }

                .level-container{
                    display: none;
                }
                .current-level{
                    display: block;
                }
                .total-points-earned-container{
                    margin-top: -14px;
                }

                .hide-total-points-mobile{
                    display: none;
                }

            }

            .help-button{
                z-index: 99999;
                position: fixed;
                left: 16px;
                bottom: 16px;
                color: #000;
                background: #FFF;
                border: 1px solid #B6B6B6
            }

            .hidde{
                display: none;
            }

            .empty-tasks{
                margin: 30px 0 30px 0;
                width: 100%;
                text-align: center;
            @apply(--small-text);
                color: var(--primary-text-color);
            }

        </style>

        <iron-ajax
                id="ajaxSaveUser"
                method="POST"
                with-credentials
                handle-as="json"></iron-ajax>


        <paper-fab mini
                   id="helpButton"
                   class="help-button"
                   src="../../../../images/icons/query.svg"
                   on-tap="_onHelpTap"></paper-fab>

        <iron-pages attr-for-selected="page-selected" selected="{{pageSelected}}">

            <section page-selected="welcome">
                <paper-card class="card first-card" elevation="0">
                    <div class="card-content">
                        Hey {{userName}},
                        <br/>
                        <br/>
                        Welcome to the dashboard, your guide around Kulectiv.
                        <br/>
                        You'll see your engagement metrics and new tasks to get you going.
                        <br/>
                        <br/>
                        First, it's important to complete your profile in order to keep your account active.

                        <div align="center" class="complete-profile">
                            Let's improve your profile.
                        </div>
                    </div>
                    <div class="row center-xs">
                        <div class="col-xs-1">
                            <paper-fab on-tap="_tapYes"
                                       class="fab-center"
                                       icon="in-icon-set:navigate-next"></paper-fab>
                        </div>
                    </div>
                </paper-card>
            </section>


            <section page-selected="profile">

                <paper-card class="card"  elevation="0">
                    <div class="card-content row between-xs">

                        <div class="col-xs-12 title-card-container" style="padding-left: 6px">
                            <span>Your level</span>
                        </div>

                        <template is="dom-repeat" items="{{levelSummaries}}">
                            <div class="col-xs-1 level-container disabled-text" style$="{{_computeLevelStyle(item)}}" align="left">
                                {{_computedTagLevel(item.level)}}
                            </div>
                        </template>

                        <div class="col-xs-12" style="position: relative; margin-bottom: 14px">
                            <paper-progress id="progress"
                                            class="progress"
                                            value="{{levelProgress}}"></paper-progress>

                            <div id="line_level" class="line-level">
                                <div class="level"></div>
                            </div>

                        </div>

                    </div>
                </paper-card>

                <paper-card class="card"  elevation="0">
                    <div class="card-content">
                        <div class="title-card-container">
                            <span>At this level, you have:</span>
                        </div>

                        <span class="orange">{{tasksCompleted}}</span>
                        <!-- <br/> -->
                        <span class="orange">Tasks completed</span>
                        <div class="row">
                            <div class="col-xs-9">
                                <paper-progress class="progress-bold" value="{{tasksPercent}}"></paper-progress>
                            </div>
                            <div class="col-xs-3 total-points-earned-container" align="center">
                                <span class="hide-total-points-mobile">Total points earned</span>
                                <br>
                                <span class="orange">{{gameStatus.totalPoints}} pts.</span>
                            </div>
                        </div>
                        <span class="disable">{{taskRemaining}}</span>
                        <!-- <br/> -->
                        <span class="disable">remaining</span>
                    </div>
                </paper-card>

                <paper-card class="card"  elevation="0">
                    <div class="card-content">
                        <div class="title-card-container">
                            <span>Your tasks</span>
                        </div>

                        <template is="dom-if" if="{{!taskItems}}">
                            <span class="empty-tasks">No tasks are available this moment</span>
                        </template>
                        <template is="dom-repeat" items="{{taskItems}}">
                            <dashboard-task item="{{item}}"></dashboard-task>
                            <br/>
                        </template>
                    </div>
                </paper-card>


                <dashboard-level class="dashboard-level"
                                 game-selected="profile"
                                 current-level="{{currentLevel}}"
                                 summaries="{{levelSummaries}}"
                                 total-points="{{gameStatus.totalPoints}}"></dashboard-level>
            </section>
        </iron-pages>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'dashboard-profile',
                properties: {
                    gameStatus: {
                        observer: "_gameStatusChanged"
                    },
                    pageSelected: {
                        type: String,
                        notify: true
                    },
                    route:{
                        observer: '_routeChanged'
                    }
                },

                ready: function(){

                    this.userName = app.session.getName();

                    window.addEventListener("resize", function () {
                        this._setLineLevelPosition()
                    }.bind(this));
                },

                _setLineLevelPosition: function () {
                    if(this.$.progress.offsetWidth == 0) return;
                    var width = Math.round(this.$.progress.offsetWidth * this.levelProgress / 100);
                    this.$.line_level.style.width = width + "px";
                },

                _handleWelcomeMessage: function(){

                    if(app.session.getReadProfileInfo() == 1){
                        this.pageSelected = "profile";
                        this.$.helpButton.classList.remove("hidde");
                    }else{
                        this.pageSelected = "welcome";
                        this.$.helpButton.classList.add("hidde");
                    }
                },
                _routeChanged: function(){
                    if(this.route == 'dashboard'){
                        this._handleWelcomeMessage();
                    }
                },

                _computeLevelStyle: function(item){

                    if(this.currentLevel >= item.level){
                        return 'color: '+ app.constants.ACCENT_COLOR +' !important';
                    }

                    return '';
                },

                _tapYes: function(){
                    this.pageSelected = "profile";
                    app.session.setReadProfileInfo(true);
                    this._setLineLevelPosition();
                    this.$.helpButton.classList.remove("hidde");

                    //Save read status in the user
                    this.$.ajaxSaveUser.url = app.apinode + '/journalists/dashboard.profile.read';
                    this.$.ajaxSaveUser.generateRequest();
                },

                _gameStatusChanged: function(){

                    if(this.gameStatus == null){
                        app.showToast('Something went wrong, please try again');
                        return false;
                    }

                    this.currentLevel = app.currentLevelProfile;

                    //Filter levels that belongs to the community game
                    var profileSummaries = new Array();

                    for( var index in this.gameStatus.summaries){

                        var levelSummary =  this.gameStatus.summaries[index];
                        if(levelSummary.game !== app.constants.GAME_PROFILE){
                            continue;
                        }

                        profileSummaries.push(levelSummary);
                    }

                    this.levelSummaries = profileSummaries;


                    //Get Current level status
                    for(var index in this.levelSummaries){

                        var levelSummary = this.levelSummaries[index];
                        if(levelSummary.level === this.currentLevel){
                            this.taskRemaining = levelSummary.totalTasks - levelSummary.completedTasks;
                            this.tasksCompleted = levelSummary.completedTasks;
                            this.tasksPercent = (levelSummary.completedTasks / levelSummary.totalTasks) * 100;
                        }
                    }

                    this.levelProgress = (this.gameStatus.completedTasksProfile / this.gameStatus.totalTasksProfile) * 100;

                    //Filtrar para mostrar solo los items que pertenecen al juego PROFILE
                    var currentLevelItems = new Array();
                    for(var index in this.gameStatus.items ){
                        var taskItem = this.gameStatus.items[index];

                        if (taskItem.game === app.constants.GAME_PROFILE){

                            if(taskItem.level === this.currentLevel){
                                currentLevelItems.push(taskItem);
                            }
                        }
                    }

                    this.taskItems = currentLevelItems;
                    this._infoCallback();
                },

                 _infoCallback: function(e){
                     this._setLineLevelPosition();
                 },

                /**
                 * Funcion que devuelve un string que se usará como label para los diferentes niveles en
                 * el level progress
                 * @param level nivel
                 * @returns {*}
                 * @private
                 */
                _computedTagLevel: function (level) {
                    switch (level){
                        case 1:
                            return 'Starter';
                            break;
                        case 2:
                            return 'Junior';
                            break;
                        case 3:
                            return 'Mid-level';
                            break;
                        case 4:
                            return 'Senior';
                            break;
                        case 5:
                            return 'All-Star';
                            break;

                    }
                },
                _onHelpTap: function(){
                    this.pageSelected = "welcome";
                    this.$.helpButton.classList.add("hidde");
                }
            });
        })();

    </script>
</dom-module>
