
<dom-module id="in-cropper">
    <template>

        <link rel="stylesheet" href="cropper/cropper.css">
        <style is="custom-style" include="shared-styles">
            :host {
                display: block;
            }

            img {
              max-width: 100%; /* This rule is very important, please do not ignore this! */
            }

        </style>

        <div class="row center-xs">

            <div class="col-xs">

                <div>
                    <img id="image">
                </div>

            </div>

        </div>




        <input type="file" id="fileInput" on-change="_fileChange" hidden accept="image/x-png, image/gif, image/jpeg" >

    </template>


    <script src="cropper/cropper.js"></script>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'in-cropper',
                properties: {
                    pageSelected:{
                        notify:true
                    }
                },
                ready: function () {

                },
                attached: function () {
                },

                /**
                 * Funcion que abre el diálogo de seleccion de archivo
                 */
                openUploadFile: function () {

                    this.$.fileInput.value = null;

                    var elem = this.$.fileInput;
                    if(elem && document.createEvent) { // sanity check
                        var evt = document.createEvent('MouseEvents');
                        evt.initEvent('click', true, false);
                        elem.dispatchEvent(evt);
                    }
                },
                _fileChange: function(e) {

                    if(e.target.files.length === 0) return;

                    var file = e.target.files[0];
                    // this.file = file;
                    var img = new Image();
                    img.src = URL.createObjectURL(file);

                    this.$.image.src = img.src;

                    this._initCropper();
                },
                _initCropper: function(){
                    //var image = document.getElementById('image');
                    var image = this.$.image;
                    var cropper = new Cropper(image, {
                      aspectRatio: 16 / 9,
                      crop: function(e) {
                        console.log(e.detail.x);
                        console.log(e.detail.y);
                        console.log(e.detail.width);
                        console.log(e.detail.height);
                        console.log(e.detail.rotate);
                        console.log(e.detail.scaleX);
                        console.log(e.detail.scaleY);
                      }
                    });
                }
            });
        })();
    </script>
</dom-module>
