<dom-module id="in-confirmation-modal">
    <template>
        <style include="shared-styles">
            :host {
                /*overflow: visible;*/
            }
            paper-dialog{
                z-index: 1100 !important;
                padding-top: 20px;
                padding-right: 60px;
                padding-left: 60px;
            }

            paper-dialog div{
                margin: 0;
                padding: 0;
            }

            paper-button{
                margin-bottom: 15px;
                margin-top: 15px;
            }
            .title{
                margin-top: 15px;
                margin-bottom: 15px;
            }

        </style>

        <paper-dialog id="innerDialog" modal >
            <div class="row  center-xs">
                <div class="col-xs">
                    <div class="title">[[message]]</div>
                    <br/>
                    <div class="row  center-xs">
                        <br/>
                        <div class="col-xs">
                            <paper-button class="ok-button" on-tap="_onAcceptTap">[[acceptLabel]]</paper-button>
                        </div>
                        <div class="col-xs">
                            <paper-button class="cancel-button" on-tap="_onCancelTap">[[cancelLabel]]</paper-button>
                        </div>
                    </div>
                </div>
            </div>
        </paper-dialog>

    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'in-confirmation-modal',

                properties: {
                    params:{
                        type: Object,
                        value:{}
                    }

                },

                ready: function () {
                    this.confirmationDialog = this.$.innerDialog;
                },

                open: function (params) {
                    this.set('message', params.message);
                    this.set('cancelLabel', params.cancelLabel);
                    this.set('acceptLabel', params.acceptLabel);
                    this.set('acceptCallback', params.acceptCallback);
                    this.set('cancelCallback', params.cancelCallback);
                    this.set('extraData', params.extraData|| null);
                    this.confirmationDialog.open();
                },
                _onCancelTap: function(){
                    this.cancelCallback(this.extraData);
                    this.confirmationDialog.close();
                    this._cleanAttributes();
                },

                _onAcceptTap: function(){
                    this.acceptCallback(this.extraData);
                    this.confirmationDialog.close();
                    this._cleanAttributes();
                },

                _cleanAttributes: function () {
                    this.set('message', '');
                    this.set('cancelLabel', '');
                    this.set('acceptLabel', '');
                    this.set('acceptCallback', '');
                    this.set('cancelCallback', '');
                }

            });
        })();
    </script>
</dom-module>
