<dom-module id="expertise-item">
    <template>
        <style >
            :host {
                display: block;
            }

            .main-container{
                position: relative;
                height: 100px;
                margin-bottom: 10px;
            }

            .item-container {
                position: absolute;
                min-height: 100px;
                margin-bottom: 10px;
                -webkit-font-smoothing: antialiased;
                height: 100px;
                width: 100%;
            }

            .layer-hover {
                position: absolute;
                width: 100%;
                background: rgba(0,0,0,0.6);
                height: 100%;
                top: 0;
                left: 0;
                margin-top: 0;
                z-index: 0;
            }
            .actions-container{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                margin-top: 0;
            }

            .expertice-text{
                @apply(--medium-text);
                /*margin-top: 30px;*/
                /*margin-bottom: 45px;*/
                text-transform: capitalize;
            }

            .expertise-swipe-text {
                @apply(--small-text);
                color: white;
                text-transform: capitalize;
                z-index: 10;
            }

            .title-swipe-unselected,
            .title-swipe-selected{
                margin-top: calc((100px - 21px)/2);
            }

            .title-swipe-unselected {
                @apply(--medium-text-highlighted);
                color: white!important;
                text-transform: capitalize;
                z-index: 10;
            }

            .title-swipe-selected {
                @apply(--medium-text-highlighted);
                text-transform: capitalize;
                z-index: 10;
            }

            paper-icon-button{
                /*opacity: 0.75;*/
                /*border-radius: 50%;*/
                margin-top: 8px;
                width: 50px;
                height: 50px;
            }

            paper-icon-button.check{
                color: var(--accent-color);
                /*color: var(--paper-light-green-a400);*/
                background-color: transparent;
                z-index: 10;
            }

            paper-icon-button.no-check {
                color: white;
                z-index: 10;
            }
            paper-icon-button.check:hover {
                /*background: #EEEEEE;*/
                /*border-radius: 50%;*/
            }
            /*paper-icon-button.noCheck{*/
            /*background-color: white;*/
            /*}*/

            .fab-done {
                @apply(--float-action-button);
            }
            .label-container{
                margin-top: -20px;
                z-index: 10;
            }
            .icon-container{
                position: absolute;
                left: 75%;
                top: 17%;
                z-index: 10;
            }

            @media (max-width: 48em) {
                :host{
                    margin: 0 0 0 0 !important;
                    padding: 0 0 0 0 !important;
                }

                paper-icon-button{
                    width: 42px;
                    height: 42px;
                }
            }


        </style>
        <div class="main-container">

            <div class="item-container" style$="{{_computedStyle(expertise.image)}}"></div>
            <div class="layer-hover"></div>

            <div class="actions-container">

                <div class="row center-xs">
                    <div id="titleSwipe" class="title-swipe-unselected col-xs">
                        <span>{{expertise.name}}</span>
                    </div>
                </div>

                <div class="icon-container">
                    <paper-icon-button id="expertiseSelectionButton"
                                       class="no-check"
                                       on-tap="_tapExpertiseSelection"
                                       icon="in-icon-set:lens"></paper-icon-button>
                </div>
            </div>

        </div>

        <iron-ajax id="ajaxSaveExpertise"
                   method="POST"
                   with-credentials
                   handle-as="json"></iron-ajax>

        <iron-ajax id="ajaxDeleteExpertise"
                   method="POST"
                   with-credentials
                   handle-as="json"></iron-ajax>

    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'expertise-item',

                properties: {
                    expertise:{
                        type: Object,
                        observer: '_expertiseChange'
                    },
                    selected:{
                        type: Boolean,
                        value: false
                    },
                    tagType:{
                        value:null
                    },
                },

                _computedStyle: function (image) {
                    if(image){
                        return 'background: url("images/tags/' + image + '");';
                    }
                },

                _tapExpertiseSelection: function () {

                    this._changeActionButtonSelect();
                    this._changeClases();
                    this._saveExpertise();

                },

                _changeActionButtonSelect: function () {
                    this.unlisten(this.$.expertiseSelectionButton, 'tap', '_tapExpertiseSelection');
                    this.listen(this.$.expertiseSelectionButton, 'tap', '_tapExpertiseUnselect');
                },

                _tapExpertiseUnselect: function () {
                    this.unlisten(this.$.expertiseSelectionButton, 'tap', '_tapExpertiseUnselect');
                    this.listen(this.$.expertiseSelectionButton, 'tap', '_tapExpertiseSelection');
                    this._changeClases();
                    this._deleteExpertise();
                },

                _changeClases: function () {
                    /*Clases del boton select/unselect*/
                    this.toggleClass('check', !this.selected, this.$.expertiseSelectionButton);
                    this.toggleClass('no-check', this.selected, this.$.expertiseSelectionButton);

                    /*clases del título*/
                    this.toggleClass('title-swipe-selected', !this.selected, this.$.titleSwipe);
                    this.toggleClass('title-swipe-unselected', this.selected, this.$.titleSwipe);
                    this.selected = !this.selected;
                },

                _expertiseChange: function () {
                    if (this.expertise.open) {
                        this._changeActionButtonSelect();
                        this._changeClases();
                    }
                },

                _saveExpertise: function () {
                    const params = {
                        tag: this.expertise.name[0],
                        expertise: 1,
                        type: this.tagType
                    };
                    this.$.ajaxSaveExpertise.body = JSON.stringify(params);
                    this.$.ajaxSaveExpertise.url = app.apinode + '/tags/save.expertise';
                    this.$.ajaxSaveExpertise.generateRequest();
                },

                _deleteExpertise: function () {
                    const params = {
                        tag: this.expertise.name[0],
                        type: this.tagType
                    };
                    this.$.ajaxDeleteExpertise.body = JSON.stringify(params);
                    this.$.ajaxDeleteExpertise.url = app.apinode + '/tags/delete.expertise';
                    this.$.ajaxDeleteExpertise.generateRequest();
                }


            });
        })();
    </script>
</dom-module>
