<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../../styles/landing-styles.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animatable.html">

<dom-module id="expertise-new">
    <template>
        <style is="custom-styles" include="landing-styles">
            :host {
                display: block;
                margin-right: 0;
            }

            .add-new-title{
                margin-top: calc((100px - 21px)/2);
                @apply(--medium-text-highlighted);
                color: white!important;
                text-transform: capitalize;
            }

            .add-new-title-button{
                margin-top: 10px;
            }
            .add-new-imput{
                margin-top: 5px;
            }
            /*.add-new-action-buttons{*/
                /*margin-top: 9px;*/
            /*}*/

            paper-input{
                --paper-input-container-input-color: white;
            }
            paper-icon-button{
                margin-top: 8px;
                width: 50px;
                height: 50px;
            }


            .add-item {
                position: relative;
                background-color: var(--paper-blue-grey-800);
                z-index: 11;
                /*padding: 0px 25px;*/
                min-height: 100px;
                margin-left: 0;
                margin-right: 0;
                -webkit-font-smoothing: antialiased;
                color: #FFF;

            }
            .add-button{
                color: var(--google-green-500);
            }

            .cancel-button{
                color: var(--google-red-500);
            }

            .icon-container{
                position: absolute;
                left: 75%;
                top: 17%;
                z-index: 10;
            }

            @media (max-width: 48em) {
                paper-icon-button{
                    width: 42px;
                    height: 42px;
                }
            }


        </style>

        <iron-ajax method="POST"
                   id="ajaxSaveExpertise"
                   handle-as="json"
                   last-response="{{saveExpertiseResponse}}"
                   on-response="_saveExpertiseResponseHandler"></iron-ajax>

        <div class="add-item">

            <iron-pages selected="{{selected}}">

                <section>

                    <div class="row">
                        <div id="titleSwipe" class="add-new-title title-swipe-unselected col-xs">
                            <span>add a new {{label}}</span>

                        </div>
                    </div>

                    <div class="icon-container">
                        <paper-icon-button icon="in-icon-set:add-circle"
                                           class="add-button"
                                           on-tap="_change"></paper-icon-button>
                    </div>

                </section>

                <section>

                    <div class="row">

                        <!--<div class="col-xs-4  add-new-title">-->
                            <!--<span class="new">add a new {{label}}</span>-->
                        <!--</div>-->

                        <div class="col-xs-8 col-xs-offset-1 add-new-imput">
                            <paper-input label="Name"
                                         value="{{expertiseName::input}}"></paper-input>
                        </div>

                    </div>

                    <div class="icon-container">

                        <paper-icon-button icon="in-icon-set:add-circle"
                                           class="add-button"
                                           on-tap="_saveExpertise"></paper-icon-button>

                        <paper-icon-button icon="in-icon-set:cancel"
                                           class="cancel-button"
                                           on-tap="_init"></paper-icon-button>
                    </div>

                </section>
            </iron-pages>


        </div>


    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'expertise-new',

                properties: {
                    label: {
                        type: String,
                        notify: true
                    },
                    tagType:{
                        type: Number,
                        notify: true
                    },
                    selected:{
                        type: Number,
                        value: 0
                    },
                    new_expertise:{
                        type:String,
                        notify:true
                    }
                },
                
                _change: function () {
                    this.selected = 1;
                },

                _init: function () {
                    this.selected = 0;
                },

                _saveExpertise: function () {

                    var ajaxSaveExpertise = this.$.ajaxSaveExpertise;

                    ajaxSaveExpertise.url = app.apiphp + "/main/tags/";
                    ajaxSaveExpertise.params = {
                        method: "save",
                        name: this.expertiseName,
                        type: this.tagType
                    };

                    ajaxSaveExpertise.generateRequest();
                },

                _saveExpertiseResponseHandler: function () {
                    this.saveExpertiseResponse.data.open = 1;
                    this.fire('new-expertise', this.saveExpertiseResponse.data);
                    this.selected = 0;
                    this.expertiseName = '';
                }
            });
        })();
    </script>
</dom-module>
