
<link rel="import" href="expertise-item.html">
<link rel="import" href="expertise-new.html">

<dom-module id="signup-expertise">
    <template>
        <style is="custom-styles" include="landing-styles">
            :host {
                overflow-x: hidden;
            }
            .tabs-container {
                transition: all 0.5s;
                opacity: 0;
                position: fixed;
                z-index: 11;
                top: 175px;
                margin-left: 0px;
                background-color: #FFF;
            }
            .bullets-container {
                transition: all 0.5s;
                opacity: 0;
                position: fixed;
                z-index: 11;
                top: 0px;
                margin-left: 0px;
                background-color: #FFF;
            }
            .title-container {
                transition: all 0.5s;
                opacity: 0;
                position: fixed;
                z-index: 11;
                top: 125px;
                margin-left: 0px;
                background-color: #FFF;
            }
            paper-tab{
                --paper-tab-ink: var(--ink-color);
            }
            paper-tabs{
                --paper-tabs-selection-bar-color: var(--accent-color);
                margin-bottom: 10px;
            }
            .fab-done {
                @apply(--float-action-button);
                z-index: 10;
            }
            iron-pages {
                transition: all 0.5s;
                opacity: 0;
                margin-top: 240px;
                margin-bottom: 60px;
            }
            .nav-buttons-container{
                margin-top:80px;
            }
            .guide-title{
                color: var(--accent-color);
            }

            @media all and (max-width: 48em) {
                .nav-buttons-container{
                    margin-top:40px;
                }
                .title-container {
                    top: 85px;
                }
                .tabs-container {
                    top: 125px;
                }
                iron-pages {
                    margin-top: 180px;
                }
            }


        </style>

        <div id="bulletsContainer" class="row bullets-container">
            <div class="col-xs-12 nav-buttons-container">
                <paper-icon-button class="disabled" disabled></paper-icon-button>
                <paper-icon-button class="disabled" disabled></paper-icon-button>
                <paper-icon-button class="active" disabled></paper-icon-button>
            </div>
        </div>

        <div id="titleContainer" class="row center-xs title-container">
            <div class="col-xs-12 guide-text-container">
                <span class="guide-title">Check all that apply</span>
            </div>
        </div>

        <div id="tabsContainer" class="row tabs-container">
            <div class="col-xs-12">

                <paper-tabs selected="{{selected}}">

                    <paper-tab expertise="skills">
                        Skills
                    </paper-tab>

                    <paper-tab expertise="beats">
                        Beats
                    </paper-tab>

                    <paper-tab expertise="focus">
                        Focus
                    </paper-tab>

                </paper-tabs>

            </div>
        </div>

        <iron-pages id="expertisePages" selected="[[selected]]">

            <section expertise="skills">

                <div class="row">
                    <div class="col-xs-12" id="skillsListContainer">
                        <template is="dom-repeat"id="skillsList" items="[[skills]]" as="skill">
                            <expertise-item tag-type="TYPE_SKILL" expertise="{{skill}}"></expertise-item>
                        </template>

                    </div>
                </div>

                <!-- <expertise-new id="newSkill"
                                  tag-type="{{constants.skill}}"
                                  label="Skill"></expertise-new> -->

                <!-- <paper-fab icon="in-icon-set:chevron-right"
                           title="Next"
                           class="button-animated fab-done"
                           elevation="3"
                           on-tap="_next"></paper-fab> -->

                   <div class="row">
                       <div class="col-xs-12 next-button-container">
                           <paper-button on-tap="_next" raised label="Signup" class="landing-buttons">Next</paper-button>
                       </div>
                   </div>

            </section>

            <section expertise="beats">

                <template is="dom-repeat" id="beatsList" items="[[beats]]" as="beat">
                    <expertise-item tag-type="TYPE_BEAT" expertise="{{beat}}"></expertise-item>
                </template>

                <!-- <expertise-new id="newBeat"
                                  tag-type="{{constants.beat}}"
                                  label="Beat"></expertise-new> -->

                <!-- <paper-fab icon="in-icon-set:chevron-right"
                           title="Next"
                           class="button-animated fab-done"
                           elevation="3"
                           on-tap="_next"></paper-fab> -->

               <div class="row">
                   <div class="col-xs-12 next-button-container">
                       <paper-button on-tap="_next" raised label="Signup" class="landing-buttons">Next</paper-button>
                   </div>
               </div>

            </section>

            <section expertise="focus">

                <template is="dom-repeat" id="focusList" items="[[focus]]" as="focus">
                    <expertise-item tag-type="TYPE_FOCUS" expertise="{{focus}}"></expertise-item>
                </template>

                <!-- <expertise-new id="newFocus"
                                  tag-type="{{constants.focus}}"
                                  label="Focus"></expertise-new> -->
                <!-- <paper-fab
                        icon="in-icon-set:done"
                        title="finish"
                        class="button-animated fab-done"
                        elevation="3"
                        on-tap="_finishSignup"></paper-fab> -->

                <div class="row">
                    <div class="col-xs-12 next-button-container">
                        <paper-button on-tap="_finishSignup" raised label="Signup" class="landing-buttons">Finish</paper-button>
                    </div>
                </div>

            </section>

        </iron-pages>

        <iron-ajax id="loadSkills"
                   with-credentials
                   handle-as="json"
                   on-response="_onLoadSkillsCallback"
                   last-response="{{skills}}"></iron-ajax>

        <iron-ajax id="loadBeats"
                   with-credentials
                   handle-as="json"
                   last-response="{{beats}}"></iron-ajax>

        <iron-ajax id="loadFocus"
                   with-credentials
                   handle-as="json"
                   last-response="{{focus}}"></iron-ajax>

        <iron-ajax id="ajaxSaveExpertise"
                   method="POST"
                   with-credentials
                   handle-as="json"></iron-ajax>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'signup-expertise',

                properties: {
                    selected:{
                        type: Number,
                        value: 5
                    },
                    expertises: {
                        type:Array,
                        value:[]
                    },
                    constants:{
                        type: Object,
                        value:{
                            skill: 1,
                            beat: 2,
                            focus:3
                        }
                    }
                },

                observers:[
                        '_onRouteChange(route)',
                ],

                ready: function () {

                    window.addEventListener('resize', function () {
                        this._setElementsWidth();
                    }.bind(this));

                    // NO BORRAR - temporario
                    // this.addEventListener('new-expertise', function (e) {
                    //     this._addNewExpertise(e.detail);
                    // }.bind(this))
                },

                /*
                 * Ajustar el ancho de los elementos de la cabecera segun el ancho de la listas
                 * Mostrar elementos con opacity 1
                 */
                _setElementsWidth: function(){

                    this.$.bulletsContainer.style.width = this.$.expertisePages.offsetWidth +3+ 'px';
                    this.$.titleContainer.style.width = this.$.expertisePages.offsetWidth +3+ 'px';
                    this.$.tabsContainer.style.width = this.$.expertisePages.offsetWidth +3+ 'px';

                    this.$.bulletsContainer.style.opacity = 1;
                    this.$.titleContainer.style.opacity = 1;
                    this.$.tabsContainer.style.opacity = 1;
                    this.$.expertisePages.style.opacity = 1;
                },

                // NO BORRAR - temporario
                // _addNewExpertise: function (expertise) {
                //
                //     switch (expertise.type_id){
                //         case "1":
                //             this.push('skills', expertise);
                //             break;
                //         case "2":
                //             this.push('beats', expertise);
                //             break;
                //         case "3":
                //             this.push('focus', expertise);
                //             break;
                //     }
                //     this._expertiseSelected(expertise);
                // },

                _next: function () {
                    this.selected = this.selected + 1;
                    window.scrollTo(0, 0);
                },

                _finishSignup: function () {
                    dialogSpinner.open();
                    page('/feed');
                },

                _onRouteChange: function () {

                    if(this.route !== 'expertise-editing'){
                        return;
                    }

                    this.set('selected', 0);

                    /*Carga el elemento que hace la llamada ajax para cargar las listas de expertises*/
                    var url = app.apinode + "/tags/get.by.type/";
                    this.$.loadSkills.url = url + app.constants.TAG_TYPE_SKILL;
                    this.$.loadSkills.generateRequest();

                    this.$.loadBeats.url = url + app.constants.TAG_TYPE_BEAT;
                    this.$.loadBeats.generateRequest();

                    this.$.loadFocus.url = url + app.constants.TAG_TYPE_FOCUS;
                    this.$.loadFocus.generateRequest();
                },

                _onLoadSkillsCallback: function(){
                    this._setElementsWidth();
                },

            });
        })();
    </script>
</dom-module>
