<dom-module id="image-gallery">
    <template>
        <style>
            :host {
                 /*overflow: visible;*/
            }
        </style>
        <neon-animated-pages id="pages" class="flex" selected="[[selected]]" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation">
            <neon-animatable >
                <img src="http://lorempixel.com/500/500"/>
            </neon-animatable>
            <neon-animatable >
                <img src="http://lorempixel.com/500/500"/>
            </neon-animatable>
            <neon-animatable >
                <img src="http://lorempixel.com/500/500"/>
            </neon-animatable>
            <neon-animatable >
                <img src="http://lorempixel.com/500/500"/>
            </neon-animatable>
            <neon-animatable >
                <img src="http://lorempixel.com/500/500"/>
            </neon-animatable>
        </neon-animated-pages>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'image-gallery',

                properties: {
                    foo: {
                        type: String,
                        value: 'image-gallery',
                        notify: true
                    }
                }
            });
        })();
    </script>
</dom-module>
