
<!-- TODO: this will be placed on each element once lazy loading is implemented - Damian -->

<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">

<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../notification/badge-notification/badge-notification.html">

<link rel="import" href="../in/in-send-text/in-send-text.html?v1.51">
<link rel="import" href="../in/in-combo-box/in-combo-box.html?v1.29">
<link rel="import" href="../in/in-confirmation-modal/in-confirmation-modal.html">
<link rel="import" href="../in/in-mobile-message/in-mobile-message.html">

<link rel="import" href="../notification/expert-notification/expert-notification.html">
<link rel="import" href="../layout/main-header/main-header.html?v1.51">
<link rel="import" href="../layout/main-content/main-content.html?v1.51">



<dom-module id="main-app">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <iron-ajax id="ajaxGlobal"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-response="ajaxResponse"></iron-ajax>

        <iron-ajax id="ajaxTask"
                   method="GET"
                   with-credentials
                   handle-as="json"
                   last-response="{{tasksResponse}}"
                   on-response="_ajaxTaskCallBack"></iron-ajax>

        <expert-notification id="expert"></expert-notification>

        <main-header id="mainHeader"
                     badges="{{badges}}"
                     filter="{{filter}}"
                     route="{{route}}"></main-header>

        <main-content id="mainContent"
                      badges="{{badges}}"
                      filter="{{filter}}"
                      route="{{route}}"
                      sub-route="{{subRoute}}"
                      route_menu="{{route_menu}}"
                      route_discussion="{{route_discussion}}"
                      route_project="{{route_project}}"
                      route_marketplace = "{{route_marketplace}}"
                      route_message = "{{route_message}}"
                      route_settings = "{{route_settings}}"
                      route_profile="{{route_profile}}"
                      route_resource="{{route_resource}}"
                      params_profile="{{params_profile}}"
                      params="{{params}}"
                      on-tap="onContentTap"></main-content>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'main-app',
                properties: {
                    //
                },
                attached: function(){
                    this.$.ajaxTask.url = app.apinode + '/activities/game_status/' + app.session.getUser();
                    this.$.ajaxTask.generateRequest();
                },

                _startTutorial: function(){
                    var tutorial = Polymer.dom(document).querySelector('#appTutorial');
                    tutorial.setMainTutorial();
                    tutorial.start()
                },

                _ajaxTaskCallBack: function(){

                    app.game = this.tasksResponse;
                    var firstLogin = false;

                    if(!app.fromLogin){
                        return;
                    }
                    for( var i = 0; i < app.game.activities.length; i++ ){

                        // en caso de haber hecho unsolo login mostrar tutorial y enviar mensaje de bienvenida
                        if( app.game.activities[i].type === app.constants.USER_LOGIN && app.game.activities[i].counter == 1 ){

                            setTimeout(function(){

                                var data = {
                                    thread_id: null,
                                    users:          [ session.getUser() ],
                                    names:          [ session.getName() ],
                                    pics:           [ session.getPicture() ],
                                    locations:      [ session.getLocation() ]
                                };

                                app.socket.emit('welcome-message', data);
                                this._startTutorial();

                            }.bind(this),2000);

                            setTimeout(function () {
                                this._initDiscussionBadge();
                            }.bind(this),5000);

                        }

                    }
                },

                _initDiscussionBadge: function(){
                    this.$.mainHeader.updateDiscussionBadge(5);
                },

                hideDrawerPanel: function () {
                    var mainContent = document.querySelector('#mainContent');
                    mainContent.$.paperDrawerPanel.forceNarrow = true;
                },

                showDrawerPanel: function () {
                    var mainContent = document.querySelector('#mainContent');
                    mainContent.$.paperDrawerPanel.forceNarrow = false;
                },

                displayInstalledToast: function () {
                    // Check to make sure caching is actually enabled—it won't be in the dev environment.
                    if (!document.querySelector('platinum-sw-cache').disabled) {
                        document.querySelector('#caching-complete').show();
                    }
                },

                // Close drawer after menu item is selected if drawerPanel is narrow
                onDataRouteClick: function () {
                    var drawerPanel = document.querySelector('#paperDrawerPanel');
                    if (drawerPanel.narrow) {
                        drawerPanel.closeDrawer();
                    }
                },

                onContentTap: function () {
                    var header = this.$.mainHeader;
                    header.hideSearch();
                },

                showToast: function (message) {
                    /* TODO: receive a type in order to change the class of the element
                     * Current class is regular, defined in app-theme */
                    var toast = this.$.toast;
                    if (!toast) {
                        return true;
                    }
                    toast.text = message;
                    toast.show();
                },

                timeConverter: function (unixTimestamp, format) {

                    var a = new Date(unixTimestamp * 1000);
                    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                    //var year = a.getFullYear();
                    var month = months[a.getMonth()];
                    var date = a.getDate();
                    var hour = a.getHours();
                    var min = a.getMinutes();
                    var sec = a.getSeconds();

                    var suf = 'th';

                    if (parseInt(date) === 1) {
                        suf = 'st';
                    }
                    if (parseInt(date) === 2) {
                        suf = 'nd';
                    }

                    //var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;

                    var stringResult;

                    if (format === 'short') {
                        stringResult = month + ' ' + date + ' ' + suf;
                    }
                    if (format === 'long') {
                        stringResult = month + ' ' + date + ' ' + suf + ' ' + hour + ':' + min + ':' + sec;
                    }
                    return stringResult;
                },

                handleAjaxResponse: function (e) {
                    //
                },

                ajaxResponse: function (e) {

                    if (!e.detail.response) {
                        return true;
                    }

                    if (!e.detail.response)
                        return true;

                    if (e.detail.response.status != '200') {
                        this.showToast(e.detail.response.message);
                    }

                    this.handleAjaxResponse(e);
                },

                hasClass: function (el, className) {
                    if (el.classList)
                        return el.classList.contains(className)
                    else
                        return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'))
                },

                addClass: function (el, className) {
                    if (el.classList)
                        el.classList.add(className)
                    else if (!hasClass(el, className))
                        el.className += " " + className
                },

                removeClass: function (el, className) {
                    if (el.classList)
                        el.classList.remove(className)
                    else if (hasClass(el, className)) {
                        var reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
                        el.className = el.className.replace(reg, ' ')
                    }
                },
            });
        })();

    </script>
</dom-module>
