<link rel="import" href="../../../styles/landing-styles.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">

<dom-module id="login-page">
    <template>
        <style is="custom-styles" include="landing-styles">

            :host {
                display: block;
            }
            .invalid{
                color: red;
            }
            .main-logo {
                width: 100px;
                height: 100px;
            }
            .stay-logged-button{
                text-align: left;
                margin-top: 15px;
            }
            paper-radio-button{
                --paper-radio-button-unchecked-color: var(--paper-blue-grey-500);
                --paper-radio-button-checked-color: var(--accent-color);
                @apply(--small-text);
            }
            paper-radio-button.unselected{
                color: var(--paper-blue-grey-800)!important;
            }
            paper-radio-button.selected{
                color: var(--accent-color)!important;
            }
            .footer-text {
                padding: 0 10px 0 10px;
                color: rgba(0, 0, 0, 0.49);
                z-index: 2;
                background-color: #FFF;
            }
            .row-social {
                border-top: solid 1px rgba(0, 0, 0, 0.22);
                margin-top: -8px;
                z-index: 1;
            }
            .social-container,
            .get-started-container,
            .footer-container{
                margin-top: 50px;
            }
            .facebook{
                background-color: var(--google-blue-500);
                width: 45px;
                height: 45px;
                margin-right: 15px;
                margin-left: 15px;

            }
            .gplus{
                background-color: var(--google-red-500);
                width: 45px;
                height: 45px;
                margin-right: 15px;
                margin-left: 15px;
            }
            .twitter{
                background-color: var(--twitter-color);
                color: #FFF;
                width: 45px;
                height: 45px;
                margin-right: 15px;
                margin-left: 15px;
            }
            .login-spinner{
                margin-top: 15px;
            }
            .guide-text-container{
                margin-bottom: 25px;
                margin-top: 25px;
            }
            .guide-title{
            @apply(--big-text);
                color: var(--accent-color);
            }
            .google-button{
                background: #EA4335;
            }
            .cancel-button {
                color: #696969;
                border-radius: 8px;
                text-transform: none;
            }
            .forgot-pass{
                @apply(--small-text);
                color: var(--accent-color);
            }
            .forgot-pass:hover{
                cursor: pointer;
            }
            .forgot-pass-button{
                text-align: right;
                margin-top: 15px;
            }
            .new-user {
                @apply(--small-text);
                font-style: italic;
                color: grey;
                cursor: pointer;
            }


            @media all and (max-width: 48em) {
                .footer-container{
                    margin-top: 25px;
                }
            }

        </style>

        <div class="row center-xs">
            <div class="col-xs-12 guide-text-container">
                <span class="guide-title ">Login to your account</span>
            </div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 guide-text-container">

                <a href="/signup">
                    <span class="new-user"> ( New user? Click here to sign up ) </span>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 center-xs">
                <span id="errorMessage" hidden class="invalid">{{errorMessage}}</span>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">

                <gold-email-input
                        required
                        error-message="Invalid email"
                        id="email"
                        label="email"
                        focused="{{focused}}"></gold-email-input>

            </div>

            <div class="col-xs-12">

                <in-password-input
                        pattern="(?=^.{8,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                        error-message="8 characters min. An uppercase, a number and a symbol"
                        required
                        id="password"
                        label="Password"
                        type="password"
                        on-keydown="_enterPressed">

                    <div suffix>
                        <paper-button on-up="_forgot" class="forgotButton">Forgot?</paper-button>
                    </div>

                </in-password-input>

            </div>

            <br/>

            <div class="col-xs-6 stay-logged-button">
                <paper-radio-button id="stayLogged" checked>
                    <span id="spanRadio" class="unselected">Stay logged in</span>
                </paper-radio-button>
            </div>

            <div class="col-xs-6 forgot-pass-button">
                <span on-tap="_forgot"  class="forgot-pass">Forgot password?</span>
            </div>

        </div>


        <div class="row center-xs">
            <div class="col-xs-2 ">
                <paper-spinner class="login-spinner"  id="loginSpinner"></paper-spinner>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <paper-button on-tap="_login"
                              class="landing-buttons"
                              raised
                              label="Signup">Login</paper-button>
            </div>
        </div>

        <div class="row footer-container">
            <div class="col-xs-12">
                <span class="footer-text">or login with</span>
            </div>
        </div>

        <div class="row row-social">
            <div class="col-xs-12 social-container">
                <paper-icon-button id="twitter" on-tap="_loginTwitter" icon="in-icon-set:twitter" class="twitter" ></paper-icon-button>
                <!--<paper-icon-button id="facebook" class="facebook"></paper-icon-button>-->
                <!--<paper-icon-button on-tap="_loginGoogle" id="gplus" class="gplus"></paper-icon-button>-->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 get-started-container">
                <a href="/">
                    <paper-button class="cancel-button">Cancel</paper-button>
                </a>
            </div>
        </div>


        <iron-ajax
                id="ajaxLogin"
                method="POST"
                with-credentials
                handle-as="json"
                on-error="_ajaxLoginError"
                on-response="_ajaxLoginCallback">
        </iron-ajax>


    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'login-page',
                properties: {
                    focused: {
                        type: Boolean,
                        value: false,
                        observer: "_onFocus"
                    },
                    params: {
                        type: Object,
                        observer:"_changeParams"
                    },

                },

                ready: function () {

                    this.$.stayLogged.addEventListener('change', function (e) {
                        var radioButton = this.$.spanRadio;
                        if (e.target.checked) {

                            var classradioButton = radioButton.className;
                            radioButton.className = classradioButton.replace('unselected', 'selected');
                        } else {
                            var classradioButton = radioButton.className;
                            radioButton.className = classradioButton.replace('selected', 'unselected');
                        }
                    }.bind(this))
                },

                _enterPressed: function (e) {

                    if  (e.key == 'Enter' && !this.$.password.invalid && this.$.password.value.length != 0) {
                        this._login();
                    }
                },

                _onFocus: function () {

                    if (this.focused === true) {
//                        this.$.facebook.setAttribute('disabled', true);
//                        this.$.facebook.setAttribute('style', 'background-color: #607d8b');
                        this.$.twitter.setAttribute('disabled', true);
                        this.$.twitter.setAttribute('style', 'background-color: #607d8b');
//                        this.$.gplus.setAttribute('disabled', true);
//                        this.$.gplus.setAttribute('style', 'background-color: #607d8b');
                    }
                    if (this.focused === false && this.$.email.value === "") {
//                        this.$.facebook.removeAttribute('disabled');
//                        this.$.facebook.removeAttribute('style');
                        this.$.twitter.removeAttribute('disabled');
                        this.$.twitter.removeAttribute('style');
//                        this.$.gplus.removeAttribute('disabled');
//                        this.$.gplus.removeAttribute('style');
                    }
                },

                _login: function () {

                    document.querySelector("#landingLogo").style.display = "none";

                    this.$.errorMessage.setAttribute('hidden', true);

                    if (this._validateForm()) {
                        dialogSpinner.open();

                        var params = {
                            email: this.$.email.value,
                            password: this.$.password.value,
                            noexpire: this.$.stayLogged.checked
                        };

                        this.$.ajaxLogin.body = JSON.stringify(params);
                        this.$.ajaxLogin.url = app.apinode + "/login";
                        this.$.ajaxLogin.generateRequest();
                    }
                },

                _ajaxLoginError: function() {

                    if(this.$.ajaxLogin.lastError.status === 401){

                        this.errorMessage = 'Invalid user or password';

                    }else if(this.$.ajaxLogin.lastError.status === 404){

                        page("/signup/" + this.$.email.value);

                    }else if(this.$.ajaxLogin.lastError.status === 403){

                        this.errorMessage = 'The account has been deactivated, please contact admin@kulectiv.com';
                    }

                    dialogSpinner.close();
                    this.$.errorMessage.removeAttribute('hidden');
                },

                _ajaxLoginCallback: function(response) {

                    var data = response.detail.response;
                    var sessionData = {
                        user: parseInt(data.userID),
                        picture: data.picture,
                        name: data.name,
                        location: data.location,
                        country_short: data.country_short,
                        adm_1_short: data.adm_1_short,
                        lat: data.lat,
                        lng: data.lng,
                        readProfileInfo: data.profileMessage,
                        readCommunityInfo: data.communityMessage,
                        enterToSend: data.enterToSend,
                        dateSignup: data.dateEmailVerified,
                        hasOffers: data.hasOffers,
                        hasRequests:data.hasRequests
                    };

                    //Create front end session
                    app.sessionExists = true;
                    app.session.create(sessionData);

                    if(!app.socket){
                        app.socketConnect();
                    }

                    //Log login activity - keep it after session is created since it does use session info
                    app.logActivity(app.constants.USER_LOGIN);
                    app.fromLogin = true;

                    if (app.nextPage) {
                        page(app.nextPage);
                    }else {
                        page('/');
                    }
                },

                _loginTwitter: function(){
                    document.location = app.apinode + "/login/twitter";
                },

                _loginGoogle: function(){
                    document.location = app.apinode + "/login/google";
                },

                _forgot: function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    page('/forgot.password');
                },

                _changeParams: function () {

                    if(this.route != 'login' || !this.params.email){
                        this.$.email.value = "";
                        this.$.password.value = "";
                        return;
                    }
                    this.$.email.value = this.params.email;
                },

              _validateForm: function () {
                var valid_email = this.$.email.validate();
                var valid_password = this.$.password.validate();

                return valid_email && valid_password;
              }

            });
        })();
    </script>
</dom-module>
