<dom-module id="login-twitter">
    <template>

        <iron-ajax
                id="ajaxLoginTwitter"
                method="GET"
                with-credentials
                handle-as="json"
                last-response = {{loginTwitterResponse}}
                on-response = "_loginTwitterHandlerResponse">
        </iron-ajax>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'login-twitter',
                properties: {

                },
                onValidate: function () {
                    dialogSpinner.open();
                    this.$.ajaxLoginTwitter.url = app.apinode + "/login/get.session.data";
                    this.$.ajaxLoginTwitter.generateRequest();
                },
                _loginTwitterHandlerResponse: function(){

                    if(!this.loginTwitterResponse || parseInt(this.loginTwitterResponse.userID) <= 0){

                        dialogSpinner.close();
                        this.$.errorMessage.removeAttribute('hidden');
                        this.errorMessage = this.loginTwitterResponse.message;
                        return;
                    }

                    //Create front end session
                    app.sessionExists = true;
                    app.session.create(
                        {
                            user: this.loginTwitterResponse.userID,
                            picture: this.loginTwitterResponse.picture,
                            name: this.loginTwitterResponse.name,
                            location: this.loginTwitterResponse.location,
                            lat: this.loginTwitterResponse.lat,
                            lng: this.loginTwitterResponse.lng,
                            readProfileInfo: this.loginTwitterResponse.profileMessage,
                            readCommunityInfo: this.loginTwitterResponse.communityMessage,
                            enterToSend: this.loginTwitterResponse.enterToSend,
                            dateSignup: this.loginTwitterResponse.dateEmailVerified,
                            hasOffers: this.loginTwitterResponse.hasOffers,
                            hasRequests:this.loginTwitterResponse.hasRequests
                        }
                    );

                    if(!app.socket){
                        app.socketConnect();
                    }

                    //Log login activity - keep it after session is created since it does use session info
                    app.logActivity(app.constants.USER_LOGIN);
                    app.fromLogin = true;


                    page('/feed');
                },
            });
        })();
    </script>
</dom-module>
