<dom-module id="name">

    <dom-module id="in-password-input">

        <template>

            <style include="shared-styles">
                .visibility-icon {
                    color: var(--disabled-text-color);
                    height: 32px;
                    width: 32px;
                    padding: 0 4px;
                    margin-top: -6px;
                }
                paper-input {
                    --paper-input-container-focus-color: var(--accent-color);
                    --paper-input-container-color: var(--paper-grey-300);
                    text-align: left;
                    --paper-input-container-label:{
                        color: var(--secondary-text-color);
                        font-size: 15px;
                        font-weight: 300;
                    };
                    --paper-input-container-input: {
                        font-size: 15px;
                        font-weight: 300;
                    };
                }
            </style>

            <paper-input id="input"
                         required="[[required]]"
                         type="[[_getType(visible)]]"
                         value="{{value}}"
                         label="[[label]]"
                         disabled="[[disabled]]"
                         autofocus="[[autofocus]]"
                         auto-validate="[[autoValidate]]"
                         invalid="{{invalid}}"
                         validator="[[validator]]"
                         error-message="[[errorMessage]]"
                         char-counter="[[charCounter]]"
                         pattern="[[pattern]]">

                <paper-icon-button suffix
                                   icon="[[_getIcon(visible)]]"
                                   on-tap="_toggleVisibile"
                                   class="visibility-icon"></paper-icon-button>
            </paper-input>

        </template>
    </dom-module>

    <script>

        (function() {

            Polymer({
                is: 'in-password-input',
                properties: {
                    /**
                     * verdadero su el password es visible
                     */
                    visible: {
                        type: Boolean,
                        value: false
                    },

                    value: {
                        type: String,
                        notify: true
                    },
                    invalid: {
                        type: Boolean,
                        notify: true
                    },
                    label: String,
                    disabled: Boolean,
                    autofocus: Boolean,
                    autoValidate: Boolean,
                    validator: String,
                    errorMessage: String,
                    charCounter: Boolean,
                    required: Boolean
                },

                validate: function() {
                   return this.$.input.validate();
                },

                _getIcon: function(visible) {
                    return visible ? 'in-icon-set:visibility' : 'in-icon-set:visibility-off';
                },
                _getType: function(visible) {
                    return visible ? '' : 'password';
                },
                _toggleVisibile: function() {
                    this.visible = !this.visible;
                },
            });

        })();

    </script>

</dom-module>