<dom-module id="recommended-journalists">
    <template>

        <style>

            :host {
                display: block;
                transition: all 0.4s;
            }
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-bottom: 10px;
            }
            .selected-country {
                color: var(--accent-color);
            }
            .title {
                @apply(--medium-text);
                margin-bottom: 40px;
            }
            .empty-state{
                @apply(--small-text);
                margin-bottom: 20px;
            }
            .journalist-picture {
                cursor: pointer;
            }
            .journalist-item {
                margin-bottom: 20px;
                padding-top: 18px;
                margin-bottom: 20px;
                border-top: solid 1px rgba(128, 128, 128, 0.15);
            }
            .journalist-name {
                @apply(--small-text);
                color: var(--accent-color);
            }
            .journalist-position {
                @apply(--very-small-text);
            }
            .journalist-location {
                @apply(--very-small-text);
            }
            .match-description {
                @apply(--very-small-text);
                color: var(--accent-color);
                margin-top: 5px;
            }
            .empty-state-message {
                color:#FC7108;
                font-weight:400;
                cursor:pointer;
            }
            .view-profile {
                text-transform: none;
                background-color: white;
                color: var(--accent-color);
                border-radius: 20px;
                height: 25px;
                padding-top: 3px;
                font-size: 14px;
            }

            @media only screen and (max-width: 48em) {
                .title {
                    @apply(--small-text);
                    margin-bottom: 10px;
                }
                .empty-state{
                    @apply(--very-small-text);
                    color: #656363;
                    margin-bottom: 0px;
                }
            }
        </style>

        <iron-ajax id="ajaxGetMatches"
                   method="GET"
                   with-credentials
                   on-response="_ajaxGetMatchesCallback"></iron-ajax>

       <iron-ajax id="ajaxCountry"
                  method="GET"
                  with-credentials
                  on-response="_ajaxCountryCallback"></iron-ajax>


        <div class="row middle-xs start-md">
            <div class="col-xs-12 title">
                Recommended Journalists in <span class="selected-country">{{searchLocation}}</span>
            </div>
        </div>

        <div class="row center-xs start-md" id="emptyState" hidden>
            <div class="col-xs-11 empty-state">
                No recommendations yet. <a class="empty-state-message" on-tap="_onUpdateprofileTap">Update your offers/requests</a> in your profile or switch country to receive new ones.
                <!-- No recommendations right now. We’ll send you matches soon. -->
                <!-- We don't have recommendations yet, please complete your profile or start searching. -->
            </div>
        </div>

        <div class="row">

            <template is="dom-repeat" items="[[items]]">

                <div class="col-xs-6 col-sm-3 journalist-item">
                    <img class="journalist-picture" src$="{{_getPicture(item.target_picture)}}" alt="{{item.target_name}}" on-tap="_goProfilePicture"/>
                    <div class="row">
                        <div class="col-xs-12 journalist-name">
                            {{item.target_name}}
                        </div>
                        <div class="col-xs-12 journalist-position">
                            {{item.target_position}}
                        </div>
                        <div class="col-xs-12 journalist-location">
                            {{item.target_location}}
                        </div>
                        <div class="col-xs-12 match-description">
                            {{_getDescription(item)}}
                        </div>
                        <div class="col-xs-12">
                            <paper-button class="view-profile" on-tap="_goProfileButton">View profile</paper-button>
                        </div>
                    </div>
                </div>

            </template>

        </div>

    </template>
    <script>

        (function() {
            'use strict';

            Polymer({
                is: 'recommended-journalists',
                properties: {
                    searchLocation: {
                        value:"World wide",
                        notify: true
                    }
                },

                _onUpdateprofileTap: function(){
                    page("/profile.experience/0");
                    app.showToast('Click the Community tab followed by the "Edit your profile" icon', "help");
                },

                attached: function(){

                    document.addEventListener('search-country-changed', function(e){

                        // if(this.route != 'connect') return;

                        if(e.detail){
                            this.set('searchLocation', e.detail.longName);
                            this.getMatches(e.detail.shortName);
                        }else{
                            this.set('searchLocation', 'World wide');
                            this.getMatches('world');
                        }

                    }.bind(this));
                },

                getMatches: function(country){

                    if(!country){
                        this._setCurrentCountry();
                        country = app.session.getCountry();
                    }


                    this.style.opacity = 0.8;
                    // this.style.filter = 'blur(3px)';
                    this.style.filter = 'grayscale(90%) blur(1px)';

                    this.$.ajaxGetMatches.url = app.apinode + '/matches/get.matches/' + country;
                    this.$.ajaxGetMatches.generateRequest();
                },

                _ajaxGetMatchesCallback: function(e){

                    if(!e.detail.response || e.detail.response.length == 0){
                        this.$.emptyState.hidden = false;
                        this.set('items', []);
                    }else{
                        this.$.emptyState.hidden = true;
                        this.set('items', e.detail.response);
                    }
                    this.style.opacity = 1;
                    this.style.filter = 'blur(0)';
                    this.style.filter = 'greyscale(0%)';
                },


                getCurrentSearchLocation: function(){
                    return this.searchLocation;
                },

                _setCurrentCountry: function(){

                    // Comentado temporalmente porque el query baja el server
                    // this.$.ajaxCountry.url = app.apinode + '/countries/country.by.shortname/' + app.session.getCountry();
                    // this.$.ajaxCountry.generateRequest();

                    var countryShortname = app.session.getCountry();
                    var countryLongname = app.getCountryByShortname(countryShortname);
                    this.set('searchLocation', countryLongname);
                },

                _ajaxCountryCallback: function(e){
                    this.set('searchLocation', e.detail.response);
                },

                _getPicture: function(fileName){

                    if(!fileName) fileName = 'default';
                    return app.apinode + "/images/get.picture/mini/" + fileName;
                },

                _goProfilePicture(e){
                    page("/profile/" + e.model.__data__.item.target_user_id);
                    app.logActivity(app.constants.CTA_RECOMMENDED_PROFILE_PICTURE);
                },

                _goProfileButton(e){
                    page("/profile/" + e.model.__data__.item.target_user_id);
                    app.logActivity(app.constants.CTA_RECOMMENDED_PROFILE_BUTTON);
                },

                _getDescription: function(item){

                    var lastTagInfo = JSON.parse(item.tags_info[0]);
                    var message = '';
                    var isYou = false;

                    if(!lastTagInfo.owner){
                        message = item.target_name;
                    }else{
                        message = 'You';
                        isYou = true;
                    }

                    switch(lastTagInfo.type){
                        case app.constants.TAG_TYPE_REQUEST:
                            message += ' requested ' + lastTagInfo.name;
                            break;
                        case app.constants.TAG_TYPE_OFFER:
                            message += ' offered ' + lastTagInfo.name;
                            break;
                        case app.constants.TAG_TYPE_LANGUAGE:
                            if(isYou){
                                message += ' know ' + lastTagInfo.name;
                            }else{
                                message += ' knows ' + lastTagInfo.name;
                            }
                            break;
                        case app.constants.TAG_TYPE_SKILL:
                            if (isYou) {
                                message += ' have the skill ' + lastTagInfo.name;
                            }else{
                                message += ' has the skill ' + lastTagInfo.name;
                            }
                            break;
                        case app.constants.TAG_TYPE_BEAT:
                            if(isYou){
                                message += ' beat ' + lastTagInfo.name;
                            }else{
                                message += ' beats ' + lastTagInfo.name;
                            }
                            break;
                        case app.constants.TAG_TYPE_FOCUS:
                            if(isYou){
                                message += ' are focused in ' + lastTagInfo.name;
                            }else{
                                message += ' is focused in ' + lastTagInfo.name;
                            }
                            break;
                    }
                    return message;
                }

            });
        })();
    </script>

</dom-module>
