<link rel="import" href="../signup-new-user/signup-new-user.html?v1.30">
<link rel="import" href="../signup-mail-confirmation/signup-mail-confirmation.html?v1.31">
<link rel="import" href="../signup-password-create/signup-password-create.html?v1.30">
<link rel="import" href="../signup-personal-information/signup-personal-information.html?v1.30">
<link rel="import" href="../signup-expertises/signup-expertise.html?v1.30">
<!-- <link rel="import" href="../signup-no-journalist-confirmation/signup-no-journalist-confirmation.html"> -->
<!-- <link rel="import" href="../signup-participator/signup-participator.html"> -->
<link rel="import" href="../../connect/tag-filtering/tag-filtering.html">
<link rel="import" href="../../in/in-icon-set/in-icon-set.html">
<link rel="import" href="../../../styles/landing-styles.html"/>
<link rel="import" href="../../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<dom-module id="signup-main">
    <template>
        <style include="shared-styles">

            .elements-container {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                overflow-y: scroll;
            }
            .element-container{
                /*max-width: 408px;*/
                margin-top: 80px;
            }

            .page-container {
                margin-top: 80px;
            }
            .main-content {
                padding: 20px;
            }

            @media only screen and (max-width: 48em){
                .header{
                    background-color: #999;
                }
                .hide-mobile {
                    display: none;
                }
                .element-container{
                    margin-top: 20px;
                }
            }

        </style>

<div class="row">
    <div class="col-xs-12 main-content">


        <iron-pages attr-for-selected="data-route"
                    selected="{{route}}">

            <section data-route="new-user">
                <div class="row center-xs">
                    <div id="newUserContainer" class="element-container col-xs-11 col-sm-6 col-md-4 col-lg-3">
                        <signup-new-user params="{{params}}"
                                         route="{{route}}"></signup-new-user>

                    </div>
                </div>
            </section>

            <section data-route="email-confirmation">
                <div class="row center-xs">
                    <div class="element-container col-xs-11 col-sm-6 col-md-4 col-lg-3">
                        <signup-mail-confirmation params="{{params}}"></signup-mail-confirmation>
                    </div>
                </div>
            </section>

            <section data-route="password-create">
                <div class="row center-xs">
                    <div class="element-container col-xs-11 col-sm-6 col-md-4 col-lg-3">

                        <signup-password-create params="{{params}}"
                                                route-landing="{{route}}"></signup-password-create>
                    </div>
                </div>
            </section>

            <section data-route="personal-information">
                <div class="row center-xs">
                    <div class="element-container col-xs-11 col-sm-6 col-md-4 col-lg-3">
                        <signup-personal-information params="{{params}}" ></signup-personal-information>
                    </div>
                </div>
            </section>

            <section data-route="expertise-editing">
                <div class="row center-xs">
                    <div class="col-xs-12 col-md-5">
                        <signup-expertise route="{{route}}"></signup-expertise>
                    </div>
                </div>
            </section>

            <!-- <section data-route="no-journalist-confirmation">
                <div class="row center-xs">
                    <div class="element-container col-xs-11 col-sm-6 col-md-4 col-lg-3">
                        <signup-no-journalist-confirmation params="{{params}}"></signup-no-journalist-confirmation>
                    </div>
                </div>
            </section> -->

            <!-- <section data-route="participator">
                <div class="row center-xs ">
                    <div class="element-container col-xs-11 col-sm-6 col-md-4 col-lg-3">
                        <signup-participator></signup-participator>
                    </div>
                </div>
            </section> -->

            <!-- <section data-route="welcome">
                <div class="row center-xs">
                    <div class="element-container col-xs-11 col-sm-6 col-md-4 col-lg-3">
                        <signup-welcome params="{{params}}"></signup-welcome>
                    </div>
                </div>
            </section> -->

        </iron-pages>


    </div>
</div>

    </template>


    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'signup-main',

                properties: {},

                ready: function () {
                },

            });
        })();
    </script>
</dom-module>
