<link rel="import" href="../message-list/message-list.html">
<link rel="import" href="../../in/in-tag/in-tag.html">
<link rel="import" href="../thread-list/thread-list.html">
<link rel="import" href="../thread-list/thread-list-item.html">
<link rel="import" href="message-thread-unselected.html">
<link rel="import" href="../../../../bower_components/paper-badge/paper-badge.html">
<!-- <link rel="import" href="../../../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../../../bower_components/neon-animation/neon-animations.html"> -->
<link rel="import" href="../../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../profile/profile-summary/profile-summary.html">

<dom-module id="message-main">
    <template>

        <style include="shared-styles">

            :host {
            @apply(--font-jouture);
            }

            .go-back-button {
                color: var(--dark-primary-color);
            @apply(--very-small-text);
            }

            paper-spinner .orange {
                --paper-spinner-layer-1-color: var(--paper-light-orange-500);
                --paper-spinner-layer-2-color: var(--paper-light-orange-500);
                --paper-spinner-layer-3-color: var(--paper-light-orange-500);
                --paper-spinner-layer-4-color: var(--paper-light-orange-500);
            }

            paper-dialog {
                z-index: 1100 !important;
                width:800px;
                max-height: 500px;
                background-color: #FFF;
            @apply(--small-text);
            }

            .fab-add {
            @apply(--float-action-button);
            }

            .profile-detail {
            @apply(--very-small-text);
                margin-top: 5px;
            }

            #recipients{
                margin-bottom: 15px;
            }

            .name-text {
            @apply(--small-text);
                margin-top: 10px;
                color: #333333;
            }

            .pic-journalist {
                margin-left: 10px;
                margin-bottom: 5px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
            }

            .pp{
            --paper-input-container-input:{
             @apply(--small-text);
             };
            --paper-input-container-focus-color: var(--accent-color);
            }

            .scroll {
                overflow-x: hidden;
                overflow-y: hidden;
                /*position: absolute;
                bottom: 30px;
                top:130px;*/
                margin-top: 30px;
            }

            .scroll:hover{
                overflow-y: visible;
            }

            .scroll::-webkit-scrollbar {
                width: 3px;
            }
            .scroll::-webkit-scrollbar-track {
                /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
                border-radius: 3px;
            }
            .scroll::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background-color: var(--accent-color);
            }
            .hidden {
                display:none;
            }
            .target-container {
                min-height: 35px;
            }
            .connect-message {
                color: var(--accent-color);
                height: 50px;
            }
            .help-button{
                z-index: 99999;
                position: fixed;
                left: 16px;
                bottom: 16px;
                color: #000;
                background: #FFF;
                border: 1px solid #B6B6B6
            }

            .message-textarea/deep/ paper-input-container/deep/ iron-autogrow-textarea/deep/ div textarea::-webkit-scrollbar{
                background-color: blue !important;
                width: 100px !important;
            }

            .emptyTitle {
                position: absolute;
                top:20%;
                text-align: center;
                width: 100%;
            }
            .emptyTapThread{
                position: absolute;
                z-index: 10;
                top:82px;
                left: 75px;
                color: #FF852C;
                font-family: 'Indie Flower', cursive;
                font-size: 39px;
                text-align: center;
                width: 300px;
                opacity: 0.77;
            }
            .emptyClickButton{
                position: fixed;
                z-index: 10;
                bottom: 31px;
                right: 141px;
                color: #FF852C;
                font-family: 'Indie Flower', cursive;
                font-size: 39px;
                width: 350px;
                opacity: 0.77;
            }
            .arrowUp{
                position: absolute;
                top:30px;
                left: 35px;
                width:100px;
                height:77px;
                opacity: 0.77;
            }
            .arrowDown{
                position: fixed;
                bottom: 20px;
                right: 90px;
                width:100px;
                height:77px;
                opacity: 0.77;
            }
            #emptyContainer{
                position: relative;
            }
            .empty-contacts-message-container{
                padding-bottom: 40px;
                text-align: center;
            }
            .empty-contacts-message-header{
                @apply(--medium-text);
                color: var(--accent-color);
            }
            .empty-contacts-message-text{
                @apply(--small-text)
            }

            @media only screen and (min-width: 48em) {
                .message-header{
                    margin-top: 0px;
                }
            }


        </style>

        <iron-media-query query="(max-width: 64em)" query-matches="{{isMobileResolution}}"></iron-media-query>

        <template is="dom-if" if="{{isMobileResolution}}" restamp>
            <neon-animated-pages class="col-xs"
                                 attr-for-selected="mobile-page"
                                 selected="[[mobilePageSelected]]"
                                 entry-animation="{{entryAnimation}}"
                                 exit-animation="{{exitAnimation}}">

                <neon-animatable mobile-page="threads">
                    <!-- TODO: temporalmente comentado porque explota en vista mobile -->
                    <thread-list id="threadListMobile"
                        list-threads="{{ajaxThreadsResponse}}"></thread-list>

                </neon-animatable>

                <neon-animatable mobile-page="messages">

                    <div class="row middle-xs">
                        <div class="col-xs-1 go-back-button" on-tap="_goBackToThread">
                            <paper-icon-button icon="in-icon-set:chevron-left"></paper-icon-button>
                        </div>
                        <div class="col-xs-11 go-back-button" on-tap="_goBackToThread">
                            <paper-button>Go back to the threads</paper-button>
                        </div>
                    </div>

                    <message-list
                            params ={{params}}
                            thread-target="{{threadTarget}}"
                            users-target = {{usersTarget}}
                            user-target = {{userTarget}}
                            user-target-name = {{userTargetName}}
                            user-target-location = {{userTargetLocation}}
                            user-target-pic = {{userTargetPic}}
                            messages-array = {{ajaxMessagesResponseOrdered}}
                            engagement-info = {{engagementInfo}}
                            list-threads="{{ajaxThreadsResponse}}"></message-list>

                </neon-animatable>

            </neon-animated-pages>
        </template>

        <template is="dom-if" if="{{!isMobileResolution}}" restamp>
            <div class="row">

                <div class="col-xs-12 col-md-1"></div>

                <div class="col-xs-12 col-md-3">

                    <thread-list id="threadListDesktop"
                                 list-threads="{{ajaxThreadsResponse}}"></thread-list>

                </div>

                <div id="emptyContainer" class="col-xs-12 col-md-4">

                    <message-thread-unselected hidden$="{{threadSelected}}"
                                               class="emptyTitle"></message-thread-unselected>


                    <div class="row bottom-xs">
                        <div class="col-xs-12">
                            <message-list
                                    hidden$="{{!threadSelected}}"
                                    params ={{params}}
                                    thread-target="{{threadTarget}}"
                                    user-target = {{userTarget}}
                                    users-target = {{usersTarget}}
                                    user-target-name = {{userTargetName}}
                                    user-target-location = {{userTargetLocation}}
                                    user-target-pic = {{userTargetPic}}
                                    messages-array = {{ajaxMessagesResponseOrdered}}
                                    engagement-info = {{engagementInfo}}
                                    list-threads="{{ajaxThreadsResponse}}"></message-list>
                            <!-- pending-message="{{pendingMessage}}" -->
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 scroll">
                    <div class="row">
                        <template is="dom-repeat" items="{{usersTargetComplete}}">

                            <div class="col-xs-12">
                                <div class="row">
                                    <a href="profile.experience/{{item.user_id}}">
                                        <img class="pic-journalist" src$="{{_getProfilePictureUrl(item.picture)}}">
                                    </a>
                                </div>
                            </div>

                            <div  class="col-xs-12 with-badge">
                                <span class="name-text">{{item.name}}</span>
                            </div>

                            <div  class="col-xs-12" style="margin-bottom:20px;">
                                <span class="profile-detail">{{item.location}}</span>
                            </div>


                            <!-- <div id="recipients" class="col-xs-8">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="profile-detail"
                                        id="jourFocus">Focus: [[item.recipientFocus]]</span>
                                    </div>
                                    <div class="col-xs-12">
                                        <span class="profile-detail"
                                        id="JourBeats">Beats: [[item.recipientBeats]]</span>
                                    </div>
                                    <div class="col-xs-12">
                                        <span class="profile-detail"
                                        id="JourSkills">Skills: [[item.recipientSkills]]</span>
                                    </div>
                                </div>
                            </div> -->
                        </template>
                    </div>
                </div>
            </div>

            <paper-fab mini
                       id="messageHelpButton"
                       class="help-button"
                       src="../../../../images/icons/query.svg"
                       on-tap="_onHelpTap"></paper-fab>

        </template>

        <paper-fab icon="in-icon-set:add"
                   title="Create new message"
                   id="buttonFab"
                   class="button-animated fab-add"
                   elevation="3"
                   on-tap="_onButtonFabTap"></paper-fab>

        <in-mobile-message id="newMessageDialog"
                           no-cancel-on-outside-click
                           hide-ok-button
                           hide-cancel-button
                           with-backdrop>

            <div class="row">
                <!--FORM-->
                <div class="col-md-10 col-xs-12 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs">
                            <!--<div class="col-xs" style="min-height: 95px">-->
                            <p class="message-header">Write a new message to:</p>
                            <div id="targetListContainer" class="row target-container"></div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12">

                            <!-- dinamic-data
                            allow-custom-value -->
                            <in-combo-box id="journalistAutocomplete"
                                          maxlength="50"
                                          placeholder="Type name(s)"
                                          item-label-path="name"
                                          item-value-path="user_id"
                                          items="{{items}}"></in-combo-box>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <paper-input
                                    class="hidden"
                                    label="Subject"
                                    id="txtSubject"
                                    required
                                    minlenght="1"
                                    maxlength="128"
                                    pattern="[a-zA-Z0-9\s]*"
                                    error-message="Please type normal characters"
                                    char-counter ></paper-input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <in-send-text id="messageSenderMain"
                                          successful="_successful"
                                          error="_error"
                                          max-rows="10"
                                          style="margin-bottom: 50px;"></in-send-text>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-9" class="connect-message">
                </div>
            </div>

        </in-mobile-message>

        <in-mobile-message id="emptyContactsDialog"
                           no-cancel-on-outside-click
                           hide-ok-button
                           hide-cancel-button
                           with-backdrop>
            <section class="empty-contacts-message-container">

                <div class="empty-contacts-message-header">Your list of contacts is empty!</div>
                <br>
                <div class="empty-contacts-message-text">Please go to the <span on-tap="_onCollaborateLinkTap" class="link-text">Collaborate</span> page, to request engagements.</div>
                <div class="empty-contacts-message-text">After a journalists accept an engagement, he / she will be available to receive messages.</div>

            </section>

        </in-mobile-message>

        <iron-ajax id="ajaxAutoComplete"
                method="GET"
                with-credentials
                handle-as="json"
                on-response="_ajaxAutocompleteCallback"></iron-ajax>

        <iron-ajax id="ajaxMessages"
                method="GET"
                with-credentials
                handle-as="json"
                on-response="_ajaxMessagesCallback"></iron-ajax>

        <iron-ajax id="ajaxThreads"
                method="GET"
                with-credentials
                handle-as="json"
                on-response="_ajaxThreadsCallback"></iron-ajax>

        <iron-ajax id="ajaxCountEngagements"
                   method="GET"
                   with-credentials
                   handle-as="json"
                   on-response="_ajaxCountEngagementsCallback"></iron-ajax>

       <iron-ajax id="ajaxUsersData"
               method="GET"
               with-credentials
               handle-as="json"
               on-response="_ajaxUsersDataCallback"></iron-ajax>

    </template>

    <script>

        (function () {
            'use strict';

            Polymer({
                is: 'message-main',
                behaviors: [
                    Polymer.IronResizableBehavior,
                    MessageExpert,
                    ajaxBehavior
                ],

                listeners: {
                    'items-rendered': '_onLoadMessage',
                    'iron-resize': '_resizex'
                },

                properties: {
                    route: {
                        observer: "_routeChanged"
                    },
                    usersTarget: {
                        observer: "_usersTargetChanged"
                    },
                    counterTarget: {
                        observer: "_counterTargetChanged"
                    },
                    threadSelected: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    start: {
                        value: 0,
                        type: Number
                    },
                    end: {
                        value: 0,
                        type: Number
                    },
                    mobilePageSelected: {
                        type: String,
                        value: 'threads',
                        notify: true
                    },
                    scrollDown: {
                        type: Boolean,
                        value: true
                    },
                    messageToast: {
                        type: Boolean,
                        value: false
                    },
                    params:{
                        observer: '_onParamsChanged'
                    },
                    itemsSelected: {
                        type: Array,
                        value: []
                    },
                    ajaxMessagesResponseOrdered: {
                        type: Array,
                        value: []
                    }
                },

                ready: function () {


                },

                attached: function () {

                    this.opened = false;

                    if(app.socket){
                        this._initSocket();
                    }else{
                        document.addEventListener('socketReady', function (e) {
                            this._initSocket();
                        }.bind(this));
                    }

                    this.addEventListener('thread-selected', function(e){

                        this.thread = e.detail.thread_id;

                        this._loadMessages();
                        this.set('threadSelected', true);
                        this.set('threadTarget',e.detail);
                        this.set('usersTarget', e.detail.users);
                        this.set('userTarget', e.detail.user_target);
                        this.set('userTargetLocation', e.detail.user_target_location);
                        this.set('userTargetName', e.detail.user_target_name);
                        this.set('userTargetPic', e.detail.user_target_pic);

                    }.bind(this));
                },

                _ajaxAutocompleteCallback: function(e){

                    if (!e.detail.response) {
                        return;
                    }

                    for (var i = 0; i < e.detail.response.length; i++) {
                        e.detail.response[i].user_id = e.detail.response[i].user_id[0];
                        e.detail.response[i].name = e.detail.response[i].name[0];
                        e.detail.response[i].location = e.detail.response[i].location[0];
                        e.detail.response[i].picture = e.detail.response[i].picture[0];
                    }

                     this.set('items', e.detail.response);
                },

                _manageFab: function(){

                    if(!this.isMobileResolution){
                        return;
                    }

                    if(this.mobilePageSelected === 'threads'){
                        this.$.buttonFab.style.display = 'flex';
                    }else{
                        this.$.buttonFab.style.display = 'none';
                    }
                },

                _usersTargetChanged: function(){

                    if (!this.usersTarget || this.usersTarget.length < 1) {
                        return;
                    }

                    // Get every user updated information - build string of users separated by commas
                    var users = '';
                    for (var i = 0; i < this.usersTarget.length; i++) {

                        users += this.usersTarget[i].user_id;
                        users += (this.usersTarget.length > i+1) ? ',' : '';
                    }

                    this.$.ajaxUsersData.url = app.apinode + '/journalists/get.info.users/' + users;
                    this.$.ajaxUsersData.generateRequest();
                },

                _counterTargetChanged: function(){

                    if(this.counterTarget > 1){
                        this.$.txtSubject.classList.remove('hidden');
                    }
                    if(this.counterTarget == 1){
                        this.$.txtSubject.classList.add('hidden');
                    }
                },

                _loadThreads: function() {
                    if(this.ajaxThreadsResponse){
                        return;
                    }
                    var usID = app.session.getUser();
                    this.$.ajaxThreads.url = app.apinode + "/messages/threads/" + usID;
                    this.$.ajaxThreads.generateRequest();
                },

                _ajaxThreadsCallback: function(e){

                    this.set('ajaxThreadsResponse', e.detail.response);

                    this.entryAnimation = "slide-from-left-animation";
                    this.exitAnimation = "slide-rigth-animation";
                    this.mobilePageSelected = 'threads';
                    this._manageFab();
                    var total = 0;
                    for( var i in this.ajaxThreadsResponse){
                        total+=this.ajaxThreadsResponse[i].counter;
                    }

                    mainHeader.updateMessagesBadge(total);
                },

                _goBackToThread: function(){
                    this.entryAnimation = "slide-from-left-animation";
                    this.exitAnimation = "slide-right-animation";
                    this.mobilePageSelected = 'threads';
                    this._manageFab();
                },

                _getProfilePictureUrl: function (fileName) {
                    return app.apinode + "/images/get.picture/mini/" + fileName;
                },

                mover: function () {
                    this.transform('translated(30px, 0, 0)', this.$.contenidos);
                },

                _closeModalMessage: function(context){

                    context || ( context = this );
                    context.itemsSelected = new Array();
                    context._clearTags();

                    context.$.txtSubject.value = "";
                    context.$.newMessageDialog.close();

                    context._clearJournalistAutoComplete();
                },

                _initSocket: function () {

                    var self = this;

                    app.socket.on('on-line', function (userID){

                        for(var i in this.ajaxThreadsResponse){

                            var thread = this.ajaxThreadsResponse[i];

                            if(thread.single_user_target === userID){

                                var newthread = {
                                    join_timestamp: thread.join_timestamp,
                                    last_message: thread.last_message,
                                    last_message_timestamp: thread.last_message_timestamp,
                                    last_user_name: thread.last_user_name,
                                    mine: thread.mine,
                                    read: thread.read,
                                    subject: thread.subject,
                                    thread_id: thread.thread_id,
                                    user: thread.user,
                                    user_target: thread.user_target,
                                    user_target_location: thread.user_target_location,
                                    user_target_name: thread.user_target_name,
                                    user_target_pic: thread.user_target_pic,
                                    last_status: thread.last_status,
                                    single_user_target: thread.single_user_target,
                                    counter: thread.counter,
                                    type: thread.type,
                                    online: true
                                };
                                this.splice("ajaxThreadsResponse", i, 1, newthread);
                                break;
                            }
                        }

                    }.bind(this));

                    app.socket.on('off-line', function (userID){

                        for( var i in this.ajaxThreadsResponse){

                            var thread = this.ajaxThreadsResponse[i];

                            if(thread.single_user_target === userID){

                                var newthread = {
                                    join_timestamp: thread.join_timestamp,
                                    last_message: thread.last_message,
                                    last_message_timestamp: thread.last_message_timestamp,
                                    last_user_name: thread.last_user_name,
                                    mine: thread.mine,
                                    read: thread.read,
                                    subject: thread.subject,
                                    thread_id: thread.thread_id,
                                    user: thread.user,
                                    user_target: thread.user_target,
                                    user_target_location: thread.user_target_location,
                                    user_target_name: thread.user_target_name,
                                    user_target_pic: thread.user_target_pic,
                                    last_status: thread.last_status,
                                    single_user_target: thread.single_user_target,
                                    counter: thread.counter,
                                    type: thread.type,
                                    online: false
                                };
                                this.splice("ajaxThreadsResponse", i, 1, newthread);
                                break;
                            }
                        }

                    }.bind(this));

                    app.socket.on('new-thread', function (newThread){

                        if(!this.ajaxThreadsResponse){
                            return;
                        }

                        var thread = {
                            join_timestamp: newThread.join_timestamp,
                            last_message: newThread.last_message,
                            last_message_timestamp: newThread.last_message_timestamp,
                            last_user_name: newThread.last_user_name,
                            mine: newThread.mine,
                            read: newThread.read,
                            received: newThread.received,
                            sent: newThread.sent,
                            subject: newThread.subject,
                            thread_id: newThread.thread_id,
                            user: newThread.user,
                            user_target: newThread.user_target,
                            user_target_location: newThread.user_target_location,
                            user_target_name: newThread.user_target_name,
                            user_target_pic: newThread.user_target_pic,
                            last_status: newThread.last_status,
                            single_user_target: newThread.single_user_target,
                            type: newThread.type,
                            counter: newThread.mine ? 0 : 1,
                            online: newThread.online
                        };
                        //counter: newThread.counter,
                        this.unshift("ajaxThreadsResponse", thread);

                        if(newThread.mine && app.route == "message"){
                            setTimeout(function(){
                                if(document.querySelector(".item-thread-list")){
                                    document.querySelector(".item-thread-list").click();
                                }
                            }.bind(this),500);
                        }
                    }.bind(this));

                    app.socket.on('last_status', function (status){

                        for( var i in this.ajaxThreadsResponse){

                            var thread = this.ajaxThreadsResponse[i];
                            if(thread.thread_id === status.thread_id){

                                var newThread = app.cloneObject(thread);

                                newThread.last_status = status.last_status;
                                newThread.online = status.last_status == 2 || status.last_status == 3;
                                newThread.sent = status.timestamp;
                                newThread.mine = true;

                                this.splice("ajaxThreadsResponse", i, 1, newThread);
                                break;
                            }
                        }

                    }.bind(this));

                    app.socket.on('new-message', function (message){

                        if(!this.ajaxThreadsResponse){
                            return;
                        }

                        var item;
                        item = {
                            timeuuid: Number(new Date()),
                            message: message.message,
                            sender_id: message.sender_id,
                            sender_name: message.sender_name,
                            thread_id: message.thread_id,
                            timestamp: Math.floor(message.last_message_timestamp / 1000),

                            showPic: this.opened && (this.ajaxMessagesResponseOrdered[this.ajaxMessagesResponseOrdered.length-1].sender_id != message.sender_id
                            || app.timeConverter(Math.floor(message.last_message_timestamp / 1000),"date") !=
                            app.timeConverter(this.ajaxMessagesResponseOrdered[this.ajaxMessagesResponseOrdered.length-1].timestamp,"date"))
                        };

                        var index = 0;

                        for( var i in this.ajaxThreadsResponse){
                            if(this.ajaxThreadsResponse[i].thread_id === message.thread_id){
                                index = i;
                                break;
                            }
                        }

                        if(isNaN(this.ajaxThreadsResponse[index].counter)){
                            this.ajaxThreadsResponse[index].counter = 0;
                        }

                        var isThreadClosed = !this.opened || this.route !== 'message' || item.thread_id !== this.thread;
                        var isMyMessage = message.sender_id == session.getUser();
                        var newMessagesCounter =  isThreadClosed && !isMyMessage ? this.ajaxThreadsResponse[index].counter+1 : 0;

                        var thread = {
                            join_timestamp: this.ajaxThreadsResponse[index].join_timestamp,
                            last_message: message.message,
                            last_message_timestamp: message.last_message_timestamp,
                            last_user_name: message.sender_name,
                            mine: message.sender_id == session.getUser(),
                            read: this.ajaxThreadsResponse[index].read,
                            received: this.ajaxThreadsResponse[index].received,
                            sent: this.ajaxThreadsResponse[index].sent,
                            subject: this.ajaxThreadsResponse[index].subject,
                            thread_id: this.ajaxThreadsResponse[index].thread_id,
                            user: this.ajaxThreadsResponse[index].user,
                            user_target: this.ajaxThreadsResponse[index].user_target,
                            user_target_location: this.ajaxThreadsResponse[index].user_target_location,
                            user_target_name: this.ajaxThreadsResponse[index].user_target_name,
                            user_target_pic: this.ajaxThreadsResponse[index].user_target_pic,
                            last_status: this.ajaxThreadsResponse[index].last_status,
                            single_user_target: this.ajaxThreadsResponse[index].single_user_target,
                            type: this.ajaxThreadsResponse[index].type,
                            counter: newMessagesCounter,
                            online: this.ajaxThreadsResponse[index].online
                        };

                        // Mover el thread al inicio de la lista
                        this.splice("ajaxThreadsResponse", index, 1);
                        this.unshift("ajaxThreadsResponse", thread);

                        // Agregar el mensaje al listado de mensajes del thread si esta abierto
                        if(this.params && item.thread_id === this.thread){
                            document.querySelector("message-list").showButtonNew();
                            this.push("ajaxMessagesResponseOrdered",item);
                            if(app.timeConverter(item.timestamp,"date") !=
                                    app.timeConverter(
                                            this.ajaxMessagesResponseOrdered[
                                            this.ajaxMessagesResponseOrdered.length-1
                                                    ].timestamp,"date")){
                                var newDay = {newDate: true, date: app.timeConverter(item.timestamp,"short")};
                                this.push("ajaxMessagesResponseOrdered",newDay);
                            }
                            var usID = app.session.getUser();

                            if(this.opened && this.route == 'message' && message.sender_id != session.getUser() ){
                                app.socket.emit('read-all', {user: usID, thread: item.thread_id});
                            }

                        }

                        setTimeout(function(){
                            document.querySelector("message-list")._adjustListHeight();
                        }.bind(this),200);

                        if(isMyMessage){
                            return;
                        }

                        var total = 0;
                        for( var i in this.ajaxThreadsResponse){
                            total += this.ajaxThreadsResponse[i].counter;
                        }
                        mainHeader.updateMessagesBadge(total);

                    }.bind(this));

                    this.$.journalistAutocomplete.addEventListener('selected-item-changed', function (e) {

                        /* previene errores al reiniciarse el elemento */
                        if(!e.detail.value){
                            return
                        };

                        var journalist = e.detail.value;
                        var tag = document.createElement('in-tag');

                        tag.customValue = "user_id";
                        tag.customLabel = "name";
                        tag.item = journalist;

                        // Verify it's a new user to be added to the list
                        var newUser = true;
                        for (var i = 0; i < this.itemsSelected.length; i++) {
                            if (this.itemsSelected[i].user_id == journalist.user_id) {
                                newUser = false;
                                break;
                            }
                        }

                        if(newUser){
                            // add new user to the list
                            this.itemsSelected.push(journalist);
                            this.$.messageSenderMain.setRecipients(this.itemsSelected);

                            // Add new recipient tag
                            this.$.targetListContainer.appendChild(tag);
                            this.counterTarget = this.$.targetListContainer.childNodes.length;
                        }

                        this._clearJournalistAutoComplete();

                    }.bind(this));

                    // Recipient removed
                    this.$.targetListContainer.addEventListener('in-tag-removed', function (e) {

                        // update Counter used to control the subject field
                        this.set('counterTarget', (this.counterTarget-1));

                        // Search for the item to be removed from the list
                        for (var i = 0; i < this.itemsSelected.length; i++) {
                            if (this.itemsSelected[i].user_id == e.detail.user_id) {
                                this.itemsSelected.splice(i, 1);
                            }
                        }
                        this.$.messageSenderMain.setRecipients(this.itemsSelected);

                    }.bind(this));

                    this.$.journalistAutocomplete.addEventListener('vaadin-change-filter', function (e) {
                        this.$.ajaxAutoComplete.url = app.apinode + '/journalists/search.engaged/' + e.detail;
                        this.$.ajaxAutoComplete.generateRequest();
                    }.bind(this));

                    this.addEventListener('message-sent', function(e){
                        this._closeModalMessage();
                    }.bind(this));
                },

                isShowToast: function(thread_id){

                    return !this.opened
                            || !this.params
                            || thread_id !== this.thread;
                },

                /*
                 * Verifica que la ruta sea distinte a message y el timer este funcionando para pararlo
                 */
                _routeChanged: function () {

                    if(this.route != 'message'){
                        return;
                    }

                    //entre a message
                    this._loadThreads();
                    app.socket.emit('delivered-all', app.session.getUser());
                    this._initTimer();

                    setTimeout(function(){
                        document.querySelector('message-list')._adjustListHeight();
                    }.bind(this),50);
                    setTimeout(function(){
                        document.querySelector('message-list')._adjustListHeight();
                    }.bind(this),150);

                    if(app.showMessageTutorial){
                        this._startTutorial();
                        delete app.showMessageTutorial;
                    }
                },

                _initTimer: function(){

                    if(this.timer){
                        return;
                    }

                    this.timer = setTimeout(function(){

                        this.timer = null;

                        if(this.route !== 'message'){
                            return;
                        }
                        this._updateTimeAgo();
                        this._initTimer();

                    }.bind(this), 60000);
                },

                /*
                 *  Recorremos el array bindeado reasiganmos cada atributo a un nuevo array para re renderizar
                 */
                _updateTimeAgo: function(){

                    var thread;
                    var newthread = {};
                    var horasNow = Math.floor( Number(new Date()) / 1000 ) / 60 / 60;
                    var horasThread;

                    for(var i in this.ajaxThreadsResponse){

                        horasThread = this.ajaxThreadsResponse[i].last_message_timestamp;
                        horasThread = Math.floor(Number(new Date( horasThread ))) / 1000 / 60 / 60;

                        if ( (horasNow - horasThread) > 24) continue;

                        thread = this.ajaxThreadsResponse[i];
                        newthread = {
                            join_timestamp: thread.join_timestamp,
                            last_message: thread.last_message,
                            last_message_timestamp: thread.last_message_timestamp,
                            last_user_name: thread.last_user_name,
                            mine: thread.mine,
                            read: thread.read,
                            received: thread.received,
                            sent: thread.sent,
                            subject: thread.subject,
                            thread_id: thread.thread_id,
                            user: thread.user,
                            user_target: thread.user_target,
                            user_target_location: thread.user_target_location,
                            user_target_name: thread.user_target_name,
                            user_target_pic: thread.user_target_pic,
                            last_status: thread.last_status,
                            single_user_target: thread.single_user_target,
                            counter: thread.counter,
                            type: thread.type,
                            online: thread.online
                        };

                        this.splice('ajaxThreadsResponse', i, 1, newthread);
                    }
                },

                _clearTags: function(){
                    var container = this.$.targetListContainer;
                    while (container.firstChild) {
                        container.removeChild(container.firstChild);
                    }
                },

                _onParamsChanged: function() {

                    if(this.route != 'message'){
                        return;
                    }

                    this.loadingInfinite = false;
                    this.isFirstLoad = true;
                    this.set('ajaxMessagesResponseOrdered', new Array());
                    // this._loadMessages();
                },

                _loadMessages: function() {

                    // is a thread selected
                    if(!this.params || !this.thread ){

                        this.entryAnimation = "slide-from-left-animation";
                        this.exitAnimation = "slide-right-animation";
                        this.disableSwipe = true;
                        this.mobilePageSelected = 'threads';
                        this._manageFab();

                        return;
                    }

                    //Get messages
                    document.querySelector('thread-list').waitThread();

                    if(!this.loadingInfinite){
                        this.lastTimeMessage = 0;
                    }

                    this.scrollDown = true;
                    this.opened = true;

                    var url = app.apinode + '/messages/messages/' + this.thread + '/' + this.lastTimeMessage + '/' + app.session.getUser();
                    this.$.ajaxMessages.url = url;
                    this.$.ajaxMessages.generateRequest();
                    this.loadingInfinite = true;
                },

                _ajaxMessagesCallback: function (e) {

                    if(!e.detail.response){
                        app.showToast('Something went wrong please reload');
                        return;
                    }

                    //No results
                    if(e.detail.response.items.length == 0){
                        document.querySelector('thread-list').activeThread();
                        return;
                    }

                    this.set('ajaxMessagesResponse', e.detail.response.items);
                    this.set('engagementInfo', e.detail.response.engagement);

                    var total = 0;
                    for( var i in this.ajaxThreadsResponse){
                        total+=this.ajaxThreadsResponse[i].counter;
                    }
                    mainHeader.updateMessagesBadge(total);

                    if(!this.ajaxMessagesResponse || this.ajaxMessagesResponse.length == 0){

                        document.querySelector('thread-list').activeThread();
                        return;
                    }

                    //Ocultamos para evitar ruido visual
                    document.querySelector("message-list").style.visibility = 'hidden';

                    //La lista viene al reves
                    //this.ajaxMessagesResponse.reverse();

                    var lengthMessages = this.ajaxMessagesResponse.length;

                    var reverseAuxArray = [];
                    var lastSender = 0;
                    var lastDate = 0;
                    var newDay;
                    var lastNewDate;
                    var lastNewSender;
                    while (lengthMessages--) {

                        if(lastSender !== this.ajaxMessagesResponse[lengthMessages].sender_id ||
                                lastDate !== app.timeConverter(this.ajaxMessagesResponse[lengthMessages].timestamp,"date")){
                            this.ajaxMessagesResponse[lengthMessages].showPic = true;
                            lastNewSender = this.ajaxMessagesResponse[lengthMessages].sender_id;
                        }else{
                            this.ajaxMessagesResponse[lengthMessages].showPic = false;
                        }

                        if(lastDate !== app.timeConverter(this.ajaxMessagesResponse[lengthMessages].timestamp,"date")){
                            newDay = {newDate: true, date: app.timeConverter(this.ajaxMessagesResponse[lengthMessages].timestamp,"short")};
                            reverseAuxArray.push(newDay);
                            lastNewDate = newDay.date;
                        }

                        lastSender = this.ajaxMessagesResponse[lengthMessages].sender_id;
                        lastDate = app.timeConverter(this.ajaxMessagesResponse[lengthMessages].timestamp,"date");

                        reverseAuxArray.push(this.ajaxMessagesResponse[lengthMessages]);
                    }

                    //Guardamos fecha del mensaje mas viejo para paginación
                    this.lastTimeMessage = reverseAuxArray[1].timeuuid;

                    var indexToScroll = reverseAuxArray.length -1;

                    this.ajaxMessagesResponseOrdered = reverseAuxArray.concat(this.ajaxMessagesResponseOrdered);

                    //Verifica que el ultimo SenderID del response sea distinto al último antes de recivido el response.
                    //Si fueran iguales deja de mostrar el Pic
                    if(this.ajaxMessagesResponseOrdered.length > reverseAuxArray.length && this.ajaxMessagesResponseOrdered[reverseAuxArray.length+1].sender_id === lastNewSender){
                        this.ajaxMessagesResponseOrdered[reverseAuxArray.length+1].showPic = false;
                    }
                    //Verifica que la última fecha del item del response sea distinta a la primera anterior.
                    //Si las fechas son iguales elimina el item.
                    if(this.ajaxMessagesResponseOrdered.length > reverseAuxArray.length && this.ajaxMessagesResponseOrdered[reverseAuxArray.length].date === lastNewDate){
                        this.splice("ajaxMessagesResponseOrdered", reverseAuxArray.length, 1);
                    }

                    reverseAuxArray = null;

                    setTimeout(function () {
                        if(this.isFirstLoad){
                            //Scrollea hasta abajo
                            document.querySelector("message-list")._scrollDown();
                        }else{
                            //Coloca el scroll en el ultimo mensaje visible antes de cargar los mensajes anteriores
                            document.querySelector("message-list")._setListScroll(indexToScroll);
                        }
                        document.querySelector("message-list").style.visibility = 'visible';
                    }.bind(this), 100);

                    setTimeout(function () {
                        if(this.isFirstLoad){
                            //Scrollea hasta abajo
                            document.querySelector("message-list")._scrollDown();
                        }else{
                            //Coloca el scroll en el ultimo mensaje visible antes de cargar los mensajes anteriores
                            document.querySelector("message-list")._setListScroll(indexToScroll);
                        }
                        this.isFirstLoad = false;
                        this.loadingInfinite = false;
                        document.querySelector('thread-list').activeThread();
                    }.bind(this), 200);

                    this._showMessagesPage();

                    this.fire("thread-loaded");

                    var messageList = document.querySelector('message-list');

                    messageList.addEventListener('scrolling-top', function(){

                        if(this.loadingInfinite){
                            return;
                        }

                        this.loadingInfinite = true;
                        this._loadMessages();

                    }.bind(this));

                },

                _showMessagesPage: function(){

                    if(this.isMobileResolution){

                        this.entryAnimation = "slide-from-right-animation";
                        this.exitAnimation = "slide-left-animation";
                        this.mobilePageSelected = 'messages';
                        this._manageFab();

                    }else
                        document.querySelector('message-list').classList.remove('hidden');
                },

                _getTargetUserName: function(index){
                    return this.userTargetName[index];
                },

                _getTargetUserLocation: function(index){
                    return this.userTargetLocation[index];
                },

                _getURLUserProfile: function(index){
                    return "profile.experience/"+this.userTarget[index];
                },

                _resizex: function() {
                    var spinner = document.querySelector('#paperSpinner');
                    if (spinner) {
                        spinner.style.visibility = 'hidden';
                    }
                },

                //TODO: HABLAR CON PABLO PARA MODIFICAR ESTO SIN USAR TIMERS ANIDADOS

                _onLoadMessage: function () {
                    return;
                    if (this.scrollDown) {
                        setTimeout(function () {
                            var section = document.querySelector('#message_list');
                            section.scrollTop = section.scrollHeight;
                            setTimeout(function () {
                                        section.scrollTop = section.scrollHeight;
                                        setTimeout(function () {
                                                    section.scrollTop = section.scrollHeight;
                                                    setTimeout(function () {
                                                                <!--Posible error Inicio-->
                                                                var btn = document.querySelector('#btnNewMessage');
                                                                if (btn) {
                                                                    btn.style.visibility = 'hidden';
                                                                }
                                                                var section = document.querySelector('#message_list');
                                                                if (section) {
                                                                    section.scrollTop = section.scrollHeight;
                                                                    section.style.height = newHeight;
                                                                    section.scrollTop = section.scrollHeight;
                                                                }

                                                                var section_write = document.querySelector('#textAreaMessage');
                                                                if (section_write)
                                                                    var newHeight = (window.innerHeight - section.offsetTop - 35 - section_write.offsetHeight) + 'px';

                                                                var section_check = this.$.check_enter;
                                                                var name = "_elt_ent";
                                                                var nameEQ = name + "=";
                                                                var ca = document.cookie.split(';');

                                                                for (var i = 0; i < ca.length; i++) {
                                                                    var c = ca[i];
                                                                    while (c.charAt(0) == ' ')
                                                                        c = c.substring(1, c.length);
                                                                    if (c.indexOf(nameEQ) == 0) {
                                                                        if (section_check) {
                                                                            section_check.checked = c.substring(nameEQ.length, c.length) == 'true';
                                                                        }
                                                                        //showSend();
                                                                    }
                                                                }
                                                                <!--Posible error Fin-->
                                                                section.scrollTop = section.scrollHeight;
                                                            }
                                                            , 30);
                                                }
                                                , 30);
                                    }
                                    , 30);
                            var spinner = document.querySelector('#paperSpinner');
                            spinner.style.visibility = 'hidden';
                        }, 1);
                    } else if (!this.messageToast) {
                        var btn = document.querySelector('#btnNewMessage');
                        btn.style.visibility = 'visible';
                    }
                },

                _onButtonFabTap: function () {
                    this.$.ajaxCountEngagements.url = app.apinode + '/journalists/count.engagement';
                    this.$.ajaxCountEngagements.generateRequest();

                },

                _ajaxCountEngagementsCallback: function (e) {

                    if(e.detail.response == 0){
                        this.$.emptyContactsDialog.open();
                    }else{
                        this._newMessage();
                    }

                },

                _ajaxUsersDataCallback:function(e){
                    this.set('usersTargetComplete', e.detail.response);
                },

                _onCollaborateLinkTap: function () {
                    this.$.emptyContactsDialog.close();
                    page('/connect');

                },

                _newMessage: function () {

                    this.$.newMessageDialog.sendButtonAction = this._sendMessage;
                    this.$.newMessageDialog.closeButtonAction = this._closeModalMessage;
                    this.$.newMessageDialog.spinner = false;
                    this.$.newMessageDialog.context = this;

                    this.$.newMessageDialog.hideOkButton = false;
                    this.$.newMessageDialog.disableAction = false;

                    this.$.messageSenderMain.setMessageBehavior(null, true);

                    this.$.newMessageDialog.open();
                },

                _sendMessage: function(context){
                    console.log('_sendMessage main');
                    context.$.messageSenderMain.send();
                },

                _getHeight: function() {

                    var myWidth = 0, myHeight = 0;
                    if (typeof (window.innerWidth) == 'number') {
                        //Non-IE
                        myHeight = window.innerHeight;
                    } else if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
                        //IE 6+ in 'standards compliant mode'
                        myHeight = document.documentElement.clientHeight;
                    } else if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
                        //IE 4 compatible
                        myHeight = document.body.clientHeight;
                    }

                    return myHeight;
                },

                _clearJournalistAutoComplete: function () {

                    /*Pone a limpia el value del in-combox*/
                    this.$.journalistAutocomplete.value = null;
                    /*Elimina cualquier tag introducido por el usuario*/
                    this.$.journalistAutocomplete.cancel();
                    this.set('items', []);
                },

                _successful: function(data){

                    if(data.users.length === 2){
                        for( var i in this.ajaxThreadsResponse){

                            var thread = this.ajaxThreadsResponse[i];

                            if(thread.user_target.length === 1 && thread.user_target[0] === data.users[1]){

                                var newthread = {

                                    join_timestamp: thread.join_timestamp,
                                    last_message: data.message,
                                    last_message_timestamp: Date.now(),
                                    last_user_name: "you",
                                    mine: true,
                                    read: thread.read,
                                    received: thread.received,
                                    sent: thread.sent,
                                    subject: thread.subject,
                                    thread_id: thread.thread_id,
                                    user: thread.user,
                                    user_target: thread.user_target,
                                    user_target_location: thread.user_target_location,
                                    user_target_name: thread.user_target_name,
                                    user_target_pic: thread.user_target_pic,
                                    single_user_target: thread.single_user_target,
                                    counter: thread.counter,
                                    last_status: 0,
                                    type: thread.type,
                                    online: thread.online
                                };

                                this.splice("ajaxThreadsResponse", i, 1);
                                this.unshift("ajaxThreadsResponse", newthread);

                                if(this.route == "message"){
                                    setTimeout(function(){
                                        document.querySelector(".item-thread-list").click();
                                    }.bind(this),500);
                                }
                                break;
                            }
                        }
                    }

                    this.$.newMessageDialog.close();
                    this.$.newMessageDialog._resetElement();
                    this.$.newMessageDialog.cancelLabel = 'Close';
                    this.$.messageSenderMain.value("");
                    this.$.txtSubject.value = "";
                    this.itemsSelected = new Array();
                    this._clearTags();
                },

                _error: function(data){
                    this.$.journalistAutocomplete.querySelector("input").focus();
                },

                _onHelpTap: function () {
                    if (app.mobile) {
                        return;
                    }
                    this._startTutorial();
                },

                _startTutorial: function(){
                    var messageTutorial = Polymer.dom(document).querySelector('#appTutorial');
                    messageTutorial.setMessageTutorial();
                    messageTutorial.start()
                },

                hiddeEmptyState: function(){

                    if (this.isMobileResolution) {
                        return;
                    }

                    document.querySelector("#emptyContainer").style.background="white";
                    document.querySelector("#emptyContainer").style.position="static";
                    this.toggleClass('col-md-4', false, document.querySelector("#emptyContainer"));
                    this.toggleClass('col-md-5', true, document.querySelector("#emptyContainer"));



//                    document.querySelector(".emptyTitle").style.display="none";
//                    document.querySelector(".emptyTapThread").style.display="none";
//                    document.querySelector(".emptyClickButton").style.display="none";
//                    document.querySelector(".arrowUp").style.display="none";
//                    document.querySelector(".arrowDown").style.display="none";

                }
            });
        })();
    </script>
</dom-module>
