<dom-module id="message-thread-unselected">

    <template>
        <style include="shared-styles">
            .journalist-name{
                @apply(--big-text);
            }
            .message-text{
                @apply(--medium-text);
                color: var(--accent-color);
            }
            .kulectiv-logo {
                width: 60px;
                height: 60px;
            }
            .journalist-name-container{
                margin-top: 24px;
                margin-bottom: 24px;
            }
        </style>

        <div class="row center-xs">
            <div class="col-xs-12">
                <img class="kulectiv-logo" src="../../../images/kulectiv%20small.png">
            </div>
        </div>

        <div class="row center-xs">

            <div class="col-xs-12 journalist-name-container">
                <span class="journalist-name">Hola {{journalistName}}</span>
            </div>

            <div class="col-xs-12 message-text-container">
                <span class="message-text">
                    Create or select a message <br>
                    to engage with other journalists.
                </span>
            </div>

        </div>

    </template>

    <script>
        Polymer({
            is: "message-thread-unselected",


            properties: {
                journalistName:{
                    value: function () {
                        return app.session.getName()
                    }
                }
            }
        });
    </script>

</dom-module>