
<dom-module id="in-croppic">
    <template>
        <link rel="stylesheet" href="build/darkroom.css">
        <style is="custom-style" include="shared-styles">
            :host {
                display: block;
                padding-left: 0px;
                padding-right: 0px;
            }

            .figure-wrapper{
                margin-top: 45px;
                /*width: 632px;*/
                /*height: 400px;*/
                margin-bottom: 24px;
            }

            #cropperContainer>img{
                max-width: 100% !important;
                max-height: 100% !important;
            }

            .buttons-container{
                margin-bottom: 45px;
            }

        </style>

        <div class="row center-xs">

            <div class="col-xs figure-wrapper">

                <figure id="cropperContainer" class="image-container target">
                    <img id="target">
                </figure>

            </div>

        </div>

        <div class="row center-xs buttons-container">
            <div class="col-xs">
                <!--<span class="title">-->
                    <paper-button class="cancel-button"
                                  on-tap="_cancelEdit">Cancel</paper-button>

                    <paper-button raised
                                  id="saveButton"
                                  class="ok-button"
                                  on-tap="_getImage">Save</paper-button>

                <!--</span>-->
            </div>
        </div>


        <input type="file" id="fileInput" on-change="_fileChange" hidden accept="image/*" >

    </template>

    <script src="lib/js/core/fabric.js"></script>
    <script src="build/darkroom.js"></script>
    <!--<script src="./build/darkroom.js"></script>-->
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'in-croppic',
                properties: {
                    pageSelected:{
                        notify:true
                    },
                    maxFileSize:{
                        notify: true
                    }
                },
                ready: function () {

                    document.addEventListener("keydown", function(e){
                        if (e.code === "Escape") {
                            this._cancelEdit();
                        }
                    }.bind(this));

                    this.util = {
                        mixin: function(dest, src){
                            for(var p in src) {dest[p] = src[p];}
                        },
                        byId: function(id){
                            if(typeof id === 'string') {return document.getElementById(id);}
                            else {return id;}
                        },
                        /**
                         * Funcion que crea una nueva etiqueta
                         * @param tag Tag que se va a crear
                         * @param attrs atributos del TAG
                         */
                        create: function(tag, attrs){
                            var node = document.createElement(tag);
                            this.mixin(node, attrs);
                            return node;
                        },
                        connect: function(node, evtType, context, callback){
                            //TODO: use event listeners instead
                            // var self = this;
                            function handler(evt){
                                // evt = self.fixEvent(evt);
                                context[callback](evt);
                            }
                            if(node.attachEvent) {node.attachEvent('on' + evtType, handler);}
                            else {node.addEventListener(evtType, handler, false);}
                        },
                        style: function(node, args){
                            if(typeof args === 'string'){
                                var value = node.style[args];
                                if(!value){
                                    var s = window.getComputedStyle ? getComputedStyle(node) : node.currentStyle;
                                    value = s[args];
                                }
                                return value;
                            } else {this.mixin(node.style, args);}
                        },
                        each: function(arr, callback){
                            for(var i = 0; i < arr.length; i++) {
                                callback(arr[i], i);
                            }
                        },
                        indexOf: function(arr, value){
                            for(var i = 0; i < arr.length; i++) {
                                if(value === arr[i]) {return i;}
                            }
                            return -1;
                        },
                        addCss: function(node, css){
                            if(!node) {return;}
                            var cn = node.className || '', arr = cn.split(' '), i = util.indexOf(arr, css);
                            if(i < 0) {arr.push(css);}
                            node.className = arr.join(' ');
                        },
                        rmCss: function(node, css){
                            if(!node) {return;}
                            var cn = node.className || '', arr = cn.split(' '), i = util.indexOf(arr, css);
                            if(i >= 0) {arr.splice(i, 1);}
                            node.className = arr.join(' ');
                        },
                        fixEvent: function(evt){
                            evt = evt || event;
                            if(!evt.target) {evt.target = evt.srcElement;}
                            if(!evt.keyCode) {evt.keyCode = evt.which || evt.charCode;}
                            if(!evt.pageX){//only for IE
                                evt.pageX = evt.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
                                evt.pageY = evt.clientY + document.body.scrollTop + document.documentElement.scrollTop;
                            }
                            return evt;
                        }
                    };
                },

                attached: function () {

                    this.domNode = this.$.cropperContainer;
                },

                /**
                 * Funcion que abre el diálogo de seleccion de archivo
                 * @private
                 */
                openUploadFile: function () {

                    this.$.fileInput.value = null;

                    var elem = this.$.fileInput;
                    if(elem && document.createEvent) { // sanity check
                        var evt = document.createEvent('MouseEvents');
                        evt.initEvent('click', true, false);
                        elem.dispatchEvent(evt);
                    }
                },

                /**
                 * Funcion captura el archivo subido
                 * @param e evento que contiene la imagen
                 * @private
                 */
                _fileChange: function(e) {


                    if(e.target.files.length === 0) return;


                    var file = e.target.files[0];
                    if (!file.type.match('image.*')) {

                        dialogSpinner.close();
                        app.showToast('Invalid File Type');
                        this.$.fileInput.value = null;
                        return;
                    }

                    if (this.maxFileSize >= 0 && e.target.files[0].size > this.maxFileSize) {
                        app.showToast('File is Too Big.');
                        this.$.fileInput.value = null;
                        return;
                    }
                    dialogSpinner.open();
                    this.file = file;
                    this.setImageFile(file);
                },

                /**
                 * Funcion que inserta la imagen en el contenedor para ser editada
                 * @param file
                 */
                setImageFile: function(file) {

                    var img = new Image();
                    img.src = URL.createObjectURL(file);
                    this.$.target.src = img.src;
                    this.initializeCropper();
                    this.pageSelected = 1;
                },

                initializeCropper: function () {
                    /**
                     * Objeto darkRoom. Este es el objeto que realiza el cropping
                     **/
                    var self = this;
                    this.dkrm = new Darkroom('#target', {
                        // Size options
//                        minWidth: 632,
//                        minHeight: 400,
                        maxWidth: 632,
                        maxHeight: 400,
//                        ratio: 1,

                        // Plugins options
                        plugins: {
                            save: false,
                            crop: {
                                callback: function () {
                                    console.log('veamos')
                                }
                            }
                        },

                        // Post initialize script
                        initialize: function() {

                            var cropPlugin = this.plugins['crop'];
                            self.dkrm.options.plugins.crop.minHeight = self.minH;
                            self.dkrm.options.plugins.crop.ratio = self.ratio;
                            if (self.ratio == 1){
                                cropPlugin.selectZone(25, 25, 200, 200);
                            }

                            self.cropPlugin = cropPlugin;

                            dialogSpinner.close();
                        }
                    });
                },

                /**
                 * funcion que se encarga de rescatar la imagen editada.
                 * Se ejectuta al hacer click en el botón save de el tool ar de darkroom
                 * @private
                 */
                _sendImage: function() {
                    /*busco y cierro el dialog de edición de imagen*/
                    this.$.saveButton.disabled = true;
                    this.pageSelected = 0;
                    //this.fire('crop-done');

                    dialogSpinner.open();
                    this.cropPlugin.cropCurrentZone();

                    setTimeout(function () {

                        /*Busco el canvas generado por el objeto darkroom, el cual contiene la imagen editada*/
                        var canvas = this.querySelector('.lower-canvas');
                        var dataURL = canvas.toDataURL();//obtengo la imagen editada
                        var data = {
                            dataURL: dataURL,
                            target:this.target
                        };
                        //disparo un evento con la imagen editada como data
                        this.fire('reset-image-editor', data);
                        //this._cancelEdit();
                        this.$.saveButton.disabled = false;
                        dialogSpinner.close();

                    }.bind(this), 300);
                },

                _cancelEdit: function () {
                    this.fire('crop-done');
                    //this.parentNode.parentNode._closeInCroppDialog(true);
                },

                /**
                 * Funcion que cierra el dialog del in-croppic
                 * @private
                 */
                _closeDialog: function () {
                    //this.parentNode.parentNode._closeInCroppDialog();
//                    console.log(this.parentNode.parentNode);
                },
                _openDialog: function () {
                    //document.querySelector('#imageEditDialog').open();
//                    console.log(this.parentNode.parentNode);
                }


            });
        })();
    </script>
</dom-module>
