
<!-- <link rel="import" href="../../../bower_components/facebook-login/facebook-login.html"> -->
<!--<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">-->
<!--<link rel="import" href="../../../images/icons/custom-icons-set.html">-->
<!-- <link rel="import" href="../../in/in-twitter-login/in-twitter-login.html"> -->

<dom-module id="tab-social">
    <template>
        <style include="shared-styles">

            :host {
                margin-top: 40px;
            }
            .social-icons{
                width: 82px;
                height: 82px;
                /*margin-left: -3px;*/
                /*margin-bottom: -12px*/
            }
            .twitter{
                background-color: var(--twitter-color);
                color: #FFF;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                margin-right: 15px;
                margin-left: 15px;
            }
            .edit-icon{
                margin-left: 12px;
                margin-bottom: 12px;
            }
            .facebook-login-text{
                @apply(--small-text);
                margin-top: 5px;
            }
            .item-row{
                margin-top: 20px;
            }
            .align-left{
                text-align: left;
            }
            .align-center{
                text-align: center;
            }

        </style>

        <!--<div class="row middle-xs item-row" >-->

            <!--<div class="col-xs-2 align-center">-->
                <!--<paper-icon-button-->
                    <!--src="/images/landing/facebook-icon.svg"-->
                    <!--class="social-icons"-->
                    <!--on-tap="_onFacebookIconTap"></paper-icon-button>-->
            <!--</div>-->

            <!--<div class="col-xs-10 align-left">-->
                <!--<iron-pages selected="{{facebookPageSelected}}">-->

                    <!--<div>-->
                        <!--<a  id="facebookLink" target="_blank" href$="{{facebookUrl}}">Go to Facebook profile</a>-->
                    <!--</div>-->

                    <!--<div>-->
                        <!--<template is="dom-if" if="{{changeEditIcon}}">-->

                            <!--&lt;!&ndash; COMENTADO temporalmente - Genera errores de incompatibilidad en Safari - Damian - Buscar mejor opcion &ndash;&gt;-->

                            <!--&lt;!&ndash; <facebook-login-->
                                <!--style="margin-top:15px;"-->
                                <!--id="logFacebook"-->
                                <!--appID="926804064072043"-->
                                <!--logout-link-->
                                <!--graph-url="me?fields=name,email,birthday"-->
                                <!--scope="public_profile email user_birthday user_hometown"-->
                                <!--graph-response="{{resp}}">-->
                            <!--</facebook-login> &ndash;&gt;-->

                            <!--<div class="facebook-login-text">Please login to your facebook account to retrieve your profile URL </div>-->

                        <!--</template>-->
                    <!--</div>-->

                <!--</iron-pages>-->
            <!--</div>-->
        <!--</div>-->
        <!-- END FACEBOOK ITEM -->


        <div class="row middle-xs item-row" >

            <div class="col-xs-2 align-center">

                <paper-icon-button
                    icon="in-icon-set:twitter"
                    class="twitter"
                    id="twitterButton"
                    on-tap="_twitterIconTap"></paper-icon-button>
            </div>

            <div class="col-xs-10 align-left">
                <!-- <in-twitter-login></in-twitter-login> -->
            </div>
            <div class="col-xs-10 align-left">
                <iron-pages id="twitterPage" selected="{{twitterPageSelected}}">

                    <div>

                        <a id="twitterLink" target="_blank" href$="{{twitterUrl}}">Go to @{{twitterAccount}} profile</a>

                        <iron-icon
                            class="edit-icon"
                            icon="in-icon-set:create"
                            on-tap="_twitterIconTap"></iron-icon>

                    </div>

                    <paper-input on-blur="_saveTwitterValue" style="margin-top:-39px;"
                                 id="twitterInput"
                                 value="{{twitterInputValue::input}}"
                                 class="inputs-margin"
                                 placeholder="Twitter Account">

                        <div suffix>

                            <paper-icon-button class="doneButton"
                                               icon="in-icon-set:done"
                                               on-tap="_saveTwitterValue"></paper-icon-button>

                        </div>

                    </paper-input>

                </iron-pages>
            </div>

        </div>
        <!-- END TWITTER ITEM -->




    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'tab-social',

                properties: {
                    facebookPageSelected:{
                        type:Number,
                        value:1
                    },
                    twitterPageSelected:{
                        type: Number,
                        value: 0
                    },
                    changeEditIcon:{
                        observer:'_showIcons',
                        value:0
                    },
                    twitterAccount:{
                        observer: "_twitterAccountChanged"
                    }

                },
                _twitterAccountChanged: function(){
                    this.twitterUrl = 'https://twitter.com/' + this.twitterAccount;
                    this.twitterInputValue = this.twitterAccount;
                },
                /* Segun este editando o no, mostrar el perfil del twitter o cambiar al imput de edicion */
                _twitterIconTap: function (e) {

                    if (this.changeEditIcon !== 1) {
                        window.open(this.twitterUrl,'_blank');
                        return;
                    }
                    this.set('twitterPageSelected', 1);
                    var input = this.$.twitterInput;
                    input.$.input.focus();
                },
//                _onFacebookIconTap: function(){
//                    if (this.changeEditIcon !== 1) {
//                        window.open(this.facebookUrl,'_blank');
//                    }
//                },
                _saveTwitterValue: function (e) {

                    //variable que captura el id del input para ser usado como parametro data en la llamada Ajax
                    if (!this.twitterInputValue) {
                        return
                    }
                    var paramsUpdateEvent = {
                        method: "update.user",
                        data: 'twitter',
                        value: this.twitterInputValue
                    };

                    if(this.twitterInputValue !== "" ){
                        this.fire('update-twitter', paramsUpdateEvent);
                        this.set('twitterAccount', this.twitterInputValue);
                    }

                    this.$.twitterPage.selected = 0;
                },

                _stopEvent: function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    if (e.gesture) e.gesture.stopPropagation();
                    if (e.gesture) e.gesture.preventDefault();
                },

                _showIcons: function () {

                    var editIcons = this.querySelectorAll('.edit-icon');

                    if(this.changeEditIcon === 1){
                        this.facebookPageSelected = 1;
                        for (var element in editIcons) {
                            if (typeof editIcons[element] === 'object') {
                                editIcons[element].style.opacity = 1;
                                editIcons[element].style.cursor = 'pointer';
                                //this.$.twitterButton.removeAttribute('disabled')
                            }
                        }

                    }else{

//                        this.facebookPageSelected = 0;
                        this.$.twitterPage.selected = 0;
                        for (var element in editIcons) {

                            if (typeof editIcons[element] === 'object') {
                                editIcons[element].style.opacity = 0;
                                editIcons[element].style.cursor = 'default';
                                //this.$.twitterButton.setAttribute('disabled', false);
                            }
                        }
                    }
                },
            });
        })();
    </script>
</dom-module>
