<dom-module id="dashboard-task">
    <template>

        <style include="shared-styles">

            .main-container{
                position: relative;
                margin-left: 15px;
            }
            .vignette {
                height: 10px !important;
                width: 10px !important;
                border-radius: 50%;
                background-color: var(--accent-color);
                position: absolute;
                top: 5px;
                left: -15px;
            }
            .enable-vignette{
                background-color: var(--accent-color);
            }
            .disable-vignette{
                background-color: var(--disabled-text-color);
            }
            .item-description {
                margin-left: 10px;
            }
            .orange{
                color: var(--accent-color);
            }
            .link-disabled{
                pointer-events: none;
                cursor: default;
            }
        </style>


        <div class="main-container">

            <div class="row">

                <div class$="{{_computeVignetteClass(item.completed)}}"></div>

                <div class="col-xs-8 col-sm-9 col-md-10">

                    <a href$="{{_computeUrl(item)}}" class$="{{_computeTaskLinkClass(item.completed)}}">
                        <div class$="{{_computeTaskDescriptionClass(item.completed)}}" on-tap="_help">
                            {{item.description}}
                        </div>
                    </a>

                    <template is="dom-if" if="{{!item.completed}}">
                        <paper-tooltip offset="0">Complete this task to achieve {{_getItemProfileLabel(item.level, item.game)}} level {{_getItemCommunityLabel(item.level, item.game)}} </paper-tooltip>
                    </template>

                </div>

                <div class="col-xs-4 col-sm-3 col-md-2" style="text-align:right">
                    <div class$="{{_computeTaskPointsClass(item.completed)}}">
                        {{_computeTaskPoints(item)}} pts.
                    </div>
                </div>
            </div>

        </div>

    </template>

    <script>

        (function () {
            'use strict';

            Polymer({

                is: 'dashboard-task',
                properties: {

                },
                _help: function(){

                    app.showToast(this.item.help,"help");

                    if( this.item.type == "RESOURCE_PROVIDE_FEEDBACK" || this.item.type == "RESOURCE_REQUEST_NEW" ){

                        var data = {
                            thread_id: null,
                            users:          [ session.getUser() ],
                            names:          [ session.getName() ],
                            pics:           [ session.getPicture() ],
                            locations:      [ session.getLocation() ]
                        };
                        if( this.item.type == "RESOURCE_PROVIDE_FEEDBACK" ){
                            setTimeout(function(){
                                app.socket.emit('task-resource-feedback', data);
                            }.bind(this), 2000);
                        }else{
                            setTimeout(function(){
                                app.socket.emit('task-marketplace-feedback', data);
                            }.bind(this), 2000);
                        }

                    }

                },

                _computeVignetteClass: function(isComplete){
                    if(!isComplete){
                        return 'vignette';
                    }
                    return 'vignette disable-vignette';
                },

                _computeTaskDescriptionClass: function(isComplete){
                    if(!isComplete){
                        return 'item-description';
                    }
                    return 'item-description disabled-text';
                },

                _computeTaskLinkClass: function(isComplete){
                    if(isComplete){
                        return 'link-disabled';
                    }
                    return '';
                },

                _computeTaskPointsClass: function(isComplete){
                    if(isComplete){
                        return 'item-description disabled-text';
                    }
                    return 'item-description';
                },
                _computeTaskPoints: function(task){
                    return task.points * task.quantity_goal;
                },
                _computeUrl: function(item){

                    if(item.completed){
                        return '';
                    }
                    return item.url;
                },
                _getItemProfileLabel: function (level, game) {

                    if(game != 'profile'){
                        return;
                    }

                    switch (level){
                        case 1:
                            return 'Junior';
                            break;
                        case 2:
                            return 'Mid-level';
                            break;
                        case 3:
                            return 'Senior';
                            break;
                        case 4:
                            return 'All-Star';
                            break;
                        case 5:
                            return 'All-Star';
                            break;
                        default:
                            return'Starter'
                    }
                },
                _getItemCommunityLabel: function(level, game){
                    if(game != 'community'){
                        return;
                    }
                    return level;
                }
            });
        })();

    </script>
</dom-module>
