<link rel="import" href="../tab-experience/tab-experience.html?v1.29">
<link rel="import" href="../tab-community/tab-community.html?v1.42">
<link rel="import" href="../tab-connections/tab-connections.html?v1.28">
<link rel="import" href="../skills-list/skills-list.html?v1.29">
<link rel="import" href="../../in/in-img-crop/in-img-crop.html?v1.32">
<link rel="import" href="../../../styles/shared-styles.html">
<link rel="import" href="../../in/in-follow-button/in-follow-button.html">

<dom-module id="profile-main">
    <template>

        <style is="custom-style" include="shared-styles">

            :host {
                @apply(--font-jouture);
                margin-top: -6px;
                background-color: var(--body-background-color) !important;
            }
            div{
                margin: 0;
                padding: 0;
            }
            .quote-container {
                @apply(--big-text);
                color: white;
                position: relative;
                top: -125px;
                z-index: 2;
                height: 54px;
            }
            .quote-input {
                --paper-input-container-input-color: #FFF;
            }
            paper-input {
                text-align: center;
            }
            .layer-hover {
                position: relative;
                width: 100%;
                background: rgba(0,0,0,0.5);
                height: 200px;
                top: -254px;
                left: 0;
                margin-top: 0;
                margin-bottom: -200px;
                z-index: 0;
            }
            .doneButton{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: var(--accent-color);
                position: absolute;
                top: 25px;
                right: -45px;
            }
            .main-fields-container{
                margin-left: 36px;
                line-height: 24px;
            }
            paper-dialog {
                background-color: white;
            }
            .image-cover{
                background-size: cover;
                background-color: #FFF;
                min-height: 200px;
            }
            .user-pic-container{
                background-color: white;
                margin-top: -63px;
            }
            .user-pic-container img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                box-shadow: 0px 3px 6px #555;
                /*margin: auto 0;*/
                /*margin-left: 36px;*/
            }
            .name-user-container{
                @apply(--big-text);
                background-color: white;
                padding-top: 20px;
            }
            .current-position-container {
                @apply(--middle-text);
                background-color: white;
                padding-top: 10px;
            }
            .location-container{
                @apply(--middle-text);
                background-color: white;
                color: var(--secondary-text-color);
            }
            .user-bio-container{
                @apply(--small-text);
                padding-top: 30px;
                background-color: white;

            }
            .ranking-engaged-row{
                background-color: white;
                padding-top: 20px;
                padding-bottom: 25px;
            }
            .ranking-container img{
                width: 60px;
                height: 60px;
            }
            .ranking{
                color: var(--accent-color);
            }
            .enganged-container img{
                width: 60px;
                height: 60px;
            }
            /*Popups styles*/
            .pp{
                --paper-input-container-input:{
                    @apply(--small-text);
                };
                --paper-input-container-focus-color: var(--accent-color);
            }
            .orange{
                color: #F77517;
            }
            .subtitle{
                color: #333;
                @apply(--small-text);
            }
            .subtitlecolor{
                color:  var(--accent-color);
                @apply(--small-text);
            }
            .title{
                color: #333;
                @apply(--medium-text);
            }
            paper-dialog{
                padding-top: 20px;
                padding-right: 60px;
                padding-left: 60px;
            }

            paper-dialog div{
                margin: 0;
                padding: 0;
            }


            #pinPages img, #dialogMessage img{
                position: relative;
                width: 30px;
                height: 30px;
                bottom:-7px;
                right: 10px;
                border-radius: 50%;
            }

            /*Popups styles*/


            paper-tooltip{
                width: 170px;
                --paper-tooltip-background: white;
                --paper-tooltip-text-color: var(--primary-text-color);
                --paper-font-common-base: {
                    font-size: 13px;
                };
            }
            .tab-container{
                margin-top: 20px;
            }
            paper-tabs {
                --paper-tabs-selection-bar-color: var(--accent-color);
            }
            paper-tab {
                @apply(--medium-text);
                font-weight: 500 !important;
            }
            paper-tab:focus .tab-content {
                opacity: 1 !important;
                font-weight: 100!important;
            }
            .tab-content-container {
                padding-top: 15px;
            }
            .icons-container {
                z-index:1;
                position: absolute;
                margin-left: 55px;
            }
            paper-icon-button {
                width: 60px;
                height: 60px;
            }
            .edit-icons-container{
                position: absolute;
                margin-left: -25px;
            }

            paper-icon-button.edit {
                color: var(--accent-color);
                width: 48px;
                height: 48px;
                cursor: pointer;
            }

            .edit-icon {
                opacity: 0;
                color: var(--accent-color);
                width: 30px;
                height: 30px;
                transition: all 300ms;
                cursor: pointer;
            }
            .cover-edit-icon {
                top:-14px !important;
                right:-20px !important;
                padding-left: 15px;
                padding-right: 15px;
                /*color: #FFF !important;*/
                background-color: rgba(0, 0, 0, 0.58);
                z-index: 100;
            }

            paper-dialog {
                padding-top: 20px;
                padding-right: 60px;
                padding-left: 60px;
            }

            paper-dialog div {
                margin: 0;
                padding: 0;
            }

            .edit-cover-button-container{
                margin-top: -70px;
                margin-right: 20px;
                z-index: 1;
            }

            .engaged-icon {
                width: 40px !important;
            }
            .engagement-waiting {
                width:46px !important;
                height:50px !important;
            }
            .text-quote-container{
                /*padding: 0 30px 0 30px;*/
                word-wrap: break-word;
            }

            .container-relative {
                position:relative;
            }

            .right-button-label {
                position: absolute;
                top: 45px;
                left: 0;
                font-size: 13px;
                color: #333;/* var(--dark-primary-color);*/
            }

            .user-profile-container {
                padding-top: var(--content-padding-top);
            }

            /* se crea en tiempo de ejecucion */
            #tabsContent {
                width:100%;
            }
            .paper-tab-width {
                width: 25%;
            }
            .img-cropper-container{
                margin-top: 30px;
                opacity: 0;
                transition: all 0.3s;
            }
            .engagement-icon-label {
                font-size:12px;
                font-weight:200;
            }
            neon-animatable{
                min-height: 650px;
            }
            .fab-edit-profile.mobile{
                display: none;
            }
            /*.fab-edit-profile.web{
                display: block;
            }*/


            @media only screen and (min-width: 48em) {
                .paper-tab-width{
                    --paper-tab-content:{
                        width: 100px;
                    }
                }
            }

            /*MOBILE*/
            @media only screen and (max-width: 48em) {
                .icons-container {
                    position: absolute;
                    margin-left: 10px;
                }
                .user-pic-container img {
                    /*margin-left: 23px;*/
                }
                .paper-tab-width {
                    font-size: 16px !important;
                }
                .fab-edit-profile.web{
                    display:none;
                }
                .fab-edit-profile.mobile{
                    display: block;
                }
            }

        </style>


    <iron-pages selected="{{pageSelected}}">

        <div class="row center-xs user-profile-container">

            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

                <div class="row center-xs" style="background-color: white">

                    <div class="col-xs-12 image-cover"
                         hidden$="{{!isCroppingCover}}"
                         style="margin-bottom: 40px;">

                        <in-img-crop id="coverCropper"
                                     external-closing
                                     event-name="cover-cropped"></in-img-crop>
                    </div>

                    <div id="imageCover"
                         hidden$="{{isCroppingCover}}"
                         class="col-xs-12 image-cover">
                    </div>


                    <div class="col-xs-12 quote-container"
                         hidden$="{{isCroppingCover}}"
                         on-mouseout="_hiddePencil"
                         on-mouseover="_showPencil">


                        <iron-pages id="quotePage" selected="1">

                            <section>

                                <div class="row center-xs" style="margin-top: -46px">

                                    <div class="col-xs-5 container-relative">

                                        <paper-input on-blur="_hiddeInput"
                                                     id="quote"
                                                     char-counter
                                                     maxlength="140"
                                                     class="quote-input"
                                                     value="{{journalist.quote}}">

                                        </paper-input>

                                        <paper-icon-button class="doneButton"
                                                           icon="in-icon-set:save"></paper-icon-button>

                                    </div>

                                </div>

                            </section>

                            <section on-tap="_showInput">


                                <section class="text-quote-container">
                                    <template is="dom-if" if="{{ !_isEmptyValue(journalist.quote) }}">
                                        “{{journalist.quote}}"
                                    </template>
                                    <template is="dom-if" if="{{ _isEmptyValue(journalist.quote) }}">
                                        Words of wisdom ?
                                    </template>
                                </section>

                                <iron-icon style="top: -7px"
                                           class="edit-icon"
                                           icon="in-icon-set:create"></iron-icon>


                            </section>

                        </iron-pages>

                    </div>

                    <div class="layer-hover"
                         hidden$="{{isCroppingCover}}"
                         on-mouseout="_hiddePencilCover"
                         on-mouseover="_showPencilCover"></div>

                </div>

                <div hidden$="{{isCroppingCover}}"
                     class="row end-xs edit-cover-button-container">
                    <div class="col-xs">
                        <!-- <div class=""> -->
                            <iron-icon on-tap="_onCoverEditTap"
                                       id="coverEditIcon"
                                       class="edit-icon cover-edit-icon"
                                       icon="in-icon-set:photo-camera"
                                       on-mouseout="_hiddePencilCover"
                                       on-mouseover="_showPencilCover"></iron-icon>
                        <!-- </div> -->
                    </div>
                </div>

                <div hidden$="{{isCroppingCover}}"
                     class="row user-pic-container center-xs">

                    <div class="col-xs-12" style="z-index: 1">

                        <iron-icon style="opacity:0"
                                   target="userPic"
                                   icon="in-icon-set:photo-camera"></iron-icon>

                        <img on-mouseout="_hiddePencilPic"
                             on-mouseover="_showPencilPic"
                             on-tap="_editUserPic"
                             id="userPic"
                             src$="{{_getProfilePicture(journalist.picture)}}">

                        <iron-icon on-tap="_editUserPic"
                                   id="userPicEditIcon"
                                   target="userPic"
                                   class="edit-icon"
                                   icon="in-icon-set:photo-camera"
                                   on-mouseout="_hiddePencilPic"
                                   on-mouseover="_showPencilPic"></iron-icon>
                    </div>

                </div>


                <div class="row end-xs">

                    <template is="dom-if" if="{{!isMyProfile}}">
                        <div class="col-xs-10 icons-container" align="center">

                            <paper-icon-button data-attr="buttonEngage"
                                    class$="{{_engageIconClass(journalist)}}"
                                    on-tap="_onRequestEngageTap"
                                    src$="{{_engageIconSource(journalist)}}"></paper-icon-button>

                            <div class="col-xs-12" style="margin-top: -9px">
                                <span class="engagement-icon-label">{{engageIconLabel}}</span>
                            </div>

                            <br/>
                            <br/>
                            <!-- <paper-icon-button
                                    on-tap="_refer"
                                    src="/images/icons/refer.svg"></paper-icon-button>
                            <br/>
                            <br/> -->
                            <in-follow-button big-size user="{{journalist}}"></in-follow-button>

                        </div>
                    </template>


                    <template is="dom-if" if="{{isMyProfile}}">
                        <div class="row">
                            <div class="col-xs-10 edit-icons-container hide-mobile" align="center">

                                <paper-fab icon="in-icon-set:create"
                                           title="Edit"
                                           class="fab-edit-profile web"
                                           elevation="3"
                                           on-tap="_edit"></paper-fab>

                                    <!-- <div hidden$="{{isEditionActive}}" style="position: relative">
                                        <paper-icon-button
                                                class="edit"
                                                on-tap="_edit"
                                                icon="in-icon-set:create">
                                        </paper-icon-button>
                                        <span class="right-button-label">Edit profile</span>
                                    </div>

                                    <div hidden$="{{!isEditionActive}}" style="position: relative">
                                        <paper-icon-button
                                                class="edit"
                                                on-tap="_closeEdit"
                                                icon="in-icon-set:save">
                                        </paper-icon-button>
                                        <span class="right-button-label">Save & exit</span>
                                    </div> -->

                            </div>
                        </div>
                    </template>

                </div>

                <div class="row center-xs">

                    <div class="col-xs-12 name-user-container">

                        <span>
                            {{journalist.name}}
                        </span>

                    </div>

                </div>

                <div class="row center-xs" style="height:60px !important">

                    <div class="col-xs-12 current-position-container"
                         on-mouseout="_hiddePencil"
                         on-mouseover="_showPencil">

                        <iron-pages id="current_positionPage" selected="1">

                            <section>

                                <div class="row center-xs" style="margin-top:-20px;">
                                    <div class="col-xs-7 container-relative">

                                        <paper-input on-blur="_hiddeInput"
                                                     id="current_position"
                                                     placeholder="Your current position"
                                                     maxlength="45"
                                                     char-counter
                                                     value="{{journalist.position}}">
                                        </paper-input>

                                        <paper-icon-button class="doneButton"
                                                           icon="in-icon-set:save" ></paper-icon-button>

                                    </div>
                                </div>
                            </section>

                            <section on-tap="_showInput">
                                <span class="main-fields-container">
                                    {{journalist.position}}
                                    <template is="dom-if" if="{{ _isEmptyValue(journalist.position) }}">
                                        What's your current position ?
                                    </template>
                                </span>
                                <iron-icon
                                        class="edit-icon"
                                        icon="in-icon-set:create"></iron-icon>
                            </section>

                        </iron-pages>

                    </div>

                </div>

                <div class="row center-xs" style="height:50px">

                    <div class="col-xs-12 location-container"
                         on-mouseout="_hiddePencil"
                         on-mouseover="_showPencil">

                        <iron-pages id="locationPage" selected="1">

                            <section>
                                <div class="row center-xs" style="margin-top:-20px;">
                                    <div class="col-xs-7 container-relative">

                                        <in-input-location value="{{journalist.location}}" id="location" style="text-align:center !important;">
                                        </in-input-location>

                                        <!-- <paper-icon-button class="doneButton"
                                                           icon="in-icon-set:save"></paper-icon-button> -->
                                    </div>
                                </div>
                            </section>

                            <section on-tap="_showInput">
                                <span class="main-fields-container">
                                    {{journalist.location}}

                                    <template is="dom-if" if="{{ _isEmptyValue(journalist.location) }}">
                                        What's your location ?
                                    </template>
                                </span>

                                <iron-icon class="edit-icon" icon="in-icon-set:create"></iron-icon>

                            </section>

                        </iron-pages>


                    </div>

                </div>

                <div class="row center-xs" style="background-color: white; padding-bottom:30px;">
                    <div class="col-xs-12 user-bio-container"
                         on-mouseout="_hiddePencil"
                         on-mouseover="_showPencil">

                        <iron-pages id="bioPage" selected="1">

                            <section>
                                <div class="row center-xs" style="margin-top:-19px !important;">
                                    <div class="col-xs-7">
                                        <div class="row center-xs">
                                            <div class="col-xs-12 container-relative">
                                                <paper-textarea id="bio"
                                                                style="text-align:center !important;"
                                                                value="{{journalist.bio}}"
                                                                maxlength="256"
                                                                char-counter
                                                                on-blur="_hiddeInput"
                                                                on-tap="_stopEvent"
                                                                max-rows="4"></paper-textarea>

                                                <paper-icon-button class="doneButton"
                                                                   icon="in-icon-set:save">
                                                </paper-icon-button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>


                            <section on-tap="_showInput">
                                <div class="row center-xs">
                                    <div class="col-xs-7">
                                        <span class="main-fields-container">
                                            {{journalist.bio}}
                                            <template is="dom-if" if="{{ _isEmptyValue(journalist.bio) }}">
                                                Your 30-sec bio ?
                                            </template>
                                        </span>
                                        <iron-icon
                                                class="edit-icon"
                                                icon="in-icon-set:create"></iron-icon>

                                    </div>
                                </div>
                            </section>

                        </iron-pages>
                    </div>
                </div>



                <div class="row center-xs ranking-engaged-row" style="display:none">

                    <div class="col-xs-6 col-md-3 col-lg-2 ranking-container">

                        <div class="row">

                            <div class="col-xs-12">

                                <img id="rankingIcon" class="ranking-icon" src="/images/icons/ranking.svg">

                                <paper-tooltip
                                        for="rankingIcon"
                                        offset="0"
                                        position="left">
                                    {{journalist.name}}'s current ranking. Improve your ranking by completing task in thedashboard
                                </paper-tooltip>

                            </div>

                            <div class="col-xs-12">
                                <span class="ranking">{{journalist.ranking}}</span>/{{journalist.totalJournalist}}
                            </div>

                            <div class="col-xs-12">
                                Ranking
                            </div>

                        </div>

                    </div>

                    <div class="col-xs-6 col-md-3 col-lg-2 col-xs-offset-1 enganged-container">

                        <div class="row">

                            <div class="col-xs-12">
                                <img id="engagedIcon" class="engaged-icon" src="/images/icons/connect-o.svg">
                                <paper-tooltip
                                        for="engagedIcon"
                                        offset="0"
                                        position="right">
                                    The number of Journalist "{{journalist.name}}"
                                    has engaged. More engagements increases ranking
                                </paper-tooltip>
                            </div>

                            <div class="col-xs-12">
                                {{journalist.countEngagements}}
                            </div>

                            <div class="col-xs-12">
                                Engaged
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row center-xs" style="background-color: white; margin-top:10px">
                    <div class="col-xs-12 col-md-10 tab-container">

                        <paper-tabs id="profileTabs"
                                    hide-scroll-buttons
                                    scrollable
                                    fit-container
                                    attr-for-selected="tab-name"
                                    selected="{{route_profile}}">

                            <paper-tab class="paper-tab-width" tab-name="experience">Experience</paper-tab>
                            <paper-tab class="paper-tab-width" tab-name="community">Community</paper-tab>
                            <!--<paper-tab>Achievements</paper-tab>-->
                            <paper-tab class="paper-tab-width" tab-name="connections">Connections</paper-tab>
                            <!--<paper-tab class="paper-tab-width" tab-name="social">Social</paper-tab>-->

                        </paper-tabs>

                    </div>
                </div>


                <div class="row center-xs" id="tabsProfileContainer" style="background-color: white">

                    <div class="col-xs-10 col-md-9 tab-content-container">

                        <!-- <neon-animated-pages -->
                        <iron-pages
                            attr-for-selected="page-name"
                            entrey-animation="fade-in-animation"
                            exit-animation="fade-out-animation"
                            selected="{{route_profile}}">

                            <neon-animatable page-name="experience">

                                <tab-experience
                                        id="tabExperience"
                                        change-edit-icon="{{changeEditIcon}}"
                                        tab-selected="[[tabSelected]]"
                                        beats-top="[[beatsTop]]"
                                        beats-collapse="[[beatsCollapse]]"
                                        skills-top="[[skillsTop]]"
                                        skills-collapse="[[skillsCollapse]]"
                                        focus-top="[[focusTop]]"
                                        focus-collapse="[[focusCollapse]]"
                                        languages="[[languages]]"
                                        publications="[[publications]]"></tab-experience>

                            </neon-animatable>

                            <neon-animatable page-name="community">

                                <tab-community params="[[params]]"
                                               route="{{route}}"
                                               change-edit-icon="[[changeEditIcon]]"
                                               session-profile="[[sessionProfile]]"
                                               tab-selected="[[tabSelected]]"
                                               array-requests="{{journalist.requests}}"
                                               array-offers="{{journalist.offers}}"></tab-community>

                            </neon-animatable>

                            <neon-animatable page-name="connections">

                                <tab-connections route="{{route}}"
                                                 route_profile="{{route_profile}}"
                                                 is-my-profile="{{this.isMyProfile}}"
                                                 target-user="{{journalist.user_id}}"></tab-connections>

                            </neon-animatable>

                            <!--
                            <neon-animatable page-name="social">

                                <tab-social tab-selected="[[tabSelected]]"
                                            change-edit-icon="[[changeEditIcon]]"
                                            facebook-url="{{facebookUrl}}"
                                            twitter-account="{{twitterAccount}}"></tab-social>

                            </neon-animatable>
                            -->

                        </iron-pages>
                        <!-- </neon-animated-pages> -->
                    </div>
                </div>
            </div>
        </div>


        <div hidden$="[[!cropperEnabled]]" class="row center-xs">
            <div id="imgCropperContainer" class="col-xs-10 col-md-6 img-cropper-container">

                <in-img-crop id="userPicCropper"
                             view-port-type="circle"
                             external-closing
                             event-name="user-pic-cropped"></in-img-crop>
            </div>
        </div>

</iron-pages>


        <in-mobile-message id="dialogMessage"
                           hide-ok-button
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <iron-pages selected="0">
                <div>
                    <div class="row  center-xs">
                        <div class="col-xs">
                            <img src$="{{_getProfilePicture(journalist.picture)}}"> <span class="title">[[journalist.name]]</span>
                        </div>
                    </div>
                    <br/>

                    <in-send-text id="messageSender" max-rows="10"></in-send-text>

                </div>
            </iron-pages>
        </in-mobile-message>

        <in-mobile-message id="dialogEngage"
                           hide-ok-button
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>

            <iron-pages selected="{{_engagePages}}">

                <div page="engage-message">
                    <div class="row center-xs">
                        <div class="col-xs">
                            <span class="title">Explain [[itemInDialog.name]] the reasons for engagement.</span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12">

                            <in-send-text id="messageSenderEngage">
                            </in-send-text>

                        </div>
                    </div>
                </div>

                <div page="engage-sent" style="margin-bottom:40px;">
                    <div class="row center-xs">
                        <div class="col-xs">
                            <span class="title">Awesome! You've engaged [[itemInDialog.name]].</span>
                            <br/>
                            <br/>
                            <span class="title">The message is sent - sit back and you'll hear back soon.</span>
                        </div>
                    </div>
                </div>
            </iron-pages>
        </in-mobile-message>

        <in-mobile-message id="dialogRefer"
                           hide-cancel-button
                           no-cancel-on-outside-click
                           with-backdrop>
            <iron-pages id="pinPages" selected="{{_referPages}}">
                <div>
                    <div class="row  center-xs">
                        <div class="col-xs">
                            <span class="title">Who would you like to refer [[journalist.name]] to?</span>
                        </div>
                    </div>

                    <div id="autocompleteContainer" class="col-xs">
                        <in-combo-box id="journalistAutocomplete"
                                      dinamic-data
                                      allow-custom-value
                                      item-label-path="{{label}}"
                                      item-value-path="{{value}}"
                                      placeholder="Journalist"
                                      items="{{journalistSuggestions}}"></in-combo-box>
                    </div>
                </div>

                <!-- <div>
                    <div class="center-xs">
                        <span class="title">You are refering [[journalist.name]] to</span>
                        <br/><br/>
                        <img src$="{{_getProfilePicture(referSelected.pic)}}">
                        <span class="subtitle">[[referSelected.name_country]]</span>
                        <br/>
                        <br/>
                        <span class="subtitlecolor">Send an introductory message</span>
                    </div>

                    <br/>

                    <in-send-text id="inSendTextRefer"
                                  action="_actionRefer"
                                  label="Hey [[referSelected.name]],"
                                  placeholder="Message">
                    </in-send-text>
                </div> -->

                <div>
                    <div class="row  center-xs">
                        <div class="col-xs">
                            <span class="title">Awesome! You've referred [[journalist.name]] to [[referSelected.name]]</span>
                            <br/>
                            <br/>
                            <span class="title">The introduction message is sent.</span>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>

            </iron-pages>
            <br/>
        </in-mobile-message>

        <template is="dom-if" if="{{isMyProfile}}">

            <paper-fab icon="in-icon-set:create"
                       title="Edit"
                       class="floating-fab fab-edit-profile mobile"
                       elevation="3"
                       on-tap="_edit"></paper-fab>

            <!-- <paper-fab title="Go to dashboard"
                       icon="in-icon-set:in-dashboard"
                       class="floating-fab hide-mobile fab-dashboard"
                       elevation="3"
                       on-tap="_onFabDashboardTap"></paper-fab> -->

        </template>


        <!-- <iron-ajax id="ajaxJournalist"
                   with-credentials
                   on-response="_journalistCallback"
                   last-response="{{journalistResponse}}"></iron-ajax> -->


        <iron-ajax id="ajaxUserProfile"
                   with-credentials
                   handle-as="json"
                   on-response="_userProfileCallback"></iron-ajax>

        <iron-ajax id="ajaxUserExperience"
                   with-credentials
                   handle-as="json"
                   on-response="_userExperienceCallback"></iron-ajax>

        <iron-ajax id="ajaxUserPublications"
                   with-credentials
                   handle-as="json"
                   last-response="{{publications}}"
                   on-response="_userPublicationsCallback"></iron-ajax>

        <iron-ajax id="ajaxUserUpdate"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-response="_userUpdateCallback"></iron-ajax>

        <iron-ajax id="ajaxUserPic"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-response="_userPicCallback"></iron-ajax>

        <iron-ajax id="ajaxSetPic"
                   method="POST"
                   with-credentials
                   handle-as="json"></iron-ajax>

        <iron-ajax id="ajaxCover"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   last-response="{{ajaxCoverResponse}}"
                   on-response="_ajaxCoverCallback"></iron-ajax>



    </template>
</dom-module>


<script type="text/javascript">

    (function () {
        'use strict';


    // HTMLImports.whenReady(function () {

        Polymer({
            is: 'profile-main',
            behaviors: [ajaxBehavior],

            properties: {
                route:{
//                    observer:'_onRouteChange'
                },
                params: {
                    observer:'_onParamsChanged',
                    type: Object,
                    value: {}
                },
                cropperEnabled: {
                    value: 0
                },
                pageSelected: {
                    value: 0
                },
                tabSelected: {
                    value: 0
                },
                dataInput:{
                    value:"",
                },
                journalist:{
                    notify: true,
                    observer: "_journalistChanged"
                },
                sessionProfile:{
                    value: 1
                },
                tabsProfileStyle: {
                    type: String,
                    notify: true
                },
                changeEditIcon: {
                    value: 0
                },
                emptyLocation: {
                    type: Boolean,
                    value: true
                },
                userPropertyUpdated: String,
                isMyProfile: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                loadImageClicked:{
                    type: Boolean,
                    value: false,
                    notify: true
                },
                beatsTop:{
                    type: Array,
                    value: []
                },
                beatsCollapse:{
                    type: Array,
                    value: []
                },
                skillsTop:{
                    type: Array,
                    value: []
                },
                skillsCollapse:{
                    type: Array,
                    value: []
                },
                focusTop:{
                    type: Array,
                    value: []
                },
                focusCollapse:{
                    type: Array,
                    value: []
                },

                languages:{
                    type: Array,
                    value: []
                },

                isCroppingCover:{
                    type: Boolean,
                    value: false
                },
                isEditionActive: {
                    type: Boolean,
                    value: false
                }

            },

            listeners:{
                'user-pic-cropped':'_saveUserPic',
                'cover-cropped': '_saveCover',
                'userPicCropper.exit-image-cropper':'_closeEditUserPic',
                'coverCropper.exit-image-cropper':'_closeEditCover',
            },
            ready: function(){

                this.addEventListener('iron-overlay-opened', function(e){
                    var dialog = e.target;
                    dialog.center();
                });

                this.addEventListener('crop-done', function(e){
                    this.loadImageClicked = false;
                    this.pageSelected = 0;
                }.bind(this));


                this.$.journalistAutocomplete.addEventListener("vaadin-change-filter", this._serchJournalist.bind(this));

                this.$.journalistAutocomplete.addEventListener('selected-item-changed', this._referJournalistSelected.bind(this));

                this.$.journalistAutocomplete.addEventListener("selected", function (e) {

                    this.referSelected = {
                        value: e.detail.value,
                        name: e.detail.name,
                        name_country: e.detail.label,
                        pic: e.detail.pic,
                        location: e.detail.location
                    };

                }.bind(this));


            },

            attached: function () {

                this._referPages = "0";
                this._engagePages = "0";

                this.$.location.addEventListener('place-changed', function(e){
                    this._onTapSaveLocation();
                }.bind(this));

                this.$.location.addEventListener('on-blur', function(e){
                    this._onTapSaveLocation();
                }.bind(this));


                this.$.profileTabs.addEventListener('iron-select', function(e){
                    var currentPage = e.target.selected; //0, 1, 2, 3, 4
                    this._updateContentHeight(currentPage);
                }.bind(this));

                this.addEventListener('experienceLoaded', function(e){
                    this._updateContentHeight(0);
                }.bind(this));


                this.addEventListener('engage-sent', function(e){

                    this._engagePages = "1";
                    this.journalist.engagement = {timestamp_requested: Date.now()};
                    this._engageIconToWaiting();

                    this.$.dialogEngage.hideOkButton = true;
                    this.$.dialogEngage.hideCancelButton = true;

                }.bind(this));

                this.addEventListener('message-sent', function(e){
                    this.$.dialogMessage.close();
                }.bind(this));

                // this.$.journalistAutocomplete.addEventListener("valueChanged",function(e){
                //     if(e.detail.value.length >= 2){
                //         this.$.ajaxJournalist.url=app.apiphp+"/main/connect/method/autocomplete.json/query/"+e.detail.value;
                //         this.$.ajaxJournalist.generateRequest();
                //     }
                // }.bind(this));

                this.$.journalistAutocomplete.addEventListener("selected",function(e){
                    this.referSelected = {value: e.detail.value,name: e.detail.name,name_country: e.detail.label, pic: e.detail.pic};
                }.bind(this));

                this._onParamsChanged();
            },

            _engageIconToWaiting: function(){
                this.targetEngage.src = "/images/icons/engage_waiting.png";
                this.targetEngage.className += ' engagement-waiting';
            },

            _serchJournalist: function (e) {
                // this.valueSerch = e.detail;
                // this.$.ajaxJournalist.url = app.apiphp+"/main/connect/method/autocomplete.json/query/" + this.valueSerch;
                // this.$.ajaxJournalist.generateRequest();
            },

            _referJournalistSelected: function (e) {
                /*previene errores al reiniciarse el elemento*/
                if(!e.detail.value){
                    return
                };
                this.referSelected = {
                    value: e.detail.value.value,
                    name: e.detail.value.name,
                    name_country: e.detail.value.label,
                    pic: e.detail.value.pic,
                    location: e.detail.value.location
                };

                this.$.dialogRefer.disableAction = false;
            },

            // _journalistCallback: function () {
            //     var suggestions =  this.journalistResponse.data.suggestions;
            //     this.$.journalistAutocomplete.enableSearchingMessage = false;
            //
            //     if(!this.valueSerch){
            //         this.journalistSuggestions = null;
            //         return;
            //     }
            //
            //     if(suggestions.length == 0){
            //         this.$.journalistAutocomplete.setTagsNoResultMessage();
            //         return;
            //     }
            //
            //     this.journalistSuggestions = suggestions;
            // },

            _journalistChanged: function(){

                var currentUserID = app.session.getUser();
                if(this.journalist && currentUserID == this.journalist.user_id){
                    this.set('isMyProfile', true);
                }else{
                    this.set('isMyProfile', false);
                    // prevent having the edition mode opened in other profile.
                    this._closeEdit();
                }

                // Update profile picture
                if (this.journalist && !this.journalist.picture) {
                    this.set('journalist.picture', 'none');
                }

                // Update cover picture
                this.coverURL = this._getCoverURL();
                this.$.imageCover.style.backgroundImage = 'url("' + this.coverURL + '")';
            },

            _isEmptyValue: function(value){

                if(value instanceof Array) value = value[0];
                if(!value) return true;

                if(value.trim() == '')
                    return true;

                return false;
            },

            _onCommunityTap: function(){
                page("/profile.community/" + this.params.user);
            },

            _getProfilePicture: function(pictureName){
                return app.profilePictureThumbnail(pictureName);
            },

            _updateContentHeight: function(currentPage){

                var currentHeight = 0;
                switch(currentPage){
                    case 0:
                        currentHeight = document.querySelector('tab-experience').offsetHeight;
                        break;
                    case 1:
                        currentHeight = document.querySelector('tab-community').offsetHeight;
                        break;
                    case 2:
                        currentHeight = document.querySelector('tab-community').offsetHeight;
                        break;
                    case 3:
                        currentHeight = document.querySelector('tab-connections').offsetHeight;
                        break;
                    case 4:
                        currentHeight = document.querySelector('tab-social').offsetHeight;
                        break;
                }

                var currentTabHeight = parseInt(document.querySelector('#tabsProfileContainer').offsetHeight);

                if(parseInt(currentHeight) > currentTabHeight){
                    var obj = document.getElementById('tabsProfileContainer');
                    obj.style.height = (currentHeight + 100) + "px";

                    var profileHeight = parseInt(document.querySelector('#profile').offsetHeight);
                    var sectionProfile = document.querySelector('#sectionProfile');
                    sectionProfile.style.height = (profileHeight) + "px";
                }

            },


            // _routeProfileChanged: function(){
            //
            //     if(this.route !== 'profile'){
            //         return;
            //     }
            //
            //     // if(this.route_profile === 'community'){
            //     //     this._ajaxCommunityFire();
            //     // }
            // },

            _onRouteChange: function () {
                if(this.route !='profile'){
                    this._closeEdit();
                }
            },

            _onParamsChanged: function () {
                /* Exit if we are not in the profile page */
                 if(this.route !== 'profile' || !this.params){
                     return;
                 }

                var userProfile = parseInt(this.params.user);

                if(userProfile > 0 && userProfile != app.session.getUser() ){

                    /* Somebody else profile */
                    this.set('sessionProfile', 0);

                }else{

                    this.set('sessionProfile', 1);
                }

                this.callForParams = true;
                this._ajaxFire()
            },

            _ajaxFire: function () {

                dialogSpinner.open();

                this.$.ajaxUserProfile.url = app.apinode + "/connections/profile/"+ this.params.user;
                this.$.ajaxUserProfile.generateRequest();

                var user_id = this.params.user;
                if (user_id == 0) {
                    user_id = app.session.getUser();
                }

                this.$.ajaxUserPublications.url = app.apinode + "/publications/" + user_id;
                this.$.ajaxUserPublications.generateRequest();

                this.$.ajaxUserExperience.url = app.apinode + "/tags/get.current.experience/" + user_id;
                this.$.ajaxUserExperience.generateRequest();
            },

            _ajaxCoverCallback: function(e){

                app.logActivity(app.constants.PROFILE_UPLOAD_COVER);
//                  var imageName = e.detail.response.data.userCover.split('&');
//                imageName = imageName[0];
//
//                this.$.ajaxSetPic.url = app.apinode + '/journalists/save.cover';
//                this.$.ajaxSetPic.body = JSON.stringify({
//                    'cover': imageName
//                });
//                this.$.ajaxSetPic.generateRequest();
            },

            _userProfileCallback: function(e) {

                this.set('journalist', e.detail.response);

                // if (this.journalist && this.journalist.user_facebook) {
                //     this.facebookUrl = 'https://www.facebook.com/' + this.journalist.user_facebook;
                //     this.twitterAccount=this.journalist.user_twitter;
                // }

                if (this.params.edit_pic ) {
                    this.isEditionActive = true;
                    this.changeEditIcon = 1;
                    this.$.userPicEditIcon.click();
                }
                if (this.params.edit_skills ) {
                    this.isEditionActive = true;
                    this.changeEditIcon = 1;
                }
                if (this.params.edit && this.params.edit == 'edit') {
                    this.route_profile = 'community';
                    this.isEditionActive = true;
                    this.changeEditIcon = 1;
                }

                if (this.params.edit_skills && this.params.edit_skills == 'edit_skills') {
                    this.set('route_profile', 'experience');
                    this.set('isEditionActive', true);
                    this.set('changeEditIcon', 1);
                }

                dialogSpinner.close();
            },

            _scrollDown: function(){
                if (document.querySelector('#mainScroll').scrollTop >= 510) {
                    return;
                }
                document.querySelector('#mainScroll').scrollTop += 1;
                setTimeout(function () {
                    this._scrollDown();
                }.bind(this), 1);

            },

            _userExperienceCallback: function(e) {

                this.beatsTop = e.detail.response.beats_top;
                this.beatsCollapse = e.detail.response.beats_collapse;

                this.skillsTop = e.detail.response.skills_top;
                this.skillsCollapse = e.detail.response.skills_collapse;

                this.focusTop = e.detail.response.focus_top;
                this.focusCollapse = e.detail.response.focus_collapse;

                var languages = e.detail.response.languages;
                if(languages){
                    for(var i = 0; i < languages.length; i++){
                        languages[i].expertise = parseInt(languages[i].expertise) / 100;
                    }
                }

                this.languages = languages;

                /* Time to render results, then adjust the profile height */
                setTimeout(function () {
                    this.fire('experienceLoaded');
                }.bind(this), 500);
            },

            _userPublicationsCallback: function () {

                this._updateContentHeight(1);
            },

            _engageIconClass: function(item){

                if(item.engagement && !item.engagement.timestamp_accepted) {
                    return "engagement-waiting";
                }else{
                    return "";
                }
            },

            _engageIconSource: function(item){

                if(!item) return;

                if(item.engagement && item.engagement.timestamp_accepted) {
                    this.engageIconLabel = 'Message'
                    return "/images/icons/message.svg";
                }else if(item.engagement){
                    this.engageIconLabel = 'Waiting'
                    return "/images/icons/engage_waiting.png";
                }else{
                    this.engageIconLabel = 'Engage'
                    return "/images/icons/engage.svg";
                }
            },

            _refer: function(e){
                this._stopEvent(e);
                this._referPages = "0";
                this.targetDlg = e.currentTarget;

                this.$.dialogRefer.sendButtonAction = this._nextRefer;
                this.$.dialogRefer.closeButtonAction = this._cancelRefer;

                this.$.dialogRefer.context = this;
                this.$.dialogRefer.okLabel = 'Next';
                this.$.dialogRefer.cancelLabel = 'Cancel';
                this.$.dialogRefer.spinner = false;
                this.$.dialogRefer.disableAction = true;

                this.$.dialogRefer.open();
            },

            _stopEvent: function(e){
                e.stopPropagation();
                e.preventDefault();
                if (e.gesture) e.gesture.stopPropagation();
                if (e.gesture) e.gesture.preventDefault();
            },

            _cancelEngage: function (context) {
                setTimeout(function () {
                    context._engagePages = "0";
                }.bind(this), 300);
            },

            _onRequestEngageTap: function (e) {

                this.targetEngage = e.currentTarget;
                this._stopEvent(e);

                if (this.journalist.engagement && !this.journalist.engagement.timestamp_accepted) {
                    // it's pending
                    return;
                }

                // Clean the object user data
                var userToSend = this._cleanItem(this.journalist);

                if (!this.journalist.engagement) {

                    this.$.messageSenderEngage.setEngageBehavior(userToSend);

                    this.$.dialogEngage.sendButtonAction = this._sendRequestEngage;
                    this.$.dialogEngage.closeButtonAction = this._cancelEngage;
                    this.$.dialogEngage.context = this;
                    this.$.dialogEngage.open();

                } else {

                    this.$.messageSender.setMessageBehavior(userToSend, true);

                    this.$.dialogMessage.sendButtonAction = this._sendMessageTap;
                    this.$.dialogMessage.hideOkButton = false;
                    this.$.dialogMessage.disableAction = false;
                    this.$.dialogMessage.context = this;
                    this.$.dialogMessage.open();

                }
            },

            _sendRequestEngage: function (context) {
                context.$.messageSenderEngage.send();
            },

            /*
             * If the items has array attributes, convert to its value.
             */
            _cleanItem(item){

                if(item.user_id instanceof Array) item.user_id = item.user_id[0];
                if(item.name instanceof Array) item.name = item.name[0];
                if(item.location instanceof Array) item.location = item.location[0];
                if(item.picture instanceof Array) item.picture = item.picture[0];
                if(item.position instanceof Array) item.position = item.position[0];

                item.location = item.location || '';
                item.picture = item.picture || '';
                item.position = item.position || '';

                return item;
            },

            _sendMessageTap: function (context) {
                context.$.messageSender.send();
            },

            _createMessage: function(text){

                var sender_id = session.getUser();
                var sender_name = session.getName();
                var sender_pic = session.getPicture();
                var sender_location = ' ';

                if(session.getLocation()){
                    sender_location = session.getLocation();
                }

                var recipient_id = parseInt(this.journalist.user_id);
                var recipient_name = this.journalist.name[0];
                var recipient_pic = this.journalist.picture ? this.journalist.picture[0]:'';
                var recipient_location = this.journalist.location ? this.journalist.location[0]:'';

                var message = {
                    thread_id: null,
                    users: [sender_id ,recipient_id],
                    names: [sender_name, recipient_name],
                    pics: [sender_pic, recipient_pic],
                    locations: [sender_location, recipient_location],
                    sender_id: sender_id,
                    sender_name: sender_name,
                    message: text,
                    subject: ""
                };

                message.date_frontend = (new Date()).getTime();
                // app.socket.emit('new-message', message);

                return message;
            },

            // _actionEngage: function (text) {
            //
            //     //TODO: hacer esto en un listener cuando el server haga el engage request - callback
            //
            //     this.$.dialogEngage.hideOkButton = true;
            //     this.$.dialogEngage.hideCancelButton = true;
            //
            //     this._engagePages = 1;
            //     this.journalist.engagement = { timestamp_requested: Date.now() };
            //
            //     var message = "Hey "+this.journalist.name+", "+text;
            //
            //
            //     var data = this._createMessage(message);
            //     data.type = app.threadTypes.P2P;
            //     app.socket.emit('connection-requested', data);
            //
            //
            //     // Actualizar icono engage de la lista de connect
            //     const itemList = document.querySelectorAll('connect-journalist-item');
            //     for (var i = 0; i < itemList.length; i++) {
            //         itemList[i]
            //
            //         var user_id = itemList[i].__data__.item.user_id.constructor == Array ? itemList[i].__data__.item.user_id[0] : itemList[i].__data__.item.user_id;
            //         if(user_id == this.journalist.user_id){
            //             itemList[i].engageRequested();
            //             break;
            //         }
            //     }
            //
            //     // Change Icon style
            //     var buttonEngage = this.querySelector('paper-icon-button[data-attr="buttonEngage"]');
            //     buttonEngage.src = '/images/icons/engage_waiting.png';
            //     buttonEngage.className += ' engagement-waiting';
            //     this.querySelector('.engagement-icon-label').innerHTML = 'Waiting';
            //
            //
            //     //Log Activity
            //     var userData = {};
            //     userData.users_id = this.journalist.user_id;
            //     userData.users_name = this.journalist.name;
            //     userData.users_pic = this.journalist.picture ? this.journalist.picture : '';
            //     app.logActivity(app.constants.USER_ENGAGE_REQUEST, this.journalist.user_id, message, userData);
            //
            //     return {successful: true, data: data};
            // },

            _cancelRefer:function(context){
                context || ( context = this );
                var dialog = context.$.dialogRefer;
                dialog.close();
                setTimeout(function () {
                    context._clearJournalistAutoComplete();
                    context._referPages = "0";
                }.bind(context), 200);
            },

            _clearJournalistAutoComplete: function () {

                /*Pone a limpia el value del in-combox*/
                this.$.journalistAutocomplete.value = null;
                /*Elimina cualquier tag introducido por el usuario*/
                this.$.journalistAutocomplete.cancel();
                this.set('journalistSuggestions', []);

            },

            /*Region Edit*/

            _edit: function () {

                var buttonEdit = this.querySelector('.fab-edit-profile');
                if (!buttonEdit) {
                    return;
                }
                buttonEdit.icon = "in-icon-set:done";
                buttonEdit.title = "Close";

                this.unlisten(buttonEdit, 'tap', '_edit');
                this.listen(buttonEdit, 'tap', '_closeEdit');

                this.changeEditIcon = 1;
                this.isEditionActive = true;
                var editIcons = document.querySelectorAll('.edit-icon');
                for(var i=0; i < editIcons.length; i++){
                    if(i === 0 || i ===1){
                        editIcons[i].style.opacity = 0.9;
                        continue;
                    }
                    editIcons[i].style.opacity = 0.6;
                }
            },

            _closeEdit: function () {

                var buttonEdit = document.querySelector('.fab-edit-profile');
                if (!buttonEdit) {
                    return;
                }
                buttonEdit.icon = "in-icon-set:edit";
                buttonEdit.title = "Edit";

                if(!buttonEdit){
                    return;
                }

                buttonEdit.icon = "in-icon-set:create";
                this.unlisten(buttonEdit, 'tap', '_closeEdit');
                this.listen(buttonEdit, 'tap', '_edit');

                this.changeEditIcon = 0;
                this.isEditionActive = false;
                var editIcons = document.querySelectorAll('.edit-icon');
                for(var i=0; i < editIcons.length; i++){
                    editIcons[i].style.opacity = 0;
                }
            },

            _showPencil: function (e) {
                // if(this.changeEditIcon === 0) return;
                // e.currentTarget.querySelector('.edit-icon').style.opacity = 1;
            },

            _hiddePencil: function (e) {
                // if(this.changeEditIcon === 0) return;
                // e.currentTarget.querySelector('.edit-icon').style.opacity = 0;
            },

            _showInput: function (e) {
                if(this.changeEditIcon === 0) return;
                //e.currentTarget.querySelector('iron-pages').selected = 0;
                e.currentTarget.parentNode.selected = 0;
                if(e.currentTarget.parentNode.querySelector('paper-input')){
                    var input = e.currentTarget.parentNode.querySelector('paper-input');
                    input.$.input.focus();
                }else if(e.currentTarget.parentNode.querySelector('iron-autogrow-textarea')){
                    var input = e.currentTarget.parentNode.querySelector('iron-autogrow-textarea');
                    input.$.textarea.focus();
                }
            },

            _onTapSaveLocation: function(){

                this.$.locationPage.selected = 1;
                this.userPropertyUpdated = 'location';

                var objLocation = this.$.location.getObjLocation();
                var address = this.$.location.getAddress();

                if(!objLocation || !objLocation.country_short || !address){
                    return;
                }
                this.set('journalist.location', address );

                var params = {location: objLocation, address:address};
                this.$.ajaxUserUpdate.url = app.apinode + '/journalists/save.location';
                this.$.ajaxUserUpdate.body = JSON.stringify(params);
                this.$.ajaxUserUpdate.generateRequest();

                app.session.setCountry(objLocation.country_short);
            },

            _hiddeInput: function (e) {

                this._stopEvent(e);

                var id = e.target.id.replace("Input",'');
                this.querySelector('#'+ id +'Page').selected = 1;

                /*Valido los imputs*/
                if(!e.target.validate()){
                    return;
                }

                var newValue = e.currentTarget.value

                // Edited value is an array from graph database
                if(newValue instanceof Array){
                    newValue = newValue[0];
                }

                switch(id) {
                    case 'quote':
                        this.set('journalist.quote', e.currentTarget.value);
                        this.userPropertyUpdated = 'quote';

                        var params = {quote:newValue};
                        this.$.ajaxUserUpdate.url = app.apinode + '/journalists/save.quote';

                        break;

                    case 'bio':
                        this.set('journalist.bio', e.currentTarget.value);
                        this.userPropertyUpdated = 'bio';

                        var params = {bio:newValue};
                        this.$.ajaxUserUpdate.url = app.apinode + '/journalists/save.bio';
                        break;

                    case 'current_position':

                        // No se puede guardar un tag ''
                        if(!newValue) return;

                        this.set('journalist.position', e.currentTarget.value);
                        this.userPropertyUpdated = 'current_position';

                        var params = {position:newValue};
                        this.$.ajaxUserUpdate.url = app.apinode + '/tags/save.position';
                        break;

                    default:
                        this.querySelector('#'+ id +'Page').selected = 1;
                }

                this.$.ajaxUserUpdate.body = JSON.stringify(params);
                this.$.ajaxUserUpdate.generateRequest();
            },

            _userUpdateCallback: function (e) {

                // if(e.detail.response.status !== 200){
                //     return;
                // }

                switch(this.userPropertyUpdated){
                    case 'quote':
                        app.logActivity(app.constants.PROFILE_COMPLETE_QUOTE);
                        break;

                    case 'bio':
                        app.logActivity(app.constants.PROFILE_COMPLETE_BIO);
                        break;

                    case 'location':
                        app.logActivity(app.constants.PROFILE_COMPLETE_LOCATION);
                        app.session.setLocation(this.$.location.getAddress());
                        break;

                    case 'current_position':
                        app.logActivity(app.constants.PROFILE_COMPLETE_POSITION);
                        break;

                    case 'twitter':
                        app.logActivity(app.constants.PROFILE_UPDATE_TWITTER);
                        break;

                    case 'facebook':
                        app.logActivity(app.constants.PROFILE_UPDATE_FACEBOOK);
                        break;

                }
            },
            /*end Region*/

            _onCoverEditTap: function () {

                this.$.coverCropper.cropperHeight = '200px';
                this.$.coverCropper.viewPortHeight = 200;
                this.$.coverCropper.viewPortWidth = this.$.imageCover.offsetWidth;
                this.$.coverCropper.imageDefaultHeight = '200px';
                this.$.coverCropper.imageDefaultWidth = "100%";
                this.$.coverCropper.defaultImageSrc = this.coverURL;
                this.$.coverCropper._initElement();
                this.isCroppingCover = true;

                this._hideFabEdition();
            },

            _closeEditCover: function () {
                this.isCroppingCover = false;

                this._showFabEdition();
                this._closeEdit();
            },

            _editUserPic: function () {

                if(this.changeEditIcon === 0 || !this.isMyProfile) return;

                this.$.userPicCropper.defaultImageSrc= this._getProfilePicture(app.session.getPicture());
                this.$.userPicCropper._initElement();

                this.cropperEnabled = 1;
                this.pageSelected = 1;
                this.$.imgCropperContainer.style.opacity = 1;

                // Ocultar boton edit en mobile
                setTimeout(function () {
                    this._hideFabEdition();
                }.bind(this), 400);
            },

            /*Funcion que guarda la user pic, recibe como parametro la imagen editada por in-croppic*/
            _saveUserPic: function (e) {

                if (!app.checkSession()) {
                    return;
                }

                 var src  = e.detail;
                /*asigno la nueva imagen al user pic del prifile*/
                this.$.userPic.src = src;

                /*busco el user pic del main header y le asigno la nueva imagen*/
                var headerPic = document.querySelector('.main-header-picture');
                headerPic.src = src;

                /*save picture NODE test */
                this.$.ajaxUserPic.url = app.apinode + '/journalists/save.picture';
                var params = { "image": src };
                this.$.ajaxUserPic.body = JSON.stringify(params);
                dialogSpinner.open();
                this.$.ajaxUserPic.generateRequest();
            },

            _saveCover: function (e) {

                if (!app.checkSession()) {
                    return;
                }

                var src  = e.detail;
                this.$.imageCover.style.backgroundImage = "url('" + src + "')";

                /*seccion de llamada ajax*/
                this.$.ajaxCover.url = app.apinode + '/journalists/save.cover';
                var body = {
                    "cover": src
                };
                this.$.ajaxCover.body = JSON.stringify(body);
                this.$.ajaxCover.generateRequest();
                this.$.coverCropper.resetNavigation();
                this.isCroppingCover = false;
                this._showFabEdition();
                this._closeEdit();
            },

            _showFabEdition: function(){
                var fabEdition = this.querySelector('.fab-edit-profile');
                if (fabEdition) {
                    fabEdition.style.display = 'block';
                }
            },

            _hideFabEdition: function(){
                var fabEdition = this.querySelector('.fab-edit-profile');
                if (fabEdition) {
                    fabEdition.style.display = 'none';
                }
            },

            /*Funcion callback de ajaxUserPic*/
            _userPicCallback: function (e) {

                dialogSpinner.close();
                app.logActivity(app.constants.PROFILE_UPLOAD_PIC);
                var userPicture = e.detail.response.fileName;
                app.session.setPicture(userPicture);

                // En caso de edicion desde feed, volver
                if (this.params.edit_pic) {
                    page("/feed");
                }

                this._closeEditUserPic();
            },

            /*funcion que muestra el boton editar en el user Pic*/
            _showPencilPic: function (e) {
                e.preventDefault();
                if(this.changeEditIcon === 0) return;
                //this.$.userPicEditIcon.style.opacity = 1;
                e.target.style.cursor = 'pointer';
            },
            /*funcion que oculta el boton editar en el user pic*/
            _hiddePencilPic: function (e) {
                if(this.changeEditIcon === 0) return;
                //this.$.userPicEditIcon.style.opacity = 0;
                e.target.style.cursor = 'default';
            },

            _showPencilCover: function () {
                // if(this.changeEditIcon === 0) return;
                // this.$.coverEditIcon.style.opacity = 1;
            },
            _hiddePencilCover: function () {
                // if(this.changeEditIcon === 0) return;
                // this.$.coverEditIcon.style.opacity = 0;
            },


            /*Funcion que revisa si exite un user cover. de no existir devuelve una imagen genérica */
            _getCoverURL: function () {
                if (!this.journalist || !this.journalist.cover) {
                    var random =  Math.floor((Math.random() * 27) + 1);
                    return "/images/covers/"+random+".jpg";
                }
                return app.apinode + "/images/get.picture/main/" + this.journalist.cover;
            },
            /*END REGION*/


            /*TODO:Daniel revisar si se utiliza esta funcion*/
            _openInCroppDialog: function () {
                this.pageSelected = 1;
            },

            _closeEditUserPic: function () {
                this.$.imgCropperContainer.style.opacity = '0';
                this.pageSelected = 0;
                if (this.params.edit_pic) {
                    page('/feed');
                }
                this.$.userPicCropper.resetNavigation();
                this._showFabEdition();
                this._closeEdit();
            },

            _onFabDashboardTap: function(){
                page("/dashboard");
                app.logActivity(app.constants.CTA_FAB_DASHBOARD);
            },



});
})();

</script>
