<link rel="import" href="../../../styles/landing-styles.html">
<dom-module id="signup-no-journalist-confirmation">
    <template>
    <style is="custom-styles" include="landing-styles">
    :host {
        display: block;
    }

    .top-text-container {
        margin-bottom: 80px;
    }
    .top-text{
        @apply(--big-text);
    }

    .middle-text-continer{
        margin-bottom: 20px;
    }
    .middle-text{
        @apply(--big-text);
        color: var(--accent-color);
        cursor:pointer
    }
    .botom-text{
        @apply(--big-text);
    }
    .secondary-text-container{
        text-align: center;
        margin-bottom: 60px;
    }

    </style>

    <div class="row">
        <div class="col-xs-12 nav-buttons-container">

            <paper-icon-button
            class="disabled" disabled></paper-icon-button>

            <paper-icon-button
            class="disabled" disabled></paper-icon-button>

            <paper-icon-button
            class="disabled" disabled></paper-icon-button>

        </div>

    </div>


    <div class="row center-xs">

        <div class="col-xs-12 top-text-container">
            <span class="top-text ">Are you sure <br/> you’re not a <br/> journalist?</span>
        </div>

    </div>

    <div class="row center-xs">

        <div class="col-xs-12 middle-text-continer">

            <a on-tap="_notJournalist">
                <span class="middle-text ">Yes, I’m sure I’m not a <br/> journalist.</span>
            </a>

        </div>

    </div>

    <div class="row center-xs">

        <a href="javascript:history.back()">

            <div class="col-xs-12 secondary-text-container">
                <span class="botom-text ">No, I’m a <br/> journalist. Let me <br/> finish signing up.</span>
            </div>

        </a>

    </div>


        <iron-ajax id="ajaxNotJournalist"
                   method="put"
                   handle-as="json"
                   last-response = {{notJournalistResponse}}
                   on-response = "_notJournalistResponseHandler"></iron-ajax>




</template>
<script>
(function() {
    'use strict';

    Polymer({
        is: 'signup-no-journalist-confirmation',

        properties: {
            foo: {
                type: String,
                value: 'confirmation-mail-panel',
                notify: true
            }
        },
        _changeMail: function () {
            var emailInput = this.querySelector('gold-email-input');
            emailInput.value = "";
            emailInput.removeAttribute('disabled');
            console.log(emailInput);
            emailInput.querySelector('#input').focus();
        },
        _resendMail: function () {
            console.log('resend email')
        },

        _notJournalist: function () {

            this.$.ajaxNotJournalist.url = app.apinode + "/users/reader/" + app.session.getUser();
            this.$.ajaxNotJournalist.generateRequest();

        },

        _notJournalistResponseHandler: function () {
            page('/participator');
        }
    });
})();
</script>
</dom-module>
