<link rel="import" href="../../in/in-combo-box/in-combo-box.html">
<link rel="import" href="../../in/in-input-location/in-input-location.html">
<link rel="import" href="/bower_components/iron-list/iron-list.html">


<dom-module id="signup-personal-information">
    <template>
        <style is="custom-styles">
            :host {
                display: block;
            }
            paper-input {
                --paper-input-container-focus-color: var(--accent-color);
                --paper-input-container-color: var(--paper-grey-300);
                text-align: left;
                --paper-input-container-label:{
                    color: var(--secondary-text-color);
                }
            }
            .skip-button{
                @apply(--medium-text);
                text-transform: capitalize;
                height: 24px;
                padding-top: 2px;
                color:var(--paper-blue-grey-200);
            }
            .notJournalist-button{
                @apply(--medium-text);
                text-transform: capitalize;
                font-style: italic;
                margin-top: 40px;
                margin-bottom: 50px;
                height: 24px;
                padding-top: 2px;
            }
            .nav-buttons-container{
                margin-bottom: 20px;
            }
            .guide-text-container{
                margin-bottom: 100px;
            }
            .guide-title{
                @apply(--big-text);
            }
            paper-icon-button{
                width: 18px;
                height: 18px;
                margin-right: 30px;
                margin-left: 30px;
                border-radius: 50%;

            }
            paper-icon-button.disabled{
                background-color: var(--paper-grey-300);
            }

            paper-icon-button.active{
                background-color: var(--accent-color);
            }
            .landing-buttons{
                @apply(--action-button);
                width: 164px !important;
                text-transform: capitalize !important;
                margin-top: 40px;
            }

        </style>


        <div class="row">
            <div class="col-xs-12 nav-buttons-container">

                <paper-icon-button
                        class="disabled" disabled></paper-icon-button>

                <paper-icon-button
                        class="active" disabled></paper-icon-button>

                <paper-icon-button
                        class="disabled" disabled></paper-icon-button>

            </div>

        </div>
        <div class="row center-xs">
            <div class="col-xs-12 guide-text-container">
                <span class="guide-title">Tell us a bit about you</span>
            </div>

        </div>


        <div class="row">

            <div class="col-xs-12">
                <in-input-location id="location"
                                   auto-search
                                   style="text-align:left"
                                   label="Where are you located?"></in-input-location>
            </div>

            <div class="col-xs-12">
                <paper-input id="currentPosition"
                             maxlength="35"
                             pattern="[0-9a-zA-Z ]*"
                             required
                             error-message="This field must contain only number and letters at 35 chars"
                             style="text-align:left"
                             char-counter
                             label="What is your current position?"></paper-input>
            </div>


            <div class="col-xs-12">
                <a on-tap="_saveData">
                    <paper-button class="landing-buttons" raised label="Signup" >
                        Next
                    </paper-button>
                </a>
            </div>

            <!-- <div class="col-xs-12">
                <paper-button class="skip-button" label="Skip" >
                    Skip Now
                </paper-button>
            </div> -->


            <!-- <div class="col-xs-12">
                <a href="/shure">
                    <paper-button class="notJournalist-button" label="Not Journalist" >
                        Not a journalist?
                    </paper-button>
                </a>
            </div> -->

        </div>


       <iron-ajax id="ajaxSaveLocation"
                  method="POST"
                  with-credentials
                  handle-as="json"
                  on-error="_ajaxSaveLocationError"
                  on-response = "_ajaxSaveLocationCallback"></iron-ajax>

        <iron-ajax id="ajaxUserUpdate"
                   method="POST"
                   with-credentials
                   handle-as="json"></iron-ajax>


    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'signup-personal-information',

                properties: {
                    //
                },

                _ajaxSaveLocationCallback: function(){
                    app.showToast('Saved', 'success');
                    this.$.location.validate();

                    var isAjaxParams = app.logActivity(app.constants.PROFILE_COMPLETE_LOCATION);

                    var objLocation = this.$.location.getObjLocation();
                    var address = this.$.location.getAddress();

                    app.session.setLocation(address);
                    app.session.setCountry(objLocation.country_short);

                    if(isAjaxParams){
                        this.$.ajaxUserUpdate.url = app.apinode + '/activities/log.activity';
                        this.$.ajaxUserUpdate.body = JSON.stringify(isAjaxParams);
                        this.$.ajaxUserUpdate.generateRequest();
                    }
                },

                _ajaxSaveLocationError: function(){
                    app.showToast(this.$.ajaxSaveLocation.lastError.statusText);
                },

                _saveData: function (e) {

                    if (!this._isValidForm()) {
                        return;
                    }

                    var params = {position:this.$.currentPosition.value.trim()};
                    this.$.ajaxUserUpdate.url = app.apinode + '/tags/save.position';
                    this.$.ajaxUserUpdate.body = JSON.stringify(params);
                    this.$.ajaxUserUpdate.generateRequest();

                    var isAjaxParams = app.logActivity(app.constants.PROFILE_COMPLETE_POSITION);
                    if(isAjaxParams){
                        this.$.ajaxUserUpdate.url = app.apinode + '/activities/log.activity';
                        this.$.ajaxUserUpdate.body = JSON.stringify(isAjaxParams);
                        this.$.ajaxUserUpdate.generateRequest();
                    }

                    page('/skills');
                },

                ready: function () {

                    this.$.location.addEventListener('place-changed', function(e){

                        var objLocation = this.$.location.getObjLocation();
                        var address = this.$.location.getAddress();

                        if(!objLocation || !objLocation.country_short || !address){
                            return;
                        }

                        var params = {location: objLocation, address:address};
                        ajaxSaveLocation.url = app.apinode + '/journalists/save.location';
                        ajaxSaveLocation.body = JSON.stringify(params);
                        ajaxSaveLocation.generateRequest();

                    }.bind(this));
                },

                _isValidForm: function () {

                    var locationValid = this.$.location.validate();
                    var currentPositionValid = this.$.currentPosition.validate();
                    return locationValid && currentPositionValid;

                }


            });
        })();

    </script>
</dom-module>
