<dom-module id="in-twitter-login">
    <template>
        <style include="shared-styles">
            :host {
            }

        </style>

        <paper-button on-tap="_tapLoginTwitterButton">Twt</paper-button>

        <iron-ajax id="ajaxTwitterLogin"
                   method="Post"
                   on-response="_twitterLoginCallback"
                   las-response="{{twitterLoginResponse}}"></iron-ajax>


    </template>

    <script type="text/javascript" src="../../../scripts/codebird-js-develop/codebird.js"></script>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'in-twitter-login',

                properties: {},

                ready: function () {
                    this.codeBird = new Codebird;
                    this.codeBird.setConsumerKey('NGPEp16WKvHTKZCv94xmvy1iw', 'h8YCl9AOL2yRDEKM10ZXwlAQBtMwjCLRnXTWy96VIqhAXxZYgk')
                },

                _tapLoginTwitterButton: function () {

                    this.$.ajaxTwitterLogin.params = {
                        oauth_callback : "http://localhost:8000",
                        oauth_consumer_key :'NGPEp16WKvHTKZCv94xmvy1iw',
                        oauth_consumer_secret: 'h8YCl9AOL2yRDEKM10ZXwlAQBtMwjCLRnXTWy96VIqhAXxZYgk'
                    };

                    this.$.ajaxTwitterLogin.url = "http://api.twitter.com/oauth/request_token";
                    this.$.ajaxTwitterLogin.generateRequest();

                },

                _twitterLoginCallback: function () {
                    console.log(this.twitterLoginResponse);
                }


            });
        })();
    </script>
</dom-module>
