<dom-module id="thread-list-item">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                @apply(--font-jouture);
            }
            .name-text {
                font-size: 14px;
                font-weight:400 !important;
                color: #666 ;
            }
            .time-text {
                position: absolute;
                right: 14px;
                top: 4px;
                font-size: 12px;
                color: #888 ;
            }
            iron-icon {
                --iron-icon-width: 15px;
            }
            .unreaded .bold{
                color: var(--accent-color);
            }
            .item-selected {
                @apply(--small-text);
                padding: 10px 10px 10px 10px;
                padding: 15px 10px 10px 15px;
                background-color: var(--light-primary-color);
                -webkit-font-smoothing: antialiased;
            }
            .corner-counter{
                background-color: var(--accent-color);
                color: white;
                height: 14px;
                width: 14px;
                border-radius: 14px;
                font-size: 12px;
                font-weight: bold;
                padding: 2px;
                visibility: hidden;
            }
            .item-counter {
                font-weight: bold  !important;
                color: var(--accent-color) !important;
            }
            .item {
                position: relative;
                @apply(--small-text);
                padding: 13px 10px 10px 13px;
                -webkit-font-smoothing: antialiased;
                border-bottom-color: var(--light-primary-color);;
                border-bottom-style: solid;
                border-bottom-width: 1px;
            }
            .item:focus {
                outline: 0;
            }
            .item:hover{
                background-color: #f1f1f1;
            }
            .item-selected:hover{
                background-color: #ddd;
            }
            .truncate {
                width:100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .pic-journalist{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid white;
            }
            .pic-journalist.online{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid white;
                -moz-box-shadow:     0 0 2px 2px var(--accent-color);
                -webkit-box-shadow:  0 0 2px 2px var(--accent-color);
                box-shadow:          0 0 2px 2px var(--accent-color);
            }
            .last-message {
                line-height: 26px;
                color: #888 !important;
            }
            .receipt {
                color: var(--accent-color);
            }
            .pending {
                color: #888 !important;
            }
            .waitingThread{
                display: none;
                z-index: 1000;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: 0;
                background: white;
                cursor: wait;
            }
            badge-notification .badge{
                bottom: 0;
            }

        </style>


        <div class="row start-xs middle-xs item item-thread-list" on-tap="_selectThread">

            <badge-notification position="message" quantity="[[item.counter]]"></badge-notification>

            <div class="col-xs-2 col-md-2">
                <img class$="{{_onlineClass(item)}}" src$="{{_computeThreadPic(item)}}">
            </div>

            <div class="col-xs-8 col-md-9">
                <div class="row">

                    <div  class="col-xs-12">
                        <div class="truncate" style="width: 150px">
                            <span class="name-text bold truncate">{{_computeMessageTitle(item)}}</span>
                        </div>
                        <span class="time-text">{{_computeMessageTime(item.last_message_timestamp)}}</span>
                    </div>

                    <div  class="col-xs-12 last-message truncate">
                        <template is="dom-if" if={{item.mine}}>
                            <iron-icon class$="{{_getStatusClass(item.last_status)}}"
                                       icon$="{{_getStatusIcon(item.last_status)}}"></iron-icon>
                        </template>
                        {{_computeMessage(item.last_user_name,item.last_message,item.user_target)}}
                    </div>
                </div>
            </div>
            <div class='corner-counter center-xs'></div>
        </div>


    </template>

    <script>

        HTMLImports.whenReady(function () {

            Polymer({
                is: 'thread-list-item',
                properties: {
                    //
                },

                attached: function () {

                    /*
                     * Escucha el evento de otro item, para cambiar el estado de selected
                     */
                    document.addEventListener('thread-selected', function(e){

                        if(e.detail.thread_id != this.item.thread_id){
                            this.selected = false;
                        }else{
                            this.selected = true;
                        }

                    }.bind(this));

                },

                _getStatusIcon: function(last_status) {
                    switch(last_status){
                        case 1:
                            return "in-icon-set:done";
                        case 2:
                            return "in-icon-set:done-all";
                        case 3:
                            return "in-icon-set:done-all";
                        default :
                            return "in-icon-set:more-horiz";
                    }
                },

                _getStatusClass: function(last_status){
                    return last_status == 3 ? "receipt" : "pending";
                },

                _computeThreadPic: function(item){
                    if(!item.user_target_pic){
                        return app.apinode + "/images/get.picture/mini/many_users.png";
                    }
                    var pictureName = item.user_target_pic[0];

                    if(item.user_target_pic.length > 1){
                        pictureName = 'many_users.png';
                    }

                    return app.apinode + "/images/get.picture/mini/" + pictureName;
                },

                _computeMessageTitle: function(item){

                    if(!item.user_target_name){
                        return "";
                    }
                    var title = item.user_target_name[0];
                    if(item.user_target_name.length > 1){
                        title = item.subject;
                    }
                    return title;
                },

                _computeMessageTime: function(timestamp){
                    return app.timeAgo( Number(new Date( timestamp )));
                },

                _computeMessage: function(sender, message, senders){
                    if(!senders){
                        return message;
                    }
                    if(senders.length === 1)
                        return message;
                    return sender+": "+message;
                },

                _selectThread: function(e){

                    this.selected = true;
                    page("/message/" + this.item.thread_id);

                    if(!this.item.mine){

                        var usId = app.session.getUser();
                        app.socket.emit('read-all', {user: usId, thread: this.item.thread_id});

                        this.set('item.counter', 0);
                    }

                    var usersLength = this.item.user_target ? this.item.user_target.length : 0;
                    var users=[];

                    for(var i = 0; i < usersLength; i++){
                        users.push({
                            user_id: this.item.user_target[i],
                            location: this.item.user_target_location[i],
                            name: this.item.user_target_name[i],
                            picture: this.item.user_target_pic[i]
                        });
                    }

                    // Add users and send event to load messages
                    this.item.users = users;
                    this.fire('thread-selected', this.item);

                    var container = document.querySelector('.threads-container');
                    var item = container.querySelector('.item-selected');
                    if (item) {
                        var classes = item.className;
                        item.className = classes.replace('item-selected', '');
                    }

                    var newItem = e.currentTarget;
                    newItem.className = newItem.className.replace('unreaded','');
                    newItem.className += ' item-selected';

                    var cornerChanged = newItem.querySelector('.corner-counter');
                    cornerChanged.textContent = '0';
                    cornerChanged.style.visibility = 'hidden';

                    document.querySelector("message-main").hiddeEmptyState();
                },

                _onlineClass: function(item){

                    if(item.user_target_pic && item.user_target_pic.length == 1 && item.online){
                        return "pic-journalist online";
                    }else{
                        return "pic-journalist offline";
                    }
                },

            });
        });

    </script>
</dom-module>
