<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../../../bower_components/paper-checkbox/paper-checkbox.html">


<dom-module id="thread-list">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                position: relative;
                display: block;
                @apply(--font-jouture);
            }
            .scroll{
                overflow-x: hidden;
                overflow-y: visible;
            }
            .scroll::-webkit-scrollbar{
                width: 5px;
                background: #DDD;
                background: -webkit-linear-gradient(left,#FFF,#FFF, #DDD, #FFF,#FFF); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* For Firefox 3.6 to 15 */
                background: linear-gradient(left,#FFF,#FFF, #DDD , #FFF,#FFF); /* Standard syntax */
            }

            .scroll::-webkit-scrollbar-thumb{
                border-radius: 5px;
                background: #DDD;
                background: -webkit-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* For Firefox 3.6 to 15 */
                background: linear-gradient(left,#D9D9D9,#D9D9D9,#DDD,#D9D9D9,#D9D9D9); /* Standard syntax */
            }
            .scroll:hover::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: var(--accent-color);
            }
            .bottom-background{
                z-index: -1;
                position: absolute;
                margin-left: 5px;
                top: 0;
                bottom: 0;
                width: calc(100% - 10px);
            }
            .threads-container {
                /*este padding 10 right previene que el scroll se superponga con la caja del item*/
                padding-right: 10px;
                padding-top: 20px;
            }
            .waitingThread{
                display: none;
                z-index: 1000;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: 0;
                background: white;
                cursor: wait;
            }
            iron-list {
                overflow-x: hidden !important;
            }
            
        </style>

        <div id="div-scroll" class="scroll threads-container">

            <div class="waitingThread"></div>

            <iron-list id="threadsRepeat" items="[[listThreads]]" as="item">
                <template>

                    <thread-list-item item="{{item}}" index="{{index}}">
                    </thread-list-item>

                </template>
            </iron-list>

            <div class="bottom-background"></div>

        </div>
    </template>

    <script>

        HTMLImports.whenReady(function () {

            Polymer({
                is: 'thread-list',
                properties: {
                    listThreads: {
                        type:Array,
                        observer:"_threadListChanged"
                    },
                    flag: {
                        type: Boolean,
                        notify: true
                    }
                },

                attached: function () {

                    var divScroll = document.querySelector('#div-scroll');
                    var containerHeight = app.getMainContainerHeight();
                    var internalPadding = 20;

                    divScroll.style.height = containerHeight - internalPadding + 'px';

                    window.addEventListener('resize', function (e) {
                        var containerHeight = app.getMainContainerHeight();
                        divScroll.style.height = containerHeight - internalPadding + 'px';
                    }.bind(this));
                },

                waitThread: function(){
                    document.querySelector('.waitingThread').style.display = "block";
                },

                activeThread: function(){
                    setTimeout(function(){
                        document.querySelector('.waitingThread').style.display = "none";
                    }.bind(this),300);
                },

                /*
                 * new items loaded, resize the iron list
                 */
                _threadListChanged: function(){
                    if(!this.listThreads || this.listThreads.length < 1) return;

                    this.$.threadsRepeat.fire('iron-resize');
                }
            });
        });

    </script>
</dom-module>
