
<link rel="import" href="../../../styles/landing-styles.html">
<dom-module id="signup-mail-confirmation">
    <template>
        <style is="custom-styles" include="landing-styles">
            :host {
                display: block;
            }
            .guide-title {
                @apply(--big-text);
                color: var(--accent-color);
                text-transform: capitalize;
                margin-bottom: 80px;
            }
            .secondary-text-container {
                margin-bottom: 60px;
            }
            .content-text {
                @apply(--big-text);
            }
            paper-button {
                @apply(--medium-text);
                text-transform: capitalize;
                height: 26px;
                padding-top: 2px;
            }
            .button-secondary {

            }
            .button-primary {
                color: var(--accent-color);
            }
            .buttons-container {
                margin-top:30px;
                margin-bottom: 60px;
            }


            @media all and (max-width: 48em) {
                .content-text{
                    @apply(--medium-text);
                }
                .guide-title {
                    margin-bottom: 40px;
                }
                .button-primary {
                    @apply(--small-text);
                }
                .button-secondary {
                    @apply(--small-text);
                }
            }


        </style>

        <div class="row">
            <div class="col-xs-12 nav-buttons-container">

                <paper-icon-button
                        class="active" disabled></paper-icon-button>

                <paper-icon-button
                        class="disabled" disabled></paper-icon-button>

                <paper-icon-button
                        class="disabled" disabled></paper-icon-button>

            </div>

        </div>

        <div class="row center-xs">
            <div class="col-xs-12 guide-title">
                <span>Check your <br/> email</span>
            </div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 top-text-container">
                <!-- <span class="content-text ">Click the link in the email we sent to resume the account creation.</span> -->
                <span class="content-text ">We sent you an email with an activation link.</span>
            </div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 secondary-text-container">
                <!-- <span class="content-text ">Confirming your email helps us to verify your account.</span> -->
                <span class="content-text ">Please check your inbox and spam folder.</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <gold-email-input id="inputEmail"
                    auto-validate required disabled
                    error-message="Invalid email"
                    value="[[params.email]]">
                </gold-email-input>
            </div>
        </div>

        <div class="row buttons-container">
            <div class="col-xs-6" id="resendEmailButtons">
                <paper-button on-tap="_resendMail"  class="button-primary">Resend Email</paper-button>
            </div>
            <div class="col-xs-6" id="changeEmailButton">
                <paper-button  on-tap="_changeMail" class="button-secondary">Change Email</paper-button>
            </div>

            <div class="col-xs-6" id="saveEmailButton" hidden>
                <paper-button on-tap="_saveMail"  class="button-primary">Save</paper-button>
            </div>
            <div class="col-xs-6" id="cancelChangeEmailButton" hidden>
                <paper-button  on-tap="_changeMailCancel" class="button-secondary">Cancel</paper-button>
            </div>
        </div>


        <iron-ajax id="emailAjax"
                   method="GET"
                   handle-as="json"
                   last-response = {{emailAjaxResponse}}
                   last-error="{{emailAjaxError}}"
                   on-error="_onAjaxEmailError"
                   on-response = "_emailAjaxResponseHandler"></iron-ajax>

        <iron-ajax id="resendEmailAjax"
                   method="PUT"
                   handle-as="json"
                   last-response = {{resendEmailAjaxResponse}}
                   last-error="{{resendEmailAjaxError}}"
                   on-error="_onAjaxResendEmailError"
                   on-response = "_resendEmailAjaxResponseHandler"></iron-ajax>

    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'signup-mail-confirmation',

                properties: {
                    params:{
                        type:Object
                    },

                },

                _changeMail: function () {

                    //Enable input
                    this.$.inputEmail.value = "";
                    this.$.inputEmail.removeAttribute('disabled');
                    this.$.inputEmail.querySelector('#input').focus();

                    //Show save and cancel button
                    this.$.saveEmailButton.removeAttribute('hidden');
                    this.$.cancelChangeEmailButton.removeAttribute('hidden');
                    //Hide resend and change button
                    this.$.resendEmailButtons.setAttribute('hidden', true);
                    this.$.changeEmailButton.setAttribute('hidden', true);
                },

                _changeMailCancel: function () {

                    //Disable input
                    this.$.inputEmail.value = this.params.email;
                    this.$.inputEmail.setAttribute('disabled', true);
                    //Show change and resend buttons
                    this.$.changeEmailButton.removeAttribute('hidden');
                    this.$.resendEmailButtons.removeAttribute('hidden');
                    //Hide Save and Cancel buttons
                    this.$.saveEmailButton.setAttribute('hidden', true);
                    this.$.cancelChangeEmailButton.setAttribute('hidden', true);
                },

                _resendMail: function () {

                    this.$.emailAjax.url = app.apinode + "/users/email.verification/resend/" + this.$.inputEmail.value ;
                    this.$.emailAjax.generateRequest();
                },

                _saveMail: function () {

                    if(!this.$.inputEmail.validate()) return;

                    this.emailParams = {
                        email: this.$.inputEmail.value
                    };

                    this.$.resendEmailAjax.url = app.apinode + "/users/email.change/" + this.params.c + "/" + this.params.email;
                    this.$.resendEmailAjax.body = JSON.stringify(this.emailParams);
                    dialogSpinner.open();
                    this.$.resendEmailAjax.generateRequest();
                },

                _onAjaxEmailError: function () {
                    app.showToast(this.emailAjaxError.response.message);
                },

                _emailAjaxResponseHandler: function () {
                    dialogSpinner.close();

                    this.$.inputEmail.setAttribute('disabled', true);

                    //Show resend and change buttons
                    this.$.resendEmailButtons.removeAttribute('hidden');
                    this.$.changeEmailButton.removeAttribute('hidden');
                    //Hode save and cancel buttons
                    this.$.saveEmailButton.setAttribute('hidden', true);
                    this.$.cancelChangeEmailButton.setAttribute('hidden', true);

                    app.showToast('Done');

                },

                _onAjaxResendEmailError: function () {
                    app.showToast(this.resendEmailAjaxError.response.message);
                },

                _resendEmailAjaxResponseHandler: function () {
                    dialogSpinner.close();

                    this.$.inputEmail.setAttribute('disabled', true);

                    //Show resend and change buttons
                    this.$.resendEmailButtons.removeAttribute('hidden');
                    this.$.changeEmailButton.removeAttribute('hidden');
                    //Hode save and cancel buttons
                    this.$.saveEmailButton.setAttribute('hidden', true);
                    this.$.cancelChangeEmailButton.setAttribute('hidden', true);

                    app.showToast('Done');

                }

            });
        })();
    </script>
</dom-module>
