
<dom-module id="pricing-page">
    <template>
        <style is="custom-styles" include="landing-styles">

            :host {
            @apply(--font-jouture);
            }
            .main-title {
            @apply(--huge-text-highlighted);
                margin-bottom: 20px;
            }
            .price-text {
            @apply(--big-text-highlighted);
                margin-top: 60px;
            }
            .slider {
                margin-top: 10px;
            }
            p {
            @apply(--medium-text);
            }
            p.strong {
                font-weight: 500 !important;
            }
            .orange{
                color: var(--accent-color);
            }
            .detail{
            @apply(--small-text);
            }
            img{
                width: 70px;
                height: 70px;
                margin-top: 50px;
                margin-bottom: 30px;
            }
            .start-button {
            @apply(--action-button);
                text-transform: none;
                width:325px;
                border-radius: 25px;
                margin-bottom: 140px;
                margin-top: 60px;
            }

        </style>


        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <!-- <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"> -->

                <div class="row center-xs">
                    <div class="col-xs-12 main-title">Name your price Kulectively</div>

                    <p>
                        We're using a Pay-as-you-want model. Set the price that makes sense to you. Every dollar paid will benefit every aspect of the platform.
                    </p>

                    <p class="orange">
                        You will get a 60-day trial with all the working services. After your trial period is over, we'll ask that you contribute a minimum of $3/month.
                    </p>

                    <p>
                        What do you get in return?
                    </p>

                </div>

                <!--
                            <div class="row center-xs">
                                <div class="col-xs-12 price-text">
                                    <span>$ {{currentPayment}}.00</span> <span> / per month</span>
                                </div>
                            </div>


                            <div class="row center-xs">
                                <div class="col-xs-10 slider">
                                     <paper-slider id="paymentSlider" min="1" max="100" snaps style="width:100%"></paper-slider>
                                </div>
                            </div>
                -->
            </div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 col-md-9 col-lg-6">
                <div class="row center-xs">
                    <div class="col-xs-12 col-sm-4 detail">
                        <img src="/images/personalized-services.svg" alt="Personalized Services">
                        <div>
                            Personalized services
                            <br/><br/>
                            Geo-targeted gigs,<br/>grants, and events
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 detail">
                        <img src="/images/collaboration-tools.svg" alt="Collaboration Tools">
                        <div>
                            Collaboration tools
                            <br/><br/>
                            Learn from other journalists<br/>and work on projects
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 detail">
                        <img src="/images/industry-access.svg" alt="Industry Access">
                        <div>
                            Industry access
                            <br/><br/>
                            Expand your network to grow<br/>and gain ground
                        </div>
                    </div>
                </div>
            </div>

<div class="col-xs-12">


            <div class="row center-xs" style="margin-top:50px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                    <p class="orange strong">
                        For a limited time, we're providing a lifetime membership access to the platform!
                    </p>
                    <p class="orange">
                        In return, we ask you to provide us with feedback and recommendations on improving the platform.
                    </p>
                </div>
            </div>

            <div class="col-xs-12">
                <a href="/signup">
                    <paper-button class="start-button">Access your lifetime membership now</paper-button>
                </a>
            </div>
        </div>
</div>

    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'pricing-page',

                properties: {
                    currentPayment: {
                        type: String,
                        value: "1"
                    }
                },
                ready: function(){
                    /*
                     this.$.paymentSlider.addEventListener('immediate-value-change', function(e){
                     this.currentPayment = e.target.immediateValue;
                     }.bind(this));
                     */
                }

            });

        })();
    </script>
</dom-module>
