<dom-module id="in-follow-button">

    <style>

    .follow-button{
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    }
    .following-label {
        font-size:12px;
        font-weight:200;
        color: var(--accent-color);
    }
    .hideme {
        color: var(--black-light-color);
        /*opacity:0 !important;*/
    }
    .icon-container {
        margin-bottom: 5px;
    }

    </style>

    <template>

        <iron-ajax id="ajaxFollow"
                   method="POST"
                   with-credentials
                   on-response="_ajaxFollowCallback"></iron-ajax>


        <div class="row center-xs">
            <div class="col-xs-12 icon-container">
                <paper-icon-button
                    id="btnFollowing"
                    class="follow-button"
                    on-tap="_onFollowTap"></paper-icon-button>
            </div>

            <div class="col-xs-12" style="margin-top: -9px">
                <span class="following-label" id="labelFollowing">Following</span>
            </div>

        </div>

    </template>



<script>

// (function () {
//     'use strict';

    Polymer({
        is: 'in-follow-button',
        properties: {
//            isFollowing: {type:Boolean, value:true, observer:"_statusChanged", notify:true},
//            userId: {type:Number, observer:"_userChanged"},
            user:{type: Object},
            bigSize: {type: Boolean, value: false, notify: true}
        },

        observers:[
           '_onStatusChange(user.isFollowing)',
           '_onUserChanged(user.user_id)'
        ],

        attached: function(){

            /* detecta cambios de estado en otros elementos in-follow-button */
            document.addEventListener('following', function(e){
                if(!this.user)return;
                if(e.currentTarget != this && e.detail == this.user.user_id[0]){
                    this.setFollowing();
                }
            }.bind(this));

            document.addEventListener('unfollowing', function(e){
                if(!this.user)return;
                if(e.currentTarget != this && e.detail == this.user.user_id){
                    this.setUnfollowing();
                }
            }.bind(this));

        },

        setFollowing: function(){
            this.set('user.isFollowing', true);
        },

        setUnfollowing: function(){
            this.set('user.isFollowing', false);
        },

        _onStatusChange: function () {
            this._setCurrentStyle();
        },

        _onUserChanged: function(){

            this._setCurrentStyle();

            if (this.user.user_id instanceof Array) {
                this.user.user_id = parseInt(this.user.user_id[0]);
            }else{
                this.user.user_id = parseInt(this.user.user_id);
            }
        },

        _setCurrentStyle: function(){

            if(this.bigSize){
                this.$.btnFollowing.style.height = '44px';
                this.$.btnFollowing.style.width = '44px';
            }

            if(this.user.isFollowing){
                this.$.btnFollowing.src = "/images/icons/follow_active.svg";
                this.$.labelFollowing.className = this.$.labelFollowing.className.replace(/hideme/g, "")
                this.$.labelFollowing.innerHTML = 'Following';

            }else{
                this.$.btnFollowing.src = "/images/icons/follow.svg";
                this.$.labelFollowing.className += " hideme";
                this.$.labelFollowing.innerHTML = 'Follow';
            }
        },

        _onFollowTap: function(e){

            this._stopEvent(e);
            //disable current target button
            this.$.btnFollowing.disabled = true;
            //set new status value
            this.set('user.isFollowing', !this.user.isFollowing);
            //update database
            if(!this.user.isFollowing){
                this.$.ajaxFollow.url = app.apinode + '/journalists/unfollow';
            }else{
                this.$.ajaxFollow.url = app.apinode + '/journalists/follow';
            }

            this.$.ajaxFollow.body = JSON.stringify( {'user_id':this.user.user_id} );
            this.$.ajaxFollow.generateRequest();
        },

        _ajaxFollowCallback: function(e){

            //Enable button
            this.$.btnFollowing.disabled = false;

            //Log activity
            var userData = {};
            userData.users_id = this.user.user_id;
            userData.users_name = this.user.name;
            userData.users_pic = this.user.picture;


            if(e.detail.response == 'Following'){
                app.logActivity(app.constants.USER_FOLLOW, this.user.user_id, '', userData);
                this.fire('following', this.user.user_id);
            }else{
                app.logActivity(app.constants.USER_UNFOLLOW, this.user.user_id, '', userData);
                this.fire('unfollowing', this.user.user_id);
            }
        },

        _stopEvent: function(e){
            e.stopPropagation();
            e.preventDefault();
            if (e.gesture) e.gesture.stopPropagation();
            if (e.gesture) e.gesture.preventDefault();
        }

    });

// })();
</script>

</dom-module>
