<dom-module id="landing-styles">
  <template>
    <style>


      .landing-buttons {
      @apply(--action-button);
        width: 164px !important;
        text-transform: capitalize !important;
        margin-top: 40px;
      }

      .disabled-button{
        width: 164px !important;
        text-transform: capitalize !important;
        margin-top: 40px;
      --action-button:{
         background-color: var(--paper-blue-grey-500);
       }

      }


      gold-email-input,
      paper-input{
        --paper-input-container-focus-color: var(--accent-color);
        --paper-input-container-color: var(--paper-grey-300);
        text-align: left;
        text-transform: capitalize;
      --paper-input-container-label:{
         color: var(--secondary-text-color);
       }
      }

      gold-email-input{
        text-align: left;
      --paper-input-container-underline-disabled:{
         border-bottom: solid 1px;
         background: var(--paper-grey-300) ;
       }
      }

      paper-slider{
        --paper-slider-knob-color: var(--accent-color);
        --paper-slider-active-color: var(--accent-color);
        --paper-slider-knob-start-color: var(--accent-color);
        --paper-marker-color: #eee;
      }

      .item {
        /*opacity:0.6;*/
        background-color: black;
        background-repeat: no-repeat;
        z-index: -2;
        padding: 20px 25px 20px 20px;
        min-height: 100px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: -16px;
        border: solid 1px #EEEEEE;
        -webkit-font-smoothing: antialiased;
        /*color: #FFF;*/
      }


      .nav-buttons-container{
        margin-bottom: 20px;
      }

      paper-icon-button{
        /*opacity: 0.75;*/
        border-radius: 50%;

      }
      paper-icon-button.disabled{
        background-color: var(--paper-grey-300);
        width: 18px;
        height: 18px;
        margin-right: 30px;
        margin-left: 30px;
      }

      paper-icon-button.active{
        background-color: var(--accent-color);
        width: 18px;
        height: 18px;
        margin-right: 30px;
        margin-left: 30px;
      }

      .guide-text-container{
        margin-bottom: 80px;
      }

      .guide-title{
      @apply(--big-text);
      }

      .footer-text{
      @apply(--small-text);
      }

      .layer-hover {
      position: absolute;
      width: 105%;
      background: rgba(0,0,0,0.6);
      height: 100px;
      top: 0;
      left: 0;
      margin-top: 0;
        z-index: 0;
      }




    </style>
  </template>
</dom-module>
