.sender-image{
    width: 47px;
    height: 47px;
    margin: 0px 10px 5px 7px;
    border-radius:50%
}

.textMessageContainer{
    padding: 0px 18px 9px;
    color: #000000;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}
.recipient-name-container{
    text-align: left;
    margin-left:20px;
    width:170px;
    padding-bottom: 5px;
}