<link rel="import" href="../../../styles/landing-styles.html">
<!--<link rel="import" href="../../../../bower_components/iron-image/iron-image.html">-->

<dom-module id="forgot-password-page">
    <template>
        <style is="custom-styles" include="landing-styles">
            :host {
                display: block;
            }

            .secondary-text-container,
            .content-text-container{
                margin-bottom: 60px;
            }

            .guide-title{
                @apply(--big-text);
                color: var(--accent-color);
                text-transform: capitalize;
            }

            .content-text{
                @apply(--big-text);
                text-align: left;
            }

            .cancel-button{
                width: 164px !important;
                text-transform: capitalize !important;
                color: var(--paper-blue-grey-900);
                --action-button:{
                    background-color: var(--paper-blue-grey-500);
                }
            }

        </style>
        <div class="row">

            <div class="col-xs-12 guide-text-container">
                <span class="guide-title ">Password Recovery</span>
            </div>

        </div>

        <div class="row">

            <div id="noSent" class="col-xs-12 secondary-text-container">
                <span class="content-text ">Please enter the email address that you used when <br/>
                    creating your account.</span>
            </div>

            <div id="sent" hidden class="col-xs-12 secondary-text-container">
                <span class="content-text ">Email Sent, <br/> please check your inbox.</span>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <paper-input required
                             error-message="Invalid email"
                             id="email"
                             label="email"></paper-input>

            </div>

        </div>

        <div class="row center-xs " style="margin-top: 10px">
            <div class="col-xs">
                <re-captcha id="captcha"
                            sitekey="6LcWNBUUAAAAAN97rB17NtNSy57YyqS2xLT7a3T1"></re-captcha>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 get-started-container">

                <paper-button id="buttonRecover"
                              disabled
                              on-tap="_sendRequest"
                              class="disabled-button"
                              raised>Recover</paper-button>

            </div>
        </div>

        <div class="row center-xs" style="margin-top:10px;">
            <div class="col-xs-2">
                <paper-spinner class="login-spinner"  id="spinner"></paper-spinner>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 get-started-container">
                <paper-button id="buttonCancel" on-tap="_cancel" class="cancel-button">CANCEL</paper-button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 get-started-container">
                <paper-button id="buttonHome" on-tap="_goHome" hidden class="cancel-button">HOME</paper-button>
            </div>
        </div>


        <iron-ajax id="ajaxChangePass"
                   method="POST"
                   with-credentials
                   handle-as="json"
                   on-error="_ajaxChangePassErrorCallback"
                   last-response = {{changePasswordResponse}}
                   on-response = "_ajaxChangePassCallback"></iron-ajax>




    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'forgot-password-page',
                properties: {

                    isHuman:{
                        type: Boolean,
                        value: false
                    },
                    isValidForm: {
                        type: Boolean,
                        value: false
                    }
                },

                listeners:{
                    'captcha.captcha-response':'_onCaptchaResponse',
                    'captcha.captcha-expired':'_onCaptchaExpired'
                },

                _onCaptchaExpired: function () {
                    this.isHuman = false;
                    this._toggleButton();
                },

                _onCaptchaResponse: function (e) {
                    this.isHuman = true;
                    this._toggleButton();
                },

                _sendRequest: function () {

                    if(!this._validateForm()){
                        return;
                    }

                    this.$.spinner.active = true;
                    var objParams = {
                        email: this.$.email.value
                    };
                    this.$.ajaxChangePass.url =  app.apinode + "/login/request.password.recovery";
                    this.$.ajaxChangePass.body = JSON.stringify(objParams);
                    this.$.ajaxChangePass.generateRequest();
                },
                _ajaxChangePassCallback: function () {

                    this.$.spinner.active = false;

                    //HIDE
                    this.$.buttonCancel.setAttribute('hidden', true);
                    this.$.buttonRecover.setAttribute('hidden', true);
                    this.$.noSent.setAttribute('hidden', true);
                    this.$.email.setAttribute('hidden', true);
                    this.$.captcha.setAttribute('hidden', true);
                    //SHOW
                    this.$.sent.removeAttribute('hidden');
                    this.$.buttonHome.removeAttribute('hidden');
                    this._resetElement();

                },

                _ajaxChangePassErrorCallback: function (error) {

                    this.$.spinner.active = false;
                    if (this.$.ajaxChangePass.lastError.status === app.STATUS_RESPONSE.FORBIDDEN) {
                        this.$.email.errorMessage = "Sorry, Unregistered email";
                        this.$.email.invalid = true;
                    }else{
                        app.showToast('Something was wrong, please try again later');
                    }
                },

                _cancel: function(){
                    this._resetElement();
                    page('/login');
                },
                _goHome: function(){
                    page('/');

                    //HIDE
                    this.$.sent.setAttribute('hidden', true);
                    this.$.buttonHome.setAttribute('hidden', true);
                    //SHOW
                    this.$.noSent.removeAttribute('hidden');
                    this.$.buttonCancel.removeAttribute('hidden');
                    this.$.buttonRecover.removeAttribute('hidden');
                    this.$.email.removeAttribute('hidden');
                    this.$.captcha.removeAttribute('hidden');
                    this._resetElement();

                },

                _validateForm: function () {
                    this.$.email.invalid = false;
                    this.$.email.errorMessage = "This field is required";
                    if (!this.$.email.validate()) {
                        return false;
                    }
                    this.$.email.errorMessage = "Please, enter a valid mail";

                    var isValidMail =
                        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.$.email.value);
                    this.$.email.invalid = !isValidMail;
                    return isValidMail;

                },
                _resetElement: function () {
                    this.$.email.invalid = false;
                    this.$.email.value = '';
                    this.isHuman = false;
                    this._toggleButton();

                },

                _enableButton: function () {
                    this.$.buttonRecover.className =
                        this.$.buttonRecover.className.replace('disabled-button','landing-buttons');

                    this.$.buttonRecover.removeAttribute('disabled');
                },

                _disableButton: function () {
                    this.$.buttonRecover.className =
                        this.$.buttonRecover.className.replace('landing-buttons','disabled-button');

                    this.$.buttonRecover.setAttribute('disabled', true);
                },

                _toggleButton: function () {

                    if(this.isHuman){
                        this._enableButton();
                    }else{
                        if(!this.$.buttonRecover.disabled){
                            this._disableButton();
                        }

                    }
                },



            });
        })();
    </script>
</dom-module>
