<link rel="import" href="../../../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="in-session">
    <template>

        <iron-localstorage
                id="session_data"
                name="session_data"
                value="{{data}}"></iron-localstorage>

        <iron-localstorage
                value="{{creationTime}}"></iron-localstorage>

    </template>
    <script>

        (function() {
            'use strict';

            Polymer({
                is: 'in-session',
                properties: {
                    data: {
                        type: Object,
                        notify: true,
                        readonly: true
                    },
                    creationTime: {
                        type: Number,
                        notify: true
                    },
                    expirationDays:{
                        value: 365
                    },
                    readStatusMessages:{
                        type: Object
                    }
                },
                attached: function(){
                    //Si el browser no soporta Storage, enviar evento que nunca se envía
                    if(typeof Storage === undefined){
                        this.fire('iron-localstorage-load');
                    }
                },

                create: function(userData){

                    var creationTime = new Date().getTime();

                    if(typeof Storage !== undefined){
                        // localStorage is suported by the browser
                        this.set('data', userData);
                        this.set('creationTime', creationTime);
                    }else{
                        // run if not suported
                        this._setCookie('user',      userData.user, this.expirationDays);
                        this._setCookie('picture',   userData.picture, this.expirationDays);
                        this._setCookie('name',      userData.name, this.expirationDays);
                        this._setCookie('location',  userData.location, this.expirationDays);
                        this._setCookie('country_short',  userData.country_short, this.expirationDays);
                        this._setCookie('adm_1_short',  userData.adm_1_short, this.expirationDays);
                        this._setCookie('lat',       userData.lat, this.expirationDays);
                        this._setCookie('lng',       userData.lng, this.expirationDays);
                        this._setCookie('creationTime', creationTime, this.expirationDays);
                        this._setCookie('readProfileInfo', userData.readProfileInfo, this.expirationDays);
                        this._setCookie('hasOffers', userData.hasOffers, this.expirationDays);
                        this._setCookie('hasRequests', userData.hasRequests, this.expirationDays);
                        this._setCookie('readCommunityInfo', userData.readCommunityInfo, this.expirationDays);
                        this._setCookie('dateSignup', parseInt(userData.dateSignup), this.expirationDays);
                    }
                },

                delete: function() {

                    localStorage.clear();

                    if(typeof Storage !== undefined){
                        this.set('data', null);
                        this.set('creationTime', null);
                    }else{
                        this._setCookie('user',      '', -1000);
                        this._setCookie('picture',   '', -1000);
                        this._setCookie('name',      '', -1000);
                        this._setCookie('location',  '', -1000);
                        this._setCookie('country_short',  '', -1000);
                        this._setCookie('adm_1_short',    '', -1000);
                        this._setCookie('lat',       '', -1000);
                        this._setCookie('lng',       '', -1000);
                        this._setCookie('creationTime',      '', -1000);
                        this._setCookie('readProfileInfo',   '', -1000);
                        this._setCookie('readCommunityInfo', '', -1000);
                        this._setCookie('dateSignup',        '', -1000);
                        this._setCookie('hasOffersRequest',  '', -1000);
                    }
                    this._setCookie('PHPSESSID',     '', -1000);
                    this._setCookie('PHPSESSID.sig', '', -1000);
                    this._setCookie('KOASESSID',     '', -1000);
                    this._setCookie('KOASESSID.sig', '', -1000);
                },

                _validateExpiration: function(){

                    if(!this.creationTime) return;

                    var sessionTime = new Date().getTime() - this.creationTime;
                    if(sessionTime/1000 > 86400){ // 24 horas
                        app.logout();
                        throw 'Session expired';
                    }

                    //Renew the expiration time
                    var creationTime = new Date().getTime();
                    if(typeof Storage !== undefined){
                        this.set('creationTime', creationTime);
                    }else{
                        this._setCookie('creationTime', creationTime, this.expirationDays);
                    }
                },

                getUser: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data ? this.data.user : null;
                    }else{
                        return this._getCookie("user");
                    }
                },

                getPicture: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data.picture;
                    }else{
                        return this._getCookie('picture');
                    }
                },

                setPicture: function(value){
                    this._validateExpiration();

                    if(typeof Storage !== undefined){
                        this.set('data.picture', value);
                    }else{
                        this._setCookie('picture', value, this.expirationDays);
                    }
                },

                getName: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data.name;
                    }else{
                        return this._getCookie('name');
                    }
                },

                getCountry: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data.country_short;
                    }else{
                        return this._getCookie('country_short');
                    }
                },

                setCountry: function(value){
                    this._validateExpiration();

                    if(typeof Storage !== undefined){
                        this.set('data.country_short', value);
                    }else{
                        this._setCookie('country_short', value, this.expirationDays);
                    }
                },

                getLocation: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data.location;
                    }else{
                        return this._getCookie('location');
                    }
                },

                setLocation: function(value){
                    this._validateExpiration();

                    if(typeof Storage !== undefined){
                        this.set('data.location', value);
                    }else{
                        this._setCookie('location', value, this.expirationDays);
                    }
                },

                getReadCommunityInfo: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data.readCommunityInfo;
                    }else{
                        return this._getCookie('readCommunityInfo');
                    }
                },
                setReadProfileInfo: function(value){
                    this._validateExpiration();

                    var creationTime = new Date().getTime();

                    if(typeof Storage !== undefined){
                        // localStorage is suported by the browser
                        this.set('data.readProfileInfo', value);
                    }else{
                        // run if not suported
                        this._setCookie('readProfileInfo', value, this.expirationDays);
                    }
                },
                setReadCommunityInfo: function(value){
                    this._validateExpiration();

                    if(typeof Storage !== undefined){
                        // localStorage is suported by the browser
                        this.set('data.readCommunityInfo', value);
                    }else{
                        // run if not suported
                        this._setCookie('readCommunityInfo', value, this.expirationDays);
                    }
                },
                getReadProfileInfo: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data.readProfileInfo;
                    }else{
                        return this._getCookie('readProfileInfo');
                    }
                },

                getDateSignup: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data ? this.data.dateSignup : null;
                    }else{
                        return this._getCookie("dateSignup");
                    }
                },

                hasOffersRequests: function () {
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data.hasOffers && this.data.hasRequests;
                    }else{
                        return this._getCookie("hasOffers") && this._getCookie("hasRequests");
                    }
                },

                hasLocation: function () {

                    if (this.getLocation()) {
                        return true;
                    }
                    return false;
                },

                hasPicture: function () {
                    var picture = this.getPicture();
                    if (picture && picture.toLowerCase().indexOf('default') < 0) {
                        return true
                    }
                    return false;
                },

                setHasOffers: function(value){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        this.set('data.hasOffers', value);
                    }else{
                        this._setCookie('hasOffers', value, this.expirationDays);
                    }
                },

                setHasRequests: function(value){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        this.set('data.hasRequests', value);
                    }else{
                        this._setCookie('hasRequests', value, this.expirationDays);
                    }
                },

                _setCookie: function(name, value, exdays) {
                    var d = new Date();
                    d.setTime(d.getTime() + (exdays*24*60*60*1000));
                    var expires = "expires="+ d.toUTCString();
                    document.cookie = name + "=" + value + "; " + expires;
                },

                _getCookie: function(name) {
                    function escape(s) { return s.replace(/([.*+?\^${}()|\[\]\/\\])/g, '\\$1'); };
                    var match = document.cookie.match(RegExp('(?:^|;\\s*)' + escape(name) + '=([^;]*)'));
                    return match ? match[1] : null;
                },

                isAdmin: function(){
                    this._validateExpiration();
                    if(typeof Storage !== undefined){
                        return this.data.adm_1_short;
                    }else{
                        return this._getCookie('adm_1_short');
                    }
                },
            });
        })();
    </script>

</dom-module>
