<link rel="import" href="../dashboard-task/dashboard-task.html">

<dom-module id="dashboard-community">
    <template>

        <style include="shared-styles">

            .fab-center{
                position: absolute;
                left: calc(50% - 28px);
                bottom: -30px;
            }
            .card{
                margin-bottom: 30px;
            @apply(--small-text);
                width: calc(100% - 20px);
                margin-left: 20px;
                margin-right: 20px;
                padding-left: 20px;
                padding-right: 20px;
            }
            .complete-profile{
                margin-top: 60px;
                margin-bottom: 30px;
                font-weight:500!important;
            }
            .progress{
                width: 100%;
                --paper-progress-active-color: var(--accent-color);
                margin-top: 10px;
                --paper-progress-height: 2px;
            }
            .progress-bold{
                width: 100%;
                --paper-progress-active-color: var(--accent-color);
                margin-top: 10px;
                margin-bottom: 10px;
                --paper-progress-height: 2px;
            }
            .level-container {
                position: relative;
                margin-bottom: 10px;
                color: var(--accent-color);
                /*padding: 0;*/
                padding-left: 0;
            }
            .level{
                position: absolute;
                height: 10px;
                width: 4px;
                background-color: var(--accent-color);
                right: -2px;
                border-radius: 2px;
                top: -6px;
            }
            .line-level{
                position: absolute;
                width: 0;
            }
            .orange{
                color: var(--accent-color);
            }
            .textTab {
            @apply(--small-text);
                color: var(--primary-text-color);
            }
            paper-tabs{
                --paper-tabs-selection-bar-color: var(--accent-color);
            }
            paper-tabs paper-tab{
                --paper-tab-ink: white;
            }

            .help-button{
                z-index: 99999;
                position: fixed;
                left: 16px;
                bottom: 16px;
                color: #000;
                background: #FFF;
                border: 1px solid #B6B6B6
            }

            .hidde{
                display: none;
            }

            .empty-tasks{
                margin: 30px 0 30px 0;
                width: 100%;
                text-align: center;
            @apply(--small-text);
                color: var(--primary-text-color);
            }

            .level-progress-title-container {
                padding: 16px;
            }
            .level-progress-container{
                padding: 16px 16px 30px 16px;
                position: relative;
            }
            .title-card-container{
                font-size: 16px;
                padding-bottom: 14px;
                font-weight: 300;
            }
            .points-card-title-container{
                margin-bottom: 5px;
            }
            .tasks-card-title-container{
                padding: 16px;
            }
            .total-points-earned-container{
                margin-top: -16px;
            }
            .hide-total-points-mobile{
                display: inline-block;
            }


            @media only screen and (min-width: 750px) {
                .tab-community span{
                    display: block;
                }

                .tab-community iron-icon{
                    display: none;
                }

                .level-container{
                    display: block;
                }

            }

            @media only screen and (max-width: 48em) {

                .card{
                    margin-right: 6px;
                    margin-left: 0px;
                    width: calc(100% - 5px);
                    left: 0;
                }

                .fist-card{
                    margin-top: 40px !important;

                }

                .tab-community span{
                    display: none;
                }

                .tab-community iron-icon{
                    display: block;
                }
                .level-container{
                    display: none;
                }

                .current-level{
                    display: block;
                }

                .total-points-earned-container{
                    margin-top: -18px;
                }

                .hide-total-points-mobile{
                    display: none;
                }

            }

        </style>

        <iron-ajax
                id="ajaxSaveUser"
                method="POST"
                with-credentials
                handle-as="json"></iron-ajax>


        <!--"help-outline"-->
        <paper-fab mini
                   id="helpButton"
                   class="help-button"
                   src="../../../../images/icons/query.svg"
                   on-tap="_onHelpTap"></paper-fab>

        <iron-pages attr-for-selected="page-name" selected="{{pageSelected}}">

            <section page-name="welcome">
                <paper-card class="card fist-card" elevation="0">



                    <div class="card-content">
                        Hey {{userName}},
                        <br/>
                        <br/>
                        This is the community engagement tab. You'll get to see your interactions with other journalists.
                        <br/>
                        To make the best of Kulectiv, we've created some tasks to get the ball rolling. By completing your tasks, you'll receive badges and a stronger ranking within the community.
                        <br/>
                        <br/>
                        Click on a task in the dashboard or complete a task directly from its respective tab to receive your badges.

                        <div align="center" class="complete-profile">
                            How about we get started?
                        </div>
                    </div>

                    <div class="row center-xs">

                        <div class="col-xs-1">
                            <paper-fab on-tap="_tapYes" class="fab-center" icon="in-icon-set:navigate-next"></paper-fab>
                        </div>

                    </div>

                </paper-card>
            </section>

            <section page-name="community">

                <paper-card class="card fist-card"  elevation="0">
                    <div class="card-content row between-xs">

                        <div class="col-xs-12 title-card-container" style="padding-left: 6px">
                            <span>Your level</span>
                        </div>

                        <div class="col-xs-1 level-container disabled-text" style$="{{_computeLevelStyle(0)}}" align="center">
                            Level 0
                        </div>

                        <!-- LEVELS PROGRESS -->
                        <template is="dom-repeat" items="{{levelSummaries}}">
                            <div class="col-xs-1 level-container disabled-text" style$="{{_computeLevelStyle(item.level)}}" align="center">
                                Level {{item.level}}
                            </div>
                        </template>

                        <div class="col-xs-12" style="position: relative; margin-bottom: 14px">
                            <paper-progress id="progress" class="progress" value="{{levelProgress}}"></paper-progress>
                            <div id="line_level" class="line-level">
                                <div class="level"></div>
                            </div>
                        </div>
                    </div>
                </paper-card>

                <paper-card class="card"  elevation="0">
                    <div class="card-content">
                        <div class="title-card-container">
                            <span>Your points</span>
                        </div>

                        <span class="orange">{{tasksCompleted}}</span>
                        <br/>
                        <span class="orange">Tasks completed</span>
                        <div class="row">
                            <div class="col-xs-9">
                                <paper-progress class="progress-bold" value="{{tasksPercent}}"></paper-progress>
                            </div>
                            <div class="col-xs-3 total-points-earned-container" align="center">
                                <span class="hide-total-points-mobile">Total points earned</span>
                                <br>
                                <span class="orange">{{points}} pts.</span>
                            </div>
                        </div>
                        <span class="disable">{{taskRemaining}}</span>
                        <br/>
                        <span class="disable">remaining</span>
                    </div>
                </paper-card>

                <paper-card class="card"  elevation="0">

                    <div class="card-content">

                        <div class="title-card-container">
                            <span>Your tasks</span>
                        </div>

                        <paper-tabs attr-for-selected="page-name" selected="{{pageCommunitySelected}}">
                            <paper-tab id="all" on-tap="_tapTab" page-name="all" focused>
                                <div><span id="subAll" class="textTab">All</span></div>
                            </paper-tab>
                            <paper-tab class="tab-community" id="discussions" on-tap="_tapTab" page-name="discussions">
                                <iron-icon icon="in-icon-set:comment"></iron-icon>
                                <div><span id="subDiscussions" class="textTab">Discussions</span></div>
                            </paper-tab>
                            <paper-tab class="tab-community" id="connect" on-tap="_tapTab" page-name="connect">
                                <iron-icon icon="in-icon-set:device-hub"></iron-icon>
                                <div><span id="subConnect" class="textTab">Connect</span></div>
                            </paper-tab>
                            <paper-tab class="tab-community" id="marketplace" on-tap="_tapTab" page-name="marketplace">
                                <iron-icon icon="in-icon-set:shopping-cart"></iron-icon>
                                <div><span id="subMarketplace" class="textTab">Marketplace</span></div>
                            </paper-tab>
                            <paper-tab class="tab-community" id="resource" on-tap="_tapTab" page-name="resource">
                                <iron-icon icon="in-icon-set:work"></iron-icon>
                                <div><span id="subResource" class="textTab">Resource Index</span></div>
                            </paper-tab>
                        </paper-tabs>

                        <iron-pages attr-for-selected="page-name" selected="{{pageCommunitySelected}}">

                            <section page-name="all">
                                <div class="card-content">
                                    <template is="dom-if" if="{{!taskItems}}">
                                        <span class="empty-tasks">No tasks are available this moment</span>
                                    </template>
                                    <template is="dom-repeat" items="{{taskItems}}">
                                        <dashboard-task item="{{item}}"></dashboard-task>
                                        <br/>
                                    </template>
                                </div>
                            </section>


                            <section page-name="discussions">
                                <div class="card-content">
                                    <template is="dom-if" if="{{!existDiscussionGroup}}">
                                        <div class="empty-tasks">No tasks are available this moment</div>
                                    </template>
                                    <template is="dom-repeat" items="{{taskItems}}">
                                        <template is="dom-if" if="{{_isDiscussionGroup(item)}}">

                                            <dashboard-task item="{{item}}"></dashboard-task>
                                            <br/>
                                        </template>
                                    </template>

                                </div>
                            </section>

                            <section page-name="connect">
                                <div class="card-content">
                                    <template is="dom-if" if="{{!existConnectGroup}}">
                                        <div class="empty-tasks">No tasks are available this moment</div>
                                    </template>
                                    <template is="dom-repeat" items="{{taskItems}}">
                                        <template is="dom-if" if="{{_isConnectGroup(item)}}">
                                            <dashboard-task item="{{item}}"></dashboard-task>
                                            <br/>
                                        </template>
                                    </template>

                                </div>
                            </section>

                            <section page-name="marketplace">
                                <div class="card-content">
                                    <template is="dom-if" if="{{!existMarketplaceGroup}}">
                                        <div class="empty-tasks">No tasks are available this moment</div>
                                    </template>
                                    <template is="dom-repeat" items="{{taskItems}}">
                                        <template is="dom-if" if="{{_isMarketplaceGroup(item)}}">
                                            <dashboard-task item="{{item}}"></dashboard-task>
                                            <br/>
                                        </template>
                                    </template>

                                </div>
                            </section>

                            <section page-name="resource">
                                <div class="card-content">
                                    <template is="dom-if" if="{{!existResourceGroup}}">
                                        <div class="empty-tasks">No tasks are available this moment</div>
                                    </template>
                                    <template is="dom-repeat" items="{{taskItems}}">
                                        <template is="dom-if" if="{{_isResourceGroup(item)}}">
                                            <dashboard-task item="{{item}}"></dashboard-task>
                                            <br/>
                                        </template>
                                    </template>

                                </div>
                            </section>
                        </iron-pages>
                    </div>
                </paper-card>


                <dashboard-level class="dashboard-level"
                                 game-selected="community"
                                 current-level="{{currentLevel}}"
                                 summaries="{{levelSummaries}}"
                                 total-points="{{gameStatus.totalPoints}}"></dashboard-level>


            </section>
        </iron-pages>
    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'dashboard-community',
                properties: {
                    gameStatus: {
                        observer: "_gameStatusChanged"
                    },
                    pageSelected: {
                        type: String,
                        notify: true,
                        observer:'_changePageSelected'
                    },
                    pageCommunitySelected: {
                        type: String,
                        value: 'all'
                    },
                    currentLevel:{
                        type: Number,
                        notify: true
                    },
                    route: {
                        observer: "_routeChanged"
                    }
                },

                ready: function(){


                    this.userName = app.session.getName();

                    window.addEventListener("resize", function () {
                        this._setLineLevelPosition();
                    }.bind(this));

                },

                _setLineLevelPosition: function () {
                    if(this.$.progress.offsetWidth == 0) return;
                    var width = Math.round(this.$.progress.offsetWidth * this.levelProgress / 100);
                    this.$.line_level.style.width = width + "px";
                },

                _changePageSelected: function () {
                    setTimeout( function () {
                        this._setLineLevelPosition();

                    }.bind(this), 2)
                },
                _routeChanged: function(){
                    if(this.route == 'dashboard'){
                        this._handleWelcomeMessage();
                    }
                },
                _handleWelcomeMessage: function(){

                    if(app.session.getReadCommunityInfo() == 1){
                        this.pageSelected = "community";
                        this.$.helpButton.classList.remove("hidde");

                    }else{
                        this.pageSelected = "welcome";
                        this.$.helpButton.classList.add("hidde");
                    }
                },
                _gameStatusChanged: function(){

                    if(this.gameStatus == null){
                        app.showToast('Something went wrong, please try again');
                        return false;
                    }
                    this.points = this.gameStatus.totalPoints;

                    this.currentLevel = app.currentLevelCommunity;

                    //Filter levels that belongs to the community game
                    var communitySummaries = new Array();


                    for(var index in this.gameStatus.summaries){

                        var levelSummary = this.gameStatus.summaries[index];
                        if(levelSummary.game !== app.constants.GAME_COMMUNITY){
                            continue;
                        }

                        communitySummaries.push(levelSummary);
                    }

                    this.levelSummaries = communitySummaries;

                    //Get Current level status
                    for(var index in this.levelSummaries) {
                        var levelSummary = this.levelSummaries[index];
                        if(levelSummary.level === this.currentLevel){
                            this.taskRemaining = levelSummary.totalTasks - levelSummary.completedTasks;
                            this.tasksCompleted = levelSummary.completedTasks;
                            this.tasksPercent = (levelSummary.completedTasks / levelSummary.totalTasks) * 100;
                        }
                    }

                    this.levelProgress = (this.gameStatus.completedTasksCommunity / this.gameStatus.totalTasksCommunity) * 100;

                    //Load task items detail that belongs to the CURRENT level
                    var currentLevelItems = new Array();

                    for(var index in this.gameStatus.items) {
                        var taskItem = this.gameStatus.items[index];

                        if (taskItem.game === app.constants.GAME_COMMUNITY){

                            if(taskItem.level === this.currentLevel){
                                currentLevelItems.push(taskItem);
                            }

                        }
                    }

                    this.taskItems = currentLevelItems;
                    this._infoCallback();
                },

                _tapYes: function(){

                    this.pageSelected = "community";
                    app.session.setReadCommunityInfo(true);
                    this._setLineLevelPosition();
                    this.$.helpButton.classList.remove("hidde");

                    //Save read status in the user
                    this.$.ajaxSaveUser.url = app.apinode + '/journalists/dashboard.community.read';
                    this.$.ajaxSaveUser.generateRequest();
                },

                _infoCallback: function(){

                    this._setLineLevelPosition();

                },

                _tapTab: function(){
                    this.emtyTask = this.taskItems.length > 0;
                },

                _computeLevelStyle: function(itemLevel){
                    if(this.currentLevel == itemLevel +1 || itemLevel == 0){
                        return 'color: '+ app.constants.ACCENT_COLOR +' !important';
                    }
                    return '';
                },

                _isDiscussionGroup: function(item){
                    if(!this.existDiscussionGroup){
                        this.existDiscussionGroup = item.group === 'discussion';
                    }
                    return item.group === 'discussion';
                },
                _isConnectGroup: function(item){
                    if(!this.existConnectGroup){
                        this.existConnectGroup = item.group === 'connect';
                    }
                    return item.group === 'connect';
                },
                _isMarketplaceGroup: function(item){
                    if(!this.existMarketplaceGroup){
                        this.existMarketplaceGroup = item.group === 'marketplace';
                    }
                    return item.group === 'marketplace';
                },
                _isResourceGroup: function(item){
                    if(!this.existResourceGroup){
                        this.existResourceGroup = item.group === 'resource';
                    }
                    return item.group === 'resource';
                },
                _onHelpTap: function(){
                    this.pageSelected = "welcome";
                    this.$.helpButton.classList.add("hidde");
                },

            });
        })();


    </script>
</dom-module>
